<div class="text-black fw-medium pr-4">Please select a product to proceed</div>

<div>
  <div class="row justify-content-start p-4" style="position: relative;">
    <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
  

    <ng-container *ngFor="let item of products">
      <div class="col-lg-3 col-md-6 col-sm-12 px-2" *ngIf="productList.length>0">
        <app-product-data [productId]="item" [productList]="productList"></app-product-data>
      </div>

    </ng-container>
</div>
</div>
