.pill-box {
  border: solid 1px #eee;
  margin-top: 20px;
  min-width: 200px;
}

.pill-title {
  background: #00529b;
  padding: 10px;
  color: #fff
}

.pill-title span {
  float: right;
}

.pill-criteria {
  background: #fff;
  padding: 10px 5px;
  color: #00529b;
}

.dropdown-menu {
  border: solid 1px #eee;
}

.dropdown-menu li {
  list-style-type: none;
}
