    .sub-title{    
    color: rgba(0, 0, 0, 0.25);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    border-right: 0px
    }
    .card-title{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px
    
    }
    .title{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; 
    }
    #icon{
        background-color: #E4E7EB;
        border-radius: 100px;
        border: none;
    }
    #icon i{
        color: #00529B;
    }
    .label{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .content{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .cancel{
    color: #00529B;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    }
    
    li{
        cursor:pointer
    }
    #report-checks{
        margin-right: 100px;
    }
    .nav-item > .active{
        color:var(--primary-color);;
    
    }
    /* ::ng-deep
    .p-datatable .p-datatable-tbody{
        border:0px
    } */

    #icon{
        background-color: #E4E7EB;
        border-radius: 100px;
        border: none;
    }
    #icon i{
        color: #00529B;
    }
    .fa-pencil{
        color:#00529B
    }
    .fa-trash-can{
        color:#00529B
    }
    #messageLabel{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
    .titleButton{
        border-radius: 4px;
        background: #E4E7EB;
        color: #00529B;
        border:0px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px; 
    }

    ::ng-deep .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
         border: 0px;
         color:#00529B;
         padding: 0.5rem;
            }

    ::ng-deep .p-panelmenu .p-menuitem-text {
        
        color: #00529B;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
    }
  
    ::ng-deep .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action {
        color: #00529B;
        padding: 0.25rem;
        font-weight: 700;
    }
    .point{
        cursor: pointer;
    }