.sub-title {
  color: rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  border-right: 0px;
}

.card-title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

/* card-title-collapsed{
  color: red;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
} */
.title {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

#icon {
  background-color: #e4e7eb;
  border-radius: 100px;
  border: none;
}

#icon i {
  color: #00529b;
}

.label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  overflow: visible;
}

/* .cancel {
  color: #00529b;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
} */

li {
  cursor: pointer;
}

#report-checks {
  margin-right: 100px;
}

.nav-item>.active {
  color: var(--primary-color);
}

#icon {
  background-color: #e4e7eb;
  border-radius: 100px;
  border: none;
}

#icon i {
  color: #00529b;
}

.fa-pencil {
  color: #00529b;
}

.fa-trash-can {
  color: #00529b;
}

#messageLabel {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.titleButton {
  border-radius: 4px;
  background: #e4e7eb;
  color: #00529b;
  border: 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

::ng-deep .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
  border: 0px;
  color: #00529b;
  padding: 0.5rem;
}

::ng-deep .p-panelmenu .p-menuitem-text {
  color: #00529b;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

::ng-deep .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action {
  color: #00529b;
  padding: 0.25rem;
  font-weight: 700;
}

.point {
  cursor: pointer;
}

ul {
  list-style-type: none;
  cursor: pointer;
}

ul li a.active {
  color: #00529b;
}

.browse-link {
  color: #00529b;
  cursor: pointer;
  text-decoration: underline;
}

.file-list {
  margin-top: 20px;
}

.file-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.file-name {
  flex: 1;
  margin-left: 10px;
}

.file-actions {
  margin-right: 47%;
}

.file-actions i {
  margin-left: 10px;
  cursor: pointer;
}

.external-claim-input {
  height: 38px;
  width: 100%;
}

:host ::ng-deep .modal-lg {
  max-width: 800px;
  /* Increased from default 500px */
  width: 90%;
}

:host ::ng-deep .p-dropdown {
  width: 100%;
  height: 38px;
}

:host ::ng-deep .p-dropdown .p-dropdown-label {
  padding-top: 0.4rem;
}

:host ::ng-deep .p-dropdown-panel {
  /* Make dropdown panel width smaller */
  max-width: 300px !important;
  /* Adjust this value as needed */
  width: auto !important;
}

:host ::ng-deep .p-dropdown-item {
  /* Make option text smaller */
  font-size: 0.875rem !important;
  /* Adjust this value as needed */
  padding: 0.5rem 0.75rem !important;
  /* Optionally adjust padding for better spacing */
}

:host ::ng-deep .p-dropdown-filter {
  /* Make search filter text smaller if needed */
  font-size: 0.875rem !important;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items {
  padding: 0.25rem 0 !important;
  /* Reduce padding around the options list */
}

/* If you also want to adjust the selected item text size in the dropdown */
:host ::ng-deep .p-dropdown .p-dropdown-label {
  font-size: 0.875rem !important;
}

:host ::ng-deep .modal-body {
  padding: 1rem 2rem;
}

:host ::ng-deep .form-label {
  white-space: nowrap;
  text-align: left;
}

:host ::ng-deep .form-control,
:host ::ng-deep .form-select,
:host ::ng-deep .p-dropdown {
  margin-left: -0.3rem;
  /* Pull inputs slightly to the left */
}

.sub-title {
  color: rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  border-right: 0px;
}

.card-titles {
  color: #00529b;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.title {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

#icon {
  background-color: #e4e7eb;
  border-radius: 100px;
  border: none;
}

#icon i {
  color: #00529b;
}

.label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.cancel {
  color: #00529b;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.75px;
  text-decoration-line: underline;
}

li {
  cursor: pointer;
}

#report-checks {
  margin-right: 100px;
}

.nav-item>.active {
  color: #00529b;
}

.nav-item>.nav-link {
  font-size: 16px;
}

/* ::ng-deep
    .p-datatable .p-datatable-tbody{
        border:0px
    } */

#icon {
  background-color: #e4e7eb;
  border-radius: 100px;
  border: none;
}

#icon i {
  color: #00529b;
}

.fa-pencil {
  color: #00529b;
}

.fa-trash-can {
  color: #00529b;
}

#messageLabel {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.titleButton {
  border-radius: 4px;
  background: #e4e7eb;
  color: #00529b;
  border: 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

::ng-deep .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
  border: 0px;
  color: #00529b;
  padding: 0.5rem;
}

::ng-deep .p-panelmenu .p-menuitem-text {
  color: #00529b;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

::ng-deep .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action {
  color: #00529b;
  padding: 0.25rem;
  font-weight: 700;
}

.point {
  cursor: pointer;
}

ul {
  list-style-type: none;
  cursor: pointer;
}

ul li a.active {
  color: #00529b;
}

.browse-link {
  color: #00529b;
  cursor: pointer;
  text-decoration: underline;
}

.file-list {
  margin-top: 20px;
}

.file-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.file-name {
  flex: 1;
  margin-left: 10px;
}

.file-actions {
  margin-right: 47%;
}

.file-actions i {
  margin-left: 10px;
  cursor: pointer;
}

.card {
  border: none;
  border-radius: 5px;
}

.card-body {
  padding-left: 40px;
  padding-right: 40px;
}

#navigationIcons {
  margin-left: -10px;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.6rem 0.6rem;
  /* text-align: left; */
}

.flexible-header {
  white-space: nowrap;
  width: auto;
  text-align: left;

}

::ng-deep .p-datatable .p-datatable-tbody>tr.p-highlight {
  background-color: #ddedfb !important;
  color: inherit !important;
  /* Optional: maintain text color */
}

/* .ui-datatable th, .ui-datatable td {
        white-space: nowrap;
    } */
.ui-datatable th,
.ui-datatable td {
  white-space: nowrap;
  /* color: #000; */
}

.scrollable-list {
  max-height: 100px;
  /* Adjust the height as needed */
  overflow-y: auto;
  /* Enables vertical scrolling */
  padding-left: 0px;
  list-style: none;
}

.scrollable-list li {
  cursor: pointer;
  padding: 4px;
  border-bottom: 1px solid #ddd;
  /* Optional: Separates list items */
  font-size: 16px;
}

.scrollable-list li:hover {
  background-color: #f0f0f0;
}

.subclass-title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.selected-row {
  background-color: #e0e0e0 !important;
  /* Light grey */
}

tr:hover {
  background-color: #e0e0e0 !important;
  /* Same as selected color */
  cursor: pointer;
}

.deleteMessage {
  color: #000;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.custom-btn-primary:hover,
.custom-btn-primary:disabled {
  background-color: #00529b !important;

  color: white !important;
  border-color: #00529b !important;
}

.custom-btn-primary:disabled {
  opacity: 0.6 !important;
  /* Ensure it doesn't look faded */
  pointer-events: none;
  /* Keeps it unclickable */
}

.custom-outline-btn:hover {
  background-color: #00529b !important;
  /* Primary color on hover */
  color: white !important;
  border-color: #00529b !important;
}

/* Ensure disabled button still looks like an outline */
.custom-outline-btn:disabled {
  background-color: transparent !important;
  /* Keep it as an outline */
  color: #00529b !important;
  /* Primary text color */
  border-color: #00529b !important;
  opacity: 0.6 !important;
  /* Prevent fading */
  pointer-events: none;
  /* Still unclickable */
}

.nav-link.sub-title {
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
}

.btn-close {
  filter: brightness(0) saturate(100%) invert(19%) sepia(97%) saturate(7451%) hue-rotate(357deg) brightness(102%) contrast(122%);
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-lightblue {
  background-color: #ffff;
  color: #00529B;
  border-color: #00529B;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
  /* padding: 0.3rem 1rem;  */
  /* padding: 0.1rem 0.1rem; */
  color: #000000B2;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  background-color: #BAD0E4;
  /* 150% */
}

.card-title-p {

  font-family: Roboto;
  font-size: 16px;
  color: #000000;
  font-weight: 700;

}

.small-input {
  width: 80px;
  height: 30px;
}

.borderless-button {
  border: none;
  background: transparent;
  color: #00529B;
  padding: 4px 8px;
  font-size: 14px;
}

/* .modal-title {
  margin-left: 1.2rem;
} */

.no-border-header {
  border-bottom: none !important;
}

::ng-deep .slim-dropdown .p-dropdown {
  height: 32px !important;
  font-size: 13px;
  padding: 0 !important;
}

::ng-deep .slim-dropdown .p-dropdown-label {
  padding: 4px 8px !important;
  line-height: 1.2;
}

::ng-deep .slim-dropdown .p-dropdown-trigger {
  padding: 0 6px !important;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}

.card-title {
  color: #00529b;
}

.quote-label {
  color: #000;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

  margin-bottom: 15px;
}

#quote-input {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  /* height: 50%; */
  font-size: 14px;
  height: 30px;
}

#quote-input-pdropdown {
  font-size: 14px;

}

.action-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.btn {
  border-radius: 4px;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 500;
}

.method-options {
  font-family: Roboto;
  display: flex;
  gap: 2rem;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

/* .method-option {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  } */
.method-option.disabled {
  opacity: 0.5;
}



.method-option.selected {
  font-weight: 500;
  color: #00529B;
}

.method-option {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease;

}

.custom-tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 6px 10px;
  border-radius: 4px;
  position: absolute;
  bottom: 100%;
  /* position above */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
}

.method-option.disabled:hover .custom-tooltip {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 600px) {
  .method-options {
    flex-direction: column;
    gap: 1rem;
  }

  .action-buttons {
    flex-direction: column;
    align-items: stretch;
    margin-left: 0;
  }

  .action-buttons button {
    width: 100%;
  }
}

.tooltip-strong .tooltip-inner {
  background-color: #333;
  /* darker background */
  color: #fff;
  /* white text */
  font-weight: bold;
  /* make it pop */
  font-size: 0.85rem;
  padding: 6px 10px;
  border: none;
}

.tooltip-strong .tooltip-arrow {
  display: none;
  /* optional: hide arrow for cleaner look */
}

.report-label {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}

.share_via_title {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* Remove default PrimeNG tab borders */
::ng-deep .custom-tabs .p-tabview-nav {
  border: none !important;
}

/* Grey inactive tab text */
::ng-deep .custom-tabs .p-tabview-nav li .p-tabview-nav-link {
  border: none !important;
  color: #6c757d;
  /* Bootstrap muted color */
  font-weight: 500;
}

/* Active tab with underline */
::ng-deep .custom-tabs .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: #000;
  /* black text */
  border-bottom: 2px solid #0d6efd !important;
  /* Bootstrap primary underline */
}

/* Hover for inactive tabs */
::ng-deep .custom-tabs .p-tabview-nav li:not(.p-highlight) .p-tabview-nav-link:hover {
  color: #495057;
  cursor: pointer;
}

.btn-greyed-out {
  opacity: 0.6;
  cursor: pointer;
  /* Optional: make it look more like disabled state */
  color: #6c757d !important;
  border-color: #6c757d !important;
}

.pdf-container {
  position: relative;
}

.magnifier {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #333;
  background-repeat: no-repeat;
  background-size: 200% 200%;
  /* Zoom factor */
  pointer-events: none;
  /* let mouse events pass through */
}

.btn-zoom-xs {
  padding: 0.15rem 0.35rem;
  font-size: 13px;
  line-height: 1;
  border-radius: 0.2rem;
  cursor: pointer
}

.clause-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  /* you can adjust this */
  display: inline-block;
  /* required for ellipsis to work */
  vertical-align: middle;
}

.hover-card {
  display: none;
  /* hidden by default */
  position: absolute;
  background: #fff;
  border: 1px solid #ddd;
  padding: 6px 10px;
  max-width: 400px;
  /* tooltip size */
  white-space: normal;
  /* allow wrapping in tooltip */
  z-index: 1000;
}

.clause-wrapper:hover .hover-card {
  display: block;
}

#icon {
  background-color: #E4E7EB;
  border-radius: 100px;
  border: none;
}

#icon i {
  color: #00529B;
}

.icon {
  background-color: #E4E7EB;
  border-radius: 100px;
  border: none;
}

.upload-area {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #f9f9f9;
  align-items: center;
}

.upload-area:hover,
.upload-area.dragover {
  border-color: #2196F3;
  background-color: #e3f2fd;
}

.upload-content {
  pointer-events: none;
}

.upload-icon {
  font-size: 38px;
  margin-bottom: 15px;
  display: block;
  color: #00529B
}

.upload-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #000000;
}

.upload-subtext {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #00000080;
  line-height: 150%;
  letter-spacing: 0%;
}

.selected-file {
  display: inline-flex;
  /* shrink to fit content */
  align-items: center;
  /* vertical centering */
  justify-content: center;
  gap: 10px;

}

.file-name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  color: #00529B;
  text-overflow: ellipsis;
  /* truncate long names with ... */
}

.remove-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #dc3545;
  font-size: 1.2rem;
}

.remove-btn:hover {
  color: #a71d2a;
}

.upload-btn {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.upload-btn:hover:not(:disabled) {
  background-color: #0b7dda;
}

.upload-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error-message {
  color: #f44336;
  margin-top: 15px;
  padding: 10px;
  background-color: #ffebee;
  border-radius: 4px;
}

.success-message {
  color: #4caf50;
  margin-top: 15px;
  padding: 10px;
  background-color: #e8f5e9;
  border-radius: 4px;
}

.file-icon {
  font-size: 1.2rem;
  margin-right: 8px;
  color: #00529B;
}



#previewDocModalLabel {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.flexible-header1 {

  white-space: nowrap;
  width: auto;
  text-align: left;


}

