<div class="mx-4 mt-3">
  <p class="title">Quotations:Quotation Summary </p>
  <app-stepper [currentStep]="3" [stepperData]="steps"></app-stepper>

  <div class="card mb-3">
    <div class="header mx-4 mt-2 mb-2">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link sub-title active" data-bs-toggle="tab" id="nav-summary-tab" aria-controls="nav-summary"
             data-bs-target="#nav-summary">Quotation Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link sub-title" data-bs-toggle="tab" id="nav-quotation-other-details-tab"
             aria-controls="nav-authorization" data-bs-target="#nav-quotation-other-details">Quotation Other Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link sub-title" data-bs-toggle="tab" id="nav-reports-tab"
             aria-controls="nav-authorization" data-bs-target="#nav-reports">Reports and documents</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-summary" role="tabpanel" aria-labelledby="nav-summary-tab" tabindex="0">
      <div class="spinner" style="position: relative">
        <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="true" color="#00529B" size="large" bdColor="rgba(255, 255, 255, 0.966)"></ngx-spinner>
      </div>
  
      <!-- Quotation details card  -->
      <div class="card mb-4">
        <div class="card-body">
          <p class="card-titles mb-4">Quotation details</p>
  
          <div class="row mb-3">
            <div class="col-md-4 d-flex">
              <p class="label w-50">Quotation Number</p>
              <p class="content w-50">{{ fetchedQuoteNum }}</p>
            </div>
            <div class="col-md-4 d-flex">
              <p class="label w-50">Branch</p>
              <p class="content w-50">{{ branch?.name }}</p>
            </div>
            <div class="col-md-4 d-flex">
              <p class="label w-50">Currency</p>
              <p class="content w-50">{{ quotationView?.currency }}</p>
            </div>
          </div>
  
          <div class="row mb-3">
            <div class="col-md-4 d-flex">
              <p class="label w-50">Expiry Date</p>
              <p class="content w-50">{{ expiryDate }}</p>
            </div>
            <div class="col-md-4 d-flex">
              <p class="label w-50">Cover From</p>
              <p class="content w-50">{{ coverFrom }}</p>
            </div>
            <div class="col-md-4 d-flex">
              <p class="label w-50">Cover To</p>
              <p class="content w-50">{{ coverTo }}</p>
            </div>
          </div>
  
          <div class="row mb-3">
            <div class="col-md-4 d-flex">
              <p class="label w-50">Status</p>
              <p class="content w-50">{{ quotationView?.status }}</p>
            </div>
            <div class="col-md-4 d-flex">
              <p class="label w-50">Frequency of Payment</p>
              <p class="content w-50">{{ quotationView?.frequencyOfPayment }}</p>
            </div>
            <div class="col-md-4 d-flex align-items-center">
              <p class="label w-50 mb-0">Notes</p>
              
              <div class="d-flex align-items-center w-50">
                <p class="content mb-0 me-2">
                  {{
                    quotationView?.comments
                      ? quotationView.comments.split(' ').slice(0, 5).join(' ') + 
                        (quotationView.comments.split(' ').length > 5 ? '...' : '')
                      : '-----'
                  }}
                </p>
                
                <i class="fas fa-edit text-primary" style="cursor: pointer;"></i>
              </div>
            </div>
            
          </div>
  
          <p class="card-titles mb-4">Client information</p>
  
          <div class="row mb-3">
            <div class="col-md-4 d-flex">
              <p class="label w-50">Client </p>
              <p class="content w-50">{{ quotationView?.clientName }}</p>
            </div>
            <div class="col-md-4 d-flex">
              <p class="label w-50">Proposer</p>
              <p class="content w-50">{{ clientDetails?.proposer }}</p>
            </div>
            <div class="col-md-4 d-flex">
              <p class="label w-50">Introducer</p>
              <p class="content w-50">{{ clientDetails?.introducer }}</p>
            </div>
          </div>
  
          <div class="row mb-2">
            <div class="col-md-4 d-flex">
              <p class="label w-50">Source</p>
              <p class="content w-50">{{ quotationView?.source.description}}</p>
            </div>
            <div class="col-md-4 d-flex">
              <p class="label w-50">Likelihood</p>
              <p class="content w-50">{{ quotationView?.likelihood}}</p>
            </div>
            <div class="col-md-4 d-flex">
              <p class="label w-50">Agent</p>
              <p class="content w-50">{{ quotationView?.agentName}}</p>
            </div>
          </div>
  
          <p class="card-titles mb-4">Financial overview</p>
  
          <div class="row mb-3">
            <div class="col-md-4 d-flex">
              <p class="label w-50">Premium</p>
              <p class="content w-50">{{ quotationView?.premium | number }}</p>
            </div>
            <div class="col-md-4 d-flex">
              <p class="label w-50">Sum Insured</p>
              <p class="content w-50">{{ quotationView?.sumInsured | number }}</p>
            </div>
            <div class="col-md-4 d-flex">
              <p class="label w-50">Marketer Comm.</p>
              <p class="content w-50">{{ quotationView?.marketerCommissionAmount | number }}</p>
            </div>
          </div>
  
          <div class="row mb-2">
            <div class="col-md-4 d-flex">
              <p class="label w-50">Comm amt.</p>
              <p class="content w-50">{{ quotationView?.commissionAmount }}</p>
            </div>
            <div class="col-md-4 d-flex">
              <p class="label w-50">Comments</p>
              <p class="content w-50">{{ quotationView?.comments }}</p>
            </div>
            <div class="col-md-4 d-flex">
              <p class="label w-50">Internal Comments</p>
              <p class="content w-50">{{ quotationView?.internalComments }}</p>
            </div>
          </div>
  
          <div class="d-flex justify-content-end align-items-center mt-4">
            <a href="#" (click)="viewClientProfile()" class="text-primary text-decoration-underline">
              View Client Profile
            </a>
  
            <button class="btn btn-outline-primary custom-outline-btn" style="margin-right: 10px; margin-left: 20px;" (click)="editDetails()" [disabled]="viewQuoteFlag">
              Edit details
            </button>
          </div>
        </div>
      </div>
    

      <!-- Product Details Card -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <p *ngIf="!isCollapsibleOpen" class="card-title mt-2" data-bs-toggle="collapse"
                 data-bs-target="#productDetails"
                 (click)="toggleProductDetails()">Product Details</p>
            </div>
            <div class="col-8 d-flex justify-content-end">
              <div class="row">

                <div class="col-4" *ngIf="!isCollapsibleOpen">
                  <button type="button" id="icon" class="btn btn-primary" data-bs-toggle="collapse"
                          data-bs-target="#productDetails" (click)="toggleProductDetails()"
                          [attr.aria-expanded]="!isCollapsibleOpen">
                    <i class="fa-solid fa-chevron-down"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse mt-4" id="productDetails">
            <div class="row">
              <div class="col-3">
                <!-- <p class="card-title mt-2" data-bs-toggle="collapse" data-bs-target="#productDetails" (click)="toggleProductDetails()">Product Details</p> -->
                <p class="fw-semibold	card-title-collapsed mt-2">Product Details</p>
              </div>
              <div class="col-9 d-flex justify-content-end" id="navigationIcons">
                <div class="row">
                  <div class="col-sm-3"></div>
                  <div class="col-sm-3">
                    <button type="button" id="icon" class="btn btn-primary" title="Add" [disabled]="viewQuoteFlag">
                      <i class="fa-solid fa-plus"></i>
                    </button>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" id="icon" class="btn btn-primary" title="Edit" [disabled]="viewQuoteFlag">
                      <i class="fa-solid fa-pencil"></i>
                    </button>
                  </div>
                  <div class="col-sm-3">

                    <button type="button" id="icon" class="btn btn-danger me-2" title="Delete"
                            id="openProductModalButtonDelete" [hidden]="true" data-bs-toggle="modal"
                            data-bs-target="#deleteProduct">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                    <button
                      type="button"
                      id="icon"
                      class="btn btn-primary"
                      title="Delete"
                      [disabled]="viewQuoteFlag ||!quotationDetails?.quotationProducts || quotationDetails.quotationProducts.length <= 1">
                      <i class="fa-solid fa-trash-can" (click)="openProductDeleteModal()"></i>
                    </button>
                  </div>

                </div>
              </div>
            </div>
            <div class="mt-3" id="">
              <p-table [value]="productDetails" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Product</th>
                    <th>Cover From</th>
                    <th>Cover To</th>
                  <!--  <th>Binder</th>-->
                    <th class="text-end">Sum Insured</th>
                    <th class="text-end">Commission</th>
                    <th class="text-end">Premium</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                  <tr (click)="handleProductClick(data)" class="point"
                      [ngClass]="{'selected-row': selectedProduct === data}">
                    <td>{{ data.productName | sentenceCase }}</td>
                    <td>{{ data.wef }}</td>
                    <td>{{ data.wet }}</td>
                   <!-- <td>{{ data.binder || "-" }}</td>-->
                    <td class="text-end">{{ data.totalSumInsured || 0.00 |number }}</td>
                    <td class="text-end">{{ data.commission || 0.00 |number }}</td>
                    <td class="text-end">{{ data.premium || 0.00 | number }}</td>
                  </tr>
                </ng-template>
              </p-table>
              <!-- Delete Product Modal -->
              <div class="modal fade" id="deleteProduct" tabindex="-1" role="dialog"
                   aria-labelledby="deleteProduct" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content" id="deleteProduct">
                    <div class="modal-body ">
                      <p class="deleteMessage mt-4 mb-4">{{
                          'gis.policy.are_you_sure_you_want_to_delete' |
                            translate
                        }}</p>
                      <div class="d-flex justify-content-center mb-3">
                        <button type="button" class="btn btn-primary px-5" id="delete"
                                data-bs-dismiss="modal" (click)="deleteProduct()">{{
                            'gis.policy.yes_delete'
                              | translate
                          }}
                        </button>
                      </div>
                      <div class="d-flex justify-content-center mb-2">
                        <button type="button" class="btn btn-outline-primary px-5"
                                data-bs-dismiss="modal">{{ 'gis.policy.no_im_not' | translate }}
                        </button>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
              <!-- TABS  -->
              <div class="row mt-5 mb-3">
                <div class="col-7">
                  <ul class="nav nav-underline ">
                    <li class="nav-item">
                      <a class="nav-link active" [class.active]="activeTab === 'clauses'"
                         (click)="setActiveTab('clauses')" aria-current="page" data-bs-toggle="tab"
                         data-bs-target="#nav-clauses">Clauses</a>
                    </li>
                    <br>
                    <li class="nav-item">
                      <a class="nav-link" [class.active]="activeTab === 'taxes'" (click)="setActiveTab('taxes')"
                         data-bs-toggle="tab" data-bs-target="#nav-taxes">Taxes</a>
                    </li>
                    <br>
                    <li class="nav-item">
                      <a class="nav-link" [class.active]="activeTab === 'limits'" (click)="setActiveTab('limits')"
                         data-bs-toggle="tab" data-bs-target="#nav-limits">Limits of Liability</a>
                    </li>
                    <br>
                    <li class="nav-item">
                      <a class="nav-link" [class.active]="activeTab === 'similarQuotes'"
                         (click)="setActiveTab('similarQuotes')" data-bs-toggle="tab"
                         data-bs-target="#nav-similarQuotes">Similar Quotes</a>
                    </li>
                  </ul>
                </div>
                <div class="col-5 d-flex justify-content-end" id="navigationIcons">
                  <div class="row" *ngIf="activeTab === 'clauses' || activeTab === 'taxes' || activeTab === 'limits'">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                      <button type="button" id="icon" class="btn btn-primary" title="Add" [disabled]="viewQuoteFlag">
                        <i class="fa-solid fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-sm-3">
                      <button type="button" id="icon" class="btn btn-primary" title="Edit" [disabled]="viewQuoteFlag">
                        <i class="fa-solid fa-pencil"></i>
                      </button>
                    </div>
                    <div class="col-sm-3">
                      <button type="button" id="icon" class="btn btn-danger me-2" title="Delete"
                              [disabled]="viewQuoteFlag">
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    </div>

                  </div>
                </div>
              </div>


              <div class="tab-content mb-4" id="nav-tabContent">
                <!-- CLAUSES -->
                <div class="tab-pane fade show active" id="nav-clauses" role="tabpanel" aria-labelledby="nav-clauses"
                     tabindex="0">


                  <p-table [value]="clauses" [tableStyle]="{ 'min-width': '50rem' }" [rows]="5"

                           class='ui-datatable' responsiveLayout="scroll" [autoLayout]="true" [scrollable]="true"
                           scrollHeight="200px">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="flexible-header">ID</th>
                        <th class="flexible-header"> {{ 'gis.quotation.heading' | translate }}</th>
                        <th class="flexible-header">{{ 'gis.quotation.wording' | translate }}</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                      <tr>
                        <td>{{ data.shortDescription }}</td>
                        <td>{{ data.heading | sentenceCase }}</td>
                        <td style=" white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width:300px;
                        overflow-y: auto;">{{ data.wording | sentenceCase }}
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
                <!-- TAXES -->
                <div class="tab-pane fade" id="nav-taxes" role="tabpanel" aria-labelledby="nav-taxes" tabindex="0">
                  <p-table [value]="taxDetails" [tableStyle]="{ 'min-width': '50rem' }" class='ui-datatable'
                           responsiveLayout="scroll" [autoLayout]="true" [scrollable]="true" scrollHeight="200px">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="flexible-header">Description</th>
                        <th class="flexible-header">Quotation Rate</th>
                        <th class="flexible-header">Rate Type</th>
                        <th class="flexible-header text-end">Amount</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                      <tr>
                        <td>{{ data.rateDescription }}</td>
                        <td>{{ data.quotationRate }}</td>
                        <td>{{ data.rateType }}</td>
                        <td>{{ data.taxAmount }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
                <!-- LIMITS -->
                <div class="tab-pane fade " id="nav-limits" role="tabpanel" aria-labelledby="nav-limits" tabindex="0">
                  <div class="row">
                    <div class="col-3">
                      <div>

                        <div class="listing">
                          <p class="subclass-title">{{ 'gis.quotation.subclass' | translate }} </p>
                          <ul class="scrollable-list">
                            <li *ngFor="let data of productSubclass" (click)="onSubclassClick(data.code)">
                              {{ data.description | sentenceCase }}
                            </li>
                          </ul>
                        </div>

                      </div>
                    </div>
                    <div class="col-9">


                      <p-table [value]="limitsOfLiabilityList" [tableStyle]="{ 'min-width': '50rem' }"
                               class='ui-datatable' responsiveLayout="scroll" [autoLayout]="true" [scrollable]="true"
                               scrollHeight="200px">
                        <ng-template pTemplate="header">
                          <tr>
                            <th class="flexible-header">{{ 'gis.quotation.narration' | translate }}</th>
                            <th class="flexible-header">Scl Desc</th>
                            <th class="flexible-header">{{ 'gis.quotation.value' | translate }}</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                          <tr>
                            <td style=" white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width:300px;
                                overflow-y: auto;">{{ data.narration | sentenceCase }}
                            </td>
                            <td>{{ data.subclassCode }}</td>
                            <td>{{ data.value }}</td>
                          </tr>
                        </ng-template>
                      </p-table>

                    </div>
                  </div>
                </div>
                <!-- SIMILAR QUOTES -->
                <div class="tab-pane fade" id="nav-similarQuotes" role="tabpanel" aria-labelledby="nav-similarities"
                     tabindex="0">
                  <p-table [value]="similarQuotesList" [tableStyle]="{ 'min-width': '50rem' }" class='ui-datatable'
                           responsiveLayout="scroll" [autoLayout]="true" [scrollable]="true" scrollHeight="200px">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="flexible-header">{{ 'gis.quotation.quotation_number' | translate }}</th>
                        <th class="flexible-header">{{ 'gis.quotation.client' | translate }}</th>
                        <th class="flexible-header">{{ 'gis.quotation.cover_from' | translate }}</th>
                        <th class="flexible-header">{{ 'gis.quotation.cover_to' | translate }}</th>
                        <th class="flexible-header">{{ 'gis.quotation.branch' | translate }}</th>
                        <th class="flexible-header">{{ 'gis.quotation.agent' | translate }}</th>
                        <th class="flexible-header">{{ 'gis.quotation.product' | translate }}</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                      <tr>
                        <td>{{ data.quotNo }}</td>
                        <td>{{ data.client | sentenceCase }}</td>
                        <td>{{ data.quotCoverFrom }}</td>
                        <td>{{ data.quotCoverTo }}</td>
                        <td>{{ data.branchName | sentenceCase }}</td>
                        <td>{{ data.agentName | sentenceCase }}</td>
                        <td>{{ data.productDesc | sentenceCase }}</td>
                      </tr>
                    </ng-template>

                    <!-- Template for empty data -->
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="7" class="text-center">No similar quotations to display</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Risk Details Card -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <p *ngIf="!isRiskCollapsibleOpen" class="card-title mt-2" data-bs-toggle="collapse"
                 data-bs-target="#riskDetails"
                 (click)="toggleRiskDetails()">Risk Details</p>
            </div>
            <div class="col-8 d-flex justify-content-end">
              <div class="row">
                <div class="col-4" *ngIf="!isRiskCollapsibleOpen">
                  <button type="button" id="icon" class="btn btn-primary" data-bs-toggle="collapse"
                          data-bs-target="#riskDetails" (click)="toggleRiskDetails()"
                          [attr.aria-expanded]="!isRiskCollapsibleOpen">
                    <i class="fa-solid fa-chevron-down"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="collapse mt-4" id="riskDetails">
            <div class="row mb-3">
              <div class="col-4">
                <p class=" mt-2 fw-semibold" data-bs-toggle="collapse" data-bs-target="#riskDetails"
                >Risk Details</p>
              </div>
              <div class="col-8 d-flex justify-content-end">
                <div class="row">
                  <div class="col-sm-3"></div>
                  <div class="col-sm-3">
                    <button type="button" id="icon" class="btn btn-primary" title="Add" [disabled]="viewQuoteFlag">
                      <i class="fa-solid fa-plus"></i>
                    </button>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" id="icon" class="btn btn-primary" title="Edit" [disabled]="viewQuoteFlag">
                      <i class="fa-solid fa-pencil"></i>
                    </button>
                  </div>
                  <!-- <div class="col-sm-3" >
                    <button type="button" id="icon" class="btn btn-danger me-2" title="Delete">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  </div> -->
                  <div class="col-sm-3">

                    <button type="button" id="icon" class="btn btn-danger me-2" title="Delete"
                            id="openRiskModalButtonDelete" [hidden]="true" data-bs-toggle="modal"
                            data-bs-target="#deleteRisk">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                    <button
                      type="button"
                      id="icon"
                      class="btn btn-primary"
                      title="Delete"
                      [disabled]="viewQuoteFlag || !quotationDetails?.quotationProducts?.[0]?.riskInformation || quotationDetails.quotationProducts[0].riskInformation.length <= 1">
                      <i class="fa-solid fa-trash-can" (click)="openRiskDeleteModal()"></i>
                    </button>
                  </div>

                </div>
              </div>
            </div>

            <p-table [value]="riskDetails" [tableStyle]="{ 'min-width': '50rem' }" class='ui-datatable'
                     styleClass="p-datatable-striped">
              <ng-template pTemplate="header">
                <tr>
                  <th>ID</th>
                  <th>Description</th>
                  <th>Cover type</th>
                  <th>Subclass</th>
                  <th class="text-end">SI</th>
                  <th class="text-end">Premium</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr [class.p-highlight]="data === selectedRisk" [pSelectableRow]="riskDetails" class="point"
                    (click)="handleRowClick(data)"
                    [class.disabled]="!data?.code">
                  <td>{{ data?.quotationRiskNo || '-' }}</td>
                  <td>{{ data?.propertyId || '-' }}</td>
                  <td>{{ data?.coverTypeDescription || '-' | sentenceCase }}</td>
                  <td>{{ data?.subclass?.description || '-' | sentenceCase }}</td>
                  <td class="text-end">{{ data?.sectionsDetails[0]?.limitAmount || 0 | number }}</td>
                  <td class="text-end">{{ data?.sectionsDetails[0]?.premium || 0 | number }}</td>
                </tr>
              </ng-template>
            </p-table>
            <!-- Delete Risk Modal -->
            <div class="modal fade" id="deleteRisk" tabindex="-1" role="dialog"
                 aria-labelledby="deleteRisk" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" id="deleteRisk">
                  <div class="modal-body ">
                    <p class="deleteMessage mt-4 mb-4">{{
                        'gis.policy.are_you_sure_you_want_to_delete' |
                          translate
                      }}</p>
                    <div class="d-flex justify-content-center mb-3">
                      <button type="button" class="btn btn-primary px-5" id="delete"
                              data-bs-dismiss="modal" (click)="deleteRisk()">{{
                          'gis.policy.yes_delete'
                            | translate
                        }}
                      </button>
                    </div>
                    <div class="d-flex justify-content-center mb-2">
                      <button type="button" class="btn btn-outline-primary px-5"
                              data-bs-dismiss="modal">{{ 'gis.policy.no_im_not' | translate }}
                      </button>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <br>
            <ul class="nav nav-underline mt-2 mb-4">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" data-bs-toggle="tab"
                   data-bs-target="#nav-sections">Sections</a>
              </li>
              <br>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-riskClauses">Clauses</a>
              </li>
              <br>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-schedules">Other Details</a>
              </li>
              <br>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-excesses">Excesses</a>
              </li>
            </ul>
            <div class="tab-content mb-4" id="nav-tabContent">
              <!-- SECTIONS -->
              <div class="tab-pane fade show active" id="nav-sections" role="tabpanel" aria-labelledby="nav-sections"
                   tabindex="0">
                <p-table [value]="sections" [tableStyle]="{ 'min-width': '50rem' }">
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="flexible-header">Group</th>
                      <th class="flexible-header">Row Num</th>
                      <th class="flexible-header">Section description</th>
                      <th class="flexible-header">Rate type</th>
                      <th class="flexible-header">Section rate</th>
                      <th class="text-end flexible-header">Section limit</th>
                      <th class="text-end flexible-header">Premium</th>
                      <th class="text-end flexible-header">Free limit</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td class="flexible-header">{{ data.calculationGroup }}</td>
                      <td class="flexible-header">{{ data.rowNumber }}</td>
                      <td class="flexible-header">{{ data.sectionDescription | sentenceCase }}</td>
                      <td class="flexible-header">{{ data.rateType }}</td>
                      <td class="flexible-header">{{ data.rate }}</td>
                      <td class="text-end flexible-header">{{ data.limitAmount | number }}</td>
                      <td class="text-end flexible-header">{{ data.premium | number }}</td>
                      <td class="text-end flexible-header">{{ data.freeLimit | number }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <!-- RISK CLAUSES -->
              <div class="tab-pane fade" id="nav-riskClauses" role="tabpanel" aria-labelledby="nav-riskClauses"
                   tabindex="0">
                <p-table [value]="riskClauses" dataKey="code" editMode="row" [tableStyle]="{'min-width': '50rem'}"
                         responsiveLayout="scroll" class='ui-datatable' [autoLayout]="true">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 5%;padding-right: 50px;">Clause</th>
                      <th style="width: 25%;padding-right: 50px;">Product</th>
                      <th style="width: 40%;">Wording</th>
                      <th style="width: 5%;"></th>
                      <th style="width: 5%;">Editable</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-selectedClauseList let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="selectedClauseList">
                      <td>
                        {{ selectedClauseList.shortDescription }}
                      </td>
                      <td>
                        {{ selectedClauseList.productDescription | sentenceCase }}
                      </td>
                      <td
                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width:300px; overflow-y: auto;">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="selectedClauseList.clause"
                                   class="form-control form-control-sm" [ngModelOptions]="{standalone: true}">
                          </ng-template>
                          <ng-template pTemplate="output">
                            {{ selectedClauseList.clause }}
                          </ng-template>
                          <!-- Helper icon added next to the wording column -->
                        </p-cellEditor>
                      </td>
                      <td>
                        <button pButton pRipple type="button" (click)="openHelperModal(selectedClauseList)"
                                icon="pi pi-info-circle" class="p-button-rounded p-button-text"></button>
                      </td>
                      <td>{{ selectedClauseList.clauseEditable }}</td>
                    </tr>
                    <!-- Modal for each row -->
                    <p-dialog [(visible)]="selectedClauseList.showHelperModal" [modal]="false"
                              [style]="{ 'width': '700px'}">
                      <ng-container *ngIf="selectedClauseList">
                        <div pResizable [ngStyle]="{'min-width.px': 200, 'min-height.px': 150}"
                             (onResize)="onResize($event)">
                          <p>{{ selectedClauseList.clause }}</p>
                        </div>
                      </ng-container>
                    </p-dialog>
                  </ng-template>
                </p-table>
              </div>
              <!-- SCHEDULES -->
              <div class="tab-pane fade " id="nav-schedules" role="tabpanel" aria-labelledby="nav-schedules"
                   tabindex="0">
                <p-table [value]="schedules" [tableStyle]="{ 'min-width': '50rem' }">
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="flexible-header">Reg no.</th>
                      <th class="flexible-header"> Vehicle make</th>
                      <th class="flexible-header">Cubic capacity</th>
                      <th class="flexible-header">Year of manufacture</th>
                      <th class="flexible-header">Seating capacity</th>
                      <th class="flexible-header">Value</th>
                      <th class="flexible-header">Body type</th>
                      <th class="flexible-header">Cover type</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td class="flexible-header">{{ data.registrationNumber }}</td>
                      <td class="flexible-header">{{ data.Make }}</td>
                      <td class="flexible-header">{{ data.cubicCapacity }}</td>
                      <td class="flexible-header">{{ data.yearOfManufacture }}</td>
                      <td class="flexible-header">{{ data.carryCapacity }}</td>
                      <td class="flexible-header">{{ data.value }}</td>
                      <td class="flexible-header">{{ data.bodyType }}</td>
                      <td class="flexible-header">{{ data.coverType }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
              <!-- EXCESSES -->
              <div class="tab-pane fade" id="nav-excesses" role="tabpanel" aria-labelledby="nav-excesses" tabindex="0">
                <p-table [value]="excessesList" [tableStyle]="{ 'min-width': '50rem' }">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Narration</th>
                      <th>Value</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td>{{ data.description }}</td>
                      <td>{{ data.excess }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Claims Experience Section -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-4">
              <p-panelMenu [model]="menuItems" [style]="{'width':'300px'}"></p-panelMenu>
            </div>
            <div class="col-8 d-flex justify-content-end">
              <div class="row">
                <div class="col-3"></div>
                <div class="col-sm-3">
                  <button type="button" id="icon" class="btn btn-primary" title="Add" data-bs-toggle="modal"
                          [disabled]="viewQuoteFlag"
                          data-bs-target="#addExternalClaimExperienceModal" [hidden]="!showExternalClaims">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
                <div class="col-sm-3">
                  <button type="button" id="icon" class="btn btn-primary" title="Edit" [disabled]="viewQuoteFlag"
                          [attr.data-bs-toggle]="selectedExternalClaimExp ? 'modal' : null"
                          [attr.data-bs-target]="selectedExternalClaimExp ? '#addExternalClaimExperienceModal' : null"
                          (click)="openExternalClaimExpEditModal()" [hidden]="!showExternalClaims">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                </div>
                <div class="col-sm-3">
                  <button type="button" id="icon" class="btn btn-danger me-2" title="Delete" [disabled]="viewQuoteFlag"
                          id="openClaimModalButtonDelete" [hidden]="true" data-bs-toggle="modal"
                          data-bs-target="#deleteClaim">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                  <button type="button" id="icon" class="btn btn-primary" title="Delete" [hidden]="!showExternalClaims"
                          [disabled]="viewQuoteFlag">
                    <i class="fa-solid fa-trash-can" (click)="openClaimDeleteModal()"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- EXTERNAL CLAIMS -->
          <div class="mb-4" *ngIf="showExternalClaims">
            <p-table [value]="externalTable" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <!-- <th>Client</th> -->
                  <th class="flexible-header">Insurer</th>
                  <th class="flexible-header">Policy Number</th>
                  <th class="flexible-header">Year</th>
                  <th class="flexible-header">Risk Details</th>
                  <th class="text-end flexible-header">Damage Amount</th>
                  <th class="text-end flexible-header">Third-Party Amount</th>
                  <th class="text-end flexible-header">Other Amount</th>
                  <th class="text-end flexible-header">Claim Paid</th>

                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-externalClaim>
                <tr [class.p-highlight]="externalClaim === selectedExternalClaimExp"
                    (click)="onExternalClaimSelect(externalClaim)" style="cursor: default">
                  <!-- <td>{{ clientDetails?.firstName+" "+clientDetails?.lastName }}</td> -->
                  <td class="flexible-header">{{ externalClaim.insurer }}</td>
                  <td class="flexible-header">{{ externalClaim.policyNumber }}</td>
                  <td class="flexible-header">{{ externalClaim.year }}</td>
                  <td class="flexible-header">{{ externalClaim.riskDetails }}</td>
                  <td class="text-end flexible-header">{{ externalClaim.damageAmount | number }}</td>
                  <td class="text-end flexible-header">{{ externalClaim.totalPaidAmount | number }}</td>
                  <td class="text-end flexible-header">{{ externalClaim.otherAmount | number }}</td>
                  <td class="text-end flexible-header">{{ externalClaim.claimPaid | number }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="1"></td>
                  <td colspan="4" style="padding:30px;padding-left: 350px;" id="empty">No records Found</td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <!-- INTERNAL CLAIMS -->
          <div class="mb-4" *ngIf="showInternalClaims">
            <p-table [value]="internalTable" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th class="flexible-header">Policy No</th>
                  <th class="flexible-header">Claim No</th>
                  <th class="text-end flexible-header">OST Reserve</th>
                  <th class="text-end flexible-header">Total Reserve</th>
                  <th class="text-end flexible-header">Recoveries</th>
                  <th class="text-end flexible-header">Salvages</th>
                  <th class="text-end flexible-header">Total Payments</th>
                  <th class="text-end flexible-header">Net Paid</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-internalClaim>
                <tr [class.p-highlight]="internalClaim === selectedIntetnalClaimExp"
                    (click)="onInternalClaimSelect(internalClaim)" style="cursor: default">
                  <td class="flexible-header">{{ internalClaim.cmb_pol_client_policy_no }}</td>
                  <td class="flexible-header">{{ internalClaim.claim_no }}</td>
                  <td class="text-end flexible-header">{{ internalClaim.ost_reserve | number }}</td>
                  <td class="text-end flexible-header">{{ internalClaim.total_reserve | number }}</td>
                  <td class="text-end flexible-header">{{ internalClaim.recoveries | number }}</td>
                  <td class="text-end flexible-header">{{ internalClaim.salvages | number }}</td>
                  <td class="text-end flexible-header">{{ internalClaim.total_payments | number }}</td>
                  <td class="text-end flexible-header">{{ internalClaim.net_paid | number }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="1"></td>
                  <td colspan="4" style="padding:30px;padding-left:350px;" id="empty">No records Found</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>

   


    <div class="tab-pane fade" id="nav-quotation-other-details" role="tabpanel" aria-labelledby="nav-authorization-tab"
         tabindex="0">
         <app-quotation-other-details></app-quotation-other-details>
  
    </div>

    <div class="tab-pane fade" id="nav-reports" role="tabpanel" aria-labelledby="nav-authorization-tab"
         tabindex="0">
         <app-quotation-report></app-quotation-report>
  
    </div>
  </div>


</div>
