.title{
    color:black
}
.card{
    border-radius: 0px;
}
.cardtitle{
    margin-left: 12px;
}
.quote-label{
    color: #000;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    padding-bottom: 7px;
}
.headers{
color: #000;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}
.content{
color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
cursor:pointer
}
