.title{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; 
}
.card{
    border-radius: 0px;
}
.cardtitle{
    margin-left: 12px;
}
.quote-label{
    color: #000;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    padding-bottom: 7px;
}
.headers{
color: #000;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}
.content{
color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
cursor:pointer
}
.img_upload {
    display: inline-block;
    font-family: 'Roboto', serif;
    text-align: center;
    background-color: white;
    color: var(--primary-color);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 2px 1px 2px 2px;
    border: 1px solid var(--primary-color);
    
}
#icon{
    background-color: #E4E7EB;
    border-radius: 100px;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 9px;
    padding-right: 9px;
}
#icon i{
    color: #00529B;
}
#quote-input{
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    /* height: 50%; */
    font-size: 14px;
}

.form-select {
    height: 49%;

}
