.nav-link {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
}

.nav-link.active {
    color: var(--primary-color);
}

.entityTitle {
    font-family: 'Roboto';
    font-style: normal;


}
.entityTitle h2 {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-bottom: 0%;

}
.entityTitle #rolesDropDown {
    font-weight: 400;
    font-size: 14px;
    color: var(--primary-color);
    border: none;
    outline: none;
    background-color: white;
}
.entityTitle #rolesDropDown:focus {
    border: none;
    outline: none;
}

.img_upload {
    width: 50px;
    height: 50px;
    font-family: 'Roboto', serif;
    text-align: center;
    background-color: white;
    color: var(--primary-color);
    border-radius: 0.3rem;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    float: inline-start;


    .fa {
        vertical-align: middle;

    }
}

.img_edit {
    cursor: pointer;
    background-color: #EDEFF5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 7%;
    top: 45%;
    .fa {
        position: relative;
        align-items: center;
        font-size: 12px;
        z-index: 1;
    }
}

.imgProfile {
    background-color: #2892FD;
}

.account_role_actions {
    padding: 25px 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 13px;
}

.account_role_actions button, button:focus {
    outline: none;
    background: transparent;
    border: none;
}

.account_role_actions button:active {
    outline: none;
    background: transparent;
    border: none;
}

.img_up {
    font-family: 'Roboto', serif;
    margin: 5px auto;
    text-align: center;
    background-color: white;
    color: var(--primary-color);
    cursor: pointer;

    .pi {
        margin-right: 5px;
        color: #007BFF;
        font-size: 12px;
    }
}

.card-header {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 1px solid rgba(15, 46, 147, 0.108);
}

.entity_accounts_list {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
    text-transform: capitalize;
    opacity: 0.6;
}
.entity_accounts_list span {
    margin-right: 16px;
}

.entity_accounts_list #rolesName {
    font-weight: 500;
    cursor: pointer;
    color: #003D73;
    text-decoration-line: underline;
}

.entity_accounts_list span {
    font-weight: 400;
    color: rgba(3, 3, 3, 0.8);
}

.entityAccountDetails {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;

    .entityLabels {
        font-weight: 700;
        color: #000000;
    }

    .entityDetails {
        font-weight: 400;
        color: #343A40;
        font-size: 12px;
    }
}

.row.mb-2 {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
}

.card-view {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(238, 238, 238, 0.585);
    border-radius: 3px;
    flex: 1;
    padding: 10px;
    margin: 0 5px;
}

.card-content {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.card-content .card-txt {
    font-family: 'Roboto';
    text-align: center;
    font-style: normal;
    color: #181C32;
    margin-right: 25px;
    cursor: pointer;
}
.card-content .card-txt h6 {
    font-size: 14px;
    font-weight: bold;
}

.card-content .card-txt p {
    font-weight: 400;
    font-size: 11px;
    opacity: 0.5;
}

.img-left {
    width: 50px;
    height: 50px;
    font-family: 'Roboto', serif;
    text-align: center;
    background: #FAFAFA;
    color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0.5;
}
.card {
  border: 0;
  border-radius: 2px;
}


/* responsive */
@media (max-width: 576px) {
    .account_role_actions {
        padding: 10px;
    }
}
