<div class="my-5 ms-5 me-5">
  <form [formGroup]="staffRegistrationForm" class="clearfix">
    <div class="col-sm-12">
      <div class="card mb-3">
        <div class="card-header bg-transparent font-weight-bold">
          {{ 'entities.prime_identity' | translate }}
        </div>
        <div class="card-body">
          <div class="form-group row">
            <ng-container *ngIf="visibleStatus.lastName === 'Y'">
              <div class="col-sm-4">
                <label for="lastName" class="label col-form-label">{{ 'entities.surname' | translate }}</label>
                <input type="text"  id="lastName" name="lastName" class="form-control" formControlName="lastName"
                       [ngClass]="{ 'is-invalid': f['lastName']?.invalid && (f['lastName']?.dirty || f['lastName']?.touched) }">
                <div *ngIf="f['lastName']?.invalid && (f['lastName']?.dirty || f['lastName']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['lastName']?.errors['required']">
                    {{ 'entities.surname_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.firstName === 'Y'">
              <div class="col-sm-4">
                <label for="firstName" class="label col-form-label">{{ 'entities.other_name' | translate }}</label>
                <input type="text"  id="firstName" name="firstName" class="form-control" formControlName="firstName"
                       [ngClass]="{ 'is-invalid': f['firstName']?.invalid && (f['firstName']?.dirty || f['firstName']?.touched) }">
                <div *ngIf="f['firstName']?.invalid && (f['firstName']?.dirty || f['firstName']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['firstName']?.errors['required']">
                    {{ 'entities.other_name_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.username === 'Y'">
              <div class="col-sm-4">
                <label for="username" class="label col-form-label">{{ 'entities.username' | translate }}</label>
                <input type="text"  nbInput fullWidth id="username" name="username" placeholder="username" class="form-control" formControlName="username"
                       [ngClass]="{ 'is-invalid': f['username']?.invalid && (f['username']?.dirty || f['username']?.touched) }">
                <div *ngIf="f['username']?.invalid && (f['username']?.dirty || f['username']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['username']?.errors['required']">
                    {{ 'entities.username_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.idNumber === 'Y'">
              <div class="col-sm-4">
                <label for="idNumber" class="label col-form-label">{{ 'entities.id' | translate }}</label>
                <input type="text"  nbInput fullWidth id="idNumber" class="form-control" formControlName="idNumber"  name="idNumber"
                       [ngClass]="{ 'is-invalid': f['idNumber']?.invalid && (f['idNumber']?.dirty || f['idNumber']?.touched) }">
                <div *ngIf="f['idNumber']?.invalid && (f['idNumber']?.dirty || f['idNumber']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['idNumber']?.errors['required']">
                    {{ 'entities.id_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.userType === 'Y'">
              <div class="col-sm-4">
                <label for="userType" class="label col-form-label">{{ 'entities.user_type' | translate }}</label>
                <select  id="userType" name="userType" class="form-select" formControlName="userType"
                         [ngClass]="{ 'is-invalid': f['userType']?.invalid && (f['userType']?.dirty || f['userType']?.touched) }">
                  <option value="" selected disabled>{{ 'entities.user_type' | translate }}</option>
                  <option value="U" aria-selected="true">{{ 'entities.individual' | translate }}</option>
                  <option value="G">{{ 'entities.group' | translate }}</option>
                </select>
                <div *ngIf="f['userType']?.invalid && (f['userType']?.dirty || f['userType']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['userType']?.errors['required']">
                    {{ 'entities.user_type_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.dateOfBirth === 'Y'">
              <div class="col-sm-4">
                <label for="dateOfBirth" class="label col-form-label">{{ 'entities.dob' | translate }}</label>
                <input type="text"  class="form-control" id="dateOfBirth" name="dateOfBirth" class="form-control" formControlName="dateOfBirth"
                       onfocus="(this.type='date')" onblur="(this.type='text')"
                       [ngClass]="{ 'is-invalid': f['dateOfBirth']?.invalid && (f['dateOfBirth']?.dirty || f['dateOfBirth']?.touched) }">
                <div *ngIf="f['dateOfBirth']?.invalid && (f['dateOfBirth']?.dirty || f['dateOfBirth']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['dateOfBirth']?.errors['required']">
                    {{ 'entities.dob_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.gender === 'Y'">
              <div class="col-sm-4">
                <label for="gender" class="label col-form-label">{{ 'entities.gender' | translate }}</label>
                <select id="gender" class="form-select" formControlName="gender" name="gender"
                        [ngClass]="{ 'is-invalid': f['gender']?.invalid && (f['gender']?.dirty || f['gender']?.touched) }">
                  <option value="" selected disabled>{{ 'entities.gender' | translate }}</option>
                  <option value="M" aria-selected="true">{{ 'entities.male' | translate }}</option>
                  <option value="F">{{ 'entities.female' | translate }}</option>
                </select>
                <div *ngIf="f['gender']?.invalid && (f['gender']?.dirty || f['gender']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['gender']?.errors['required']">
                    {{ 'entities.gender_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.pinNumber === 'Y'">
              <div class="col-sm-4">
                <label for="pinNumber" class="label col-form-label">{{ 'entities.pin_number' | translate }}</label>
                <input type="text"  class="form-control" id="pinNumber" name="pinNumber" class="form-control" formControlName="pinNumber"
                       [ngClass]="{ 'is-invalid': f['pinNumber']?.invalid && (f['pinNumber']?.dirty || f['pinNumber']?.touched) }">
                <div *ngIf="f['pinNumber']?.invalid && (f['pinNumber']?.dirty || f['pinNumber']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['pinNumber']?.errors['required']">
                    {{ 'entities.pin_number_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header bg-transparent font-weight-bold">
          Contact Details
        </div>
        <div class="card-body" formGroupName="contact_details">
          <div class="form-group row">
            <ng-container *ngIf="visibleStatus.countryCode === 'Y'">
              <div class="col-sm-4">
                <label for="countryCode" class="label col-form-label">{{ 'entities.country' | translate }}</label>
                <p-dropdown [options]="countries"
                            optionLabel="name" optionValue="id"
                            [style]="{ width: '100%' }" name="countryCode"
                            formControlName="countryCode" id="countryCode"
                            [filter]="true" filterBy="name" [showClear]="true"
                            (onChange)="onCountryChange($event)"
                            [autoDisplayFirst]="false" #countryDropdown
                            [ngClass]="{ 'is-invalid': f['contact_details'].get('countryCode')?.invalid && f['contact_details'].get('countryCode')?.dirty || f['contact_details'].get('countryCode')?.touched }">
                </p-dropdown>
                <div *ngIf="f['contact_details'].get('countryCode')?.invalid && f['contact_details'].get('countryCode')?.dirty || f['contact_details'].get('countryCode')?.touched" class="form-text text-danger">
                  <div *ngIf="f['contact_details'].get('countryCode')?.errors?.['required']">
                    {{ 'entities.country_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.townCode === 'Y'">
              <div class="col-sm-4">
                <label for="townCode" class="label col-form-label">{{ 'entities.town' | translate }}</label>
                <p-dropdown [options]="towns" optionLabel="name"
                            optionValue="id" formControlName="townCode"
                            [style]="{ width: '100%' }"
                            placeholder="Town" name="townCode" id="townCode"
                            [filter]="true" filterBy="name" [showClear]="true"
                            [ngClass]="{ 'is-invalid': f['contact_details'].get('townCode')?.invalid && (f['contact_details'].get('townCode')?.dirty || f['contact_details'].get('townCode')?.touched) }">
                </p-dropdown>
                <div *ngIf="f['contact_details'].get('townCode')?.invalid && (f['contact_details'].get('townCode')?.dirty || f['contact_details'].get('townCode')?.touched)" class="form-text text-danger">
                  <div *ngIf="f['contact_details'].get('townCode')?.errors['required']">
                    {{ 'entities.town_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.city === 'Y'">
              <div class="col-sm-4">
                <label for="city" class="label col-form-label">{{ 'entities.city' | translate }}</label>
                <p-dropdown [options]="cities"
                            optionLabel="name" optionValue="id" formControlName="city"
                            [style]="{ width: '100%' }" name="city" id="city"
                            [filter]="true" filterBy="name" [showClear]="true"
                            [ngClass]="{ 'is-invalid': f['contact_details'].get('city')?.invalid && (f['contact_details'].get('city')?.dirty || f['contact_details'].get('city')?.touched) }">
                </p-dropdown>
                <div *ngIf="f['contact_details'].get('city')?.invalid && (f['contact_details'].get('city')?.dirty || f['contact_details'].get('city')?.touched)" class="form-text text-danger">
                  <div *ngIf="f['contact_details'].get('city')?.errors['required']">
                    {{ 'entities.city_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.physicalAddress === 'Y'">
              <div class="col-sm-4">
                <label for="physicalAddress" class="label col-form-label">{{ 'entities.physical_address' | translate }}</label>
                <input type="text"  nbInput fullWidth id="physicalAddress" name="physicalAddress" class="form-control" formControlName="physicalAddress"
                       [ngClass]="{ 'is-invalid': f['contact_details'].get('physicalAddress')?.invalid && (f['contact_details'].get('physicalAddress')?.dirty || f['contact_details'].get('physicalAddress')?.touched) }">
                <div *ngIf="f['contact_details'].get('physicalAddress')?.invalid && (f['contact_details'].get('physicalAddress')?.dirty || f['contact_details'].get('physicalAddress')?.touched)" class="form-text text-danger">
                  <div *ngIf="f['contact_details'].get('physicalAddress')?.errors['required']">
                    {{ 'entities.physical_address_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.phoneNumber === 'Y'">
              <div class="col-sm-4">
                <label for="phoneNumber" class="label col-form-label">{{ 'entities.primary_phone_number' | translate }}</label>
                <!--<input type="tel"  nbInput fullWidth id="phoneNumber" name="phoneNumber" placeholder="Primary phone" class="form-control" formControlName="phoneNumber"
                       [ngClass]="{ 'is-invalid': f['contact_details'].get('phoneNumber')?.invalid && (f['contact_details'].get('phoneNumber')?.dirty || f['contact_details'].get('phoneNumber')?.touched) }">
                <div *ngIf="f['contact_details'].get('phoneNumber')?.invalid && (f['contact_details'].get('phoneNumber')?.dirty || f['contact_details'].get('phoneNumber')?.touched)" class="form-text text-danger">
                  <div *ngIf="f['contact_details'].get('phoneNumber')?.errors['required']">Phone number is required</div>
                </div>-->
                <div class="input-group">
                  <select class="form-select" id="countryCodePrimary" formControlName="countryCodePrimary" style="max-width:25%"
                          [ngClass]="{ 'is-invalid': f['contact_details'].get('countryCodePrimary')?.invalid && (f['contact_details'].get('countryCodePrimary')?.dirty || f['contact_details'].get('countryCodePrimary')?.touched) }">
                    <option *ngFor="let value of countries" [value]="'+' + (value?.zipCode)">
                      {{ '+' + (value?.zipCode) }}
                    </option>
                  </select>
                  <input type="tel" class="form-control" id="phoneNumber"
                         formControlName="phoneNumber"
                         [ngClass]="{ 'is-invalid': f['contact_details'].get('phoneNumber')?.invalid &&
                         (f['contact_details'].get('phoneNumber')?.dirty ||
                         f['contact_details'].get('phoneNumber')?.touched) }">
                </div>
                <div *ngIf="f['contact_details'].get('countryCodePrimary')?.invalid && (f['contact_details'].get('countryCodePrimary')?.dirty || f['contact_details'].get('countryCodePrimary')?.touched)"
                     class="form-text text-danger" [ngClass]="{ 'is-invalid': ['submitted'] && f['contact_details'].get('countryCodePrimary')?.errors }">
                  <div *ngIf="f['contact_details'].get('countryCodePrimary')?.errors['required']">
                    {{ 'entities.country_code_required' | translate }}
                  </div>
                </div>
                <div *ngIf="f['contact_details'].get('phoneNumber')?.invalid && (f['contact_details'].get('phoneNumber')?.dirty || f['contact_details'].get('phoneNumber')?.touched)" class="form-text text-danger">
                  <div *ngIf="f['contact_details'].get('phoneNumber')?.errors['required']">
                    {{ 'entities.phone_number_required' | translate }}
                  </div>
                  <div *ngIf="f['contact_details'].get('phoneNumber')?.errors['pattern']">
                    {{ 'entities.phone_number_format' | translate }} 715123456
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.otherPhone === 'Y'">
              <div class="col-sm-4">
                <label for="otherPhone" class="label col-form-label">{{ 'entities.secondary_phone_number' | translate }}</label>
                <!--<input type="tel"  nbInput fullWidth id="otherPhone" name="otherPhone" placeholder="Secondary phone number" class="form-control" formControlName="otherPhone"
                       [ngClass]="{ 'is-invalid': f['contact_details'].get('otherPhone')?.invalid && (f['contact_details'].get('otherPhone')?.dirty || f['contact_details'].get('otherPhone')?.touched) }">
                <div *ngIf="f['contact_details'].get('otherPhone')?.invalid && (f['contact_details'].get('otherPhone')?.dirty || f['contact_details'].get('otherPhone')?.touched)" class="form-text text-danger">
                  <div *ngIf="f['contact_details'].get('otherPhone')?.errors['required']">Secondary phone number is required</div>
                </div>-->
                <div class="input-group">
                  <select class="form-select" id="countryCodeSecondary" formControlName="countryCodeSecondary" style="max-width:25%"
                          [ngClass]="{ 'is-invalid': f['contact_details'].get('countryCodeSecondary')?.invalid && (f['contact_details'].get('countryCodeSecondary')?.dirty || f['contact_details'].get('countryCodeSecondary')?.touched) }">
                    <option *ngFor="let value of countries" [value]="'+' + (value?.zipCode)">
                      {{ '+' + (value?.zipCode) }}
                    </option>
                  </select>
                  <input type="tel" class="form-control" id="otherPhone"
                         formControlName="otherPhone"
                         [ngClass]="{ 'is-invalid': f['contact_details'].get('otherPhone')?.invalid &&
                         (f['contact_details'].get('otherPhone')?.dirty ||
                         f['contact_details'].get('otherPhone')?.touched) }">
                </div>
                <div *ngIf="f['contact_details'].get('countryCodeSecondary')?.invalid && (f['contact_details'].get('countryCodeSecondary')?.dirty || f['contact_details'].get('countryCodeSecondary')?.touched)"
                     class="form-text text-danger" [ngClass]="{ 'is-invalid': ['submitted'] && f['contact_details'].get('countryCodeSecondary')?.errors }">
                  <div *ngIf="f['contact_details'].get('countryCodeSecondary')?.errors['required']">
                    {{ 'entities.country_code_required' | translate }}
                  </div>
                </div>
                <div *ngIf="f['contact_details'].get('otherPhone')?.invalid && (f['contact_details'].get('otherPhone')?.dirty || f['contact_details'].get('otherPhone')?.touched)" class="form-text text-danger">
                  <div *ngIf="f['contact_details'].get('otherPhone')?.errors['required']">
                    {{ 'entities.phone_number_required' | translate }}
                  </div>
                  <div *ngIf="f['contact_details'].get('otherPhone')?.errors['pattern']">
                    {{ 'entities.phone_number_format' | translate }} 715123456
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.email === 'Y'">
              <div class="col-sm-4">
                <label for="email" class="label col-form-label">{{ 'entities.email' | translate }}</label>
                <input type="email" nbInput fullWidth id="email" name="email" class="form-control" placeholder="Email" formControlName="email"
                       [ngClass]="{ 'is-invalid': f['contact_details'].get('email')?.invalid && (f['contact_details'].get('email')?.dirty || f['contact_details'].get('email')?.touched) }">
                <div *ngIf="f['contact_details'].get('email')?.invalid && (f['contact_details'].get('email')?.dirty || f['contact_details'].get('email')?.touched)" class="form-text text-danger">
                  <div *ngIf="f['contact_details'].get('email')?.errors['required']">
                    {{ 'entities.email_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header bg-transparent font-weight-bold">
          {{ 'entities.employment_details' | translate }}
        </div>
        <div class="card-body" formGroupName="employment_details">
          <div class="form-group row">
            <ng-container *ngIf="visibleStatus.departmentCode === 'Y'">
              <div class="col-sm-4">
                <label for="departmentCode" class="label col-form-label">{{ 'entities.department' | translate }}</label>
                <select id="departmentCode" class="form-select" formControlName="departmentCode"
                        [ngClass]="{ 'is-invalid': f['employment_details'].get('departmentCode')?.invalid && (f['employment_details'].get('departmentCode')?.dirty || f['employment_details'].get('departmentCode')?.touched) }">
                  <option value="" selected disabled>{{ 'entities.department' | translate }}</option>
                  <option *ngFor="let dep of departments " value="{{ dep.id }}">{{ dep.departmentName }}</option>
                </select>
                <div *ngIf="f['employment_details'].get('departmentCode')?.invalid && (f['employment_details'].get('departmentCode')?.dirty || f['employment_details'].get('departmentCode')?.touched)" class="form-text text-danger">
                  <div *ngIf="f['employment_details'].get('departmentCode')?.errors['required']">
                    {{ 'entities.department_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.manager === 'Y'">
              <div class="col-sm-4">
                <label for="manager" class="label col-form-label">{{ 'entities.supervisor' | translate }}</label>
                <div class="dropdown-wrapper">
                  <input type="text" id="manager" name="manager" class="form-control staff-supervisor-input" formControlName="manager"
                         [ngClass]="{ 'is-invalid': f['employment_details'].get('manager')?.invalid && (f['employment_details'].get('manager')?.dirty || f['employment_details'].get('manager')?.touched) }">
                  <i class="pi pi-angle-down position-absolute top-50 translate-middle-y staff-manager-dropdown-icon" data-bs-toggle="modal" data-bs-target="#supervisorsModal"></i>
                </div>

                <div *ngIf="f['employment_details'].get('manager')?.invalid && (f['employment_details'].get('manager')?.dirty || f['employment_details'].get('manager')?.touched)" class="form-text text-danger">
                  <div *ngIf="f['employment_details'].get('manager')?.errors['required']">
                    {{ 'entities.supervisor_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.branch === 'Y'">
              <div class="col-sm-4">
                <label for="branch" class="label col-form-label">{{ 'entities.branch' | translate }}</label>
                <select id="branch" class="form-select" formControlName="branch" name="branch"
                        [ngClass]="{ 'is-invalid': f['employment_details'].get('branch')?.invalid && (f['employment_details'].get('branch')?.dirty || f['employment_details'].get('branch')?.touched) }">
                  <option value="" selected disabled>{{ 'entities.branch' | translate }}</option>
                  <option *ngFor="let branch of branches " [ngValue]="branch.id">{{ branch.name }}</option>
                </select>
                <div *ngIf="f['employment_details'].get('branch')?.invalid && (f['employment_details'].get('branch')?.dirty || f['employment_details'].get('branch')?.touched)" class="form-text text-danger">
                  <div *ngIf="f['employment_details'].get('branch')?.errors['required']">
                    {{ 'entities.branch_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.personelRank === 'Y'">
              <div class="col-sm-4">
                <label for="personelRank" class="label col-form-label">{{ 'entities.personnel_rank' | translate }}</label>
                <input type="text"  nbInput fullWidth id="personelRank" name="personelRank" placeholder="Personel Rank" class="form-control" formControlName="personelRank"
                       [ngClass]="{ 'is-invalid':f['employment_details'].get('personelRank')?.invalid && (f['employment_details'].get('personelRank')?.dirty || f['employment_details'].get('personelRank')?.touched) }">
                <!--                             [ngClass]="{'form-control-danger': staffRegistrationForm.invalid && (staffRegistrationForm.dirty || staffRegistrationForm.touched)}"-->
                <div *ngIf="f['employment_details'].get('personelRank')?.invalid && (f['employment_details'].get('personelRank')?.dirty || f['employment_details'].get('personelRank')?.touched)" class="form-text text-danger">
                  <div *ngIf="f['employment_details'].get('personelRank')?.errors['required']">
                    {{ 'entities.personnel_rank_required' | translate }}
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <button (click)="onSubmit()" class="btn btn-lg btn-primary rounded-1 px-5 float-end">
      {{ 'entities.save' | translate }}
    </button>
  </form>
</div>

<div class="modal fade" id="supervisorsModal" tabindex="-1" role="dialog" aria-labelledby="supervisorsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title fs-5 header" id="supervisorsModalTitle">{{ 'entities.select_supervisor' | translate }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <input type="search" name="searchUsername" id="searchUsername" placeholder="Username" [(ngModel)]="usernameFilter"  [ngModelOptions]="{standalone: true}"
               class="border border-1 border-secondary rounded-1 w-50 h-auto">
        <input type="search" name="searchName" id="searchName" placeholder="Full Name" [(ngModel)]="listFilter"  [ngModelOptions]="{standalone: true}"
               class="border border-1 border-secondary rounded-1 w-50 h-auto">
        <p-table (onLazyLoad)="lazyLoadAllUsers($event)"
                 [lazy]="true"
                 [rowHover]="true"
                 [scrollable]="true"
                 [paginator]="true"
                 [rows]="staffSize"
                 [totalRecords]="viewUsers?.totalElements"
                 [value]="viewUsers?.content"
                 [tableStyle]="{ 'width.%': 100 }"
                 sortMode="single"
                 selectionMode="single"
                 [(selection)]="selectedUser"
                 dataKey="id"
                 styleClass="p-datatable-gridlines users"
                 responsiveLayout="scroll" class='ui-datatable'
                 (onRowSelect)="onSupervisorSelect($event)">
          <ng-template pTemplate="header">
            <tr >
              <th class="supervisors-table-head">{{ 'entities.username' | translate }}</th>
              <th class="supervisors-table-head">{{ 'entities.full_names' | translate }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-viewUsers>
            <tr [pSelectableRow]="viewUsers">
              <td class="body" style="width: 50%">{{viewUsers?.username | titlecase}}</td>
              <td class="body" style="width: 50%">{{viewUsers?.name | titlecase}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="9">{{ 'entities.no_users_found' | translate }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="modal-footer d-block border-top-0">
        <button class="btn btn-outline-primary float-end reassign supervisors-bottom-btn" aria-label="Save" (click)="saveSelectedSupervisor()">
          {{ 'entities.save' | translate }}
        </button>
        <button class="btn btn-primary cancelBtn supervisors-bottom-btn float-end" data-bs-dismiss="modal" aria-label="Close"
                #cancelSupervisorSelection>
          {{ 'entities.cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

