<form [formGroup]="activityDetailForm">
  <div class="col-12">
    <label for="leadActivity">{{ "entities.lead_activity" | translate }}</label>
    <p-multiSelect
      [options]="unassignedActivities"
      optionValue="id"
      [filter]="true"
      optionLabel="subject"
      id="activity"
      formControlName="activity"
      [style]="{ width: '100%', height: '55%' }"
      placeholder="Lead Activity"
    ></p-multiSelect>
  </div>
</form>
<div class="modal-footer border-0 mt-1">
  <button
    type="button"
    class="btn btn-primary"
    id="update-details"
    (click)="updateDetails()"
  >
    {{ "entities.update_details" | translate }}
  </button>
</div>
