.nav-link.active {
  color: blue !important;
}
/* Custom styling for selected checkbox */
.custom-checkbox:checked {
background-color: #007bff; /* Bootstrap primary blue */
border-color: #007bff;
}
.checkbox-column {
width:30px; /* Adjust this width as needed */
text-align: center;
}

.custom-header {
background-color: #BAD0E4;
color: white;
text-align: left; /* Optional: aligns text to the left */
padding-left: 8px; /* Optional: reduces padding for a tighter layout */

}
.btn-light i.pi.pi-ellipsis-v {
font-size: 1.2rem;
}

.dropdown-menu {
min-width: 120px;
}

::ng-deep .p-menu {
z-index: 1000 !important;
}
.custom-button {
color: #007ad9; /* Customize color */
border: none;
}

.memo{
width:20px;
}
/*   Styles */
.hidden-print-field {
  display: none; /* Hidden on the screen */
}

/* Show the hidden fields during printing */
@media print { 
  .hidden-print-field { 
    display: block;
  }
} 
/* Scrollable content container inside the receipting component */
.scroll-container {
max-height: 70vh; /* Adjust based on your layout */
overflow-y: auto;
padding: 15px;
background-color: #f8f9fa; /* Light background for better contrast */
border-radius: 8px;
border: 1px solid #dee2e6;
}

/* Hide scrollbar track for cleaner look */
.scroll-container::-webkit-scrollbar {
width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
background-color: #6c757d;
border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
background-color: #495057;
}