.card-header {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: #000000;
  border-bottom: none;
}

.icon-circle {
  display: inline-block;
  background-color: #e4e7eb;
  color: #00529b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

::ng-deep .p-tabview ul {
  padding-left: 0;
}

::ng-deep .p-tabview .p-tabview-nav {
  border: none;
  border-width: none;
  font-size: 14px;
}

::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  font-size: 14px;
}

.light-bold {
  font-weight: 500;
}

.custom-table {
  cursor: pointer;
}

.custom-table.selected {
  background-color: #c8c7cc;
}

@media (max-width: 576px) {
  .card-body {
    padding: 10px;
  }
}
