* {
  /* for every element */
  /* font-family: Roboto; */
  font-style: normal;
  /* font-size: 16px; */
}
.main {}

.container {
    width: 1216px;
    min-height: 785px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
}
.view-more-link {
  cursor: pointer;
  color: #00529B;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.custom-red-button {
  color: transparent;
  background-color: transparent;
  border: none;
}

.custom-red-button::before {
  content: "X";
  color: #EE3945;
  width: 20px;
  height: 20px;
  flex-shrink: 0;

}

.td-label {
  color: rgba(0, 0, 0, 0.50);
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.td-label-data {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#table-alignment {
  padding-left: 10px;
}

.back-button {
  display: inline-flex;
  height: 40px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #00529B;
  margin-left: 37px;
  margin-top: 8px;
}

.back-button:hover {
  background-color: #e2eef8;
  border: 1px solid #037de7;
}

.back-text {
  color: #00529B;
}

.accordion-item {
  border-top: none;
  border-left: none;
  border-right: none;
}

.accordion-button {
  border: none;
  outline: none;
  box-shadow: none;
}

.accordion-button {
  border-radius: 0;
}

.accordion-button {
  padding: 1rem;
  margin: 0;
}

.accordion-button:hover {
  background-color: transparent;
}

.accordion-header {
    color: #00529B;
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hidden-elements {
  display: none;
  text-align: center;
}

.hiper-link:hover .hidden-elements {
  display: inline-block;
}

td {
  padding-left: 20px;
}
