/* ::ng-deep tr.ng-star-inserted {
  border-bottom: solid 1px #eee;
  font-size: 12px;
} */

/* .page-header {
  font-size: 14px;
  font-weight: 900;
} */

.caret {
  border-radius: 10%;
  border: solid 1px var(--primary-color);
}
