<div class="base-side-nav" style="margin: 0; padding: 0rem 0 0 0;">
    <div class="flex-shrink-0 bg-white">
        <ul style="list-style: none; margin: 0px; padding-left: 0px; ">
            <li class="mb-1" >
                <button class="btn btn-toggle align-items-center rounded collapsed" aria-expanded="true" routerLink="/home/dashboard">

                    <span class="menu-title">
                      <i class="fa-solid fa-house" style="font-size: 22px; padding-right: 6px;"></i>
                        Home
                    </span>
                </button>

            </li>

            <ng-container *ngFor="let item of sidebarMainMenuList; let i=index">
              <li class="mb-1">
                <button (click)="clickURL(item?.link)" class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + item.nameSlug" [attr.aria-expanded]="false">
                  <span class="menu-title">
                    <i class="{{item.icon}}" style="font-size: 22px; padding-right: 6px;"></i> {{ item.name }}
                  </span>
                </button>
                <div  class="collapse" [id]="item.nameSlug">
                  <ul *ngIf="item.menuItems?.length > 0" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li *ngFor="let menuItem of item.menuItems"><a (click)="clickURL(menuItem.link)" class="link-dark rounded">{{ menuItem.name }}</a></li>
                  </ul>
                </div>
              </li>
            </ng-container>

          </ul>
    </div>
</div>
