.base-container .base-side-nav .btn {
  color: #00529B!important;
  font-weight: bold;
}

.base-container .base-side-nav .btn .menu-title {
  margin-left: 10px;
}

.base-container .base-side-nav .btn-toggle-nav li {
  margin-left: 45px;
  margin-bottom: 10px;
}

.base-container .base-side-nav .btn-toggle-nav li a:link{
  text-decoration: none;
}



.base-side-nav {
  width: 15%;
  min-height: 90vh;
  padding: 10px;
  border-right: solid 1px #eee;
}

.base-content {
  width: 85%;
  min-height: 90vh;
  background: #f5f6f8;
}
