.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  animation-duration: 1s;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.input-group-text span {
  background: #fff;
}

.input-group-text:hover, .input-group-text span:hover {
  background: #00529b;
}


.entity {
  padding: 3rem 0 0;
  margin: 1rem 2rem;
  border-bottom: solid 1px;
  border-radius: 20px;
}

.tenant:hover, .entity:hover {
  cursor: pointer;
  border: solid 1px gray;
  border-radius: 20px;
  font-weight: bold;
  transition: border-radius 500ms;
}