<app-spinner *ngIf="isLoading"></app-spinner>
<div>

  <div class="card-body">
    <div class="mb-3">
      <span class="logo-lg">
        <img src="assets/images/turnkey-logo.png" alt="hostlogo">
      </span>
    </div>
    <!-- title-->
    <h4 class="login-text mb-3">{{ 'auth.login' | translate }}</h4>
    <p class="text-muted mb-3">{{ 'auth.enter_email_and_pass' | translate }}</p>

    <div *ngIf='errorOccurred '>
      <app-error [message]='errorMessage'appHideMessage></app-error>
    </div>
    <!-- form -->
    <form [formGroup]='loginForm' novalidate>
      <div class="form-group mb-3" controlHasError controlRequiredAsterisk>
        <label for="emailAddress" class="form-label">{{ 'auth.email_address' | translate }}</label>
        <input type="email" class="form-control" id="emailAddress" placeholder="{{ 'Email' }}" formControlName='username'>
      </div>
      <div class="form-group mb-3" controlHasError controlRequiredAsterisk>
        <a class="text-muted float-end" routerLink="./forgot-password"><small>{{ 'auth.forgot_password' | translate }}</small></a>
        <label for="password" class="form-label" i18n='Password|Auth Password Input@@authPasswordInput'>{{ 'auth.password' | translate }}</label>
        <div class="input-group input-group-merge">
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            class='form-control'
            id='password'
            placeholder='Password'
            formControlName='password'
          />
          <div class="input-group-append" data-password="false">
            <div class="input-group-text border-radius-none">
              <span>
                <i class="fa fa-eye text-dark"
                   [class.fa-eye-slash]="showPassword" (click)="togglePasswordVisibility()"
                ></i>
              </span>
            </div>
          </div>
        </div>
        <ng-container *controlErrorContainer></ng-container>
      </div>
      <div class="form-group mb-3 form-check">
        <input type="checkbox" class="form-check-input form-label" name="rememberMe"  id="rememberMe" formControlName="rememberMe">
        <label class="form-check-label form-label" for="rememberMe">{{ 'auth.remember_me' | translate }}</label>
      </div>
      <div class="mb-3">
        <button [disabled]="isTenantIdPresent()" type="submit"
                id="login-submit"
                [ngClass]="isTenantIdPresent()? '': 'btn-primary'"
                class="btn btn-full-width fadeIn"
                (click)='authAttempt()'
                i18n='Login|Auth Login Action@@authLoginActionBtn'>
                {{ 'auth.login' | translate }}
        </button>
      </div>
    </form>
  </div> <!-- end .card-body -->

  <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="close" data-ds-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="assets\images\Vector.png" alt="danger" id="expiry-warning-image">
          <p> {{ expiryMessage }} , kindly change the password
            or cancel to continue
          </p>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="bttn can" data-ds-dismiss="modal">Cancel</button>
          <button id="reset-password" type="button" class="bttn res" (click)="resetPassword()">Reset Password</button>
        </div>
      </div>
    </div>
  </div>
  <app-copyright-footer></app-copyright-footer>
</div>
