.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  animation-duration: 1s;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.input-group-text span {
  background: #fff;
}

.input-group-text:hover, .input-group-text span:hover {
  background: #00529b;
}


.entity {
  padding: 3rem 0 0;
  margin: 1rem 2rem;
  border-bottom: solid 1px;
  border-radius: 20px;
}

.tenant:hover, .entity:hover {
  cursor: pointer;
  border: solid 1px gray;
  border-radius: 20px;
  font-weight: bold;
  transition: border-radius 500ms;
}

@keyframes onAutoFillStart {
  from {/**/}
  to {/**/}
}

input:-webkit-autofill {
  animation-name: onAutoFillStart;
  animation-duration: 1ms;
}

.is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.error-message {
  display: block;
  width: 100%;
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  text-align: left;
  padding-left: 0.25rem;
}

.form-group {
  margin-bottom: 1.5rem !important; /* Ensures consistent spacing between form groups */
}
