<!-- mobile nav -->
<div class="content-nav">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" id="mobile-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <span class="d-none">Navbar</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li
            class="nav-item"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
          >
            <a
              class="nav-link active"
              aria-current="page"
              href="javascript:void(0)"
              routerLink="/home/lms/grp/dashboard/dashboard-screen"
            >
              <i
                class="fa-solid fa-house-chimney"
                style="padding-right: 6px"
              ></i>
              {{ "base.dashboard" | translate | uppercase }}
            </a>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              routerLink="/home/lms/grp/dashboard/member-service-request"
              style="font-size: 12px"
            >
              <i
                class="fa-solid fa-solid fa-server"
                style="padding-right: 6px; font-size: 16px"
              ></i>
              {{ "base.service_requests" | translate | uppercase }}
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="font-size: 12px"
              routerLink="/home/lms/grp/downloads/member-downloads"
            >
              <i
                class="fa-solid fa-solid fa-download"
                style="padding-right: 6px; font-size: 16px"
              ></i>
              {{ "base.downloads" | translate | uppercase }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- desktop nav -->
<div class="content-nav">
  <nav
    class="navbar navbar-expand-lg bg-body-tertiary fadeIn"
    style="border-bottom: 1px solid #00539b14"
    id="desktop-nav"
  >
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/home/lms/grp/dashboard/dashboard-screen"
              style="font-size: 12px"
            >
              <i
                class="fa-solid fa-house-chimney"
                style="padding-right: 6px"
              ></i>
              {{ "base.dashboard" | translate | uppercase }}
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              routerLink="/home/lms/grp/dashboard/member-service-request"
              style="font-size: 12px"
            >
              <i
                class="fa-solid fa-solid fa-server"
                style="padding-right: 6px; font-size: 16px"
              ></i>
              {{ "base.service_requests" | translate | uppercase }}
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="font-size: 12px"
              routerLink="/home/lms/grp/downloads/member-downloads"
            >
              <i
                class="fa-solid fa-solid fa-download"
                style="padding-right: 6px; font-size: 16px"
              ></i>
              {{ "base.downloads" | translate | uppercase }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
