<div class="base-content-section lms">
    <div class="fw-medium col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-stepper [currentStep]="1" [stepperData]="steps"></app-stepper>
    </div>

    <!-- Claim Initiation -->
    <div class="row">
        <div class="col-sm-12">
            <div class="full-border" style="position: relative">
                <!-- Title -->
                <div
                class="transactions d-flex justify-content-center fw-medium"
                style="font-size: 1.25rem; padding-bottom: 1rem;"
                >
                    {{ "Claims" }}
                </div>

                <!-- Initialtion Elements -->
                <div class="row g-3">
                    <div class="fw-medium" style="font-size: 1.25rem;">Client details</div>
                    <div class="col-lg-4 col-md-6">
                        <label for="policySelection" class="quote-label text-black fw-medium" style="font-size:1rem;"
                          >Policy</label
                        >
                        <select
                          class="form-select form-select mb-1 w-75"
                          id="policySelection"
                          placement="right"
                        >
                          <option selected="true" disabled="disabled"></option>
                          <option
                            *ngFor="let data of [] | sort : 'asc' : 'nationality'"
                            [value]="data.id"
                          >
                            {{ data?.nationality | titlecase }}
                          </option>
                        </select>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <label for="policyHolderSelection" class="quote-label text-black fw-medium" style="font-size:1rem;"
                          >Policy holder</label
                        >
                        <select
                          class="form-select form-select mb-1 w-75"
                          id="policyHolderSelection"
                          placement="right"
                        >
                          <option selected="true" disabled="disabled"></option>
                          <option
                            *ngFor="let data of [] | sort : 'asc' : 'nationality'"
                            [value]="data.id"
                          >
                            {{ data?.nationality | titlecase }}
                          </option>
                        </select>
                      </div>

                      <div class="col-lg-4 col-md-6">
                        <label for="claimType" class="quote-label text-black fw-medium" style="font-size:1rem;"
                          >Claim type</label
                        >
                        <select
                          class="form-select form-select mb-1 w-75"
                          id="claimType"
                          placement="right"
                        >
                          <option selected="true" disabled="disabled"></option>
                          <option
                            *ngFor="let data of [] | sort : 'asc' : 'nationality'"
                            [value]="data.id"
                          >
                            {{ data?.nationality | titlecase }}
                          </option>
                        </select>
                      </div>
                </div>
            </div>

           
        </div>
    </div>
</div>
