<div class="base-content-section">
  <div class="row">
    <div class="col-8">
      <app-dynamic-breadcrumb [breadCrumbItems]="[
      {
        label: 'Administration',
        url: '/home/crm'
      },
      {
        label: 'CRM Setups',
        url: '/home/crm',
      },
      {
        label: 'Service Desk Request',
        url: '/home/crm/service-desk'
      },
      {
        label: 'Request Tracking',
        url: '/home/crm/request-tracking'
      }
    ]">
      </app-dynamic-breadcrumb>
    </div>
    <div class="card border-0">
      <div class="card-header bg-transparent float-start border-bottom-0">

        <form [formGroup]="requestTrackingSortingForm">
          <div class="row mb-3">
            <div class="col-sm-12 d-flex justify-content-lg-start">
              <h6 class="my-3 fw-semibold">{{'serviceDesk.serviceRequestTracking' | translate}}</h6>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
              <label class="float-start">{{ 'serviceDesk.requestStatus' | translate }}:</label><br>
              <select class="form-select"  formControlName="status" (change)="requestTrackingFilters()">
                <option *ngFor="let status of mainStatusData"
                        [value]="status | titlecase">{{status | titlecase}}</option>
              </select>
            </div>

            <div class="col-lg-2 col-sm-6 col-6">
              <label class="float-start">{{ 'serviceDesk.requestOwner' | translate }}: </label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  formControlName="owner"
                  value="{{ selectedMainUser?.name }}"
                  id="owner"
                  readonly
                />
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon2"
                  (click)="openAllUsersModal()"
                >
                  <i class="fa-solid fa-angle-double-down"></i>
                </button>
              </div>
            </div>

            <div class="col-lg-2 col-sm-6 col-6">
              <label class="float-start">{{ 'serviceDesk.accType' | translate }}: </label>
              <select class="form-select" formControlName="accountType" (change)="requestTrackingFilters()">
                <option *ngFor="let accType of requestAccTypesData"
                        [value]="accType">{{accType}}</option>
              </select>
            </div>

            <div class="col-lg-2 col-sm-6 col-6" *ngIf="requestTrackingSortingForm.get('accountType').value">
              <label class="float-start">Select entity: </label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  formControlName="owner"
                  value="{{ selectedMainUser?.name }}"
                  id="owner"
                  readonly
                />
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon"
                  (click)="openAllUsersModal()"
                >
                  <i class="fa-solid fa-angle-double-down"></i>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>
      <div class="card-body p-0">

        <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
        <p-table
          #requestTrackingTable
          (onLazyLoad)="fetchServiceRequests($event)"
          [lazy]="true"
          [autoLayout]="true"
          [paginator]="true"
          [rowHover]="true"
          [resizableColumns]="true"
          [showCurrentPageReport]="true"
          [rows]="pageSize || 10"
          [totalRecords]="requestTrackingData?.totalElements"
          [value]="requestTrackingData.content"
          [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
          responsiveLayout="stack"
          [scrollable]="true"
          selectionMode="single"
          dataKey="code"
          scrollHeight="400px"
          currentPageReportTemplate="{first} - {last} of {totalRecords}"
          [globalFilterFields]="['campaign.campaignName']"
        >

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="campaign.campaignName">{{'serviceDesk.accountName'| translate }} <p-sortIcon field="campaign.campaignName"></p-sortIcon></th>
              <th pSortableColumn="campaign.objective">{{'serviceDesk.requestType'| translate }} <p-sortIcon field="campaign.objective"></p-sortIcon></th>
              <th pSortableColumn="campaign.description">{{'serviceDesk.source'| translate }} <p-sortIcon field="campaign.description"></p-sortIcon></th>
              <th pSortableColumn="campaign.campaignName">{{'serviceDesk.description'| translate }} <p-sortIcon field="campaign.campaignName"></p-sortIcon></th>
              <th pSortableColumn="campaign.objective">{{'serviceDesk.policyNumber'| translate }} <p-sortIcon field="campaign.objective"></p-sortIcon></th>
              <th pSortableColumn="campaign.description">{{'serviceDesk.creationDate'| translate }} <p-sortIcon field="campaign.description"></p-sortIcon></th>
              <th pSortableColumn="campaign.campaignName">{{'serviceDesk.summary'| translate }} <p-sortIcon field="campaign.campaignName"></p-sortIcon></th>
              <th pSortableColumn="campaign.objective">{{'serviceDesk.dueDate'| translate }} <p-sortIcon field="campaign.objective"></p-sortIcon></th>
              <th pSortableColumn="campaign.description">{{'serviceDesk.status'| translate }} <p-sortIcon field="campaign.description"></p-sortIcon></th>
              <th pSortableColumn="campaign.campaignName">{{'serviceDesk.assignee'| translate }} <p-sortIcon field="campaign.campaignName"></p-sortIcon></th>
              <th pSortableColumn="campaign.objective">{{'serviceDesk.closedByAssignee'| translate }} <p-sortIcon field="campaign.objective"></p-sortIcon></th>
              <th pSortableColumn="campaign.description">{{'serviceDesk.closedByInitiator'| translate }} <p-sortIcon field="campaign.description"></p-sortIcon></th>
              <th pSortableColumn="campaign.campaignName">{{'serviceDesk.communicationMode'| translate }} <p-sortIcon field="campaign.campaignName"></p-sortIcon></th>
              <th pSortableColumn="campaign.objective">{{'serviceDesk.referenceNumber'| translate }} <p-sortIcon field="campaign.objective"></p-sortIcon></th>
              <th pSortableColumn="campaign.description">{{'serviceDesk.comments'| translate }} <p-sortIcon field="campaign.description"></p-sortIcon></th>
              <th pSortableColumn="campaign.campaignName">{{'serviceDesk.shortDescription'| translate }} <p-sortIcon field="campaign.campaignName"></p-sortIcon></th>
              <th pSortableColumn="campaign.objective">{{'serviceDesk.physicalAddress'| translate }} <p-sortIcon field="campaign.objective"></p-sortIcon></th>
              <th pSortableColumn="campaign.description">{{'serviceDesk.email'| translate }} <p-sortIcon field="campaign.description"></p-sortIcon></th>
              <th pSortableColumn="campaign.campaignName">{{'serviceDesk.solutionSMSNumber'| translate }} <p-sortIcon field="campaign.campaignName"></p-sortIcon></th>
              <th pSortableColumn="campaign.objective">{{'serviceDesk.owner'| translate }} <p-sortIcon field="campaign.objective"></p-sortIcon></th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-requestTracking>
            <tr class="custom-table">
              <td>
<!--                not-->
              </td>
              <td>{{requestTracking?.requestType | titlecase}}</td>
              <td>not</td>
              <td>
                <span title="{{requestTracking?.desc}}">
                    {{requestTracking?.desc.substring(0,10) | titlecase}}...
                  </span>
              </td>
              <td>{{requestTracking?.policyNo}}</td>
              <td>{{requestTracking?.captureDate}}</td>
              <td>
                <span title="{{requestTracking?.summary}}">
                    {{requestTracking?.summary.substring(0,10) | titlecase}}...
                </span>
              </td>
              <td>{{requestTracking?.dueDate | date: 'dd-MM-yyyy'}}</td>
              <td>{{requestTracking?.mainStatus}}</td>
              <td>{{requestTracking?.assignee}}</td>
              <td>{{requestTracking?.closedBy}}</td>
              <td>{{requestTracking?.initiator}}</td>
              <td>{{requestTracking?.communicationMode}}</td>
              <td>{{requestTracking?.refNumber}}</td>
              <td>
                <span title="{{requestTracking?.comments}}" *ngIf="requestTracking?.comments != null && requestTracking?.comments != ''">
                    {{requestTracking?.comments.substring(0,10) | titlecase}}...
                </span>
              </td>
              <td>
<!--                not-->
              </td>
              <td>
<!--                not-->
              </td>
              <td>
<!--                not-->
              </td>
              <td>
<!--                not-->
              </td>
              <td>{{requestTracking?.ownerCode}}</td>
              <td (click)="viewRequest(requestTracking)">
                <i class="fa-regular fa-eye" style="font-size: 17px; cursor: pointer; color: #00529b"></i>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="20">No Service Request Tracking Detail(s) Found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<!--Request tracking modal-->
<div class="modal fade" #requestTrackingModal id="requestTrackingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{'serviceDesk.serviceRequest' | translate}}</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeServiceRequestTrackingModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="requestTrackingForm">
          <div class="row my-3">
            <div class="col-md-6 mb-3">
              <label for="categoryType" class="form-label">Request category type</label>
              <input
                type="text"
                class="form-control"
                id="categoryType"
                formControlName="categoryType"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="requestIncidence" class="form-label">Request incidence</label>
              <input
                type="text"
                class="form-control"
                id="requestIncidence"
                formControlName="requestIncidence"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="requestSource" class="form-label">Request source</label>
              <input
                type="text"
                class="form-control"
                id="requestSource"
                formControlName="requestSource"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="accType" class="form-label">Account type</label>
              <input
                type="text"
                class="form-control"
                id="accType"
                formControlName="accType"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="acc" class="form-label">Account</label>
              <input
                type="text"
                class="form-control"
                id="acc"
                formControlName="acc"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="summary" class="form-label">Summary</label>
              <input
                type="text"
                class="form-control"
                id="summary"
                formControlName="summary"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="requestDate" class="form-label">Request date</label>
              <input
                type="text"
                class="form-control"
                id="requestDate"
                formControlName="requestDate"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="dueDate" class="form-label">Due date</label>
              <input
                type="text"
                class="form-control"
                id="dueDate"
                formControlName="dueDate"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="desc" class="form-label">Description</label>
              <input
                type="text"
                class="form-control"
                id="desc"
                formControlName="desc"
              />
            </div>
            <div class="col-md-6" mb-3>
              <label for="assignee" class="form-label">Assignee</label>
              <input
                type="text"
                class="form-control"
                id="assignee"
                formControlName="assignee"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="owner" class="form-label">Owner</label>
              <input
                type="text"
                class="form-control"
                id="owner"
                formControlName="owner"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="ownerAccType" class="form-label">Owner acc type</label>
              <input
                type="text"
                class="form-control"
                id="ownerAccType"
                formControlName="ownerAccType"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="status" class="form-label">Status</label>
              <input
                type="text"
                class="form-control"
                id="status"
                formControlName="status"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="resDate" class="form-label">Resolution date</label>
              <input
                type="text"
                class="form-control"
                id="resDate"
                formControlName="resDate"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="solution" class="form-label">Solution</label>
              <input
                type="text"
                class="form-control"
                id="solution"
                formControlName="solution"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="comments" class="form-label">Comments</label>
              <input
                type="text"
                class="form-control"
                id="comments"
                formControlName="comments"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal for Listing all users !-->
<app-dynamic-simple-modal
  [modalVisible]="allUsersModalVisible"
  [modalButtonLabel]="'Okay'"
  [showModalButtons]="true"
  [useDynamicContent]="true"
  [modalTitle]="'Users'"
  [zIndex]="1"
  (actionEmitter)="processSelectedUser($event)">
  <div modal-body-content>
    <app-staff-modal
      [accountType]="'USER'"
      (userSelected)="getSelectedUser($event)"
    >
    </app-staff-modal>
  </div>
</app-dynamic-simple-modal>

<!--Modal for Listing all users !-->
<!--<app-dynamic-simple-modal
  [modalVisible]="allUsersModalVisible"
  [modalButtonLabel]="'Okay'"
  [showModalButtons]="true"
  [useDynamicContent]="true"
  [modalTitle]="'Users'"
  [zIndex]="1"
  (actionEmitter)="processSelectedUser($event)">
  <div modal-body-content>
    <app-staff-modal
      [accountType]="requestTrackingSortingForm.get('accountType').value"
      (userSelected)="getSelectedUser($event)"
    >
    </app-staff-modal>
  </div>
</app-dynamic-simple-modal>-->
