<div class="main">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <app-stepper [currentStep]="3" [stepperData]="steps"></app-stepper>
        </div>
    </div>
    <div class="container">
        <div><span class="title">{{ "lms.grp.claims.policy_details" | translate }}</span></div>
        <div class="row col-12" style="color: black;">
            <div class="col-md-4 col-xs-12 col-sm-12">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.policy_number" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimPolicyDetails[0]?.policy_number	 }}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.effective_date" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimPolicyDetails[0]?.effective_date | date: 'yyyy-MM-dd' : 'UTC' }}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.branch" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimPolicyDetails[0]?.branch_display | titlecase }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.group_name" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimPolicyDetails[0]?.client_display | titlecase }}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.with_effect_to" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimPolicyDetails[0]?.cover_to_date | date: 'yyyy-MM-dd' : 'UTC'  }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.inception_date" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimPolicyDetails[0]?.inception_date | date: 'yyyy-MM-dd' : 'UTC'  }}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.product" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimPolicyDetails[0]?.product_description | titlecase }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="margin-top: 40px;"><span class="title">{{ "lms.grp.claims.claim_information" | translate }}</span>
        </div>
        <div class="row col-12" style="color: black;">
            <div class="col-md-4 col-xs-12 col-sm-12">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.claim_number" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimInformation[0]?.claim_number }}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.causation_type" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimInformation[0]?.cause_description | titlecase }}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.incident_location" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimInformation[0]?.death_location | titlecase }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.claimed_amount" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimInformation[0]?.amount_claimed | number }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.member_name" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimInformation[0]?.member_name	 | titlecase }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.initiator" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimInformation }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.claim_report_date" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimInformation[0]?.date_reported | date: 'yyyy-MM-dd' : 'UTC'  }}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.causation_cause" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimInformation[0]?.ddc_description	 | titlecase }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.reserve_amount" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimInformation[0]?.reserve_amount | number }}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.but_pay_amount" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimInformation}}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.member_number" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimInformation[0]?.member_number	 }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.claim_status" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimInformation[0]?.status }}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.death_date" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimInformation[0]?.date_of_accident | date: 'yyyy-MM-dd' : 'UTC' }}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.but_pay_reason" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimInformation }}</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.age" | translate }}: </td>
                        <td style="width: 50%; align-items: right;">{{ claimInformation[0]?.death_disability_age }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="containe" style="margin-top: 40px;">
            <div class="row">
                <div *ngFor="let cover of claimCoverTypes" class="col-md-4 col-sm-12 mb-4">
                    <div>
                        <span class="title">{{ "lms.grp.claims.cover_types" | translate }}</span>&nbsp;
                        <i class="pi pi-pencil" (click)="toggleFormVisibility()"></i>
                    </div>
                    <div><span style="color: black;">{{ cover.cover_type_description | titlecase }}</span></div>

                    <div class="row" style="color: black;">
                        <div class="col-12">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.sum_assured" | translate }}:</td>
                                    <td style="width: 50%; align-items: right;">{{ cover.sum_assured | number }}</td>
                                </tr>
                                <tr>
                                    <td style="width: 50%; align-items: left; color: grey;">{{ "lms.grp.claims.reserved_amount" | translate }}:</td>
                                    <td style="width: 50%; align-items: right;">{{ cover.earnings | number }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="isFormVisible">
            <form [formGroup]="coverDetailsForm" class="">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label for="claimableAmount" style="color: black;">
                                {{ "lms.grp.claims.claimable_amount" | translate }}
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="text" pInputText class="form-control" id="claimableAmount"
                                   [style]="{ width: '100%' }"
                                   [value]="coverDetailsForm.get('claimableAmount')?.value | number: '1.0-0'"
                                   [disabled]="true">
                        </div>
                    </div>
                    


                    <!-- But Pay Amount Field -->
                    <div class="col-md-4">
                        <div>
                            <label for="butPayAmount" style="color: black;">{{ "lms.grp.claims.but_pay_amount" |
                                translate }}</label>
                        </div>
                        <div class="form-group">
                            <input type="number" pInputText class="form-control" id="butPayAmount"
                                [style]="{ width: '100%' }" formControlName="butPayAmount">
                        </div>
                    </div>

                    <!-- Reason Field -->
                    <div class="col-md-4">
                        <div>
                            <label for="reason" style="color: black;">{{ "lms.grp.claims.reason" | translate }}</label>
                        </div>
                        <div class="form-group">
                            <input type="text" pInputText class="form-control" id="reason" [style]="{ width: '100%' }"
                                formControlName="reason">
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <!-- Payee Dropdown -->
                    <div class="col-md-4">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label for="payee" style="color: black;">{{ "lms.grp.claims.payee" | translate }}
                                <span style="color: red;">*</span>
                            </label>
                            <select class="form-select" id="payee" formControlName="payee">
                                <option selected="true" disabled="disabled"></option>
                                <option *ngFor="let payee of payee$ | async" [value]="payee.name">{{ payee.value | titlecase }}</option>
                            </select>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="col-md-8 d-flex align-items-end justify-content-end">
                        <button type="submit" class="inv-button" [style]="{ width: '25%' }" (click)="onSubmitClaimCovDetailsForm()">
                            {{ "lms.grp.claims.submit" | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-end" style="margin-top: 10px;">
        <div class="inv-container mb-2 mb-md-0 me-md-2">
            <button class="inv-button w-100 text-nowrap">
                <span class="share-text">{{ "lms.grp.claims.investigate_claim" | translate }}</span>
            </button>
        </div>

        <div class="proceed">
            <button class="proceed-button w-100 text-nowrap">
                <span class="proceed-text">{{ "lms.grp.claims.proceed_without_investigation" | translate }}</span>
            </button>
        </div>
    </div>


</div>