.main {
    background: #F5F6F8;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px;
  }
  
  .container {
    background: #FFF;
    border: 1px solid rgba(220, 220, 220, 0.85);
    border-radius: 5px;
    flex: 1;
    padding: 48px;
  }

  .title {
    font-size: 16px;
    font-weight: 500;
    font-style: Roboto;
  }

  /* styling edit pencil */
.pi.pi-pencil {
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .pi.pi-pencil:hover {
    color: #007bff;
    animation: shake 0.5s ease 1;
  }

  .proceed-button {
    display: inline-flex;
    height: 40px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #00529B;
    float: right;
}

.proceed-button:hover {
    background-color: #459fee;
}

.inv-button {
    display: inline-flex;
    height: 40px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #00529B;
    float: right;
    color: #00529B;
}

.proceed-text {
    color: #FFF;
    /* leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; */
}

.share-text {
    color: #00529B;
    /* leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; */
}

  