.main {
    background: #F5F6F8;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px;
  }
  
  .container {
    background: #FFF;
    border: 1px solid rgba(220, 220, 220, 0.85);
    border-radius: 5px;
    flex: 1;
    padding: 48px;
  }

  .title {
    font-size: 16px;
    font-weight: 500;
    font-style: Roboto;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
  }
  
  button {
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
  }
  
  button.review-claim {
    background-color: #00529B;
    color: #FFFFFF;
    border-color: #00529B;
  }
  
  button.review-claim:hover {
    background-color: #65b2f5;
  }

  /* CSS for X button, to close modal */
 .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-red-button {
  color: transparent;
  background-color: transparent;
  border: none;
}

.custom-red-button::before {
  content: "X";
  color: #EE3945;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

/* End of CSS for X button, to close modal */

.modal-header,
.modal-footer {
  border: none;
  /* Removes the border between header/footer and body of modal */
}
