<label class="text-primary mb-3 fw-medium">{{'mngt_wrkflw.claimDetails.claimDetails' | translate }}</label>
<div class="row">
  <div class="col-sm-4">
    <p>
      <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.claimNo' | translate }}.:</label>
      <span class="ticketDesc">{{ selectedSpringTickets?.ticket?.claimNo}}</span>
    </p>
    <p>
      <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.insured' | translate }}:</label>
      <span class="ticketDesc">{{ selectedSpringTickets?.clientName | titlecase}}</span>
    </p>
    <p>
      <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.riskWEF' | translate }}:</label>
      <span class="ticketDesc">{{ claim?.risk_wef }}</span>
    </p>
    <p>
      <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.nextReviewDate' | translate }}:</label>
      <span class="ticketDesc">{{ claim?.next_review_date }}</span>
    </p>
    <p>
      <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.intermediary' | translate }}:</label>
      <span class="ticketDesc">{{ selectedSpringTickets?.agentName | titlecase}}</span>
    </p>
  </div>

  <div class="col-sm-4">
    <p >
      <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.clientName' | translate }}:</label>
      <span class="ticketDesc">{{ selectedSpringTickets?.clientName | titlecase}}</span>
    </p>
    <p>
      <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.risk' | translate }}:</label>
      <span class="ticketDesc">{{ claim?.risk_property_id }}</span>
    </p>
    <p>
      <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.riskWET' | translate }}:</label>
      <span class="ticketDesc">{{ claim?.risk_wet }}</span>
    </p>
    <p>
      <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.lossDescription' | translate }}:</label>
      <span class="ticketDesc">{{ claim?.loss_description }}</span>
    </p>
    <p>
      <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.claimRemarks' | translate }}:</label>
      <span class="ticketDesc">{{ selectedSpringTickets?.ticket?.remarks }}</span>
    </p>
  </div>
  <div class="col-sm-4">
    <p>
      <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.product' | translate }}:</label>
      <span class="ticketDesc">{{ claim?.product?.description | titlecase}}</span>
    </p>
    <p>
      <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.riskValue' | translate }}:</label>
      <span class="ticketDesc">{{ claim?.risk[0]?.value}}</span>
    </p>
    <p>
      <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.claimLossDate' | translate }}:</label>
      <span class="ticketDesc">{{ claim?.loss_date }}</span>
    </p>
    <p>
      <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.claimNotificationDate' | translate }}:</label>
      <span class="ticketDesc"></span>
    </p>
    <p>
      <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.currency' | translate }}:</label>
      <span class="ticketDesc">{{claimPaymentTransaction?.currency_symbol}}</span>
    </p>
  </div>

</div>

<div class="mt-4">
  <label class="text-primary mb-3 fw-medium">{{'mngt_wrkflw.claimDetails.claimTransactionDetails' | translate }}</label>
  <!--<button
    class="btn btn-primary float-end"
    *ngIf ="claimPaymentTransaction?.transaction_type === 'CFO' || claimPaymentTransaction?.transaction_type === 'CFI' ||
      claimPaymentTransaction?.transaction_type === 'CPI' || claimPaymentTransaction?.transaction_type === 'CPO'"
  >
    Contra
  </button>-->
  <div class="row">
    <div>
      <span *ngIf="!isLoadingTransactionData; else loadingTransactionData"></span>
      <ng-template #loadingTransactionData>
        <i class="pi pi-spin pi-spinner text-primary" style="font-size: 2rem"></i>
      </ng-template>
    </div>

    <ng-container *ngIf ="claimPaymentTransaction?.transaction_type === 'LOP' || claimPaymentTransaction?.transaction_type === 'LRV'">
      <div class="col-sm-4">
        <p>
          <label class="ticketLabel">Transaction type:</label>
          <span class="ticketDesc">{{ selectedSpringTickets?.ticket?.claimTransactionType }}</span>
        </p>
        <p>
          <label class="ticketLabel">Revision own:</label>
          <span class="ticketDesc"></span>
        </p>
        <p>
          <label class="ticketLabel">Authorised date:</label>
          <span class="ticketDesc">{{claimTransaction?.authorizationDate}}</span>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <label class="ticketLabel">Authorised by:</label>
          <span class="ticketDesc">{{claimTransaction?.authorizedBy}}</span>
        </p>
        <p>
          <label class="ticketLabel">Revision authorised:</label>
          <span class="ticketDesc">{{claimTransaction?.authorized}}</span>
        </p>
        <p>
          <label class="ticketLabel">Own share:</label>
          <span class="ticketDesc"></span>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <label class="ticketLabel">Revision date:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.date}}</span>
        </p>
        <p>
          <label class="ticketLabel">Own gross amount:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.amount | number}}</span>
        </p>
        <p>
          <label class="ticketLabel">Revision remarks:</label>
          <span class="ticketDesc">{{ selectedSpringTickets?.ticket?.remarks }}</span>
        </p>
      </div>
    </ng-container>
    <ng-container *ngIf ="claimPaymentTransaction?.transaction_type === 'CFO' || claimPaymentTransaction?.transaction_type === 'CFI' ||
      claimPaymentTransaction?.transaction_type === 'CPI' || claimPaymentTransaction?.transaction_type === 'CPO'">
      <div class="col-sm-4">
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.transactionType' | translate }}:</label>
          <span class="ticketDesc">{{ selectedSpringTickets?.ticket?.claimTransactionType }}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.voucherNo' | translate }}.:</label>
          <span class="ticketDesc">{{claimTransaction?.code}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.paymentDate' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.date}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.authorisedDate' | translate }}:</label>
          <span class="ticketDesc">{{claimTransaction?.authorizationDate}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.invoiceNo' | translate }}.:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.invoice_no}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.paymentType' | translate }}.:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.payment_type}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.bankAccount' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.bank_account}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.chequeNo' | translate }}.:</label>
          <span class="ticketDesc">{{claimTransaction?.chequeNumber}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.exciseDuty' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.exercise_duty_amount | number}}</span>
        </p>
      </div>
      <div class="col-sm-4">
        <p >
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.payee' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.payee | titlecase}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.paymentMode' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.payment_mode}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.authorised' | translate }}:</label>
          <span class="ticketDesc">{{claimTransaction?.authorized}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.ownGrossAmount' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.amount | number}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.voucherCurrency' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.currency_description | titlecase}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.wHTXAmount' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.witholding_tax_amount | number}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.netPaid' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.net_pay | number}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.retention' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.company_retention | number}}</span>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.correspondent' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.claimant_provider | titlecase}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.coinAmount' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.coinsurance_total_amount | number}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.authorisedBy' | translate }}:</label>
          <span class="ticketDesc">{{claimTransaction?.authorizedBy}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.accountType' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.account_type}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.baseCurrency' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.amount_base_currency}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.invoiceAmount' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.invoice_amount | number}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.paymentDesc' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.payment_description | titlecase}}</span>
        </p>
        <p>
          <label class="ticketLabel">{{'mngt_wrkflw.claimDetails.reinstatementAmt' | translate }}:</label>
          <span class="ticketDesc">{{claimPaymentTransaction?.reinsurance_amount | number}}</span>
        </p>
      </div>
    </ng-container>

  </div>
</div>

<div class="mt-4 mb-2" *ngIf ="claimTransaction">
 <app-revision-details
   [selectedSpringTickets]="selectedSpringTickets"
   [claimPaymentTransaction]="claimPaymentTransaction"
 ></app-revision-details>
</div>

