<div class="container ms-2">
  <div class="row me-4 mt-1 align-items-center">
    <div class="col-8">
      <app-dynamic-breadcrumb
        [breadCrumbItems]="[
      {
        label: 'FMS',
        url: '/home/fms',
      },
      {
        label: this.translate.instant('fms.receipting.cbReceipting'),
        url: '/home/fms/',
      },
      {
        label: this.translate.instant('base.base-fms.banking'),
        url: '/home/fms/',
      }
     
    ]"
      >
      </app-dynamic-breadcrumb>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="pt-2 pb-2 text-color">
        {{ "fms.banking.bankingProcess" | translate }}
      </h5>
      <div class="d-flex justify-content-end pb-1">
        <button class="btn btn-primary" (click)="navigateToBanking()">
          {{ "fms.banking.newBankingProcess" | translate }}
        </button>
      </div>
      <div class="card">
        <p-table
          [value]="filteredReceipts"
          [resizableColumns]="true"
          [scrollable]="true"
          selectionMode="single"
          scrollHeight="500px"
          sortMode="multiple"
          (onRowSelect)="onRowSelect($event)"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="batchNo">
                <div class="flex items-center gap-2">
                  {{ "fms.receipting.batchNumber" | translate }}
                  <p-sortIcon field="batchNo" />
                </div>
              </th>
              <th pSortableColumn="slipNo">
                <div class="flex items-center gap-2">
                  {{ "fms.banking.slipNumber" | translate }}
                  <p-sortIcon field="slipNo" />
                </div>
              </th>
              <th pSortableColumn="date">
                <div class="flex items-center gap-2">
                  {{ "fms.banking.date" | translate }}
                  <p-sortIcon field="date" />
                </div>
              </th>
              <th pSortableColumn="assignee">
                <div class="flex items-center gap-2">
                  {{ "serviceDesk.assignee" | translate }}
                  <p-sortIcon field="assignee" />
                </div>
              </th>

              <th pSortableColumn="amount">
                <div class="flex items-center gap-2">
                  {{ "fms.receipting.amount" | translate }}
                  <p-sortIcon field="amount" />
                </div>
              </th>
              <th pSortableColumn="bankAcc">
                <div class="flex items-center gap-2">
                  {{ "mngt_wrkflw.claimDetails.bankAccount" | translate }}
                  <p-sortIcon field="bankAcc" />
                </div>
              </th>
              <th pSortableColumn="status">
                <div class="flex items-center gap-2">
                  {{ "base.status" | translate }}
                  <p-sortIcon field="status" />
                </div>
              </th>
              <th>
                <div class="flex items-center gap-2">
                  {{ "fms.receipting.actions" | translate }}
                </div>
              </th>
            </tr>
            <tr>
              <!-- Filter row -->
              <th>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  (keyup.enter)="filter($event, 'batchNo')"
                  (input)="filter($event, 'batchNo')"
                  placeholder="{{ 'fms.receipting.filter' | translate }}"
                />
              </th>

              <th>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  (keyup.enter)="filter($event, 'slipNo')"
                  (input)="filter($event, 'slipNo')"
                  placeholder="{{ 'fms.receipting.filter' | translate }}"
                />
              </th>
              <th>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  (keyup.enter)="filter($event, 'date')"
                  (input)="filter($event, 'date')"
                  placeholder="{{ 'fms.receipting.filter' | translate }}"
                />
              </th>
              <th>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  (keyup.enter)="filter($event, 'assignee')"
                  (input)="filter($event, 'assignee')"
                  placeholder="{{ 'fms.receipting.filter' | translate }}"
                />
              </th>
              <th>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  (keyup.enter)="filter($event, 'amount')"
                  (input)="filter($event, 'amount')"
                  placeholder="{{ 'fms.receipting.filter' | translate }}"
                />
              </th>
              <th>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  (keyup.enter)="filter($event, 'bankAcc')"
                  (input)="filter($event, 'bankAcc')"
                  placeholder="{{ 'fms.receipting.filter' | translate }}"
                />
              </th>
              <th>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  (keyup.enter)="filter($event, 'status')"
                  (input)="filter($event, 'status')"
                  placeholder="{{ 'fms.receipting.filter' | translate }}"
                />
              </th>
              <th>
                <button
                  class="btn btn-outline-primary btn-sm"
                  (click)="clearFilter()"
                >
                  {{ "fms.banking.clearFilter" | translate }}
                </button>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-receipt>
            <tr [pSelectableRow]="receipt">
              <td>{{ receipt.batchNo }}</td>
              <td>{{ receipt.slipNo }}</td>
              <td>{{ receipt.date | date : "yyyy-MM-dd" }}</td>
              <td>{{ receipt.assignee }}</td>
              <td>{{ receipt.amount }}</td>
              <td>{{ receipt.bankAcc }}</td>
              <td>{{ receipt.status }}</td>
              <td><a class="btn">deposit</a></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
