
 .main{
  background-color: #ffffff;
 padding:0 20px 0 20px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
   margin:0 10px 0 10px;
 }
 .header-bg{

  white-space: nowrap;
 }

.tdbtns {
  background-color: transparent;
color: #00529b !important;
 }