<div class="container ms-2">
  <div class="row me-4 mt-1 align-items-center">
    <div class="col-8">
      <app-dynamic-breadcrumb
        [breadCrumbItems]="[
      {
        label: 'FMS',
        url: '/home/fms',
      },
      {
        label: this.translate.instant('fms.receipting.cbReceipting'),
        url: '/home/fms/',
      },
      {
        label: this.translate.instant('base.base-fms.banking'),
        url: '/home/fms/',
      }
     
    ]"
      >
      </app-dynamic-breadcrumb>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="pt-2 pb-2 text-primary">
        {{ "fms.banking.bankingProcess" | translate }}
      </h5>
      <div class="d-flex justify-content-end pb-1">
        <button class="btn btn-primary" (click)="navigateToBanking()">
          {{ "fms.banking.newBankingProcess" | translate }}
        </button>
        <span class="pt-2" (click)="showColumnsDialogs()">
          <i class="fa-regular fa-square-caret-down"></i>
        </span>
      </div>
      <!-- PrimeNG Dialog for Column Selection -->

      <!-- PrimeNG Dialog for column selection -->

      <p-dialog
        header="Select Columns"
        [(visible)]="displayColumnDialog"
        [modal]="true"
        [style]="{ width: '400px' }"
      >
        <div class="p-fluid">
          <div *ngFor="let col of cols" class="flex items-center gap-2 mb-2">
            <p-checkbox
              name="col"
              [value]="col"
              [(ngModel)]="selectedColumns"
              [label]="col.header"
            ></p-checkbox>
          </div>
        </div>
      </p-dialog>

      <div class="card">
        <p-table
          [value]="filteredReceipts"
          [resizableColumns]="true"
          [scrollable]="true"
          selectionMode="single"
          dataKey="batchNo"
          scrollHeight="500px"
          sortMode="multiple"
          [(selection)]="selectedrct"
          [paginator]="true"
          [rows]="5"
          [rowsPerPageOptions]="[10, 25, 50]"
          [showCurrentPageReport]="true"
          [currentPageReportTemplate]="currentPageReportTemplate"
        >
          <ng-template pTemplate="header">
            <tr>
              <th *ngFor="let col of selectedColumns">
                <div
                  class="flex items-center gap-2"
                  [pSortableColumn]="col.field"
                >
                  {{ col.header | translate }}
                  <p-sortIcon
                    *ngIf="col.field !== 'actions'"
                    [field]="col.field"
                  ></p-sortIcon>
                </div>
              </th>
            </tr>
            <!-- filter row -->
            <tr>
              <th *ngFor="let col of selectedColumns">
                <input
                  [type]="col.field === 'amount' ? 'number' : 'text'"
                  *ngIf="col.field !== 'actions'"
                  class="form-control form-control-sm"
                  (keyup.enter)="filter($event, col.field)"
                  (input)="filter($event, col.field)"
                />
                <input
                  *ngIf="col.field == 'actions'"
                  class="form-control form-control-sm"
                  disabled
                />
              </th>
            </tr>
          </ng-template>
          <!-- Use ngSwitch to handle special cases -->
          <ng-template pTemplate="body" let-receipt>
            <tr [pSelectableRow]="receipt" (click)="onRow()">
              <td *ngFor="let col of selectedColumns">
                <ng-container [ngSwitch]="col.field">
                  <ng-container *ngSwitchCase="'date'">
                    {{ receipt[col.field] | date : "yyyy-MM-dd" }}
                  </ng-container>
                  <ng-container *ngSwitchCase="'actions'">
                    <a class="btn">deposit</a>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{ receipt[col.field] }}
                  </ng-container>
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
