<div class="container-fluid">
  <div class="full-border">
    <div class="d-flex justify-content-between">
        <div class="fw-medium text-black">Forms Setups</div>
    </div>
    <div class="row">
      <div
        class="col-xl-3  col-lg-5 col-md-5 col-sm-10 card p-3"
        style="border-radius: 0.3rem; margin: 2rem"
      >
        <div>
          <div class="d-flex justify-content-center align-content-center fw-medium">
            LMS INDIVIDUAL
          </div>
          <div class="d-flex justify-content-center align-content-center pt-4">
            <button [routerLink]="'../forms/lms-individual'" type="button" name="lms" id="lms" class="btn btn-primary" style="font-size: 12px;">
              Go to LMS Individual
            </button>
          </div>

        </div>
      </div>

      <div
        class="col-xl-3  col-lg-5 col-md-5 col-sm-10 card p-3"
        style="border-radius: 0.3rem; margin: 2rem"
      >
        <div>
          <div class="d-flex justify-content-center align-content-center fw-medium">
            LMS GROUP
          </div>
          <div class="d-flex justify-content-center align-content-center pt-4">
            <button type="button" name="lms" id="lms" class="btn btn-primary" style="font-size: 12px;">
              Go to LMS Group
            </button>
          </div>

        </div>
      </div>

      <div
        class="col-xl-3  col-lg-5 col-md-5 col-sm-10 card p-3"
        style="border-radius: 0.3rem; margin: 2rem"
      >
        <div>
          <div class="d-flex justify-content-center align-content-center fw-medium">
            FMS
          </div>
          <div class="d-flex justify-content-center align-content-center pt-4">
            <button type="button" name="lms" id="lms" class="btn btn-primary" style="font-size: 12px;">
              Go to FMS
            </button>
          </div>

        </div>
      </div>

      <div
        class="col-xl-3  col-lg-5 col-md-5 col-sm-10 card p-3"
        style="border-radius: 0.3rem; margin: 2rem"
      >
        <div>
          <div class="d-flex justify-content-center align-content-center fw-medium">
            GIS
          </div>
          <div class="d-flex justify-content-center align-content-center pt-4">
            <button type="button" name="lms" id="lms" class="btn btn-primary" style="font-size: 12px;">
              Go to GIS
            </button>
          </div>

        </div>
      </div>

      <div
        class="col-xl-3  col-lg-5 col-md-5 col-sm-10 card p-3"
        style="border-radius: 0.3rem; margin: 2rem"
      >
        <div>
          <div class="d-flex justify-content-center align-content-center fw-medium">
            CRM
          </div>
          <div class="d-flex justify-content-center align-content-center pt-4">
            <button type="button" name="lms" id="lms" class="btn btn-primary" style="font-size: 12px;">
              Go to CRM
            </button>
          </div>

        </div>
      </div>

      <div
        class="col-xl-3  col-lg-5 col-md-5 col-sm-10 card p-3"
        style="border-radius: 0.3rem; margin: 2rem"
      >
        <div>
          <div class="d-flex justify-content-center align-content-center fw-medium">
            ANALYTICS
          </div>
          <div class="d-flex justify-content-center align-content-center pt-4">
            <button type="button" name="lms" id="lms" class="btn btn-primary" style="font-size: 12px;">
              Go to Analytics
            </button>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>
