.input-group span {
  background: #00529b;
  color: #fff;
}

.inactive-btn {
  border: solid 1px #343A4080;
  color: grey;
  margin: 0 5px;
  border-radius: 0;
}

.active-btn {
  background: #00529b;
  color: #fff;
  margin: 0 5px;
  border-radius: 0;
}

.form-div {
  border: solid 1px #eee;
  padding: 20px;
}
