.main {
    background: #F5F6F8;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px;
}

.container {
    background: #FFF;
    border: 1px solid rgba(220, 220, 220, 0.85);
    border-radius: 5px;
    flex: 1;
    padding: 48px;
}

:host ::ng-deep {
    .p-datatable .p-datatable-thead>tr>th {
        color: #000000;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        opacity: 70%;
        white-space: nowrap;
    }

    .p-datatable .p-datatable-tbody>tr>td {
        white-space: nowrap;
    }

    .p-datatable-thead {
        border-radius: 4px 0px 0px 0px;
        background: #BAD0E4;
    }
}

#table-align {
    padding: 10px;
}

.multiselect-add {
    position: relative;
    width: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

p-multiSelect {
    margin-left: 15px;
    margin-top: 15px;
}

:host ::ng-deep .p-multiselect-label-container {
    display: none;
}

:host ::ng-deep .p-multiselect {
    height: auto;
}

:host ::ng-deep .p-multiselect-panel {
    max-height: 300px;
    max-width: 100%;
    overflow-y: auto;
}

:host ::ng-deep .p-multiselect-trigger {
    width: 20px;
    height: 20px;
}

.rounded-circle {
    --bs-btn-color: #fff;
    --bs-btn-bg: #E4E7EB;
    --bs-btn-border-color: #D9D9D9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c0c2c3;
    --bs-btn-hover-border-color: #b8bbb9;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #00529B;
    --bs-btn-active-border-color: #00529B;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    color: #00529B;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 8px;
    background-color: #BAD0E4;
    white-space: nowrap;
}

td {
    padding: 2px;
    white-space: nowrap;
}

tr {
    border-bottom: none !important;
}

.title {
    font-size: 16px;
    font-weight: 500;
}

.member-dets {
    color: #00529B;
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.add-member {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.download-member {
    color: rgba(0, 0, 0, 0.50);
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.choose-file {
    display: inline-flex;
    height: 24px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #00529B;
    background-color: #FFF;
}

.file-text {
    color: #00529B;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.container-fil {
    display: flex;
    justify-content: space-between;
}

.filter-container {
    display: flex;
}

.filter-selectors {
    display: flex;
    margin-right: 15px;
}

.filter-selectors p-dropdown {
    margin-right: 10px;
}

.filter-selectors input {
    border-radius: 5px;
    max-width: 200px;
    border: 1px solid #c1c4c3;
}

.filter-label {
    color: black;
    margin-right: 5px;
    white-space: nowrap;
}

:host ::ng-deep .p-dropdown {
    width: 200px;
    margin-bottom: 8px;
}

.form-search {
    position: relative;
    width: 270px;
    display: flex;
    align-items: center;
}

.form-search .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #9ca3af;
}

.form-input {
    height: 35px;
    text-indent: 33px;
    border-radius: 4px;
    width: 100%;
    flex: 1;
}

.form-input:focus {
    box-shadow: none;
    border: 1;
}

.proceed-button {
    display: inline-flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    background: #00529B;
    color: white;
    float: right;
    margin-top: 10px;
  }

.back-button {
    display: inline-flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: none;
    background: transparent;
    color: #00529B;
    float: left;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
  }

@media (max-width: 768px) {
    .container-fil {
        flex-direction: column;
    }

    .filter-container {
        width: 100%;
        flex-direction: column;
    }

    .form-search {
        width: 100%;
    }

    .filter-selectors {
        display: flex;
    }

    .filter-selectors p-dropdown,
    input {
        margin: 10px;
    }

    .filter-label {
        justify-content: flex-start;
    }

    .form-search .fa-search {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        color: #9ca3af;
    }

    .form {
        width: 100%;
    }

    .btn-container  {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}