<div class="row">
  <div class="col-sm-12">
    <h5 class=" mt-5">
        Additional Information
        <button class="btn btn-light btn-sm ms-4" style="border-radius: 100%;">
            <i
                class="fa fa-pencil"
                style="color:#00529B; font-size: 0.8em;"
            ></i>
        </button>
    </h5>
</div>
</div>
<p-tabView>
  <p-tabPanel header="Contact Details">
      <div class="row">
          <div class="col-sm-3">
              <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td>Mobile number</td>
                      <th>{{ partyAccountDetails?.contactDetails?.smsNumber }}</th>
                    </tr>
                    <tr>
                      <td>County</td>
                      <th>{{ partyAccountDetails?.address?.state_id }}</th>
                    </tr>
                  </tbody>
              </table>
          </div>
          <div class="col-sm-3 offset-1">
              <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td>Email address</td>
                      <th>{{ partyAccountDetails?.paymentDetails?.account_number }}</th>
                    </tr>
                    <tr>
                      <td>Physical address</td>
                      <th>
                        {{ partyAccountDetails?.address?.house_number }}
                        {{ partyAccountDetails?.address?.physical_address }}
                      </th>
                    </tr>
                  </tbody>
              </table>
          </div>
          <div class="col-sm-3 offset-1">
              <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td>Country</td>
                      <th>
                        {{ getCountryName(partyAccountDetails?.address?.country_id) }}
                      </th>
                    </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </p-tabPanel>

    <p-tabPanel header="Bank Details" (click)="getPaymentDetails()">
        <div class="row">
            <div class="col-sm-3">
                <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>Bank</td>
                        <th>{{ bankDetails?.bank }}</th>
                      </tr>
                      <tr>
                        <td>Branch</td>
                        <th>{{ bankDetails?.branch }}</th>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3 offset-1">
                <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>Account no.</td>
                        <th>{{ bankDetails?.accountNo }}</th>
                      </tr>
                      <tr>
                        <td>Payment method</td>
                        <th>{{ bankDetails?.paymentMethod }}</th>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3 offset-1">
                <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>Account type</td>
                        <th>{{ bankDetails?.accountType }}</th>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Wealth Details" *ngIf="wealthAmlDetails" (click)="getWealthAmlDetails()" >
        <div class="row">
            <div class="col-sm-3">
                <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>Nationality</td>
                        <th>
                          {{ getCountryName(wealthAmlDetails?.nationality_country_id )}}
                        </th>
                      </tr>
                      <tr>
                        <td>Citizenship</td>
                        <th>
                          {{ getCountryName(wealthAmlDetails?.citizenship_country_id) }}
                        </th>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3 offset-1">
                <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>Source of funds</td>
                        <th>{{ wealthAmlDetails?.funds_source }}</th>
                      </tr>
                      <tr>
                        <td>Sector</td>
                        <th>{{ wealthAmlDetails?.sector_id }}</th>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3 offset-1">
                <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>Type of employment</td>
                        <th>{{ wealthAmlDetails?.employment_type }}</th>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </p-tabPanel>

    <p-tabPanel header="AML Details" *ngIf="wealthAmlDetails">
        <div class="row">
            <div class="col-sm-3">
                <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>Trading names</td>
                        <th>{{ wealthAmlDetails?.trading_name }}</th>
                      </tr>
                      <tr>
                        <td>Operation country</td>
                        <th>{{ wealthAmlDetails?.operating_country_id }}</th>
                      </tr>
                      <tr>
                        <td>Parent country</td>
                        <th>{{ wealthAmlDetails?.parent_country_id }}</th>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3 offset-1">
                <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>Entities company</td>
                        <th>xxx</th>
                      </tr>
                      <tr>
                        <td>Cert. reg. no.</td>
                        <th>xxx</th>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3 offset-1">
                <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>Cert. reg. year</td>
                        <th>xxx</th>
                      </tr>
                      <tr>
                        <td>Source of wealth</td>
                        <th>{{ partyAccountDetails?.wealthAmlDetails?.funds_source }}</th>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Next of kin" *ngIf="nokList.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identity type</th>
                    <th>Identifier no</th>
                    <th>Full names</th>
                    <th>Relation</th>
                    <th>Date of birth</th>
                    <th>Mobile no.</th>
                    <th>Email address</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nok of nokList">
                <td>{{ nok?.modeOfIdentity?.name }}</td>
                <td>{{ nok?.identityNumber }}</td>
                <td>{{ nok?.fullName | titlecase }}</td>
                <td>{{ nok?.relationship | titlecase }}</td>
                <td>xxx</td>
                <td>{{ nok?.smsNumber }}</td>
                <td>{{ nok?.emailAddress | lowercase }}</td>
              </tr>
            </tbody>
        </table>
    </p-tabPanel>
</p-tabView>

<div class="row">
    <h5>
      Documents Attached
      <button class="btn btn-light btn-sm ms-4"> Upload file</button>
      <button class="btn btn-primary btn-sm ms-4"> Choose file</button>
    </h5>
    <ul>
        <li>ID Card</li>
        <li>Birth Certificate</li>
        <li>Passport</li>
    </ul>
</div>
