
p, th, td, li {
    font-size: 0.9em;
}

ul li {
    list-style-type: none;
    color: #00529B;
    font-weight: 500;
    line-height: 2;
}


#editModalContent {
  margin-top: 30vh!important;
}

.modal-header {
  border-bottom: none;
}
