.main {
    padding: 20px;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: #FFF;
    border-radius: 6px;
    overflow: auto;
}

.box {
    width: calc(33.33% - 30px);
    min-height: 100px;
    background-color: rgb(229, 240, 248);
    border-radius: 13px 13px 5px 5px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box:hover {
    background-color: rgb(156, 208, 244);
    cursor: pointer;
}

table {
    width: 90%;
    /* margin-top: 30px; */
    margin-left: 20px;
    margin-bottom: 40px;
}

.td-data {
    color: black;
    white-space: nowrap;
}

td:first-child {
    width: 50%;
    font-weight: 500;
}

.active-label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00529B;
    color: white;
    padding: 1px 20px 1px 10px;
    border-radius: 13px 0 20px 0;
    width: auto;
    white-space: nowrap;
}

.title {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.scroll-content {
    overflow-x: auto;
    flex-grow: 1;
    white-space: nowrap;
}

.poldets-table-container {
    display: flex;
  }
  
  .poldets-table {
    border-collapse: collapse;
    width: 100%;
  }

  .poldets-table td {
    width: 50%;
  }
  
  .table-label {
    color: #868E96;
  }
  
  .table-label-desc {
    color: black;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 10px;
  }

  .pol-dets {
    flex-grow: 1;
    font-weight: 500;
    font-size: 16px;
  }

  .option-select {
    flex-shrink: 0;
  }

  .multiselect-add {
    position: relative;
    width: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

:host ::ng-deep .p-multiselect-label-container {
    display: none;
}

:host ::ng-deep .p-multiselect {
    height: auto;
}

:host ::ng-deep .p-multiselect-panel {
    max-height: 300px;
    max-width: 100%;
    overflow-y: auto;
}

:host ::ng-deep .p-multiselect-trigger {
    width: 20px;
    height: 20px;
}

.modal-header,
 .modal-footer {
     border: none;
     /* Removes the border between header/footer and body of modal */
 }

 .modal-content {
  padding: 0 40px;
 }

 /* table {
  width: 100%;
  border-collapse: collapse;
} */

th {
  text-align: left;
  padding: 8px;
  background-color: #BAD0E4;
  white-space: nowrap;
}

td {
  padding: 2px;
  white-space: nowrap;
  border: none !important;
}

tr {
    border: none !important;
  }

.selected-row {
    background-color: #cce5ff !important;
  }
  

@media (max-width: 1200px) {
    .box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        overflow: auto;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        flex-wrap: wrap;
    }

    .container > div {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 750px) {
    .poldets-table-container {
        overflow-x: auto;
        display: inline-block;
        white-space: nowrap;
      }
}