<div style="padding: 2rem; color: black; position: relative">
  <ngx-spinner
  name="whole"
    type="ball-clip-rotate-multiple"
    [fullScreen]="false"
    color="#00529B"
    size="medium"
    bdColor="rgba(255, 255, 255, 0.966)"
  ></ngx-spinner>

  <div
    class="d-none d-md-block"
    style="
      background-color: rgb(255, 255, 255);
      border: 1px solid rgba(0, 0, 0, 0.123);
      padding: 2rem;
      border-radius: 0.4em;
    "
  >
    <!-- Hide on mobile -->
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div [ngClass]="coverTypeList().length > 0 ? 'col-md-8' : 'col-md-12'">
          <form
            [formGroup]="quickForm"
            [ngClass]="coverTypeList().length > 0 ? 'bd-line' : ''"
          >
            <div>
              <div class="row">
                <div
                  style="
                    padding: 2rem 0 0.4rem 0.7rem;
                    color: #868E96;
                  "
                >
                  Lets get to know you
                </div>
                <div class="col">
                  <div class="w-75">
                    <label class="required">Date of Birth</label>
                    <div>
                      <p-calendar ngDefaultControl formControlName="date_of_birth" dateFormat="dd/mm/yy" [showIcon]="true" [showButtonBar]="true" (ngModelChange)="selectDate()">
                        <ng-template pTemplate="header" >
                          <!-- <div style="color: red; font-weight: 500;">The Product Option you selected is meant for 18 and above</div> -->
                        </ng-template>

                      </p-calendar>
                    </div>
                  </div>
                </div>

                <div class="col fadeIn">
                  <div class="w-75">
                    <label class="required">Gender</label>
                    <div></div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="male"
                        formControlName="gender"
                        value="M"
                        (click)="computePremium()"
                      />
                      <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="female"
                        formControlName="gender"
                        value="F"
                        (click)="computePremium()"
                      />
                      <label class="form-check-label" for="female"
                        >Female</label
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="row fadeIn" *ngIf="isProductReady">
                <div
                  style="
                    padding: 2rem 0 0.4rem 0.7rem;
                    color: #868E96;
                    font-weight: 500;
                  "
                >
                  Select product details
                </div>
                <div class="col">
                  <div class="w-75" >
                    <label class="required">Product</label>
                    <select
                      formControlName="product"
                      class="form-select"
                      (change)="selectProduct($event)"
                    >
                      <ng-container *ngFor="let product of productList">
                        <option [value]="product?.code">
                          {{ product?.description | titlecase }}
                        </option>
                      </ng-container>
                    </select>
                  </div>
                </div>

                <div class="col" >
                  <!-- <div class="w-75 fadeIn" *ngIf="isOptionReady && productOptionList.length >2"> -->
                  <div class="w-75 fadeIn" *ngIf="isOptionReady">
                    <label class="required">Option</label>
                    <select
                      formControlName="option"
                      class="form-select"
                      (change)="selectProductOption($event);"
                    >
                      <ng-container *ngFor="let option of productOptionList">
                        <option [value]="option['code']">
                          {{ option.desc  | titlecase}}
                        </option>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div style="padding: 2rem 0 0.4rem 0"></div>
                <div class="col">
                  <div class="w-75 fadeIn" *ngIf="isTermReady">
                    <label class="mb-2 required">Terms</label>
                    <select
                      formControlName="term"
                      class="form-select"
                      (change)="selectProductTerm($event);"
                    >
                      <ng-container *ngFor="let term of productTermList()['prod_terms']">
                        <option [value]="term['term']" [selected]="term['term']===0">
                          {{ term['term'] === 0? term['desc']: term['term'] }}
                        </option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="w-75 fadeIn" *ngIf="isPremAssuredReady">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="male"
                        formControlName="sa_prem_select"
                        value="P"
                        (click)="computePremium()"
                      />
                      <label class="form-check-label" for="male">Premium</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="female"
                        formControlName="sa_prem_select"
                        value="SA"
                        (click)="computePremium()"
                      />
                      <label class="form-check-label" for="female"
                        >Sum Assured</label
                      >
                    </div>
                    <div class="mb-1"></div>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="sa_prem_amount"
                      [placeholder]="getValue('sa_prem_amount')==='P'?'Enter Premium' : 'Enter Sum Assured'"
                      style="padding-right: 2rem"
                      (change)="computePremium()"
                    />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-4 fadeIn" *ngIf="coverTypeList().length > 0">
          <div
            style="
              padding: 2rem 0 1rem 0rem;
              color: rgb(136, 136, 136);
            "
          >
            Additional Cover Types
          </div>
          <div class="container">
            <ng-container *ngFor="let cover of coverTypeList(); let i = index">
              <div class="row mb-2">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [value]="cover['selected']"
                    [id]="i"
                    (change)="coverTypeState(cover);"
                  />
                  <label class="form-check-label" [for]="i">
                    {{ cover['cover_type_description'] | titlecase}}
                  </label>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- {{quickQuoteSummary_ | json}} -->

    <div
    *ngIf="quickQuoteSummary_['isSummaryReady']"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
      "
    >
      <div class="fadeIn"

        style="
          padding: 2rem 5rem;
          width: 60%;
          background-color: #f8f9fa;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          border-radius: 0.6rem;
          display: flex;
          justify-content: center;
          flex-direction: column;
          font-size: 0.8em;
        "
      >
        <div
          style="
            margin-bottom: 1rem;
            text-align: start;
            display: flex;
            justify-content: center;
          "
        >
          Here is your {{ quickQuoteSummary_['product']['description'] || "Turnkey Endowment Quote"  }}
        </div>

        <div style="display: flex; justify-content: space-evenly">
          <div style="flex: 1; text-align: start">
            <span class="font-grey__font-eight__700">Option : </span>
            {{ quickQuoteSummary_['option']['desc'] || '-' }}
          </div>
          <div class="m-4"></div>
          <div style="flex: 1; text-align: start">
            <span class="font-grey__font-eight__700">Term : </span> {{ quickQuoteSummary_['policy_term'] || 0 }}
          </div>
        </div>

        <div style="display: flex; justify-content: space-evenly">
          <div style="flex: 1; text-align: start">
            <span class="font-grey__font-eight__700">Quotation No. : </span>
            {{ quickQuoteSummary_['quote_code'] || '-' }}
          </div>
          <div class="m-4"></div>

        </div>

        <div
          class="font-grey__font-eight__700"
          style="margin-bottom: 0.2rem; text-align: start"
          *ngIf="quickQuoteSummary_['coverTypeList'].length>0"
        >
          Additional Cover Types
        </div>

        <div class="row justify-content-between">
          <ng-container *ngFor="let coverType of quickQuoteSummary_['coverTypeList']">
            <div class="col-6 mb-4" style=" text-align: start; padding-right: 1rem">
            <div style="font-weight: 600">
              <span>{{coverType['cover_type_description']}}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="font-grey__font-eight__700">Sum Assured</span>
              <span>0</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="font-grey__font-eight__700">Premium</span>
              <span>0</span>
            </div>
            <!-- <div class="d-flex justify-content-between">
              <span class="font-grey__font-eight__700">Percentage</span>
              <span>30</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="font-grey__font-eight__700">Term </span>
              <span>1</span>
            </div> -->
          </div>

          <!-- <div style="flex: 1; text-align: start; padding-right: 1rem">
            <div style="font-weight: 600">
              <span>Endownment Turnkey A</span>
            </div>

            <div class="d-flex justify-content-between">
              <span class="font-grey__font-eight__700">Sum Assured</span>
              <span>800</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="font-grey__font-eight__700">Percentage</span>
              <span>70</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="font-grey__font-eight__700">Term</span>
              <span>1</span>
            </div>
          </div> -->

          </ng-container>

        </div>
        <div style=" position: relative;" class="mt-1">
          <ngx-spinner
      name="prem_view"
        type="ball-clip-rotate-multiple"

        [fullScreen]="false"
        color="#00529B"
        size="medium"
        bdColor="rgba(255, 255, 255, 0.0)"
      ></ngx-spinner>
          <div *ngIf="quickQuoteSummary_['prem_result']>0">

            <div style="display: flex; justify-content: center; padding-top: 1rem; ">

              <div class="d-flex justify-content-center align-content-center">
                <span class="font-small__color_primary d-flex align-self-center"
                  >$</span
                >
                <span
                  class="font-small__color_primary d-flex align-self-end"
                  style="font-size: 3rem;">
                  {{quickQuoteSummary_['prem_result'] === 0 ? 0 : quickQuoteSummary_['prem_result']*12 | number:'1.2-2'}}
                </span>
                <span class="font-small__color_primary d-flex align-self-end" style="transform: translateY(-1rem);"
                  >/ yr</span
                >
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <div class="font-grey__font-eight__700">or ${{quickQuoteSummary_['prem_result'] === 0 ? 0 : quickQuoteSummary_['prem_result']  | number:'1.2-2'}}
                per month</div>
            </div>
          </div>

        </div>
        <div
          class="font-grey__font-eight__700"
          style="margin-bottom: 0.3rem; text-align: center; padding-top: 3rem; transform: translateX(-2.6rem);"
        >
          Share:
        </div>

        <div style="display: flex; justify-content: center; padding-top: 0rem;">
          <div class="icon-container" style="margin: 0 0.5rem" data-bs-toggle="modal"
          data-bs-target="#QuoteShareModal" (click)="selectShareType('email')">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 256 193"
            >
              <path
                fill="#4285F4"
                d="M58.182 192.05V93.14L27.507 65.077L0 49.504v125.091c0 9.658 7.825 17.455 17.455 17.455h40.727Z"
              />
              <path
                fill="#34A853"
                d="M197.818 192.05h40.727c9.659 0 17.455-7.826 17.455-17.455V49.505l-31.156 17.837l-27.026 25.798v98.91Z"
              />
              <path
                fill="#EA4335"
                d="m58.182 93.14l-4.174-38.647l4.174-36.989L128 69.868l69.818-52.364l4.669 34.992l-4.669 40.644L128 145.504z"
              />
              <path
                fill="#FBBC04"
                d="M197.818 17.504V93.14L256 49.504V26.231c0-21.585-24.64-33.89-41.89-20.945l-16.292 12.218Z"
              />
              <path
                fill="#C5221F"
                d="m0 49.504l26.759 20.07L58.182 93.14V17.504L41.89 5.286C24.61-7.66 0 4.646 0 26.23v23.273Z"
              />
            </svg>
          </div>

          <div
            class="icon-container mr-3"
            style="margin: 0 0.2rem; cursor: pointer"
            data-bs-toggle="modal"
          data-bs-target="#QuoteShareModal"
          (click)="selectShareType('phone')"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 256 258"
            >
              <defs>
                <linearGradient
                  id="logosWhatsappIcon0"
                  x1="50%"
                  x2="50%"
                  y1="100%"
                  y2="0%"
                >
                  <stop offset="0%" stop-color="#1FAF38" />
                  <stop offset="100%" stop-color="#60D669" />
                </linearGradient>
                <linearGradient
                  id="logosWhatsappIcon1"
                  x1="50%"
                  x2="50%"
                  y1="100%"
                  y2="0%"
                >
                  <stop offset="0%" stop-color="#F9F9F9" />
                  <stop offset="100%" stop-color="#FFF" />
                </linearGradient>
              </defs>
              <path
                fill="url(#logosWhatsappIcon0)"
                d="M5.463 127.456c-.006 21.677 5.658 42.843 16.428 61.499L4.433 252.697l65.232-17.104a122.994 122.994 0 0 0 58.8 14.97h.054c67.815 0 123.018-55.183 123.047-123.01c.013-32.867-12.775-63.773-36.009-87.025c-23.23-23.25-54.125-36.061-87.043-36.076c-67.823 0-123.022 55.18-123.05 123.004"
              />
              <path
                fill="url(#logosWhatsappIcon1)"
                d="M1.07 127.416c-.007 22.457 5.86 44.38 17.014 63.704L0 257.147l67.571-17.717c18.618 10.151 39.58 15.503 60.91 15.511h.055c70.248 0 127.434-57.168 127.464-127.423c.012-34.048-13.236-66.065-37.3-90.15C194.633 13.286 162.633.014 128.536 0C58.276 0 1.099 57.16 1.071 127.416Zm40.24 60.376l-2.523-4.005c-10.606-16.864-16.204-36.352-16.196-56.363C22.614 69.029 70.138 21.52 128.576 21.52c28.3.012 54.896 11.044 74.9 31.06c20.003 20.018 31.01 46.628 31.003 74.93c-.026 58.395-47.551 105.91-105.943 105.91h-.042c-19.013-.01-37.66-5.116-53.922-14.765l-3.87-2.295l-40.098 10.513l10.706-39.082Z"
              />
              <path
                fill="#FFF"
                d="M96.678 74.148c-2.386-5.303-4.897-5.41-7.166-5.503c-1.858-.08-3.982-.074-6.104-.074c-2.124 0-5.575.799-8.492 3.984c-2.92 3.188-11.148 10.892-11.148 26.561c0 15.67 11.413 30.813 13.004 32.94c1.593 2.123 22.033 35.307 54.405 48.073c26.904 10.609 32.379 8.499 38.218 7.967c5.84-.53 18.844-7.702 21.497-15.139c2.655-7.436 2.655-13.81 1.859-15.142c-.796-1.327-2.92-2.124-6.105-3.716c-3.186-1.593-18.844-9.298-21.763-10.361c-2.92-1.062-5.043-1.592-7.167 1.597c-2.124 3.184-8.223 10.356-10.082 12.48c-1.857 2.129-3.716 2.394-6.9.801c-3.187-1.598-13.444-4.957-25.613-15.806c-9.468-8.442-15.86-18.867-17.718-22.056c-1.858-3.184-.199-4.91 1.398-6.497c1.431-1.427 3.186-3.719 4.78-5.578c1.588-1.86 2.118-3.187 3.18-5.311c1.063-2.126.531-3.986-.264-5.579c-.798-1.593-6.987-17.343-9.819-23.64"
              />
            </svg>
          </div>

          <div class="icon-container mr-3" style="margin: 0 0.2rem" data-bs-toggle="modal"
          data-bs-target="#QuoteShareModal" (click)="selectShareType('phone')">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 48 48"
            >
              <path
                fill="#009688"
                d="M37 39H11l-6 6V11c0-3.3 2.7-6 6-6h26c3.3 0 6 2.7 6 6v22c0 3.3-2.7 6-6 6z"
              />
              <g fill="#fff">
                <circle cx="24" cy="22" r="3" />
                <circle cx="34" cy="22" r="3" />
                <circle cx="14" cy="22" r="3" />
              </g>
            </svg>
          </div>
        </div>

        <div
          style="
            display: flex;
            justify-content: center;
            padding-top: 1em;
            font-weight: 600;
            color: var(--primary-color);
          "
        >

          <div style="font-size: 1.3em; cursor: pointer">
            <button
              type="button"
              class="text-end-view mx-1"
              style="padding: 0.6em; width: 7rem"
            >
              Download
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="quickQuoteSummary_['prem_result']>0" class="d-flex justify-content-end mt-2">
    <div>
    <button
    (click)="closePage()"
      type="button"
      class="btn btn-primary btn-sm"
      style="padding: 0.6em; width: 6rem"
    >
      Finish
    </button>

    <button
    (click)="nextPage()"
      type="button"
      class="btn btn-primary"
      style="padding: 0.6em; width: 12rem"
    >
      Proceed to Quotation
    </button>
  </div>
</div>

<!-- Desktop Layout (70% width, 30% height) -->

<!-- Mobile Layout (70% height, 30% width) -->
<div class="d-block d-md-none">
  <!-- Show only on mobile -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- 70% height -->
        <!-- Your mobile content here -->Mobile View
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- 30% height -->
        <!-- Your mobile content here -->
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="QuoteShareModal" tabindex="-1" role="dialog" aria-labelledby="QuoteShareModal"
  aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content" style="border: 0.2px solid var(--primary-color);" [formGroup]="shareForm">
      <!-- <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body card-modal">
        <div class="container">
          <div class="row" >
            <div class="col-9" >
              <div>
                <div class="w-85">
                  <label>{{ shareInputType === 'email' ? 'Email' : 'Phone No.' }}</label>
                  <input
                  style="font-size: 11px;"
                    type="text"
                    class="form-control"
                    formControlName="name"
                    [placeholder]="shareInputType === 'email' ? 'Enter Email' : 'Enter Phone No.'"
                  />
                </div>
              </div>
            </div>
            <div class="col-3 mt-4">
              <button class="btn btn-primary mr-4" style="margin: 0 1rem;">SEND</button>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
