.font-grey__font-eight__700 {
  color: grey;
  font-weight: 500;
  padding-right: 2rem;
}

.font-small__color_primary {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1rem;
}




/* Add this CSS in your component's CSS file or your global CSS file */
.icon-container {
  margin-right: 0.5rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease, fill 0.3s ease; /* Add a transition effect */
}

.bd-line {
  border-right: 1px solid #868E96;
}

.card-modal {
  padding: 3rem;
}


label {
  padding-bottom: 6px;
}

