  
  .ai-bot-dialogue {
    width: 400px;
    height: 400px;
    border: solid 1px #d9d9d9;
    border-radius: 10px;
    margin: 10px;
    position: absolute;
    right: 50px;
    z-index: 1000;
  }
  
  .ai-bot-dialogue .bot-header {
    background: #00529b;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    z-index: 900;
  }
  
  .ai-bot-dialogue .bot-footer {
    /* position: absolute; */
    /* bottom: 0; */
    padding: 10px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
  }
  
  .ai-bot-dialogue .chat-message {
    padding: 5px 5px 10px;
    border-radius: 10px;
    display: block;
  }
  
  .ai-bot-dialogue .message {
    background: #f5f6f8;
    border: solid 1px #eee;
    color: #00529b;
    padding: 10px;
    border-radius: 10px;
    float: right;
  }
  
  .ai-bot-dialogue .bot-message {
    background-color: #00529b;
    opacity: 0.8;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    clear: both;
  }
  
  .ai-bot-dialogue .chat-icons i {
    cursor: pointer;
  }
  
  .ai-bot-dialogue .chat-icons i:hover {
    font-size: 1.1em;
    transition: font-size 0.5s;
  }
  
  @keyframes flickerAnimation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1;}
  }
  
  .animate-flicker {
    animation: flickerAnimation 1s infinite;
  }
  
  /* resoponsiveness */
  @media (max-width: 576px) {
    .ai-bot-dialogue {
      width: 300px;
      margin: auto;
      top: 20px;
    }
  }