.icon-circle {
  display: inline-block;
  background-color: #e4e7eb;
  color: #00529b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}
.ticketLabel {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.ticketDesc {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin-left: 5px;
}
