.container {
  max-width: 1100px;
  
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  font-weight: 500;
}


.header {
  position: relative;
  padding: 40px 20px 20px;
  text-align: center;
  border-bottom: 2px solid #ccc;
}

.logo {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 100px;
  object-fit: contain;
}




.header h1 {
  font-size: 18px;
  margin-top: 60px;
  color: #000000;
  font-weight: 500;
}

/* PrimeNG Card Base */
::ng-deep .p-card {
  border: 1px solid #cce5ff;
  border-radius: 6px;
  box-shadow: none;
  background-color: #ffffff;
}
::ng-deep .p-card .p-card-body {
  padding: 20px;
}
::ng-deep .p-card .p-card-title {
  font-size: 18px;
  font-weight: 600;
  color: #00529b;
  padding-bottom: 10px;
}


.property-summary{
border-bottom: 1px solid #cce5ff ; /* or your preferred color */
}

/* Property Summary */
.property-table {
  width: 100%;
  font-size: 16px;
  margin-bottom: 0rem;
  table-layout: fixed;
  border-bottom: 1px #009b22;
}


.property-table td {

  padding: 13px 11px;
  vertical-align: middle;
  text-align: left;
  
}

.title-cell {
  background-color: #ffffff;
  font-weight: 400;
  width: 20%;
  white-space: nowrap;
}

.label-cell {
  font-weight: 400;
  color: #343a40;
  width: 15%;
  white-space: nowrap;
}

.value-cell {
  color:#343a40;
  font-weight: 400;
  width: 20%;
  white-space: nowrap;
}



/* Coverage Table */
.coverage-details {
  padding: 30px;
}

.coverage-details th {
  text-align: left;
  padding: 10px;

  color: #00529b;
  
}

.coverage-details .section-header {
  font-weight: 600;
  color: #343a40;
  white-space: nowrap;
}
.coverage-details table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures columns are evenly spaced */
}
.coverage-details td,
.coverage-details th {
  padding: 10px 12px;
  vertical-align: top;
  border-bottom: 1px solid #f1f1f1;
}


/* Cards & Tables Specific to Motor */
.motor-card .coverage-table {
  display: table;
  width: 100%;
}
.motor-card .coverage-table td,
.motor-card .coverage-table th {
  padding: 12px;
}

.borderClause{
  border: solid rgb(64, 108, 158) 1px;
  width: 40vw;
}

.property-summary {
  font-size: 0.95rem;
  color: #333;
}

.property-summary strong {
  color: #495057;
}

.motor-card {
  border-radius: 12px;
  border: 1px solid #dee2e6;
  transition: box-shadow 0.2s ease;
}

.motor-card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.table td {
  vertical-align: top;
  padding: 0.4rem 0.75rem;
}






@media (max-width: 768px) {
  .property-summary,
  .coverage-details table {
    font-size: 13px;
  }
}