.container {
  max-width: 1100px;

  margin: 0 auto;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  font-weight: 500;
  height: auto;
}


.header {
  position: relative;
  padding: 40px 20px 20px;
  text-align: center;
  font-weight: 400;
  
}

.logo {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 100px;
  object-fit: contain;
}




.header h1 {
  font-size: 18px;
  margin-top: 60px;
  color: #000000;
  font-weight: 500;
}

/* PrimeNG Card Base */
::ng-deep .p-card {
  border: 1px solid #cce5ff;
  border-radius: 6px;
  box-shadow: none;
  background-color: #ffffff;
}

::ng-deep .p-card .p-card-body {
  padding: 20px;
}

::ng-deep .p-card .p-card-title {
  font-size: 18px;
  font-weight: 600;
  color: #00529b;
  padding-bottom: 10px;
}


.property-summary {
  border-bottom: 1px solid #cce5ff;
  /* or your preferred color */
}

/* Property Summary */
.property-table {
  width: 100%;
  font-size: 16px;
  margin-bottom: 0rem;
  table-layout: fixed;
  border-bottom: 1px #009b22;
  table-layout: auto;
  
}


.property-table td {

  padding: 13px 11px;
  vertical-align: middle;
  text-align: left;
}

.title-cell {
  background-color: #ffffff;
  font-weight: 200;
  width: 20%;
  white-space: nowrap;
  padding-right: 60px;
}

.label-cell {
  font-weight: 200;
  color: #000000;
  width: auto;
  white-space: nowrap;
  padding-right: 5px;
  
}

.value-cell {
  color: #343a40;
  font-weight: 400;
  width: 20%;
  white-space: nowrap;
  padding-left: 5px;
}


.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid rgb(111, 159, 201) 2px;
  padding: 0px;

}

.wrap2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid rgb(111, 159, 201) 2px;
  padding: 0px;

}

.cover {
  height: auto;
  width: 50%;
  border: solid rgb(111, 159, 201) 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: none;
}

.cover2 {
  height: auto;
  width: 50%;
  border: solid rgb(111, 159, 201) 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover h3,
.cover2 h3 {
  text-transform: lowercase;
}

.coverDescription {
  font-weight: bold;
}

.coverDescription2 {
  font-weight: bold;
  margin-right: 5px;
}

.cover2 {
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}









@media (max-width: 768px) {

  .property-summary,
  .coverage-details table {
    font-size: 13px;
  }
}