.pill-box {
  border: solid 0.5px #eee;
  border-radius: 5px;
  margin-top: 20px;
  min-width: 200px;
}

.pill-title {
  padding: 10px 3px;
  color: #000;
  font-size: 14px;
}

.pill-title span {
  float: right;
}
