/* General Styling for Section Titles */
.text-primary {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

/* Add padding and border to the full-border section */
.full-border {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9; 
  margin-bottom: 20px;
}

/* Style the table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Remove borders between rows and columns */
.table th, .table td {
  border: none; 
}

/* Table Header Styling */
.table thead th {
  color: var(--primary-color); 
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 12px;
}

/* Distinguish Rows by Alternating Colors */
.table tbody tr:nth-child(odd) {
  background-color: #eaeaea; /* Light gray for odd rows */
}

.table tbody tr:nth-child(even) {
  background-color: #ffffff; /* White for even rows */
}

/* Highlight row on hover */
.table tbody tr:hover {
  background-color: #d6eaf8; /* Subtle blue for hover */
  transition: background-color 0.3s ease;
}

/* Table Cell Styling */
.table tbody td {
  padding: 10px;
  text-align: left;
  border: none;
}

/* Add Spinner Styling */
.spinner-border {
  margin-left: 10px;
  width: 20px !important;
  height: 20px !important;
}

/* Button Styling */
.b-r {
  color: var(--primary-color);
  color: #003a6f;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.b-r:hover {
  color: var(--primary-color); 
}

button.btn-cancel {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #00529B;
  background-color: #FFF;
  color: #00529B; 
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

/* Custom Modal Dimensions */
.modal-custom {
  max-width: 719px;
  height: 527px;
  margin: auto;
}

.modal-dialog {
  max-width: 717px;
  height: 478px;
  margin: auto;
}

/* Add padding around modal content */
.modal-content {
  padding: 32px;
}
.modal-title {
  color: var(--primary-color);
  font-size: 20px;
}

.modal-content {
  color: black;
}

/* Add gap between columns */
.row.g-5 {
  --bs-gutter-x: 50px; /* Horizontal gap of 50px */
}