.circle {
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #00529B;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  margin: 0 auto;
  line-height: 30px;
}

.active {
  background-color: #00529B;
  color: #fff;
}

.text {
  color: #00529B;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  margin: 10px 0;
}

.stepper {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.step {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.step.active {
  background-color: #007bff;
  color: #fff;
}