<!-- <app-spinner *ngIf="isLoading"></app-spinner> -->
<div class="container-fluid">
  <p class="fw-bold text-dark mb-3">{{ 'auth.verification' | translate }}</p>
  <p class="text-muted mb-3">
    {{ 'auth.otp_instruction' | translate }} {{ messageChannel == 'sms' ? 'phone number' : 'email'}}.
  </p>

  <div class="otp-form">
    <form [formGroup]="otpForm">
      <div class="row justify-content-center">
        <div style="align-items: center;" class="form-group col-sm-2 col-3" *ngFor="let input of formInput;  index as i">
          <input id="keyUpEvent" #formRow type="text" formControlName="{{input}}" class="form-control text-center"
                 maxlength="1" (keyup)="keyUpEvent($event, input)">
        </div>
        <div *ngIf="submitted && otpForm.invalid" class="invalid-feedback">
          <div>
            {{ 'auth.otp_required' | translate }}
          </div>
        </div>
      </div>
      <div class="row">

        <div class="my-3">
          <button [disabled]="!this.otpForm.valid" id="onVerify" type="submit" class="btn btn-primary btn-full-width" size="large" (click)="onVerify()">
            <span *ngIf="!isLoading; else loading">{{ 'auth.verify' | translate }}</span>
            <ng-template #loading>
              <i class="pi pi-spin pi-spinner text-white" style="font-size: 2rem"></i>
            </ng-template>
          </button>
        </div>

        <button class="btn btn-link text-primary fw-bold" (click)="resendOtp()">
          {{ 'auth.resend_code' | translate }}
        </button>

      </div>
    </form>
  </div>

</div>
