
<!--{{ overviewConfig | json }}-->
<!--{{ partyAccountDetails.status | json }}-->

<div class="row g-3 align-items-center">
  <!-- Profile Section -->
  <div class="col-sm-5">
    <div class="row profile g-2">
      <div class="col-sm-3">
        <img
          class="profile-image"
          src="{{
            entityPartyIdDetails?.profileImage ||
              '../../../../../../../assets/images/profile_picture_placeholder.png'
          }}"
          alt="{{ entityPartyIdDetails?.name | titlecase }}"
        />
      </div>
      <div class="col-sm-9">
        <h5>{{ entityPartyIdDetails?.name | titlecase }}</h5>
        <ng-container
          *ngIf="entityAccountIdDetails.length > 0; else noEntityTypes"
        >
          <ng-container *ngFor="let role of entityAccountIdDetails">
            <button
              id="select-party-type-role"
              class="btn btn-sm me-2 my-2"
              [ngClass]="{
                'btn-primary':
                  partyAccountDetails?.partyType?.id === role?.partyType?.id,
                'btn-outline-primary':
                  partyAccountDetails?.partyType?.id !== role?.partyType?.id
              }"
              (click)="selectPartyTypeRole(role)"
            >
              {{ role?.partyType.partyTypeName }}
            </button>
          </ng-container>
        </ng-container>
        <ng-template #noEntityTypes> Loading... </ng-template>
      </div>
    </div>
  </div>

  <!-- Assign Role Button -->
  <div class="col-sm-3">
    <h5 style="visibility: hidden;">Assign role button</h5> <!--this is for layout purposes and should not be displayed-->
    <button
      class="btn btn-primary btn-sm"
      data-bs-toggle="modal"
      data-bs-target="#assignRole"
    >
      <!--{{ "entities.assign_role" | translate }}-->
      {{ basicInfo?.assignRole[language] | titlecase }}
    </button>
    <button class="btn btn-primary btn-sm" (click)="initiateReassignStatus('reassign')">Reassign task</button>
  </div>

  <!-- Status -->
  <div class="col-sm-4 ">
    <h5 style="visibility: hidden;">Status select dropdown</h5> <!--this is for layout purposes and should not be displayed-->
    <div *ngIf="partyAccountDetails?.status" class="row text-end">
      <div class="col-sm-8">
        <label for="status" class="col-form-label">
          {{ basicInfo?.status[language] | titlecase }}
        </label>
      </div>
      <div class="col-sm-4">
        <select id="status" class="form-select form-select-sm" aria-label="Default select example" (change)="processSelectedStatus($event)">
          <option
            *ngFor="let status of applicableStatuses"
            [value]="status.value"
            [selected]="status.value === selectedClientStatus.value"
          >
            {{ status.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!-- WEF/WET Fields -->
  <div class="col-sm-5">
    <div class="row">
      <div class="offset-sm-3 col-sm-9 mt-3">
        <ng-container
          *ngIf="
            partyAccountDetails?.partyType?.partyTypeName !== 'Lead' &&
            partyAccountDetails?.partyType?.partyTypeName !== 'Prospect'">
          <ng-container *ngTemplateOutlet="wefWetFields"></ng-container>
        </ng-container>
        <ng-container
          *ngIf="
            partyAccountDetails?.partyType?.partyTypeName === 'Lead' ||
            partyAccountDetails?.partyType?.partyTypeName === 'Prospect'"
        >
          <ng-container *ngTemplateOutlet="wefWetFields"></ng-container>
        </ng-container>
        <ng-template #wefWetFields>
          <div class="col-sm-auto flex-grow-1 d-flex flex-wrapfloat-end">
            <p class="me-5">
              {{ basicInfo?.wef[language] | uppercase }}
              <span class="ms-1 fw-bold">{{ clientDetails?.withEffectFromDate | date }}</span>
            </p>
            <p *ngIf="!isEditingWefWet">
              {{ basicInfo?.wet[language] | uppercase }}
              <span class="ms-1 fw-bold">{{ clientDetails?.withEffectToDate | date }}</span>
            </p>
            <form [formGroup]="wetDateForm" *ngIf="isEditingWefWet">
              <div  class="row mb-3">
                <label for="wetDate" class="col-sm-2 col-form-label">{{ basicInfo?.wet[language] | uppercase }}</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="wetDate" formControlName="wetDate">
                </div>
              </div>
            </form>
            <p>
              <button class="btn btn-light btn-sm ms-4" style="border-radius: 100%" (click)="toggleWefWetEdit()">
                <i *ngIf="!isEditingWefWet" class="fa fa-pencil" style="color: #00529b; font-size: 0.8em"></i>
                <i *ngIf="isEditingWefWet" class="fa fa-check" style="color: #00529b; font-size: 1.2em; font-weight: bold"></i>
              </button>
            </p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>


  <!-- Dynamic Buttons Section -->
  <div class="col-sm-auto flex-grow-0 d-flex flex-wrap justify-content-between">
    <ng-container
      *ngIf="partyAccountDetails?.partyType?.partyTypeName === 'Lead'"
    >
      <button class="btn btn-outline-primary btn-sm me-2">
        Convert to Client
      </button>
      <button class="btn btn-outline-primary btn-sm me-2">
        Convert to Prospect
      </button>
    </ng-container>
    <ng-container
      *ngIf="partyAccountDetails?.partyType?.partyTypeName === 'Prospect'"
    >
      <button class="btn btn-primary btn-sm me-2">Convert to Client</button>
    </ng-container>
  </div>
</div>


<!--dynamic display prep-->
<!--<div class="row">
  <div class="col-sm-12">
    <h5 class="mt-5">
      {{ "entities.basic_information" | translate }}
      <button class="btn btn-light btn-sm ms-4" style="border-radius: 100%">
        <i class="fa fa-pencil" style="color: #00529b; font-size: 0.8em"></i>
      </button>
    </h5>
  </div>
  <div class="col-sm-4">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>{{ "entities.party_type" | translate }}</td>
          <th>
            <span *ngIf="partyAccountDetails?.clientDto?.clientType?.category">
              {{ partyAccountDetails?.clientDto?.clientType?.category }}
            </span>
            <span *ngIf="partyAccountDetails?.agentDto?.category">
              {{ partyAccountDetails?.agentDto?.category }}
            </span>
            <span *ngIf="partyAccountDetails?.serviceProviderDto?.category">
              {{ partyAccountDetails?.serviceProviderDto?.category }}
            </span>
            <span *ngIf="partyAccountDetails?.leadDto">
              {{ partyAccountDetails?.category }}
            </span>
            <span *ngIf="partyAccountDetails?.prospectDto">
              {{ partyAccountDetails?.category }}
            </span>
          </th>
        </tr>
        <tr>
          <td>{{ "entities.primary_id_type" | translate }}</td>
          <th>{{ entityPartyIdDetails?.modeOfIdentity?.name }}</th>
        </tr>
        <tr>
          <td *ngIf="partyAccountDetails?.clientDto?.passportNumber">
            {{ "entities.passport_number" | translate }}
          </td>
          <th>{{ partyAccountDetails?.clientDto?.passportNumber }}</th>
        </tr>
        <tr *ngIf="partyAccountDetails?.clientDto?.occupation?.name">
          <td>{{ "entities.occupation" | translate }}</td>
          <th>{{ partyAccountDetails?.clientDto?.occupation?.name }}</th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>
            {{
              partyAccountDetails?.partyType?.partyTypeName === "Agent"
                ? "Account"
                : partyAccountDetails?.partyType?.partyTypeName
            }}
            Type
          </td>
          <th>
            <span
              *ngIf="partyAccountDetails?.clientDto?.clientType?.clientTypeName"
            >
              {{ partyAccountDetails?.clientDto?.clientType?.clientTypeName }}
            </span>
            <span *ngIf="partyAccountDetails?.agentDto?.accountType">
              {{ partyAccountDetails?.agentDto?.accountType }}
            </span>
            <span
              *ngIf="
                partyAccountDetails?.serviceProviderDto?.providerType?.name
              "
            >
              {{ partyAccountDetails?.serviceProviderDto?.providerType?.name }}
            </span>
            <span *ngIf="partyAccountDetails?.leadDto">
              {{ partyAccountDetails?.category }}
            </span>
            <span *ngIf="partyAccountDetails?.prospectDto">
              {{ partyAccountDetails?.category }}
            </span>
          </th>
        </tr>
        <tr *ngIf="partyAccountDetails?.userDto?.username">
          <td>{{ "entities.username" | translate }}</td>
          <th>{{ partyAccountDetails?.userDto?.username }}</th>
        </tr>

        <tr>
          <td>{{ "entities.id_number" | translate }}</td>
          <th>{{ entityPartyIdDetails?.identityNumber }}</th>
        </tr>
        <tr *ngIf="partyAccountDetails?.clientDto?.clientTitle">
          <td>{{ "entities.title" | translate }}</td>
          <th>
            &lt;!&ndash; {{ partyAccountDetails?.contactDetails?.title?.shortDescription }} &ndash;&gt;
            {{ partyAccountDetails?.clientDto?.clientTitle }}
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>{{ "entities.dob" | translate }}</td>
          <th>{{ partyAccountDetails?.dateOfBirth | date }}</th>
        </tr>

        <tr>
          <td>{{ "entities.pin_number" | translate }}</td>
          <th>{{ partyAccountDetails?.pinNumber }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>-->

<!-- Assign Role Modal -->
<div
  class="modal fade"
  id="assignRole"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h1 class="modal-title text-primary fs-5">
          {{ "entities.assign_role" | translate }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closebutton
        ></button>
      </div>
      <div class="modal-body">
        <ng-container *ngFor="let role of unAssignedPartyTypes">
          <div class="row ms-2 my-1">
            <div class="form-check form-check-inline">
              <input
                id="assign-role"
                class="form-check-input"
                type="radio"
                (click)="selectRole(role)"
              />
              <label class="form-check-label">
                {{ role?.partyTypeName }}
              </label>
            </div>
          </div>
        </ng-container>
        <div class="row">
          <div class="col-sm-12 text-end">
            <button class="btn btn-primary" style="font-size: 1rem" (click)="onAssignRole()">Okay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" style="visibility: hidden" data-bs-toggle="modal" data-bs-target="#confirmStatusModal" #statusModalButton>
  Launch status modal
</button>

<!-- Modal -->
<ng-container *ngIf="selectedClientStatus">
  <div class="modal fade" id="confirmStatusModal" tabindex="-1" aria-labelledby="confirmStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h1 class="modal-title fs-5 text-primary" id="confirmStatusModalLabel">
            {{ selectedClientStatus?.actionLabel | titlecase }} client
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 class="text-dark mb-3">Are you sure you want to {{ selectedClientStatus?.actionLabel }} this client?</h6>
          <ng-container *ngIf='["INACTIVE", "SUSPENDED", "BLACKLISTED"].includes(selectedClientStatus?.value)'>
            <div class="my-3">
              <label for="statusComment" class="form-label">Comments</label>
              <textarea #commentInput class="form-control" id="statusComment" rows="3"></textarea>
            </div>
          </ng-container>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" data-bs-dismiss="modal" (click)="changeClientStatus()">{{ selectedClientStatus?.actionLabel | titlecase }}</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
