<div class="row">
  <div class="col-sm-4">
    <div class="row profile">
      <div class="col-sm-3">
        <img
          class="profile-image"
          src="{{
            entityPartyIdDetails?.profileImage ||
              '../../../../../../../assets/images/headshot.png'
          }}"
          alt="{{ entityPartyIdDetails?.name | titlecase }}"
        />
      </div>
      <div class="col-sm-9">
        <h5>{{ entityPartyIdDetails?.name | titlecase }}</h5>
        <ng-container
          *ngIf="entityAccountIdDetails.length > 0; else noEntityTypes"
        >
          <ng-container *ngFor="let role of entityAccountIdDetails">
            <button
              id="select-party-type-role"
              class="btn btn-sm"
              [ngClass]="{
                'btn-primary':
                  partyAccountDetails?.partyType?.id === role?.partyType?.id,
                'btn-outline-primary':
                  partyAccountDetails?.partyType?.id !== role?.partyType?.id
              }"
              (click)="selectPartyTypeRole(role)"
            >
              {{ role?.partyType.partyTypeName }}
            </button>
          </ng-container>
        </ng-container>
        <ng-template #noEntityTypes> Loading... </ng-template>
      </div>
    </div>
  </div>
  <div class="col-sm-2 p-2">
    <button
      class="btn btn-primary btn-sm mt-4"
      data-bs-toggle="modal"
      data-bs-target="#assignRole"
    >
      {{ "entities.assign_role" | translate }}
    </button>
  </div>
  <div class="col-sm-2 mt-4">
    <p>
      WEF
      <span class="ms-4 fw-bold">
        {{ entityPartyIdDetails?.effectiveDateFrom | date }}
      </span>
    </p>
  </div>
  <div class="col-sm-2 mt-4">
    <p>
      WET
      <span class="ms-4 fw-bold">
        {{ entityPartyIdDetails?.effectiveDateTo | date }}
      </span>
    </p>
  </div>
  <div class="col-sm-2 mt-4">
    <p *ngIf="partyAccountDetails?.status">
      {{ "entities.status" | translate }}
      <span class="badge text-bg-success ms-4 px-3 py-1">
        {{ partyAccountDetails?.status === "A" ? "Active" : "Inactive" }}
      </span>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h5 class="mt-5">
      {{ "entities.basic_information" | translate }}
      <button class="btn btn-light btn-sm ms-4" style="border-radius: 100%">
        <i class="fa fa-pencil" style="color: #00529b; font-size: 0.8em"></i>
      </button>
    </h5>
  </div>
  <div class="col-sm-4">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>{{ "entities.party_type" | translate }}</td>
          <th>
            <span *ngIf="partyAccountDetails?.clientDto?.clientType?.category">
              {{ partyAccountDetails?.clientDto?.clientType?.category }}
            </span>
            <span *ngIf="partyAccountDetails?.agentDto?.category">
              {{ partyAccountDetails?.agentDto?.category }}
            </span>
            <span *ngIf="partyAccountDetails?.serviceProviderDto?.category">
              {{ partyAccountDetails?.serviceProviderDto?.category }}
            </span>
          </th>
        </tr>
        <tr>
          <td>{{ "entities.primary_id_type" | translate }}</td>
          <th>{{ entityPartyIdDetails?.modeOfIdentity?.name }}</th>
        </tr>
        <tr>
          <td *ngIf="partyAccountDetails?.clientDto?.passportNumber">
            {{ "entities.passport_number" | translate }}
          </td>
          <th>{{ partyAccountDetails?.clientDto?.passportNumber }}</th>
        </tr>
        <tr *ngIf="partyAccountDetails?.clientDto?.occupation?.name">
          <td>{{ "entities.occupation" | translate }}</td>
          <th>{{ partyAccountDetails?.clientDto?.occupation?.name }}</th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>
            {{
              partyAccountDetails?.partyType?.partyTypeName === "Agent"
                ? "Account"
                : partyAccountDetails?.partyType?.partyTypeName
            }}
            type
          </td>
          <th>
            <span
              *ngIf="partyAccountDetails?.clientDto?.clientType?.clientTypeName"
            >
              {{ partyAccountDetails?.clientDto?.clientType?.clientTypeName }}
            </span>
            <span *ngIf="partyAccountDetails?.agentDto?.accountType">
              {{ partyAccountDetails?.agentDto?.accountType }}
            </span>
            <span
              *ngIf="
                partyAccountDetails?.serviceProviderDto?.providerType?.name
              "
            >
              {{ partyAccountDetails?.serviceProviderDto?.providerType?.name }}
            </span>
          </th>
        </tr>
        <tr *ngIf="partyAccountDetails?.userDto?.username">
          <td>{{ "entities.username" | translate }}</td>
          <th>{{ partyAccountDetails?.userDto?.username }}</th>
        </tr>

        <tr>
          <td>{{ "entities.id_number" | translate }}</td>
          <th>{{ entityPartyIdDetails?.identityNumber }}</th>
        </tr>
        <tr *ngIf="partyAccountDetails?.clientDto?.clientTitle">
          <td>{{ "entities.title" | translate }}</td>
          <th>
            <!-- {{ partyAccountDetails?.contactDetails?.title?.shortDescription }} -->
            {{ partyAccountDetails?.clientDto?.clientTitle }}
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>{{ "entities.dob" | translate }}</td>
          <th>{{ partyAccountDetails?.dateOfBirth | date }}</th>
        </tr>

        <tr>
          <td>{{ "entities.pin_number" | translate }}</td>
          <th>{{ partyAccountDetails?.pinNumber }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Assign Role Modal -->
<div
  class="modal fade"
  id="assignRole"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          {{ "entities.assign_role" | translate }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closebutton
        ></button>
      </div>
      <div class="modal-body">
        <ng-container *ngFor="let role of unAssignedPartyTypes">
          <div class="form-check form-check-inline">
            <input
              id="assign-role"
              class="form-check-input"
              type="radio"
              (click)="onAssignRole(role)"
            />
            <label class="form-check-label">
              {{ role?.partyTypeName }}
            </label>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
