.profile-image {
    height: 90px;
    width: 90px;
    border-radius: 100%;
}

.profile p {
    font-size: 1.1rem;
}

.btn {
    font-size: 0.7rem;
    margin-right: 10px;
}

p, th, td, li {
    font-size: 0.9em;
}
