.main {
    padding: 20px;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    min-height: 40px;
    margin-bottom: 8px;
    padding-left: 40px;
    color: black;
}

.container div {
    cursor: pointer;
    text-decoration: none;
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    cursor: pointer;
    color: #a5cef1;
}

.container div.active {
    text-decoration: underline;
    color: #00529B;
    ;
}


.container2 {
    padding: 40px;
    background: #FFF;
    border-radius: 6px;
}

.title-desc {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.table-label {
    color: #868E96;
}

.table-label-desc {
    color: black;
}

.pension-table-container {
    overflow-x: auto;
    display: flex;
}

.statement-desc {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

.pension-table {
    border-collapse: collapse;
    width: 100%;
}

.pension-table td {
    width: 50%;
}

/* Styles for the link */
.download-link {
    text-decoration: underline;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.download-link:hover {
    color: #00529B;
    text-decoration: underline;
}

.pdf-icon {
    width: 20px;
    height: 20px;
    padding-right: 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 8px;
    background-color: #BAD0E4;
    white-space: nowrap;
}

td {
    padding: 2px;
}

tr {
    border-bottom: none !important;
    /* height: 40px; */
}

.action-column {
    width: 10px;
    text-align: center;
}

/* .filter by options  */
.filter-options {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    width: 60px;
}

select {
    width: 180px;
    height: 35px;
}

input {
    width: 150px;
    height: 35px;
}

label,
select,
input {
    margin-right: 10px;
    display: inline-block;
}

/* .filter by options end */

.selected-row {
    background-color: #cce5ff !important;
    /*Changes row color on click*/
}

.label-name {
    color: grey;
    margin-right: 10px;
    white-space: nowrap;
}

.label-desc {
    color: black;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info>div {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info .label-name {
    text-align: right;
    margin-right: 10px;
    width: 120px;
}

.hover-button {
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.hover-button:hover {
    background-color: #b8bbb9;
    cursor: pointer;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    background: #FFF;
    border-radius: 6px;
    padding-top: 20px;
}

.box {
    width: calc(33.33% - 20px);
    min-height: 100px;
    background-color: rgb(229, 240, 248);
    border-radius: 5px 13px 5px 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box:hover {
    background-color: rgb(156, 208, 244);
    cursor: pointer;
}

.box table {
    width: 90%;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.td-data {
    color: black;
}

td:first-child {
    /* width: 50%; */
    font-weight: 500;
}

.active-label {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00529B;
    color: white;
    padding: 1px 4px 1px 20px;
    border-radius: 0 10px 0 20px;
    width: 100px;
}

.title {
    width: 100%;
    margin-bottom: 10px;
    color: #000;
}

.scroll-content {
    overflow-x: auto;
    flex-grow: 1;
}

.box .active-label {
    margin-right: 0;
    /* Override the margin-right for label set elswhere */
}

#table-align {
    text-align: right;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 10px;
}

.pol-dets {
    flex-grow: 1;
    font-weight: 500;
    font-size: 16px;
}

.option-select {
    flex-shrink: 0;
}

/* multiselect and form*/
.container-fil {
    display: flex;
    justify-content: space-between;
}

.filter-container {
    display: flex;
}

.filter-selectors {
    display: flex;
    margin-right: 15px;
}

.filter-selectors p-dropdown {
    margin-right: 10px;
}

.filter-selectors input {
    border-radius: 5px;
    max-width: 200px;
    border: 1px solid #c1c4c3;
}

.filter-label {
    color: black;
    margin-right: 5px;
    white-space: nowrap;
}

:host ::ng-deep .p-dropdown {
    width: 200px;
    margin-bottom: 8px;
}

.form-search {
    position: relative;
    width: 270px;
    display: flex;
    align-items: center;
}

.form-search .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #9ca3af;
}

.form-input {
    height: 35px;
    text-indent: 33px;
    border-radius: 4px;
    width: 100%;
    flex: 1;
}

.form-input:focus {
    box-shadow: none;
    border: 1;
}

p-multiSelect {
    margin-left: 15px;
    margin-top: 15px;
}


:host ::ng-deep .p-multiselect-label-container {
    display: none;
}

:host ::ng-deep .p-multiselect {
    height: auto;
}

:host ::ng-deep .p-multiselect-panel {
    max-height: 300px;
    max-width: 100%;
    overflow-y: auto;
}

:host ::ng-deep .p-multiselect-trigger {
    width: 20px;
    height: 20px;
}

@media (max-width: 1200px) {

    .container,
    .container2 {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        flex-wrap: wrap;
    }

    .box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {

    .container,
    .container2 {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        flex-wrap: wrap;
        overflow-x: auto;
    }

    .pension-table-container {
        overflow-x: auto;
        display: inline-block;
    }

    .pension-table {
        width: 100%;
        border-collapse: collapse;
    }

    /* .filter by options  */
    .filter-options {
        display: block;
        align-items: center;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }

    label {
        width: 60px;
    }

    select {
        width: 100%;
        height: 35px;
    }

    input {
        width: 100%;
        height: 35px;
    }

    label,
    select,
    input {
        margin-bottom: 10px;
        display: inline-block;
    }

    /* .filter by options end */

    .box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .container-fil {
        flex-direction: column;
    }

    .filter-container {
        width: 100%;
        flex-direction: column;
    }

    .form-search {
        width: 100%;
    }

    .filter-selectors {
        display: flex;
    }

    .filter-selectors p-dropdown,
    input {
        margin: 10px;
    }

    .filter-label {
        justify-content: flex-start;
    }

    .form-search .fa-search {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        color: #9ca3af;
    }

    .form {
        width: 100%;
    }
}