.label {
  /*width: 140px;*/
  margin-right: 10px;
}

.desc {
  font-weight: bold;
}

.risk-details table thead tr th {
  background: #00529b;
  color: #fff;
}

th, td {
  padding: 5px;
  font-weight: bold;
}
