.sub-class-header {
  color: #00529B;
}
#example-search-input {
  border-color: #DCDCDC;
  border-radius: 2px;
}
.coverlist{
  overflow-y: scroll;
  max-height: 340px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D9D9D9;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 30, 187, 0.1);
}
