@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#title{
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #00529B;
}

#help{
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-decoration: underline;


color: #00529B;
}
#tabbed{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

 
}
.activate{
    color: #00529B;
   
    padding-bottom: 10px;
    border-bottom: 2px solid #00529B; 
}
#info{

background: rgba(0, 82, 155, 0.1);
opacity: 0.8;
width: 100%;
}

#intro{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 150%;
/* or 18px */


color: #000000;
}
#get-started{

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 14px;
color: #00529B;
}
/* // ol {
//     list-style: none;
//     counter-reset: item;
//   } */
.active{
  color: #00529B;
  border-bottom: 0px;
}
.active #num{
  border:1px solid #00529B;
}
  li {
   
    margin-bottom: 12px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    cursor:pointer;
  }
/* //   li:before {
//     margin-left: -30px;
//     margin-right: 10px;
//     border:1px solid #000000;
//     content: counter(item);
//     background: white;
//     border-radius: 100%;
//     width:32.5px;
//     color: black;
//     display: inline-block;
//     padding: 8px 8px 8px 11px;
//     font-family: 'Lato';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 12px;
//     line-height: 14px;
    
//   } */
  #header::before{

    margin-left: -30px;
    margin-right: 10px;
    border: 1px solid #00529B;
    content: counter(item);
    background: white;
    border-radius: 100%;
    width: 19.5px;
    height: 22px;
    color: #00529B;
    display: inline-block;
    padding-left: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-left: 5px;
    padding-top: 3px;

  }
  #header{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #00529B;
  }
  label{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
  }
  #skip{
    text-decoration: underline;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    color: #00529B;
    cursor: pointer;
  }
  #start{
    background-color:#00529B;
    color:white;
    font-family: 'Lato';
    font-size: 14px;
    width: 124px;
    height: 30px;
    padding:1px;
    border-radius: 2px;
    
}
#more-info{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 150%;
/* or 18px */

text-align: center;

color: #000000;
}
#more{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */
  text-decoration: none;
  color: #00529B;
  cursor:pointer;
  }
#welcome{
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;

color: #00529B;
}
#subclass-card{
  max-height:500px;
  overflow-y: scroll;
}
#addPerilTitle{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  color: #00529B;
  
  }
#addPerilbtn{
  width: 120px;
  height: 35px;
  background: #00529B;
  padding:1px;
  border-radius: 5px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  }
  #getPerilModal{
  max-width: 320px!important;
  /* // max-height: 400px!important; */
  left: 714px!important;
  top: 87px;
    
  }
#fill{
  background-color:#00529B;
  color:white;
  font-family: 'Lato';
  font-size: 14px;
  width:80px;
  height: 30px;
  padding:1px;
  border-radius: 2px;
}
 
#alert-text{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */


color: #000000;
}
.card-footer{
  background-color: #ffff;
}
#outline{
  background-color:#ffff;
  color:#00529B;
  font-family: 'Lato';
  border: 1px solid #00529B;
  font-size: 14px;
  width:80px;
  height: 30px;
  padding:1px;
  border-radius: 2px;
}
#title1{
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #00529B;
}
#card-header{
  height: 45px;
  background-color: #ffff
}
label{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;
}
 /* width */
 :host ::ng-deep ::-webkit-scrollbar {
  width: 4px;

}
.selected{
  background-color: #00529B;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px !important; 
  border-radius: 1px !important;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00529B !important; 
  border-radius: 1px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#00529B !important; 
}
#num{
  margin-left: -30px;
    margin-right: 10px;
    border:1px solid #000000;
    background: white;
    border-radius: 100%;
    width:25.5px;
    color: black;
    display: inline-block;
    padding:4px 7px 5px 7px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

ul li { list-style-type: none; }