<div class="mx-4 mb-4 mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="title ml-2 mb-3" >System Sequences</h5>

                        <button type="button" class="btn create-btn ml-4"
                        data-bs-toggle="modal" data-bs-target="#create-missing-seq"><span class="butlable">Create
                              Missing Sequence</span></button>

                              <div class="mt-4 select">
                                <p-tree class="w-full md:w-35rem" [value]="data" selectionMode="single" (onNodeSelect)="SelectNode($event)"></p-tree>
                              </div>
            </div>
        </div>
      
       
    </div>
    <div class="col-xl-8">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="sub-title">Sequences</h5>
                <form [formGroup]="sequenceForm">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label class="try-lable"><span class="star">*</span>Branch</label>
                            <input class="form-control form-control-sm mb-2 poptext" formControlName="branch_code"
                            name="branch_code" />
                        </div>
                        <div class="col-md-4">
        
                            <label class="try-lable"><span class="star">*</span>Product</label>
                            <input class="form-control form-control-sm mb-2 poptext" formControlName="product_prefix"
                           name="product_prefix" />
                        </div>
                        <div class="col-md-4">
                            <label class="try-lable"><span class="star">*</span>Next Sequence Number</label>
                            <input class="form-control form-control-sm mb-2 poptext" formControlName="next_number"
                            name="next_number" />
                        </div>
                    </div>
                </form>
            

               <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#changeModal" >Change</button>
               <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#allocateModal">Allocate</button>
            </div>
         
        </div>

        <div class="card">
            <div class="card-body">
                <p class="text-end report">Report</p>
            </div>
            <p-table [value]=""  
            selectionMode="single" 
            [resizableColumns]="true" 
            styleClass="p-datatable-sm"
            responsiveLayout="scroll"
            class='ui-datatable'
            [autoLayout]="true" >
              <ng-template pTemplate="header">
                  <tr style="background-color:rgba(0, 82, 155, 0.20);height: 50px;">
                      <th>From No</th>
                      <th>To No</th>
                    
                      <th>Agent</th>
                     
                  </tr>
              </ng-template>
              <ng-template pTemplate="body"  let-data>
                  <tr style="height:300px">
                    <td>{{data.from}}</td>
                      
                  </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                  
                <tr>
                
            
                  <td colspan="8"  style="padding:160px;" id="empty"></td>
                </tr>
            
                
            </ng-template>
          </p-table>
        </div>
     
    </div>



    <!-- Modals -->

    <!-- ** CREATE MISSING SEQUENCE MODAL ** -->

    <div class="modal fade" id="create-missing-seq" tabindex="-1" role="dialog"
    aria-labelledby="create-missing-seq" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:364px;">
        <div class="modal-content">
        <div>
            <div class="card">

                

                    <div class="card-body">
                      <h5 class="card-title"
                        style="font-weight: bold;color: #00529B; font-family: 'Lato'; font-style: normal; line-height: 17px; font-size: 14px;">
                        New Sequence</h5>
                      <form [formGroup]="createForm">
                        <!-- Name input -->
                
                        <div class="row">
                            <div class="col-xl-4">
                              <label class="nelable">Level</label>
                            </div>
                            <div class="col-xl-8">
                            <select class="form-control form-control-sm mb-2"  formControlName="level" id ="level" name="level">
                              <option value = "1">P</option>
                              <option value = "2" >C</option>
                              <option value = "3" >CT</option>
                              <option  value = "4">CE</option>
                              <option  value = "5">OG</option>
                              <option  value = "6" >MC</option>
                              <option  value = "7">Q</option>
                            </select>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-4">
                            <label class="nelable">Year</label>
                          </div>
                          <div class="col-xl-8">
                            <input class="form-control form-control-sm mb-2" formControlName="underwriting_year" name="underwriting_year"/>
                          </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-xl-4">
                          <label class="nelable">Product</label>
                        </div>
                        <div class="col-xl-8">
                          <select class="form-control form-control-sm mb-2" 
                             name="shortName" formControlName="product_prefix"  >
                            <option></option>
                            <option *ngFor="let products of product"  [value]="products.shortName">{{products.shortName}}</option>
                          </select>
                        </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-xl-4">
                        <label class="nelable">Branch</label>
                      </div>
                      <div class="col-xl-8">
                        <select class="form-control form-control-sm mb-2" 
                        name="name" formControlName="branch_code">
                       <option></option>
                        <option  *ngFor="let branches of branch"  [value]="branches.id">{{branches.name}}</option>
                      </select>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-xl-4">
                      <label class="nelable">Next Sequence</label>
                    </div>
                    <div class="col-xl-8">
                      <input class="form-control form-control-sm mb-4" 
                           name="next_number"  formControlName="next_number" required />
                    </div>
                </div>
                      
                       
                
                          
                            <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary float-end" (click)="createMissingSequence()">Save</button>
                        

                
                    
                
                      </form>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- ** CHANGE FORM MODAL ** -->
    <div class="modal fade" id="changeModal" tabindex="-1" role="dialog"
    aria-labelledby="allocateModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 350px;" role="document">
        <div class="modal-content">
        <div>
            <div  class="card">

                <div class="card-body">
                  <h5 class="sub-title mb-3">Change Sequence</h5>
                  <form [formGroup]="changeForm">
            
                    <div class="row">
                      <div class="col-xl-4">
                      <label class="nelable">Change From</label>
                      </div>
                      <div class="col-xl-8">
                      <input  class="form-control form-control-sm mb-4" formControlName="oldNextValue" name="oldNextValue" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-4">
                      <label class="nelable">Change To</label>
                      </div>
                      <div class="col-xl-8">
                      <input  formControlName="newNextValue"  class="form-control form-control-sm mb-4"  name="newNextValue"  required />
                    </div>
                    </div>
                    
                      <label class="nelable">Reason for Changing</label>
           
                     
                      <textarea type="text" id="form7"  class="form-control form-control-sm mb-4"  formControlName="remarks" name="remarks"></textarea>
                      
                    
                  <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary float-end" (click)="saveChangeForm()">Save</button>
            
            
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

    <!-- ** ALLOCATE FORM MODAL ** -->
    <div class="modal fade" id="allocateModal" tabindex="-1" role="dialog"
    aria-labelledby="allocateModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 350px;" role="document">
        <div class="modal-content">
            <div  class="card">

                <div class="card-body">
                  <h5 class="sub-title mb-3">Allocated Sequence</h5>
                  <form [formGroup]="allocateForm">
                    
                    <div class="row">
                        <div class="col-xl-4">
                          <label class="try-lable">From No</label>
                        </div>
                        <div class="col-xl-8">
                          <input class="form-control form-control-sm mb-2 poptext"
                          name="nextNumberFrom" formControlName="nextNumberFrom" required />
                        </div>
                    </div>
            
                    <div class="row">
                      <div class="col-xl-4">
                        <label class="try-lable">To No</label>
                      </div>
                      <div class="col-xl-8">
                        <input
                        class="form-control form-control-sm mb-2 poptext"
                        name="nextNumberTo" formControlName="nextNumberTo" required />
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-xl-4">
                      <label class="try-lable">Agent</label>
                    </div>
                    <div class="col-xl-8">
                      <select
                      class="form-control form-control-sm mb-2 poptext"
                        name="agentCode" formControlName="agentCode">
                        <option  *ngFor="let agent of agents"  [value]="agent.id">{{agent.name}}</option>
                      </select>
                    </div>
                </div>

                <div class="row">
                  <div class="col-xl-4">
                    <label class="try-lable">Branch</label>
                  </div>
                  <div class="col-xl-8">
                    <select
                    class="form-control form-control-sm mb-4 poptext"
                        name="branch_code" formControlName="branch_code" >
                        <option  *ngFor="let branches of branch"  [value]="branches.id">{{branches.name}}</option>
                      </select>
                  </div>
              </div>
                  <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary float-end" (click)="saveAllocateForm()">Allocate</button>
            
            
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>

</div>
</div>