@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



.title{
color: #000;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.sub-title{
  color: #00529B;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.classec{

height: 40px;
text-decoration: none;
background: rgba(0, 82, 155, 0.2);
border: 1px solid rgba(220, 220, 220, 0.85);
border-radius: 2px;
}
.ulist{
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;

color: #000000;
}
.selected {
    color: red;
}
.create-btn{
width: 171px;
height: 37px;
background: #00529B;
border-radius: 2px;
justify-content: center; /* center horizontally */
align-items: center;
margin-top: auto;
margin-bottom: auto;
}
.icontry{
margin-left: 70px; 
display: inline-block; 
background-color: black; 
}
.butlable{
width: 132px;
height: 14px;
left: 245px;
top: 1px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;
}
#report{
    color: #00529B;
    font-family: 'Lato';
    font-style: normal;
}
.try-lable{
font-family: 'Lato';
font-style: normal;
font-size: 14px;
line-height: 19px;
font-weight: bold;
color: black; 
}
.star{
    color: red;
}
.poptext{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}
.nelable{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;
}
.allabel{
    display: inline-block;
    width: 20px;
    height: 20px;
clip-path: polygon(50% 40%, 75% 65%, 75% 55%, 50% 80%, 25% 55%, 25% 65%);
bottom: 63.38%;
font-size: 10px;
background: #000000;
}
.activity{
    background-color: rgb(0, 82, 155, 0.2) ;
    color: #000;
  }
  .select{
    overflow-y: scroll;
    max-height: 340px;
}
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #D9D9D9; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 30, 187, 0.1); 
  }
  .report{
color: #00529B;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
  }
 label{
color: #000;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
 }
 :host ::ng-deep .p-tree{  
border: 0px solid #dee2e6;
}



