#profile-photo {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 50%;
}

.img_upload {
  display: inline-block;
  font-family: 'Roboto', serif;
  text-align: center;
  background-color: white;
  color: #00529B;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 1px solid #00529B;
  border-radius: 2px 1px 2px 2px;
}
