<div class="base-content-section">
  <div class="row me-4">
    <div class="col-8">
      <app-dynamic-breadcrumb
        [breadCrumbItems]="[
      {
        label: 'Administration',
        url: '/home/crm'
      },
      {
        label: 'CRM Setups',
        url: '/home/crm',
      },
      {
        label: 'Activity Management',
        url: '/home/crm/priority-level-activity-status'
      },
      {
        label: 'Priority level and activity status',
        url: ''
      }
    ]"
      >
      </app-dynamic-breadcrumb>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-12 col-md-6">
              <h6 class="text-dark">Activity priority levels definition</h6>
            </div>

            <div class="col-sm-12 col-md-6 d-flex justify-content-lg-end">
              <div class="float-end">
                <span
                  class="icon-circle open-priority-level"
                  (click)="openDefinePriorityLevelModal()"
                >
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span
                  class="icon-circle edit-priority-level"
                  (click)="editPriorityLevel()"
                >
                  <i class="pi pi-pencil"></i>
                </span>
                <span
                  class="icon-circle"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModal"
                  (click)="prepareItemForDelete('priority')"
                >
                  <i class="fa-regular fa-trash-can"></i>
                </span>
              </div>
            </div>
          </div>
          <ng-container *ngIf="isDataLoading.priority; else priorityLoading">
            <p-table
              #priorityLevelsTable
              [autoLayout]="true"
              [rowHover]="true"
              [resizableColumns]="true"
              [showCurrentPageReport]="true"
              [rows]="pageSize || 5"
              [totalRecords]="priorityLevelsData?.length"
              [value]="priorityLevelsData"
              [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
              responsiveLayout="stack"
              [scrollable]="true"
              [(selection)]="selectedPriorityLevel"
              selectionMode="single"
              dataKey="id"
              scrollHeight="400px"
              currentPageReportTemplate="{first} - {last} of {totalRecords}"
              [globalFilterFields]="['description', 'code']"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="gis_exception_code">
                    Description
                    <p-sortIcon field="gis_exception_code"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-priorityLevel>
                <tr [pSelectableRow]="priorityLevel">
                  <td>{{ priorityLevel.desc }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="1">No Priority Level Detail(s) Found.</td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <ng-template #priorityLoading>
            <div class="text-center">
              <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-12 col-md-6">
              <h6 class="text-dark">Activity status definition</h6>
            </div>

            <div class="col-sm-12 col-md-6 d-flex justify-content-lg-end">
              <div class="float-end">
                <span
                  class="icon-circle open-activity-status-modal"
                  (click)="openActivityStatusModal()"
                >
                  <i class="fa-solid fa-plus"></i>
                </span>
                <span
                  class="icon-circle edit-activity-status"
                  (click)="editActivityStatus()"
                >
                  <i class="pi pi-pencil"></i>
                </span>
                <span
                  class="icon-circle"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModal"
                  (click)="prepareItemForDelete('status')"
                >
                  <i class="fa-regular fa-trash-can"></i>
                </span>
              </div>
            </div>
          </div>
          <ng-container *ngIf="isDataLoading.status; else statusLoading">
            <p-table
              #activityStatusTable
              [autoLayout]="true"
              [rowHover]="true"
              [resizableColumns]="true"
              [showCurrentPageReport]="true"
              [rows]="pageSize || 5"
              [totalRecords]="activityStatusData?.length"
              [value]="activityStatusData"
              [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
              responsiveLayout="stack"
              [scrollable]="true"
              [(selection)]="selectedActivityStatus"
              selectionMode="single"
              dataKey="id"
              scrollHeight="400px"
              currentPageReportTemplate="{first} - {last} of {totalRecords}"
              [globalFilterFields]="['description', 'code']"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="gis_exception_code">
                    Description
                    <p-sortIcon field="gis_exception_code"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-activityStatus>
                <tr [pSelectableRow]="activityStatus">
                  <td>{{ activityStatus.desc }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="1">No Activity Status Detail(s) Found.</td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <ng-template #statusLoading>
            <div class="text-center">
              <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Create priority level modal-->
<div
  class="modal fade"
  #newPriorityLevel
  id="newPriorityLevel"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 pb-0">
        <h5 class="modal-title text-black">
          {{ editMode ? "Edit" : "Define" }} a
          {{ editMode ? "priority level" : "new priority level" }}
        </h5>
        <button
          type="button"
          class="btn-close close-priority-level-modal"
          (click)="closeDefinePriorityLevelModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="priorityLevelForm">
          <div class="row my-3">
            <ng-container *ngIf="visibleStatus.shortDescription === 'Y'">
              <div class="col-md-12">
                <label class="form-label w-100" for="shortDescription"
                  >Short description</label
                >
                <textarea
                  class="form-control"
                  id="shortDesc"
                  formControlName="shtDesc"
                  rows="2"
                  [ngClass]="{
                    'is-invalid':
                      f['shortDescription']?.invalid &&
                      (f['shortDescription']?.dirty ||
                        f['shortDescription']?.touched)
                  }"
                ></textarea>
                <div
                  *ngIf="
                    f['shortDescription']?.invalid &&
                    (f['shortDescription']?.dirty ||
                      f['shortDescription']?.touched)
                  "
                  class="form-text text-danger"
                >
                  <div *ngIf="f['shortDescription']?.errors['required']">
                    Short description is required
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.description === 'Y'">
              <div class="col-md-12">
                <label class="form-label w-100" for="description"
                  >Description</label
                >
                <textarea
                  class="form-control"
                  id="desc"
                  formControlName="desc"
                  rows="3"
                  [ngClass]="{
                    'is-invalid':
                      f['description']?.invalid &&
                      (f['description']?.dirty || f['description']?.touched)
                  }"
                ></textarea>
                <div
                  *ngIf="
                    f['description']?.invalid &&
                    (f['description']?.dirty || f['description']?.touched)
                  "
                  class="form-text text-danger"
                >
                  <div *ngIf="f['description']?.errors['required']">
                    Description is required
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary create-priority-level"
          (click)="createPriorityLevel()"
        >
          Save details
        </button>
      </div>
    </div>
  </div>
</div>

<!--Create activity status modal-->
<div
  class="modal fade"
  #newActivityStatus
  id="newActivityStatus"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 pb-0">
        <h5 class="modal-title text-black">
          {{ editMode ? "Edit" : "Define" }}
          {{ editMode ? "an activity status" : "new activity status" }}
        </h5>
        <button
          type="button"
          class="btn-close close-activity-status-modal"
          (click)="closeActivityStatusModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="activityStatusForm">
          <div class="row my-3">
            <ng-container *ngIf="visibleStatus.shortDescription === 'Y'">
              <div class="col-md-12">
                <label class="form-label w-100" for="shortDescription"
                  >Short description</label
                >
                <textarea
                  class="form-control"
                  id="shortDescription"
                  formControlName="shtDesc"
                  rows="2"
                  [ngClass]="{
                    'is-invalid':
                      g['shortDescription']?.invalid &&
                      (g['shortDescription']?.dirty ||
                        g['shortDescription']?.touched)
                  }"
                ></textarea>
                <div
                  *ngIf="
                    g['shortDescription']?.invalid &&
                    (g['shortDescription']?.dirty ||
                      g['shortDescription']?.touched)
                  "
                  class="form-text text-danger"
                >
                  <div *ngIf="g['shortDescription']?.errors['required']">
                    Short description is required
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.description === 'Y'">
              <div class="col-md-12">
                <label class="form-label w-100" for="description"
                  >Description</label
                >
                <textarea
                  class="form-control"
                  id="description"
                  formControlName="desc"
                  rows="3"
                  [ngClass]="{
                    'is-invalid':
                      g['description']?.invalid &&
                      (g['description']?.dirty || g['description']?.touched)
                  }"
                ></textarea>
                <div
                  *ngIf="
                    g['description']?.invalid &&
                    (g['description']?.dirty || g['description']?.touched)
                  "
                  class="form-text text-danger"
                >
                  <div *ngIf="g['description']?.errors['required']">
                    Description is required
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary create-activity-status"
          (click)="createActivityStatus()"
        >
          Save details
        </button>
      </div>
    </div>
  </div>
</div>

<!--Delete Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border: none">
        <h1 class="modal-title fs-5 text-danger" id="deleteModalLabel">
          Confirm {{ activityText | uppercase }} delete!
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closeDeleteButton
        ></button>
      </div>
      <div class="modal-body">
        <p class="fs-5 text-muted">
          Are you sure you want to delete the selected {{ activityText }}?
        </p>
      </div>
      <div class="modal-footer" style="border: none">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger delete-activity-task"
          (click)="confirmDelete(activityText)"
        >
          Confirm Delete
        </button>
      </div>
    </div>
  </div>
</div>
