<div class="quotations mb-4">
  <h5>Quotations</h5>
  <p-tabView>
    <p-tabPanel header="General">
        <div class="row">
          <div class="col-sm-4">
            <div class="mb-3">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Search by client's name or quotation no.">
            </div>
          </div>
          <div class="col-sm-2">
            <select class="form-select" aria-label="Default select example">
              <option selected>Sort by: status</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="offset-2 col-sm-4 text-end">
            <button type="button" class="btn btn-primary btn-sm">Create quick quote</button>
            <button type="button" class="btn btn-primary btn-sm">Create normal quote</button>
          </div>
        </div>
        <div class="row">
          <p-table
            [value]="gis_quotations"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 20]"
          >
            <ng-template pTemplate="header">
                <tr>
                  <th>Quotation no.</th>
                  <th>Client name</th>
                  <th>Sum insured</th>
                  <th>Premium</th>
                  <th>Intermediary</th>
                  <th>Dated created</th>
                  <th>Cover from</th>
                  <th>Cover to</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-quot>
                <tr>
                  <td>{{ quot?.no }}</td>
                  <td>{{ quot?.clientCode }}</td>
                  <td>xxx</td>
                  <td>{{ quot?.premium | currency : ' ' }}</td>
                  <td>{{ quot?.agentCode }}</td>
                  <td>{{ quot?.dateCreated }}</td>
                  <td>{{ quot?.coverFrom }}</td>
                  <td>{{ quot?.coverTo }}</td>
                  <td>{{ quot?.status }}</td>
                  <td>
                    <button type="button" class="btn btn-link text-primary">
                      <i class="pi pi-eye" style="padding: 0 2px 0 0;"> </i>
                    </button>
                  </td>
                </tr>
            </ng-template>
          </p-table>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Life Ind">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
        </p>
    </p-tabPanel>
    <p-tabPanel header="Life Group">
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
            qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
        </p>
    </p-tabPanel>
    <p-tabPanel header="Pension">
      <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
          qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
      </p>
  </p-tabPanel>
  </p-tabView>
</div>

<div class="policies mb-4">
  <h5>Policies</h5>
  <p-tabView>
    <p-tabPanel header="General">
        <div class="row">
          <div class="col-sm-4">
            <div class="mb-3">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Search for policy">
            </div>
          </div>
          <div class="offset-2 col-sm-6 text-end">
            <button type="button" class="btn btn-primary btn-sm">Create new policy</button>
            <p class="policy-sort">
              Sort by: <small class="fw-bold">Newest</small>
            </p>
          </div>
        </div>
        <div class="row">

          <p-table
            [value]="gis_policies?.content"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 20]"
          >
            <ng-template pTemplate="header">
                <tr>
                  <th>Policy no.</th>
                  <th>Client name</th>
                  <th>Sum insured</th>
                  <th>Premium</th>
                  <th>Intermediary</th>
                  <th>Dated created</th>
                  <th>Cover from</th>
                  <th>Cover to</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-policy>
                <tr>
                  <td>{{ policy?.policy_no }}</td>
                  <td>xxx</td>
                  <td>{{ policy?.total_sum_insured | currency: ' ' }}</td>
                  <td>{{ policy?.premium | currency: ' ' }}</td>
                  <td>{{ policy?.agency }}</td>
                  <td>{{ policy?.preparedDate }}</td>
                  <td>{{ policy?.wef_dt }}</td>
                  <td>{{ policy?.wet_dt }}</td>
                  <td>{{ policy?.authorizedStatus }}</td>
                  <td>
                    <button type="button" class="btn btn-link text-primary">
                      <i class="pi pi-eye" style="padding: 0 2px 0 0;"> </i>
                    </button>
                  </td>
                </tr>
            </ng-template>
          </p-table>

        </div>
    </p-tabPanel>
    <p-tabPanel header="Life Ind">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
        </p>
    </p-tabPanel>
    <p-tabPanel header="Life Group">
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
            qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
        </p>
    </p-tabPanel>
    <p-tabPanel header="Pension">
      <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
          qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
      </p>
  </p-tabPanel>
  </p-tabView>
</div>

<div class="claims mb-4">
  <h5>Claims</h5>
  <p-tabView>
    <p-tabPanel header="General">
        <div class="row">
          <div class="col-sm-4">
            <div class="mb-3">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Search for claim">
            </div>
          </div>
          <div class="offset-2 col-sm-6 text-end">
            <button type="button" class="btn btn-primary btn-sm">Report a claim</button>
            <p class="policy-sort">
              Sort by: <small class="fw-bold">Newest</small>
            </p>
          </div>
        </div>
        <div class="row">

          <p-table
            [value]="gis_claims?.content"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 20]"
          >
            <ng-template pTemplate="header">
                <tr>
                  <th>Claim no.</th>
                  <th>Client name</th>
                  <th>Sum insured</th>
                  <th>Premium</th>
                  <th>Intermediary</th>
                  <th>Dated created</th>
                  <th>Cover from</th>
                  <th>Cover to</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-claim>
                <tr>
                  <td>{{ claim?.claim_no }}</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>{{ claim?.booked_date }}</td>
                  <td>{{ claim?.product.withEffectFrom }}</td>
                  <td>{{ claim?.product.withEffectTo }}</td>
                  <td>{{ claim?.claim_status }}</td>
                  <td>
                    <button type="button" class="btn btn-link text-primary">
                      <i class="pi pi-eye" style="padding: 0 2px 0 0;"> </i>
                    </button>
                  </td>
                </tr>
            </ng-template>
          </p-table>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Life Ind">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
        </p>
    </p-tabPanel>
    <p-tabPanel header="Life Group">
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
            qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
        </p>
    </p-tabPanel>
    <p-tabPanel header="Pension">
      <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
          qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
      </p>
  </p-tabPanel>
  </p-tabView>
</div>
