<div class="base-content-section home">
  <h5 class="section-title">{{ "base.home" | translate }}</h5>
  <div class="row">
    <div class="col-sm-4 col-12">
      <app-tickets-summary></app-tickets-summary>
    </div>

    <!--calendar-->
    <div class="col-sm-8 col-12">
      <app-calendar></app-calendar>
    </div>
  </div>
</div>

<div class="base-content-section dashboard">
  <h5 class="section-title" routerLink="/home/reportsv2/create-dashboard">
    {{ "base.my_dashboard" | translate }}
  </h5>
  <div class="row">
    <div class="col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <ng-container *ngIf="chartsData.length > 0; else chartLoading">
            <app-dynamic-chart
              [basicData]="chartsData[0]"
              [chartType]="'bar'"
              [chartTitle]="report[0].type"
            ></app-dynamic-chart>
            <p class="text-primary text-center mt-2 fw-bold">
              {{ report[0].name }}
            </p>
          </ng-container>
          <ng-template #chartLoading>
            <div class="text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <ng-container *ngIf="chartsData.length > 0; else chartLoading">
            <app-dynamic-chart
              [basicData]="chartsData[1]"
              [chartType]="'line'"
              [chartTitle]="report[1].type"
            ></app-dynamic-chart>
            <p class="text-primary text-center mt-2 fw-bold">
              {{ report[1].name }}
            </p>
          </ng-container>
          <ng-template #chartLoading>
            <div class="text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="base-content-section lms">
  <div class="row">
    <!-- BEGINS POLICY LIST (LMS/GIS) -->
    <div class="col-sm-12 transactions_container">
      <p class="transactions section-title">
        {{ "base.my_policies" | translate }}
      </p>
      <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span class="tabTitle">{{ "base.general" | translate }}</span>
          </ng-template>
          <div class="row">
            <div class="offset-8 col-sm-4 text-end mb-2">
              <a
                type="button"
                class="btn btn-primary btn-sm"
                routerLink="/home/gis/policy/underwriting"
              >
                {{ "entities.create_new_policy" | translate }}
              </a>
            </div>
          </div>
          <ng-container *ngIf="isPolicyDataReady; else policyLoading">
            <p-table
              [value]="gis_policies"
              [paginator]="true"
              [rows]="5"
              [showCurrentPageReport]="true"
              [tableStyle]="{ 'min-width': '50rem' }"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [rowsPerPageOptions]="[5, 10, 20, 50]"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>{{ "entities.policy_no" | translate }}</th>
                  <th style="min-width: 20%">
                    {{ "entities.client_name" | translate }}
                  </th>
                  <th>
                    {{ "entities.sum_insured" | translate }}({{ currency }})
                  </th>
                  <th>{{ "entities.premium" | translate }}({{ currency }})</th>
                  <th>{{ "entities.intermediary" | translate }}</th>
                  <th>{{ "entities.date_created" | translate }}</th>
                  <th>{{ "entities.cover_from" | translate }}</th>
                  <th>{{ "entities.cover_to" | translate }}</th>
                  <th>{{ "entities.status" | translate }}</th>
                  <th>{{ "entities.action" | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-policy>
                <tr>
                  <td>{{ policy?.policyNo }}</td>
                  <td>{{ policy?.clientName }}</td>
                  <td>{{ policy?.totalSumInsured | currency : " " }}</td>
                  <td>{{ policy?.premium | currency : " " }}</td>
                  <td>{{ policy?.agency }}</td>
                  <td>{{ policy?.preparedDate }}</td>
                  <td>{{ policy?.wefDt }}</td>
                  <td>{{ policy?.wetDt }}</td>
                  <td>{{ policy?.authorizedStatus }}</td>
                  <td>
                    <button type="button" class="btn btn-link text-primary">
                      <i class="pi pi-eye" style="padding: 0 2px 0 0"> </i>
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <ng-template #policyLoading>
            <div class="text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span class="tabTitle">{{ "base.life_ind" | translate }}</span>
          </ng-template>
          <p>life</p>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span class="tabTitle">{{ "base.life_group" | translate }}</span>
          </ng-template>
          <p>At vero eos et accusamus et iusto odio dignissimos...</p>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span class="tabTitle">{{ "base.pension" | translate }}</span>
          </ng-template>
          <p>No</p>
        </p-tabPanel>
      </p-tabView>
    </div>
    <!-- END POLICY LIST (LMS/GIS) -->

    <!-- BEGINS QUOTATOIN LIST (LMS/GIS) -->
    <div class="col-sm-12 transactions_container" id="lms-gis-policy-list">
      <p class="transactions section-title">
        {{ "base.my_quotations" | translate }}
      </p>
      <p-tabView>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span class="tabTitle">{{ "base.general" | translate }}</span>
          </ng-template>
          <div class="row">
            <div class="offset-8 col-sm-4 text-end mb-2">
              <a
                type="button"
                class="btn btn-primary btn-sm"
                routerLink="/home/gis/quotation/quick-quote"
              >
                {{ "entities.create_quick_quote" | translate }}
              </a>
              <a
                type="button"
                class="btn btn-primary btn-sm"
                routerLink="/home/gis/quotation/quotations-client-details"
              >
                {{ "entities.create_normal_quote" | translate }}
              </a>
              <!-- <p class="policy-sort">
                Sort by: <small class="fw-bold">Newest</small>
              </p> -->
            </div>
          </div>
          <ng-container *ngIf="isQuotationDataReady; else quotationLoading">
            <p-table
              [value]="gis_quotations"
              [paginator]="true"
              [rows]="5"
              [showCurrentPageReport]="true"
              [tableStyle]="{ 'min-width': '50rem' }"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [rowsPerPageOptions]="[5, 10, 20, 50]"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>{{ "entities.quotation_no" | translate }}</th>
                  <th>{{ "entities.client_name" | translate }}</th>
                  <th>
                    {{ "entities.sum_insured" | translate }}({{ currency }})
                  </th>
                  <th>{{ "entities.premium" | translate }}({{ currency }})</th>
                  <th>{{ "entities.intermediary" | translate }}</th>
                  <th>{{ "entities.date_created" | translate }}</th>
                  <th>{{ "entities.cover_from" | translate }}</th>
                  <th>{{ "entities.cover_to" | translate }}</th>
                  <th>{{ "entities.status" | translate }}</th>
                  <th>{{ "entities.action" | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-quot>
                <tr>
                  <td>{{ quot?.no }}</td>
                  <td style="min-width: 20%">
                    {{ quot?.clientCode }}
                  </td>
                  <td>{{ quot?.sumInsured | currency : " " }}</td>
                  <td>{{ quot?.premium | currency : " " }}</td>
                  <td>{{ quot?.agentCode }}</td>
                  <td>{{ quot?.dateCreated }}</td>
                  <td>{{ quot?.coverFrom }}</td>
                  <td>{{ quot?.coverTo }}</td>
                  <td>{{ quot?.status }}</td>
                  <td>
                    <button type="button" class="btn btn-link text-primary">
                      <i class="pi pi-eye" style="padding: 0 2px 0 0"> </i>
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <ng-template #quotationLoading>
            <div class="text-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span class="tabTitle">{{ "base.life_ind" | translate }}</span>
          </ng-template>
          <p>life</p>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span class="tabTitle">{{ "base.life_group" | translate }}</span>
          </ng-template>
          <p>At vero eos et accusamus et iusto odio dignissimos...</p>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span class="tabTitle">{{ "base.pension" | translate }}</span>
          </ng-template>
          <p>No</p>
        </p-tabPanel>
      </p-tabView>
    </div>
    <!-- END QUOTATION LIST (LMS/GIS) -->
  </div>
</div>
