<div class="base-content-section home">
  <h5 class="section-title">Home</h5>
  <div class="row">
      <div class="col-sm-4">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-9">
                          <h5 class="card-title">Tickets</h5>
                      </div>
                      <div class="col-sm-2">
                          <span class="text-danger fw-bold">70</span>
                      </div>
                  </div>
                  <table class="table table-borderless">
                      <thead>
                      <tr>
                          <th>Tickets</th>
                          <th class="align-center">No. of Tickets</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <td>Authorize Quotation</td>
                          <td class="align-center">10</td>
                      </tr>
                      <tr>
                          <td>Authorize Transaction</td>
                          <td class="align-center">15</td>
                      </tr>
                      <tr>
                          <td>Underwrite Policy</td>
                          <td class="align-center">20</td>
                      </tr>
                      <tr>
                          <td>Underwrite Quotation</td>
                          <td class="align-center">15</td>
                      </tr>
                      <tr>
                          <td>Create Claim</td>
                          <td class="align-center">6</td>
                      </tr>
                      <tr>
                          <td>Dispatch Documents</td>
                          <td class="align-center">10</td>
                      </tr>
                      </tbody>
                  </table>
                  <div class="row">
                      <div class="text-end">
                          <a class="text-primary" href="#">View all</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-sm-8">
          <div class="card calendar">
              <div class="card-header">
                  <div class="row">
                      <div class="col-sm-2 offset-sm-3">
                          <select class="form-select" aria-label="Default select example">
                              <option selected>Day</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                          </select>
                      </div>
                      <div class="col-sm-2">
                          <select class="form-select" aria-label="Default select example">
                              <option selected>May</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                          </select>
                      </div>
                      <div class="col-sm-2">
                          <select class="form-select" aria-label="Default select example">
                              <option selected>2023</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <form>
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="row">
                                  <div class="col-sm-12 mb-2">
                                      <span
                                          style="padding: 8px;
                                          border-radius: 100%;
                                          background: #00529B; color: #fff; margin-right: 10px"
                                      >24
                                      </span> July, Saturday
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-12">
                                      <div class="mb-3">
                                          <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                                      </div>
                                      <div class="mb-3">
                                          <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-8">
                              <div class="row">
                                  <div class="col-sm-12">
                                      <label for="exampleFormControlInput1" class="form-label">Title Subject</label>
                                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="row">
                                          <div class="col-sm-12">
                                              <label for="exampleFormControlInput1" class="form-label">Location</label>
                                              <input type="email" class="form-control" id="exampleFormControlInput1">
                                          </div>
                                          <div class="col-sm-6">
                                              <label for="exampleFormControlInput1" class="form-label">Time From</label>
                                              <input type="email" class="form-control" id="exampleFormControlInput1">
                                          </div>
                                          <div class="col-sm-6">
                                              <label for="exampleFormControlInput1" class="form-label">Time To</label>
                                              <input type="email" class="form-control" id="exampleFormControlInput1">
                                          </div>
                                          <div class="col-sm-12">
                                              <label for="exampleFormControlInput1" class="form-label">Status</label>
                                              <input type="email" class="form-control" id="exampleFormControlInput1">
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-sm-6">
                                      <label for="exampleFormControlTextarea1" class="form-label">Description Details</label>
                                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-2">
                              <button class="btn btn-link text-primary">Back</button>
                          </div>
                          <div class="col-sm-2 offset-sm-8 text-end">
                              <button class="btn btn-link text-primary">Save</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="base-content-section dashboard">
  <h5 class="section-title">My Dashboard</h5>
  <div class="row">
      <div class="col-sm-6">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <p class="text-primary">
                          Total Individual Premium <br>
                          <span class="fs-5">KSH 20,000</span>
                      </p>
                  </div>
                  <div class="row">
                      <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-sm-6">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <p class="text-primary">
                          Total Insurance Premium <br>
                          <span class="fs-5">KSH 20,000</span>
                      </p>
                  </div>
                  <div class="row">
                      <canvas id="myChart2" style="width:100%;max-width:700px"></canvas>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="base-content-section policies">
  <div class="row">
      <div class="col-sm-6">
          <p class="transactions">My Policies</p>
          <div class="card">
              <div class="card-body">
                  <!--<div class="row mb-3">
                      <div class="col-sm-7">
                          <p class="text-muted fs-6">A list of the policies transacted</p>
                      </div>
                      <div class="col-sm-5">
                          <form class="d-flex">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                          </form>
                      </div>
                  </div>-->
                  <div class="row">
                      <div class="col-sm-12">
                        <app-dynamic-table [tableDetails]="tableDetails"></app-dynamic-table>
                          <!--<table class="table table-borderless table-hover">
                              <thead>
                              <tr>
                                  <th scope="col">Policy Number</th>
                                  <th scope="col">Type</th>
                                  <th scope="col">Insured</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Premium</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td>TA823154</td>
                                  <td>Motor</td>
                                  <td>John Doe</td>
                                  <td class="text-success">Active</td>
                                  <td>KSH 40,000.00</td>
                              </tr>
                              <tr>
                                  <td>TA823154</td>
                                  <td>Travel</td>
                                  <td>John Doe</td>
                                  <td class="text-success">Active</td>
                                  <td>KSH 40,000.00</td>
                              </tr>
                              <tr>
                                  <td>TA823154</td>
                                  <td>Marine</td>
                                  <td>John Doe</td>
                                  <td class="text-success">Active</td>
                                  <td>KSH 40,000.00</td>
                              </tr>
                              <tr>
                                  <td>TA823154</td>
                                  <td>Motor</td>
                                  <td>John Doe</td>
                                  <td class="text-success">Active</td>
                                  <td>KSH 40,000.00</td>
                              </tr>
                              </tbody>
                          </table>-->
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-sm-6">
          <p class="transactions">My Quotations</p>
          <div class="card">
              <div class="card-body">
                  <!--<div class="row mb-3">
                      <div class="col-sm-7">
                          <p class="text-muted fs-6">A list of the policies transacted</p>
                      </div>
                      <div class="col-sm-5">
                          <form class="d-flex">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                          </form>
                      </div>
                  </div>-->
                  <div class="row">
                      <div class="col-sm-12">
                          <!--<table class="table table-borderless table-hover">
                              <thead>
                              <tr>
                                  <th scope="col">Policy Number</th>
                                  <th scope="col">Type</th>
                                  <th scope="col">Insured</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Premium</th>
                                  <th scope="col" class="text-center">Options</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td>TA823154</td>
                                  <td>Motor</td>
                                  <td>John Doe</td>
                                  <td class="text-success">Paid</td>
                                  <td>KSH 40,000.00</td>
                                  <td class="text-center">View</td>
                              </tr>
                              <tr>
                                  <td>TA823154</td>
                                  <td>Travel</td>
                                  <td>John Doe</td>
                                  <td class="text-warning">Pending</td>
                                  <td>KSH 40,000.00</td>
                                  <td class="text-center">View</td>
                              </tr>
                              <tr>
                                  <td>TA823154</td>
                                  <td>Marine</td>
                                  <td>John Doe</td>
                                  <td class="text-success">Paid</td>
                                  <td>KSH 40,000.00</td>
                                  <td class="text-center">View</td>
                              </tr>
                              <tr>
                                  <td>TA823154</td>
                                  <td>Motor</td>
                                  <td>John Doe</td>
                                  <td class="text-warning">Pending</td>
                                  <td>KSH 40,000.00</td>
                                  <td class="text-center">View</td>
                              </tr>
                              </tbody>
                          </table>-->
                        <app-dynamic-table [tableDetails]="tableDetails2"></app-dynamic-table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

