.main {
    padding: 20px;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    min-height: 40px;
    margin-bottom: 8px;
    padding-left: 40px;
    color: black;
}

.container div {
    cursor: pointer;
    text-decoration: none;
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    cursor: pointer;
    color: #a5cef1;
}

.container div.active {
    text-decoration: underline;
    color: #00529B;
    ;
}


.container2 {
    padding: 40px;
    background: #FFF;
    border-radius: 6px;
}

.title-desc {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.table-label {
    color: #868E96;
}

.table-label-desc {
    color: black;
}

.pension-table-container {
    overflow-x: auto;
    display: flex;
}

.statement-desc {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

.pension-table {
    border-collapse: collapse;
    width: 100%;
}

.pension-table td {
    width: 50%;
}

/* Styles for the link */
.download-link {
    text-decoration: underline;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.download-link:hover {
    color: #00529B;
    text-decoration: underline;
}

.pdf-icon {
    width: 20px;
    height: 20px;
    padding-right: 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    text-align: left;
    padding: 8px;
    background-color: #BAD0E4;
    white-space: nowrap;
  }
  
  td {
    padding: 2px;
  }
  
  .action-column {
    width: 10px;
    text-align: center;
  }
  
/* .filter by options  */
.filter-options {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    width: 60px;
}

select {
    width: 180px;
    height: 35px;
}

input {
    width: 150px;
    height: 35px;
}

label, select, input {
    margin-right: 10px;
    display: inline-block;
}
/* .filter by options end */

@media (max-width: 1200px) {

    .container,
    .container2 {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {

    .container,
    .container2 {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        flex-wrap: wrap;
        overflow-x: auto;
    }

    .pension-table-container {
        overflow-x: auto;
        display: inline-block;
    }

    .pension-table {
        width: 100%;
        border-collapse: collapse;
    }

    /* .filter by options  */
.filter-options {
    display: block;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

label {
    width: 60px;
}

select {
    width: 100%;
    height: 35px;
}

input {
    width: 100%;
    height: 35px;
}

label, select, input {
    margin-bottom: 10px;
    display: inline-block;
}
/* .filter by options end */
}