<div class="main">
    <div style="display: flex; padding-top: 1rem; justify-content: start">
        <app-dynamic-breadcrumb [breadCrumbItems]="breadCrumbItems">
        </app-dynamic-breadcrumb>
      </div>
    <div *ngIf="!gla" class="container">
        <div>
            <!-- <div class="nav-link" (click)="showContent('summary')" [class.active]="selectedContent === 'summary'">
                Pension account summary</div> -->
                <div class="nav-link" (click)="showContent('summary')" [class.active]="selectedContent === 'summary'">
                    {{ (investment || investmentWithRider) ? ("lms.grp.member_portal.investment_summary" | translate) : ("lms.grp.member_portal.pension_account_summary" | translate) }}
                </div>                
                <div *ngIf="pensionWithLifeRider || investmentWithRider" class="nav-link" (click)="showContent('cover_types')"
                [class.active]="selectedContent === 'cover_types'">{{ "lms.grp.member_portal.cover_types" | translate }}</div>
            <div class="nav-link" (click)="showContent('transactions')"
                [class.active]="selectedContent === 'transactions'">{{ "lms.grp.member_portal.transactions" | translate }}</div>
        </div>
    </div>

    <div class="container2">
        <ng-container *ngIf="!gla">
        <div *ngIf="selectedContent === 'summary'">
            <div class="title-desc" *ngIf="!investment && !investmentWithRider">{{ "lms.grp.member_portal.pension_account_summary" | translate }}</div>
            <div class="title-desc" *ngIf="investment || investmentWithRider">{{ "lms.grp.member_portal.investment_summary" | translate }}</div>


            <div class="pension-table-container col-12" *ngIf="memberDetails">

                <div class="col-6">
                    <table class="pension-table">
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.name" | translate }}:</td>
                            <td class="table-label-desc">{{ memberDetails[0]?.name | titlecase }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.date_of_birth" | translate }}:</td>
                            <td class="table-label-desc">{{ memberDetails[0]?.date_of_birth }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.date_of_joining_scheme" | translate }}:</td>
                            <td class="table-label-desc">{{ memberDetails[0]?.effective_from_date }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.years_to_retirement" | translate }}:</td>
                            <td class="table-label-desc">{{ memberDetails[0]?.future_service_years }}</td>
                        </tr>
                        <tr *ngIf="!investment && !investmentWithRider">
                            <td class="table-label">{{ "lms.grp.member_portal.employee_contribution" | translate }}:</td>
                            <td class="table-label-desc">{{ memberDetails[0]?.employee_contri | number }}</td>
                        </tr>
                        <tr *ngIf="investment || investmentWithRider">
                            <td class="table-label">{{ "lms.grp.member_portal.interest" | translate }}:</td>
                            <td class="table-label-desc">{{ memberDetails[0]?.pens_interest_pct }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.interim_interest_rate" | translate }}:</td>
                            <td class="table-label-desc">{{ memberDetails[0]?.pens_interest_pct }}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-6">
                    <table class="pension-table">
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.gender" | translate }}:</td>
                            <td class="table-label-desc">{{ getGenderLabel(memberDetails[0]?.gender) }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.member_number" | translate }}:</td>
                            <td class="table-label-desc">{{ memberDetails[0]?.member_number }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.group" | translate }}:</td>
                            <td class="table-label-desc">{{ memberDetails[0]?.scheme_name | titlecase }}</td>
                        </tr>
                        <tr *ngIf="!investment && !investmentWithRider">
                            <td class="table-label">{{ "lms.grp.member_portal.employer_contribution" | translate }}:</td>
                            <td class="table-label-desc">{{ memberDetails[0]?.employer_contri | number }}</td>
                        </tr>
                        <tr *ngIf="!investment && !investmentWithRider">
                            <td class="table-label">{{ "lms.grp.member_portal.annual_salary" | translate }}:</td>
                            <td class="table-label-desc">{{ memberDetails[0]?.annual_earnings | number }}</td>
                        </tr>
                        <tr *ngIf="investment || investmentWithRider">
                            <td class="table-label">{{ "lms.grp.member_portal.contribution" | translate }}:</td>
                            <td class="table-label-desc">{{ memberDetails[0]?.name }}</td>
                        </tr>
                        <tr *ngIf="investment || investmentWithRider">
                            <td class="table-label">{{ "lms.grp.member_portal.total_fund_value" | translate }}:</td>
                            <td class="table-label-desc">{{ memberDetails[0]?.name }}</td>
                        </tr>
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.status" | translate }}:</td>
                            <td class="table-label-desc">{{ getStatusLabel(memberDetails[0]?.pension_status) }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <ng-container *ngIf="!investment && !investmentWithRider">
            <div class="statement-desc" style="margin-top: 40px;">Statement as of 13th, March 2024</div>
            <div class="pension-table-container col-12">
                <div class="col-6">
                    <div class="emp-contr">Employee contribution</div>

                    <table class="pension-table">
                        <tr>
                            <td class="table-label">Contribution:</td>
                            <td class="table-label-desc">Ksh. 100,000</td>
                        </tr>
                        <tr>
                            <td class="table-label">Trasfer value:</td>
                            <td class="table-label-desc">Ksh. 80,000</td>
                        </tr>
                        <tr>
                            <td class="table-label">Annual voluntary contribution:</td>
                            <td class="table-label-desc">Ksh. 20,000</td>
                        </tr>
                        <tr>
                            <td class="table-label">Interest:</td>
                            <td class="table-label-desc">Ksh. 1,200,000</td>
                        </tr>
                        <tr>
                            <td class="table-label">Total fund value:</td>
                            <td class="table-label-desc">Ksh. 10,300,000</td>
                        </tr>
                    </table>
                </div>

                <div class="col-6">
                    <div class="emp-contr col-6">Employer contribution</div>

                    <table class="pension-table">
                        <tr>
                            <td class="table-label">Contribution:</td>
                            <td class="table-label-desc">Ksh. 100,000</td>
                        </tr>
                        <tr>
                            <td class="table-label">Trasfer value:</td>
                            <td class="table-label-desc">Ksh. 80,000</td>
                        </tr>
                        <tr>
                            <td class="table-label">Annual voluntary contribution:</td>
                            <td class="table-label-desc">Ksh. 20,000</td>
                        </tr>
                        <tr>
                            <td class="table-label">Interest:</td>
                            <td class="table-label-desc">Ksh. 1,200,000</td>
                        </tr>
                        <tr>
                            <td class="table-label">Total fund value:</td>
                            <td class="table-label-desc">Ksh. 10,300,000</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="account-totals">Pension account totals <b>Ksh. 20,000,000</b></div>
        </ng-container>
            <div class="download-link mt-2" *ngIf="blobUrl">
                <a href="#" (click)="downloadReport($event)">
                  <img src="assets/images/file-type-pdf.svg" class="pdf-icon">
                  <span class="download-link">
                    {{ (investment || investmentWithRider) ? ("lms.grp.member_portal.investment_summary_report" | translate) : ("lms.grp.member_portal.pension_account_summary_report" | translate) }}
                  </span>
                </a>
              </div>

            <div class="title-desc mt-3">{{ "lms.grp.member_portal.valuations" | translate }}</div>
            <div class="filter-options">
                <label for="filterBy" style="color: black;">{{ "lms.grp.member_portal.filter_by" | translate }}</label>
                <select class="form-select">
                    <ng-container *ngFor="let option ">
                        <option [value]="">{{ option['category_category'] | titlecase }}</option>
                    </ng-container>
                </select>
                <select class="form-select">
                    <ng-container *ngFor="let option ">
                        <option [value]="">{{ option['category_category'] | titlecase }}</option>
                    </ng-container>
                </select>
                <input type="text" pInputText class="form-control" id='otherNames'>
            </div>
            <p-table [value]="memberBalances" styleClass="p-datatable-striped" [tableStyle]="{'max-width': '100%'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: calc(100% / 7);">{{ "lms.grp.member_portal.year" | translate }}</th>
                        <th style="width: calc(100% / 7);">{{ "lms.grp.member_portal.period" | translate }}</th>
                        <th id="table-align" style="width: calc(100% / 7);">{{ "lms.grp.member_portal.balance_brought_forward" | translate }}</th>
                        <th id="table-align" style="width: calc(100% / 7);">{{ "lms.grp.member_portal.contribution" | translate }}</th>
                        <th id="table-align" style="width: calc(100% / 7);">{{ "lms.grp.member_portal.rate" | translate }}</th>
                        <th id="table-align" style="width: calc(100% / 7);">{{ "lms.grp.member_portal.interest" | translate }}</th>
                        <th id="table-align"  style="width: calc(100% / 7);">{{ "lms.grp.member_portal.balance_carried_forward" | translate }}</th>
                        <th class="action-column" style="width: 10px;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{ item.year }}</td>
                        <td>{{ item.period }}</td>
                        <td id="table-align">{{ item.balance_bf | number  }}</td>
                        <td id="table-align">{{ item.employer_amount | number  }}</td>
                        <td id="table-align">{{ item.rate }}</td>
                        <td id="table-align">{{ item.total_interest | number }}</td>
                        <td id="table-align">{{ item.balance_cf | number  }}</td>
                        <td class="action-column">
                            <div class="flex justify-content-center">
                                <p-overlayPanel #op>
                                    <div>
                                        <!-- Download button -->
                                        <p-button label="" icon="pi pi-download" styleClass="p-button-rounded p-button-text"
                                            severity="primary">{{ "lms.grp.member_portal.download" | translate }}</p-button>
                                    </div>
                                </p-overlayPanel>
                                <!-- Ellipsis container -->
                                <div (click)="op.toggle($event)">
                                    <i class="fas fa-ellipsis-v hover-button" (click)="op.toggle($event)"></i>
                                </div>
                            </div>
                        </td>
                        </tr>
                </ng-template>
            </p-table>

            <div class=" mt-3">
                <a href="#">
                    <img src="assets/images/file-type-pdf.svg" class="pdf-icon">
                    <span class="download-link">{{ "lms.grp.member_portal.valuations_report" | translate }}</span>
                </a>
            </div>


        </div>
        </ng-container>

        <ng-container *ngIf="!gla">
        <div *ngIf="selectedContent === 'cover_types'">
                <div class="info">
                    <div>
                        <label class="label-name" for="name">Cover:</label>
                        <span class="label-desc" id="name">{{memberCovers[0]?.cvt_desc | titlecase}}</span>
                    </div>
            
                    <div>
                        <label class="label-name" for="national-id">Coverage period:</label>
                        <span class="label-desc" id="national-id">{{ memberCovers[0]?.pcm_cover_wef_date }} - {{ memberCovers[0]?.pcm_cover_wet_date }}</span>
                    </div>
        
                    <div>
                        <label class="label-name" for="phone">Sum assured:</label>
                        <span class="label-desc" id="phone">{{memberCovers[0]?.pcm_sa | number}}</span>
                    </div>
            
                </div>
        </div>
    </ng-container>

        <ng-container *ngIf="!gla">
        <div *ngIf="selectedContent === 'transactions'">
            <div class="title-desc">{{ "lms.grp.member_portal.receipts" | translate }}</div>
            <div>
                <div class="filter-options">
                    <select class="form-select">
                        <option value="" disabled selected>{{ "lms.grp.member_portal.select_year" | translate }}</option>
                        <ng-container *ngFor="let year of years">
                            <option [value]="year">{{ year }}</option>
                        </ng-container>
                    </select>

                    <select class="form-select">
                        <option value="" disabled selected>{{ "lms.grp.member_portal.select_month" | translate }}</option>
                        <ng-container *ngFor="let month of months">
                            <option [value]="month">{{ month }}</option>
                        </ng-container>
                    </select>
                </div>

                <p-table [value]="memberPensionDepReceipts" styleClass="p-datatable-striped" [tableStyle]="{'max-width': '100%'}"
                [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: calc(100% / 8);">{{ "lms.grp.member_portal.receipt_number" | translate }}</th>
                            <th style="width: calc(100% / 8);">{{ "lms.grp.member_portal.date" | translate }}</th>
                            <th id="table-align" style="width: calc(100% / 8);">{{ "lms.grp.member_portal.contribution" | translate }}</th>
                            <th style="width: calc(100% / 8);">{{ "lms.grp.member_portal.voluntary_contribution" | translate }}</th>
                            <th style="width: calc(100% / 8);">{{ "lms.grp.member_portal.transfer_value" | translate }}</th>
                            <th id="table-align" style="width: calc(100% / 8);">{{ "lms.grp.member_portal.severance" | translate }}</th>
                            <th id="table-align" style="width: calc(100% / 8);">{{ "lms.grp.member_portal.account_total" | translate }}</th>
                            <th id="table-align" style="width: calc(100% / 8);">{{ "lms.grp.member_portal.total_pension_account" | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                        <tr (click)="onReceiptsTableRowClick(item, rowIndex)" [ngClass]="{'selected-row': rowIndex === selectedRowIndex}" style="cursor: pointer">
                            <td>{{ item.pension_member_dep_code }}</td>
                            <td>{{ item.pnmdp_date }}</td>
                            <td id="table-align">{{ item.employee_amount | number }}</td>
                            <td id="table-align">{{ item.voluntary_contribution_amount | number }}</td>
                            <td id="table-align">{{ item.total_transfer_amount }}</td>
                            <td id="table-align">{{ item.cost_of_past_benefits }}</td>
                            <td id="table-align">{{ item.total_amount | number }}</td>
                            <td id="table-align">{{ item.pnmdp_amount | number }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div style="margin-top: 40px;">
                <div class="title-desc">{{ "lms.grp.member_portal.withdrawals" | translate }}</div>
                <div class="filter-options">
                    <select class="form-select">
                        <option value="" disabled selected>{{ "lms.grp.member_portal.select_year" | translate }}</option>
                        <ng-container *ngFor="let year of years">
                            <option [value]="year">{{ year }}</option>
                        </ng-container>
                    </select>

                    <select class="form-select">
                        <option value="" disabled selected>{{ "lms.grp.member_portal.select_month" | translate }}</option>
                        <ng-container *ngFor="let month of months">
                            <option [value]="month">{{ month }}</option>
                        </ng-container>
                    </select>
                </div>

                <p-table [value]="withdrawals" styleClass="p-datatable-striped" [tableStyle]="{'max-width': '100%'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: calc(100% / 6);">{{ "lms.grp.member_portal.date" | translate }}</th>
                            <th style="width: calc(100% / 6);">{{ "lms.grp.member_portal.payment_method" | translate }}</th>
                            <th style="width: calc(100% / 6);">{{ "lms.grp.member_portal.bank" | translate }}</th>
                            <th style="width: calc(100% / 6);">{{ "lms.grp.member_portal.account_number" | translate }}</th>
                            <th style="width: calc(100% / 6);">{{ "lms.grp.member_portal.payee" | translate }}</th>
                            <th style="width: calc(100% / 6); text-align: right;">{{ "lms.grp.member_portal.amount" | translate }}</th>
                            <th class="action-column" style="width: 10px;"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>{{ item.voucher_date }}</td>
                            <td>{{ item.payment_mode }}</td>
                            <td>{{ item.bank_branch_name }}</td>
                            <td>{{ item.clnt_acc_no }}</td>
                            <td>{{ item.payee }}</td>
                            <td style="text-align: right;">{{ item.voucher_amount | number }}</td>
                            <td class="action-column">
                                <i class="fas fa-ellipsis-v"></i>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div style="margin-top: 40px;" *ngIf="investment || investmentWithRider">
                <div class="title-desc">Loans</div>
                <div class="filter-options">
                    <select class="form-select">
                        <option value="" disabled selected>Select Year</option>
                        <ng-container *ngFor="let year of years">
                            <option [value]="year">{{ year }}</option>
                        </ng-container>
                    </select>

                    <select class="form-select">
                        <option value="" disabled selected>Select Month</option>
                        <ng-container *ngFor="let month of months">
                            <option [value]="month">{{ month }}</option>
                        </ng-container>
                    </select>
                </div>

                <p-table [value]="dummyData" styleClass="p-datatable-striped" [tableStyle]="{'max-width': '100%'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: calc(100% / 7);">Issue date</th>
                            <th style="width: calc(100% / 7);">1st repayment date</th>
                            <th style="width: calc(100% / 7);">Loan duration</th>
                            <th style="width: calc(100% / 7);">Principal amount</th>
                            <th style="width: calc(100% / 7);">Rates</th>
                            <th style="width: calc(100% / 7);">Interest</th>
                            <th style="width: calc(100% / 7);">Total payment</th>
                            <th class="action-column" style="width: 10px;"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td id="table-align">{{ item.year }}</td>
                            <td id="table-align">{{ item.period }}</td>
                            <td id="table-align">{{ item.balanceBF }}</td>
                            <td id="table-align">{{ item.contribution }}</td>
                            <td id="table-align">{{ item.rate }}%</td>
                            <td id="table-align">{{ item.interest }}</td>
                            <td id="table-align">{{ item.interest }}</td>
                            <td class="action-column">
                                <div class="flex justify-content-center">
                                    <p-overlayPanel #op>
                                        <div>
                                            <!-- Download button -->
                                            <p-button label="Download repayment schedule" icon="pi pi-download" styleClass="p-button-rounded p-button-text"
                                                severity="primary"></p-button>
                                        </div>
                                    </p-overlayPanel>
                                    <!-- Ellipsis container -->
                                    <div (click)="op.toggle($event)">
                                        <i class="fas fa-ellipsis-v hover-button" (click)="op.toggle($event)"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </ng-container>

        <ng-container *ngIf="gla">
            <div>
            <div class="title-desc">{{ "lms.grp.member_portal.cover_types" | translate }}</div>
            <div class="cvt-container">
                <div *ngFor="let memCovers of memberCovers; let i = index" class="box">
                    <label class="active-label">{{ getStatusLabel(memCovers?.pcm_status) }}</label>
                    <div class="scroll-content">
                      <table>
                        <tr>
                          <td class="td-label">{{ "lms.grp.member_portal.cover" | translate }}:</td>
                          <td class="td-data">{{ memCovers?.cvt_desc | titlecase }}</td>
                        </tr>
                        <tr>
                          <td class="td-label">{{ "lms.grp.member_portal.coverage_period" | translate }}:</td>
                          <td class="td-data">{{ memCovers?.pcm_cover_wef_date }} - {{ memCovers?.pcm_cover_wet_date }}</td>
                        </tr>
                        <tr>
                          <td class="td-label">{{ "lms.grp.member_portal.sum_assured" | translate }}:</td>
                          <td class="td-data">{{ memCovers?.pcm_sa | number }}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
            </div>
            </div>
    
        </ng-container>

    </div>
</div>

<!-- modals begin -->
<!-- modal to GET receipt breakdown -->
<div class="modal fade" tabindex="-1" #adminDetailsModal id="receiptsModal" aria-labelledby="receiptsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title float-left table-label" style="color: #00529B;" id="receiptsModal">{{ "lms.grp.member_portal.receipt_summary" | translate }}</div>
          <button type="button" class="custom-red-button" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeReceiptsModal()"></button>
        </div>
        <div class="modal-body">
            <div class="pension-table-container col-12" *ngIf="detailedMemContrReceipts">
                <div class="col-6">
                    <div class="emp-contr">{{ "lms.grp.member_portal.employee_contribution" | translate }}</div>

                    <table class="receipt-table">
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.contribution" | translate }}:</td>
                            <td class="table-label-desc receipts-summary">{{detailedMemContrReceipts[0]?.employee_amount | number}}</td>
                        </tr>
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.transfer_amount" | translate }}:</td>
                            <td class="table-label-desc receipts-summary">{{detailedMemContrReceipts[0]?.pnmdp_empye_trans_amt | number}}</td>
                        </tr>
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.annual_voluntary_contribution" | translate }}:</td>
                            <td class="table-label-desc receipts-summary">{{detailedMemContrReceipts[0]?.pnmdp_empye_vol_amt | number}}</td>
                        </tr>
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.cost_of_benefits" | translate }}:</td>
                            <td class="table-label-desc receipts-summary">{{detailedMemContrReceipts[0]?.cost_of_past_benefits | number}}</td>
                        </tr>
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.total_contribution" | translate }}:</td>
                            <td class="table-label-desc receipts-summary">{{detailedMemContrReceipts[0]?.total_amount | number}}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-6">
                    <div class="emp-contr col-6">{{ "lms.grp.member_portal.employer_contribution" | translate }}</div>

                    <table class="receipt-table">
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.contribution" | translate }}:</td>
                            <td class="table-label-desc receipts-summary">{{detailedMemContrReceipts[0]?.employer_amount | number}}</td>
                        </tr>
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.transfer_amount" | translate }}:</td>
                            <td class="table-label-desc receipts-summary">{{detailedMemContrReceipts[0]?.pnmdp_empyr_trans_amt | number}}</td>
                        </tr>
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.annual_voluntary_contribution" | translate }}:</td>
                            <td class="table-label-desc receipts-summary">{{detailedMemContrReceipts[0]?.pnmdp_empyr_trans_amt | number}}</td>
                        </tr>
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.cost_of_benefits" | translate }}:</td>
                            <td class="table-label-desc receipts-summary">{{detailedMemContrReceipts[0]?.cost_of_past_benefits | number}}</td>
                        </tr>
                        <tr>
                            <td class="table-label">{{ "lms.grp.member_portal.total_contribution" | translate }}:</td>
                            <td class="table-label-desc receipts-summary">{{detailedMemContrReceipts[0]?.total_amount | number}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="account-totals">{{ "lms.grp.member_portal.total_account_contributions" | translate }} <b>{{ totalContributions | number }}</b></div>
            
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- end of modal to GET receipt breakdown -->
  <!-- modals end -->