.base-navbar {
  background: #00529B !important;
  padding-right: 20px;
  padding-left: 20px;
}

.base-navbar .navbar-toggler .navbar-toggler-icon {
  height: 1em;
  width: 1em;
}

.base-navbar .navbar-brand .brand-name {
  margin-left: 20px;
  font-size: 0.9em;
}

.base-navbar .profile img {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  margin-right: 10px;
}

.base-navbar .profile span {
  color: #fff;
  font-size: 0.9em;
}
