.base-navbar {
  background: #00529B !important;
  padding-right: 20px;
  padding-left: 20px;
}

.base-navbar .navbar-toggler .navbar-toggler-icon {
  height: 1em;
  width: 1em;
}

.base-navbar .navbar-brand .brand-name {
  margin-left: 20px;
  font-size: 0.9em;
}

.base-navbar .profile img {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  margin-right: 10px;
}

.base-navbar .profile span {
  color: #fff;
  font-size: 0.9em;
}























.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}



