<nav class="navbar navbar-dark bg-primary base-navbar">
  <div class="container-fluid">
      <a class="navbar-brand fadeInDown col-3">
          <button 
            class="navbar-toggler" 
            type="button" 
            aria-controls="navbarToggleExternalContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
            (click)="toggleSideBar()"
          >
              <span class="navbar-toggler-icon"></span>
          </button>
          <span class="brand-name" style="font-size: 13px; font-weight: 900;">TURNQUEST</span>
      </a>
      <div style="color: white; padding: 0 0rem; display: flex; font-size: 1.5rem;">
        <app-language-selector></app-language-selector>
        <div class="dropdown profile">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="float-end">
              <img [src]="getUserImage()" class="rounded-circle" [alt]="user?.name?.substring(0, 1)+'W'">
              <!-- {{user?.name?.substring(0, 1)?.toUppercase() | uppercase}} -->
              {{ user?.name || '' }}
            </span>
          </button>
          <ul class="dropdown-menu" style="font-size:13px">
            <li><a class="dropdown-item" (click)="navigateAccount()">Profile</a></li>
            <li><a class="dropdown-item">Settings</a></li>
            <li><a class="dropdown-item"  (click)="logout()">Logout</a></li>
          </ul>
        </div>

      </div>

  </div>
</nav>
