.base-navbar {
  background: var(--primary-color) !important;
  padding-right: 20px;
  padding-left: 20px;
}

.base-navbar .navbar-toggler .navbar-toggler-icon {
  height: 1em;
  width: 1em;
}

.base-navbar .navbar-brand .brand-name {
  margin-left: 20px;
  font-size: 0.9em;
}

.base-navbar .profile img {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  margin-right: 10px;
}

.base-navbar .profile span {
  color: #fff;
  font-size: 0.9em;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 10px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: translateX(-0.5rem);
  border-radius: 0.2em;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 7px 9px;
  text-decoration: none;
  display: block;
}
.dropdown-content > a > span {
  border-radius: 3rem;
}

.dropdown-content > a > span:hover {
  border: 1px solid white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  border-radius: 0.2em;
  font-weight: 700;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 0.2em;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
