.form-check-inline {
  margin-right: 3rem;
}

.reportList {
  color: #000000;
  padding: 0 0 16px;
}
.reportList:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.selectedReport {
  color: var(--primary-color);
  font-weight: bold;
}
