<div class="base-content-section">
  <div class="row me-4">
    <div class="col-8">
      <app-dynamic-breadcrumb [breadCrumbItems]="[
      {
        label: 'Administration',
        url: '/home/crm'
      },
      {
        label: 'CRM Setups',
        url: '/home/crm',
      },
      {
        label: 'Campaign Management',
        url: '/home/crm/client-attributes'
      },
      {
        label: 'Client attributes',
        url: ''
      }
    ]">
      </app-dynamic-breadcrumb>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="text-dark">{{'campaignMngmt.clientAttributes'| translate }}</h5>
      <div class="row mb-2">
        <div class="col-sm-12 col-md-6">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            aria-label="search"
            aria-describedby="search"
            (input)="filterClientAttributes($event)"
          />
        </div>

        <div class="col-sm-12 col-md-6 d-flex justify-content-lg-end mt-2">
          <div class="float-end">
        <span class="icon-circle">
              <i class="fa-solid fa-plus"
                 (click)="openDefineClientAttributesModal()"></i>
            </span>
            <span class="icon-circle">
              <i class="pi pi-pencil"
              (click)="editClientAttribute()"></i>
            </span>
            <span class="icon-circle">
              <i class="fa-regular fa-trash-can" id="deleteClientAttr" (click)="deleteClientAttribute()"></i>
            </span>
          </div>
        </div>
      </div>
      <div>
        <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
        <p-table
          #clientAttributesTable
          [autoLayout]="true"
          [rowHover]="true"
          [paginator]="true"
          [resizableColumns]="true"
          [showCurrentPageReport]="true"
          [rows]="pageSize || 5"
          [totalRecords]="clientAttributesData?.length"
          [value]="clientAttributesData"
          [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
          responsiveLayout="stack"
          [scrollable]="true"
          [(selection)]="selectedClientAttribute"
          selectionMode="single"
          dataKey="code"
          scrollHeight="400px"
          currentPageReportTemplate="{first} - {last} of {totalRecords}"
          [globalFilterFields]="['description', 'name', 'prompt']"
        >

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">{{'campaignMngmt.name'| translate }}<p-sortIcon field="name"></p-sortIcon></th>
              <th pSortableColumn="description">{{'campaignMngmt.description'| translate }}<p-sortIcon field="description"></p-sortIcon></th>
              <th pSortableColumn="prompt">{{'campaignMngmt.prompt'| translate }}<p-sortIcon field="prompt"></p-sortIcon></th>
              <th pSortableColumn="range">{{'campaignMngmt.range'| translate }}<p-sortIcon field="range"></p-sortIcon></th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-clientAttribute>
            <tr [pSelectableRow]="clientAttribute">
              <td>{{clientAttribute?.name | titlecase}}</td>
              <td>{{clientAttribute?.description | titlecase}}</td>
              <td>{{clientAttribute?.prompt | titlecase}}</td>
              <td>{{clientAttribute?.range | titlecase}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">No Client Attributes Detail(s) Found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

</div>

<!--Create client attribute modal-->
<div
  class="modal fade"
  #campaignClientAttribute
  id="campaignClientAttribute"
  tabindex="-1"
  aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 pb-0">
        <h5 class="modal-title text-black">{{ editMode ? 'Edit' : 'Define' }} a {{ editMode ? 'client attribute' : 'new client attribute' }}</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeDefineClientAttributesModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createClientAttributesForm">
          <div class="row my-3">
            <ng-container *ngIf="visibleStatus.clientAttributeName === 'Y'">
              <div class="col-md-6">
                <label class="form-label w-100" for="clientAttributeName">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="clientAttributeName"
                  formControlName="clientAttributeName"
                  [ngClass]="{ 'is-invalid': f['clientAttributeName']?.invalid && (f['clientAttributeName']?.dirty || f['clientAttributeName']?.touched) }"
                />
                <div *ngIf="f['clientAttributeName']?.invalid && (f['clientAttributeName']?.dirty || f['clientAttributeName']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['clientAttributeName']?.errors['required']">Name is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.clientAttributeDescription === 'Y'">
              <div class="col-md-6">
                <label class="form-label w-100" for="clientAttributeDescription">Description</label>
                <input
                  type="text"
                  class="form-control"
                  id="clientAttributeDescription"
                  formControlName="clientAttributeDescription"
                  [ngClass]="{ 'is-invalid': f['clientAttributeDescription']?.invalid && (f['clientAttributeDescription']?.dirty || f['clientAttributeDescription']?.touched) }"
                />
                <div *ngIf="f['clientAttributeDescription']?.invalid && (f['clientAttributeDescription']?.dirty || f['clientAttributeDescription']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['clientAttributeDescription']?.errors['required']">Description is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.clientAttributePrompt === 'Y'">
              <div class="col-md-6">
                <label class="form-label w-100" for="clientAttributePrompt">Prompt</label>
                <input
                  type="text"
                  class="form-control"
                  id="clientAttributePrompt"
                  formControlName="clientAttributePrompt"
                  [ngClass]="{ 'is-invalid': f['clientAttributePrompt']?.invalid && (f['clientAttributePrompt']?.dirty || f['clientAttributePrompt']?.touched) }"
                />
                <div *ngIf="f['clientAttributePrompt']?.invalid && (f['clientAttributePrompt']?.dirty || f['clientAttributePrompt']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['clientAttributePrompt']?.errors['required']">Prompt is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.clientAttributeRange === 'Y'">
              <div class="col-md-6">
                <label class="form-label w-100" for="clientAttributeRange">Range</label>
                <select class="form-select" id="clientAttributeRange" formControlName="clientAttributeRange"
                  [ngClass]="{ 'is-invalid': f['clientAttributeRange']?.invalid && (f['clientAttributeRange']?.dirty || f['clientAttributeRange']?.touched) }">
                  <option value="Y">Yes</option>
                  <option value="N">No</option>
                </select>
                <div *ngIf="f['clientAttributeRange']?.invalid && (f['clientAttributeRange']?.dirty || f['clientAttributeRange']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['clientAttributeRange']?.errors['required']">Range is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.clientAttribute === 'Y'">
              <div class="col-md-6">
                <label class="form-label w-100" for="clientAttribute">Client attribute</label>
                <p-dropdown
                  [options]="clientSearchAttributesData"
                  optionLabel="shtDesc"
                  optionValue="columnName"
                  formControlName="clientAttribute"
                  id="clientAttribute"
                  [filter]="true"
                  filterBy="shtDesc"
                  [showClear]="true"
                  [style]="{ width: '100%', height: '50%' }"
                  placeholder="Select option"
                  [ngClass]="{ 'is-invalid': f['clientAttribute']?.invalid && (f['clientAttribute']?.dirty || f['clientAttribute']?.touched) }"
                >
                  <ng-template let-columns pTemplate="item">
                    <div title="{{columns?.shtDesc}}">
                      {{ columns?.shtDesc.length > 10 ? columns?.shtDesc.substring(0, 20) + '...' : columns?.shtDesc }}
                    </div>
                  </ng-template>
                </p-dropdown>
                <div *ngIf="f['clientAttribute']?.invalid && (f['clientAttribute']?.dirty || f['clientAttribute']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['clientAttribute']?.errors['required']">Client attribute is required</div>
                </div>
              </div>
            </ng-container>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="saveClientAttr" (click)="saveClientAttribute()">Save details</button>
      </div>
    </div>
  </div>
</div>
