::ng-deep .iti--allow-dropdown input,
.iti--allow-dropdown input[type="tel"] {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

::ng-deep .p-dropdown .p-dropdown-label {
  display: flex;
  align-items: center;
  height: 100%;
}

::ng-deep .p-dropdown .p-dropdown-filter {
  height: 35px;
}

::ng-deep .p-dropdown-invalid .p-dropdown {
  border: solid 1px red !important;
}
