<div class="body-container">
  <span class="Receipt-management"> Receipt management </span>
  <div class="d-flex">
    <span class="Printing"> Printing </span>
    <span class="Cancellation"> Cancellation </span>
  </div>
  <div class="Line-195"></div>
  <div class="row">
    <div class="col-md-12">
      <p-table
        responsiveLayout="scroll"
        class="table-striped"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]"
        selectionMode="single"
        dataKey="code"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      >
        <ng-template pTemplate="header">
          <div class="shaded-Table-row">
            <tr>
              <th class="header-bg">
                {{ "fms.receiptManagement.receiptNumber" | translate }}
              </th>
              <th class="header-bg">
                {{ "fms.receiptManagement.receiptDate" | translate }}
              </th>
              <th class="header-bg">
                {{ "fms.receiptManagement.receivedFrom" | translate }}
              </th>
              <th class="header-bg">
                {{ "fms.receiptManagement.amount" | translate }}
              </th>
              <th class="header-bg">
                {{ "fms.receiptManagement.paymentMethod" | translate }}
              </th>
              <th class="header-bg">
                {{ "fms.receipting.actions" | translate }}
              </th>
            </tr>
          </div>
        </ng-template>
        <ng-template pTemplate="body" let-client let-i="rowIndex">
          <tr>
            <td>{{ client.systemShortDesc }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.receiptType }}</td>
          </tr>
        </ng-template>

        <!-- Custom paginator template -->
        <ng-template pTemplate="paginator" let-state>
          <div class="custom-paginator">
            <button
              pButton
              type="button"
              icon="pi pi-angle-double-left"
              (click)="moveFirst(state)"
              [disabled]="state.first === 0"
            ></button>
            <button
              pButton
              type="button"
              icon="pi pi-angle-left"
              (click)="movePrev(state)"
              [disabled]="state.first === 0"
            ></button>

            <span
              >{{ "fms.receipting.showing" | translate }} {{ state.first + 1 }}
              {{ "fms.receipting.to" | translate }} {{ first + rows }}
              {{ state.first + state.rows }}
              {{ "fms.receipting.of" | translate }} {{ totalRecords }}
              {{ state.totalRecords
              }}{{ "fms.receipting.entries" | translate }}</span
            >

            <button
              pButton
              type="button"
              icon="pi pi-angle-right"
              (click)="moveNext(state)"
              [disabled]="state.first + state.rows >= state.totalRecords"
            ></button>
            <button
              pButton
              type="button"
              icon="pi pi-angle-double-right"
              (click)="moveLast(state)"
              [disabled]="state.first + state.rows >= state.totalRecords"
            ></button>
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
