<div class="body-container">
  <div class="main">
    <form [formGroup]="cancelForm">
      <h5 class="Receipt-management">
        {{ "fms.receipt-management.receiptManagement" | translate }}
      </h5>
      <div class="d-flex underline receipt-buttons">
        <button
          type="button"
          class="btn btn-link inactive"
          (click)="isPrintingClicked()"
          [ngClass]="{ active: isPrinting, inactive: !isPrinting }"
        >
          {{ "fms.receipt-management.printing" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-link inactive"
          (click)="cancelClicked()"
          [ngClass]="{ active: isCancellation, inactive: !isCancellation }"
        >
          {{ "fms.receipt-management.cancellation" | translate }}
        </button>
      </div>
      <div class="Line-195"></div>

      <!-- Cancellation Table -->
      <div class="row mt-3" *ngIf="cancellationDeactivated">
        <div class="col-md-10">
          <p-table
            responsiveLayout="scroll"
            class="table-striped"
            [paginator]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]"
            selectionMode="single"
            dataKey="code"
            [value]="filteredReceipts"
            [showCurrentPageReport]="true"
            [currentPageReportTemplate]="currentPageReportTemplate"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="header-bg">
                  {{ "fms.receipt-management.receiptNumber" | translate }}
                </th>
                <th class="header-bg">
                  {{ "fms.receipt-management.receiptDate" | translate }}
                </th>
                <th class="header-bg">
                  {{ "fms.receipt-management.receivedFrom" | translate }}
                </th>
                <th class="header-bg">
                  {{ "fms.receipt-management.amount" | translate }}
                </th>
                <th class="header-bg">
                  {{ "fms.receipt-management.paymentMethod" | translate }}
                </th>
                <th class="header-bg">
                  {{ "fms.receipting.actions" | translate }}
                </th>
              </tr>
              <!-- Filter Inputs Row -->
              <tr>
                <th>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    style="width: 90px"
                    (keyup.enter)="filter($event, 'receiptNumber')"
                    (input)="filter($event, 'receiptNumber')"
                    placeholder="{{ 'fms.receipting.filter' | translate }}"
                  />
                </th>
                <th>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    style="width: 90px"
                    (keyup.enter)="filter($event, 'receiptDate')"
                    (input)="filter($event, 'receiptDate')"
                    placeholder="{{ 'fms.receipting.filter' | translate }}"
                  />
                </th>
                <th>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    style="width: 90px"
                    (keyup.enter)="filter($event, 'receivedFrom')"
                    (input)="filter($event, 'receivedFrom')"
                    placeholder="{{ 'fms.receipting.filter' | translate }}"
                  />
                </th>
                <th>
                  <input
                    type="number"
                    class="form-control form-control-sm"
                    style="width: 90px"
                    (keyup.enter)="filter($event, 'amount')"
                    (input)="filter($event, 'amount')"
                    placeholder="{{ 'fms.receipting.filter' | translate }}"
                  />
                </th>
                <th>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    style="width: 90px"
                    (keyup.enter)="filter($event, 'paymentMethod')"
                    (input)="filter($event, 'paymentMethod')"
                    placeholder="{{ 'fms.receipting.filter' | translate }}"
                  />
                </th>
                <th>
                  <button
                    class="btn btn-outline-primary btn-sm"
                    (click)="clearFilters()"
                  >
                    clear filters
                  </button>
                  <!-- Optional clear button or placeholder -->
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-receipt let-i="rowIndex">
              <tr
                [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }"
              >
                <td>{{ receipt.branchReceiptCode }}</td>
                <td>{{ receipt.receiptDate }}</td>
                <td>{{ receipt.receivedFrom }}</td>
                <td>{{ receipt.amount }}</td>
                <td>{{ receipt.paymentMode }}</td>

                <td>
                  <button
                    type="button"
                    class="btn btn-link cancelbtn"
                    (click)="openCancelModal(receipt)"
                  >
                    {{ "fms.receipt-management.cancel" | translate }}
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <!-- END OF Cancellation Table currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"-->
      <!-- START OF RECEIPT CANCELLATION MODAL -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <!-- <div class="text"> -->
              <h5 class="text-start">
                {{ "fms.receipt-management.receiptCancellation" | translate }}
              </h5>
              <!-- </div> -->
              <!-- <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5> -->
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row mystyles">
                <div class="col">
                  <label for="cancelDate" style="color: #000">{{
                    "fms.receipt-management.cancellationDate" | translate
                  }}</label
                  ><span class="required"></span>
                  <input
                    type="date"
                    class="form-control"
                    id="cancelDate"
                    formControlName="cancellationDate"
                  />
                </div>
                <div class="col">
                  <label for="remarks" style="color: #000">{{
                    "fms.receipt-management.remarks" | translate
                  }}</label
                  ><span class="required"></span>
                  <input
                    type="text"
                    class="form-control"
                    id="remarks"
                    formControlName="remarks"
                  />
                </div>
                <div class="sub-class">
                  <h5 class="Raise-bank-charge">
                    {{ "fms.receipt-management.raiseBankCharge" | translate }}
                  </h5>

                  <div class="d-flex">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="flexRadioDefault1"
                        value="Y"
                        formControlName="raiseBankCharge"
                      />
                      <label
                        class="form-check-label"
                        for="flexRadioDefault1"
                        style="color: #000"
                      >
                        {{ "fms.receipt-management.yes" | translate }}
                      </label>
                    </div>

                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="flexRadioDefault2"
                        value="N"
                        formControlName="raiseBankCharge"
                        checked
                      />
                      <label
                        class="form-check-label"
                        for="flexRadioDefault2"
                        style="color: #000"
                      >
                        {{ "fms.receipt-management.no" | translate }}
                      </label>
                    </div>
                  </div>

                  <!-- Show this row only when 'yes' is selected -->
                  <div class="row mt-3" *ngIf="raiseBankCharge === 'Y'">
                    <div class="col">
                      <label for="accountCharged" style="color: #000">{{
                        "fms.receipt-management.accountCharged" | translate
                      }}</label
                      ><span class="required"></span>
                      <select
                        class="form-select"
                        id="accountCharged"
                        formControlName="accountCharged"
                      >
                        <option
                          *ngFor="let accounts of glAccountContent"
                          [value]="accounts.account_number"
                        >
                          {{ accounts.account_name }},{{
                            accounts.account_number
                          }}
                        </option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="glAccount" style="color: #000">{{
                        "fms.receipt-management.glAccount" | translate
                      }}</label
                      ><span class="required"></span>
                      <select
                        class="form-select"
                        id="glAccount"
                        formControlName="glAccount"
                      >
                        <option
                          *ngFor="let accounts of glAccountContent"
                          [value]="accounts.account_number"
                          style="color: red"
                        >
                          {{ accounts.account_name }},{{
                            accounts.account_number
                          }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div
                    class="row"
                    *ngIf="raiseBankCharge === 'Y'"
                    style="margin-top: 20px"
                  >
                    <div class="col col-lg-6">
                      <label for="bankCharges" style="color: #000">{{
                        "fms.receipt-management.bankCharges" | translate
                      }}</label>
                      <input
                        type="number"
                        class="form-control"
                        id="bankCharges"
                        formControlName="bankCharges"
                      />
                    </div>
                    <div class="col col-lg-6">
                      <label for="clientCharges" style="color: #000">{{
                        "fms.receipt-management.clientCharges" | translate
                      }}</label>
                      <input
                        type="number"
                        class="form-control"
                        id="clientCharges"
                        formControlName="clientCharges"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                [disabled]="cancelForm.invalid"
                (click)="validateFields()"
              >
                {{ "fms.receipt-management.cancel" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF RECEIPT CANCELLATION MODAL -->
      <!-- start of printing table data -->
      <div class="row mt-3" *ngIf="printingEnabled">
        <div class="col-md-10">
          <p-table
            responsiveLayout="scroll"
            class="table-striped"
            [paginator]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]"
            selectionMode="single"
            dataKey="code"
            [value]="filteredtabledata"
            [showCurrentPageReport]="true"
            [currentPageReportTemplate]="currentPageReportTemplate"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="header-bg">
                  {{ "fms.receipt-management.receiptNumber" | translate }}
                </th>
                <th class="header-bg">
                  {{ "fms.receipt-management.receiptDate" | translate }}
                </th>
                <th class="header-bg">
                  {{ "fms.receipt-management.receivedFrom" | translate }}
                </th>
                <th class="header-bg">
                  {{ "fms.receipt-management.amount" | translate }}
                </th>
                <th class="header-bg">
                  {{ "fms.receipt-management.paymentMethod" | translate }}
                </th>
                <th class="header-bg">
                  {{ "fms.receipting.actions" | translate }}
                </th>
              </tr>
              <!-- Filter Inputs Row -->
              <tr>
                <th>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    style="width: 90px"
                    (keyup.enter)="applyFilter($event, 'receiptNumber')"
                    (input)="applyFilter($event, 'receiptNumber')"
                    placeholder="{{ 'fms.receipting.filter' | translate }}"
                  />
                </th>
                <th>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    style="width: 90px"
                    (keyup.enter)="applyFilter($event, 'receiptDate')"
                    (input)="applyFilter($event, 'receiptDate')"
                    placeholder="{{ 'fms.receipting.filter' | translate }}"
                  />
                </th>
                <th>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    style="width: 90px"
                    (keyup.enter)="applyFilter($event, 'receivedFrom')"
                    (input)="applyFilter($event, 'receivedFrom')"
                    placeholder="{{ 'fms.receipting.filter' | translate }}"
                  />
                </th>
                <th>
                  <input
                    type="number"
                    class="form-control form-control-sm"
                    style="width: 90px"
                    (keyup.enter)="applyFilter($event, 'amount')"
                    (input)="applyFilter($event, 'amount')"
                    placeholder="{{ 'fms.receipting.filter' | translate }}"
                  />
                </th>
                <th>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    style="width: 90px"
                    (keyup.enter)="applyFilter($event, 'paymentMethod')"
                    (input)="applyFilter($event, 'paymentMethod')"
                    placeholder="{{ 'fms.receipting.filter' | translate }}"
                  />
                </th>
                <th>
                  <button
                    class="btn btn-outline-primary btn-sm"
                    (click)="clearFilter()"
                  >
                    clear filters
                  </button>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-receipt let-i="rowIndex">
              <tr
                [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }"
              >
                <td>{{ receipt.branchReceiptCode }}</td>
                <td>{{ receipt.receiptDate }}</td>
                <td>{{ receipt.receivedFrom }}</td>
                <td>{{ receipt.amount }}</td>
                <td>{{ receipt.paymentMode }}</td>

                <td>
                  <span class="d-flex text-align-center btns">
                    <button
                      type="button"
                      class="btn btn-link printbtn"
                      (click)="printReceipt(i, receipt.no)"
                      *ngIf="receipt.printed == 'N'"
                    >
                      {{ "fms.receipt-management.print" | translate }}
                    </button>
                    <button
                      type="button"
                      class="btn btn-link printbtn"
                      (click)="printReceipt(i, receipt.no)"
                      *ngIf="receipt.printed == 'Y'"
                    >
                      {{ "fms.receipt-management.reprint" | translate }}
                    </button>
                    <button
                      type="button"
                      class="btn btn-link sharebtn"
                      (click)="openReceiptShareModal()"
                    >
                      {{ "fms.receipt-management.share" | translate }}
                    </button>
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <!-- end of print table data -->

      <!-- receipt sharing  Modal -->
      <div
        class="modal fade"
        id="shareReceiptModal"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                {{ "fms.receipt-management.shareReceipt" | translate }}
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="d-flex">
                <div class="form-check customcss">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault1"
                  />
                  <label
                    class="form-check-label"
                    for="flexRadioDefault1"
                    style="color: #000"
                  >
                    {{ "fms.receipt-management.email" | translate }}
                  </label>
                </div>

                <div class="form-check customcss">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                    checked
                  />
                  <label
                    class="form-check-label"
                    for="flexRadioDefault2"
                    style="color: #000"
                  >
                    {{ "fms.receipt-management.whatsapp" | translate }}
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col clientcss">
                  <label for="clientName" style="color: #000">{{
                    "fms.receipt-management.clientName" | translate
                  }}</label>
                  <input type="text" class="form-control" id="clientName" />
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="phone" style="color: #000">{{
                    "fms.receipt-management.phoneNumber" | translate
                  }}</label>
                  <input type="number" class="form-control" id="phone" />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">
                {{ "fms.receipt-management.send" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
