.card-header {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    border-bottom: none;
}
.testimony-txt {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #00000066;
}

.btn-tab {
    border-radius: 5px;
    margin-right: 10px;
    border: 2px solid #00000033;
    background-color: #fff;
    color: black;
}

.btn-tab.active {
    background-color: #00529b;
    color: white;
    border-color: #00529b;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}