.fixed-height-card {
    height: 320px;
    overflow: hidden;
}

.card-header {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #000000;
    border-bottom: none;
}

.head-top {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #000000;
}

.head-bottom {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #00000080;
}
.testimony-txt {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #00000066;
}

.btn-tab {
    border-radius: 5px;
    margin-right: 10px;
    border: 2px solid #00000033;
    background-color: #fff;
    color: black;
}

.btn-tab.active {
    background-color: #00529b;
    color: white;
    border-color: #00529b;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.head-sm {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    background: #000000;
    color: #000000;
}

.btn-end {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #00529B;
    text-decoration: underline;
}


/* responsive */
@media (max-width: 576px) {
    .fixed-height-card {
        height: fit-content;
        overflow: none;
    }

    .card-btn {
        text-align: right;
    }

    .card-image img {
        max-width: 90px;
    }

    .head-top, .head-bottom {
        font-size: 0.9em;
        font-weight: 500;
        color: #000;
    }
}