<div class="container">
    <p class="titleMain mt-3 ms-4">{{ 'gis.quotation.revise_reuse_quotation' | translate }}  </p>
    <div class="container mx-2 mt-n1">

        <div class="card mb-3" style=" position: relative;">
            <div class="card-body ">
                <p class=" mt-2 ms-1 filter-by-text">{{ 'gis.quotation.filter_by' | translate }} :</p>

                <div class="row mt-4 mb-4">
                    <div class="col-sm-3  col-12">

                        <input type="text" id="quote-input" class="form-select form-control form-control-sm mb-1"
                            [value]="clientName | sentenceCase" data-bs-toggle="modal"
                            data-bs-target="#clientSearchModal" readonly placeholder="Client" />

                        <!-- Client Search Modal Component -->
                        <app-client-search-modal (clientSelected)="onClientSelected($event)"></app-client-search-modal>
                    </div>
                    <div class="col-sm-3  col-12">
                        <input type="text" id="quote-number-input" class=" form-control form-control-sm mb-1"
                            placeholder="Quotation number" [(ngModel)]="quotationNumber"
                            (blur)="onQuotationBlur($event)" />
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            <div class=" col-sm-4 col-12">

                                <p-calendar name="withEffectiveFromDate" [(ngModel)]="fromDate" [dateFormat]="dateFormat"
                                [showIcon]="true" [showButtonBar]="true" [placeholder]="'Date from'"
                                (onSelect)="onDateFromInputChange($event)" (onClear)="clearDateFilters()"
                                class="custom-calendar-height">
                            </p-calendar>
                            </div>
                            <div class="col-12 col-sm-4">

                                <p-calendar name="withEffectiveToDate" [(ngModel)]="toDate" [dateFormat]="dateFormat"
                                [showIcon]="true" [showButtonBar]="true" [placeholder]="'Date to'"
                                (onSelect)="onDateToInputChange($event)"
                                (onClear)="clearDateFilters()"
                                class="custom-calendar-height" >
                            </p-calendar>
                            </div>
                            <div class="col-12 col-sm-4">
                                <!-- <select id="source-input" class="form-select form-control-sm mb-1"
                                [(ngModel)]="selectedSource">
                                    <option value="" >Source type</option>
                                    <option *ngFor="let source of sourceDetail" [value]="source.description">{{
                                        source.description }}</option>
                                </select> -->
                                <p-dropdown [options]="sourceDetail" optionLabel="description" optionValue="description" [filter]="true"
                                filterBy="description" placeholder="Quotation source" [(ngModel)]="selectedSource"
                                (onChange)="onSourceSelected($event.value)" class="form-control-sm mb-1 custom-dropdown">
                            </p-dropdown>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row mt-4 mb-4">
                    <div class="col-6 d-flex justify-content-start">
                        <button type="button" class="btn btn-primary " id="search-buttons"
                        (click)="fetchGISQuotations()">
                            {{ 'gis.quotation.search' | translate }} </button>
                            <button type="button" class="btn btn-outline-primary ms-2 " id="search-buttons"
                            (click)="clearFilters()">
                                 {{ 'gis.quotation.clear' | translate }} </button>
                    </div>
                    <div class="col-6">

                    </div>
                </div>
                <!-- <p-table
                #dt1
                (onLazyLoad)="fetchGISQuotations($event)"
                [autoLayout]="true"
                [lazy]="true"
                [paginator]="true"
                [rowHover]="true"
                [resizableColumns]="true"
                [showCurrentPageReport]="true"
                [rows]="pageSize || 5"
                [totalRecords]="tableDetails.totalElements"
                [value]="tableDetails.rows"
                [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
                responsiveLayout="stack"
                [scrollable]="true"
                scrollHeight="400px"
                currentPageReportTemplate="{first} - {last} of {totalRecords}"
                styleClass="p-datatable-sm"> -->
                <p-table [value]="gisQuotationList" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'"
                    [resizableColumns]="true" [reorderableColumns]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{ 'gis.quotation.quotation_number' | translate }}</th>
                            <th>{{ 'gis.quotation.client' | translate }} </th>
                            <th>{{ 'gis.quotation.cover_from' | translate }}</th>
                            <th>{{ 'gis.quotation.cover_to' | translate }}</th>
                            <th>{{ 'gis.quotation.comments' | translate }}</th>
                            <th>{{ 'gis.quotation.expiry_date' | translate }}</th>
                            <th>{{ 'gis.quotation.status' | translate }}</th>
                            <th>{{ 'gis.quotation.transaction_date' | translate }}</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-quotation>
                        <tr style="cursor: pointer">
                            <td>{{quotation.quotationNumber}}</td>
                            <td>{{quotation.clientName |sentenceCase}}</td>
                            <td>{{quotation.fromDate}}</td>
                            <td>{{quotation.toDate}}</td>
                            <td>{{quotation.comments |sentenceCase}}</td>
                            <td>{{quotation.expiryDate}}</td>
                            <td>{{quotation.status}}</td>
                            <td>{{quotation.quotDate}}</td>
                            <td  id="action-buttons">
                              <button
                                id="action-buttons"
                                (click)="setQuotationNumber(
                                  quotation.quotationNumber,
                                  quotation.productCode,
                                  quotation.clientCode
                                )"
                              >
                                {{ "View quote" }}
                              </button>
                            </td>
                            <td id="action-buttons">{{ "Revise " }}</td>
                            <td id="action-buttons">{{ "Reuse" }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="1"></td>

                            <td colspan="10" style="padding:20px;padding-left: 340px;" id="empty">{{'gis.quotation.no_data_to_display' | translate}}</td>
                        </tr>

                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>

</div>

<br>
<br><br><br><br>
