.icon-circle {
  display: inline-block;
  background-color: #e4e7eb;
  color: #00529b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

:host ::ng-deep .p-dropdown.p-dropdown-clearable .p-dropdown-label {
  padding-right: 0px;
  padding-top: 0px;
}

:host ::ng-deep .p-dropdown-items-wrapper .p-dropdown-items li .p-dropdown-item {
  padding: 0.5rem 1.2rem;
}
