<div class="main">
    <div class="container">
        <div class="col-md-12 text-center">
            <h4>Group quote summary</h4>
            <h6 class="mt-4" style="color: grey;">Here is the quote summary for the <b style="color: black;">Whole life
                    product</b></h6>
        </div>
        <div class="centered-container">
            <div class="premium">
                <span class="s3Label">Premium</span>
                <span class="s3Value">$400</span>
                <span class="s3Label">Sum assured</span>
                <span class="s3Value">$40000</span>
            </div>
        </div>

        <div class="col-md-12 text-center">
            <hr class="mt-4 custom-hr">
        </div>

        <div class="row col-12 mt-3" style="color: black; padding-left: 25px;">
            <div class="col-md-4 col-xs-12">
                <table style="width: 100%; min-height: 133px;">
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">Quotation number: </td>
                        <td style="width: 50%; align-items: right;">ABN/008/009</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">Product: </td>
                        <td style="width: 50%; align-items: right;">Whole life product</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">Currency: </td>
                        <td style="width: 50%; align-items: right;">$</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 col-xs-12">
                <table style="width: 100%; min-height: 100px;">
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">Quotation status: </td>
                        <td style="width: 50%; align-items: right;">Draft</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">Frequency of Payment: </td>
                        <td style="width: 50%; align-items: right;">Monthly</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">Duration type: </td>
                        <td style="width: 50%; align-items: right;">Annually</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 col-xs-12">
                <table style="width: 100%; min-height: 100px;">
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">Effective date: </td>
                        <td style="width: 50%; align-items: right;">01/01/1990</td>
                    </tr>
                    <tr>
                        <td style="width: 50%; align-items: left; color: grey;">Inception date: </td>
                        <td style="width: 50%; align-items: right;">01/01/1090</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="summary-container col-12 mt-5">
            <div class="sub-summary col-md-4 col-sm-12 col-xs-12">
                <h5 class="summary-label">Cover summary</h5>
                <div class="summary">
                    <div class="col-md-12 col-sm-12 col-xs-12 summary-content">
                        <h6 class="summary-title">Cover 1</h6>
                        <table>
                            <tr>
                                <td class="label">Main Cover: </td>
                                <td class="value">Afya Bora group</td>
                            </tr>
                            <tr>
                                <td class="label">Cover types: </td>
                                <td class="value">Cover A</td>
                            </tr>
                            <tr>
                                <td class="label">Select rates: </td>
                                <td class="value">Rate A</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 summary-content">
                        <h6 class="summary-title">Cover 2</h6>
                        <table>
                            <tr>
                                <td class="label">Main cover: </td>
                                <td class="value">Afya bora group</td>
                            </tr>
                            <tr>
                                <td class="label">Cover types: </td>
                                <td class="value">Cover 2</td>
                            </tr>
                            <tr>
                                <td class="label">Select rates: </td>
                                <td class="value">Rate 2</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-12 text-center view-more">
                        <a href="#">
                            view more <i class="fas fa-plus-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sub-summary col-md-4 col-sm-12 col-xs-12">
                <h5 class="summary-label">Category summary</h5>
                <div class="summary">
                    <div class="col-md-12 col-xs-12 summary-content">
                        <h6 class="summary-title">Category 1</h6>
                        <table>
                            <tr>
                                <td class="label">Short description: </td>
                                <td class="value">Afya bora group</td>
                            </tr>
                            <tr>
                                <td class="label">Multiple of earnings: </td>
                                <td class="value">5</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 mt-4 summary-content">
                        <h6 class="summary-title">Category 2</h6>
                        <table>
                            <tr>
                                <td class="label">Short description: </td>
                                <td class="value">Afya bora group</td>
                            </tr>
                            <tr>
                                <td class="label">Multiple of earnings: </td>
                                <td class="value">5</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-12 col-sm-12 col-xs-12 text-center view-more">
                        <a href="#">
                            view more <i class="fas fa-plus-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sub-summary col-md-4 col-sm-12 col-xs-12">
                <h5 class="summary-label">Members summary</h5>
                <div class="summary">
                    <div class="col-md-12 col-xs-12 summary-content">
                        <table>
                            <tr>
                                <td class="label">Members Covered: </td>
                                <td class="value">8</td>
                            </tr>
                            <tr>
                                <td class="label">Members above overide FCL:</td>
                                <td class="value">0</td>
                            </tr>
                            <tr>
                                <td class="label">Members to reinsurance:</td>
                                <td class="value">0</td>
                            </tr>
                            <tr>
                                <td class="label">Computed FCL: </td>
                                <td class="value">250,000</td>
                            </tr>
                            <tr>
                                <td class="label">FCL overide: </td>
                                <td class="value">250,000</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-12 text-center view-more">
                        <a href="#">
                            view members list
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        <button type="button" class="btn btn-primary back-button" (click)="onBack()">Back
        </button>
        <div class="button-container">
            <button type="button" class="btn btn-info buttonS" (click)="onProceed()">Share</button>
            <button type="button" class="btn btn-primary buttonP" (click)="onProceed()">Finish</button>
        </div>
    </div>
</div>