<div class="base-content-section">
  <div class="me-4">
    <app-dynamic-breadcrumb [breadCrumbItems]="paymentModesBreadCrumbItems">
    </app-dynamic-breadcrumb>
  </div>

  <div class="me-4">
    <div class="card mb-3">
      <div class="card-header bg-transparent float-start pb-0">
        <span class="float-start mt-3">Payment modes</span>
        <div class="row mt-3 float-end">
          <div>
              <span class="icon-circle"
              ><i class="fa-solid fa-plus" (click)="openPaymentModesModal()"></i
              ></span>
            <span class="icon-circle"
            ><i class="pi pi-pencil" (click)="editPaymentMode()"></i
            ></span>
            <span class="icon-circle"
            ><i
              class="fa-regular fa-trash-can"
              (click)="deletePaymentMode()"
            ></i
            ></span>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="row mb-5">
          <div class="col-12">
            <p-table
              #paymentModesTable
              [value]="paymentModesData"
              [autoLayout]="true"
              [rowHover]="true"
              [resizableColumns]="true"
              styleClass="p-datatable-sm"
              responsiveLayout="scroll"
              [scrollable]="true"
              scrollHeight="400px"
              class="ui-datatable"
              [globalFilterFields]="['name']"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th class="head" pSortableColumn="shortDescription">Short description <p-sortIcon field="shortDescription"></p-sortIcon></th>
                  <th class="head" pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                  <th class="head" pSortableColumn="narration">Narration <p-sortIcon field="narration"></p-sortIcon></th>
                  <th class="head" pSortableColumn="isDefault">Default mode? <p-sortIcon field="isDefault"></p-sortIcon></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-paymentmode>
                <tr
                  class="custom-table"
                  (click)="onPaymentModeRowSelect(paymentmode)"
                  [class.selected]="selectedPaymentMode === paymentmode"
                >
                  <td class="body">{{ paymentmode.shortDescription }}</td>
                  <td class="body">{{ paymentmode.description }}</td>
                  <td class="body">{{ paymentmode.narration }}</td>
                  <td class="body">{{ paymentmode.isDefault }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="4">No payment mode detail(s) found.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header bg-transparent float-start pb-0">
        <span class="float-start mt-3">Claims payment modes</span>
        <div class="row mt-3 float-end">
          <div>
              <span class="icon-circle"
              ><i class="fa-solid fa-plus" (click)="openClaimPaymentModesModal()"></i
              ></span>
            <span class="icon-circle"
            ><i class="pi pi-pencil" (click)="editClaimPaymentMode()"></i
            ></span>
            <span class="icon-circle"
            ><i
              class="fa-regular fa-trash-can"
              (click)="deleteClaimPaymentMode()"
            ></i
            ></span>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="row mb-5">
          <div class="col-12">
            <p-table
              #claimPaymentModesTable
              [value]="claimPaymentModesData"
              [autoLayout]="true"
              [rowHover]="true"
              [resizableColumns]="true"
              styleClass="p-datatable-sm"
              responsiveLayout="scroll"
              [scrollable]="true"
              scrollHeight="400px"
              class="ui-datatable"
              [globalFilterFields]="['name']"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th class="head" pSortableColumn="shortDescription">Short description <p-sortIcon field="shortDescription"></p-sortIcon></th>
                  <th class="head" pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                  <th class="head" pSortableColumn="maximumAmount">Max amount <p-sortIcon field="maximumAmount"></p-sortIcon></th>
                  <th class="head" pSortableColumn="minimumAmount">Min amount <p-sortIcon field="minimumAmount"></p-sortIcon></th>
                  <th class="head" pSortableColumn="isDefault">Default value <p-sortIcon field="isDefault"></p-sortIcon></th>
                  <th class="head" pSortableColumn="remarks">Remarks <p-sortIcon field="remarks"></p-sortIcon></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-claimPaymentmode>
                <tr
                  class="custom-table"
                  (click)="onClaimPaymentModeRowSelect(claimPaymentmode)"
                  [class.selected]="selectedClaimsPaymentMode === claimPaymentmode"
                >
                  <td class="body">{{ claimPaymentmode.shortDescription }}</td>
                  <td class="body">{{ claimPaymentmode.description }}</td>
                  <td class="body">{{ claimPaymentmode.maximumAmount }}</td>
                  <td class="body">{{ claimPaymentmode.minimumAmount }}</td>
                  <td class="body">{{ claimPaymentmode.isDefault }}</td>
                  <td class="body">{{ claimPaymentmode.remarks }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">No claims payment mode detail(s) found.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  #paymentModesModal
  id="paymentModesModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog align-items-center">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">{{ editMode ? 'Edit' : 'Add' }} a {{ editMode ? 'payment mode' : 'new payment mode' }}</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closePaymentModesModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createPaymentModeForm">
          <div class="row">
            <ng-container *ngIf="visibleStatus.shortDescription === 'Y'">
              <div class="col-6 mb-3">
                <label for="shortDescription" class="form-label">Short description</label>
                <input
                  type="text"
                  class="form-control"
                  id="shortDescription"
                  placeholder="Short description"
                  formControlName="shortDescription"
                  [ngClass]="{ 'is-invalid': h['shortDescription']?.invalid && (h['shortDescription']?.dirty || h['shortDescription']?.touched) }"
                />
                <div *ngIf="h['shortDescription']?.invalid && (h['shortDescription']?.dirty || h['shortDescription']?.touched)" class="form-text text-danger">
                  <div *ngIf="h['shortDescription']?.errors['required']">Short description is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.description === 'Y'">
              <div class="col-6 mb-3">
                <label for="description" class="form-label">Description</label>
                <input
                  type="text"
                  class="form-control"
                  id="description"
                  placeholder="Description"
                  formControlName="description"
                  [ngClass]="{ 'is-invalid': h['description']?.invalid && (h['description']?.dirty || h['description']?.touched) }"
                />
                <div *ngIf="h['description']?.invalid && (h['description']?.dirty || h['description']?.touched)" class="form-text text-danger">
                  <div *ngIf="h['description']?.errors['required']">Description is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.narration === 'Y'">
              <div class="col-6 mb-3">
                <label for="narration" class="form-label">Narration</label>
                <input
                  type="text"
                  class="form-control"
                  id="narration"
                  placeholder="Narration"
                  formControlName="narration"
                  [ngClass]="{ 'is-invalid': h['narration']?.invalid && (h['narration']?.dirty || h['narration']?.touched) }"
                />
                <div *ngIf="h['narration']?.invalid && (h['narration']?.dirty || h['narration']?.touched)" class="form-text text-danger">
                  <div *ngIf="h['narration']?.errors['required']">Narration is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.defaultMode === 'Y'">
              <div class="col-6 mb-3">
                  <label for="defaultMode" class="form-label w-100">Default mode</label>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="defaultMode" id="defaultMode" value="Y">
                    <label class="form-label" for="defaultMode">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="defaultMode" id="defaultMode" value="N">
                    <label class="form-label" for="defaultMode">No</label>
                  </div>
                <div *ngIf="h['defaultMode']?.invalid && (h['defaultMode']?.dirty || h['defaultMode']?.touched)" class="form-text text-danger">
                  <div *ngIf="h['defaultMode']?.errors['required']">Default mode is required</div>
                </div>
              </div>
            </ng-container>

          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-primary" id="savePaymentModeBtn" (click)="savePaymentMode()">
          Save Details
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  #claimsPaymentModesModal
  id="claimsPaymentModesModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog align-items-center">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">{{ editMode ? 'Edit' : 'Add' }} a {{ editMode ? 'claims payment mode' : 'new claims payment mode' }}</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeClaimPaymentModesModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createClaimsPaymentModeForm">
          <div class="row">
            <ng-container *ngIf="visibleStatus.id === 'Y'">
              <div class="col-6 mb-3">
                <label for="id" class="form-label">Short description</label>
                <p-dropdown
                  [options]="paymentModesData"
                  optionLabel="shortDescription"
                  optionValue="shortDescription"
                  formControlName="id"
                  id="id"
                  [filter]="true"
                  filterBy="shortDescription"
                  [showClear]="true"
                  [style]="{ width: '100%', height: '48%' }"
                  placeholder="Select ID"
                  [ngClass]="{ 'is-invalid': f['id']?.invalid && (f['id']?.dirty || f['id']?.touched) }"
                >
                </p-dropdown>
                <div *ngIf="f['id']?.invalid && (f['id']?.dirty || f['id']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['id']?.errors['required']">Short description is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.claimsDescription === 'Y'">
              <div class="col-6 mb-3">
                <label for="claimsDescription" class="form-label">Description</label>
                <input
                  type="text"
                  class="form-control"
                  id="claimsDescription"
                  placeholder="Description"
                  formControlName="claimsDescription"
                  [ngClass]="{ 'is-invalid': f['claimsDescription']?.invalid && (f['claimsDescription']?.dirty || f['claimsDescription']?.touched) }"
                />
                <div *ngIf="f['claimsDescription']?.invalid && (f['claimsDescription']?.dirty || f['claimsDescription']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['claimsDescription']?.errors['required']">Description is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.minAmount === 'Y'">
              <div class="col-6 mb-3">
                <label for="minAmount" class="form-label">Minimum amount</label>
                <input
                  type="text"
                  class="form-control"
                  id="minAmount"
                  placeholder="Minimum amount"
                  formControlName="minAmount"
                  [ngClass]="{ 'is-invalid': f['minAmount']?.invalid && (f['minAmount']?.dirty || f['minAmount']?.touched) }"
                />
                <div *ngIf="f['minAmount']?.invalid && (f['minAmount']?.dirty || f['minAmount']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['minAmount']?.errors['required']">Minimum amount is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.maxAmount === 'Y'">
              <div class="col-6 mb-3">
                <label for="maxAmount" class="form-label">Maximum amount</label>
                <input
                  type="text"
                  class="form-control"
                  id="maxAmount"
                  placeholder="Maximum amount"
                  formControlName="maxAmount"
                  [ngClass]="{ 'is-invalid': f['maxAmount']?.invalid && (f['maxAmount']?.dirty || f['maxAmount']?.touched) }"
                />
                <div *ngIf="f['maxAmount']?.invalid && (f['maxAmount']?.dirty || f['maxAmount']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['maxAmount']?.errors['required']">Maximum amount is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.claimsDefaultMode === 'Y'">
              <div class="col-6 mb-3">
                <label for="claimsDefaultMode" class="form-label w-100">Default mode</label>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="claimsDefaultMode" id="claimsDefaultMode" value="Y">
                  <label class="form-label" for="claimsDefaultMode">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="claimsDefaultMode" id="claimsDefaultMode" value="N">
                  <label class="form-label" for="claimsDefaultMode">No</label>
                </div>
                <div *ngIf="f['claimsDefaultMode']?.invalid && (f['claimsDefaultMode']?.dirty || f['claimsDefaultMode']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['claimsDefaultMode']?.errors['required']">Default mode is required</div>
                </div>
              </div>
            </ng-container>

          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-primary" id="saveClaimsPaymentModeBtn" (click)="saveClaimPaymentMode()">
          Save Details
        </button>
      </div>
    </div>
  </div>
</div>

<app-reusable-input
  [modalId]="'paymentModeConfirmationModal'"
  [title]="'Delete Confirmation'"
  [message]="'Are you sure you want to delete this payment mode?'"
  (confirmed)="confirmPaymentModeDelete()"
  #paymentModeConfirmationModal
></app-reusable-input>

<app-reusable-input
  [modalId]="'claimsPaymentModeConfirmationModal'"
  [title]="'Delete Confirmation'"
  [message]="'Are you sure you want to delete this claims payment mode?'"
  (confirmed)="confirmClaimsPaymentModeDelete()"
  #claimsPaymentModeConfirmationModal
></app-reusable-input>
<div class="mobile-bottom"></div>
