<div class="container-fluid">
  <div style="display: flex; padding-top: 1rem; justify-content: end">
    <app-dynamic-breadcrumb [breadCrumbItems]="breadCrumbItems">
    </app-dynamic-breadcrumb>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-stepper [currentStep]="4" [stepperData]="steps"></app-stepper>
    </div>
  </div>

  <div class="full-border px-5" style="padding: 0">

    <div>
      <div class="d-flex justify-content-between pt-3 siz">
        <div class="fw-bold text-black">Medical history</div>
      </div>
      <div class="text-black">
        <div class="col fadeIn" style="position: relative">
          <ngx-spinner
          name="medical_history_screen"
            type="ball-clip-rotate-multiple"
            [fullScreen]="false"
            color="#00529B"
            size="medium"
            bdColor="rgba(255, 255, 255, 0.966)"
          ></ngx-spinner>
  

          <div [formGroup]="medicalHistoryForm" class="w-100">
            <div class="my-lg-5">
              <label class="required">1. Do you have a personal doctor?</label>
              <div></div>
              <div class="row">
                <div class="col-12">
                  <span class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="male"
                      formControlName="question1"
                      value="Y"
                    />
                    <label class="form-check-label" for="male">Yes</label>
                  </span>
                  <span class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="female"
                      formControlName="question1"
                      value="N"
                    />
                    <label class="form-check-label" for="female">No</label>
                  </span>
                </div>
                <div *ngIf="getValue('question1') === 'Y'">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 px-4 py-2">
                      <label for="surname">Name</label>
                      <input
                        type="text"
                        class="form-control"
                        [id]="'surname'"
                      />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 px-4 py-2">
                      <label for="other_name">Location</label>
                      <input
                        type="text"
                        class="form-control"
                        [id]="'other_name'"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 px-4 py-2">
                      <label for="surname">Phone No.</label>
                      <input
                        type="text"
                        class="form-control"
                        [id]="'surname'"
                      />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 px-4 py-2">
                      <label for="other_name">Email Address</label>
                      <input
                        type="text"
                        class="form-control"
                        [id]="'other_name'"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="my-lg-5">
              <label class="required"
                >2. Pregnant? Please provide your status</label
              >
              <div></div>
              <div>
                <span class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="male"
                    formControlName="question2"
                    value="Y"
                  />
                  <label class="form-check-label" for="male">Yes</label>
                </span>
                <span class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="female"
                    formControlName="question2"
                    value="N"
                  />
                  <label class="form-check-label" for="female">No</label>
                </span>
              </div>

              <div class="row" *ngIf="getValue('question2') === 'Y'">
                <div class="col-lg-4 col-md-6 col-sm-12 py-3">
                  <label for="expected_date">Expected delivery date</label>
                  <p-calendar
                    appendTo="body"
                    dateFormat="dd/mm/yy"
                    [showIcon]="true"
                    [showButtonBar]="true"
                  >
                  </p-calendar>
                </div>
              </div>
            </div>

            <div class="my-lg-5">
              <label class="required"
                >3. Are you currently taking any medication?</label
              >
              <div>
                <span class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="male"
                    formControlName="question3"
                    value="Y"
                  />
                  <label class="form-check-label" for="male">Yes</label>
                </span>
                <span class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="female"
                    formControlName="question3"
                    value="N"
                  />
                  <label class="form-check-label" for="female">No</label>
                </span>
              </div>
              <div></div>

              <div class="row" *ngIf="getValue('question3') === 'Y'">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <label for="expected_date" class="my-1">Description</label>
                  <textarea
                    type="text"
                    class="form-control"
                    [id]="'expected_date'"
                    cols="70"
                    rows="5"
                  ></textarea>
                </div>
              </div>
            </div>

            <div class="my-lg-5">
              <label class="required"
                >4. Do you have any congenital defect/ abnormality/ Physical
                deformity/ Handicap?</label
              >
              <div></div>
              <span class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="male"
                  formControlName="question4"
                  value="Y"
                />
                <label class="form-check-label" for="male">Yes</label>
              </span>
              <span class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="female"
                  formControlName="question4"
                  value="N"
                />
                <label class="form-check-label" for="female">No</label>
              </span>
            </div>

            <div class="my-lg-5">
              <label class="required"
                >5. Have you or any of you dependents ever suffered or do you
                suffer from or diagnosed with any of the following? Yes/No
                Questions. If Yes, please provide dates, duration, description
                and treatment given</label
              >
              <div></div>

              <div class="row col-lg-10 col-sm-12">
                <div
                  class="d-flex justify-content-between "
                  style="padding: 0 0 0 0rem"
                >
                  <div></div>
                  <div>
                    <div
                      (click)="addEmptyMedicalList(medicalListOne)"
                      class="b-r d-flex justify-content-center align-content-center"
                    >
                      <i class="fa-solid fa-plus"></i>
                    </div>
                  </div>
                </div>
                <ng-container>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr style="font-weight: 400; font-size: 12px; height:3rem; background-color: var(--grey-color);">
                          <th>Person</th>
                          <th>Diagnosis</th>
                          <th>Diagnosis Date</th>
                          <th>Description</th>
                          <th style="width: 2rem"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container
                          *ngFor="let row of medicalListOne; let i = index"
                        >
                          <tr *ngIf="row['isEdit'] == true">
                            <td>
                              <select class="form-select" [id]="'clientType'">
                                <option
                                  style="font-size: 11px"
                                  value=""
                                  disabled
                                  selected
                                >
                                  Type
                                </option>

                                <!-- <option [value]="'B'">
                                  {{ "Beneficiary" | titlecase }}
                                </option>
                                <option [value]="'T'">
                                  {{ "Trustee" | titlecase }}
                                </option> -->
                              </select>
                            </td>
                            <td>
                              <select class="form-select" [id]="'clientType'">
                                <option
                                  style="font-size: 11px"
                                  value=""
                                  disabled
                                  selected
                                >
                                  Type
                                </option>

                                <!-- <option [value]="'B'">
                                  {{ "Beneficiary" | titlecase }}
                                </option>
                                <option [value]="'T'">
                                  {{ "Trustee" | titlecase }}
                                </option> -->
                              </select>
                            </td>
                            <td>
                              <p-calendar
                                appendTo="body"
                                dateFormat="dd/mm/yy"
                                [showIcon]="true"
                                [showButtonBar]="true"
                              >
                              </p-calendar>
                            </td>
                            <td>
                              <input
                                type="text"
                                class="form-control"
                                required
                              />
                            </td>
                            <td class="d-flex justify-content-between py-2">
                              <div (click)="updateBeneficiary(i)" class="mx-2">
                                <i class="fa-solid fa-check text-success"></i>
                              </div>
                              <div (click)="deleteMedicalListOne(i)" class="mx-2">
                                <i class="fa-solid fa-x text-danger"></i>
                              </div>
                            </td>
                          </tr>
                          <tr *ngIf="row['isEdit'] == false">
                            <td>{{ row["first_name"] }}</td>
                            <td>{{ row["other_name"] }}</td>
                            <td>{{ row["date_of_birth"] | date : "short" }}</td>
                            <td>{{ row["percentage_benefit"] }}</td>
                            <td>{{ row["age"] }}</td>
                            <td>
                              {{
                                row["type"] === "B" ? "Beneficairy" : "Trustee"
                              }}
                            </td>
                            <td class="d-flex justify-content-between py-2">
                              <div (click)="editBeneficiary(i)" class="mx-2">
                                <i class="fas fa-edit text-success"></i>
                                <!-- Edit Icon -->
                              </div>
                              <div (click)="deleteMedicalListOne(i)" class="mx-2">
                                <i class="fas fa-trash-alt text-danger"></i>
                                <!-- Remove Icon -->
                              </div>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>

                    <div *ngIf="editEntity">
                      <div
                        style="
                          left: 50%;
                          right: 50%;
                          width: 3rem;
                          height: 3rem;
                          position: relative;
                        "
                        class="spinner-border text-primary spinner-border"
                        role="status"
                      >
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngIf="medicalListOne.length === 0"
                    class="d-flex justify-content-center text-danger"
                  >
                    No Available Data!
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="my-lg-5">
              <label class="required"
                >6. Are any of your family members (Parents, Siblings, Children)
                suffering from or have suffered from or have died of heart
                disease, diabetes or high sugar levels in blood, cancer or any
                other hereditary or family specific disorder before attaining 55
                years of age ?</label
              >
              <div></div>
              <!-- <span class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="male"
                  formControlName="question"
                  value="Y"
                />
                <label class="form-check-label" for="male">Yes</label>
              </span>
              <span class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  id="female"
                  formControlName="question"
                  value="N"
                />
                <label class="form-check-label" for="female">No</label>
              </span> -->

              <div>
                <div class="row col-lg-10 col-sm-12">
                  <div
                    class="d-flex justify-content-between "
                    style="padding: 0 0 0 0rem"
                  >
                    <div></div>
                    <div>
                      <div
                        (click)="addEmptyMedicalList(medicalListTwo)"
                        class="b-r d-flex justify-content-center align-content-center"
                      >
                        <i class="fa-solid fa-plus"></i>
                      </div>
                    </div>
                  </div>
                  <ng-container>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr style="font-weight: 400; font-size: 12px; height:3rem; background-color: var(--grey-color);">
                            <th>Person</th>
                            <th>Diagnosis</th>
                            <th>Diagnosis Date</th>
                            <th>Description</th>
                            <th style="width: 2rem"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container
                            *ngFor="let row of medicalListTwo; let i = index"
                          >
                            <tr *ngIf="row['isEdit'] == true">
                              <td>
                                <select class="form-select" [id]="'clientType'">
                                  <option
                                    style="font-size: 11px"
                                    value=""
                                    disabled
                                    selected
                                  >
                                    Type
                                  </option>

                                  <!-- <option [value]="'B'">
                                    {{ "Beneficiary" | titlecase }}
                                  </option>
                                  <option [value]="'T'">
                                    {{ "Trustee" | titlecase }}
                                  </option> -->
                                </select>
                              </td>
                              <td>
                                <select class="form-select" [id]="'clientType'">
                                  <option
                                    style="font-size: 11px"
                                    value=""
                                    disabled
                                    selected
                                  >
                                    Type
                                  </option>

                                  <!-- <option [value]="'B'">
                                    {{ "Beneficiary" | titlecase }}
                                  </option>
                                  <option [value]="'T'">
                                    {{ "Trustee" | titlecase }}
                                  </option> -->
                                </select>
                              </td>
                              <td>
                                <p-calendar
                                  appendTo="body"
                                  dateFormat="dd/mm/yy"
                                  [showIcon]="true"
                                  [showButtonBar]="true"
                                >
                                </p-calendar>
                              </td>
                              <td>
                                <input
                                  type="text"
                                  class="form-control"
                                  required
                                />
                              </td>
                              <td class="d-flex justify-content-between py-2">
                                <div (click)="updateBeneficiary(i)" class="mx-2">
                                  <i class="fa-solid fa-check text-success"></i>
                                </div>
                                <div (click)="deleteMedicalListTwo(i)" class="mx-2">
                                  <i class="fa-solid fa-x text-danger"></i>
                                </div>
                              </td>
                            </tr>
                            <tr *ngIf="row['isEdit'] == false">
                              <td>{{ row["first_name"] }}</td>
                              <td>{{ row["other_name"] }}</td>
                              <td>{{ row["date_of_birth"] | date : "short" }}</td>
                              <td>{{ row["percentage_benefit"] }}</td>
                              <td>{{ row["age"] }}</td>
                              <td>
                                {{
                                  row["type"] === "B" ? "Beneficairy" : "Trustee"
                                }}
                              </td>
                              <td class="d-flex justify-content-between py-2">
                                <div (click)="editBeneficiary(i)" class="mx-2">
                                  <i class="fas fa-edit text-success"></i>
                                  <!-- Edit Icon -->
                                </div>
                                <div (click)="deleteMedicalListTwo(i)" class="mx-2">
                                  <i class="fas fa-trash-alt text-danger"></i>
                                  <!-- Remove Icon -->
                                </div>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>

                      <div *ngIf="editEntity">
                        <div
                          style="
                            left: 50%;
                            right: 50%;
                            width: 3rem;
                            height: 3rem;
                            position: relative;
                          "
                          class="spinner-border text-primary spinner-border"
                          role="status"
                        >
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="medicalListOne.length === 0"
                      class="d-flex justify-content-center text-danger"
                    >
                      No Available Data!
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between p-3">
    <button
      routerLink="/home/lms/ind/quotation/lifestyle-details"
      style="padding: 0.6em"
      type="button"
      class="btn btn-primary btn-sm"
    >
      <i class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp; Back
    </button>
    <button
      routerLink="/home/lms/ind/quotation/summary"
      style="padding: 0.6em"
      type="button"
      class="btn btn-primary btn-sm"
    >
      Continue &nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>
