<!-- Main Container for Medical History-->
 <div class="container-fluid">

  <!-- Breadcrumb Navigation -->
  <div class="breadcrumb-container">
    <app-dynamic-breadcrumb [breadCrumbItems]="breadCrumbItems"></app-dynamic-breadcrumb>
  </div>

  <!-- Stepper Component -->
  <div class="row">
    <div class="col-md-12">
      <app-stepper [currentStep]="7" [stepperData]="steps"></app-stepper>
    </div>
  </div>

   <!-- Content Section -->
  <div class="full-border px-5 content-container">

    <div>
      <!-- Header for Medical History -->
      <div class="d-flex justify-content-between pt-3 siz">
        <div class="section-header">{{ "lms.ind.quotations.medical_history" | translate }}</div>
      </div>

      <!-- Content Wrapper with Spinner -->
      <div class="text-black spinner-container">
        <ngx-spinner
          name="medical_history_screen"
          type="ball-clip-rotate-multiple"
          [fullScreen]="false"
          color="#00529B"
          size="medium"
          bdColor="rgba(255, 255, 255, 0.0)">
        </ngx-spinner>

        <div class="col fadeIn">
          <!-- Main Form Section -->
          <div [formGroup]="medicalHistoryForm" class="w-100">

            <!-- Question 1 -->
            <div class="my-2">
              <label class="required">1. {{ "lms.ind.quotations.personal_doctor" | translate }}?</label>
              <div></div>
              <div class="row">
                <div class="col-12">
                  <span class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="male" formControlName="question1" value="Y" />
                    <label class="form-check-label" for="male">{{ "lms.ind.quotations.yes" | translate }}</label>
                  </span>
                  <span class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="female" formControlName="question1" value="N" />
                    <label class="form-check-label" for="female">{{ "lms.ind.quotations.no" | translate }}</label>
                  </span>
                </div>
                <!-- Dynamic Inputs for Question 1 -->
                <div *ngIf="getValue('question1') === 'Y'" formGroupName="medical_personnel">

                  <div class="row" >
                    <div class="col-lg-6 col-md-6 col-sm-12 px-4">
                      <label for="name">{{ "lms.ind.quotations.name" | translate }}</label>
                      <input class="form-control" type="text" formControlName="name" [id]="'name'" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 px-4">
                      <label for="address">{{ "lms.ind.quotations.address" | translate }}</label>
                      <input class="form-control" type="text" formControlName="address" [id]="'address'" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 px-4">
                      <label for="phone_no">{{ "lms.ind.quotations.phone_number" | translate }}.</label>
                      <input class="form-control" type="text" formControlName="phone_no" [id]="'phone_no'" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 px-4">
                      <label for="email_address">{{ "lms.ind.quotations.email_address" | translate }}</label>
                      <input class="form-control" type="text" formControlName="email_address" [id]="'email_address'" />
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- Question 2 Currently Not Displayed -->
            <div *ngIf="gender==='F'" class="my-2">
              <label class="required">2. {{ "lms.ind.quotations.pregnancy_status" | translate }}</label>
              <div></div>
              <div>
                <span class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="male" formControlName="question2" value="Y" />
                  <label class="form-check-label" for="male">{{ "lms.ind.quotations.yes" | translate }}</label>
                </span>
                <span class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="female" formControlName="question2" value="N" />
                  <label class="form-check-label" for="female">{{ "lms.ind.quotations.no" | translate }}</label>
                </span>
              </div>

              <div class="row" *ngIf="getValue('question2') === 'Y'">
                <div class="col-lg-4 col-md-6 col-sm-12 py-3">
                  <label for="pregnancy_due_date">{{ "lms.ind.quotations.delivery_date" | translate }}</label>
                  <p-calendar
                    appendTo="body"
                    dateFormat="dd/mm/yy"
                    formControlName="pregnancy_due_date"
                    [showIcon]="true"
                    [showButtonBar]="true">
                  </p-calendar>
                </div>
              </div>
            </div>

            <!-- Current Question 2 -->
            <div class="my-2">
              <label class="required">2. {{ "lms.ind.quotations.medication" | translate }} ?</label
              >
              <div>
                <span class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="male" formControlName="question3" value="Y" />
                  <label class="form-check-label" for="male">{{ "lms.ind.quotations.yes" | translate }}</label>
                </span>
                <span class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="female" formControlName="question3" value="N" />
                  <label class="form-check-label" for="female">{{ "lms.ind.quotations.no" | translate }}</label>
                </span>
              </div>
              <div></div>

              <div class="row" *ngIf="getValue('question3') === 'Y'">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <label for="medication_intake" class="my-1">{{ "lms.ind.quotations.description" | translate }}</label>
                  <textarea class="form-control" type="text" formControlName="medication_intake" 
                    [id]="'medication_intake'" cols="70" rows="5">
                  </textarea>
                </div>
              </div>
            </div>

            <!-- Question 3 -->
            <div class="my-2">
              <label class="required">3. {{ "lms.ind.quotations.defects" | translate }} ?</label>
              <div></div>
              <span class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="male" formControlName="physical_challenge" value="Y" />
                <label class="form-check-label" for="male">{{ "lms.ind.quotations.yes" | translate }}</label>
              </span>
              <span class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="female" formControlName="physical_challenge" value="N" />
                <label class="form-check-label" for="female">{{ "lms.ind.quotations.no" | translate }}</label>
              </span>
            </div>

            <!-- Question 4 -->
            <div class="my-2">
              <label class="required">4. {{ "lms.ind.quotations.diagnosed_dependents" | translate }}</label>
              <div></div>

              <div class="row col-lg-12 col-sm-12">
                <div class="d-flex justify-content-between" style="padding: 0 0 0 0rem">
                  <div></div>
                  <div>
                    <div (click)="openModal()" class="b-r d-flex justify-content-center align-content-center">
                      <i class="fa-solid fa-plus"></i>
                    </div>
                  </div>
                </div>
                <ng-container>
                  <!-- Table to Add/Edit Medical History -->
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr style="font-weight: 400; font-size: 12px; height:3rem; background-color: var(--grey-color);">
                          <th>{{ "lms.ind.quotations.person" | translate }}</th>
                          <th>{{ "lms.ind.quotations.disease" | translate }}</th>
                          <th>{{ "lms.ind.quotations.diagnosis_date" | translate }}</th>
                          <th>{{ "lms.ind.quotations.diagnosis" | translate }}</th>
                          <th style="width: 2rem"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let row of medicalListOne; let i = index">
                          <tr *ngIf="row['isEdit'] == true" [formGroup]="medicalHistoryTableOne">
                            <td style="width:20%">
                              <select class="form-select" [id]="'clientType'" formControlName="relation_type_code">
                                <ng-container *ngFor="let product of relationTypeList">
                                  <option [value]="product['id']">
                                    {{ product?.description | lowercase }}
                                  </option>
                                </ng-container>
                              </select>
                            </td>
                            <td style="width:20%">
                              <select class="form-select" [id]="'clientType'" formControlName="disease">
                                <ng-container *ngFor="let disease of diseaseList;">
                                  <option [value]="disease?.id">
                                    {{ disease["name"] | titlecase }}
                                  </option>
                                </ng-container>
                              </select>
                            </td>
                            <td style="width:20%">
                              <p-calendar
                                appendTo="body"
                                dateFormat="dd/mm/yy"
                                [showIcon]="true"
                                [showButtonBar]="true"
                                formControlName="diagnosis_date">
                              </p-calendar>
                            </td>
                            <td style="width:35%">
                              <input class="form-control" type="text" formControlName="diagnosis" required />
                            </td>
                            <td style="width:5%" class="d-flex justify-content-between py-2">
                              <div (click)="addResponseOne(i)" class="mx-2">
                                <i class="fa-solid fa-check text-success"></i>
                              </div>
                              <div (click)="cancelMedicalListOne(i)" class="mx-2">
                                <i class="fa-solid fa-x text-danger"></i>
                              </div>
                            </td>
                          </tr>
                          <tr *ngIf="row['isEdit'] == false">           
                            <td>{{ relationTypeList | relationType: row["relation_type_code"] }}</td>
                            <td>{{ diseaseList | diseases: row["disease"] }}</td>
                            <td>{{ row["diagnosis_date"] | date : "short" }}</td>
                            <td>{{ row["diagnosis"] }}</td>
                            <td class="d-flex justify-content-between py-2">
                              <div (click)="editPolicyOne(i)" class="mx-2">
                                <i class="fas fa-edit text-success"></i>
                                <!-- Edit Icon -->
                              </div>
                              <div (click)="deleteMedicalListOne(i)" class="mx-2">
                                <i class="fas fa-trash-alt text-danger"></i>
                                <!-- Remove Icon -->
                              </div>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>

                    <div *ngIf="editEntity">
                      <div style=" left: 50%; right: 50%; width: 3rem; height: 3rem; position: relative;"
                          class="spinner-border text-primary spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="medicalListOne?.length === 0" class="d-flex justify-content-center no-record-message">
                      {{ "lms.ind.quotations.no_record_capture" | translate }}. &nbsp;
                    <span>&nbsp; {{ "lms.ind.quotations.click_on_+_icon_to_add_record" | translate }}</span>
                  </div>
                </ng-container>
              </div>
            </div>

            <!-- Question 5 -->
            <div class="my-2">
              <label class="required">5. {{ "lms.ind.quotations.hereditary_diseases" | translate }} ?</label>
              <div></div>

              <div>
                <div class="row col-lg-12 col-sm-12">
                  <div class="d-flex justify-content-between " style="padding: 0 0 0 0rem">
                    <div class="row">
                      <div class="col-12">
                        <span class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="male" formControlName="question5" value="Y" />
                          <label class="form-check-label" for="male">{{ "lms.ind.quotations.yes" | translate }}</label>
                        </span>
                        <span class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="female" formControlName="question5" value="N" />
                          <label class="form-check-label" for="female">{{ "lms.ind.quotations.no" | translate }}</label>
                        </span>
                      </div>
                      <div class="px-4" *ngIf="getValue('question5') === 'Y'">
                        <span class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="female" formControlName="hereditary_disease" value="CANCER" />
                          <label class="form-check-label" for="female">Cancer</label>
                        </span>
                      </div>

                      <div class="px-4" *ngIf="getValue('question5') === 'Y'">
                        <span class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="female" formControlName="hereditary_disease" value="DIABETES" />
                          <label class="form-check-label" for="female">diabetes or high sugar levels in blood</label>
                        </span>
                      </div>

                      <div class="px-4" *ngIf="getValue('question5') === 'Y'">
                        <span class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="female" formControlName="hereditary_disease" value="HEART_DISEASE" />
                          <label class="form-check-label" for="female">heart disease</label>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between p-3">
    <button routerLink="/home/lms/ind/quotation/lifestyle-details" style="padding: 0.6em" class="btn btn-primary btn-sm" type="button">
      <i class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp; {{ "lms.ind.quotations.back" | translate }}
    </button>
    <button style="padding: 0.6em" type="button" class="btn btn-primary btn-sm" (click)="nextPage()" >
      {{ "lms.ind.quotations.next" | translate }} &nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>

<!-- Modal Component -->
<div class="modal fade" 
    tabindex="-1"
    id="medicalHistoryModal"  
    [ngClass]="{ show: showModal }" 
    [style.display]="showModal ? 'block' : 'none'"
    aria-labelledby="medicalHistoryModalLabel" 
    aria-hidden="!showModal">
  <div class="modal-dialog modal-custom">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h5 class="modal-title" id="medicalHistoryModalLabel">Dependants Details</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="medicalHistoryTableOne">
          <div class="row">

            <!-- First Row -->
            <div class="col-md-6">
              <label for="person" class="form-label">Person</label>
              <input type="text" class="form-control" id="person" formControlName="person" />
            </div>

            <div class="col-md-6 col-sm-12">
              <label for="diagnosis" class="form-label">Diagnosis</label>
              <select class="form-select" id="diagnosis" formControlName="disease">
                <option *ngFor="let disease of diseaseList" [value]="disease?.id  | sort : 'asc' : 'description'" >
                  {{ disease?.name | titlecase }}
                </option>
              </select>
            </div>
          </div>

          <div class="row">
            <!-- Second Row -->
            <div class="col-md-6">
              <div>
                <label class="required">Diagnosis Date</label>
                  <p-calendar 
                    ngDefaultControl 
                    formControlName="diagnosis_date"
                    id="diagnosisDate" 
                    dateFormat="dd/mm/yy" 
                    [showIcon]="true" 
                    [showButtonBar]="true">
                  </p-calendar>
              </div>
            </div>

            <div class="col-md-6">
              <label for="relationship" class="form-label">Relationship</label>
              <select class="form-select" id="relationship" formControlName="relation_type_code">
                <option *ngFor="let product of relationTypeList" [value]="product['id']">
                  {{ product?.description | titlecase }}
                </option>
              </select>
            </div>

          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModalData()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveModalData()">Save</button>
      </div>
    </div>
  </div>
</div>