div > label {
  margin-top: 1rem;
}

label {
  margin-bottom: 0.5rem;
}
.p-dropdown .p-dropdown-label .p-placeholder {
  color: #ca1b0e !important;
  transform: translateY(-4px) !important;
  font-size: 12px !important;
}

.modal-content {
  border-radius: 0px;
}

.t_hover:hover {
  color: rgba(255, 255, 255, 0.782) !important;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 3px solid black;
}

.btn {
  --bs-btn-padding-x: 0.35rem !important;
  --bs-btn-padding-y: 0.375rem !important;
  --bs-btn-font-size: 0.7rem !important;
}

.p-input-icon-right > .p-icon-wrapper.p-icon,
.p-input-icon-left > i:first-of-type {
  color: #6c757d7c;
}

.d-flex > .mx-2 {
  justify-content: space-between;
  color: black !important;
  font-size: 22px;
  cursor: pointer;
}

.d-flex > .mx-2:hover {
  color: black !important;
}

.text-danger:hover,
.text-success:hover {
  color: black !important;
}

.justify-md {
  display: flex;
  justify-content: flex-end;
}

.doc-file-notif {
  transform: translate(2.8rem, 0.7rem);
  color: gray;
  width: 83%;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.modal-content {
  transform: translateX(50px) !important;
  width: 100% !important;

}

tr.ng-star-inserted {
  border: 0;
  border: solid 1px white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom: solid 1px black;
}
.table > :not(caption) > * > * {
  padding: 0.7rem 0.7rem;
}

.dropdown-menu {
  border: solid 1px gray;
}

.doc_check:hover {
  color: black;
  font-weight: 800;
}

.btn-card-icon {
  background: #00539b42;
  color: #fff;
  margin-right: 5px;
  border-radius: 2rem;
  height: 2.1rem;
  width: 2.1rem;

}

.fa-chevron-down {
  color: #06063b;
}
.text-start  {
  font-size: 14px;
    font-weight: 600;
}

.draft:hover{
  color: var(--primary-color);
  background-color: white;

  border: solid 3px #9ea9d8;
  font-size: 11px;
  font-weight: 600;

}

div > label {
  margin-top: 0.2rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .justify-md {
    justify-content: start;
  }
  .doc-file-notif {
    width: 33%;
  }

}
