<div class="base-content-section">
  <div class="row me-4">
    <div class="col-8">
      <app-dynamic-breadcrumb [breadCrumbItems]="[
      {
        label: 'Administration',
        url: '/home/crm'
      },
      {
        label: 'CRM Setups',
        url: '/home/crm',
      },
      {
        label: 'Campaign Management',
        url: '/home/crm/product-attributes'
      },
      {
        label: 'Product attributes',
        url: ''
      }
    ]">
      </app-dynamic-breadcrumb>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="text-dark">{{'campaignMngmt.product'| translate }}</h5>
      <div class="row mb-2">
        <div class="col-sm-12 col-md-6">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            aria-label="search"
            aria-describedby="search"
            (input)="filterProductAttributes($event)"
          />
        </div>

        <div class="col-sm-12 col-md-6 d-flex justify-content-lg-end mt-2">
          <div class="float-end">
        <span class="icon-circle">
              <i class="fa-solid fa-plus"
                 (click)="openDefineProductAttributesModal()"></i>
            </span>
            <span class="icon-circle">
              <i class="pi pi-pencil"
                 (click)="editProductAttribute()"></i>
            </span>
            <span class="icon-circle">
              <i class="fa-regular fa-trash-can" id="deleteProductAttr" (click)="deleteProductAttribute()"></i>
            </span>
          </div>
        </div>
      </div>
      <p-table
        #productAttributesTable
        [autoLayout]="true"
        [rowHover]="true"
        [resizableColumns]="true"
        [showCurrentPageReport]="true"
        [rows]="pageSize || 5"
        [totalRecords]="productAttributesData?.length"
        [value]="productAttributesData"
        [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
        responsiveLayout="stack"
        [scrollable]="true"
        [(selection)]="selectedProductAttributes"
        selectionMode="single"
        dataKey="code"
        scrollHeight="400px"
        currentPageReportTemplate="{first} - {last} of {totalRecords}"
        [globalFilterFields]="['description', 'narration']"
      >

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="system">{{'campaignMngmt.system'| translate }}<p-sortIcon field="system"></p-sortIcon></th>
            <th pSortableColumn="description">{{'campaignMngmt.description'| translate }}<p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="narration">{{'campaignMngmt.narration'| translate }}<p-sortIcon field="narration"></p-sortIcon></th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-productAttribute>
          <tr [pSelectableRow]="productAttribute" (click)="fetchProductClientAttributes(productAttribute)">
            <td>{{getSystemName(productAttribute?.system) || productAttribute?.system | titlecase}}</td>
            <td>{{productAttribute?.description | titlecase}}</td>
            <td>{{productAttribute?.narration | titlecase}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">No Product Detail(s) Found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="text-dark">{{'campaignMngmt.productAttributes'| translate }}</h5>
      <div class="row mb-2">
        <div class="col-sm-12 col-md-6">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            aria-label="search"
            aria-describedby="search"
            (input)="filterProductClientAttributes($event)"
          />
        </div>

        <div class="col-sm-12 col-md-6 d-flex justify-content-lg-end mt-2">
          <div class="float-end">
        <span class="icon-circle">
              <i class="fa-solid fa-plus"
                 (click)="openDefineProductClientAttributesModal()"></i>
            </span>
            <span class="icon-circle">
              <i class="pi pi-pencil"
                 (click)="editProductClientAttribute()"></i>
            </span>
            <span class="icon-circle">
              <i class="fa-regular fa-trash-can" id="deleteProdClientAttr" (click)="deleteProductClientAttribute()"></i>
            </span>
          </div>
        </div>
      </div>
      <p-table
        #productClientAttributesTable
        [autoLayout]="true"
        [rowHover]="true"
        [resizableColumns]="true"
        [showCurrentPageReport]="true"
        [rows]="pageSize || 5"
        [totalRecords]="productClientAttributesData?.length"
        [value]="productClientAttributesData"
        [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
        responsiveLayout="stack"
        [scrollable]="true"
        [(selection)]="selectedProductClientAttributes"
        selectionMode="single"
        dataKey="code"
        scrollHeight="400px"
        currentPageReportTemplate="{first} - {last} of {totalRecords}"
        [globalFilterFields]="['min', 'max', 'fixedValue']"
      >

        <ng-template pTemplate="header">
          <tr>
            <th>{{'campaignMngmt.clientAttributeName'| translate }}</th>
            <th pSortableColumn="min">{{'campaignMngmt.attributeMinValue'| translate }}<p-sortIcon field="min"></p-sortIcon></th>
            <th pSortableColumn="max">{{'campaignMngmt.attributeMaxValue'| translate }}<p-sortIcon field="max"></p-sortIcon></th>
            <th pSortableColumn="fixedValue">{{'campaignMngmt.attributeFixedValue'| translate }}<p-sortIcon field="fixedValue"></p-sortIcon></th>
            <th>{{'campaignMngmt.range'| translate }}</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-productClientAttribute>
          <tr [pSelectableRow]="productClientAttribute">
            <td>{{getClientAttribute(productClientAttribute?.clientAttributeCode).name | titlecase}}</td>
            <td>{{productClientAttribute?.min}}</td>
            <td>{{productClientAttribute?.max}}</td>
            <td>{{productClientAttribute?.fixedValue | titlecase}}</td>
            <td>{{getClientAttribute(productClientAttribute?.clientAttributeCode).range | titlecase}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">No Product Attributes Detail(s) Found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!--Create product modal-->
<div
  class="modal fade"
  #campaignClientProduct
  id="campaignClientProduct"
  tabindex="-1"
  aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 pb-0">
        <h5 class="modal-title text-black">{{ editMode ? 'Edit' : 'Define' }} a {{ editMode ? 'product' : 'product' }}</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeDefineProductAttributesModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createProductAttributesForm">
          <div class="row my-3">
            <ng-container *ngIf="visibleStatus.selectAttribute === 'Y'">
              <div class="col-md-6">
                <label class="form-label w-100" for="sysName">System name</label>
                <p-dropdown
                  [options]="systems"
                  optionLabel="shortDesc"
                  optionValue="id"
                  formControlName="sysName"
                  id="sysName"
                  [filter]="true"
                  filterBy="shortDesc"
                  [showClear]="true"
                  [style]="{ width: '100%', height: '50%' }"
                  placeholder="Select option"
                  [(ngModel)]="selectedSystem"
                  (onChange)="onSystemChange()"
                  [ngClass]="{ 'is-invalid': g['sysName']?.invalid && (g['sysName']?.dirty || g['sysName']?.touched) }"
                >
                </p-dropdown>
                <div *ngIf="g['sysName']?.invalid && (g['sysName']?.dirty || g['sysName']?.touched)" class="form-text text-danger">
                  <div *ngIf="g['sysName']?.errors['required']">System name is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.productName === 'Y'">
              <div class="col-md-6">
                <label class="form-label w-100" for="productName">Product name</label>
                <p-dropdown
                  [options]="productList"
                  optionLabel="description"
                  optionValue="code"
                  formControlName="productName"
                  id="productName"
                  [filter]="true"
                  filterBy="description"
                  [showClear]="true"
                  [style]="{ width: '100%', height: '50%' }"
                  placeholder="Select option"
                  (onChange)="onProductChange($event.value)"
                  [ngClass]="{ 'is-invalid': g['productName']?.invalid && (g['productName']?.dirty || g['productName']?.touched) }"
                >
                </p-dropdown>
                <div *ngIf="g['productName']?.invalid && (g['productName']?.dirty || g['productName']?.touched)" class="form-text text-danger">
                  <div *ngIf="g['productName']?.errors['required']">Product name is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.shortDescription === 'Y'">
              <div class="col-md-6">
                <label class="form-label w-100" for="shortDescription">Short description</label>
                <input
                  type="text"
                  class="form-control"
                  id="shortDescription"
                  formControlName="shortDescription"
                  [ngClass]="{ 'is-invalid': g['shortDescription']?.invalid && (g['shortDescription']?.dirty || g['shortDescription']?.touched) }"
                />
                <div *ngIf="g['shortDescription']?.invalid && (g['shortDescription']?.dirty || g['shortDescription']?.touched)" class="form-text text-danger">
                  <div *ngIf="g['shortDescription']?.errors['required']">Short description is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.description === 'Y'">
              <div class="col-md-6">
                <label class="form-label w-100" for="description">Description</label>
                <input
                  type="text"
                  class="form-control"
                  id="description"
                  formControlName="description"
                  [ngClass]="{ 'is-invalid': g['description']?.invalid && (g['description']?.dirty || g['description']?.touched) }"
                />
                <div *ngIf="g['description']?.invalid && (g['description']?.dirty || g['selectAttribute']?.touched)" class="form-text text-danger">
                  <div *ngIf="g['description']?.errors['required']">Description is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.narration === 'Y'">
              <div class="col-md-6">
                <label class="form-label w-100" for="narration">Narration</label>
                <input
                  type="text"
                  class="form-control"
                  id="narration"
                  formControlName="narration"
                  [ngClass]="{ 'is-invalid': g['narration']?.invalid && (g['narration']?.dirty || g['narration']?.touched) }"
                />
                <div *ngIf="g['narration']?.invalid && (g['narration']?.dirty || g['narration']?.touched)" class="form-text text-danger">
                  <div *ngIf="g['narration']?.errors['required']">Narration is required</div>
                </div>
              </div>
            </ng-container>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-primary" id="saveProdAttr" (click)="saveProductAttribute()">Save details</button>
      </div>
    </div>
  </div>
</div>

<!--Create product attributes modal-->
<div
  class="modal fade"
  #campaignClientProductAttributes
  id="campaignClientProductAttributes"
  tabindex="-1"
  aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 pb-0">
        <h5 class="modal-title text-black">{{ editMode ? 'Edit' : 'Define' }} a {{ editMode ? 'product attribute' : 'product attribute' }}</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeDefineProductClientAttributesModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createProductClientAttributesForm">
          <div class="row my-3">
            <ng-container *ngIf="visibleStatus.selectAttribute === 'Y'">
              <div class="col-md-12">
                <label class="form-label w-100" for="selectAttribute">Select attribute</label>
                <p-dropdown
                  [options]="clientAttributesData"
                  optionLabel="name"
                  optionValue="code"
                  formControlName="selectAttribute"
                  id="selectAttribute"
                  [filter]="true"
                  filterBy="shortDesc"
                  [showClear]="true"
                  [style]="{ width: '100%', height: '50%' }"
                  placeholder="Select option"
                  (ngModelChange)="onSelectClientAttribute($event)"
                  [ngClass]="{ 'is-invalid': f['selectAttribute']?.invalid && (f['selectAttribute']?.dirty || f['selectAttribute']?.touched) }"
                >
                </p-dropdown>
                <div *ngIf="f['selectAttribute']?.invalid && (f['selectAttribute']?.dirty || f['selectAttribute']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['selectAttribute']?.errors['required']">Attribute is required</div>
                </div>
              </div>
            </ng-container>
            <div *ngIf="selectedClientAttribute?.range === 'N'">
              <ng-container *ngIf="visibleStatus.productAttributeCheck === 'Y'">
                <div class="col-md-12">
                  <label class="form-label w-100" for="productAttributeCheck">{{selectedClientAttribute?.description | titlecase}}</label>
                  <input
                    type="text"
                    class="form-control"
                    id="productAttributeCheck"
                    formControlName="productAttributeCheck"
                    [ngClass]="{ 'is-invalid': f['productAttributeCheck']?.invalid && (f['productAttributeCheck']?.dirty || f['productAttributeCheck']?.touched) }"
                  />
                  <div *ngIf="f['productAttributeCheck']?.invalid && (f['productAttributeCheck']?.dirty || f['productAttributeCheck']?.touched)" class="form-text text-danger">
                    <div *ngIf="f['productAttributeCheck']?.errors['required']">Check is required</div>
                  </div>
                </div>
              </ng-container>
            </div>
            <ng-container *ngIf="visibleStatus.minValue === 'Y' && selectedClientAttribute?.range === 'Y'">
              <div class="col-md-12">
                <label class="form-label w-100" for="minValue">Min value</label>
                <input
                  type="number"
                  class="form-control"
                  id="minValue"
                  formControlName="minValue"
                  [ngClass]="{ 'is-invalid': f['minValue']?.invalid && (f['minValue']?.dirty || f['minValue']?.touched) }"
                />
                <div *ngIf="f['minValue']?.invalid && (f['minValue']?.dirty || f['minValue']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['minValue']?.errors['required']">Min value is required</div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="visibleStatus.maxValue === 'Y' && selectedClientAttribute?.range === 'Y'">
              <div class="col-md-12">
                <label class="form-label w-100" for="maxValue">Max value</label>
                <input
                  type="number"
                  class="form-control"
                  id="maxValue"
                  formControlName="maxValue"
                  [ngClass]="{ 'is-invalid': f['maxValue']?.invalid && (f['maxValue']?.dirty || f['maxValue']?.touched) }"
                />
                <div *ngIf="f['maxValue']?.invalid && (f['maxValue']?.dirty || f['maxValue']?.touched)" class="form-text text-danger">
                  <div *ngIf="f['maxValue']?.errors['required']">Max value is required</div>
                </div>
              </div>
            </ng-container>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-primary" id="saveProdClientAttr" (click)="saveProductClientAttribute()">Save details</button>
      </div>
    </div>
  </div>
</div>
