:host ::ng-deep .p-button {
    color: #3B82F6;
    background: white;
    border: 1px solid #3B82F6;
    padding: 0.35rem 1.45rem;
    font-size: 0.7rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 5px;
}

:host ::ng-deep plusicon.p-element.p-icon-wrapper.ng-star-inserted {
    display: none;
}