.edit-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25rem !important;

}

.edit-row .edit-link {
  display: none;
}

.edit-row:hover .edit-link {
  display: inline;
}
.edit-row .form-label {
  cursor: pointer;
}

.form-check {
  clear: both; /* Ensures each item starts on a new line */
}

.btn-close {
  margin-left:4rem!important
}

.highlight {
  background-color: #e9eef6 !important;
  font-weight: 500 !important;
}

.icon-circle {
  display: inline-block;
  color: #00529b;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 19px;
  cursor: pointer;
  border: #00529b 2px solid;
}
