<div class="base-content-section">
  <div class="me-4">
    <app-dynamic-breadcrumb [breadCrumbItems]="dynamicConfigBreadCrumbItems">
    </app-dynamic-breadcrumb>
  </div>
  <div class="container mt-4 section-container bg-white">
    <div class="row">
      <!-- Sub Modules -->
      <div class="col-md-3 border-end p-3">
        <h4 class="column-title">Sub modules</h4>
        <div class="edit-row" *ngFor="let subModule of subModules">
          <label class="form-label" (click)="onClickSubModule(subModule)">
            {{ subModule.label?.[language] }}
          </label>
          <span class="text-primary edit-link" role="button" (click)="editSubModule(subModule)">Edit</span>
        </div>
      </div>

      <!-- Screens -->
      <div class="col-md-3 border-end p-3" *ngIf="selectedSubModule">
        <h4 class="column-title">Screens</h4>
        <div class="edit-row" *ngFor="let screen of screens">
          <label class="form-label" (click)="onClickScreen(screen)">
            {{ screen.label?.[language] }}
          </label>
          <span class="text-primary edit-link" role="button" (click)="editScreens(screen)">Edit</span>
        </div>
      </div>

      <!-- Sections -->
      <div class="col-md-3 border-end p-3" *ngIf="selectedScreen">
        <h4 class="column-title">Sections</h4>
        <div class="edit-row" *ngFor="let section of sections">
          <label class="form-label" (click)="onClickSection(section)">
            {{ section.label?.[language] }}
          </label>
          <span class="text-primary edit-link" role="button" (click)="editSections(section)">Edit</span>
        </div>
      </div>

      <!-- Sub Sections -->
      <div class="col-md-3 p-3" *ngIf="selectedSection">
        <h4 class="column-title">Sub sections</h4>
        <div class="edit-row" *ngFor="let subSection of subSections">
          <label class="form-label" (click)="onClickSubSection(subSection)">
            {{ subSection.label?.[language] }}
          </label>
          <span class="text-primary edit-link" role="button" (click)="editSubSections(subSection)">Edit</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4 section-container bg-white" *ngIf="tableData">
    <div class="row mb-3 mx-md-1">
      <div class="col-sm-12 col-md-6">
        <h5 class="my-3 text-dark">{{selectedSubModule?.label?.[language] | titlecase}} fields</h5>
        <input
          type="text"
          class="form-control w-50"
          placeholder="Search"

        />
      </div>
      <div class="col-sm-12 col-md-6 d-flex justify-content-end align-items-end gap-2">
        <button class="btn btn-outline-primary">
          Import setup
        </button>
        <button class="btn btn-outline-primary">
          Export setup
        </button>

        <!-- Caret Dropdown-style Button -->
        <button class="btn btn-outline-secondary d-flex align-items-center justify-content-center p-2"
                (click)="columnDialogVisible = true"
                style="width: 25px; height: 25px; border-radius: 0.5rem;">
          <i class="fa-solid fa-caret-down fs-5 text-dark"></i>
        </button>

        <p-dialog header="Columns" [(visible)]="columnDialogVisible" [modal]="true" [style]="{width: '330px'}">
          <div *ngFor="let col of columns">
            <div class="form-check form-check-inline float-start">
              <input class="form-check-input" type="checkbox" value="" id="checkChecked" [checked]="col.visible" [(ngModel)]="col.visible">
              <label class="form-check-label" for="checkChecked">
                {{ col.header | titlecase }}
              </label>
            </div>
          </div>
        </p-dialog>

      </div>
      <div class="mt-3">
        <p-table
          [value]="tableData"
          [paginator]="true"
          [rows]="pageSize || 10"
          [totalRecords]="tableData?.length"
          [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
          responsiveLayout="stack"
          scrollHeight="400px"
          [scrollable]="true"
          [(selection)]= "selectedTableRecordDetails"
          selectionMode="single"
          [resizableColumns]="true"
          (onRowSelect)="onRowSelect($event)"
        >

          <ng-template pTemplate="header">
            <tr>
              <ng-container *ngFor="let col of columns">
                <th *ngIf="col.visible"
                    [pSortableColumn]="col.field">
                  {{ col.header | titlecase }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </ng-container>
              <th style="width: 2%"></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData">
              <td>{{ rowData.label[this.language] | titlecase }}</td>
              <td>{{ rowData?.visible === true ? 'Yes' : 'No' }}</td>
              <td>{{ rowData?.disabled === true ? 'Yes' : 'No' }}</td>
              <td>{{ rowData?.mandatory === true ? 'Yes' : 'No' }}</td>
              <td>{{ rowData?.order }}</td>
              <td>{{ rowData?.type | titlecase }}</td>
              <td>{{ rowData?.validations }}</td>
              <!--<ng-container *ngFor="let col of columns">
                <td *ngIf="col.visible">
                  {{ rowData[col.field] }}
                </td>
              </ng-container>-->

              <td *ngIf="tableData?.length > 0" class="text-center">
                <div>
                  <a role="button" class="text-primary" (click)="editSelectedRecord()">Edit</a>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td>No records found</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <div class="float-end my-3">
    <button class="btn btn-primary">Preview</button>
    <button class="btn btn-primary" (click)="publishChanges()">Publish</button>
  </div>
</div>

<!--Sub modules modal-->
<div
  class="modal fade"
  #subModuleModal
  id="subModuleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog modal-dialog-centered align-items-center">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-primary" id="exampleModalLabel"> Edit sub modules</h5>
        <div class="ms-auto">
          <span class="nav-item dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span [class]="defaultLanguage" style="border-radius: 700px;  font-size: 1.7rem;"></span>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let language of languages">
                <a class="dropdown-item" href="javascript:void(0)" (click)="selectLanguage(language)">
                  <span [class]="language.class"></span>
                  <span style="color: black; font-size: 14px;"> {{language.lang}}</span>
                </a>
              </li>
            </ul>
          </span>
        </div>
        <button
          type="button"
          class="btn-close"
          (click)="closeSubModulesModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="subModulesForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Sub modules label
                <span class="text-primary" style="font-size: .9rem;">(Original)</span>
              </label>
              <input
                type="text"
                formControlName="originalSubModulesLabel"
                id="originalSubModulesLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Module
              </label>
              <input
                type="text"
                formControlName="module"
                id="module"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Sub modules label
                <span class="text-primary" style="font-size: .9rem;">(Current)</span>
              </label>
              <input
                type="text"
                formControlName="currentSubModulesLabel"
                id="currentSubModulesLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label w-100" >
                Visible
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="Y" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="N" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">No</label>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Sub Modules level
              </label>
              <select
                formControlName="subModuleLevel"
                id="subModuleLevel"
                class="form-select"
              >
                <option value="">select sub module level</option>
                <option *ngFor="let i of [].constructor(subModules?.length); let j = index" [value]="j">{{j}}</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label w-100">
                Form field label alignment
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="alignment" value="top" formControlName="alignment">
                <label class="form-check-label text-dark" for="alignment">Top</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="alignment" value="left" formControlName="alignment">
                <label class="form-check-label text-dark" for="alignment">Left</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-outline-primary" (click)="closeSubModulesModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveSubModules()">Save changes</button>
      </div>

    </div>
  </div>
</div>

<!--Screens modal-->
<div
  class="modal fade"
  #screensModal
  id="screensModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog modal-dialog-centered align-items-center">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-primary" id="exampleModalLabel"> Edit screens</h5>
        <div class="ms-auto">
          <span class="nav-item dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span [class]="defaultLanguage" style="border-radius: 700px;  font-size: 1.7rem;"></span>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let language of languages">
                <a class="dropdown-item" href="javascript:void(0)" (click)="selectLanguage(language)">
                  <span [class]="language.class"></span>
                  <span style="color: black; font-size: 14px;"> {{language.lang}}</span>
                </a>
              </li>
            </ul>
          </span>
        </div>
        <button
          type="button"
          class="btn-close"
          (click)="closeScreensModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="screensForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Screen label
                <span class="text-primary" style="font-size: .9rem;">(Original)</span>
              </label>
              <input
                type="text"
                formControlName="originalScreenLabel"
                id="originalScreenLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Sub module
              </label>
              <select
                formControlName="subModule"
                id="subModule"
                class="form-select"

              >
                <option value="">select sub module</option>
                <option *ngFor="let subModule of subModules"
                        value="{{ subModule.code }}">
                  {{subModule?.originalLabel}}
                </option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Screen label
                <span class="text-primary" style="font-size: .9rem;">(Current)</span>
              </label>
              <input
                type="text"
                formControlName="currentScreenLabel"
                id="currentScreenLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label w-100" >
                Visible
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="Y" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="N" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">No</label>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Screen level
              </label>
              <select
                formControlName="screenLevel"
                id="screenLevel"
                class="form-select"
              >
                <option value="">select screen level</option>
                <option *ngFor="let i of [].constructor(screens?.length); let j = index" [value]="j">{{j}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-outline-primary" (click)="closeScreensModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveScreens()">Save changes</button>
      </div>

    </div>
  </div>
</div>

<!--Sections modal-->
<div
  class="modal fade"
  #sectionsModal
  id="sectionsModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog modal-dialog-centered align-items-center">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-primary" id="exampleModalLabel"> Edit sections</h5>
        <div class="ms-auto">
          <span class="nav-item dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span [class]="defaultLanguage" style="border-radius: 700px;  font-size: 1.7rem;"></span>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let language of languages">
                <a class="dropdown-item" href="javascript:void(0)" (click)="selectLanguage(language)">
                  <span [class]="language.class"></span>
                  <span style="color: black; font-size: 14px;"> {{language.lang}}</span>
                </a>
              </li>
            </ul>
          </span>
        </div>
        <button
          type="button"
          class="btn-close"
          (click)="closeSectionsModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="sectionsForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Section label
                <span class="text-primary" style="font-size: .9rem;">(Original)</span>
              </label>
              <input
                type="text"
                formControlName="originalSectionLabel"
                id="originalSectionLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Screen
              </label>
              <select
                formControlName="screen"
                id="screen"
                class="form-select"
              >
                <option value="">select screen</option>
                <option *ngFor="let screen of screens"
                        value="{{ screen?.code}}">
                  {{ screen?.originalLabel }}
                </option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Section label
                <span class="text-primary" style="font-size: .9rem;">(Current)</span>
              </label>
              <input
                type="text"
                formControlName="currentSectionLabel"
                id="currentSectionLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label w-100" >
                Visible
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="Y" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="N" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">No</label>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Section level
              </label>
              <select
                formControlName="sectionLevel"
                id="sectionLevel"
                class="form-select"
              >
                <option value="">select section level</option>
                <option *ngFor="let i of [].constructor(sections?.length); let j = index" [value]="j">{{j}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-outline-primary" (click)="closeSectionsModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveSections()">Save changes</button>
      </div>

    </div>
  </div>
</div>

<!--Sub Sections modal-->
<div
  class="modal fade"
  #subSectionsModal
  id="subSectionsModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog modal-dialog-centered align-items-center">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-primary" id="exampleModalLabel"> Edit sub sections</h5>
        <div class="ms-auto">
          <span class="nav-item dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span [class]="defaultLanguage" style="border-radius: 700px;  font-size: 1.7rem;"></span>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let language of languages">
                <a class="dropdown-item" href="javascript:void(0)" (click)="selectLanguage(language)">
                  <span [class]="language.class"></span>
                  <span style="color: black; font-size: 14px;"> {{language.lang}}</span>
                </a>
              </li>
            </ul>
          </span>
        </div>
        <button
          type="button"
          class="btn-close"
          (click)="closeSubSectionsModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="subSectionsForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Sub section label
                <span class="text-primary" style="font-size: .9rem;">(Original)</span>
              </label>
              <input
                type="text"
                formControlName="originalSubSectionLabel"
                id="originalSubSectionLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Section
              </label>
              <select
                formControlName="section"
                id="section"
                class="form-select"
              >
                <option value="">select section</option>
                <option *ngFor="let section of sections"
                        value="{{ section?.code}}">
                  {{ section?.originalLabel }}
                </option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Sub section label
                <span class="text-primary" style="font-size: .9rem;">(Current)</span>
              </label>
              <input
                type="text"
                formControlName="currentSubSectionLabel"
                id="currentSubSectionLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label w-100" >
                Visible
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="Y" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="N" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">No</label>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Sub section level
              </label>
              <select
                formControlName="subSectionLevel"
                id="subSectionLevel"
                class="form-select"
              >
                <option value="">select sub section level</option>
                <option *ngFor="let i of [].constructor(subSections?.length); let j = index" [value]="j">{{j}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-outline-primary" (click)="closeSubSectionsModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveSubSections()">Save changes</button>
      </div>

    </div>
  </div>
</div>

<!--Fields edit modal-->
<div
  class="modal fade"
  #fieldsModal
  id="fieldsModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable align-items-center">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-primary" id="exampleModalLabel"> Edit field properties</h5>
        <!--<span class="nav-item dropdown">
          <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <span [class]="defaultLanguage" style="border-radius: 700px;  font-size: 1.7rem;"></span>
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let language of languages">
              <a class="dropdown-item" href="javascript:void(0)" (click)="selectLanguage(language)">
                <span [class]="language.class"></span>
                <span style="color: black; font-size: 14px;"> {{language.lang}}</span>
              </a>
            </li>
          </ul>
        </span>-->
        <div class="ms-auto">
<!--        <app-language-selector></app-language-selector>-->
          <span class="nav-item dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span [class]="defaultLanguage" style="border-radius: 700px;  font-size: 1.7rem;"></span>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let language of languages">
                <a class="dropdown-item" href="javascript:void(0)" (click)="selectLanguage(language)">
                  <span [class]="language.class"></span>
                  <span style="color: black; font-size: 14px;"> {{language.lang}}</span>
                </a>
              </li>
            </ul>
          </span>
        </div>

        <button
          type="button"
          class="btn-close"
          (click)="closeFieldsModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="fieldsForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Section label
                <span class="text-primary" style="font-size: .9rem;">(Original)</span>
              </label>
              <input
                type="text"
                formControlName="originalSectionLabel"
                id="originalSectionLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Placeholder
              </label>
              <input
                type="text"
                formControlName="placeholder"
                id="placeholder"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Section label
                <span class="text-primary" style="font-size: .9rem;">(Current)</span>
              </label>
              <input
                type="text"
                formControlName="currentSectionLabel"
                id="currentSectionLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Input type
              </label>
              <select
                formControlName="inputType"
                id="inputType"
                class="form-select"
              >
                <option value="">select type</option>
                <option value="text">text</option>
                <option value="select">select</option>
                <option value="number">number</option>
                <option value="date">date</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label w-100" >
                Visible
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="Y" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="N" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">No</label>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label w-100" >
                Mandatory
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="mandatory" value="Y" formControlName="mandatory">
                <label class="form-check-label text-dark" for="mandatory">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="mandatory" value="N" formControlName="mandatory">
                <label class="form-check-label text-dark" for="mandatory">No</label>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label w-100" >
                Disabled
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="disabled" value="Y" formControlName="disabled">
                <label class="form-check-label text-dark" for="disabled">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="disabled" value="N" formControlName="disabled">
                <label class="form-check-label text-dark" for="disabled">No</label>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Sections
              </label>
              <select
                formControlName="section"
                id="section"
                class="form-select"
              >
                <option value="">select section</option>
                <option *ngFor="let section of sections"
                        value="{{ section?.code}}">
                  {{ section?.originalLabel }}
                </option>
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label w-100" >
                Tool tips
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="tooltips" value="Y" formControlName="tooltips">
                <label class="form-check-label text-dark" for="tooltips">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="tooltips" value="N" formControlName="tooltips">
                <label class="form-check-label text-dark" for="tooltips">No</label>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                Tool tip words
              </label>
              <input
                type="text"
                formControlName="tooltipWords"
                id="tooltipWords"
                class="form-control"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">
                Order
              </label>
              <select
                formControlName="order"
                id="order"
                class="form-select"
              >
                <option value="">select order</option>
                <option value="1">1</option>
              </select>
              <!--<select
                formControlName="order"
                id="order"
                class="form-select"
              >
                <option value="">select order</option>
                <option *ngFor="let i of [].constructor(fields?.length); let j = index" [value]="j">{{j}}</option>
              </select>-->
            </div>

            <div class="container mb-3">
              <div class="d-flex align-items-center mb-2">
                <span class="text-dark me-2">Validations</span>
                <button class="btn btn-link p-0 text-primary" (click)="addSection()" [disabled]="getRemainingValidations().length === 0">
                  <i class="fas fa-plus-circle fa-lg"></i>
                </button>
              </div>

              <div formArrayName="validations">
                <div
                  *ngFor="let group of validations.controls; let i = index"
                  [formGroupName]="i"
                  class="row mb-3"
                >
                  <!-- Validation type dropdown -->
                  <div class="col-md-3">
                    <select class="form-select" formControlName="type">
                      <option [ngValue]="null">-- Select Validation --</option>
                      <option
                        *ngFor="let option of getRemainingValidations(group.get('type')?.value)"
                        [value]="option"
                      >
                        {{ option | titlecase }}
                      </option>
                    </select>
                  </div>

                  <!-- Value input -->
                  <div class="col-md-4">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="value"
                      [placeholder]="group.get('type')?.value ? 'Enter ' + group.get('type')?.value + ' value' : ''"
                    />
                  </div>

                  <!-- Error message input -->
                  <div class="col-md-4">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="errorMessage"
                      placeholder="Error message"
                    />
                  </div>

                  <!-- Remove button -->
                  <div class="col-md-1 align-content-center">
                    <span role="button" (click)="removeSection(i)">
                      <i class="fa fa-trash text-danger"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-outline-primary" (click)="closeFieldsModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveFieldProperties()">Save changes</button>
      </div>

    </div>
  </div>
</div>
