.card {
    border: none;
    border-radius: 5px;
}

.report-label {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
    transition: color 0.2s ease;
}

.report-label:hover {
    color: #00529b;
    /* Bootstrap primary hover color */
}

.text-report-primary.fw-bold {
    color: #000 !important;
}

.reports-title {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    color: #00529b;
    line-height: 24px;
    letter-spacing: 0%;
}

#icon {
    background-color: #E4E7EB;
    border-radius: 100px;
    border: none;
}

#icon i {
    color: #00529B;
}

.icon {
    background-color: #E4E7EB;
    border-radius: 100px;
    border: none;
}

.upload-area {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
    align-items: center;
}

.upload-area:hover,
.upload-area.dragover {
    border-color: #2196F3;
    background-color: #e3f2fd;
}

.upload-content {
    pointer-events: none;
}

.upload-icon {
    font-size: 38px;
    margin-bottom: 15px;
    display: block;
    color: #00529B
}

.upload-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #000000;
}

.upload-subtext {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: #00000080;
    line-height: 150%;
    letter-spacing: 0%;
}

.selected-file {
    display: inline-flex;
    /* shrink to fit content */
    align-items: center;
    /* vertical centering */
    justify-content: center;
    gap: 10px;

}

.file-name {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    color: #00529B;
    text-overflow: ellipsis;
    /* truncate long names with ... */
}

.remove-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #dc3545;
    font-size: 1.2rem;
}

.remove-btn:hover {
    color: #a71d2a;
}

.upload-btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.upload-btn:hover:not(:disabled) {
    background-color: #0b7dda;
}

.upload-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.error-message {
    color: #f44336;
    margin-top: 15px;
    padding: 10px;
    background-color: #ffebee;
    border-radius: 4px;
}

.success-message {
    color: #4caf50;
    margin-top: 15px;
    padding: 10px;
    background-color: #e8f5e9;
    border-radius: 4px;
}

.file-icon {
    font-size: 1.2rem;
    margin-right: 8px;
    color: #00529B;
}

.flexible-header {
    white-space: nowrap;
    width: auto;
    text-align: left;
}