.card {
    border: none;
    border-radius: 5px;
}

.report-label {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
    transition: color 0.2s ease;
}

.report-label:hover {
    color: #00529b;
    /* Bootstrap primary hover color */
}

.text-primary.fw-bold {
    color: #000 !important;
}

.reports-title {
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    color: #00529b;
    line-height: 24px;
    letter-spacing: 0%;
}