.create-event-button {
  background: #fff;
  color: #00529B;
  padding: 5px 10px;
  float: right;
  font-weight: bold
}

.events {
  background: #e6eef5;
  color: #000;
  margin: 5px 0 0;
  padding: 5px;
  height: 390px;
  overflow-y: auto;
  position: relative
}

.event {
  background: #fff;
  color: #000;
  margin: 5px auto;
  padding: 10px;
  border-radius: 5px
}

::ng-deep .calendar-input .p-inputtext {
  border: none !important;
}

::ng-deep .calendar-input .p-button {
  background: #fff !important;
  color: #00529b !important;
  border: none;
}

::ng-deep .calendar-input .pi {
  font-size: 1.5em !important;
  font-weight: bold !important;
}


::ng-deep .card.calendar {
  font-size: 10px;
  border: 0;
  border-radius: 0;
  height: 10%;
}

.form-select {
  border-radius: 0;
  font-size: 13px;
}


.text-end {
  cursor: pointer;


}
.text-end-view {
  border-radius: 2px;
  border: 1px solid #00529B;
  background-color: #ffffff;
  color: #00529B;
  padding: 0.6rem 1.3rem;
  font-size: 12px;
}


.text-end-view:hover {
  border: 1px solid #00529B;
  background-color: #00529B;
  color: white;
  padding: 0.6rem 1.3rem;
  font-size: 12px;
}
