.create-event-button {
  background: #fff;
  color: var(--primary-color);
  padding: 5px 10px;
  float: right;
  font-weight: bold
}

.events {
  background: #e6eef5;
  color: #000;
  margin: 5px 0 0;
  padding: 5px;
  height: 390px;
  overflow-y: auto;
  position: relative
}

.event {
  background: #fff;
  color: #000;
  margin: 5px auto;
  padding: 10px;
}

::ng-deep .calendar-input .p-inputtext {
  border: none !important;
  color: #fff;
}

::ng-deep .calendar-input .p-button {
  background: #fff !important;
  color: var(--primary-color) !important;
  border: none;
}

::ng-deep .calendar-input .pi {
  font-size: 1.5em !important;
  font-weight: bold !important;
}


::ng-deep .card.calendar {
  font-size: 0.9rem;
  border: 0;
  border-radius: 0;
  /*height: 10%;*/
}

.form-select {
  font-size: 1rem;
}


.text-end {
  cursor: pointer;

}
.text-end-view {
  border-radius: 2px;
  border: 1px solid var(--primary-color);
  background-color: #ffffff;
  color: var(--primary-color);
  padding: 0.6rem 1.3rem;
  font-size: 12px;
}

.text-end-view:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  padding: 0.6rem 1.3rem;
  font-size: 12px;
}


/* resoponsiveness */
@media (max-width: 576px) {
  .col-12 {
    margin-bottom: 5px;
  }

  .create-event-button {
    padding: 5px 10px;
    margin: 5px 0;
    float: none;
    font-weight: bold;
    width: 100%;
  }

  .events {
    height: fit-content;
  }

  .event-button {
    margin-top: 10px;
  }
}
