/* payment.component.css */

.invoice-container {
  max-width: 1200px;
  min-height: 1200;
  margin: 0px auto;
  padding: 0px;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
  border-radius: 5px;
  
}

.invoice {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 7px;
}

.section-header {
  text-align: start;
  font: size 4px;;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #00529b;
  font: roboto;
}

/* Grid layout: 2 columns, 2 rows */
.methods-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Each payment method card */
.payment-method {
  

  padding: 100px 90px;

}



.payment-method strong {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 10px;
  color: #000000;
  font-weight: 600;
}

.payment-method p {
  margin: 3px 0;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  font-weight: 400;
}

/* Payment card styles */
.payment-method {
  background-color: #ffffff;
  padding: 30px;
  
 
  font-size: 16px;
  line-height: 1.6;
 
}

/* Make Click to Pay span full width and center it */
.click-to-pay {
  grid-column: span 2; /* Span both columns */
  text-align: center;
}

/* Optional: Style the pay link */
.pay-link {
  display: inline-block;
  margin-top: 10px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 10px;
  background-color: #00529b;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  width: 200px;
  height: 60px;
}



.footer {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  font-size: 1.0rem;
  color: #000000;
 
  letter-spacing: 0.2px;
  line-height: 1.6;
}

.footer p {
  margin: 0;
  font-weight: 500;
}