  <div class="card shadow rounded-0 m-1">
    <div class="card-body centered-content">
      <div class="text-black fw-bold picture">

      </div>
      <div class="text-black fw-bold pt-2 d-flex justify-content-center" style="font-size: 12px; ">{{ "Term Life insurance" }}</div>
      <div
        class="fw-medium pb-2 d-flex justify-content-center"
        style="color: var(--grey-color); font-size: 11px"
      >
        {{ "Provides coverage for a specific term" }}
      </div>
      <div class=" d-flex justify-content-center">
        <button type="button" class="btn btn-primary">select</button>
      </div>

    </div>
  </div>
