.fixed-height-card {
    height: 350px;
    overflow: hidden;
  }
  .card-header {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #00529B;
    border-bottom: none;
  }
  
  .list {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
  }
  
  .slist {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
  }
  
  .custom-list {
    list-style-type: none;
  }
  
  .custom-list div {
    cursor: pointer;
    margin: 5px 0;
    padding-left: 20px;
    position: relative;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  