.card-body {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}

/* .fixed-height-card {
    height: 350px;
    overflow: hidden;
  } */
.top-bar {
  background-color: white;
  border: 1px solid #e5e7eb;
  padding: 8px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 35px; /* Set a fixed height */
}
/* Responsive Grid for small screens */
@media screen and (max-width:767px) {
  .top-bar{
    display: grid;
    grid-template-columns: 1fr; /* Each element takes full width */
    gap: 10px; /* Space between items */
    height: auto; /* Adjust height dynamically */

    
  }
  .top-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Full width for better alignment */
    margin-right: 0; /* Remove margin */
  }

  .top-select select {
    flex-grow: 1; /* Ensure the select expands properly */
  }
  .org{
    margin-left: 0 !important;
  }
  
}
/* Override for dropdowns inside the .top-bar */
.top-bar .dropdown-icon {
  right: 2px !important; 
}
.top-select {
  display: flex;
  align-items: center;
  margin-right: 60px;

  font-size: 13px;
  color: #333;
 
}
.org {
  margin-left: 20px;
}

.top-select span {
  margin-right: 4px;
}

.top-select select {
  border: none;
  background: transparent;
  appearance: auto; /* Ensures default dropdown is visible */
  font-size: 13px;
  color: #333;
  padding-right: 16px;

  background-repeat: no-repeat;
  background-position: right center;

}

/* Add this new class to hide the scrollbar but keep functionality */
.top-bar::-webkit-scrollbar {
  display: none;
}
.top-select select[formControlName="year"],
.top-select select[formControlName="period"] {
  min-width: 80px; /* Ensures enough space */
  width: auto;
}


select.form-control {
  width: 100%;
  padding-right: 30px; /* Ensure space for icon */
  appearance: none; /* Removes default dropdown arrow */
}



.fixed-height-card {
  height: 350px;
  overflow-y: auto; /* Add vertical scrolling */
}
.card-header {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #00529b;
  border-bottom: none;
}

.list {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}

.slist {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}

.slist li {
  white-space: nowrap; /* Prevent text from wrapping */
  max-width: 100%; /* Ensure it fits within the container */
  display: block; /* Ensure proper alignment */
}

.custom-list {
  list-style-type: none;
}

.custom-list div {
  cursor: pointer;
  margin: 5px 0;
  padding-left: 20px;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
