<div class="container-fluid">
  <!-- Top Bar -->
  <form [formGroup]="receiptingDetailsForm">
    <div class="top-bar">
      <div class="top-select org">
        <span>{{ "fms.org" | translate }}:</span>

        <select
          class="form-select fw-bold"
          id="organization"
          formControlName="organization"
          (change)="onOrganizationChange($event)"
        >
          <!-- <label for="organization">Select</label> -->

          <option *ngFor="let org of organization" [value]="org.id">
            {{ org.name }}
          </option>
        </select>
      </div>
      <div class="top-select">
        <span>{{ "fms.branch" | translate }}:</span>

        <select
          class="form-select fw-bold"
          id="branch"
          formControlName="selectedBranch"
          (change)="onBranchChange($event)"
        >
          <option value="">Select</option>
          <option *ngFor="let branch of branches" [value]="branch.id">
            {{ branch.name }}
          </option>
        </select>
      </div>
      <div class="top-select">
        <span>{{ "fms.yr" | translate }}:</span>

        <select
          class="form-select fw-bold"
          formControlName="year"
          (change)="onYearChange($event)"
        >
          <option *ngFor="let yrs of years" [value]="yrs.year">
            {{ yrs.year }}
          </option>
        </select>
      </div>
      <div class="top-select">
        <span>{{ "fms.period" | translate }}:</span>
        <select class="form-select fw-bold" formControlName="period">
          <option *ngFor="let prd of periods" [value]="prd.period">
            {{ prd.period }}
          </option>
        </select>
      </div>
    </div>
  </form>
  <div class="base-content-section">
    <div class="card">
      <div class="card-body">
        <div class="row my-3 mx-3">
          <div class="col-3 mb-3">
            <div class="card fixed-height-card hover-effect">
              <div class="card-header bg-transparent header">
                General Ledger
              </div>
              <div class="card-body">
                <div class="custom-list list">
                  <div
                    *ngFor="let item of GLledger"
                    (click)="toggleItem(item)"
                    [class.active]="item.showSubItems"
                  >
                    <a [routerLink]="item.link" *ngIf="item.link">
                      <i
                        *ngIf="item.showSubItems"
                        class="fa fa-chevron-down"
                      ></i>
                      <i
                        *ngIf="!item.showSubItems"
                        class="fa fa-chevron-right"
                      ></i>
                      {{ item.label }}
                    </a>
                    <span *ngIf="!item.link">
                      <i
                        *ngIf="item.showSubItems"
                        class="fa fa-chevron-down"
                      ></i>
                      <i
                        *ngIf="!item.showSubItems"
                        class="fa fa-chevron-right"
                      ></i>
                      {{ item.label }}
                    </span>
                    <ul *ngIf="item.showSubItems" class="custom-list slist">
                      <li *ngFor="let subItem of item.subItems">
                        <a [routerLink]="subItem.link" *ngIf="subItem.link">{{
                          subItem.label
                        }}</a>
                        <span *ngIf="!subItem.link">{{ subItem.label }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3 mb-3">
            <div class="card fixed-height-card hover-effect">
              <div class="card-header bg-transparent">CashBook</div>
              <div class="card-body">
                <div class="custom-list list">
                  <div
                    *ngFor="let item of cashbook"
                    (click)="toggleItem(item)"
                    [class.active]="item.showSubItems"
                  >
                    <a [routerLink]="item.link" *ngIf="item.link">
                      <i
                        *ngIf="item.showSubItems"
                        class="fa fa-chevron-down"
                      ></i>
                      <i
                        *ngIf="!item.showSubItems"
                        class="fa fa-chevron-right"
                      ></i>
                      {{ item.label }}
                    </a>
                    <span *ngIf="!item.link">
                      <i
                        *ngIf="item.showSubItems"
                        class="fa fa-chevron-down"
                      ></i>
                      <i
                        *ngIf="!item.showSubItems"
                        class="fa fa-chevron-right"
                      ></i>
                      {{ item.label }}
                    </span>
                    <ul *ngIf="item.showSubItems" class="custom-list slist">
                      <li *ngFor="let subItem of item.subItems">
                        <a [routerLink]="subItem.link" *ngIf="subItem.link">{{
                          subItem.label
                        }}</a>
                        <span *ngIf="!subItem.link">{{ subItem.label }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3 mb-3">
            <div class="card fixed-height-card hover-effect">
              <div class="card-header bg-transparent">Creditors</div>
              <div class="card-body">
                <div class="custom-list list">
                  <div
                    *ngFor="let item of creditors"
                    (click)="toggleItem(item)"
                    [class.active]="item.showSubItems"
                  >
                    <a [routerLink]="item.link" *ngIf="item.link">
                      <i
                        *ngIf="item.showSubItems"
                        class="fa fa-chevron-down"
                      ></i>
                      <i
                        *ngIf="!item.showSubItems"
                        class="fa fa-chevron-right"
                      ></i>
                      {{ item.label }}
                    </a>
                    <span *ngIf="!item.link">
                      <i
                        *ngIf="item.showSubItems"
                        class="fa fa-chevron-down"
                      ></i>
                      <i
                        *ngIf="!item.showSubItems"
                        class="fa fa-chevron-right"
                      ></i>
                      {{ item.label }}
                    </span>
                    <ul *ngIf="item.showSubItems" class="custom-list slist">
                      <li *ngFor="let subItem of item.subItems">
                        <a [routerLink]="subItem.link" *ngIf="subItem.link">{{
                          subItem.label
                        }}</a>
                        <span *ngIf="!subItem.link">{{ subItem.label }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3 mb-3">
            <div class="card fixed-height-card hover-effect">
              <div class="card-header bg-transparent">Debtors</div>
              <div class="card-body">
                <div class="custom-list list">
                  <div
                    *ngFor="let item of debtors"
                    (click)="toggleItem(item)"
                    [class.active]="item.showSubItems"
                  >
                    <a [routerLink]="item.link" *ngIf="item.link">
                      <i
                        *ngIf="item.showSubItems"
                        class="fa fa-chevron-down"
                      ></i>
                      <i
                        *ngIf="!item.showSubItems"
                        class="fa fa-chevron-right"
                      ></i>
                      {{ item.label }}
                    </a>
                    <span *ngIf="!item.link">
                      <i
                        *ngIf="item.showSubItems"
                        class="fa fa-chevron-down"
                      ></i>
                      <i
                        *ngIf="!item.showSubItems"
                        class="fa fa-chevron-right"
                      ></i>
                      {{ item.label }}
                    </span>
                    <ul *ngIf="item.showSubItems" class="custom-list slist">
                      <li *ngFor="let subItem of item.subItems">
                        <a [routerLink]="subItem.link" *ngIf="subItem.link">{{
                          subItem.label
                        }}</a>
                        <span *ngIf="!subItem.link">{{ subItem.label }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
