.tableScroll {
  overflow-y: auto;
  height: 328px;
  margin-right: -15px;
}
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00529b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2885d5;
}

.ticketCount:hover {
  cursor: pointer;
  color: #00529b;
  text-decoration: underline;
}
