.text-end {
  cursor: pointer;


}
.text-end-view {
  border-radius: 2px;
  border: 1px solid var(--primary-color);
  background-color: #ffffff;
  color: var(--primary-color);
  padding: 0.6rem 1.3rem;
  font-size: 12px;
}


.text-end-view:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  padding: 0.6rem 1.3rem;
  font-size: 12px;
}
