.main {
  background: #F5F6F8;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
}

.container {
  background: #FFF;
  border: 1px solid rgba(220, 220, 220, 0.85);
  border-radius: 5px;
  flex: 1;
  padding: 48px;
}

label {
  padding-bottom: 8px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid transparent;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

button.get-quote {
  background-color: #00529B;
  color: #FFFFFF;
  border-color: #00529B;
}

button.get-quote:hover {
  background-color: #65b2f5;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    width: 100%;
  }

  .btns-container {
    margin-top: 20px;
    margin-left: unset;
    width: 100%;
  }
}