<div class="container-fluid">
  <div class="full-border">
    <div class="d-flex justify-content-center text-black fs-5 fw-medium">
      Proposal
    </div>
    <div class="row mt-4 sub-border">
      <div class="col-lg-6 col-sm-12">
        <div class="m-2">
          <div class="text-black fs-6 fw-bold" style="padding-left: 1.4rem;">Proposal Summary</div>

          <div class="p-4">
            <div class="row e">
              <div class="col-lg-6 col-sm-12">Proposal Number</div>
              <div class="col-lg-6 col-sm-12">{{ "AK2569000" }}</div>
            </div>
            <div class="row e">
              <div class="col-lg-6 col-sm-12">Client Name</div>
              <div class="col-lg-6 col-sm-12">{{ "Edith Karanja" }}</div>
            </div>
            <div class="row e">
              <div class="col-lg-6 col-sm-12">Product</div>
              <div class="col-lg-6 col-sm-12">{{ "Whole Life Policy" }}</div>
            </div>
            <div class="row e">
              <div class="col-lg-6 col-sm-12">Product Option</div>
              <div class="col-lg-6 col-sm-12">{{ "Product A" }}</div>
            </div>
            <div class="row e">
              <div class="col-lg-6 col-sm-12">Proposal Number</div>
              <div class="col-lg-6 col-sm-12">{{ "AK2569000" }}</div>
            </div>
            <div class="row e">
              <div class="col-lg-6 col-sm-12">Cover Types</div>
              <div class="col-lg-6 col-sm-12">{{ "Cover Types" }}</div>
            </div>
            <div class="row e">
              <div class="col-lg-6 col-sm-12">Term</div>
              <div class="col-lg-6 col-sm-12">{{ "10" }}</div>
            </div>
            <div class="row e">
              <div class="col-lg-6 col-sm-12">Sum Assured</div>
              <div class="col-lg-6 col-sm-12">{{ "Sum Assured" }}</div>
            </div>
            <div class="row e">
              <div class="col-lg-6 col-sm-12">Premium</div>
              <div class="col-lg-6 col-sm-12">{{ "Premium" }}</div>
            </div>
            <div class="row e">
              <div class="col-lg-6 col-sm-12">Premium Escalation Rate</div>
              <div class="col-lg-6 col-sm-12">
                {{ "Premium Escalation Rate" }}
              </div>
            </div>
            <div class="row e">
              <div class="col-lg-6 col-sm-12">Beneficiaries</div>
              <div class="col-lg-6 col-sm-12">{{ "N/A" }}</div>
            </div>
            <div class="row e">
              <div class="col-lg-6 col-sm-12">Frequency of payment</div>
              <div class="col-lg-6 col-sm-12">{{ "Semi-Annual" }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12 gap-above">
        <app-payment-option></app-payment-option>
      </div>
    </div>
    <div style="margin-bottom: 6rem"></div>
  </div>

  <div class="row justify-content-end">
    <div routerLink="/home/lms/ind/policy/underwriting" class=" col-lg-1 col-sm-4 btn btn-primary btn-sm w-10" style="transform: translateX(-0.5rem) ;">
      Proceed
    </div>
  </div>
</div>
