.clause-links {
  /*font-family: 'Lato';*/
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  color: #00529B;
}
.clause-label{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
