<!-- start of p dialog>Main assignment dialog -->
<p-dialog
  header="Assign Task"
  [modal]="true"
  [(visible)]="assignDialogVisible"
  [style]="{ width: '420px' }"
>
  <form [formGroup]="usersForm">
    <!-- user selection input field -->
    <input type="hidden" formControlName="user" />
    <div class="form-group mb-3">
      <label for="userselect"
        >{{ "entities.user" | translate }}<span class="required"></span
      ></label>
      <div class="input-group" style="position: relative">
        <!-- This input is for display only. It shows the selected user's name. -->
        <input
          id="userselect"
          type="text"
          class="form-control"
          placeholder="Click to select a user"
          [value]="selectedUserForAssignment?.username"
          readonly
          (click)="openUserSelectDialog()"
        />
        <button type="button" (click)="openUserSelectDialog()" class="btn-icon">
          <i
            class="pi pi-angle-double-down"
            style="font-size: 1rem; color: #00529b"
          ></i>
        </button>
      </div>
    </div>

    <!-- Comments Textarea -->
    <div class="form-group mb-3">
      <label for="textarea" class="form-label">{{
        "entities.comment" | translate
      }}</label>
      <textarea
        id="textarea"
        class="form-control"
        rows="3"
        formControlName="comment"
      ></textarea>
    </div>
    <div class="modal-footer">
      <div class="d-flex flex-row gap-3">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="closeAssignModal()"
        >
          {{ "fms.receipt-management.cancel" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="reAssignBatch()"
          [disabled]="!selectedUserForAssignment"
          *ngIf="reAssign && !assign"
        >
          {{ "fms.banking.reAssign" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="assignReceipts()"
          [disabled]="!selectedUserForAssignment"
          *ngIf="assign && !reAssign"
        >
          {{ "fms.banking.assign" | translate }}
        </button>
      </div>
    </div>
  </form>
</p-dialog>

<!-- DIALOG 2: USER SELECTION TABLE DIALOG -->
<!-- baseZIndex ensures this dialog appears on top of the first one -->
<p-dialog
  header="Assign Task"
  [(visible)]="userSelectDialogVisible"
  [modal]="true"
  [style]="{ width: '700px' }"
  [baseZIndex]="10001"
>
  <p-table
    [value]="filteredUsers"
    [(selection)]="tempSelectedUser"
    selectionMode="single"
    dataKey="id"
    [paginator]="true"
    [rows]="5"
    sortMode="single"
    [rowsPerPageOptions]="[10, 25, 50]"
    [showCurrentPageReport]="true"
    [currentPageReportTemplate]="currentReportTemplate"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="username">
          {{ "entities.username" | translate }}
          <p-sortIcon field="username"></p-sortIcon>
        </th>
        <th pSortableColumn="user">
          {{ "entities.user" | translate }}
          <p-sortIcon field="user"></p-sortIcon>
        </th>
      </tr>
      <!-- filter row -->
      <tr>
        <th>
          <input
            type="text"
            class="form-control"
            (input)="filterUsers($event, 'username')"
            (keyup.enter)="filterUsers($event, 'username')"
          />
        </th>
        <th>
          <input
            type="text"
            class="form-control"
            (input)="filterUsers($event, 'name')"
            (keyup.enter)="filterUsers($event, 'name')"
          />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr [pSelectableRow]="user">
        <td>{{ user.username }}</td>
        <td>{{ user.name }}</td>
      </tr>
    </ng-template>
  </p-table>
  <div class="modal-footer mt-3">
    <div class="d-flex flex-row gap-3">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="closeUserSelectDialog()"
      >
        {{ "crm.cancel" | translate }}
      </button>
      <!-- This button confirms the selection and closes this dialog -->
      <button
        type="button"
        class="btn btn-primary"
        (click)="confirmUserSelection()"
        [disabled]="!tempSelectedUser"
      >
        {{ "auth.save" | translate }}
      </button>
    </div>
  </div>
</p-dialog>
<!-- end of user selection modal -->

<!-- start of deposit modal -->
<div
  class="modal fade"
  id="depositModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLabel">
          {{ "fms.banking.depositDetails" | translate }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeDepositModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="depositForm">
          <div class="">
            <div class="row g-3">
              <div class="col-6">
                <div class="form-group">
                  <label for="bank" class="form-label required">{{
                    "fms.banking.bankAccount" | translate
                  }}</label>
                  <select
                    id="bank"
                    class="form-select"
                    formControlName="bankAccount"
                  >
                    <option
                      *ngFor="let accounts of bankAccounts"
                      [value]="accounts.number"
                    >
                      {{ accounts.name }}, {{ accounts.number }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="bankingSlip" class="form-label required">{{
                    "fms.banking.bankingSipNumber" | translate
                  }}</label>
                  <input
                    type="text"
                    class="form-control"
                    id="bankingSlip"
                    formControlName="slipNumber"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="amount" class="form-label">{{
                    "fms.banking.amountBanked" | translate
                  }}</label>
                  <input
                    type="text"
                    class="form-control"
                    id="amount"
                    formControlName="amount"
                    readonly
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <div class="form-group mb-3">
                    <label for="remarks" class="form-label">{{
                      "fms.banking.remarksComments" | translate
                    }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="remarks"
                      formControlName="remarks"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3">
                <h6 class="fw-normal mb-2">
                  {{ "fms.banking.AttachDepositSlip" | translate }}
                </h6>
                <!-- custom file dropzone -->
                <div
                  class="file-dropzone border-dashed text-center p-4 rounded"
                  (click)="fileInput.click()"
                  (dragover)="onDragOver($event)"
                  (dragleave)="onDragLeave($event)"
                  (drop)="onDrop($event)"
                  [class.drag-over]="isDragging"
                >
                  <i class="pi pi-upload mb-2" style="font-size: 2rem"></i>
                  <p class="mb-1">
                    <span class="text-primary fw-bold cursor-pointer">{{
                      "fms.banking.clickToUpload" | translate
                    }}</span>
                    {{ "fms.banking.orDrag" | translate }}
                  </p>
                  <small class="text-muted">{{
                    "fms.banking.pdf" | translate
                  }}</small>
                  <!-- Hidden file input that we trigger programmatically -->
                  <input
                    type="file"
                    #fileInput
                    class="d-none"
                    (change)="onFileSelected($event)"
                    [disabled]="maximumFiles"
                  />
                </div>
                <!-- List of Uploaded Files -->
                <div class="uploaded-files-list mt-3" *ngIf="uploadedFile">
                  <div
                    class="d-flex align-items-center justify-content-between p-2 mb-2 bg-light rounded"
                  >
                    <div class="d-flex align-items-center">
                      <i
                        class="pi pi-file-pdf text-danger me-2"
                        style="font-size: 1.5rem"
                      ></i>
                      <span class="file-name">{{ uploadedFile.name }}</span>
                    </div>
                    <button
                      type="button"
                      class="btn btn-sm btn-link text-danger"
                      (click)="removeFile()"
                    >
                      <i class="pi pi-trash"></i>
                    </button>
                    <div class="d-flex justify-content-end">
                      <button
                        type="button"
                        class="btn btn-primary btn-sm"
                        (click)="postFile()"
                      >
                        {{ "fms.receipting.postFile" | translate }}
                      </button>
                    </div>
                  </div>
                </div>
                <!-- end of file UPLOAD  section -->
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer me-1 gap-3">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="closeDepositModal()"
        >
          {{ "fms.receipt-management.cancel" | translate }}
        </button>
        <button type="button" class="btn btn-primary">
          {{ "crm.saveChanges" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- end of deposit modal -->
