h5, h6 {
  margin-top: .8rem;
  margin-bottom: .5rem;
}
.nav-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  border: 0;
}

.nav-link.active {
  color: var(--primary-color);
}
.pill-box {
  margin: 1.9rem 0.2rem 0;
  padding: 5px 0;
  border-radius: 5px;
  background-color: #00529B80;
}
.icon-circle {
  display: inline-block;
  background-color: #e4e7eb;
  color: #00529b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}
.img_upload {
  display: inline-block;
  font-family: 'Roboto', serif;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  padding: 0.2rem 0.8rem;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.img_edit {
  color: var(--primary-color);
  font-size: 14px;
}

.img_edit:hover {
  text-decoration: underline;
}

#photo {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 50%;
}
.text-green {
  color: #4CAF50;
}
