@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'oswald_regularregular';
  src: url('../fonts/oswald-regular-webfont.woff2') format('woff2'),
  url('../fonts/oswald-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldbold';
  src: url('../fonts/oswald-bold-webfont.woff2') format('woff2'),
  url('../fonts/oswald-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrebuchetMS';
  src: url('../fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TrebuchetMS.woff') format('woff'),
  url('../fonts/TrebuchetMS.ttf') format('truetype'),
  url('../fonts/TrebuchetMS.svg#TrebuchetMS') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldlight';
  src: url('../fonts/oswald-light-webfont.woff2') format('woff2'),
  url('../fonts/oswald-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* CSS Document */
body {
  color: #0d335f;
  direction: ltr;
  font-family: 'TrebuchetMS', Arial, sans-serif !important;
  font-size: 13px !important;
  background: #00122a;
  line-height: 1.25;
}

.top-header {
  background-color: #000000;
  color: #fff;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: right;
  width: 100%;
  float: left;
}

#register-bg {
  width: 100%;
  float: left;
  height: 600px;
  background: url(../images/reg-bg.png) no-repeat top;
}

.top-header span {
  color: #fff;
  float: right;
  font-family: 'oswaldlight';
  font-size: 17px;
  line-height: 23px;
  margin-left: 10px;
  width: 30%;
}

.welcome {
  width: 30%;
  float: left;
  text-align: left;
  font-size: 26px;
  color: #ffffff;
  text-align: center;
  padding-top: 24px;
  font-family: 'oswaldlight';
}

.top-header h5 {
  width: 54%;
  float: right;
  text-align: left;
  font-size: 26px;
  font-family: 'oswaldlight';
}

#top-wrap {
  width: 100%;
  float: left;
  height: 80px;
  background: #0d345f;
}

#logo {
  width: 133px;
  height: 80px;
  float: left;
  margin-left: 20px;
  background: url(../images/apa-logo.png) no-repeat top left;
}

#top-menu {
  float: right;
  width: auto;
}

#top-menu li {
  height: 80px;
  display: inline;
  float: left;
  text-align: center;
  padding: 20px 15px;
  color: #f6f6f8;
  border-left: solid #6d7782 1px;
}

#top-menu li a {
  color: #f6f6f8;
  font-size: 13px;
  margin-top: 12px;
  float: left;
  font-family: 'oswald_regularregular';
}

#main-menu {
  width: 100%;
  float: left;
  height: 50px;
  /*background: url(../images/top-bg.jpg) repeat-x;*/
  background: #024ca1;
  border-bottom: solid #999999 1px;
}

#main-menu .navbar-default {
  background: none !important;
  border: none !important;
}

#main-menu .navbar {
  margin: 0 !important;
}

#main-menu ul li a {
  font-size: 13px !important;
  color: #ffffff !important;
  font-family: 'oswaldbold';
}

#main-menu li.dropdown ul li a {
  color: #024ca1 !important;
}

/*
#banner {
  width: 100%;
  height: 600px;
  float: left;
  background: #0c4da2;
}

#banner-img {
  width: 100%;
  height: 600px;
  position: absolute;
}
*/

#banner, #banner-img {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/apa-smiley-banner.jpg);
}
#getquote .htext {
  color: #ffffff;
  font-family: 'oswaldlight';
  font-size: 18px;
  font-weight: normal;
}

#getquote .hinput {
  background: none;
  border: solid #cccccc 1px;
  color: #ffffff;
}

#getquote {
  float: right !important;
}

#getquote option {
  color: #999999;
}

#login-wrap {
  display: none;
}

#footer-wrap {
  width: 100%;
  height: auto;
  float: left;
  padding: 40px 0;
  color: #ffffff;
  background: #0c3f73;
  font-family: 'oswaldbold';
}

#footer-wrap h4 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

#footer-wrap ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#footer-wrap ul li {
  list-style: none;
}

#footer-wrap ul li a {
  width: 100%;
  font-size: 16px;
  color: #dadada;
  line-height: 18px;
  margin-bottom: 10px;
  float: left;
  font-family: 'oswald_regularregular';
}

#copyright {
  width: 100%;
  float: left;
  background: #2671be;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

/*----------------home page changes start-------------*/
/*----------------plan page changes start-------------*/
.plan-col {
  width: 23%;
  height: auto;
  float: left;
  margin-right: 2%;
  margin-top: 10px;
  border-top: solid #999999 5px;
  border-left: solid #cccccc 1px;
  border-right: solid #cccccc 1px;
  border-bottom: solid #cccccc 1px;
  padding: 0 0 15px 0;
}

.col-name {
  width: 100%;
  height: auto;
  padding: 10px;
  color: #ffffff;
  font-size: 16px;
  background: #2671be;
}

.apa-plan-desc {
  width: 100%;
  height: 150px;
  float: left;
  padding: 10px;
  border-bottom: solid #cccccc 1px;
}

.apa-plan-price {
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  padding: 10px 0 10px;
  border-bottom: solid #cccccc 1px;
}

.apa-plan-price strong {
  font-size: 30px;
}

.apa-plan-select {
  width: 100%;
  height: auto;
  float: right;
  padding: 10px 0 10px 20%;
}

/*----------------plan page changes end-------------*/
#wrapper-cont2 {
  width: 1000px;
  margin: 0px auto;
}

#content-wrap2 {
  width: 100%;
  float: left;
  height: auto;
  background: #ffffff;

  border-right: #f4f2f2 solid 10px;
  border-left: #f4f2f2 solid 10px;
}

.apa-left-col-1 {
  width: 35%;
  float: left;
  padding: 20px;
  min-height: 700px;
  background: #2671be;
}

.apa-right-col-1 {
  width: 65%;
  float: left;
  padding: 20px 20px 20px 20px;
}

#apa-login-wrap {
  width: 100%;
  float: right;
  padding: 5px 15px 15px 15px;
  color: #ffffff;
  font-weight: normal;
}

#apa-login-wrap a {
  color: #ffffff;
}

#apa-login-wrap label {
  font-weight: normal;
}

#apa-login-wrap input {
  border-radius: 0px;
}

/*----------------home page changes end-------------*/


/*-------------------------Start Mobile and Table--------------------*/

@media screen and (max-width: 1024px) {
  #top-wrap {
    height: 80px;
  }

  #logo {
    /*width: 15%;*/
    background: url(../images/apa-logo.png) no-repeat top center;
    float: right;
    margin-right: 15px;
  }

  .top-header {
    padding: 0;
  }

  .top-header span {
    display: none;
  }

  .welcome {
    width: auto/*100%*/;
  }
}

@media screen and (max-width: 980px) {
  #top-menu {
    /*display: none;*/
  }

  .left-col-1 {
    display: none;
  }

  #footer-wrap {
    height: auto;
  }

  #register-bg {
    height: 1000px;
  }

  #content-wrap form {
    padding: 200px;
  }

  html, body {
    height: 1000px;
  }
}

@media screen and (max-width: 800px) {
  .shortcuts {
    margin: auto;
    height: auto;
    width: 100%;
    float:none;
  }

  #footer-wrap {
    height: auto;
  }

}

@media screen and (max-width: 768px) {
  .welcome {
    width: auto;
  }

  #top-wrap {
    height: auto;
  }

  #top-menu {
    width: 30%;
    background: #0d345f;
    margin-top: 80px;
  }

  #top-menu ul {
    float: left;
    padding-inline-start: 0;
  }

  #top-menu li {
    margin-bottom: 5px;
    font-size: 0.7em;
    border-left:none;
    text-align: left;
    padding: 0;
    border-bottom: solid 1px #ccc;
    border-left: none;
    width: 100%;
    height: 50px;
  }

  #top-menu li a,
  #top-menu li span,
  #top-menu li i {
    color: #fff;
  }

  #top-menu li a {
    float: left;
    margin-right: 15px;
    margin-top: 0;
  }

  #top-wrap .icon-bar {
    background: #ffffff;
  }

  #logo {
    width: 40%;
    background: url(../images/apa-logo.png) no-repeat top center;
    float: right;
    margin-right: 15px;
  }

  #content-wrap form {
    padding: 20px;
  }

  #content-wrap #quote-form {
    padding: 0;
  }

  .left-col-2, .right-col-2 {
    width: 100%;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: unset;
  }
  .BottomNav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #register-bg {
    height: 1200px;
    background: url(../images/reg-bg.png) repeat;;
  }

  #logo {
    width: 100%;
    background: url(../images/apa-logo.png) no-repeat top center;
    float: none;
  }

  #top-wrap .icon-bar {
    background: #ffffff;
  }

  #top-menu {
    width: 50%;
    background: #0d345f;
    display: block;
  }

  #top-menu ul {
    float: left;
    padding-inline-start: 0;
  }

  #top-menu li {
    margin-bottom: 5px;
    font-size: 0.7em;
    border-left:none;
    text-align: left;
    padding: 0;
    border-bottom: solid 1px #ccc;
    border-left: none;
    width: 100%;
    height: 50px;
  }

  #top-menu li a,
  #top-menu li span,
  #top-menu li i {
    color: #fff;
  }

  #top-menu li a {
    float: left;
    margin-right: 15px;
    margin-top: 0;
  }

  .left-col-2 {
    font-size: 0.8em;
  }

  #product-wrap {
    width: 100%;
  }

  #main-menu .navbar {
    margin: 0 !important;
    z-index: 9;
  }

  #main-menu .navbar-nav {
    margin: 0 -15px;
  }

}

/*-------------------------End Mobile and Table--------------------*/
