@charset "utf-8";
@import 'aig-quote.css';

#product-desc h3 {
  margin-top: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
}

#register-bg {
  width: 100%;
  float: left;
  height: 600px;
  background: url(../images/reg-bg.png) no-repeat top;
}

#plan-wrap {
  border-top: solid #019393 5px;
}

.left-col-2 {
  color: #ffffff;
  background: #019393;
}

.left-col-1 {
  background: #019393;
  color: #ffffff;
}

/* CSS Document */
#top-wrap {
  width: 100%;
  float: left;
  height: 80px;
  background: #ffffff;
  border-bottom: solid #999999 1px;
}

#logo {
  width: 133px;
  height: 80px;
  float: left;
  margin-left: 20px;
  background: url(../images/bedrock/logo.png) no-repeat top left;
}

#top-menu {
  float: right;
  width: auto;
}

#top-menu li {
  height: 80px;
  display: inline;
  float: left;
  text-align: center;
  padding: 20px 15px;
  color: #009292;
  border-left: solid #cccccc 1px;
}

#top-menu li a {
  color: #009292;
  font-size: 13px;
  margin-top: 8px;
}

#main-menu {
  width: 100%;
  float: left;
  height: 50px;
  background: url(../images/bedrock/top-bg.jpg) repeat-x;
  border-bottom: solid #999999 1px;
}

#main-menu .navbar-default {
  background: none !important;
  border: none !important;
}

#main-menu .navbar {
  margin: 0 !important;
}

#main-menu ul li a {
  font-size: 13px !important;
  color: #00164e !important;
}

#banner, #banner-img {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/banner1.jpg);
}

#footer-wrap {
  width: 100%;
  height: auto;
  float: left;
  padding: 40px 0;
  color: #ffffff;
  background: #282828;
  border-top: solid #ffffff 5px;
}

#footer-wrap h4 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

#footer-wrap ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#footer-wrap ul li {
  list-style: none;
}

#footer-wrap ul li a {
  color: #ffffff;
  font-size: 13px;
}

#copyright {
  width: 100%;
  float: left;
  background: #3c557c;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

#getquote-aig {
  width: auto;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  float: left;
  margin-top: 40px;
  padding: 5px 15px 15px 5px;
  font-size: 18px;
  color: #ffffff;
}

/*#getquote-aig select{
	background:none;
	border:solid #FFFFFF 1px;
	}
#getquote-aig a{ padding:10px 25px; font-size:16px; font-weight:bold; margin-right:10px;}*/

#product-desc .btn-primary {
  background: #009292 !important;
  border: none;
}

#product-desc .btn-danger {
  background: #3a547c !important;
  border: none;
}

.shortcuts {
  width: 600px;
  float: left;
  height: auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.shortcuts li {
  list-style: none;
  width: 30%;
  height: 120px;
  float: left;
  padding: 10px;
  text-align: center;
}

.shortcuts li a {
  color: #ffffff;
  font-size: 11px;
  text-transform: uppercase;
}

.shortcuts li a:hover {
  color: #00ccff;
}

.item-1 {
  width: 100%;
  float: left;
  padding-top: 60px;
  background: url(../images/bedrock/quote.png) no-repeat center top;
}

.item-1:hover {
  background: url(../images/bedrock/quote-h.png) no-repeat center top;
}

.item-2 {
  width: 100%;
  float: left;
  padding-top: 60px;
  background: url(../images/bedrock/change.png) no-repeat center top;
}

.item-2:hover {
  background: url(../images/bedrock/change-h.png) no-repeat center top;
}

.item-3 {
  width: 100%;
  float: left;
  padding-top: 60px;
  background: url(../images/bedrock/renewal.png) no-repeat center top;
}

.item-3:hover {
  background: url(../images/bedrock/renewal-h.png) no-repeat center top;
}

.item-4 {
  width: 100%;
  float: left;
  padding-top: 60px;
  background: url(../images/bedrock/report.png) no-repeat center top;
}

.item-4:hover {
  background: url(../images/bedrock/report-h.png) no-repeat center top;
}

.item-5 {
  width: 100%;
  float: left;
  padding-top: 60px;
  background: url(../images/bedrock/claims.png) no-repeat center top;
}

.item-5:hover {
  background: url(../images/bedrock/claims-h.png) no-repeat center top;
}

.item-6 {
  width: 100%;
  float: left;
  padding-top: 60px;
  background: url(../images/bedrock/inquiry.png) no-repeat center top;
}

.item-6:hover {
  background: url(../images/bedrock/inquiry-h.png) no-repeat center top;
}

.item-6 {
  width: 100%;
  float: left;
  padding-top: 60px;
  background: url(../images/bedrock/inquiry.png) no-repeat center top;
}

.item-6:hover {
  background: url(../images/bedrock/inquiry-h.png) no-repeat center top;
}

.item-7 {
  width: 100%;
  float: left;
  padding-top: 60px;
  background: url(../images/bedrock/prof.png) no-repeat center top;
}

.item-7:hover {
  background: url(../images/bedrock/prof-h.png) no-repeat center top;
}

/*----------------plan page changes start-------------*/
.plan-col {
  width: 100%;
  height: auto;
  float: left;
  margin-right: 2%;
  margin-top: 10px;
  border-top: solid #999999 5px;
  border-left: solid #cccccc 1px;
  border-right: solid #cccccc 1px;
  border-bottom: solid #cccccc 1px;
  padding: 0 0 15px 0;
}

.col-name {
  width: 100%;
  height: auto;
  padding: 10px;
  color: #ffffff;
  font-size: 16px;
  background: #2671be;
}

.aig-plan-desc {
  width: 100%;
  height: auto;
  float: left;
  padding: 0;
  text-align: center;
  border-bottom: solid #cccccc 1px;
}

.aig-plan-price {
  width: 100%;
  height: auto;
  float: left;
}

.aig-plan-price strong {
  font-size: 16px;
}

.aig-plan-select {
  width: 100%;
  height: auto;
}

.dp-name {
  width: 33%;
  height: 170px;
  float: left;
  padding: 60px 10px 10px 10px;
  text-align: center;
  border: solid #cccccc 1px;
}

.dp-desc {
  width: 34%;
  height: 170px;
  float: left;
  padding: 10px;
  border: solid #cccccc 1px;
}

.dp-price {
  width: 33%;
  height: 170px;
  float: left;
  text-align: center;
  padding: 40px 10px 10px 10px;
  border: solid #cccccc 1px;
}

.dp-price strong {
  font-size: 22px;
}

.dp-select {
  width: 33%;
  height: 170px;
  float: left;
  padding: 60px 10px 10px 20px;
  border: solid #cccccc 1px;
}

/*----------------plan page changes end-------------*/

/*============checkboxes start====================*/
/* Hiding the checkbox, but allowing it to be focused */
.badgebox {
  opacity: 0;
}

.badgebox + .badge {
  /* Move the check mark away when unchecked */
  text-indent: -999999px;
  /* Makes the badge's width stay the same checked and unchecked */
  width: 27px;
}

.badgebox:focus + .badge {
  /* Set something to make the badge looks focused */
  /* This really depends on the application, in my case it was: */

  /* Adding a light border */
  box-shadow: inset 0px 0px 5px;
  /* Taking the difference out of the padding */
}

.badgebox:checked + .badge {
  /* Move the check mark back when checked */
  text-indent: 0;
}

/*============checkboxes end======================*/


/*-------------------------Start Mobile and Table--------------------*/

@media screen and (max-width: 1024px) {
  #top-wrap {
    height: 80px;
  }

  #logo {
    /*width: 15%;*/
    background: url(../images/bedrock/logo.png) no-repeat top center;
    float: right;
    margin-right: 15px;
  }

  .top-header {
    padding: 0;
  }

  .top-header span {
    display: none;
  }

  .welcome {
    width: auto/*100%*/;
  }
}

@media screen and (max-width: 980px) {
  #top-menu {
    /*display: none;*/
  }

  .left-col-1 {
    display: none;
  }

  #footer-wrap {
    height: auto;
  }

  #register-bg {
    height: 1000px;
  }

  #content-wrap form {
    padding: 200px;
  }

  html, body {
    height: 1000px;
  }
}

@media screen and (max-width: 800px) {
  .shortcuts {
    margin: auto;
    height: auto;
    width: 100%;
    float:none;
  }

  #footer-wrap {
    height: auto;
  }

}

@media screen and (max-width: 768px) {
  .welcome {
    width: auto;
  }

  #top-wrap {
    height: auto;
  }

  #top-menu {
    width: 30%;
    background: #009292;
    margin-top: 80px;
  }

  #top-menu ul {
    float: left;
    padding-inline-start: 0;
  }

  #top-menu li {
    margin-bottom: 5px;
    font-size: 0.7em;
    border-left:none;
    text-align: left;
    padding: 0;
    border-bottom: solid 1px #ccc;
    border-left: none;
    width: 100%;
    height: 50px;
  }

  #top-menu li a,
  #top-menu li span,
  #top-menu li i {
    color: #fff;
  }

  #top-menu li a {
    float: left;
    margin-right: 15px;
    margin-top: 0;
  }

  #top-wrap .icon-bar {
    background: #009292;
  }

  #logo {
    width: 40%;
    background: url(../images/bedrock/logo.png) no-repeat top center;
    float: right;
    margin-right: 15px;
  }

  #content-wrap form {
    padding: 20px;
  }

  #content-wrap #quote-form {
    padding: 0;
  }

  .left-col-2, .right-col-2 {
    width: 100%;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: unset;
  }
  .BottomNav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #register-bg {
    height: 1200px;
    background: url(../images/reg-bg.png) repeat;;
  }

  #logo {
    width: 100%;
    background: url(../images/bedrock/logo.png) no-repeat top center;
    float: none;
  }

  #top-wrap .icon-bar {
    background: #009292;
  }

  #top-menu {
    width: 50%;
    background: #009292;
    display: block;
  }

  #top-menu ul {
    float: left;
    padding-inline-start: 0;
  }

  #top-menu li {
    margin-bottom: 5px;
    font-size: 0.7em;
    border-left:none;
    text-align: left;
    padding: 0;
    border-bottom: solid 1px #ccc;
    border-left: none;
    width: 100%;
    height: 50px;
  }

  #top-menu li a,
  #top-menu li span,
  #top-menu li i {
    color: #fff;
  }

  #top-menu li a {
    float: left;
    margin-right: 15px;
    margin-top: 0;
  }

  .left-col-2 {
    font-size: 0.8em;
  }

  #product-wrap {
    width: 100%;
  }

  #main-menu .navbar {
    margin: 0 !important;
    z-index: 9;
  }

  #main-menu .navbar-nav {
    margin: 0 -15px;
  }

}

/*-------------------------End Mobile and Table--------------------*/
