@charset "utf-8";
/* CSS Document */
.home-main {
  margin-top: 80px;
}

#top-wrap {
  width: 100%;
  float: left;
  height: 80px;
  background: #ffffff;
  z-index: 100;
  position: fixed;
  top: 0;
}

#logo {
  width: 133px;
  height: 80px;
  float: left;
  margin-left: 20px;
  background: url(../images/geminia-logo.png) no-repeat top left;
}

#top-menu {
  float: right;
  width: auto;
}

#top-menu li {
  height: 80px;
  display: inline;
  float: left;
  text-align: center;
  padding: 20px 15px;
  color: #313092;
  border-left: solid #cccccc 1px;
}

#top-menu li a {
  color: #313092;
  font-size: 13px;
  margin-top: 8px;
}

#main-menu {
  width: 100%;
  float: left;
  height: 50px;
  margin-top: 0;
  background: url(../images/top-bg.jpg) repeat-x;
  border-bottom: solid #999999 1px;
}

#main-menu .navbar-default {
  background: none !important;
  border: none !important;
}

#main-menu .navbar {
  margin: 0 !important;
  z-index: 1000;
}

#main-menu .navbar-nav {
  margin-top: 0;
}

#main-menu ul li a {
  font-size: 13px !important;
  color: #ffffff !important;
}

#main-menu ul li a:hover,
#main-menu ul li.active a {
  background: #009fe1;
}

#main-menu .navbar-default .navbar-nav > .open > a {
  background: #009fe1;
}

#main-menu ul li ul.dropdown-menu {
  background: #009fe1;
}

#container {
  width: 100%;
  margin: 0 auto;
}

#wrapper-cont {
  width: 960px;
  margin: 20px auto;
}

#banner {
  width: 100%;
  height: 600px;
  float: left;
  background: #cccccc;
}

#banner-img {
  width: 100%;
  height: 600px;
  position: absolute;
}

#login-container {
  top: 100px;
}

#login-wrap {
  width: 280px;
  height: 400px;
  background: #e8e8e8;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  float: right;
  margin-top: 20px;
  padding: 5px 15px 15px 15px;
}

#getquote {
  width: auto;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  float: left;
  margin-top: 140px;
  padding: 5px 15px 15px 5px;
}

#getquote a {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

#login-wrap2 {
  width: 100%;
  height: auto;
  float: left;
  background: #e8e8e8;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px 20px 30px;
  margin-top: 40px;
}

/*#register-wrap {
 !* width: 100%;*!
  margin: 80px auto 0;
  height: auto;
}*/

#register-wrap2 {
  width: 900px;
  background: #ffffff;
  border: solid #cccccc 1px;
  margin: 50px auto 20px;
  padding: 40px;
  border-radius: 7px;
}

#register-wrap3 {
  width: 600px;
  margin: 40px auto 0;
  height: auto;
}

#register-form {
  width: 100%;
  float: left;
  padding: 40px 0;
}

#register-bg {
  width: 100%;
  float: left;
  min-height: 600px;
  background: linear-gradient(#d3d4e7,#4c47ab);
}

#spacer-div {
  width: 100%;
  float: left;
  padding: 20px 10px;
  border: solid #999999 1px;
  border-radius: 7px;
  margin-top: 40px;
}

.spacer1 {
  padding: 10px 20px;
  border-radius: 7px;
}

#footer-wrap {
  width: 100%;
  height: auto;
  float: left;
  padding: 40px 0;
  color: #ffffff;
  background: #0F0F2D;
  border-top: solid #243d4c 5px;
}

#footer-wrap h4 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

#footer-wrap ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#footer-wrap ul li {
  list-style: none;
}

#footer-wrap ul li a {
  color: #ffffff;
  font-size: 13px;
}

#copyright {
  width: 100%;
  float: left;
  background: #cccccc;
  color: #999999;
  padding: 10px 0;
  text-align: center;
}

/*--------------Start product Categories-----------------------*/

#product-bg {
  width: 100%;
  float: left;
  min-height: 600px;
  background: #ecf0f5;
  padding: 15px;
}

#product-cont {
  /*width: 960px;*/
  background: #ffffff;
  padding: 20px;
  border-radius: 7px;
}

#product-wrap {
  width: 100%;
  float: left;
  border-bottom: solid #cccccc 1px;
  padding: 20px 0 20px 0;
}

#product-img {
  width: 250px;
  height: 200px;
  float: left;
  background: #999999;
  border: solid #cccccc 2px;
  border-radius: 7px;
  webkit-border-radius: 7px;
}

#product-img img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  webkit-border-radius: 7px;
}

#product-desc {
  width: 70%;
  height: auto;
  float: left;
  padding-left: 2%;
}

#product-desc2 {
  width: 100%;
  height: auto;
  float: left;
  padding-left: 2%;
}

#product-desc h3 {
  margin-top: 0;
  padding-left: 0;
}

#product-desc2 h3 {
  margin-top: 0;
  padding-left: 0;
}

.seperator {
  width: 100%;
  float: left;
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: solid #f0eeee 1px;
}

#icon-wrap {
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#prod-icon {
  width: 100px;
  height: 110px;
  text-align: center;
  float: left;
  margin-right: 15px;
  background: #e6e6e6;
  border-radius: 7px;
  padding: 10px;
}

#prod-icon label {
  padding-left: 0;
}

#prod-icon span {
  font-size: 28px;
  color: #a93e41;
}

/*---------------End product categories----------------------*/

#content-wrap {
  width: 100%;
  float: left;
  height: auto;
  background: #ffffff;
  padding-bottom: 20px;
  border: #f4f2f2 solid 10px;
}

.left-col-1 {
  width: 35%;
  float: left;
  padding: 20px;
}

.right-col-1 {
  width: 65%;
  float: left;
  padding: 20px 20px 20px 0px;
}

.left-col-2 {
  width: 30%;
  float: left;
  padding: 20px;
}

.right-col-2 {
  width: 70%;
  float: left;
  padding: 20px 20px 20px 0px;
}

.left-col-3 {
  width: 50%;
  float: left;
  padding: 30px;
}

.right-col-3 {
  width: 50%;
  float: left;
  padding: 20px 20px 20px 0px;
}

#content-wrap input,
#content-wrap select,
#content-wrap button,
.btn {
  border-radius: 0 !important;
}

#slide-one {
  float: left;
  width: 100%;
}

#slide-two {
  float: left;
  width: 100%;
}

#slide-three {
  float: left;
  padding: 20px;
  width: 100%;
}

#slide-content {
  float: left;
  padding: 20px;
  width: 100%;
}

#tab-menu-wrap {
  width: 100%;
  float: left;
  height: auto;
  background: #f4f2f2;
}

.tab-menu {
  width: 25%;
  float: left;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}

.active-tab {
  width: 25%;
  float: left;
  background: #ffffff;
}

#plan-wrap {
  width: 100%;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: solid #999999 5px;
}

.plan-name {
  width: 25%;
  height: 200px;
  float: left;
  padding: 60px 10px 10px 10px;
  text-align: center;
  border: solid #cccccc 1px;
}

.plan-desc {
  width: 25%;
  height: 200px;
  float: left;
  padding: 10px;
  border: solid #cccccc 1px;
}
.plan-desc-single-cover {
  width: 35%;
  height: 405px;
  float: left;
  padding: 10px;
  border: solid #cccccc 1px;
}
.plan-name-single-cover{
  width: 17%;
  height: 405px;
  float: left;
  padding: 10px;
  border: solid #cccccc 1px;
  text-align: center
}

.plan-price {
  width: 25%;
  height: 200px;
  float: left;
  text-align: center;
  padding: 40px 10px 10px 10px;
  border: solid #cccccc 1px;
}
.plan-price-single-cover {
  width: 23%;
  height: 405px;
  float: left;
  text-align: center;
  padding: 40px 10px 10px 10px;
  border: solid #cccccc 1px;
}

.plan-price strong {
  font-size: 30px;
}

.plan-select {
  width: 25%;
  height: 200px;
  float: left;
  padding: 30px 10px 10px 20px;
  border: solid #cccccc 1px;
}
.plan-select-single-cover {
  width: 25%;
  height: 405px;
  float: left;
  padding: 30px 10px 10px 20px;
  border: solid #cccccc 1px;
}

.tab-pane {
  border-bottom: #ddd solid 1px;
  border-left: #ddd solid 1px;
  border-right: #ddd solid 1px;
  border-radius: 0 0 7px 7px;
  padding: 20px;
}

#slide-three .nav-tabs li a {
  font-weight: bold;
}

.line {
  width: 100%;
  height: 5px;
  float: left;
}

.line2 {
  width: 100%;
  height: 1px;
  float: left;
  background: #cccccc;
  margin: 10px 0;
}

.panel-tab-titled {
  margin-left: 10px;
}

/*-----------------------------marine product---------------------*/
#marine-quote {
  width: 100%;
  float: left;
  border: solid #ddd 1px;
  height: auto;
}

<!--
-----------start
renewal
payment
fieldset----------------
> fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}

#banner, #banner-img {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/banner1.jpg);
}

/*-----------end renewal payment fieldset----------------*/


/*-------------------------Start Mobile and Table--------------------*/

@media screen and (max-width: 1024px) {
  .home-main  {
    margin-top: 80px;
  }

  #top-wrap {
    height: 80px;
  }

  #logo {
    /*width: 15%;*/
    background: url(../images/geminia-logo.png) no-repeat top center;
    float: right;
    margin-right: 15px;
  }

  .top-header {
    padding: 0;
  }

  .top-header span {
    display: none;
  }

  .welcome {
    width: auto/*100%*/;
  }

}

@media screen and (max-width: 980px) {

  .home-main  {
    margin-top: 160px;
  }

  #wrapper-cont {
    width: 100%;
  }

  #product-cont {
    width: 100%;
  }


  #footer-wrap {
    height: auto;
  }

  #register-bg {
    height: 1000px;
  }

  #content-wrap form {
    padding: 0;
  }

  #logo {
    width: 100%;
  }

  #top-menu li {
    padding: 20px 5px;
  }

  html, body {
    height: 1000px;
  }
}

@media screen and (max-width: 800px) {
  .shortcuts {
    margin: auto;
    height: auto;
    width: 100%;
    float:none;
  }

  #footer-wrap {
    height: auto;
  }

}

@media screen and (max-width: 768px) {
  .home-main  {
    margin-top: 80px;
  }

  .welcome {
    width: auto;
  }

  #top-wrap {
    height: auto;
  }

  #top-menu {
    width: 0;
    background: #313092;
    margin-top: 80px;
  }

  #top-menu ul {
    float: left;
    padding-inline-start: 0;
  }

  #top-menu li {
    margin-bottom: 5px;
    font-size: 0.7em;
    border-left:none;
    text-align: left;
    padding: 0;
    border-bottom: solid 1px #ccc;
    border-left: none;
    width: 100%;
    height: 50px;
  }

  #top-menu li a,
  #top-menu li span,
  #top-menu li i {
    color: #fff;
  }

  #top-menu li a {
    float: left;
    margin-right: 15px;
    margin-top: 0;
  }

  #main-menu {
    margin-top: 0;
  }

  #main-menu ul {
    background: #313092;
  }

  #top-wrap .icon-bar {
    background: #313092;
  }

  #login-container {
    width: 100%;
  }

  #login-wrap2 {
    width: 100%;
  }

  #logo {
    width: 30%;
    background: url(../images/geminia-logo.png) no-repeat top center;
    float: right;
    margin-right: 0;
  }

  #product-cont {
    width: 100%;
  }

  #product-desc {
    width: 60%;
  }

  #product-img {
    width: 35%;
  }

  #content-wrap form {
    padding: 20px;
  }

  #content-wrap #quote-form {
    padding: 0;
  }

  #wrapper-cont {
    width: 100%;
  }

  #content-wrap form {
    padding: 0;
  }

  .left-col-1 {
    display: none;
  }

  .left-col-2, .right-col-1, .right-col-2 {
    width: 100%;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: unset;
  }

  .BottomNav {
    display: none;
  }

  .plan-desc, .plan-name, .plan-price, .plan-select {
    width: 50%;
    text-align: left;
    vertical-align: center;
  }

  .plan-desc, .plan-name {
    height: 180px;
  }

  #content-wrap .btn-select-cover {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  #login-container {
    width: 100%;
    float: left;
  }

  #login-wrap {
    width: 100%;
  }

  #logo {
    float: right;
    margin-right: 15px;
    width: 40%;
  }

  #top-wrap .icon-bar {
    background: #313092;
  }

  #top-menu {
    width: 0%;
    background: #313092;
  }

  #top-menu li {
    text-align: left;
    padding: 0;
    border-bottom: solid 1px #fff;
    border-left: none;
    width: 90%;
    height: 50px;
  }

  #top-menu li a,
  #top-menu li span,
  #top-menu li i {
    color: #fff;
  }

  #top-menu li a {
    float: left;
    margin-right: 15px;
    margin-top: 0;
  }

  .plan-desc, .plan-name, .plan-price, .plan-select {
    width: 50%;
    text-align: left;
    vertical-align: center;
    height: 250px;
  }

  #login-container {
    top: 0;
  }

  #getquote {
    margin-top: 20px;
  }

  #footer-wrap {
    padding: 40px 20px;
  }

  #register-bg {
    height: auto;
  }

  #register-wrap {
    width: 100% !important;
  }

  #register-wrap3 {
    width: 100%;
    margin: 40px auto 0;
    height: auto;
  }

  #register-form {
    padding: 40px 20px;
  }

  #product-img {
    width: 60px;
    height: 50px;
  }

  #product-desc p {
    display: none;
  }

  #top-right {
    display: none;
  }

  .tab-menu {
    font-size: 0.8em;
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  #content-wrap .btn-select-cover {
    margin: 0;
  }

  .plan-desc, .plan-name {
    height: 450px;
    font-size: 0.8em;
  }

  #login-wrap2 {
    width: 100%;
    margin: auto;
  }

  #product-desc .btn {
    margin-right: 0;
  }

  #content-wrap button, .btn {
    font-size: 0.7em;
  }

  .panel-tab-titled {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  #login-wrap2 {
    width: 100%;
    margin: auto;
  }
}

/*-------------------------Start Mobile and Table--------------------*/
