@charset "utf-8";
/* CSS Document */
#top-wrap {
  width: 100%;
  float: left;
  height: 80px;
  background: #ffffff;
  border-bottom: solid #999999 1px;
}

#logo {
  width: 133px;
  height: 80px;
  float: left;
  margin-left: 20px;
  background: url(../images/madison-logo.png) no-repeat top left;
}

#register-bg {
  width: 100%;
  float: left;
  height: 600px;
  background: url(../images/reg-bg.png) no-repeat top;
}

#top-menu {
  float: right;
  width: auto;
}

#top-menu li {
  height: 80px;
  display: inline;
  float: left;
  text-align: center;
  padding: 20px 15px;
  color: #313092;
  border-left: solid #cccccc 1px;
}

#top-menu li a {
  color: #313092;
  font-size: 13px;
  margin-top: 8px;
}

#main-menu {
  width: 100%;
  float: left;
  height: 50px;
  background: url(../images/top-bg.jpg) repeat-x;
  border-bottom: solid #999999 1px;
}

#main-menu .navbar-default {
  background: none !important;
  border: none !important;
}

#main-menu .navbar {
  margin: 0 !important;
}

#main-menu ul li a {
  font-size: 13px !important;
  color: #ffffff !important;
}

#main-menu ul li a:hover,
#main-menu ul li.active a {
  background: #33af8c;
}

#main-menu ul li ul.dropdown-menu li a {
  color: #333333 !important;
}

#banner, #banner-img {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/banner1.jpg);
}

#footer-wrap {
  width: 100%;
  height: auto;
  float: left;
  padding: 40px 0;
  color: #ffffff;
  background: #012d6a;
  border-top: solid #243d4c 5px;
}

#footer-wrap h4 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

#footer-wrap ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#footer-wrap ul li {
  list-style: none;
}

#footer-wrap ul li a {
  color: #ffffff;
  font-size: 13px;
}

#copyright {
  width: 100%;
  float: left;
  background: #cccccc;
  color: #999999;
  padding: 10px 0;
  text-align: center;
}

.pop-up-table td,
.pop-up-table th {
  padding: 0 0 0 8px !important;
  line-height: 0px !important;
  vertical-align: middle !important;
  border-top: 1px solid #ddd !important;
}

/*-------------------------Start Mobile and Table--------------------*/

@media screen and (max-width: 1024px) {
  #top-wrap {
    height: 160px;
  }

  #logo {
    width: 100%;
    background: url(../images/madison-logo.png) no-repeat top center;
    float: right;
    margin-right: 15px;
  }
}

@media screen and (max-width: 980px) {

  #top-wrap {
    height: 160px;
  }

  #top-menu {
    /*display: none;*/
  }

  .left-col-1 {
    display: none;
  }

  #footer-wrap {
    height: auto;
  }

  #register-bg {
    height: 1000px;
  }

  #content-wrap form {
    padding: 200px;
  }

  html, body {
    height: 1000px;
  }
}

@media screen and (max-width: 800px) {
  .shortcuts {
    margin: auto;
    height: auto;
    width: 100%;
    float:none;
  }

  #footer-wrap {
    height: auto;
  }

}

@media screen and (max-width: 768px) {
  #top-wrap {
    height: auto;
  }

  #top-menu {
    width: 30%;
    background: #062987;
  }

  #top-menu ul {
    float: left;
    padding-inline-start: 0;
  }

  #top-menu li {
    margin-bottom: 5px;
    font-size: 0.7em;
    border-left:none;
    text-align: left;
    padding: 0;
    border-bottom: solid 1px #ccc;
    border-left: none;
    width: 100%;
    height: 50px;
  }

  #top-menu li a,
  #top-menu li span,
  #top-menu li i {
    color: #fff;
  }

  #top-menu li a {
    float: left;
    margin-right: 15px;
    margin-top: 0;
  }

  #top-wrap .icon-bar {
    background: #062987;
  }

  #logo {
    width: 40%;
    background: url(../images/madison-logo.png) no-repeat top center;
    float: right;
    margin-right: 15px;
  }

  #content-wrap form {
    padding: 20px;
  }

  #content-wrap #quote-form {
    padding: 0;
  }

  .left-col-2, .right-col-2 {
    width: 100%;
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: unset;
  }
}

@media screen and (max-width: 600px) {
  #register-bg {
    height: 1200px;
    background: url(../images/reg-bg.png) repeat;;
  }

  #logo {
    width: 70%;
    background: url(../images/madison-logo.png) no-repeat top center;
    float: right;
    margin-right: 15px;
  }

  #top-wrap .icon-bar {
    background: #062987;
  }

  #top-menu {
    width: 50%;
    background: #062987;
  }

  #top-menu ul {
    float: left;
    padding-inline-start: 0;
  }

  #top-menu li {
    margin-bottom: 5px;
    font-size: 0.7em;
    border-left:none;
    text-align: left;
    padding: 0;
    border-bottom: solid 1px #ccc;
    border-left: none;
    width: 100%;
    height: 50px;
  }

  #top-menu li a,
  #top-menu li span,
  #top-menu li i {
    color: #fff;
  }

  #top-menu li a {
    float: left;
    margin-right: 15px;
    margin-top: 0;
  }

  .left-col-2 {
    font-size: 0.8em;
  }

  #product-wrap {
    width: 100%;
  }

  #main-menu .navbar {
    margin: 0 !important;
    z-index: 9;
  }

  #main-menu .navbar-nav {
    margin: 0 -15px;
  }

  /*#footer-wrap {
    min-height: 230px;
  }*/
}

/*-------------------------End Mobile and Table--------------------*/

