.main {
  background: #F5F6F8;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
}

.container {
  background: #FFF;
  border: 1px solid rgba(220, 220, 220, 0.85);
  border-radius: 5px;
  flex: 1;
  padding: 48px;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid transparent;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

button.admit-claim {
  background-color: #00529B;
  color: #FFFFFF;
  border-color: #00529B;
}

button.admit-claim:hover {
  background-color: #65b2f5;
}

.pdf-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.doc-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  /* grid-template-columns: repeat(3, minmax(100px, 1fr)); */
}

.document {
  margin-bottom: 20px;
}

.document-row {
  display: flex;
  align-items: center;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-left: 10px;
  /* margin-right: 300px; */
}

.document-row .pi {
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
  display: none;
}

.document-row:hover .pi {
  display: inline-block;
}

.download-link .pi {
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
  display: none;
}

.download-link:hover .pi {
  display: inline-block;
}

.item-label,
.pi {
  color: #000;
}

li:hover .item-label {
  color: blue;
  text-decoration: underline;
}

/* Styles for the link */
.download-link {
  text-decoration: underline;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.download-link:hover {
  color: #00529B;
  text-decoration: underline;
}

.share-button-container {
  padding-left: 40px;
}

.bottom-button-share {
  display: inline-flex;
  height: 40px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #00529B;
  float: right;
  color: #00529B;
}

.btn.btn-primary.bottom-button-share {
  color: #00529B !important;
  background-color: white !important;
  border: 1px solid #00529B !important;
  outline: none !important;
}

.btn.btn-primary.bottom-button-share:hover {
  color: #00529B !important;
  background-color: rgb(243, 237, 237) !important;
  border: 1px solid #00529B !important;
}

.text-share {
  color: #00529B;
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.custom-red-button {
  color: transparent;
  background-color: transparent;
  border: none;
}

.custom-red-button::before {
  content: "X";
  color: #EE3945;
  width: 20px;
  height: 20px;
  flex-shrink: 0;

}

.modal-header,
 .modal-footer {
     border: none;
     /* Removes the border between header/footer and body of modal */
 }

 .modal-content {
  padding: 0 20px;
 }

 .black-text-form {
  color: #000;
}

.custom-radio-button-container {
  display: flex;
  align-items: center;
}

.custom-radio-button {
  border-color: #000;
  outline-color: #000;
}

:host ::ng-deep {
  .custom-radio-button .ui-radiobutton-box.ui-widget {
      background-color: black !important;
      border-color: black !important;
  }

}

:host ::ng-deep {
  .custom-radio-button .ui-radiobutton-icon {
      background-color: black !important;
  }

}

:host ::ng-deep {
  .custom-radio-button .ui-radiobutton-label {
      color: black !important;
  }

}

.custom-label {
  margin-left: 8px;
}

td {
  padding: 2px;
  white-space: nowrap;
}

.docs:nth-child(n + 3) {
  margin-top: 20px;
}

.choose-file {
  display: inline-flex;
  height: 24px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #00529B;
  background-color: #FFF;
}

.file-text {
  color: #00529B;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.delete-icon {
  margin-left: 10px;
  cursor: pointer;
  color: red;
}

:host ::ng-deep .p-progressbar-value {
  border-radius: 10px;
  background: #138700;
  font-size: 0px;
}

:host ::ng-deep .p-progressbar {
  width: 100%;
  height: 3px;
}

.pdf-icon {
  width: 24px;
  height: 24px;
}

.file-details {
  flex-grow: 1;
  position: relative;
}

.file-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  white-space: nowrap;
  margin-top: 10px;
  width: 70%;
}

.file-details {
  flex-grow: 1;
  position: relative;
}

.file-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.file-name {
  color: #00529B;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
  overflow: auto;
  white-space: nowrap;
}

.completed {
  color: #138700;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.progress-bar {
  width: 100%;
}

.delete-icon {
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .main {
    width: 100%;
    overflow: auto;
    align-items: center;
  }

  .container {
    flex-direction: column;
    width: 100%;
    overflow: auto;
  }

  .doc-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  .download-link .pi, .document-row .pi {
    display: inline-block;
  }
}