@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

* {
  --primary-color:  #00529B;
  --grey-color: #868E96;

}

/* Root (global)*/
html,body {
  margin:0;
  padding:0;
  /* font-family: 'Lato', sans-serif; */
  font-family: Roboto !important;
  color: var(--primary-color)!important;
}

.text-primary {
  color: var(--primary-color)!important;
}

.text-success {
  color: #188623!important;
}

.btn-primary {
  background: var(--primary-color);
  border-color: var(--primary-color);
  /*border-radius: 0;*/
  color: #fff;
  margin-right: 5px;
}

.btn-success {
  color: #fff;
  margin-right: 5px;
}

.btn-outline-primary {
  background: #fff;
  border: solid 1px #00529b;
  color: #00529b;
}

.btn-outline-primary:hover {
  background: #00529b;
  border: solid 1px #00529b;
  color: #fff;
}

.btn-link, a {
  text-decoration: none;
}

.btn-full-width {
    width: 100%;
}

.btn-standard-width {
  width: 120px
}

.setups .card {
  padding: 20px;
}

.setups .listing {
  max-height: 90vh;
  overflow: auto;
}

.setups .listing ul {
  padding-left: 0.5rem;
}

.setups .listing ul li {
  list-style-type: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.setups .listing ul li:hover {
  background: #00529b;
  color: #fff;
  padding: 2px 5px;
  margin-right: 10px
}

.input-group span {
  background: #00529b;
  color: #fff;
}

/* Root (global) ends*/


/* Root Base n Dashboard starts*/
.base-container {
  display: flex;
}


/* Side Navigation Starts */
.base-side-nav .btn {
  color: var(--primary-color)!important;
  font-weight: bold;
}

.base-side-nav .btn .menu-title {
  margin-left: 10px;
}

.base-side-nav .btn-toggle-nav li {
  margin-left: 45px;
  margin-bottom: 10px;
}

.base-side-nav .btn-toggle-nav li a:link{
  text-decoration: none;
}

.base-side-nav li {
  width: max-content;
}
/* Side Navigation ends */


.base-navbar {
  background: var(--primary-color) !important;
  padding-right: 20px;
  padding-left: 20px;
}

.base-navbar .navbar-toggler .navbar-toggler-icon {
  height: 1em;
  width: 1em;
}

.base-navbar .navbar-brand .brand-name {
  margin-left: 20px;
  font-size: 0.9em;
}

.base-navbar .profile img {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  margin-right: 10px;
}

.base-navbar .profile span {
  color: #fff;
  font-size: 0.9em;
}

.base-side-nav {
  width: 228px;
  min-height: 90vh;
  padding: 10px;
}

.base-content {
  width: 85%;
  min-height: 90vh;
  background: #f5f6f8;
}

.base-content .content-nav .navbar {
  background: #fff;
}

.base-content .content-nav #navbar .nav-item{
  margin-right: 20px;
}


.base-content .content-nav .navbar #chart ul li a{
  color: var(--primary-color)!important;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: underline;
}

.base-content .base-content-section {
  margin-bottom: 30px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.base-content .home  {
  min-height: 50vh;
}

.base-content .home  .card {
  position: relative;
  height: 100%;
}

.base-content .base-content-section table tr th,
.base-content .base-content-section table tr td {
  font-size: 0.9em;
  padding: 0.4rem;
  color: gray;
  line-height: 30px;
}

.base-content .base-content-section table tr th {
  color: #000;
}

.base-content .base-content-section .align-center {
  text-align: center;
}


.base-content .section-title {
  font-weight: bold;
  color: var(--primary-color);
}

.base-content .base-content-section .calendar {
  color: var(--primary-color)!important;
}

.base-content .base-content-section .calendar .card-header {
  background: var(--primary-color);
  color: #fff;
}

.base-content .base-content-section .calendar .form-select {
  padding: 0.1rem;
}

.base-content .base-content-section .row .transactions {
  margin-bottom: 0;
  font-weight: bold;
}

/* Root Base n Dashboard starts*/

/*Login starts*/
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00396C;
}

.auth-container .right {
  margin: auto;
  text-align: center;
  height: 100vh;
  color: #ffff;
  padding-top: 10vh;

}

.auth-container .left {
  text-align: center;
  height: 100vh;
  background: #fff;
  width: 35%;
  /* padding-top: 15vh; */
  padding-left: 20px;
  padding-right: 20px;
}

.auth-container .left .otp-form {
  max-width: 80%;
  margin: auto
}

.slogan {
  width: 70%;
  margin: auto;
}

.slogan p.lead-text {
  font-size: .875rem;
  margin: 0 auto 20px auto;
}

.lead-text {
  font-weight: 300;
  color: #fff !important;
}

.htxt {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

h2.htxt {
  font-size: 1.875rem;
}

h5.htxt {
  font-size: .9375rem;
}

h5.htxt {
  font-weight: 500 !important;
  line-height: 1.1 !important;
}

.logo-lg img {
  height: 100px;
  width: 150px;

}

.login-text, .forgot-password-text{
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 2rem;
  color: #222b45;
}

.login-form .form-group .form-label,
.form-label {
  float: left;
  color: #000000;
}


/*Login ends*/

/*Common*/
.form-error-text {
  float:left;
}
.page-header {
  font-weight: 500 !important;
  font-size: 20px;
  color: #323a46;
}
.filter-btn{
  background: #FAFAFA;
  box-sizing: border-box;

  letter-spacing: 1.25px;
  text-transform: uppercase;

  filter: drop-shadow(0px 4px 4px rgba(61, 164, 255, 0.23));
  color: #3A3B3F;
}
.fa-filter{
  color: #9EA0A5;
}
/*Common ends*/

/**Modals**/
.modal {
  display: none;
}

.modal.show {
  display: block;
}

.modal-backdrop {
  display: none;
}
.modal {
  background: rgba(0, 0, 0, 0.5);
}
/**Modal ends**/

.text-plain {
  border-radius: 2px;
  border: 1px solid var(--primary-color);
  background-color: #ffffff;
  color: var(--primary-color);
  padding: 0.6rem 1.3rem;
  font-size: 12px;
}


.help{
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-decoration: underline;
color: #00529B;
}
.text-plain:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  padding: 0.6rem 1.3rem;
  font-size: 12px;
}
.pointer {
  cursor: pointer;
}

/**Gis Setup Start**/
.leftHeaderTitle {
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.circle-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #00529B;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}

.icon-white {
  color: white;
}

.leftTitle {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #00529B;
  width: 82px;
  padding-bottom: 10px;
  /* border-bottom: 2px solid #00529B; */
}

.leftHeader {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #00529B;
}

.leftNum {
  margin-right: 10px;
  border: 1px solid #000000;
  background: white;
  border-radius: 100%;
  color: black;
  display: inline-block;
  padding: 4px 8px 5px 7px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

/**Gis Ends**/
.required::after {
  content: '*'; /* Display an asterisk (*) to indicate required field */
  color: red; /* Change the color to red (you can customize as per your preference) */
  font-size: 14px; /* Increase the font size for better visibility */
  font-weight: bold; /* Use bold style for the asterisk */
  margin-left: 5px; /* Add some space between the label and the asterisk */
}

.full-border {
  padding: 2rem 4rem 2rem 2rem;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 0.9em;
  margin: 20px 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.action-buttons-container {
  margin-top: 10px; /* Adjust the margin as needed to bring the buttons closer */
  margin-bottom: 20px; /* Adjust the margin as needed to bring the buttons closer */
  margin-left: 12px;
  margin-right: 12px;
}


.card {
  background-color: white;
  border-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* margin: 20px;
  padding: 20px; */
}

.card-header {
  text-align: center;
  margin-bottom: 10px;
}

.card-title {
  font-size: 1.5rem;
  margin: 0;
}

.card-subtitle {
  font-size: 1rem;
  margin: 0;
}

.card-content {
  flex: 1;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

/* Styles for Desktop (Screen width > 768px) */
@media screen and (min-width: 769px) {
  .mobile-card {
    display: none; /* Hide card layout on desktop */
  }
}

/* Styles for Mobile (Screen width <= 768px) */
@media screen and (max-width: 768px) {
  .desktop-table {
    display: none; /* Hide table layout on mobile */
  }
}


.text-end {
  cursor: pointer;


}
.text-end-view {
  border-radius: 2px;
  border: 1px solid var(--primary-color);
  background-color: #ffffff;
  color: var(--primary-color);
  padding: 0.6rem 1.3rem;
  font-size: 12px;
}


.text-end-view:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  padding: 0.6rem 1.3rem;
  font-size: 12px;
}

.form-check > input {
  border: 2px solid black;
}
.form-check-input:checked {
  background-color: #000000;
}

.form-check-input:checked,
.form-check-input:active
 {
  background-color: #000000;
  border: 2px solid black;

}

.p-datatable .p-datatable-tbody > tr {
  border-bottom: solid 1px #eee;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.3rem 0.6rem;
  font-size: 0.9em;
  color: gray;
}

.p-datatable .p-datatable-thead > tr > th {
  padding: 0.6rem 0.6rem;
  font-size: 0.9em;
}
tr > td > p-celleditor > input {
  width: 150px;
}

p-celleditor > p-dropdown .p-dropdown {
  height: 30px;
  border-radius: 0;
  border: solid 1px black;
  transform: translateY(3px);
}

.p-button.p-button-icon-only {
  border-radius: 0;
  background-color: white !important;
  color: var(--primary-color);
  font-weight: 500;

}

.p-button.p-button-icon-only:hover {
  border-radius: 0;
  background-color: white !important;
  color: rgb(14, 30, 66);
}

p-table tr > th {
  font-size: 0.9em;
  width: 10%;
}

.b-r {
  width: 2.5rem; height: 2.5rem; border-radius: 10rem;
  background-color: rgb(217, 217, 235);
  /* border: 1px rgb(8, 32, 81) solid; */
  cursor:pointer;
  color:var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.b-r:hover {
  width: 2.4rem; height: 2.4rem; border-radius: 10rem;
  background-color: rgb(172, 172, 176);
  border: none;
  cursor:pointer;
  color:var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.mobile-bottom {
  display: none;
}

.p-component {
  font-family: Roboto;
}

.p-tabview-title {
  color: #000;
}

.p-tabview-title:hover {
  color: var(--primary-color);
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-title {
  color: var(--primary-color);
}

/* responsive design */

@media (max-width: 1400px) {
  /* CSS rules */
}

@media (max-width: 1200px) {
  /* CSS rules */
}

@media (max-width: 992px) {
  /* CSS rules */
}

@media (max-width: 768px) {
  /* CSS rules */
}

@media (max-width: 576px) {
  .base-content {
    width: 100%;
  }

  .auth-container .right {
    display: none;
  }

  .auth-container .left  {
    width: 100%;
    padding: 2rem;
  }

  .base-side-nav {
    margin-left: -230px;
  }

  .base-content-section .col-12 {
    margin-bottom: 15px;
  }

  .base-content .base-content-section .calendar {
    font-size: 0.7rem;
  }

  .base-content .base-content-section .calendar ul {
    padding: 0;
  }

  .base-content .base-content-section .calendar ul li {
    padding: 0;
  }

  .base-content .base-content-section table tr th,
  .base-content .base-content-section table tr td {
    font-size: 0.8rem;
  }

  #lms-gis-policy-list {
    margin-bottom: 200px;
  }

  .mobile-bottom {
    display: block;
    margin-top: 250px;
  }

}
