@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

/* Root (global)*/
html,body {
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
  color: #00529B!important;
}

.text-primary {
  color: #00529B!important;
}

.text-success {
  color: #188623!important;
}

.btn-primary {
  background: #00529B;
  border-color: #00529B;
  border-radius: 0;
  color: #fff;
  margin-right: 5px;
}

.btn-success {
  border-radius: 0;
  color: #fff;
  margin-right: 5px;
}

.btn-outline-secondary {
  border-radius: 0;
}

.btn-link, a {
  text-decoration: none;
}

.btn-full-width {
    width: 100%;
}
/* Root (global) ends*/


/* Root Base n Dashboard starts*/
.base-container {
  display: flex;
}


/* Side Navigation Starts */
.base-side-nav .btn {
  color: #00529B!important;
  font-weight: bold;
}

.base-side-nav .btn .menu-title {
  margin-left: 10px;
}

.base-side-nav .btn-toggle-nav li {
  margin-left: 45px;
  margin-bottom: 10px;
}

.base-side-nav .btn-toggle-nav li a:link{
  text-decoration: none;
}

.base-side-nav li {
  width: max-content;
}
/* Side Navigation ends */


.base-navbar {
  background: #00529B !important;
  padding-right: 20px;
  padding-left: 20px;
}

.base-navbar .navbar-toggler .navbar-toggler-icon {
  height: 1em;
  width: 1em;
}

.base-navbar .navbar-brand .brand-name {
  margin-left: 20px;
  font-size: 0.9em;
}

.base-navbar .profile img {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  margin-right: 10px;
}

.base-navbar .profile span {
  color: #fff;
  font-size: 0.9em;
}

.base-side-nav {
  width: 228px;
  min-height: 90vh;
  padding: 10px;
}

.base-content {
  width: 85%;
  min-height: 90vh;
  background: #f5f6f8;
}

.base-content .content-nav .navbar {
  background: #fff;
}

.base-content .content-nav #navbar .nav-item{
  margin-right: 20px;
}


.base-content .content-nav .navbar #chart ul li a{
  color: #00529B!important;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: underline;
}

.base-content .base-content-section {
  margin-bottom: 30px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.base-content .home  {
  min-height: 50vh;
}

.base-content .home  .card {
  position: relative;
  height: 100%;
}

.base-content .base-content-section table tr th,
.base-content .base-content-section table tr td {
  font-size: 0.9em;
  padding: 0.4rem;
  color: gray;
  line-height: 30px;
}

.base-content .base-content-section table tr th {
  color: #000;
}

.base-content .base-content-section .align-center {
  text-align: center;
}


.base-content .section-title {
  font-weight: bold;
  color: #00529B;
}

.base-content .base-content-section .calendar {
  color: #00529B!important;
}

.base-content .base-content-section .form-control {
  border-radius: 0;
}

.base-content .base-content-section .calendar .card-header {
  background: #00529B;
  color: #fff;
}

.base-content .base-content-section .calendar .form-select {
  padding: 0.1rem;
}

.base-content .base-content-section .row .transactions {
  margin-bottom: 0;
  font-weight: bold;
}

/* Root Base n Dashboard starts*/

/*Login starts*/
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00396C;
}

.auth-container .right {
  margin: auto;
  text-align: center;
  height: 100vh;
  color: #ffff;
  padding-top: 10vh;

}

.auth-container .left {
  text-align: center;
  height: 100vh;
  background: #fff;
  width: 35%;
  padding-top: 15vh;
  padding-left: 20px;
  padding-right: 20px;
}

.auth-container .left .otp-form {
  max-width: 80%;
  margin: auto
}

.slogan {
  width: 70%;
  margin: auto;
}

.slogan p.lead-text {
  font-size: .875rem;
  margin: 0 auto 20px auto;
}

.lead-text {
  font-weight: 300;
  color: #fff !important;
}

.htxt {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

h2.htxt {
  font-size: 1.875rem;
}

h5.htxt {
  font-size: .9375rem;
}

h5.htxt {
  font-weight: 500 !important;
  line-height: 1.1 !important;
}

.logo-lg img {
  height: 100px;
  width: 150px;

}

.login-text, .forgot-password-text{
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 2rem;
  color: #222b45;
}

.login-form .form-group .form-label,
.form-label {
  float: left;
  color: #000000;
}

.form-control {
  border-radius: 0;
}
/*Login ends*/

/*Common*/
.form-error-text {
  float:left;
}
.page-header {
  font-weight: 500 !important;
  font-size: 20px;
  color: #323a46;
}
.filter-btn{
  background: #FAFAFA;
  box-sizing: border-box;

  letter-spacing: 1.25px;
  text-transform: uppercase;

  filter: drop-shadow(0px 4px 4px rgba(61, 164, 255, 0.23));
  color: #3A3B3F;
}
.fa-filter{
  color: #9EA0A5;
}
/*Common ends*/

/**Modals**/
.modal {
  display: none;
}

.modal.show {
  display: block;
}

.modal-backdrop {
  display: none;
}
.modal {
  background: rgba(0, 0, 0, 0.5);
}
/**Modal ends**/


.help{
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-decoration: underline;


color: #00529B;
}