:host ::ng-deep .p-dropdown {
  width: 100%;
  height: 40px;
  font-size: 1rem;
}
/*primeng style*/
.p-dropdown .p-dropdown-label.p-placeholder,
.p-dropdown.p-dropdown-clearable .p-dropdown-label {
  font-size: 0.5em;
}

:host ::ng-deep .p-dropdown span{
  font-size: 0.9rem;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td,
::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 0.5em;
  font-size: 0.9em;
  color: var(--primary-color)!important;
}

.sub-category:hover,
.sub-category:active
{
  background-color: #00539b03;
}
.metricSublist {
  cursor: pointer;
  transform: translateX(15px);
  font-size: 13px;
}

.metricSublist:hover {
  font-weight: 900;
  background-color: #00539b06;
}

:host ::ng-deep .pill-box {
  border: solid 1px #eee;
  margin-top: 20px;
  min-width: 200px;
  font-size: 0.9rem;
}


.query::selection {
  background-color: white;
  color: black;
  cursor: pointer;
}

.subject-area .content {
  border: solid 1px #eee;
  border-radius: 5px;
}

.subject-area ul {
  line-height: 25px;
  padding: 5px;
  /*margin-left: -120px!important;*/
  border: solid 1px #eee;
  border-radius: 5px;
  font-size: 0.9rem;
  width: max-content;
}

.subject-area ul li {
  border: solid 1px #eee;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 2px;
  cursor: pointer;
}

.subject-area ul li:hover {
  background: #eee;
}
.continueBtn {
  border-radius: 4px;
}

#reportName input[type=text] {
  border: none;
  border-bottom: #00529b 1px solid;
  color: #00529b;
}

.ai-bot {
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}

.ai-bot:hover {
  font-size: 1rem;
  transition: font-size 500ms;
}

.ai-bot .robot, .robot {
  padding: 8px;
  font-size: 1rem;
  border-radius: 100%;
  background: #e5efef;
}

.ai-bot span {
  font-size: 0.6rem;
}

/* .modal-content {
  position: fixed;
  width: 400px;
  top: 150px;
  right: 200px;
} */

.ai-bot-dialogue {
  width: 400px;
  height: 400px;
  border: solid 1px #d9d9d9;
  border-radius: 10px;
  margin: 10px;
  position: absolute;
  right: 50px;
  z-index: 1000;
}

.ai-bot-dialogue .bot-header {
  background: #00529b;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  z-index: 900;
}

.ai-bot-dialogue .bot-footer {
  /* position: absolute; */
  /* bottom: 0; */
  padding: 10px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
}

.ai-bot-dialogue .chat-message {
  padding: 5px 5px 10px;
  border-radius: 10px;
  display: block;
}

.ai-bot-dialogue .message {
  background: #f5f6f8;
  border: solid 1px #eee;
  color: #00529b;
  padding: 10px;
  border-radius: 10px;
  float: right;
}

.ai-bot-dialogue .bot-message {
  background-color: #00529b;
  opacity: 0.8;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  clear: both;
}

.ai-bot-dialogue .chat-icons i {
  cursor: pointer;
}

.ai-bot-dialogue .chat-icons i:hover {
  font-size: 1.1em;
  transition: font-size 0.5s;
}

@keyframes flickerAnimation {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1;}
}

.animate-flicker {
  animation: flickerAnimation 1s infinite;
}



/* resoponsiveness */
@media (max-width: 576px) {
  .ai-bot-dialogue {
    width: 300px;
    margin: auto;
    top: 20px;
  }
}