<div class="main">
    <div style="display: flex; padding-top: 1rem; justify-content: start">
        <app-dynamic-breadcrumb [breadCrumbItems]="breadCrumbItems">
        </app-dynamic-breadcrumb>
    </div>
    <div class="container">
        <div class="title">Downloads</div>

        <div style="color: #000;">

            <div class="row col-md-12">
                <div class="col-md-6">
                    <ol class="list">
                        <li>
                            <span class="item-label">1. Proposal forms</span>
                            <span class="icons">
                                <i class="pi pi-eye" aria-hidden="true"></i>
                                <a href="#" download><i class="pi pi-download" aria-hidden="true"></i></a>
                            </span>
                        </li>
                        <li>
                            <span class="item-label">2. Claim forms</span>
                            <span class="icons">
                                <i class="pi pi-eye" aria-hidden="true"></i>
                                <a href="#" download><i class="pi pi-download" aria-hidden="true"></i></a>
                            </span>
                        </li>
                        <li>
                            <span class="item-label">3. Death claims</span>
                            <span class="icons">
                                <i class="pi pi-eye" aria-hidden="true"></i>
                                <a href="#" download><i class="pi pi-download" aria-hidden="true"></i></a>
                            </span>
                        </li>
                        <li>
                            <span class="item-label">4. Statement of new entrance</span>
                            <span class="icons">
                                <i class="pi pi-eye" aria-hidden="true"></i>
                                <a href="#" download><i class="pi pi-download" aria-hidden="true"></i></a>
                            </span>
                        </li>
                    </ol>
                </div>

                <div class="col-md-6">
                    <ol class="list">
                        <li>
                            <span class="item-label">5. Membership application form</span>
                            <span class="icons">
                                <i class="pi pi-eye" aria-hidden="true"></i>
                                <a href="#" download><i class="pi pi-download" aria-hidden="true"></i></a>
                            </span>
                        </li>
                        <li>
                            <span class="item-label">6. Beneficiary nomination form</span>
                            <span class="icons">
                                <i class="pi pi-eye" aria-hidden="true"></i>
                                <a href="#" download><i class="pi pi-download" aria-hidden="true"></i></a>
                            </span>
                        </li>
                        <li>
                            <span class="item-label">7. Payment schedule</span>
                            <span class="icons">
                                <i class="pi pi-eye" aria-hidden="true"></i>
                                <a href="#" download><i class="pi pi-download" aria-hidden="true"></i></a>
                            </span>
                        </li>
                        <li>
                            <span class="item-label">8. KYC form</span>
                            <span class="icons">
                                <i class="pi pi-eye" aria-hidden="true"></i>
                                <a href="#" download><i class="pi pi-download" aria-hidden="true"></i></a>
                            </span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</div>