.titleMain {
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}
.subheading {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.product-label {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    
}
#icon{
    background-color: #E4E7EB;
    border-radius: 100px;
    border: none;
}
#icon i{
    color: #00529B;
}
.subheading2{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
