<div class="mx-4 my-3">
  <div class="me-4" *ngIf="!isPreviewMode">
    <app-dynamic-breadcrumb [breadCrumbItems]="entityBreadCrumbItems">
    </app-dynamic-breadcrumb>
  </div>
  <div class="card mb-3">
    <div class="my-4">
      <div id="upload-section">
        <form [formGroup]="uploadForm">
          <div class="row">
            <h5 class="mb-4 ms-md-5 text-primary">{{ subModules[0]?.label[language] | titlecase }}</h5>
            <ng-container *ngFor="let field of uploadGroupSections?.selects;">
              <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                <div class="mb-3 pe-md-5 ms-md-5 me-md-5">
                  <ng-container *ngIf="field.type === 'select'">
                    <ng-container *ngIf="field.fieldId">
                      <label class="form-label" [for]="field.fieldId">
                        {{ field.label?.[language] | titlecase }}
                        <span *ngIf="field.mandatory" class="text-danger">*</span>
                      </label>
                      <select
                        [formControlName]="field.fieldId"
                        [id]="field.fieldId"
                        class="form-select"
                        aria-label="Default select example"
                        (change)="processSelectOption($event, field.fieldId)"
                        (click)="fetchSelectOptions('', field.fieldId)"
                      >
                        <option value="">- Select {{ field.label?.[language] | titlecase }} -</option>
                        <option *ngFor="let option of (!isPreviewMode ? field.options : [])" [value]="option">
                          {{ option | titlecase }}
                        </option>
                      </select>
                    </ng-container>
                    <!--<ng-container *ngIf="field.fieldId ==='organizationType' && isCategorySelected ">
                      <label class="form-label" [for]="field.fieldId">
                        {{ field.label?.[language] | titlecase }}
                        <span *ngIf="field.mandatory" class="text-danger">*</span>
                      </label>
                      <select
                        [formControlName]="field.fieldId"
                        [id]="field.fieldId"
                        class="form-select"
                        aria-label="Default select example"
                        (change)="processSelectOption($event, field.fieldId)"
                        (click)="fetchSelectOptions('', field.fieldId)"
                      >
                        <option value="">- Select {{ field.label?.[language] | titlecase }} -</option>
                        <option *ngFor="let option of (!isPreviewMode ? field.options : [])" [value]="option">
                          {{ option | titlecase }}
                        </option>
                      </select>
                    </ng-container>-->
                  </ng-container>
                </div>
              </div>
            </ng-container>

            <!--profile photo-->
            <ng-container *ngIf="uploadGroupSections?.photo?.length > 0 && shouldUploadProfilePhoto">
              <div *ngFor="let photo of uploadGroupSections.photo" class="col-sm-6">
                <div class="mb-3 pe-md-5 ms-md-5 me-md-5">
                  <div class="row" id="upload-image">
                    <div class="col-sm-12">
                      <label for="upload-image" class="form-label">{{ photo.label[language] | titlecase }}</label>
                    </div>
                    <div class="col-sm-12 text-primary">

                      <img
                        *ngIf="photoPreviewUrl !== '' && photoPreviewUrl"
                        [src]="photoPreviewUrl"
                        class="img-thumbnail"
                        alt="image preview"
                        id="profile-photo"
                        style="width: 100px; height: 100px; border-radius: 100%; margin-right: 10px"
                      >

                      <label class="btn btn-outline-primary btn-sm d-inline-flex align-items-center">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        <span *ngIf="!photoPreviewUrl">{{ ('entities.uploadImage' | translate) | titlecase }}</span>
                        <span *ngIf="photoPreviewUrl">{{ ('entities.edit' | translate)  | titlecase }}</span>
                        <input type="file" hidden (change)="onFileSelected($event, photo, 'profile')">
                      </label>
                      <span class="border-end border-primary border-3"></span> &nbsp;
                      <i class="fa-solid fa-info-circle"></i>&nbsp;
                      <span>Note:</span> png, jpeg or jpg
                    </div>
                  </div>
                  <!--<span *ngIf="photo.file?.name">{{ photo.file?.name }}</span>-->
                </div>
              </div>
            </ng-container>
          </div>

          <hr *ngIf="uploadGroupSections?.docs?.length > 0" class="my-3 mx-5">

          <!--client documents-->
          <div class="row" *ngIf="uploadGroupSections?.docs?.length > 0">
            <h6 class="mb-4 ms-md-5 mt-3 text-primary">{{ uploadGroupSections?.docField[0]?.label[language] | titlecase }}</h6>

            <ng-container *ngFor="let doc of uploadGroupSections?.docs">
              <div class="col-sm-6">
                <div class="row ms-md-5">
                  <div class="col-sm-4 col-6">
                    <p class="text-muted">{{ doc.requiredDocumentName | titlecase }}</p>
                  </div>
                  <div class="col-sm-8 mb-4 col-6">
                    <label
                      class="btn btn-primary btn-sm d-inline-flex align-items-center"
                      [ngClass]="{ 'disabled': !!doc.file }"
                      [style.pointerEvents]="!!doc.file ? 'none' : 'auto'"
                    >
                      Choose file
                      <input type="file" hidden (change)="onFileSelected($event, doc, 'doc')" [disabled]="!!doc.file">
                    </label>
                    <span *ngIf="doc.file?.name">
                      {{ doc.file?.name }}
                      <button id="deleteDocBtn" type="button" class="btn text-danger fs-4 border-0 bg-transparent" (click)="deleteDocument(doc)">&times;</button>
                    </span>
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="col-sm-6 offset-sm-6">
              <div class="row">
                <div class="col-sm-4 offset-sm-8">
                  <button class="btn btn-primary" (click)="uploadDocForScanning()" [disabled]="isReadingDocuments">
                    <div *ngIf="isReadingDocuments" class="spinner-border text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                    {{ isReadingDocuments ? 'scanning docs...' : 'Autofill' }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!--<form [formGroup]="entityForm">

    <ng-container *ngIf="isPatchingFormValues" >
      <div class="lead text-center alert alert-primary">
        {{'entities.populatedByDocument' | translate}}
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-container>

    <ng-container *ngFor="let group of formGroupSections" [formGroupName]="group.groupId">
      <div class="card mb-3">
        <div class="m-3 text-muted">

          <div class="row">
            <div class="col-sm-10">
              <h5 class="mb-4 ms-md-5 text-primary">
                {{ group.order }}.
                {{ group.label?.[language] | titlecase }}
              </h5>
            </div>
            <div class="col-sm-2 text-end">
                <span class="p-2 me-5 caret" (click)="toggleCollapse(group.groupId)">
                  <i class="fa fa-caret-down text-primary"></i>
                </span>
            </div>
          </div>

          <div [id]="group.groupId" class="collapse-container" [class.expanded]="isCollapsed(group.groupId)">

            &lt;!&ndash;<ng-container *ngIf="
              group?.subGroup[0]?.subGroupId === 'cnt_corporate_banking_information' ||
              group?.subGroup[0]?.subGroupId=== 'cnt_corporate_company_contacts' ||
              group?.subGroup[1]?.subGroupId === 'cnt_corporate_head_office_address'"
            >
              <h5 class="text-dark mb-3 pe-md-5 me-md-4 ms-md-5">
                {{ (group?.subGroup[1]?.subGroupId === 'cnt_corporate_head_office_address'
                  ? group?.subGroup[1]?.label?.[language]
                  : group?.subGroup[0]?.label?.[language]) | titlecase }}
              </h5>
            </ng-container>&ndash;&gt;
            <ng-container *ngIf="getSubGroupHeader(group) as header">
              <h5 class="text-dark mb-3 pe-md-5 me-md-4 ms-md-5">
                {{ header | titlecase }}
              </h5>
            </ng-container>

            <div class="row">
              &lt;!&ndash;form-inputs&ndash;&gt;
              <ng-container *ngFor="let field of group.fields; let i = index">
                <div class="col-sm-4 col-12 mb-3">
                  <div class="mb-3 pe-md-5 me-md-4 ms-md-5">

                    &lt;!&ndash; Text / Email / Tel / etc &ndash;&gt;
                    <ng-container *ngIf="field.type === 'text' || field.type === 'email' || field.type==='tel'">
                      <ng-container *ngIf="!['idNumber', 'smsNumber', 'telNumber'].includes(field.fieldId)">
                        <label class="form-label" [for]="field.fieldId">
                          {{ field.label?.[language] | titlecase }}
                          <span *ngIf="field.mandatory" class="text-danger">*</span>
                        </label>
                        <input
                          [type]="field.type"
                          [formControlName]="field.fieldId"
                          [placeholder]="field?.placeholder[language] || ''"
                          [id]="field.fieldId"
                          class="form-control"
                          [class.is-invalid]="entityForm.get(field.fieldId)?.invalid && entityForm.get(field.fieldId)?.touched"
                          (keyup)="validateRegex(field, group.groupId)"
                        />
                        <span class="text-danger" *ngIf="regexErrorMessages[field.fieldId]?.showErrorMessage">
                          {{ regexErrorMessages[field.fieldId]?.errorMessage }}
                        </span>
                      </ng-container>
                      <ng-container *ngIf="field.fieldId==='idNumber'">
                        <label class="form-label" [for]="field.fieldId">
                          {{ field.dynamicLabel.mapping[idType][language] | titlecase }}
                          <span *ngIf="field.mandatory" class="text-danger">*</span>
                        </label>
                        <input
                          [type]="field.type"
                          [formControlName]="field.fieldId"
                          [placeholder]="field.dynamicLabel.mapping[idType][language] || ''"
                          [id]="field.fieldId"
                          class="form-control"
                          [class.is-invalid]="entityForm.get(field.fieldId)?.invalid && entityForm.get(field.fieldId)?.touched"
                          (keyup)="validateRegex(field, group.groupId)"
                        />
                        <span class="text-danger" *ngIf="regexErrorMessages[field.fieldId]?.showErrorMessage">
                          {{ regexErrorMessages[field.fieldId]?.errorMessage }}
                        </span>
                      </ng-container>
                      <ng-container *ngIf="['smsNumber', 'telNumber'].includes(field.fieldId)">
                        <label class="form-label" [for]="field.fieldId">
                          {{ field.label?.[language] | titlecase }}
                          <span *ngIf="field.mandatory" class="text-danger">*</span>
                        </label>
                        <ngx-intl-tel-input
                          [cssClass]="'form-control form-control-md mb-1'"
                          [id]="field.fieldId"
                          [preferredCountries]=""
                          [enableAutoCountrySelect]="true"
                          [enablePlaceholder]="true"
                          [customPlaceholder]="field.placeholder[language] || ''"
                          [searchCountryFlag]="true"
                          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                          [selectFirstCountry]="false"
                          [selectedCountryISO]="CountryISO.Nigeria"
                          [phoneValidation]="true"
                          [separateDialCode]="true"
                          [numberFormat]="PhoneNumberFormat.National"
                          [formControlName]="field.fieldId"
                          [class.is-invalid]="entityForm.get(field.fieldId)?.invalid && entityForm.get(field.fieldId)?.touched"
                          [style]="{ width: '100%' }">
                        </ngx-intl-tel-input>
                        <span class="text-danger" *ngIf="regexErrorMessages[field.fieldId]?.showErrorMessage">
                          {{ regexErrorMessages[field.fieldId]?.errorMessage }}
                        </span>
                      </ng-container>
                    </ng-container>

                    &lt;!&ndash; Textarea &ndash;&gt;
                    <ng-container *ngIf="field.type === 'textarea'">
                      <label class="form-label" [for]="field.fieldId">
                        {{ field.label?.[language] | titlecase }}
                        <span *ngIf="field.mandatory" class="text-danger">*</span>
                      </label>
                      <textarea
                        [formControlName]="field.fieldId"
                        [placeholder]="field.placeholder[language] || ''"
                        [id]="field.fieldId"
                        class="form-control"
                        [class.is-invalid]="entityForm.get(field.fieldId)?.invalid && entityForm.get(field.fieldId)?.touched"
                      ></textarea>
                      <span class="text-danger" *ngIf="regexErrorMessages[field.fieldId]?.showErrorMessage">
                        {{ regexErrorMessages[field.fieldId]?.errorMessage }}
                      </span>
                    </ng-container>

                    &lt;!&ndash;Date&ndash;&gt;
                    <ng-container *ngIf="field.type === 'date'">
                      <label class="form-label" [for]="field.fieldId">
                        {{ field.label?.[language] | titlecase }}
                        <span *ngIf="field.mandatory" class="text-danger">*</span>
                      </label>
                      <input
                        type="date"
                        [formControlName]="field.fieldId"
                        [placeholder]="field.placeholder[language] || ''"
                        [id]="field.fieldId"
                        class="form-control"
                        [class.is-invalid]="entityForm.get(field.fieldId)?.invalid && entityForm.get(field.fieldId)?.touched"
                      />
                      <span class="text-danger" *ngIf="regexErrorMessages[field.fieldId]?.showErrorMessage">
                        {{ regexErrorMessages[field.fieldId]?.errorMessage }}
                      </span>
                    </ng-container>


                    &lt;!&ndash; Number &ndash;&gt;
                    <ng-container *ngIf="field.type === 'number'">
                      <label class="form-label" [for]="field.fieldId">
                        {{ field.label?.[language] | titlecase }}
                        <span *ngIf="field.mandatory" class="text-danger">*</span>
                      </label>
                      <input
                        type="number"
                        [formControlName]="field.fieldId"
                        [placeholder]="field?.placeholder[language] || ''"
                        [id]="field.fieldId"
                        class="form-control"
                        [class.is-invalid]="entityForm.get(field.fieldId)?.invalid && entityForm.get(field.fieldId)?.touched"
                      />
                      <span class="text-danger" *ngIf="regexErrorMessages[field.fieldId]?.showErrorMessage">
                        {{ regexErrorMessages[field.fieldId]?.errorMessage }}
                      </span>
                    </ng-container>


                    &lt;!&ndash; Select &ndash;&gt;
                    <ng-container *ngIf="field.type === 'select'">
                      <label class="form-label" [for]="field.fieldId">
                        {{ field.label?.[language] | titlecase }}
                        <span *ngIf="field.mandatory" class="text-danger">*</span>
                      </label>
                      <select
                        [formControlName]="field.fieldId"
                        [id]="field.fieldId"
                        class="form-select"
                        aria-label="Default select example"
                        (change)="processSelectOption($event, field.fieldId)"
                        (click)="fetchSelectOptions(field.formGroupingId, field.fieldId)"
                        [class.is-invalid]="entityForm.get(field.fieldId)?.invalid && entityForm.get(field.fieldId)?.touched"
                      >
                        <option value="">-&#45;&#45;select {{ field.label?.[language] }}-&#45;&#45;</option>
                        <option *ngFor="let option of (!isPreviewMode ? field.options : [])" [value]="option">
                          {{ option }}
                        </option>
                      </select>
                      <span class="text-danger" *ngIf="regexErrorMessages[field.fieldId]?.showErrorMessage">
                        {{ regexErrorMessages[field.fieldId]?.errorMessage }}
                      </span>
                    </ng-container>


                    &lt;!&ndash; radio &ndash;&gt;
                    <ng-container *ngIf="field.type === 'radio'">
                      <label class="form-label" [for]="field.fieldId">
                        {{ field.label?.[language] | titlecase }}
                        <span *ngIf="field.mandatory" class="text-danger">*</span>
                      </label>
                      <div class="form-check" [id]="field.fieldId">
                        <div *ngFor="let option of (!isPreviewMode ? field.options : [])">
                          <input
                            class="form-check-input"
                            type="radio"
                            [value]="option"
                            [formControlName]="field.fieldId"
                            [class.is-invalid]="entityForm.get(field.fieldId)?.invalid && entityForm.get(field.fieldId)?.touched">
                          <label class="form-check-label" for="field.fieldId">
                            {{ option }}
                          </label>
                        </div>
                        <span class="text-danger" *ngIf="regexErrorMessages[field.fieldId]?.showErrorMessage">
                          {{ regexErrorMessages[field.fieldId]?.errorMessage }}
                        </span>
                      </div>
                    </ng-container>


                    &lt;!&ndash; checkbox &ndash;&gt;
                    <ng-container *ngIf="field.type === 'checkbox'">
                      <label class="form-label" [for]="field.fieldId">
                        {{ field.label?.[language] | titlecase }}
                        <span *ngIf="field.mandatory" class="text-danger">*</span>
                      </label>
                      <div class="form-check">
                        <div *ngFor="let option of (!isPreviewMode ? field.options : [])">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="checkDefault"
                            [formControlName]="field.fieldId"
                            [id]="field.fieldId"
                            [class.is-invalid]="entityForm.get(field.fieldId)?.invalid && entityForm.get(field.fieldId)?.touched">
                          <label class="form-check-label" for="checkDefault">
                            {{ option }}
                          </label>
                        </div>
                        <span class="text-danger" *ngIf="regexErrorMessages[field.fieldId]?.showErrorMessage">
                          {{ regexErrorMessages[field.fieldId]?.errorMessage }}
                        </span>
                      </div>
                    </ng-container>

                    &lt;!&ndash;show validation errors&ndash;&gt;
                    <ng-container *ngIf="field.mandatory">
                      <div *ngIf="
                          entityForm.get(field.fieldId)?.touched &&
                          entityForm.get(field.fieldId)?.hasError(field.mandatory ? 'required' : '')"
                      >
                        <span class="text-danger">
                          * {{ field.label?.[language] }} is required.
                        </span>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>

            </div>

            <div *ngIf="group.groupId === 'cnt_corporate_contact_details' && category === 'corporate' && corporateContactDetailsFormField.length > 0">
              <app-dynamic-setup-table
                [tableTitle]="group.subGroup[1]?.label?.[language]"
                [addButtonText]="group.subGroup[1]?.addButtonTextLabel?.[language]"
                [emptyTableMessage]="'No record found!'"
                [formFields]="corporateContactDetailsFormField"
                [subGroupId]="'cnt_corporate_contact_person_details'"
                (saveDetailsData)="fetchSavedDetails($event)"
                [selectedAddressCountry]="selectedAddressCountry"
                [isPreviewMode]="isPreviewMode"
              ></app-dynamic-setup-table>
            </div>

            <div *ngIf="group.groupId === 'cnt_corporate_address_details' && category === 'corporate'">
              <app-dynamic-setup-table
                [tableTitle]="group.subGroup[0]?.label?.[language]"
                [addButtonText]="group.subGroup[0]?.addButtonTextLabel?.[language]"
                [emptyTableMessage]="'No record found!'"
                [formFields]="corporateAddressDetailsFormField"
                [subGroupId]="'cnt_corporate_branch_details'"
                (saveDetailsData)="fetchSavedDetails($event)"
                [selectedAddressCountry]="selectedAddressCountry"
                [isPreviewMode]="isPreviewMode"
              ></app-dynamic-setup-table>
            </div>

            <div *ngIf="group.groupId === 'cnt_corporate_financial_details' && category === 'corporate'">
              <app-dynamic-setup-table
                [tableTitle]="group.subGroup[1]?.label?.[language]"
                [addButtonText]="group.subGroup[1]?.addButtonTextLabel?.[language]"
                [emptyTableMessage]="'No record found!'"
                [formFields]="corporateFinancialDetailsFormField"
                [subGroupId]="'cnt_corporate_payee_details'"
                (saveDetailsData)="fetchSavedDetails($event)"
                [selectedAddressCountry]="selectedAddressCountry"
                [isPreviewMode]="isPreviewMode"
              ></app-dynamic-setup-table>
            </div>

            <div *ngIf="group.groupId === 'cnt_individual_wealth_aml_details'">
              <app-dynamic-setup-table
                [tableTitle]="group.subGroup[0]?.label?.[language]"
                [addButtonText]="group.subGroup[0]?.addButtonTextLabel?.[language]"
                [emptyTableMessage]="'No record found!'"
                [formFields]="wealthAmlFormFields"
                [subGroupId]="'cnt_individual_aml_details'"
                (saveDetailsData)="fetchSavedDetails($event)"
                [isPreviewMode]="isPreviewMode"
              ></app-dynamic-setup-table>
            </div>

            <div *ngIf="group.groupId === 'cnt_corporate_wealth_aml_details' && category === 'corporate'">
              <app-dynamic-setup-table
                [tableTitle]="group.subGroup[0]?.label?.[language]"
                [addButtonText]="group.subGroup[0]?.addButtonTextLabel?.[language]"
                [emptyTableMessage]="'No record found!'"
                [formFields]="corporateWealthAmlFormFieldsDetailsFormField"
                [subGroupId]="'cnt_corporate_aml_details'"
                (saveDetailsData)="fetchSavedDetails($event)"
                [selectedAddressCountry]="selectedAddressCountry"
                [isPreviewMode]="isPreviewMode"
              ></app-dynamic-setup-table>
            </div>

            <div *ngIf="group.groupId === 'cnt_corporate_wealth_aml_details' && category === 'corporate'">
              <app-dynamic-setup-table
                [tableTitle]="group.subGroup[1]?.label?.[language]"
                [addButtonText]="group.subGroup[1]?.addButtonTextLabel?.[language]"
                [emptyTableMessage]="'No record found!'"
                [formFields]="corporateWealthCR12DetailsFormField"
                [subGroupId]="'cnt_corporate_cr12_details'"
                (saveDetailsData)="fetchSavedDetails($event)"
                [selectedAddressCountry]="selectedAddressCountry"
                [isPreviewMode]="isPreviewMode"
              ></app-dynamic-setup-table>
            </div>

            <div *ngIf="group.groupId === 'cnt_corporate_wealth_aml_details' && category === 'corporate'">
              <app-dynamic-setup-table
                [tableTitle]="group.subGroup[2]?.label?.[language]"
                [addButtonText]="group.subGroup[2]?.addButtonTextLabel?.[language]"
                [emptyTableMessage]="'No record found!'"
                [formFields]="corporateWealthOwnershipDetailsFormField"
                [subGroupId]="'cnt_corporate_ownership_details'"
                (saveDetailsData)="fetchSavedDetails($event)"
                [selectedAddressCountry]="selectedAddressCountry"
                [isPreviewMode]="isPreviewMode"
              ></app-dynamic-setup-table>
            </div>

            <div *ngIf="group.groupId === 'cnt_corporate_privacy_policy' || group.groupId === 'cnt_individual_privacy_policy'">
              <app-privacy-policy
                [otpFormFields]="privacyPolicyFormFields"
                [verifyButtonText]="group.subGroup[0]?.addButtonTextLabel?.[language]"
              ></app-privacy-policy>
            </div>

          </div>
        </div>
      </div>
    </ng-container>

  </form>-->

  <form [formGroup]="entityForm">
    <ng-container *ngIf="isPatchingFormValues" >
      <div class="lead text-center alert alert-primary">
        {{'entities.populatedByDocument' | translate}}
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngFor="let group of formGroupSections" [formGroupName]="group.groupId">
      <div class="card mb-3">
        <div class="my-4 text-muted">
          <div class="row">
            <div class="col-sm-10">
              <h5 class="mb-4 ms-md-5 text-primary">
                {{ group.label?.[language] | titlecase }}
              </h5>
            </div>
            <div class="col-sm-2 text-end">
          <span class="p-2 me-5 caret" (click)="toggleCollapse(group.groupId)">
            <i class="fa fa-caret-down text-primary"></i>
          </span>
            </div>
          </div>

          <div [id]="group.groupId" class="collapse-container" [class.expanded]="isCollapsed(group.groupId)">

            <!-- If group has subGroups, render them -->
            <ng-container *ngIf="group.subGroup?.length > 0; else noSubGroup">
              <ng-container *ngFor="let subGroup of group.subGroup">
                <!-- Subgroup header (if any) -->
                <ng-container *ngIf="subGroup.label && (subGroup.presentationType || group.presentationType) === PresentationType.fields && group.presentationType !== privacyPolicyPresentationType">
                  <h5 class="text-dark mb-3 pe-md-5 me-md-4 ms-md-5">
                    {{ subGroup.label?.[language] | titlecase }}
                  </h5>
                </ng-container>

                <!-- Inline fields for subGroup (presentationType precedence: subGroup -> group) -->
                <div *ngIf="(subGroup.presentationType || group.presentationType) === PresentationType.fields && group.presentationType !== privacyPolicyPresentationType">
                  <div class="row">
                    <ng-container *ngFor="let field of (subGroup.fields || [])">
                      <div class="col-sm-12 col-md-6 col-lg-4 mb-3" *ngIf="field.isVisible !== false">
                        <div class="mb-3 pe-md-5 me-md-4 ms-md-5">
                          <ng-container
                            *ngTemplateOutlet="renderFields; context: {field: field, groupId: group.groupId, groupForm: entityForm.get(group.groupId)}">
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>

                <!-- Table columns for this subgroup -->
                <div *ngIf="(subGroup.presentationType || group.presentationType) === PresentationType.fields_and_table_columns">
                  <app-dynamic-setup-table
                    [tableTitle]="group?.subGroup?.length == 1 ? '' : subGroup.label?.[language]"
                    [addButtonText]="subGroup.addButtonTextLabel?.[language]"
                    [formFields]="subGroup.fields"
                    [subGroupId]="subGroup.subGroupId"
                    (saveDetailsData)="fetchSavedDetails($event)"
                    [selectedAddressCountry]="selectedAddressCountry"
                    [isPreviewMode]="isPreviewMode"
                  ></app-dynamic-setup-table>
                </div>

                <div *ngIf="group.presentationType === privacyPolicyPresentationType">
                  <app-privacy-policy
                    [otpFormFields]="subGroup.fields"
                    [verifyButtonText]="subGroup?.addButtonTextLabel?.[language]"
                  ></app-privacy-policy>
                </div>

              </ng-container>
            </ng-container>

            <!-- No subGroups: fallback to group.fields or group-level table -->
            <ng-template #noSubGroup>
              <div *ngIf="(group.presentationType || 'fields') === PresentationType.fields">
                <div class="row">
                  <ng-container *ngFor="let field of (group.fields || [])">
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-3" *ngIf="field.isVisible !== false">
                      <div class="mb-3 pe-md-5 me-md-4 ms-md-5">
                        <ng-container
                          *ngTemplateOutlet="renderFields; context: {field: field, groupId: group.groupId, groupForm: entityForm.get(group.groupId)}">
                        </ng-container>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>

              <div *ngIf="(group.presentationType || 'fields') === PresentationType.fields_and_table_columns">
                <app-dynamic-setup-table
                  [tableTitle]="group.label?.[language]"
                  [addButtonText]="group.addButtonTextLabel?.[language]"
                  [formFields]="group.fields"
                  [subGroupId]="group.groupId"
                  (saveDetailsData)="fetchSavedDetails($event)"
                  [selectedAddressCountry]="selectedAddressCountry"
                  [isPreviewMode]="isPreviewMode"
                  [emptyTableMessage]="'No record found!'"
                ></app-dynamic-setup-table>
              </div>
            </ng-template>

          </div>
        </div>
      </div>
    </ng-container>
  </form>


  <!--buttons-->
  <div *ngIf="!isPreviewMode">
    <div class="row">
      <div class="col-sm-8"></div>
      <div class="col-sm-4 my-4 text-end">
        <button class="btn btn-outline-primary btn-sm me-2">
          {{ 'crm.sendToClient' | translate }}
        </button>

        <button class="btn btn-primary btn-sm" id="saveDetailsBtn" (click)="saveDetails()">
          {{ 'crm.saveDetails' | translate }}
        </button>
      </div>
    </div>
  </div>


</div>
<ng-template #renderFields let-field="field" let-groupId="groupId" let-groupForm="groupForm">
  <div  [formGroup]="groupForm" *ngIf="groupForm">
    <ng-container *ngIf="field.type === FieldType.text || field.type === FieldType.email">
      <label class="form-label" [for]="field.fieldId">
        {{ getDynamicLabel(field, language) | titlecase }}
        <span *ngIf="field.mandatory" class="text-danger">*</span>
      </label>

      <!-- special handling for idNumber-like fields preserved if present -->
      <input
        [type]="field.type"
        [formControlName]="field.fieldId"
        [placeholder]="field.placeholder?.[language] || ''"
        [id]="field.fieldId"
        class="form-control"
        [class.is-invalid]="groupForm.get(field.fieldId)?.invalid && groupForm.get(field.fieldId)?.touched"

      />
    </ng-container>

    <!--TEL-->
    <ng-container *ngIf="field.type === FieldType.tel">
      <label class="form-label" [for]="field.fieldId">
        {{ field.label?.[language] | titlecase }}
        <span *ngIf="field.mandatory" class="text-danger">*</span>
      </label>
      <ngx-intl-tel-input
        [cssClass]="'form-control form-control-md mb-1'"
        [id]="field.fieldId"
        [preferredCountries]=""
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="true"
        [customPlaceholder]="field.placeholder[language] || ''"
        [searchCountryFlag]="true"
        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="countryISO"
        [phoneValidation]="true"
        [separateDialCode]="true"
        [numberFormat]="PhoneNumberFormat.National"
        [formControlName]="field.fieldId"
        [class.is-invalid]="groupForm.get(field.fieldId)?.invalid && groupForm.get(field.fieldId)?.touched"
        [style]="{ width: '100%' }">
      </ngx-intl-tel-input>
    </ng-container>

    <!-- TEXTAREA -->
    <ng-container *ngIf="field.type === FieldType.textarea">
      <label class="form-label">
        {{ field.label?.[language] | titlecase }}
        <span *ngIf="field.mandatory" class="text-danger">*</span>
      </label>
      <textarea
        [formControlName]="field.fieldId"
        class="form-control"
        [class.is-invalid]="groupForm.get(field.fieldId)?.invalid && groupForm.get(field.fieldId)?.touched"
        [placeholder]="field.placeholder?.[language] || ''">
      </textarea>
    </ng-container>

    <!-- DATE -->
    <ng-container *ngIf="field.type === FieldType.date">
      <label class="form-label">
        {{ field.label?.[language] | titlecase }}
        <span *ngIf="field.mandatory" class="text-danger">*</span>
      </label>
      <input
        type="date"
        [formControlName]="field.fieldId"
        class="form-control"
        [max]="getMaxDateValidation(field)"
        [class.is-invalid]="groupForm.get(field.fieldId)?.invalid && groupForm.get(field.fieldId)?.touched"/>
    </ng-container>

    <!-- NUMBER -->
    <ng-container *ngIf="field.type === FieldType.number">
      <label class="form-label">
        {{ field.label?.[language] | titlecase }}
        <span *ngIf="field.mandatory" class="text-danger">*</span>
      </label>
      <input
        type="number"
        [formControlName]="field.fieldId"
        class="form-control"
        [class.is-invalid]="groupForm.get(field.fieldId)?.invalid && groupForm.get(field.fieldId)?.touched"/>
    </ng-container>

    <!-- SELECT -->
    <ng-container *ngIf="field.type === FieldType.select">
      <label class="form-label">
        {{ field.label?.[language] | titlecase }}
        <span *ngIf="field.mandatory" class="text-danger">*</span>
      </label>
      <select
        class="form-select"
        [class.is-invalid]="groupForm.get(field.fieldId)?.invalid && groupForm.get(field.fieldId)?.touched"
        [formControlName]="field.fieldId"
        (change)="processSelectOption($event, field.fieldId)"
        (click)="fetchSelectOptions(groupId, field.fieldId)"
      >
        <option [ngValue]="null">{{ field.placeholder[language] || '' }}</option>
        <option *ngFor="let option of (!isPreviewMode ? field.options : [])" [ngValue]="option">
          {{ option.label ? option.label : option | titlecase }}
        </option>
      </select>
    </ng-container>

    <!-- RADIO -->
    <ng-container *ngIf="field.type === FieldType.radio">
      <label class="form-label">
        {{ field.label?.[language] | titlecase }}
        <span *ngIf="field.mandatory" class="text-danger">*</span>
      </label>
      <div class="form-check" [id]="field.fieldId">
        <div *ngFor="let option of (!isPreviewMode ? field.options : [])">
          <input
            class="form-check-input"
            type="radio"
            [value]="option"
            [formControlName]="field.fieldId">
          <label class="form-check-label">
            {{ option }}
          </label>
        </div>
      </div>
    </ng-container>

    <!-- CHECKBOX -->
    <ng-container *ngIf="field.type === FieldType.checkbox">
      <label class="form-label">{{ field.label?.[language] | titlecase }}
        <span *ngIf="field.mandatory" class="text-danger">*</span>
      </label>
      <div class="form-check">
        <div *ngFor="let option of (!isPreviewMode ? field.options : [])">
          <input
            class="form-check-input"
            type="checkbox"
            [formControlName]="field.fieldId"
            id="{{field.fieldId}}">
          <label class="form-check-label">{{ option }}</label>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="field.type === FieldType.table_select">
      <label class="form-label">{{ field.label?.[language] | titlecase }}
        <span *ngIf="field.mandatory" class="text-danger">*</span>
      </label>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          [formControlName]="field.fieldId"
          id="{{ field.fieldId }}"
          value="{{ selectedTableRecord?.accountName }}"
          [placeholder]="field.placeholder?.[language] || ''"
          readonly
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          id="button-addon"
          style="border-color: #dee2e6; border-left: none;"
          (click)="openTableSelectModal(field.label?.[language])"
          [disabled]="isPreviewMode || field.disabled"
        >
          <i class="fa-solid fa-angle-double-down"></i>
        </button>
      </div>
    </ng-container>

    <!-- Validation: required -->
    <ng-container *ngIf="field.mandatory">
      <span class="text-danger" *ngIf="getValidationMessage(field, language)">
        {{ getValidationMessage(field, language) }}
      </span>
    </ng-container>
  </div>

</ng-template>

<!--Multi select modal-->
<div
  class="modal fade"
  #tableSelectModal
  id="tableSelectModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog modal-lg modal-dialog-centered align-items-center">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-primary" id="exampleModalLabel"> {{ tableSelectFieldId | titlecase }} </h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeTableSelectModal()"
        ></button>
      </div>
      <div class="modal-body">
        <p-table
          #dt2
          [paginator]="true"
          [rows]="pageSize || 10"
          [totalRecords]="filteredGlAccounts.length"
          [value]="filteredGlAccounts"
          [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
          responsiveLayout="stack"
          scrollHeight="400px"
          [scrollable]="true"
          [resizableColumns]="true"
          selectionMode="single"
          [(selection)]="selectedTableRecord"
          [globalFilterFields]="['label']"
          (onRowSelect)="onTableDetailsSelect($event)"
          (onLazyLoad)="lazyLoadGlAccount($event)"
          [lazy]="true"
        >

          <ng-template pTemplate="header">
            <tr>
              <ng-container *ngFor="let col of columns">
                <th *ngIf="col.visible"
                    [pSortableColumn]="col.field">
                  {{ col.header | titlecase }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </ng-container>
            </tr>
            <tr>
              <th>
                <input
                  type="text"
                  class="form-control w-75"
                  (keyup.enter)="filter()"
                  (input)="inputAccountNumber($event)"
                />
              </th>
              <th>
                <input
                  type="text"
                  class="form-control w-75"
                  (keyup.enter)="filter()"
                  (input)="inputAccountName($event)"
                />
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData">
              <ng-container *ngFor="let col of columns">
                <td>{{ rowData[col.field] }}</td>
              </ng-container>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="columns?.length + 1" class="text-center">
                {{'crm.noRecordsFound' | translate}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
