deleteDocBtn {
  padding: 0.2rem
}

#deleteDocBtn:hover {
  background: red!important;
  color: white!important;
  transition: 500ms;
}

.collapse-container {
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.collapse-container.expanded {
  height: auto; /* overridden via JavaScript or max-height technique */
  opacity: 1;
}

.caret {
  background: #f5f6f8;
  border-radius: 50%
}
