<div class="mx-4 my-3">
  <div class="me-4">
    <app-dynamic-breadcrumb [breadCrumbItems]="entityBreadCrumbItems">
    </app-dynamic-breadcrumb>
  </div>

  <div class="card mb-3">
    <div class="m-3">
      <div id="upload-section">
        <form [formGroup]="uploadForm">
          <div class="row">
            <h6 class="mb-4 ms-md-5 text-primary">New entity</h6>
            <ng-container *ngFor="let field of uploadGroupSections?.selects;">
              <div class="col-sm-4">
                <div class="mb-3 pe-md-5 ms-md-5 me-md-5">

                  <ng-container *ngIf="field.type === 'select'">
                    <label class="form-label" [for]="field.fieldId">
                      {{ field.label?.[language] | titlecase }}
                      <span *ngIf="field.isMandatory" class="text-danger">*</span>
                    </label>
                    <select
                      [formControlName]="field.fieldId"
                      [id]="field.fieldId"
                      class="form-select"
                      aria-label="Default select example"
                      (change)="processSelectOption($event, field.fieldId)"
                      (click)="fetchSelectOptions('', field.fieldId)"
                    >
                      <option value="">- Select {{ field.label?.[language] | titlecase }} -</option>
                      <option *ngFor="let option of field.options" [value]="option">
                        {{ option | titlecase }}
                      </option>
                    </select>
                  </ng-container>
                </div>
              </div>
            </ng-container>

            <div class="col-sm-4">
              <div class="mb-3 pe-md-5 ms-md-5 me-md-5">
                <div class="row" id="upload-image">
                  <div class="col-sm-12">
                    <label for="upload-image" class="form-label">Profile photo</label>
                  </div>
                  <div class="col-sm-12 text-primary">
                    <label class="btn btn-outline-primary btn-sm d-inline-flex align-items-center">
                      <i class="fa-solid fa-cloud-arrow-up"></i> &nbsp; Upload Image
                      <input type="file" hidden>
                    </label> &nbsp;
                    <span class="border-end border-primary border-3"></span> &nbsp;
                    <i class="fa-solid fa-info-circle"></i>&nbsp;
                    <span>Note:</span> png, jpeg or jpg
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr *ngIf="uploadGroupSections?.buttons?.length > 0" class="my-3 mx-3">

          <div class="row" *ngIf="uploadGroupSections?.buttons?.length > 0">
            <h6 class="mb-4 ms-md-5">Document upload</h6>
            <ng-container *ngFor="let uploadButton of uploadGroupSections?.buttons">
              <div class="col-sm-6">
                <div class="row ms-md-5">
                  <div class="col-sm-4 col-6">
                    <p class="text-muted">{{ uploadButton.requiredDocumentName | titlecase }}</p>
                  </div>
                  <div class="col-sm-8 mb-4 col-6">
                    <label class="btn btn-primary btn-sm d-inline-flex align-items-center">
                      <!--{{ uploadButton.placeholder?.[language] }}-->
                      Choose file
                      <input type="file" hidden>
                    </label>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </form>
      </div>
    </div>
  </div>

  <form [formGroup]="entityForm">
    <ng-container *ngFor="let group of formGroupSections" [formGroupName]="group.groupId">
      <div class="card mb-3">
        <div class="m-3 text-muted">
          <div [id]="group.groupId">
            <div class="row">
              <h6 class="mb-4 ms-md-5 text-primary">
                {{ group.groupOrder }}.
                <!--{{ group?.labels?.[language] | titlecase }}-->
                {{ group.label | titlecase }}
              </h6>

              <!--form-inputs-->
              <ng-container *ngFor="let field of group.fields; let i = index">
                <div class="col-sm-4 col-12 mb-3">
                  <div class="mb-3 pe-md-5 me-md-4 ms-md-5">

                    <!-- Text / Email / Tel / etc -->
                    <ng-container *ngIf="field.type === 'text' || field.type === 'email' || field.type==='tel'">
                      <ng-container *ngIf="!['idNumber', 'smsNumber'].includes(field.fieldId)">
                        <label class="form-label" [for]="field.fieldId">
                          {{ field.label?.[language] | titlecase }}
                          <span *ngIf="field.isMandatory" class="text-danger">*</span>
                        </label>
                        <input
                          [type]="field.type"
                          [formControlName]="field.fieldId"
                          [placeholder]="field?.placeholder[language]"
                          [id]="field.fieldId"
                          class="form-control"
                          (keyup)="validateRegex(field, group.groupId)"

                          [class.is-invalid]="getFieldControl(group.groupId, field.fieldId)?.invalid &&
                            getFieldControl(group.groupId, field.fieldId)?.touched"

                          [class.is-valid]="getFieldControl(group.groupId, field.fieldId)?.valid &&
                            getFieldControl(group.groupId, field.fieldId)?.touched"

                        />
                      </ng-container>
                      <ng-container *ngIf="field.fieldId==='idNumber'">
                        <label class="form-label" [for]="field.fieldId">
                          {{ field.dynamicLabel.mapping[idType][language] | titlecase }}
                          <span *ngIf="field.isMandatory" class="text-danger">*</span>
                        </label>
                        <input
                          [type]="field.type"
                          [formControlName]="field.fieldId"
                          [placeholder]="field.dynamicLabel.mapping[idType][language]"
                          [id]="field.fieldId"
                          class="form-control"
                          (keyup)="validateRegex(field, group.groupId)"

                          [class.is-invalid]="getFieldControl(group.groupId, field.fieldId)?.invalid && getFieldControl(group.groupId, field.fieldId)?.touched"
                          [class.is-valid]="getFieldControl(group.groupId, field.fieldId)?.valid && getFieldControl(group.groupId, field.fieldId)?.touched"
                        />
                      </ng-container>
                      <ng-container *ngIf="field.fieldId==='smsNumber'">
                        <label class="form-label" [for]="field.fieldId">
                          {{ field.label?.[language] | titlecase }}
                          <span *ngIf="field.isMandatory" class="text-danger">*</span>
                        </label>
                        <ngx-intl-tel-input
                          [cssClass]="'form-control form-control-md mb-1'"
                          id="smsNumber"
                          [preferredCountries]=""
                          [enableAutoCountrySelect]="true"
                          [enablePlaceholder]="true"
                          [searchCountryFlag]="true"
                          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                          [selectFirstCountry]="false"
                          [selectedCountryISO]="CountryISO.Nigeria"
                          [phoneValidation]="true"
                          [separateDialCode]="true"
                          [numberFormat]="PhoneNumberFormat.National"
                          formControlName="smsNumber"
                          [style]="{ width: '100%' }">
                        </ngx-intl-tel-input>
                      </ng-container>
                      <span class="text-danger" *ngIf="regexErrorMessages[field.fieldId]?.showErrorMessage">
                          * {{ regexErrorMessages[field.fieldId]?.errorMessage }}
                        </span>
                    </ng-container>

                    <!-- Textarea -->
                    <ng-container *ngIf="field.type === 'textarea'">
                      <label class="form-label" [for]="field.fieldId">
                        {{ field.label?.[language] | titlecase }}
                        <span *ngIf="field.isMandatory" class="text-danger">*</span>
                      </label>
                      <textarea
                        [formControlName]="field.fieldId"
                        [placeholder]="field.placeholder"
                        [id]="field.fieldId"
                        class="form-control"
                        [class.is-invalid]="entityForm.get(field.fieldId)?.invalid && entityForm.get(field.fieldId)?.touched"
                        [class.is-valid]="entityForm.get(field.fieldId)?.valid && entityForm.get(field.fieldId)?.touched"
                      ></textarea>
                    </ng-container>

                    <!--Date-->
                    <ng-container *ngIf="field.type === 'date'">
                      <label class="form-label" [for]="field.fieldId">
                        {{ field.label?.[language] | titlecase }}
                        <span *ngIf="field.isMandatory" class="text-danger">*</span>
                      </label>
                      <input
                        type="date"
                        [formControlName]="field.fieldId"
                        [placeholder]="field.placeholder"
                        [id]="field.fieldId"
                        class="form-control"
                        [class.is-invalid]="entityForm.get(field.fieldId)?.invalid && entityForm.get(field.fieldId)?.touched"
                        [class.is-valid]="entityForm.get(field.fieldId)?.valid && entityForm.get(field.fieldId)?.touched"
                      />
                    </ng-container>


                    <!-- Number -->
                    <ng-container *ngIf="field.type === 'number'">
                      <label class="form-label" [for]="field.fieldId">
                        {{ field.label?.[language] | titlecase }}
                        <span *ngIf="field.isMandatory" class="text-danger">*</span>
                      </label>
                      <input
                        type="number"
                        [formControlName]="field.fieldId"
                        [placeholder]="field?.placeholder[language]"
                        [id]="field.fieldId"
                        class="form-control"
                        [class.is-invalid]="entityForm.get(field.fieldId)?.invalid && entityForm.get(field.fieldId)?.touched"
                        [class.is-valid]="entityForm.get(field.fieldId)?.valid && entityForm.get(field.fieldId)?.touched"
                      />
                    </ng-container>


                    <!-- Select -->
                    <ng-container *ngIf="field.type === 'select'">
                      <label class="form-label" [for]="field.fieldId">
                        {{ field.label?.[language] | titlecase }}
                        <span *ngIf="field.isMandatory" class="text-danger">*</span>
                      </label>
                      <select
                        [formControlName]="field.fieldId"
                        [id]="field.fieldId"
                        class="form-select"
                        aria-label="Default select example"
                        (change)="processSelectOption($event, field.fieldId)"
                        (click)="fetchSelectOptions(field.groupId, field.fieldId)"
                        [class.is-invalid]="entityForm.get(field.fieldId)?.invalid && entityForm.get(field.fieldId)?.touched"
                        [class.is-valid]="entityForm.get(field.fieldId)?.valid && entityForm.get(field.fieldId)?.touched"
                      >
                        <option value="">---select {{ field.label?.[language] | lowercase }}---</option>
                        <option *ngFor="let option of field.options" [value]="option">
                          {{ option }}
                        </option>
                      </select>
                    </ng-container>


                    <!-- radio -->
                    <ng-container>
                      <div class="form-check" *ngIf="field.type === 'radio'" [id]="field.fieldId">
                        <label  class="form-check-label" *ngFor="let option of field.options">
                          <span *ngIf="field.isMandatory" class="text-danger">*</span>
                          <input
                            class="form-check-input"
                            type="radio"
                            [value]="option"
                            [formControlName]="field.fieldId"
                            [class.is-invalid]="entityForm.get(field.fieldId)?.invalid && entityForm.get(field.fieldId)?.touched"
                            [class.is-valid]="entityForm.get(field.fieldId)?.valid && entityForm.get(field.fieldId)?.touched"
                          >
                          {{ option }}
                        </label>
                      </div>
                    </ng-container>


                    <!-- checkbox -->
                    <ng-container>
                      <div class="form-check" *ngIf="field.type === 'checkbox'">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="checkDefault"
                          [formControlName]="field.fieldId"
                          [id]="field.fieldId"
                          [class.is-invalid]="entityForm.get(field.fieldId)?.invalid && entityForm.get(field.fieldId)?.touched"
                          [class.is-valid]="entityForm.get(field.fieldId)?.valid && entityForm.get(field.fieldId)?.touched"
                        >
                        <label class="form-label" [for]="field.fieldId" *ngIf="field.type !== 'checkbox'">
                          {{ field.label?.[language] | titlecase }}
                          <span *ngIf="field.isMandatory" class="text-danger">*</span>
                        </label>
                        <!--<label class="form-check-label" for="checkDefault">
                        </label>-->
                      </div>
                    </ng-container>

                    <!--show validation errors-->
                    <ng-container *ngIf="field.isMandatory">
                      <div *ngIf="
                          entityForm.get(field.fieldId)?.touched &&
                          entityForm.get(field.fieldId)?.hasError(field.isMandatory ? 'required' : '')"
                      >
                        <span class="text-danger">
                          * {{ field.label?.[language] }} is required.
                        </span>
                      </div>
                    </ng-container>

                  </div>
                </div>
              </ng-container>

            </div>
            <!--{{ group | json}}-->
            <div *ngIf="group.groupId === 'wealth_aml_details'">
              <app-dynamic-setup-table
                [tableTitle]="group.subGroup[0]?.label"
                [addButtonText]="group.subGroup[0]?.addButtonText[language]"
                [emptyTableMessage]="'No record found!'"
                [formFields]="wealthAmlFormFields"
                [subGroupId]="'wealth_aml_details'"
              ></app-dynamic-setup-table>
            </div>

            <div *ngIf="group.groupId === 'contact_details' && category === 'corporate'">
              <app-dynamic-setup-table
                [tableTitle]="group.subGroup[1]?.label"
                [addButtonText]="group.subGroup[1]?.addButtonText[language]"
                [emptyTableMessage]="'No record found!'"
                [formFields]="corporateContactDetailsFormField"
                [subGroupId]="'contactPersonDetails'"
              ></app-dynamic-setup-table>
            </div>

            <div *ngIf="group.groupId === 'addressDetails' && category === 'corporate'">
              <app-dynamic-setup-table
                [tableTitle]="group.subGroup[1]?.label"
                [addButtonText]="group.subGroup[1]?.addButtonText[language]"
                [emptyTableMessage]="'No record found!'"
                [formFields]="corporateAddressDetailsFormField"
                [subGroupId]="'branchDetails'"
              ></app-dynamic-setup-table>
            </div>

            <div *ngIf="group.groupId === 'financialDetails' && category === 'corporate'">
              <app-dynamic-setup-table
                [tableTitle]="group.subGroup[1]?.label"
                [addButtonText]="group.subGroup[1]?.addButtonText[language]"
                [emptyTableMessage]="'No record found!'"
                [formFields]="corporateFinancialDetailsFormField"
                [subGroupId]="'payeeDetails'"
              ></app-dynamic-setup-table>
            </div>

            <div *ngIf="group.groupId === 'wealthAmlDetails' && category === 'corporate'">
              <app-dynamic-setup-table
                [tableTitle]="group.subGroup[0]?.label"
                [addButtonText]="group.subGroup[0]?.addButtonText[language]"
                [emptyTableMessage]="'No record found!'"
                [formFields]="corporateWealthAmlFormFieldsDetailsFormField"
                [subGroupId]="'amlDetails'"
              ></app-dynamic-setup-table>
            </div>

            <div *ngIf="group.groupId === 'wealthAmlDetails' && category === 'corporate'">
              <app-dynamic-setup-table
                [tableTitle]="group.subGroup[1]?.label"
                [addButtonText]="group.subGroup[1]?.addButtonText[language]"
                [emptyTableMessage]="'No record found!'"
                [formFields]="corporateWealthCR12DetailsFormField"
                [subGroupId]="'cr12Details'"
              ></app-dynamic-setup-table>
            </div>

            <div *ngIf="group.groupId === 'wealthAmlDetails' && category === 'corporate'">
              <app-dynamic-setup-table
                [tableTitle]="group.subGroup[2]?.label"
                [addButtonText]="group.subGroup[2]?.addButtonText[language]"
                [emptyTableMessage]="'No record found!'"
                [formFields]="corporateWealthOwnershipDetailsFormField"
                [subGroupId]="'ownershipDetails'"
                (saveDetailsData)="fetchSavedDetails($event)"
              ></app-dynamic-setup-table>
            </div>

            <div *ngIf="group.groupId === 'privacy_policy'">
              <app-privacy-policy [otpFormFields]="privacyPolicyFormFields"></app-privacy-policy>
            </div>

          </div>
        </div>
      </div>
    </ng-container>

  </form>


  <!--buttons-->
  <div>
    <div class="row">
      <div class="col-sm-8"></div>
      <div class="col-sm-4 my-4 text-end">
        <button class="btn btn-outline-primary btn-sm me-2">
          Send to client
        </button>

        <button class="btn btn-primary btn-sm" (click)="saveDetails()">
          Save details
        </button>
      </div>
    </div>
  </div>


</div>
