.titleMain{
    color: #000;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title{
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.title2{
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.details-label{
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.payable-premium{
    color: #000;
    /* text-align: right; */
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}
.btn-link{
    text-decoration: underline;
    color: #00529B;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#btnCoverTypes{
font-size: 14px;

}
.modal-title{
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    text-align: center;
    
} */
::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
    font-size:16px ;
    color: rgba(0, 0, 0, 0.80);
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: left;
}
::ng-deep .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
    padding:5px;
    color: rgba(0, 0, 0,);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* #shareRadio{
    color: red;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */
.cellEditorInput{
    border: 1px solid #D9D9D9;
    height: 30px;
  }
#shareLabel{
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#shareInput{
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    color:  #000;
    font-family: Roboto;
    font-size: 14px;
}
#clientName{
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    color:  #000;
    font-family: Roboto;
    font-size: 14px;
}
#sendQoute{
    border-radius: 4px;
    background: #00529B;
    width:69px
}
.bold-label {
    font-weight: 500;
    font-size: 14px;
  }
  #shareQuoteLabel{
    font-size: 14px;

  }

  