<div class="mx-4">
    <div class="row mt-4">
        <div class="col-xl-10">
            <p id="title">Classes & Subclass Setups</p>
        </div>
        <div class="col-xl-2">
            <p class="text-right" class="help"><a>Help <i class="pi pi-question-circle"></i></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4">
                            <p id="tabbed" class="activate">Setup Wizard </p>
                          </div>
                          <div class="col-xl-8" *ngFor="let data of setupWizard">
                            <p id="tabbed" routerLink="data.url">{{data.tabTitle}}</p>
                          </div> 
                    </div>

                    <div id="info" class="p-2 mt-2">
                        <p id="intro">In this quick wizard we will take you through setting up a class and a subclass.</p>
                        <p id="get-started">Get Started <span class="ml-3"><i class="pi pi-arrow-right mr-2 mt-1" style="font-size: 0.8rem;"></i></span></p>
                    </div>

                    <ul class="mt-3" *ngFor="let data of setupListItem">
                        <li><span id="num">{{data.listPosition}}</span>{{data.listLabel}}</li>
                    </ul>
<!-- 
                    <ul class="mt-4">
                        <li (click)="selectCard('2')" [class.active] = "active == false"><span id="num"><span *ngIf="active">1</span><span *ngIf="!active" style="color:#00529B"><i class="pi pi-check" style="font-size:10px;"></i></span></span>Class Setup</li>
                        <li (click)="selectCard('3')" [class.active] = "subclassDone == false"><span id="num"><span *ngIf="subclassDone">2</span><span *ngIf="!subclassDone" style="color:#00529B"><i class="pi pi-check" style="font-size:10px;"></i></span></span>Subclass Setup</li>
                        <li (click)="selectCard('4')" ><span id="num">3</span>Class Perils</li>
                        <li (click)="selectCard('5')"><span id="num">4</span>Class Excesses</li>
                    </ul> -->
                  
                      
                      <p class="float-end" id="skip" routerLink="/home/gis/classes">Skip Wizard</p>
                </div>
               
             
           
              </div>
        </div>
        <div class="col-md-8 mt-4">
            <div class="card" style="width:100%">
                <div class="card-body text-center">
                  <p id="title1">Setup Wizard</p>
                  <p id="welcome">Welcome</p>
                  <img src="assets/images/gis-setup-wizard.png">
                  <p id="more-info">In this quick wizard we will take you through setting up a class and a <br> subclass
                    .For you to get started you need to set up a class and a subclass.<br>
                     Make sure to go through it to the end.</p>
                     <button class="btn btn waves-effect waves-light mb-4" id="start">Get started<span class="ml-2"><i class="pi pi-arrow-right mr-2 mt-1" style="font-size: 0.8rem;"></i></span></button>
                     <p id="skip" routerLink="/home/gis/classes">Skip Wizard</p>
                </div>
              </div>  
        </div>
    </div>
</div>





        

