<div class="main">
    <div style="display: flex; padding-top: 1rem; justify-content: start">
        <app-dynamic-breadcrumb [breadCrumbItems]="breadCrumbItems">
        </app-dynamic-breadcrumb>
    </div>
    <div class="container">
        <div class="title"><span id="title">Pension</span></div>
        <ng-container *ngIf="pensionList && pensionList.length > 0">
            <div *ngFor="let pension of pensionList; let i = index" class="box" (click)="navigateToPensionDets(pension.policy_code, pension.policy_number)">
                <label class="active-label">{{ getStatusDescription(pension.pol_status) }}</label>
                <div class="scroll-content">
                    <table>
                        <tr>
                            <td>Policy:</td>
                            <td class="td-data">{{ pension.product_description | titlecase }}</td>
                        </tr>
                        <tr>
                            <td>Policy number:</td>
                            <td class="td-data">{{ pension.policy_number }}</td>
                        </tr>
                        <tr>
                            <td>Policy members:</td>
                            <td class="td-data">{{ pension.no_of_members }}</td>
                        </tr>
                        <tr>
                            <td>Fund value:</td>
                            <td class="td-data">{{ pension.sum_assured | number }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </ng-container>

    </div>
</div>