@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
::ng-deep{
    .breadcrumb{
        color:#000000;
        content: ">";

    }
}
.breadcrumb{
    font-size: 16px;
}
.nav-item{
    cursor:pointer
}
.nav-tab{
    margin-right: 1px;
}
.breadcrumb{
    background-color: transparent;
    margin-bottom: 9px;
}

.title1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #00529B;
}
#arrow{
    font-size: 1.3rem;
}
#search-input{
    font-size: 12px;
}
#search{
    border-radius: 2px;
background: #00529B;
}
#left{
    background: #FFFFFF;
    border: 1px solid rgba(220, 220, 220, 0.85);
    border-radius: 5px;
    height: 660px;
}
.title2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #00529B;

}
.report{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #00529B;

}


#search{
    color: #FFFFFF;
}
.sub{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
#subclass{
    border: 1px solid #DCDCDC;
    border-radius: 2px;
    height: 25px;
}

#TransactionList {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;
    padding-top: 3px;
    padding-left: 3px;
    margin-left: -15px;
}
#TransactionList:hover{
    color: #00529B;
}
.TransactionList{
    overflow-y: scroll;
    max-height: 450px;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height:7px;
    margin-left:200px
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 30, 187, 0.1);
  }
  .nav-pills .nav-item .nav-link.active {
    background-color: #00529B;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    }
    .nav-pills .nav-item .nav-link {
    color: #00529B;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    }
    .nav-link {
    text-decoration: none;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}
.nav-miniTab{
    color: #00529B;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#pills-ChargesDeductibles-tab{
   margin-right: 20px;
   border-radius: 2px;
   padding-left: 21px;
   padding-right: 21px;
}
#pills-TaxExcludedProducts-tab{
    border-radius: 2px;
    padding-left: 21px;
   padding-right: 21px;

}

#links{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #00529B;
}
th{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #1E293B;
}
td{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1E293B;
}
#empty{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.5);
}
.modal-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #00529B;
    margin-top: 41px;
    margin-left: 20px;
}
.modal-content{
    width:100%;
}
.modal-body{
    margin-top: -20px;
}

#cancel{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #00529B;
    border: 1px solid #00529B;
    border-radius: 2px;
    width: 88.84px;
    /* margin-left: 30px; */

}
#cancel:hover{
    background-color: #00529B;
    color: #FFFFFF;
}
#ok{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #00529B;
    border-radius: 2px;
    width: 88.84px;
    /* margin-left: 30px; */

}
#product th{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #00529B;
}
#filter input{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}
.custom-placeholder::placeholder {
    color: #000000;
}
#productSearch{
 padding: 2px;
 border: none;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 12px;
 line-height: 14px;
 color: #000000;
}
#productData td{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
#AddChargesContent{
    min-width: 120%;
}
#UpdateChargesContent{
    min-width: 120%;
}
#addChargesLabel{
    color: rgba(105, 105, 105, 0.65);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#addChargesInput{
    color: black;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background-color: rgba(140, 140, 140, 0.08); 
}
#required-alert{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #ED0614;
    padding: 0.5rem;
}
#taxTableHeaders th{
    color: #1E293B;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

