@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.desc {
    box-sizing: border-box;
    width: 290px;
    height: 82px;
    left: 208px;
    top: 288px;

    background: rgba(0, 82, 155, 0.1);
    opacity: 0.8;
}

.wizard {
    width: 70px;
    height: 14px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;

    color: #00529B;
}

#tabbed {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    cursor: pointer;

}

.activate {
    color: #00529B;

    padding-bottom: 10px;
    border-bottom: 2px solid #00529B;
}

#info {

    background: rgba(0, 82, 155, 0.1);
    opacity: 0.8;
    width: 100%;
}

#get-started {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    color: #00529B;
}

ol {
    list-style: none;
    counter-reset: item;
}

li {
    counter-increment: item;
    margin-bottom: 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

#skip {
    text-decoration: underline;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    color: #00529B;
    cursor: pointer;
}

#start {
    background-color: #00529B;
    color: white;
    font-family: 'Lato';
    font-size: 14px;
    width: 124px;
    height: 30px;
    padding: 1px;
    border-radius: 2px;

}

#more-info {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    /* or 18px */

    text-align: center;

    color: #000000;
}

#welcome {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    color: #00529B;
}

#title1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #00529B;
}

.labels {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
}

#delete {
    background-color: #00529B;
    color: white;
    font-family: 'Lato';
    font-size: 14px;
    width: 81px;
    height: 30px;
    padding: 1px;
    border-radius: 2px;
}

#new {
    color: #00529B;
    background-color: white;
    width: 81px;
    height: 30px;
    font-family: 'Lato';
    font-size: 14px;
    border: 1px solid #00529B;
    padding: 1px;
    border-radius: 2px;
}

.label2 {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */


    color: #00529B;
}

.subclasslables {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    /* identical to box height */


    color: #1E293B;
}

input[type="file"]::-webkit-file-upload-button {
    color: white;
    background-color: #00529B;
    border: 1px solid #00529B;
    padding: 1px;
    border-radius: 2px;
    /* Add any additional styling here */
}

input[type="file"]::-moz-file-upload-button {
    color: white;
    background-color: #00529B;
    border: 1px solid #00529B;
    padding: 1px;
    border-radius: 2px;
    /* Add any additional styling here */
}

input[type="file"]::-ms-browse {
    color: white;
    background-color: #00529B;
    border: 1px solid #00529B;
    padding: 3px;
    border-radius: 2px;
    /* Add any additional styling here */
}
#more {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */
    text-decoration: none;
    color: #00529B;
    cursor: pointer;
}
/* For newer versions of Firefox */
input[type="file"].form-control-sm::-moz-file-upload-button {
    color: white;
    background-color: #00529B;
    border: 1px solid #00529B;
    padding: 0;
    border-radius: 2px;
    margin: 0;
    /* Add any additional styling here */
}

.btn-select {
    padding: 2px;
}

.more {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */
    text-decoration: none;
    color: #00529B;
}

.select {
    overflow-y: scroll;
    max-height: 600px;
}

::ng-deep {
    .p-datatable .p-paginator-bottom {
        border-width: 0 0 0px 0;
        margin-bottom: -18px;
        margin-top: 20px;
    }

    .p-paginator .p-paginator-pages .p-paginator-page {
        min-width: 2rem;
        height: 2rem;
    }
}

/* width */
:host ::ng-deep ::-webkit-scrollbar {
    width: 4px;
    border: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px !important; 
    border-radius: 1px !important;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white !important; 
    border-radius: 1px !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:white !important; 
  }

.card-footer {
    background-color: #ffff;
}

.card-header {
    height: 45px;
    background-color: #ffff
}

.tabledata {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #000000;
    background: #F6F9FD;
}

li.active {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    outline: none;
    text-decoration: none;
    color: #00529B;
    border-bottom: 0px;
}

li {
    color: #000000;
}

.tick {
    display: inline-block;
    width: 2em;
    height: 2em;
    border: 1px solid#00529B;
    border-radius: 50%;
    text-align: center;
    margin-left: -30px;
    padding: 2px 1px 0px 0px;
    color: #00529B;
}

.circle {
    display: inline-block;
    width: 2em;
    height: 2em;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;
    margin-left: -30px;
    padding: 2px 1px 0px 0px
}

.circle1 {
    display: inline-block;
    width: 2em;
    height: 2em;
    border: 1px solid #00529B;
    border-radius: 50%;
    text-align: center;
    padding: 1px 0px 0px 0px;
    justify-content: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #00529b;
}

.title1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #00529B;
}

#arrow {
    font-size: 1.3rem;
}

#setup {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #00529B;

}

#num {
    margin-left: -30px;
    margin-right: 10px;
    border: 1px solid #000000;
    background: white;
    border-radius: 100%;
    width: 25.5px;
    color: black;
    display: inline-block;
    padding: 4px 7px 5px 7px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

ul li {
    list-style-type: none;
}

.active {
    color: #00529B;
    border-bottom: 0px;

}

.active #num {
    border: 1px solid #00529B;
}

#modal-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    color: #00529B;

}

.modal-content {
    width: 85%;
}

#report-grp-btn {
    width: 120px;
    height: 35px;
    background: #00529B;
    padding: 1px;
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}