::ng-deep .p-dropdown .p-dropdown-label {
  display: flex;
  align-items: center;
  height: 100%;
}

::ng-deep .p-dropdown .p-dropdown-filter {
  height: 30px;
}
table th {
  background: #f8f9fa;
}

.p-datatable-tbody tr td,
p-table tr > td {
  padding: 0rem 0.6rem !important;
}

ul.dropdown-menu {
  border: solid 1px #eee;
  border-radius: 5px;
  padding: 0.5rem;
}

ul.dropdown-menu li {
  cursor: pointer;
  margin-bottom: 10px;
}

ul.dropdown-menu li:hover {
  font-size: 1.1em;
  background: #eee;
  transition: font-size 500ms;
}
.dropend .btn-link {
  font-size: 0.9em;
}
.ticketLabel {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.ticketDesc {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin-left: 5px;
}
.form-check-item {
  clear: both; /* Ensures each item starts on a new line */
}
.form-check .form-label {
  cursor: pointer;
}

.btn:disabled {
  pointer-events: all;
  cursor: not-allowed;
  opacity: 0.40;
}

::ng-deep .p-tabview-title {
  font-size: 16px !important;
}
#flexCheckChecked {
  background-color: gray;
  width: 22px;
  height: 21px;
}
.carousel-control-next, .carousel-control-prev {
  top: 50%;
  height: 20%;
}
.doc-name {
  display: inline-block;
  width: 172px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.form-label {
  display: flex;
  align-items: center;
}
::ng-deep .p-datatable .p-datatable-thead > tr > th {
  font-weight: 500;
}
