::ng-deep .p-dropdown .p-dropdown-label {
  display: flex;
  align-items: center;
  height: 100%;
}

::ng-deep .p-dropdown .p-dropdown-filter {
  height: 30px;
}
.columnSelect-dialogue {
  width: 186px;
  height: 337px;
  border: solid 1px #d9d9d9;
  border-radius: 10px;
  margin: 10px;
  position: absolute;
  right: 50px;
  z-index: 1000;
}
/* responsiveness */
@media (max-width: 576px) {
  .columnSelect-dialogue {
    width: 300px;
    margin: auto;
    top: 20px;
  }
}
table th {
  background: #f8f9fa;
}

ul.dropdown-menu {
  border: solid 1px #eee;
  border-radius: 5px;
  padding: 0.5rem;
}

ul.dropdown-menu li {
  cursor: pointer;
  margin-bottom: 10px;
}

ul.dropdown-menu li:hover {
  font-size: 1.1em;
  background: #eee;
  transition: font-size 500ms;
}
.dropend .btn-link {
  font-size: 0.9em;
}
.ticketLabel {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.ticketDesc {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin-left: 5px;
}
.form-check-item {
  clear: both; /* Ensures each item starts on a new line */
}
.form-check .form-label {
  cursor: pointer;
}

