<div class="base-content-section">
  <div class="me-4">
    <app-dynamic-breadcrumb [breadCrumbItems]="organizationBreadCrumbItems">
    </app-dynamic-breadcrumb>
  </div>
  <app-stepper [currentStep]="4" [stepperData]="steps"></app-stepper>
  <div class="me-4">
    <div class="card mb-3">
      <div class="card-header bg-transparent">
        <span class="float-start mt-3">Organization Definition</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <label for="organization" class="form-label"
              >Select an Organization</label
            >
            <p-dropdown
              [options]="organizationsData"
              [(ngModel)]="selectedOrganizationId"
              (onChange)="onOrganizationChange()"
              optionLabel="name"
              optionValue="id"
              id="organization"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              [style]="{ width: '100%', height: '45%' }"
              placeholder="Select organization"
            >
            </p-dropdown>
          </div>
          <div class="col-sm-4">
            <label for="region" class="form-label">Select a Region</label>
            <p-dropdown
              [options]="regionData"
              [(ngModel)]="selectedRegion"
              (onChange)="onRegionChange()"
              optionLabel="name"
              optionValue="code"
              id="region"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              [style]="{ width: '100%', height: '45%' }"
              placeholder="Select Region"
            >
            </p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header bg-transparent float-start">
        <span class="float-start mt-3">Branch Details</span>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-4">
            <select
              class="form-select"
              (change)="onSort($event, branchesData, 'name')"
            >
              <option value="">Sorting Options</option>
              <option value="asc">Ascending</option>
              <option value="desc">Descending</option>
            </select>
          </div>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              placeholder="Search by name"
              aria-label="search"
              aria-describedby="search"
              (input)="filterBranch($event)"
            />
          </div>
          <div class="col-sm-4">
            <div class="float-end">
              <span class="icon-circle"
                ><i
                  class="pi pi-arrow-right-arrow-left"
                  (click)="openBranchTransferModal()"
                ></i
              ></span>
              <span class="icon-circle"
                ><i class="fa-solid fa-plus" (click)="openBranchModal()"></i
              ></span>
              <span class="icon-circle"
                ><i class="pi pi-pencil" (click)="editBranch()"></i
              ></span>
              <span class="icon-circle"
                ><i class="fa-regular fa-trash-can" (click)="deleteBranch()"></i
              ></span>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12">
            <p-table
              #branchTable
              [value]="branchesData"
              [autoLayout]="true"
              [rowHover]="true"
              [resizableColumns]="true"
              styleClass="p-datatable-sm"
              responsiveLayout="scroll"
              [scrollable]="true"
              scrollHeight="400px"
              class="ui-datatable"
              [globalFilterFields]="['name', 'managerName']"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th class="head">ID</th>
                  <th class="head">Ref</th>
                  <th class="head">Name</th>
                  <th class="head">Physical Address</th>
                  <th class="head">Email</th>
                  <th class="head">Postal Address</th>
                  <th class="head">Contact</th>
                  <th class="head">Manager</th>
                  <th class="head">Manager Allowed</th>
                  <th class="head">Override Commission</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-branch>
                <tr
                  class="custom-table"
                  (click)="onBranchRowSelect(branch)"
                  [class.selected]="selectedBranch === branch"
                >
                  <td class="body">{{ branch.id }}</td>
                  <td class="body">{{ branch.ref }}</td>
                  <td class="body">{{ branch.name }}</td>
                  <td class="body">{{ branch.physicalAddress }}</td>
                  <td class="body">{{ branch.emailAddress }}</td>
                  <td class="body">{{ branch.postalAddress }}</td>
                  <td class="body">{{ branch.telephone }}</td>
                  <td class="body">{{ branch.managerName }}</td>
                  <td class="body">{{ branch.managerAllowed }}</td>
                  <td class="body">{{ branch.overrideCommissionAllowed }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="8">No branch detail found.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header bg-transparent float-start">
        <span class="float-start mt-3">Branch Division</span>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-4">
            <select
              class="form-select"
              (change)="onSort($event, branchDivisionData, 'divisionName')"
            >
              <option value="">Sorting Options</option>
              <option value="asc">Ascending</option>
              <option value="desc">Descending</option>
            </select>
          </div>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              placeholder="Search by name"
              aria-label="search"
              aria-describedby="search"
              (input)="filterBranchDivision($event)"
            />
          </div>
          <div class="col-sm-4">
            <div class="float-end">
              <span class="icon-circle"
                ><i
                  class="fa-solid fa-plus"
                  (click)="openBranchDivisionModal()"
                ></i
              ></span>
              <span class="icon-circle"
                ><i class="pi pi-pencil" (click)="editBranchDivision()"></i
              ></span>
              <span class="icon-circle"
                ><i
                  class="fa-regular fa-trash-can"
                  (click)="deleteBranchDivision()"
                ></i
              ></span>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12">
            <p-table
              #branchDivisionTable
              [value]="branchDivisionData"
              styleClass="p-datatable-sm"
              responsiveLayout="scroll"
              [scrollable]="true"
              scrollHeight="400px"
              class="ui-datatable"
              [globalFilterFields]="['divisionName', 'branchName']"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th class="head">Division Name</th>
                  <th class="head">Branch Name</th>
                  <th class="head">Branch Division WEF</th>
                  <th class="head">Branch Division WET</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-division>
                <tr
                  class="custom-table"
                  (click)="onBranchDivisionRowSelect(division)"
                  [class.selected]="selectedBranchDivision === division"
                >
                  <td class="body">{{ division.divisionName }}</td>
                  <td class="body">{{ division.branchName }}</td>
                  <td class="body">{{ division.withEffectiveFrom }}</td>
                  <td class="body">{{ division.withEffectiveTo }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="8">No branch division found.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header bg-transparent float-start">
        <span class="float-start mt-3">Branch Contacts</span>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-4">
            <select
              class="form-select"
              (change)="onSort($event, branchContacts, 'name')"
            >
              <option value="">Sorting Options</option>
              <option value="asc">Ascending</option>
              <option value="desc">Descending</option>
            </select>
          </div>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              placeholder="Search by name or email address"
              aria-label="search"
              aria-describedby="search"
              (input)="filterBranchContact($event)"
            />
          </div>
          <!-- <label for="filterBy" class="col-1 col-form-label">Filter by:</label>
          <div class="form-group col-3">
            <input
              type="text"
              class="form-control"
              name="filterByDay"
              placeholder="Date"
              onfocus="(this.type='date')"
              onblur="(this.type='text')"
            />
          </div> -->
          <div class="col-4">
            <div class="float-end">
              <span class="icon-circle"
                ><i
                  class="fa-solid fa-plus"
                  (click)="openBranchContactModal()"
                ></i
              ></span>
              <span class="icon-circle"
                ><i class="pi pi-pencil" (click)="editBranchContact()"></i
              ></span>
              <span class="icon-circle"
                ><i
                  class="fa-regular fa-trash-can"
                  (click)="deleteBranchContact()"
                ></i
              ></span>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12">
            <p-table
              #branchContactTable
              [value]="branchContacts"
              styleClass="p-datatable-sm"
              responsiveLayout="scroll"
              [scrollable]="true"
              scrollHeight="400px"
              class="ui-datatable"
              [globalFilterFields]="['name', 'emailAddress']"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th class="head">Contact Name</th>
                  <th class="head">Designation</th>
                  <th class="head">Mobile Number</th>
                  <th class="head">Telephone</th>
                  <th class="head">ID Number</th>
                  <th class="head">Home Address</th>
                  <th class="head">Email Address</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-contact>
                <tr
                  class="custom-table"
                  (click)="onBranchContactRowSelect(contact)"
                  [class.selected]="selectedBranchContact === contact"
                >
                  <td class="body">{{ contact.name }}</td>
                  <td class="body">{{ contact.designation }}</td>
                  <td class="body">{{ contact.mobile }}</td>
                  <td class="body">{{ contact.telephone }}</td>
                  <td class="body">{{ contact.idNumber }}</td>
                  <td class="body">{{ contact.physicalAddress }}</td>
                  <td class="body">{{ contact.emailAddress }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="8">No branch contact found.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-12">
        <div class="float-end">
          <button
            class="btn btn-primary mt-auto align-self-end"
            (click)="onNext()"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  #branchModal
  id="branchModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog align-items-center">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Define a Branch</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeBranchModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createBranchForm">
          <div class="row">
            <div class="col-6 mb-3">
              <label for="shortDescription" class="form-label"
                >Short Description</label
              >
              <input
                type="text"
                class="form-control"
                id="shortDescription"
                placeholder="Short Description"
                formControlName="shortDescription"
                [ngClass]="{
                  'is-invalid':
                    f['shortDescription']?.invalid &&
                    (f['shortDescription']?.dirty ||
                      f['shortDescription']?.touched)
                }"
              />
              <div
                *ngIf="
                  f['shortDescription']?.invalid &&
                  (f['shortDescription']?.dirty ||
                    f['shortDescription']?.touched)
                "
                class="form-text text-danger"
                [ngClass]="{
                  'is-invalid': ['submitted'] && f['shortDescription']?.errors
                }"
              >
                <div *ngIf="f['shortDescription']?.errors['required']">
                  Short Description is required
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <label for="branchName" class="form-label">Branch Name</label>
              <input
                type="text"
                class="form-control"
                id="branchName"
                placeholder="Branch Name"
                formControlName="branchName"
                [ngClass]="{
                  'is-invalid':
                    f['branchName']?.invalid &&
                    (f['branchName']?.dirty || f['branchName']?.touched)
                }"
              />
              <div
                *ngIf="
                  f['branchName']?.invalid &&
                  (f['branchName']?.dirty || f['branchName']?.touched)
                "
                class="form-text text-danger"
                [ngClass]="{
                  'is-invalid': ['submitted'] && f['branchName']?.errors
                }"
              >
                <div *ngIf="f['branchName']?.errors['required']">
                  Branch Name is required
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <label for="country" class="form-label">Country</label>
              <p-dropdown
                [options]="countriesData"
                [(ngModel)]="selectedCountry"
                (onChange)="onCountryChange()"
                optionLabel="name"
                optionValue="id"
                formControlName="country"
                id="country"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                [style]="{ width: '100%', height: '45%' }"
                placeholder="Select Country"
                [ngClass]="{
                  'p-dropdown-invalid':
                    f['country'].invalid &&
                    (f['country'].dirty || f['country'].touched)
                }"
              >
              </p-dropdown>
              <div
                *ngIf="
                  f['country']?.invalid &&
                  (f['country']?.dirty || f['country']?.touched)
                "
                class="form-text text-danger"
                [ngClass]="{
                  'is-invalid': ['submitted'] && f['country']?.errors
                }"
              >
                <div *ngIf="f['country']?.errors['required']">
                  Country is required
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <label for="state" class="form-label">State</label>
              <p-dropdown
                [options]="stateData"
                [(ngModel)]="selectedState"
                (onChange)="onCityChange()"
                optionLabel="name"
                optionValue="id"
                formControlName="state"
                id="stateName"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                [style]="{ width: '100%', height: '45%' }"
                placeholder="Select State"
                [ngClass]="{
                  'p-dropdown-invalid':
                    f['state']?.invalid &&
                    (f['state']?.dirty || f['state']?.touched)
                }"
              >
              </p-dropdown>
              <div
                *ngIf="
                  f['state']?.invalid &&
                  (f['state']?.dirty || f['state']?.touched)
                "
                class="form-text text-danger"
                [ngClass]="{
                  'is-invalid': ['submitted'] && f['state']?.errors
                }"
              >
                <div *ngIf="f['state']?.errors['required']">
                  State Name is required
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <label for="town" class="form-label">Town</label>
              <p-dropdown
                [options]="townData"
                [(ngModel)]="selectedTown"
                optionLabel="name"
                optionValue="id"
                formControlName="town"
                id="town"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                [style]="{ width: '100%', height: '45%' }"
                placeholder="Select Town"
                [ngClass]="{
                  'p-dropdown-invalid':
                    f['town']?.invalid &&
                    (f['town']?.dirty || f['town']?.touched)
                }"
              >
              </p-dropdown>
              <div
                *ngIf="
                  f['town']?.invalid && (f['town']?.dirty || f['town']?.touched)
                "
                class="form-text text-danger"
                [ngClass]="{
                  'is-invalid': ['submitted'] && f['town']?.errors
                }"
              >
                <div *ngIf="f['town']?.errors['required']">
                  Town is required
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <label for="physicalAddress" class="form-label"
                >Physical Address</label
              >
              <input
                type="text"
                class="form-control"
                id="physicalAddress"
                placeholder="Physical Address"
                formControlName="physicalAddress"
                [ngClass]="{
                  'is-invalid':
                    f['physicalAddress']?.invalid &&
                    (f['physicalAddress']?.dirty ||
                      f['physicalAddress']?.touched)
                }"
              />
              <div
                *ngIf="
                  f['physicalAddress']?.invalid &&
                  (f['physicalAddress']?.dirty || f['physicalAddress']?.touched)
                "
                class="form-text text-danger"
                [ngClass]="{
                  'is-invalid': ['submitted'] && f['physicalAddress']?.errors
                }"
              >
                <div *ngIf="f['physicalAddress']?.errors['required']">
                  Physical Address is required
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <label for="postalAddress" class="form-label"
                >Postal Address</label
              >
              <input
                type="text"
                class="form-control"
                id="postalAddress"
                placeholder="Postal Address"
                formControlName="postalAddress"
                [ngClass]="{
                  'is-invalid':
                    f['postalAddress']?.invalid &&
                    (f['postalAddress']?.dirty || f['postalAddress']?.touched)
                }"
              />
              <div
                *ngIf="
                  f['postalAddress']?.invalid &&
                  (f['postalAddress']?.dirty || f['postalAddress']?.touched)
                "
                class="form-text text-danger"
                [ngClass]="{
                  'is-invalid': ['submitted'] && f['postalAddress']?.errors
                }"
              >
                <div *ngIf="f['postalAddress']?.errors['required']">
                  Postal Address is required
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <label for="postalCode" class="form-label">Postal Code</label>
              <input
                type="text"
                class="form-control"
                id="postalCode"
                placeholder="Postal Code"
                formControlName="postalCode"
              />
            </div>
            <div class="col-6 mb-3">
              <label for="telephone" class="form-label">Telephone</label>
              <input
                type="text"
                class="form-control"
                id="telephone"
                placeholder="Telephone"
                formControlName="telephone"
                [ngClass]="{
                  'is-invalid':
                    f['telephone']?.invalid &&
                    (f['telephone']?.dirty || f['telephone']?.touched)
                }"
              />
              <div
                *ngIf="
                  f['telephone']?.invalid &&
                  (f['telephone']?.dirty || f['telephone']?.touched)
                "
                class="form-text text-danger"
                [ngClass]="{
                  'is-invalid': ['submitted'] && f['telephone']?.errors
                }"
              >
                <div *ngIf="f['telephone']?.errors['required']">
                  Telephone is required
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <label for="emailAddress" class="form-label">Email Address</label>
              <input
                type="text"
                class="form-control"
                id="emailAddress"
                placeholder="Email Address"
                formControlName="emailAddress"
                [ngClass]="{
                  'is-invalid':
                    f['emailAddress']?.invalid &&
                    (f['emailAddress']?.dirty || f['emailAddress']?.touched)
                }"
              />
              <div
                *ngIf="
                  f['emailAddress']?.invalid &&
                  (f['emailAddress']?.dirty || f['emailAddress']?.touched)
                "
                class="form-text text-danger"
                [ngClass]="{
                  'is-invalid': ['submitted'] && f['emailAddress']?.errors
                }"
              >
                <div *ngIf="f['emailAddress']?.errors['required']">
                  Email Address is required
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <fieldset>
                <legend for="managerAllowed" class="form-label">
                  Manager Allowed?
                </legend>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="inlineRadio1"
                    value="YES"
                    formControlName="managerAllowed"
                  />
                  <label class="form-check-label" for="inlineRadio1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="inlineRadio2"
                    value="NO"
                    formControlName="managerAllowed"
                  />
                  <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
              </fieldset>
            </div>
            <div class="col-6 mb-3">
              <label for="branchManager" class="form-label"
                >Branch Manager</label
              >
              <p-dropdown
                [options]="managersData"
                [(ngModel)]="selectedManager"
                optionLabel="name"
                optionValue="id"
                formControlName="branchManager"
                id="branchManager"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                [style]="{ width: '100%', height: '45%' }"
                placeholder="Select a Manager"
              >
              </p-dropdown>
            </div>
            <div class="col-6 mb-3">
              <fieldset>
                <legend for="commission" class="form-label">
                  Override Commision Earned?
                </legend>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="inlineRadio1"
                    value="YES"
                    formControlName="commission"
                  />
                  <label class="form-check-label" for="inlineRadio1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="inlineRadio2"
                    value="NO"
                    formControlName="commission"
                  />
                  <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
              </fieldset>
            </div>
            <div class="col-6 mb-3">
              <label for="branchLogo">Branch Logo</label>
              <div (change)="onLogoChange($event)">
                <img
                  *ngIf="url !== '' && url"
                  [src]="url"
                  alt=""
                  id="profile-photo"
                />
                <input
                  type="file"
                  id="branchLogo"
                  formControlName="branchLogo"
                  hidden
                />
                <label *ngIf="url === ''" for="branchLogo" class="img_upload">
                  <i class="fa-solid fa-cloud-arrow-up"></i> Upload Logo</label
                >
                <label for="branchLogo" *ngIf="url !== ''" class="img_edit"
                  >Edit</label
                >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveBranch()">
          Save Details
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  #branchTransferModal
  id="branchTransferModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog align-items-center">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Transfer a Branch</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeBranchTransferModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createBranchTransferForm">
          <div class="row">
            <div class="col-6 mb-3">
              <label for="currentRegion" class="form-label"
                >Current Region</label
              >
              <input
                type="text"
                class="form-control"
                id="currentRegion"
                placeholder="Current Region"
                formControlName="currentRegion"
              />
            </div>
            <div class="col-6 mb-3">
              <label for="branchName" class="form-label">Branch Name</label>
              <input
                type="text"
                class="form-control"
                id="branchName"
                placeholder="Branch Name"
                formControlName="branchName"
              />
            </div>
            <div class="col-6 mb-3">
              <label for="transferDate" class="form-label">Transfer Date</label>
              <input
                type="text"
                class="form-control"
                id="transferDate"
                placeholder="Transfer Date"
                formControlName="transferDate"
              />
            </div>
            <div class="col-6 mb-3">
              <label for="transferRegion" class="form-label"
                >Transfer Region</label
              >
              <p-dropdown
                [options]="stateData"
                [(ngModel)]="selectedState"
                (onChange)="onCityChange()"
                optionLabel="name"
                optionValue="id"
                formControlName="transferRegion"
                id="transferRegion"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                [style]="{ width: '100%', height: '45%' }"
                placeholder="Select Region"
              >
              </p-dropdown>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="transferBranch()"
        >
          Authorize Transfer
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Branch Division Modal -->
<div
  class="modal fade"
  #branchDivisionModal
  id="branchDivisionModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog align-items-center">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Division</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeBranchDivisionModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createBranchDivisionForm">
          <div class="row">
            <!-- <div class="form-group col-6 mb-3">
              <label for="division" class="form-label">Select a Division</label>
              <select
                id="division"
                class="form-select mb-1"
                formControlName="division"
              >
                <option value="" selected>Select Division</option>
                <option
                  *ngFor="let division of branchUnassignedDivisionData"
                  [value]="division.id"
                >
                  {{ division.name | titlecase }}
                </option>
              </select>
            </div> -->
            <div class="form-group col-6 mb-3">
              <label for="division" class="form-label">Select a Division</label>
              <select
                id="division"
                class="form-select mb-1"
                formControlName="division"
              >
                <option value="" selected>Select Division</option>
                <ng-container *ngIf="isEditing; else createDivision">
                  <option
                    *ngFor="let division of branchDivisionData"
                    [value]="division.divisionId"
                  >
                    {{ division.divisionName | titlecase }}
                  </option>
                </ng-container>
                <ng-template #createDivision>
                  <option
                    *ngFor="let division of branchUnassignedDivisionData"
                    [value]="division.id"
                  >
                    {{ division.name | titlecase }}
                  </option>
                </ng-template>
              </select>
            </div>

            <div class="form-group col-6 mb-3">
              <label for="wef" class="form-label">WEF</label>
              <input
                type="text"
                class="form-control"
                name="wef"
                placeholder="WEF"
                onfocus="(this.type='date')"
                onblur="(this.type='text')"
                formControlName="wef"
              />
            </div>
            <div class="form-group col-6 mb-3">
              <label for="wet" class="form-label">WET</label>
              <input
                type="text"
                class="form-control"
                name="wet"
                placeholder="WET"
                onfocus="(this.type='date')"
                onblur="(this.type='text')"
                formControlName="wet"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="saveBranchDivision()"
        >
          Save Details
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  #branchContactModal
  id="branchContactModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog align-items-center">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Create a Branch Contact
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeBranchContactModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createBranchContactForm">
          <div class="row">
            <div class="col-6 mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Name"
                formControlName="name"
              />
            </div>
            <div class="col-6 mb-3">
              <label for="designation" class="form-label">Designation</label>
              <input
                type="text"
                class="form-control"
                id="designation"
                placeholder="Designation"
                formControlName="designation"
              />
            </div>
            <div class="col-6 mb-3">
              <label for="mobileNumber" class="form-label">Mobile Number</label>
              <input
                type="text"
                class="form-control"
                id="mobileNumber"
                placeholder="Mobile Number"
                formControlName="mobileNumber"
              />
            </div>
            <div class="col-6 mb-3">
              <label for="telephoneNumber" class="form-label"
                >Telephone Number</label
              >
              <input
                type="text"
                class="form-control"
                id="telephoneNumber"
                placeholder="Telephone Number"
                formControlName="telephoneNumber"
              />
            </div>
            <div class="col-6 mb-3">
              <label for="idNumber" class="form-label">ID Number</label>
              <input
                type="text"
                class="form-control"
                id="idNumber"
                placeholder="ID Number"
                formControlName="idNumber"
              />
            </div>
            <div class="col-6 mb-3">
              <label for="homeAddress" class="form-label">Home Address</label>
              <input
                type="text"
                class="form-control"
                id="homeAddress"
                placeholder="Home Address"
                formControlName="homeAddress"
              />
            </div>
            <div class="col-6 mb-3">
              <label for="emailAddress" class="form-label">Email Address</label>
              <input
                type="text"
                class="form-control"
                id="emailAddress"
                placeholder="Email Address"
                formControlName="emailAddress"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="saveBranchContact()"
        >
          Save Details
        </button>
      </div>
    </div>
  </div>
</div>

<app-reusable-input
  [modalId]="'branchConfirmationModal'"
  [title]="'Delete Confirmation'"
  [message]="'Are you sure you want to delete this branch?'"
  (confirmed)="confirmBranchDelete()"
  #branchConfirmationModal
></app-reusable-input>

<app-reusable-input
  [modalId]="'branchDivisionConfirmationModal'"
  [title]="'Delete Confirmation'"
  [message]="
    'Are you sure you want to unassign this Division from this Branch?'
  "
  (confirmed)="confirmBranchDivisionDelete()"
  #branchDivisionConfirmationModal
></app-reusable-input>

<app-reusable-input
  [modalId]="'branchContactConfirmationModal'"
  [title]="'Delete Confirmation'"
  [message]="'Are you sure you want to delete this branch contact?'"
  (confirmed)="confirmBranchContactDelete()"
  #branchContactConfirmationModal
></app-reusable-input>
