<div class="container-fluid">
  <div class="row me-4">
    <div class="col-8">
      <app-dynamic-breadcrumb
        [breadCrumbItems]="[
      {
        label: 'FMS',
        url: '/home/fms',
      },
      {
        label: this.translate.instant('fms.receipting.cbReceipting'),
        url: '/home/fms/',
      },
      {
        label:this.translate.instant('fms.receipting.receipting'),
        url: '/home/fms/',
      },
      {
        label: this.translate.instant('fms.receipting.clientSearch'),
        url: ''
      }
    ]"
      >
      </app-dynamic-breadcrumb>
    </div>
  </div>
  <app-stepper [currentStep]="2" [stepperData]="steps"></app-stepper>

  <div class="main-form">
    <form [formGroup]="receiptingDetailsForm">
      <h5 class="form-title">
        {{ "fms.receipting.accountSelection" | translate }}
      </h5>
      <div class="row mb-3">
        <div class="col-md-3">
          <label for="accountType" class="form-label fw-bold">{{
            "fms.receipting.accountType" | translate
          }}</label>

          <select
            class="form-select"
            id="accountType"
            formControlName="accountType"
            (change)="onAccountTypeChange()"
          >
            <option value="">
              {{ "fms.receipting.select" | translate | uppercase }}
            </option>
            <option *ngFor="let type of accountTypes" [value]="type.name">
              {{ type.name }}
            </option>
          </select>
        </div>
        <!-- Search Criteria Section -->
        <div class="col-md-3">
          <label for="searchCriteria" class="form-label fw-bold">{{
            "fms.receipting.searchCriteria" | translate
          }}</label>

          <select
            class="form-select"
            id="searchCriteria"
            formControlName="searchCriteria"
            [disabled]="!isAccountTypeSelected"
          >
            <option value="policyNumber">
              {{ "fms.receipting.byPolicyNumber" | translate }}
            </option>
            <option value="accountNumber">
              {{ "fms.receipting.byAccountNumber" | translate }}
            </option>
            <option value="debitNote">
              {{ "fms.receipting.byDebitNote" | translate }}
            </option>
            <option value="clientName">
              {{ "fms.receipting.byClientName" | translate }}
            </option>
          </select>
          <!-- <i class="pi pi-chevron-down dropdown-icon"></i> -->
        </div>
        <!-- Search Query Input -->
        <div class="col-md-3">
          <label for="search" class="form-label fw-bold">{{
            "fms.receipting.search" | translate
          }}</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="search"
              placeholder="{{ 'fms.receipting.EnterSearchTerm' | translate }}"
              formControlName="searchQuery"
              [disabled]="!isAccountTypeSelected"
              (keyup.enter)="onSearch()"
            />

            <button
              type="button"
              class="btn"
              (click)="onSearch()"
              [disabled]="!isAccountTypeSelected"
            >
              <i class="fa fa-search text-primary"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Search Results Table -->

      <div class="row" *ngIf="clients.length > 0">
        <div class="col-md-12">
          <p-table
            [value]="clients"
            responsiveLayout="scroll"
            class="table-striped"
            [paginator]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]"
            selectionMode="single"
            [(selection)]="selectedClient"
            dataKey="code"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="header-bg">
                  {{ "fms.receipting.description" | translate }}
                </th>
                <th
                  class="header-bg"
                  style="min-width: 250px; white-space: nowrap"
                >
                  {{ "fms.receipting.name" | translate }}
                </th>
                <th class="header-bg">
                  {{ "fms.receipting.type" | translate }}
                </th>
                <!-- <th class="header-bg">
                  {{ "fms.receipting.actions" | translate }}
                </th> -->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-client let-i="rowIndex">
              <tr [pSelectableRow]="client">
                <td>{{ client.systemShortDesc }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.receiptType }}</td>
                <!-- <td>
                  <button
                    class="btn btn-secondary"
                    style="
                      height: 30px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      text-align: center;
                      padding: 0 10px;
                    "
                    (click)="onClickClient(client)"
                  >
                    {{ "fms.receipting.select" | translate }}
                  </button>
                </td> -->
              </tr>
            </ng-template>

            <ng-template pTemplate="paginator" let-state>
              <div class="custom-paginator">
                <button
                  pButton
                  type="button"
                  icon="pi pi-angle-double-left"
                  (click)="moveFirst(state)"
                  [disabled]="state.first === 0"
                ></button>
                <button
                  pButton
                  type="button"
                  icon="pi pi-angle-left"
                  (click)="movePrev(state)"
                  [disabled]="state.first === 0"
                ></button>

                <span
                  >{{ "fms.receipting.showing" | translate }}
                  {{ state.first + 1 }} {{ "fms.receipting.to" | translate }}
                  {{ first + rows }} {{ state.first + state.rows }}
                  {{ "fms.receipting.of" | translate }} {{ totalRecords }}
                  {{ state.totalRecords
                  }}{{ "fms.receipting.entries" | translate }}</span
                >

                <button
                  pButton
                  type="button"
                  icon="pi pi-angle-right"
                  (click)="moveNext(state)"
                  [disabled]="state.first + state.rows >= state.totalRecords"
                ></button>
                <button
                  pButton
                  type="button"
                  icon="pi pi-angle-double-right"
                  (click)="moveLast(state)"
                  [disabled]="state.first + state.rows >= state.totalRecords"
                ></button>
              </div>
            </ng-template>
          </p-table>
        </div>
      </div>
    </form>
  </div>

  <!-- Action Buttons -->
  <div class="btn-actions">
    <div class="btn-back">
      <button type="button" class="btn btn-link" (click)="onBack()">
        {{ "fms.receipting.back" | translate }}
      </button>
    </div>
    <div class="btn-next" *ngIf="this.selectedClient">
      <button
        type="button"
        class="btn btn-primary"
        (click)="onClickClient(this.selectedClient)"
      >
        {{ "fms.receipting.next" | translate }}
      </button>
      <!-- <button type="button" class="btn-primary" (click)="onNext()">Next</button> -->
    </div>
  </div>
</div>
