
.modal-content {
    border-radius: 3px;
  }
  
  .modal-content-undw-reject {
    width: 110% !important;
    transform: translate(-1rem, 6rem);
    height: 17rem !important;
    font-size: 13px;
  }
  
  
  .modal-content-undw {
    width: 170% !important;
    transform: translate(-8rem, 3rem);
    height: 65rem !important;
    font-size: 13px;
  }


  @media (max-width: 768px) {
    .modal-content-undw {
      width: 80% !important; /* Adjust the width as needed */
      transform: translate(2rem, 3rem);
      height: 139rem !important;
    }
  }
  