.title {
    color: #00529B;
    font-size: 16px;
    font-weight: 500;
}

.tab-content-details {
    background-color: #ffffff;
}

.list-group-item {
    border: none;
    /* Remove borders between list items */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}

.list-group-item.selected {
    color: rgba(0, 82, 155, 1);
    /* Change font color when selected */

}

#icon {
    background-color: #E4E7EB;
    border-radius: 100px;
    border: none;
}

#icon i {
    color: #00529B;
}

.subheading {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #00529B;

}

.label {
    font-weight: 400;
    font-size: 14px;
}

.detail {
    font-weight: 700;
    font-size: 14px;
}

.more {
    color: #00529B;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.flex .search-input {
    /* padding-bottom: 6px; */
    padding-left: 30px;
    border: 1px solid #ccc;
    background: rgba(245, 246, 248, 1);
    border-radius: 5px;
    height: 40px;
    width: 100% !important;
    font-size: 13px;
}

.search-icon {
    margin-top: -12px
}

.flex .search-input-insured {
    padding-left: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    width: 100% !important;
    font-size: 13px;

}

::ng-deep .p-dropdown {
    height: 30px;
    /* Adjust the height as needed */
    font-size: 12px;
    /* Adjust the font size as needed */
    padding: 2px;
    /* Adjust the padding as needed */
    width: 100%;
}

::ng-deep .p-dropdown-label {
    font-size: 13px;
    /* line-height: 0px; */
}

::ng-deep .p-dropdown-item {
    font-size: 12px;
    /* Adjust the font size of dropdown items as needed */
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding: 4px 8px;
    /* Adjust the padding of dropdown items */
}

.flex .search-input-Risk {
    /* padding-bottom: 6px; */
    padding-left: 30px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    height: 40px;
    width: 100% !important;
    font-size: 13px;
}

.deleteMessage {
    color: #000;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

#search-input-Rsection {
    border: none;
    background-color: transparent;
    width: 200px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #F5F6F8;
}

.search-icon {
    padding: 10 10px;
}

.search-icon i {
    padding-top: 15px;
    /* font-size: 12px;  */
    color: #B5B5B5
}

.scrollable-list {
    overflow-y: scroll;
    max-height: 280px;
}

.form-check-input:checked {
    background-color: #00529B;
    border-color: #00529B;

}

.form-check-input {
    border-color: #868E96
}

.form-check-input:hover {
    border-color: #00529B
}

.section-label {
    color: #000;
}

.form-check {
    display: flex;
    align-items: left;
}

.form-check-input {
    margin-left: 0px;
    /* Adjust as needed */
}

#sectionLabel {
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#sectionInput {
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 30px;
}

#sectionRows {
    margin-left: 16px;
    margin-right: 16px;
}

#editScheduleLabel {
    color: #00529B;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 30px;
    margin-left: 26px;

}

.modalTitle {
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

#selectedInput {
    height: 25px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.23px;
    text-align: left;
    color: #000;
}

#selectCheckbox {
    border-color: #000;
}

#certificateCheckboxLabel {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.23px;
    text-align: left;
    color: #000;

}

#certificateLabel {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: #000;

}