.response-list{
    padding: 0.5rem 0;
}
.response-list:hover{
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.057);
    

}

.response-list-item:hover {
    cursor: pointer;
    color: var(--primary-color) !important;
}