.main {
    padding: 20px;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: #FFF;
    border-radius: 6px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-wrapper {
    flex: 0 0 calc(50% - 20px);
    box-sizing: border-box;
    margin-bottom: 40px;
}

.image-container {
    width: 80%;
}

img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

button {
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

button.learn-more {
    background-color: transparent;
    color: #00529B;
    border-color: #00529B;
}

button.learn-more:hover {
    background-color: #e1e1e1;
}

button.get-quote {
    background-color: #00529B;
    color: #FFFFFF;
    border-color: #00529B;
}

button.get-quote:hover {
    background-color: #65b2f5;
}

.product-title {
    font-size: 20px;
    font-weight: 500;
}

.caption-above {
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-bottom: 10px;
}

.caption-below {
    color: black;
}

/* CSS for X button, to close modal */
.modal-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.custom-red-button {
    color: transparent;
    background-color: transparent;
    border: none;
}

.custom-red-button::before {
    content: "X";
    color: #EE3945;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.modal-header,
 .modal-footer {
     border: none;
 }

 .modal-content {
  padding: 0 10px;
 }


@media (max-width: 768px) {
    .image-wrapper {
        flex: 0 0 100%;
    }

    .image-container {
        width: 100%;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
