<div class="base-content-section">
  <div class="me-4">
    <app-dynamic-breadcrumb [breadCrumbItems]="messagingTemplateBreadCrumbItems">
    </app-dynamic-breadcrumb>
  </div>

  <div class="me-4">
    <div class="card mb-3">
      <div class="card-body">
        <ng-container *ngIf="shouldShowSystems; else showSystemsLoading">
          <p class="mt-3 fw-bold">{{ 'crm.system_roles' | translate }}</p>
          <div class="form-div px-3">
            <form>
              <div class="row">
                <ng-container *ngFor="let system of systems">
                  <div class="col-sm-4 my-2">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input select-system"
                        type="radio"
                        name="system"
                        value="{{system.id}}"
                        (click)="selectSystem(system)"
                        [checked]="selectedSystem?.id===system.id"
                      >
                      <label class="form-check-label" for="{{system.id}}">{{ system.systemName | titlecase }}</label>
                    </div>
                  </div>
                </ng-container>
              </div>
            </form>
          </div>
        </ng-container>
        <ng-template #showSystemsLoading>
          <div class="my-5 mx-5">
            <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
          </div>
        </ng-template>
      </div>
    </div>

    <ng-container *ngIf="selectedSystem.id !== undefined">
      <div class="row">
        <div class="col-sm-4 role-left">
          <div class="card mb-3">
            <div class="card-body">
              <ng-container *ngIf="systemRoles.length > 0 && shouldShowRoles; else noSystemRoles">
                <div class="row">
                  <div class="col-sm-12">
                    <span class="mt-3 fw-bold">{{ 'crm.select_role' | translate }}</span>
                  </div>
                  <div class="col-sm-12 ms-3">
                    <div class="row mt-3 float-start">
                  <span class="icon-circle" data-bs-toggle="modal" data-bs-target="#renewRoleModal" (click)="resetFormValues()">
                    <i class="fa-solid fa-plus"></i>
                  </span>
                      <span
                        class="icon-circle" (click)="prepareEditRole()"
                        data-bs-toggle="modal" data-bs-target="#renewRoleModal"
                      >
                        <i class="pi pi-pencil"></i>
                      </span>
                      <span class="icon-circle" data-bs-toggle="modal" data-bs-target="#deleteRoleModal">
                        <i class="fa-regular fa-trash-can"></i>
                      </span>
                    </div>
                  </div>
                  <p-scrollPanel [style]="{ width: '100%', height: '400px' }" styleClass="custombar1">
                    <div class="col-sm-12 mt-3 ms-1">
                      <ng-container *ngFor="let role of systemRoles">
                        <div class="mt-2">
                          <div class="form-check">
                            <input
                              class="form-check-input select-role"
                              type="radio"
                              name="role"
                              value="{{ role.id }}"
                              id="{{ role.id }}"
                              [checked]="selectedRole?.id===role.id"
                              (click)="selectRole(role)"
                            >
                            <label class="form-check-label" for="{{ role.id }}">
                              {{ role.roleName }}
                            </label>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </p-scrollPanel>
                </div>
              </ng-container>
              <ng-template #noSystemRoles>
                <div class="text-center">
                  <div *ngIf="!shouldShowRoles" class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div *ngIf="shouldShowRoles" class="text-warning">
                    {{ rolesErrorMessage }}
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="col-sm-8">
          <ng-container *ngIf="selectedRole?.id !== undefined;">
            <p-tabView>
              <p-tabPanel header="Roles and sub areas">
                <div class="row">
                  <div class="col-sm-6">
                    <p class="fw-bold">Role areas</p>
                    <p-scrollPanel [style]="{ width: '100%', height: '380px' }" styleClass="custombar1">
                      <ng-container *ngFor="let role of systemRoles">
                        <div class="mt-2">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              value="{{role}}"
                              [checked]="selectedRole===role"
                            >
                            <label class="form-check-label" for="roleArea">
                              {{ role.roleName }}
                            </label>
                          </div>
                        </div>
                      </ng-container>
                    </p-scrollPanel>
                  </div>
                  <div class="col-sm-6">
                    <p class="fw-bold">Process areas and sub areas</p>
                    <p-scrollPanel [style]="{ width: '100%', height: '380px' }" styleClass="custombar1">
                      <ng-container *ngFor="let role of processesAndSubareas">
                        <div class="mt-2">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              value="{{role}}"
                            >
                            <span
                              class="form-check-label" for="roleArea"
                              data-bs-toggle="collapse" [attr.href]="'#'+role"
                              role="button" aria-expanded="false"
                              aria-controls="collapseExample"
                            >
                            {{ role }} <i class="fa-solid fa-caret-down"></i>
                        </span>
                          </div>
                          <div class="collapse" [id]="role">
                            <ng-container *ngFor="let subArea of subAreas">
                              <div class="form-check ms-3">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value="{{subArea}}"
                                >
                                <label class="form-check-label" for="roleArea">
                                  {{ subArea }}
                                </label>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </ng-container>
                    </p-scrollPanel>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="Approval levels">
                <div class="row">
                  <div class="col-sm-4">
                    <p class="fw-bold text-primary">Sub areas</p>
                    <ng-container *ngFor="let role of systemRoles">
                      <div class="mt-2">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            value="{{role}}"
                            id="roleArea"
                            (click)="selectRole(role)"
                          >
                          <label class="form-check-label" for="roleArea">
                            {{ role }}
                          </label>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-4">
                        <p class="fw-bold text-primary">Authorization levels</p>
                      </div>
                      <div class="col-sm-8">
                        <div class="float-end">
                        <span class="icon-circle" data-bs-toggle="modal" data-bs-target="#renewRoleModal" >
                          <i class="fa-solid fa-plus"></i>
                        </span>
                          <span class="icon-circle"><i class="pi pi-pencil"></i></span>
                          <span class="icon-circle"><i class="fa-regular fa-trash-can"></i></span>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        table goes here
                      </div>
                    </div>

                    <div class="row mt-5">
                      <div class="col-sm-4">
                        <p class="fw-bold text-primary">Authorization limits</p>
                      </div>
                      <div class="col-sm-8">
                        <div class="float-end">
                        <span class="icon-circle" data-bs-toggle="modal" data-bs-target="#renewRoleModal" >
                          <i class="fa-solid fa-plus"></i>
                        </span>
                          <span class="icon-circle"><i class="pi pi-pencil"></i></span>
                          <span class="icon-circle"><i class="fa-regular fa-trash-can"></i></span>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        table goes here
                      </div>
                    </div>
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
          </ng-container>
          <!--<ng-template #noRoleAreas>
            <div class="text-center">
              <div *ngIf="!shouldShowRoleAreas" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div *ngIf="shouldShowRoleAreas" class="text-warning">
                No roles areas for selected role
              </div>
            </div>
          </ng-template>-->
        </div>

        <div class="col-sm-12 mt-3">
          <button class="btn btn-primary float-end">
            Confirm
          </button>
        </div>

      </div>
    </ng-container>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="renewRoleModal" tabindex="-1" aria-labelledby="renewRoleModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="fs-5 text-dark" id="exampleModalLabel">{{ 'crm.define_role' | translate }}</h1>
        <button #closebutton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="roleForm">
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="roleName" class="form-label">{{ 'crm.role_name' | translate }}</label>
                <input type="text" class="form-control" formControlName="roleName" id="roleName" aria-describedby="roleName">
              </div>
              <div class="mb-3">
                <label for="createdDate" class="form-label">{{ 'crm.created_date' | translate }}</label>
                <input type="date" class="form-control" formControlName="createdAt" id="createdDate">
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" formControlName="authorized" id="authorize">
                <label class="form-check-label text-dark" for="authorize">{{ 'crm.authorize' | translate }}?</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label for="shortDesc" class="form-label">{{ 'crm.short_description' | translate }}</label>
                <input type="text" class="form-control" formControlName="shortDesc" id="shortDesc" aria-describedby="shortDesc">
              </div>
              <div class="mb-3">
                <label for="status" class="form-label">{{ 'crm.status' | translate }}</label>
                <select class="form-select" formControlName="status" aria-label="Default select example" id="status">
                  <option selected>{{ 'crm.status' | translate }}</option>
                  <option value="A">{{ 'crm.active' | translate }}</option>
                  <option value="I">{{ 'crm.inactive' | translate }}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveDetails()">{{ 'crm.save_details' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!--confirm delete modal-->
<div class="modal fade" id="deleteRoleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-danger">{{ 'crm.confirm_delete' | translate }}!</h1>
        <button #closeDeleteButton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">{{ 'crm.are_you_sure' | translate }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'crm.cancel' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="deleteRole()">{{ 'crm.delete' | translate }}</button>
      </div>
    </div>
  </div>
</div>
