/* .main {
    padding: 40px;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    background-color: white;
    padding: 40px;
}

.progress-btn:hover {
    background: #9ecbf2;
}

.centered-table {
    margin: 0 auto;
    text-align: center;
}

.info-box {
    width: calc(35% - 100px);
    min-height: 200px;
    background-color: white;
    box-sizing: border-box;
    margin-right: 150px;
    border: 1px solid #ebeaea;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.rounded-btn {
    display: inline-block;
    border: none;
    border-radius: 50%;
    background-color: #eae8e8;
    padding: 20px;
}

.progress-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #00529B;
    border-radius: 4px;
    height: 40px;
}

.button-text {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
}

.info-label {
    font-size: 16px;
    color: black;
}

.info-number {
    font-size: 50px;
    color: black;
    font-weight: 500;
}

.dashboard-title {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media screen and (max-width: 1200px) {
    .info-box {
         width: 100%;
        
    }

    .container {
        width: 100%;
        height: auto;
        padding: 10px 10px 20px 10px;
    }

    .main {
        padding: 10px;
        height: auto;
    }
}

@media screen and (max-width: 576px) {
    .info-box {
        width: 100%;
    }

    .container {
        padding: 10px 10px 20px 10px;
        width: 100%;
        height: auto;
    }

    .main {
        padding: 10px;
        height: auto;
    }
} */

.main {
    padding: 20px;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    min-height: 120px;
    margin-bottom: 30px;
    padding-left: 50px;
    
}

.container > div {
    margin-right: 20px;
}

.info {
    display: flex;
    flex-grow: 1; /* Items in .info will distribute equally */
}

.info > div {
    flex-grow: 1; /* Each item in .info will take equal space */
    margin-right: 20px;
}

.label-name {
    color: grey;
    margin-right: 10px;
}

.label-desc {
    color: black;
}

.profile {
    padding-right: 30px;
}

.dashboard {
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
}

  .container2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: #FFF;
    border-radius: 6px;
}

.box {
    width: calc(33.33% - 60px);
    min-height: 100px;
    background-color: rgb(229, 240, 248);
    border-radius: 5px 13px 5px 5px;
    margin-right: 40px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box:nth-child(n + 5) {
    margin-top: 20px;
}

.box:hover {
    background-color: rgb(156, 208, 244);
    cursor: pointer;
}

table {
    width: 90%;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.td-data {
    color: black;
    white-space: nowrap;
}

td:first-child {
    width: 50%;
    font-weight: 500;
}

.active-label {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00529B;
    color: white;
    padding: 1px 10px 1px 20px;
    border-radius: 0 15px 0 20px;
    width: 100px;
}

.title {
    width: 100%;
    margin-bottom: 10px;
    color: #000;
}

.scroll-content {
    overflow-x: auto;
    flex-grow: 1;
}

@media (max-width: 1200px) {
    .box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        flex-wrap: wrap;
    }

    .container > div {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        text-align: center;
    }

    .info > div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .profile {
        width: 100%;
        text-align: center;
        padding-left: 20px;
    }
}
