.flexible-header {
    white-space: nowrap;
    width: auto;
    text-align: left;
}

/* .ui-datatable th, .ui-datatable td {
    white-space: nowrap;
} */
.ui-datatable th,
.ui-datatable td {
    white-space: nowrap;
}
#icon {
    background-color: #E4E7EB;
    border-radius: 100px;
    border: none;
}

#icon i {
    color: #00529B;
}
.modalTitle {
    font-weight: 700;
    font-size: 20px;
    color: #000;
}