.titleMain{
    color: #000;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.summary-label{
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.summary-value{
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left:-30px
}
/* #value{
    margin-left: -40px;
} */
#shareLabel{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#shareInput{
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    color:  #000;
    font-family: Roboto;
    font-size: 16px;
}
#clientName{
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    color:  #000;
    font-family: Roboto;
    font-size: 16px;
}
.radio-placeholder{
    color: #000;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cancelQouteTitle{
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.btn{
    /* border-radius: 4px; */
border: 1px solid #00529B;
}
#closeBtn{
    width:73px;
    margin-right: -20px;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* text-align: left; */
}
::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.6rem 0.6rem;
  padding-left: 0rem;
  color: rgba(0, 0, 0, 0.80);
  font-weight: 600;


}
#closeBtn{
    font-size: 15px;
}

.options {
    position: relative;
    display: inline-block;
    ;
  }
  
  /* .options button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
  } */
  #ellipsis{
    border:none;
  }
  
  
  .options-content {
    position: absolute;
    top: 0;
    left: 100%;
    /* display: none; */
    flex-direction: row; /* Align buttons horizontally */
    background-color: #fff;
    border: 8px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding-right: 15px;
    margin-left: 20px;
    padding-left: 5px;

  }
  
  .options-content button {
    padding: 3px;
    padding-right: 5px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .options:hover .options-content {
    display:block;
  }
  
  
  #optionsButton{
    background-color: white;
    border: none;
    color: #000;
    font-size: 16px;
    text-align: left;
    outline: none;
  }
  /* #optionsButton:active,
  #optionsButton:focus {
    border-color: purple; 
    outline: none; 
  } */
  #optionsButton-delete{
    background-color: white;
    border: none;
    color:#EE3945;
    font-size: 16px;
    text-align: left;
  }
  .dropdown-item.active, .dropdown-item:active {
  
    background-color: #00529B;
}
#shareQuoteLabel{
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#shareInput{
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  color:  #000;
  font-family: Roboto;
  font-size: 14px;
}
