.titleMain{
    color: #000;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.summary-label{
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.summary-value{
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* margin-left:-30px */
}
/* #value{
    margin-left: -40px;
} */
#shareLabel{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#shareInput{
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    color:  #000;
    font-family: Roboto;
    font-size: 16px;
}
#clientName{
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    color:  #000;
    font-family: Roboto;
    font-size: 16px;
}
.radio-placeholder{
    color: #000;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cancelQouteTitle{
    color: #000;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.cancelQouteParagraph{
  color: #000;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.btn{
    /* border-radius: 4px; */
border: 1px solid #00529B;
}
#closeBtn{
    width:73px;
    margin-right: -20px;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.6rem 0.6rem;
    padding-left: 0rem
    /* text-align: left; */
}
::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.6rem 0.6rem;
  padding-left: 0rem;
  color: rgba(0, 0, 0, 0.80);
  font-weight: 500;


}
#closeBtn{
    font-size: 15px;
}

.options {
    position: relative;
    display: inline-block;
    ;
  }

  /* .options button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
  } */
  #ellipsis{
    border:none;
  }


  .options-content {
    position: absolute;
    top: 0;
    left: 100%;
    /* display: none; */
    flex-direction: row; /* Align buttons horizontally */
    background-color: #fff;
    border: 8px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding-right: 15px;
    margin-left: 20px;
    padding-left: 5px;

  }

  .options-content button {
    padding: 3px;
    padding-right: 5px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .options:hover .options-content {
    display:block;
  }


  #optionsButton{
    background-color: white;
    border: none;
    color: #000;
    font-size: 16px;
    text-align: left;
    outline: none;
  }
  /* #optionsButton:active,
  #optionsButton:focus {
    border-color: purple;
    outline: none;
  } */
  #optionsButton-delete{
    background-color: white;
    border: none;
    color:#EE3945;
    font-size: 16px;
    text-align: left;
  }
  .dropdown-item.active, .dropdown-item:active {

    background-color: #00529B;
}
#shareQuoteLabel{
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#shareInput{
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  color:  #000;
  font-family: Roboto;
  font-size: 14px;
}
#icon {
  background-color: #E4E7EB;
  border-radius: 100px;
  border: none;
}

#icon i {
  color: #00529B;
}
.nav-link.active {
  color: #00529B !important;
  font-weight: 500;


}
.nav-link {
  display: inline-block;  /* Keeps the link inline but allows for width control */
  position: relative;  /* Allows positioning of the line */
  padding-bottom: 0px;
  cursor: pointer;
}

.nav-link::after {
  content: '';  /* Creates an empty element */
  position: absolute;
  left: 13%;
  right: 13%;
  bottom: 0;
  height: 2px;
}
.nav-link.active::after {
  background-color: #00529B;  /* Optional: Change the line color when the link is active */
}

.nav-item {
  margin-right: 20px;
  margin-left:-20px;
}
.deleteMessage{
  color: #000;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.nav-item:last-child {
  margin-right: 0;  /* Remove margin on the last item to avoid extra space */
}
.center-message {
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}
#compute{
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* border-radius: 4px; */
  /* background: #00529B; */
}
.card{
  border: none;
}

