.titleMain{
    color: #000;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.summary-label{
    color: rgba(0, 0, 0, 0.60);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.summary-value{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#value{
    margin-left: -40px;
}
#shareLabel{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#shareInput{
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    color:  #000;
    font-family: Roboto;
    font-size: 16px;
}
#clientName{
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    color:  #000;
    font-family: Roboto;
    font-size: 16px;
}
.radio-placeholder{
    color: #000;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cancelQouteTitle{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.btn{
    border-radius: 4px;
border: 1px solid #00529B;
}
#closeBtn{
    width:73px;
    margin-right: -20px;
}
::ng-deep .p-datatable .p-datatable-thead > tr > th {
    padding: 0.3rem 1rem; 
    color: rgba(0, 0, 0, 0.60);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}