.main {
    padding: 20px;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: #FFF;
    border-radius: 6px;
}

.box {
    width: calc(33.33% - 60px);
    min-height: 100px;
    background-color: rgb(229, 240, 248);
    border-radius: 5px 13px 5px 5px;
    margin-right: 40px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box:hover {
    background-color: rgb(156, 208, 244);
    cursor: pointer;
}

table {
    width: 90%;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.td-data {
    color: black;
    white-space: nowrap;
}

td:first-child {
    width: 50%;
    font-weight: 500;
}

.active-label {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00529B;
    color: white;
    padding: 1px 10px 1px 20px;
    border-radius: 0 15px 0 20px;
    width: 100px;
}

.title {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.scroll-content {
    overflow-x: auto;
    flex-grow: 1;
}

@media (max-width: 1200px) {
    .box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        overflow: auto;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        flex-wrap: wrap;
    }

    .container > div {
        margin-right: 0;
        margin-bottom: 10px;
    }
}