.full-border {
  padding: 2rem 10rem;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.34);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 0.8em;
}
div > div > span:nth-child(1) {
  color: gray;
  font-weight: 400;
}

div > div > span:nth-child(2) {
  color: black;
  font-weight: 800;
}

.cursor-pointer {
  cursor: pointer;
  color: var(--primary-color) !important;
}
