<div class="base-content-section">
  <div class="me-4">
    <app-dynamic-breadcrumb [breadCrumbItems]="dynamicConfigBreadCrumbItems">
    </app-dynamic-breadcrumb>
  </div>
  <div class="container mt-4 section-container bg-white">
    <div class="row">
      <!-- Sub Modules -->
      <div class="col-md-2 border-end p-3">
        <h4 class="column-title">{{ 'crm.subModules' | translate }}</h4>
        <div class="edit-row" *ngFor="let subModule of subModules">
          <label class="form-label" (click)="onClickSubModule(subModule)"
                 [class.highlight]="selectedSubModule?.code === subModule.code"
          >
            {{ subModule.label?.[language] | titlecase }}
          </label>
          <span class="text-primary edit-link" role="button" (click)="editSubModule(subModule)">{{ 'crm.edit' | translate }}</span>
        </div>
      </div>

      <!-- Screens -->
      <div class="col-md-2 border-end p-3" *ngIf="selectedSubModule && showScreens && screens.length > 0">
        <h4 class="column-title">{{ 'crm.screens' | translate }}</h4>
        <div class="edit-row" *ngFor="let screen of screens">
          <label class="form-label" (click)="onClickScreen(screen)"
                 [class.highlight]="selectedScreen?.code === screen.code"
          >
            {{ screen.label?.[language] | titlecase }}
          </label>
          <span class="text-primary edit-link" role="button" (click)="editScreens(screen)">{{ 'crm.edit' | translate }}</span>
        </div>
      </div>

      <!-- Sections -->
      <div class="col-md-2 border-end p-3" *ngIf="selectedScreen && showSections">
        <h4 class="column-title">{{ 'crm.sections' | translate }}</h4>
        <div class="edit-row" *ngFor="let section of sections">
          <label class="form-label" (click)="onClickSection(section)"
                 [class.highlight]="selectedSection?.code === section.code"
          >
            {{ section.label?.[language] | titlecase }}
          </label>
          <span class="text-primary edit-link" role="button" (click)="editSections(section)">{{ 'crm.edit' | translate }}</span>
        </div>
      </div>

      <!-- Sub Sections -->
      <div class="col-md-3 border-end p-3" *ngIf="selectedScreen && selectedSection && showSubSections">
        <h4 class="column-title">{{ 'crm.subSections' | translate }}</h4>
        <div class="edit-row" *ngFor="let subSection of subSections">
          <label class="form-label" (click)="onClickSubSection(subSection)"
                 [class.highlight]="selectedSubSection?.code === subSection.code">
            {{ subSection.label?.[language] | titlecase }}
          </label>
          <span class="text-primary edit-link" role="button" (click)="editSubSections(subSection)">{{ 'crm.edit' | translate }}</span>
        </div>
      </div>

      <!-- Sub Sections 2-->
      <div class="col-md-3 p-3" *ngIf="selectedScreen && selectedSection && showSubSections && showSubSectionsTwo && subSectionsTwo?.length > 0">
        <h4 class="column-title">{{ 'crm.subSectionsTwo' | translate }}</h4>
        <div class="edit-row" *ngFor="let subSectionTwo of subSectionsTwo">
          <label class="form-label" (click)="onClickSubSectionTwo(subSectionTwo)"
                 [class.highlight]="selectedSubSectionTwo?.code === subSectionTwo.code">
            {{ subSectionTwo.label?.[language] | titlecase }}
          </label>
          <span class="text-primary edit-link" role="button" (click)="editSubSectionsTwo(subSectionTwo)">{{ 'crm.edit' | translate }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4 section-container bg-white" *ngIf="showFields">
    <div class="row mb-3 mx-md-1">
      <div class="col-sm-12 col-md-6">
        <h5 class="my-3 text-dark">
          {{tableTitle | titlecase}}
          {{ isTableColumns ? ('crm.columns' | translate) : ('crm.fields' | translate) }}
        </h5>
        <input
          type="text"
          class="form-control w-50"
          placeholder="Search by label"
          (input)="filterFields($event)"
        />
      </div>
      <div class="col-sm-12 col-md-6 d-flex justify-content-end align-items-end gap-2">
        <!-- Caret Dropdown-style Button -->
        <button class="btn btn-outline-secondary d-flex align-items-center justify-content-center p-2"
                (click)="columnDialogVisible = true"
                style="width: 25px; height: 25px; border-radius: 0.5rem;">
          <i class="fa-solid fa-caret-down fs-5 text-dark"></i>
        </button>

        <p-dialog header="{{ 'crm.columns' | translate }}" [(visible)]="columnDialogVisible" [modal]="true" [style]="{width: '330px'}">
          <div *ngFor="let col of filteredColumns">
            <div class="form-check form-check-inline float-start">
              <input class="form-check-input" type="checkbox" value="" id="checkChecked" [checked]="col.visible" [(ngModel)]="col.visible">
              <label class="form-check-label" for="checkChecked">
                {{ col.header | titlecase }}
              </label>
            </div>
          </div>
        </p-dialog>

      </div>
      <div class="mt-3">
        <p-table
          #dt2
          [value]="tableData"
          [paginator]="true"
          [rows]="pageSize || 10"
          [totalRecords]="tableData?.length"
          [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
          responsiveLayout="stack"
          scrollHeight="400px"
          [scrollable]="true"
          [resizableColumns]="true"
          [globalFilterFields]="['label']"
        >

          <ng-template pTemplate="header">
            <tr>
              <ng-container *ngFor="let col of filteredColumns">
                <th *ngIf="col.visible"
                    [pSortableColumn]="col.field">
                  {{ col.header | titlecase }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
              </ng-container>
              <th class="text-center" style="width: 2%">Action</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData">
              <ng-container *ngFor="let col of filteredColumns">
                <td *ngIf="col.visible">
                  <ng-container [ngSwitch]="col.field">
                    <span *ngSwitchCase="'label'">
                      {{ rowData.label[language] | titlecase }}
                    </span>
                    <span *ngSwitchCase="'visible'">
                      {{ rowData?.visible === true ? 'Yes' : 'No' }}
                    </span>
                    <span *ngSwitchCase="'disabled'">
                      {{ rowData?.disabled === true ? 'Yes' : 'No' }}
                    </span>
                    <span *ngSwitchCase="'mandatory'">
                      {{ rowData?.mandatory === true ? 'Yes' : 'No' }}
                    </span>
                    <span *ngSwitchCase="'order'">
                      {{ rowData?.order }}
                    </span>
                    <span *ngSwitchCase="'type'">
                      {{ rowData?.type | titlecase }}
                    </span>
                    <span *ngSwitchCase="'validations'">
                      <span [title]="getValidationTypes(rowData?.validations)" *ngIf="rowData?.validations?.length">
                        {{ rowData?.validations?.length }}
                      </span>
                      <span *ngIf="!rowData?.validations?.length">0</span>
                    </span>
                    <span *ngSwitchDefault>
                      {{ rowData[col.field] }}
                    </span>
                  </ng-container>
                </td>
              </ng-container>
              <td *ngIf="tableData?.length > 0" class="text-center">
                <div>
                  <a role="button" class="text-primary" (click)="editSelectedRecord(rowData)">{{ 'crm.edit' | translate }}</a>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="filteredColumns?.length + 1" class="text-center">
                {{'crm.noRecordsFound' | translate}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <ng-container *ngIf="selectedSubModule">
    <div class="float-start my-3">
      <button class="btn btn-outline-primary me-2" (click)="importSetup()">{{ 'crm.importSetup' | translate }}</button>
      <button class="btn btn-outline-primary" (click)="openExportSetupModal()">{{ 'crm.exportSetup' | translate }}</button>
    </div>
    <div class="float-end my-3">
      <button class="btn btn-primary" (click)="previewSetup()" *ngIf="this.selectedSection && !isTableColumns">{{ 'crm.preview' | translate }}</button>
      <button class="btn btn-primary" (click)="publishChanges()">{{ 'crm.publish' | translate }}</button>
    </div>
  </ng-container>

</div>

<!--Sub modules modal-->
<div
  class="modal fade"
  #subModuleModal
  id="subModuleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog modal-dialog-centered align-items-center">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-primary" id="exampleModalLabel">{{ 'crm.editSubModules' | translate }}</h5>
        <div class="ms-auto">
          <span class="nav-item dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span [class]="defaultLanguage" style="border-radius: 700px;  font-size: 1.7rem;"></span>
              <i class="fas fa-angle-down text-primary ms-2"></i>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let language of languages">
                <a class="dropdown-item" href="javascript:void(0)" (click)="selectLanguage(language)">
                  <span [class]="language.class"></span>
                  <span style="color: black; font-size: 14px;"> {{language.lang}}</span>
                </a>
              </li>
            </ul>
          </span>
        </div>
        <button
          type="button"
          class="btn-close"
          (click)="closeSubModulesModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="subModulesForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.subModulesLabel' | translate }}
                <span class="text-primary" style="font-size: .9rem;">({{ 'crm.original' | translate }})</span>
              </label>
              <input
                type="text"
                formControlName="originalSubModulesLabel"
                id="originalSubModulesLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.module' | translate }}
              </label>
              <input
                type="text"
                formControlName="module"
                id="module"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.subModulesLabel' | translate }}
                <span class="text-primary" style="font-size: .9rem;">({{ 'crm.current' | translate }})</span>
              </label>
              <input
                type="text"
                formControlName="currentSubModulesLabel"
                id="currentSubModulesLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label w-100" >
                {{ 'crm.visible' | translate }}
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="Y" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">{{ 'entities.yes' | translate }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="N" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">{{ 'entities.no' | translate }}</label>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.subModulesLevel' | translate }}
              </label>
              <select
                formControlName="subModuleLevel"
                id="subModuleLevel"
                class="form-select"
              >
                <option value="">{{ 'crm.selectSubModuleLevel' | translate }}</option>
                <option *ngFor="let i of [].constructor(subModules?.length); let j = index" [value]="j+1">{{j+ 1}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-outline-primary" (click)="closeSubModulesModal()">{{ 'crm.cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="saveSubModules()">{{ 'crm.saveChanges' | translate }}</button>
      </div>

    </div>
  </div>
</div>

<!--Screens modal-->
<div
  class="modal fade"
  #screensModal
  id="screensModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog modal-dialog-centered align-items-center">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-primary" id="exampleModalLabel"> {{ 'crm.editScreens' | translate }}</h5>
        <div class="ms-auto">
          <span class="nav-item dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span [class]="defaultLanguage" style="border-radius: 700px;  font-size: 1.7rem;"></span>
              <i class="fas fa-angle-down text-primary ms-2"></i>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let language of languages">
                <a class="dropdown-item" href="javascript:void(0)" (click)="selectLanguage(language)">
                  <span [class]="language.class"></span>
                  <span style="color: black; font-size: 14px;"> {{language.lang}}</span>
                </a>
              </li>
            </ul>
          </span>
        </div>
        <button
          type="button"
          class="btn-close"
          (click)="closeScreensModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="screensForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.screenLabel' | translate }}
                <span class="text-primary" style="font-size: .9rem;">({{ 'crm.original' | translate }})</span>
              </label>
              <input
                type="text"
                formControlName="originalScreenLabel"
                id="originalScreenLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.subModule' | translate }}
              </label>
              <select
                formControlName="subModule"
                id="subModule"
                class="form-select"

              >
                <option value="">{{ 'crm.selectSubModule' | translate }}</option>
                <option *ngFor="let subModule of subModules"
                        value="{{ subModule.code }}">
                  {{subModule?.originalLabel}}
                </option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.screenLabel' | translate }}
                <span class="text-primary" style="font-size: .9rem;">({{ 'crm.current' | translate }})</span>
              </label>
              <input
                type="text"
                formControlName="currentScreenLabel"
                id="currentScreenLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label w-100" >
                {{ 'crm.visible' | translate }}
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="Y" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">{{ 'entities.yes' | translate }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="N" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">{{ 'entities.no' | translate }}</label>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.screenLevel' | translate }}
              </label>
              <select
                formControlName="screenLevel"
                id="screenLevel"
                class="form-select"
              >
                <option value="">{{ 'crm.selectScreenLevel' | translate }}</option>
                <option *ngFor="let i of [].constructor(screens?.length); let j = index" [value]="j+1">{{j+ 1}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-outline-primary" (click)="closeScreensModal()">{{ 'crm.cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="saveScreens()">{{ 'crm.saveChanges' | translate }}</button>
      </div>

    </div>
  </div>
</div>

<!--Sections modal-->
<div
  class="modal fade"
  #sectionsModal
  id="sectionsModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog modal-dialog-centered align-items-center">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-primary" id="exampleModalLabel"> {{ 'crm.editSections' | translate }}</h5>
        <div class="ms-auto">
          <span class="nav-item dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span [class]="defaultLanguage" style="border-radius: 700px;  font-size: 1.7rem;"></span>
              <i class="fas fa-angle-down text-primary ms-2"></i>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let language of languages">
                <a class="dropdown-item" href="javascript:void(0)" (click)="selectLanguage(language)">
                  <span [class]="language.class"></span>
                  <span style="color: black; font-size: 14px;"> {{language.lang}}</span>
                </a>
              </li>
            </ul>
          </span>
        </div>
        <button
          type="button"
          class="btn-close"
          (click)="closeSectionsModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="sectionsForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.sectionLabel' | translate }}
                <span class="text-primary" style="font-size: .9rem;">({{ 'crm.original' | translate }})</span>
              </label>
              <input
                type="text"
                formControlName="originalSectionLabel"
                id="originalSectionLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.screen' | translate }}
              </label>
              <select
                formControlName="screen"
                id="screen"
                class="form-select"
              >
                <option value="">select screen</option>
                <option *ngFor="let screen of screens"
                        value="{{ screen?.code}}">
                  {{ screen?.originalLabel }}
                </option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.sectionLabel' | translate }}
                <span class="text-primary" style="font-size: .9rem;">({{ 'crm.current' | translate }})</span>
              </label>
              <input
                type="text"
                formControlName="currentSectionLabel"
                id="currentSectionLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label w-100" >
                {{ 'crm.visible' | translate }}
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="Y" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">{{ 'entities.yes' | translate }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="N" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">{{ 'entities.no' | translate }}</label>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.sectionLevel' | translate }}
              </label>
              <select
                formControlName="sectionLevel"
                id="sectionLevel"
                class="form-select"
              >
                <option value="">{{ 'crm.selectSectionLevel' | translate }}</option>
                <option *ngFor="let i of [].constructor(sections?.length); let j = index" [value]="j+1">{{j+ 1}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-outline-primary" (click)="closeSectionsModal()">{{ 'crm.cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="saveSections()">{{ 'crm.saveChanges' | translate }}</button>
      </div>

    </div>
  </div>
</div>

<!--Sub Sections modal-->
<div
  class="modal fade"
  #subSectionsModal
  id="subSectionsModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog modal-dialog-centered align-items-center">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-primary" id="exampleModalLabel"> {{ 'crm.editSubSections' | translate }}</h5>
        <div class="ms-auto">
          <span class="nav-item dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span [class]="defaultLanguage" style="border-radius: 700px;  font-size: 1.7rem;"></span>
              <i class="fas fa-angle-down text-primary ms-2"></i>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let language of languages">
                <a class="dropdown-item" href="javascript:void(0)" (click)="selectLanguage(language)">
                  <span [class]="language.class"></span>
                  <span style="color: black; font-size: 14px;"> {{language.lang}}</span>
                </a>
              </li>
            </ul>
          </span>
        </div>
        <button
          type="button"
          class="btn-close"
          (click)="closeSubSectionsModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="subSectionsForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.subSectionLabel' | translate }}
                <span class="text-primary" style="font-size: .9rem;">({{ 'crm.original' | translate }})</span>
              </label>
              <input
                type="text"
                formControlName="originalSubSectionLabel"
                id="originalSubSectionLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.section' | translate }}
              </label>
              <select
                formControlName="section"
                id="section"
                class="form-select"
              >
                <option value="">{{ 'crm.selectSection' | translate }}</option>
                <option *ngFor="let section of sections"
                        value="{{ section?.code}}">
                  {{ section?.originalLabel }}
                </option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.subSectionLabel' | translate }}
                <span class="text-primary" style="font-size: .9rem;">({{ 'crm.current' | translate }})</span>
              </label>
              <input
                type="text"
                formControlName="currentSubSectionLabel"
                id="currentSubSectionLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label w-100" >
                {{ 'crm.visible' | translate }}
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="Y" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">{{ 'entities.yes' | translate }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="N" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">{{ 'entities.no' | translate }}</label>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.subSectionLevel' | translate }}
              </label>
              <select
                formControlName="subSectionLevel"
                id="subSectionLevel"
                class="form-select"
              >
                <option value="">{{ 'crm.selectSubSectionLevel' | translate }}</option>
                <option *ngFor="let i of [].constructor(subSections?.length); let j = index" [value]="j+1">{{j+ 1}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-outline-primary" (click)="closeSubSectionsModal()">{{ 'crm.cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="saveSubSections()">{{ 'crm.saveChanges' | translate }}</button>
      </div>

    </div>
  </div>
</div>

<!--Sub Section Two modal-->
<div
  class="modal fade"
  #subSectionTwoModal
  id="subSectionTwoModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog modal-dialog-centered align-items-center">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-primary" id="exampleModalLabel"> {{ 'crm.editSubSectionsTwo' | translate }}</h5>
        <div class="ms-auto">
          <span class="nav-item dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span [class]="defaultLanguage" style="border-radius: 700px;  font-size: 1.7rem;"></span>
              <i class="fas fa-angle-down text-primary ms-2"></i>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let language of languages">
                <a class="dropdown-item" href="javascript:void(0)" (click)="selectLanguage(language)">
                  <span [class]="language.class"></span>
                  <span style="color: black; font-size: 14px;"> {{language.lang}}</span>
                </a>
              </li>
            </ul>
          </span>
        </div>
        <button
          type="button"
          class="btn-close"
          (click)="closeSubSectionTwoModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="subSectionTwoForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.subSectionTwoLabel' | translate }}
                <span class="text-primary" style="font-size: .9rem;">({{ 'crm.original' | translate }})</span>
              </label>
              <input
                type="text"
                formControlName="originalSubSectionTwoLabel"
                id="originalSubSectionTwoLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.section' | translate }}
              </label>
              <select
                formControlName="section"
                id="section"
                class="form-select"
              >
                <option value="">{{ 'crm.selectSection' | translate }}</option>
                <option *ngFor="let section of subSections"
                        value="{{ section?.code}}">
                  {{ section?.originalLabel }}
                </option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.subSectionTwoLabel' | translate }}
                <span class="text-primary" style="font-size: .9rem;">({{ 'crm.current' | translate }})</span>
              </label>
              <input
                type="text"
                formControlName="currentSubSectionTwoLabel"
                id="currentSubSectionTwoLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label w-100" >
                {{ 'crm.visible' | translate }}
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="Y" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">{{ 'entities.yes' | translate }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="N" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">{{ 'entities.no' | translate }}</label>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ 'crm.subSectionTwoLevel' | translate }}
              </label>
              <select
                formControlName="subSectionTwoLevel"
                id="subSectionTwoLevel"
                class="form-select"
              >
                <option value="">{{ 'crm.selectSubSectionTwoLevel' | translate }}</option>
                <option *ngFor="let i of [].constructor(subSectionsTwo?.length); let j = index" [value]="j+1">{{j+ 1}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-outline-primary" (click)="closeSubSectionTwoModal()">{{ 'crm.cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="saveSubSectionTwo()">{{ 'crm.saveChanges' | translate }}</button>
      </div>

    </div>
  </div>
</div>

<!--Fields edit modal-->
<div
  class="modal fade"
  #fieldsModal
  id="fieldsModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable align-items-center">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-primary" id="exampleModalLabel">
          {{ isTableColumns ? ('crm.editTableColumns' | translate) : ('crm.editFieldProperties' | translate) }}
        </h5>
        <div class="ms-auto">
          <span class="nav-item dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span [class]="defaultLanguage" style="border-radius: 700px;  font-size: 1.7rem;"></span>
              <i class="fas fa-angle-down text-primary ms-2"></i>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let language of languages">
                <a class="dropdown-item" href="javascript:void(0)" (click)="selectLanguage(language)">
                  <span [class]="language.class"></span>
                  <span style="color: black; font-size: 14px;"> {{language.lang}}</span>
                </a>
              </li>
            </ul>
          </span>
        </div>

        <button
          type="button"
          class="btn-close"
          (click)="closeFieldsModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="fieldsForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ isTableColumns ? ('crm.columnLabel' | translate) : ('crm.fieldLabel' | translate) }}
                <span class="text-primary" style="font-size: .9rem;">({{ 'crm.original' | translate }})</span>
              </label>
              <input
                type="text"
                formControlName="originalFieldLabel"
                id="originalFieldLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3" *ngIf="!isTableColumns">
              <label class="form-label" >
                {{ 'crm.placeholder' | translate }}
              </label>
              <input
                type="text"
                formControlName="placeholder"
                id="placeholder"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" >
                {{ isTableColumns ? ('crm.columnLabel' | translate) : ('crm.fieldLabel' | translate) }}
                <span class="text-primary" style="font-size: .9rem;">({{ 'crm.current' | translate }})</span>
              </label>
              <input
                type="text"
                formControlName="currentFieldLabel"
                id="currentFieldLabel"
                class="form-control"

              />
            </div>
            <div class="col-md-6 mb-3" *ngIf="!isTableColumns">
              <label class="form-label" >
                {{ 'crm.inputType' | translate }}
              </label>
              <select
                formControlName="inputType"
                id="inputType"
                class="form-select"
              >
                <option value=""></option>
                <option value="text">text</option>
                <option value="select">select</option>
                <option value="number">number</option>
                <option value="date">date</option>
                <option value="tel">tel</option>
                <option value="textarea">textarea</option>
                <option value="checkbox">checkbox</option>
                <option value="radio">radio</option>
                <option value="file">file</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label w-100" >
                {{ 'crm.visible' | translate }}
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="Y" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">{{ 'entities.yes' | translate }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="visibility" value="N" formControlName="visible">
                <label class="form-check-label text-dark" for="visibility">{{ 'entities.no' | translate }}</label>
              </div>
            </div>
            <div class="col-md-6 mb-3" *ngIf="!isTableColumns">
              <label class="form-label w-100" >
                {{ 'crm.mandatory' | translate }}
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="mandatory" value="Y" formControlName="mandatory">
                <label class="form-check-label text-dark" for="mandatory">{{ 'entities.yes' | translate }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="mandatory" value="N" formControlName="mandatory">
                <label class="form-check-label text-dark" for="mandatory">{{ 'entities.no' | translate }}</label>
              </div>
            </div>
            <div class="col-md-6 mb-3" *ngIf="!isTableColumns">
              <label class="form-label w-100" >
                {{ 'crm.disabled' | translate }}
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="disabled" value="Y" formControlName="disabled">
                <label class="form-check-label text-dark" for="disabled">{{ 'entities.yes' | translate }}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="disabled" value="N" formControlName="disabled">
                <label class="form-check-label text-dark" for="disabled">{{ 'entities.no' | translate }}</label>
              </div>
            </div>
            <div class="col-md-6 mb-3" *ngIf="!isTableColumns">
              <label class="form-label" >
                {{ 'crm.sections' | translate }}
              </label>
              <select
                formControlName="section"
                id="section"
                class="form-select"
              >
                <option value="">{{ 'crm.selectSection' | translate }}</option>
                <option *ngFor="let section of sections"
                        value="{{ section?.code}}">
                  {{ section?.originalLabel }}
                </option>
              </select>
            </div>

            <div class="col-md-6 mb-3" *ngIf="!isTableColumns">
              <label class="form-label w-100" >
                {{ 'crm.toolTips' | translate }}
              </label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="tooltips" value="Y" formControlName="tooltips">
                <label class="form-check-label text-dark" for="tooltips">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="tooltips" value="N" formControlName="tooltips">
                <label class="form-check-label text-dark" for="tooltips">No</label>
              </div>
            </div>
            <div class="col-md-6 mb-3" *ngIf="!isTableColumns">
              <label class="form-label" >
                {{ 'crm.toolTipWords' | translate }}
              </label>
              <input
                type="text"
                formControlName="tooltip"
                id="tooltip"
                class="form-control"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">
                {{ 'crm.order' | translate }}
              </label>
              <select
                formControlName="order"
                id="order"
                class="form-select"
              >
                <option value="">{{ 'crm.selectOrder' | translate }}</option>
                <option *ngFor="let i of [].constructor(tableData?.length); let j = index" [value]="j+1">{{ j + 1 }}
                </option>
              </select>
            </div>

            <div class="container mb-3" *ngIf="!isTableColumns">
              <div class="d-flex align-items-center mb-2">
                <span class="text-dark me-2">{{ 'crm.validations' | translate }}</span>
                <button class="btn btn-link p-0 text-primary" (click)="addSection()"
                        [disabled]="getRemainingValidations().length === 0 || selectedTableRecordDetails?.isProtected === true">
                  <span class="icon-circle">
                    <i class="fa-solid fa-plus"></i>
                  </span>
                </button>
              </div>

              <div formArrayName="validations">
                <div
                  *ngFor="let group of validations.controls; let i = index"
                  [formGroupName]="i"
                  class="row mb-3"
                >
                  <!-- Validation type dropdown -->
                  <div class="col-md-3">
                    <select class="form-select" formControlName="type">
                      <option [ngValue]=""></option>
                      <option
                        *ngFor="let option of getRemainingValidations(group.get('type')?.value)"
                        [value]="option"
                      >
                        {{ option | titlecase }}
                      </option>
                    </select>
                  </div>

                  <!-- Value input -->
                  <div class="col-md-4">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="value"
                      [placeholder]="group.get('type')?.value ? 'Enter ' + group.get('type')?.value + ' value' : ''"
                    />
                  </div>

                  <!-- Error message input -->
                  <div class="col-md-4">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="message"
                      placeholder="Error message"
                    />
                  </div>

                  <!-- Remove button -->
                  <div class="col-md-1 align-content-center">
                    <span role="button" (click)="removeSection(i)">
                      <i class="fa fa-trash-can text-danger"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-outline-primary" (click)="closeFieldsModal()">{{ 'crm.cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="saveFieldProperties()">{{ 'crm.saveChanges' | translate }}</button>
      </div>

    </div>
  </div>
</div>

<!--Multilingual confirmation modal-->
<div class="modal fade" id="multilingualModal" aria-labelledby="multilingualModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content position-relative p-4">
      <div class="d-flex align-items-center">
        <div
          class="d-flex justify-content-center align-items-center rounded-circle bg-primary bg-opacity-25 me-4"
          style="width: 60px; height: 60px;"
        >
          <i class="fas fa-info text-primary" style="font-size: 1.5rem;"></i>
        </div>
        <div>
          <h5 class="fw-bold mb-2">Info</h5>
          <p class="text-muted mb-3">
            {{ 'crm.updateInAnotherLanguage' | translate }}
          </p>
          <div class="d-flex justify-content-center gap-2">
            <button
              type="button"
              class="btn btn-outline-primary btn-md"
              (click)="closeMultilingualModal()"
            >
              {{ 'entities.no' | translate }}
            </button>
            <button type="button" class="btn btn-primary btn-md" (click)="closeMultilingualModal(true)">
              {{ 'entities.yes' | translate }}
            </button>
          </div>
        </div>
      </div>

      <!-- Close button -->
      <button
        type="button"
        class="btn-close position-absolute top-0 end-0 m-3"
        (click)="closeMultilingualModal()"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>

<!--Export setup modal-->
<div
  class="modal fade"
  #exportSetupModal
  id="exportSetupModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable align-items-center">
    <div class="modal-content">
      <div class="modal-header d-block border-bottom-0">
        <h5 class="modal-title text-primary" id="exampleModalLabel">{{ 'crm.exportSetup' | translate }}</h5>

        <button
          type="button"
          class="btn-close position-absolute top-0 end-0 m-3"
          (click)="closeExportSetupModal()"
          aria-label="Close"
        ></button>
        <div class="d-flex align-items-center">
          <div
            class="d-flex justify-content-center align-items-center rounded-circle bg-primary bg-opacity-25 me-2"
            style="width: 22px; height: 22px;"
          >
            <i class="fas fa-info text-primary" style="font-size: 1.0rem;"></i>
          </div>
          <div>
            <label class="text-muted">{{ 'crm.publishedChangesWillBeExported' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label" for="subModules">{{ 'crm.subModules' | translate }}</label>
          <select class="form-select" id="subModules" aria-label="Export type" (change)="onClickExportSubModule()" [(ngModel)]="selectedExportSubmodule">
            <option [ngValue]=""></option>
            <option *ngFor="let submodule of subModules"
                    [ngValue]="submodule">
              {{ submodule?.label?.[language] }}
            </option>
          </select>
        </div>
        <div class="mb-3" *ngIf="showExportScreens">
          <label class="form-label" for="screens">{{ 'crm.screens' | translate }}</label>
          <select class="form-select" id="screens" aria-label="Export type" (change)="onClickExportScreen()" [(ngModel)]="selectedExportScreen">
            <option [ngValue]=""></option>
            <option *ngFor="let screen of screens"
                    [ngValue]="screen">
              {{ screen?.label?.[language] }}
            </option>
          </select>
        </div>
        <div class="mb-3" *ngIf="showExportSections">
          <label class="form-label" for="sections">{{ 'crm.sections' | translate }}</label>
          <select class="form-select" id="sections" aria-label="Export type" (change)="onClickExportSection()" [(ngModel)]="selectedExportSection">
            <option [ngValue]=""></option>
            <option *ngFor="let section of sections"
                    [ngValue]="section">
              {{ section?.label?.[language] }}
            </option>
          </select>
        </div>
        <div class="mb-3" *ngIf="showExportSubSections">
          <label class="form-label" for="subSections">{{ 'crm.subSections' | translate }}</label>
          <select class="form-select" id="subSections" aria-label="Export type" (change)="onClickExportSubSection()" [(ngModel)]="selectedExportSubSection">
            <option [ngValue]=""></option>
            <option *ngFor="let subSection of subSections"
                    [ngValue]="subSection">
              {{ subSection?.label?.[language] }}
            </option>
          </select>
        </div>
        <div class="mb-3" *ngIf="showExportSubSections && showExportSubSectionsTwo && subSectionsTwo?.length > 0">
          <label class="form-label" for="subSectionsTwo">{{ 'crm.subSectionsTwo' | translate }}</label>
          <select class="form-select" id="subSectionsTwo" aria-label="Export type" (change)="onClickExportSubSectionTwo()" [(ngModel)]="selectedExportSubSectionTwo">
            <option [ngValue]=""></option>
            <option *ngFor="let subSectionTwo of subSectionsTwo"
                    [ngValue]="subSectionTwo">
              {{ subSectionTwo?.label?.[language] }}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer border-top-0 d-block">
        <div class="col-md-6 float-start" *ngIf="exportSelected">
          <label class="form-label w-100">Exporting: </label>
          <div class="mt-2">{{exportSelected | sentenceCase}}</div>
        </div>
        <div class="float-end">
          <button type="button" class="btn btn-outline-primary me-2" (click)="closeExportSetupModal()">{{ 'crm.cancel' | translate }}</button>
          <button type="button" class="btn btn-primary" (click)="exportJson()">{{ 'crm.export' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Preview Modal -->
<div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-primary" id="exampleModalLabel">Preview</h5>
        <div class="ms-auto">
          <span class="nav-item dropdown">
            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span [class]="defaultLanguage" style="border-radius: 700px;  font-size: 1.7rem;"></span>
              <i class="fas fa-angle-down text-primary ms-2"></i>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let language of languages">
                <a class="dropdown-item" href="javascript:void(0)" (click)="changeLanguage(language)">
                  <span [class]="language.class"></span>
                  <span style="color: black; font-size: 14px;"> {{language.lang}}</span>
                </a>
              </li>
            </ul>
          </span>
        </div>

        <button
          type="button"
          class="btn-close"
          (click)="closePreviewModal()"
        ></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="updatedFormFields">
          <app-new-entity-v2
            [previewFormFields] = updatedFormFields
          ></app-new-entity-v2>
        </ng-container>


      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" (click)="closePreviewModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="publishChanges()">{{'crm.publish' | translate}}</button>
      </div>
    </div>
  </div>
</div>
