.main {
  padding: 40px;
  height: 100%;
}
.container {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  background: #FFF;
}

/* search form and select column dropdown begins */
.form {
    position: relative;
    width: 270px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.form .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #9ca3af;
}

.form span {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.form-input {
    height: 35px;
    text-indent: 33px;
    border-radius: 4px;
    width: 100%;
    flex: 1;
}

.form-input:focus {
    box-shadow: none;
    border: 1;
}

p-multiSelect {
    margin-left: 10px;
    margin-top: 15px;
  }
  
  :host ::ng-deep .p-multiselect-label-container {
    display: none;
  }
  
  :host ::ng-deep .p-multiselect {
    height: auto;
  }
  
  :host ::ng-deep .p-multiselect-panel {
    max-height: 300px;
    max-width: 100%; 
    overflow-y: auto;
  }
  
  :host ::ng-deep .p-multiselect-trigger {
    width: 20px;
    height: 20px;
  }

/* form and select column dropdown end */

::ng-deep .table-row-spacing tr {
    margin-bottom: 20px;
}

:host ::ng-deep {
    .p-datatable .p-datatable-thead>tr>th {
      color: #000000;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      opacity: 70%;
      white-space: nowrap;
    }

    .p-datatable .p-datatable-tbody>tr>td {
      white-space: nowrap;
  }
  
    .p-datatable-thead {
      border-radius: 4px 0px 0px 0px;
      background: #BAD0E4;
    }
  }
