.container {
    width: 1216px;
    height: 584px;
    flex-shrink: 0;
    background: #FFF;
}

.form {
    position: relative;
    width: 270px;
    margin-left: auto;
}

.form .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #9ca3af;
}

.form span {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.form-input {
    height: 35px;
    text-indent: 33px;
    border-radius: 4px;
    width: 100%;
}

.form-input:focus {
    box-shadow: none;
    border: 1;
}

::ng-deep .table-row-spacing tr {
    margin-bottom: 20px; /* Adjust the margin-bottom as needed */
}
