.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verify-button {
    max-width: 450px;
    max-height: 90px;
    display: flex;
    background-color: #cdd2da;
    margin-bottom: 5px;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

.verify-button:hover {
  background: #00529b;
  color: #fff;
  transition: background-color 2s;
}

 .account-info {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;*/
   padding-left: 80px
}

.verify-button div:nth-child(1) {
    /*margin-right: 70px;*/
}

/* .verify-button span {
    margin-left: 80px;

} */

.verify-text {
    color: #000000;
}


.fa-solid {
  margin-left: 20px;
  font-size: 2rem;
  line-height: 2;
  width: 2em;
  height: 2em;
  color: #FFFFFF;
  /*opacity: 50%;*/
}

.selected {
    background-color: var(--primary-color);
    color: white;
}
