.container {
    width: 100%;
    background: #F5F6F8;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 20px;
  }

  .main {
    padding:0 48px 48px 48px;
    background: #FFF;
}

.reinsurance-title {
    color: #00529B;
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.policy-summary {
    color: #00529B;
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
}

.td-label {
    color: #808080;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.td-desc {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tr-class {
    margin-top: 12px;
}

.treaty {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 40px;
}

.treaty-label {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4px;
    margin-bottom: 3px;
}

.reinsurance-params {
    color: #00529B;
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 53px;
}

.form-select {
    width: 300px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    /* background: #FFF; */
}

/* search form and select column dropdown begins */
.form {
    position: relative;
    width: 270px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.form .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #9ca3af;
}

.form span {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.form-input {
    height: 35px;
    text-indent: 33px;
    border-radius: 4px;
    width: 100%;
    flex: 1;
}

.form-input:focus {
    box-shadow: none;
    border: 1;
}

p-multiSelect {
    margin-left: 10px;
    margin-top: 15px;
}

:host ::ng-deep .p-multiselect-label-container {
    display: none;
}

:host ::ng-deep .p-multiselect {
    height: auto;
}

:host ::ng-deep .p-multiselect-panel {
    max-height: 300px;
    max-width: 100%;
    overflow-y: auto;
}

:host ::ng-deep .p-multiselect-trigger {
    width: 20px;
    height: 20px;
}

/* form and select column dropdown end */

:host ::ng-deep {
    .p-datatable .p-datatable-thead>tr>th {
        color: #000000;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        opacity: 70%;
        white-space: nowrap;
    }

    .p-datatable-thead {
        border-radius: 4px 0px 0px 0px;
        background-color: #579cdc;
    }
}

.proceed-button {
    display: inline-flex;
    height: 40px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #00529B;
}

.proceed-button:hover {
    background: #9ecbf2;
}

.button-text {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.stepper {
    display: flex;
    background-color: #F5F6F8;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    .form-select {
        width: 100%;
    }

    .form {
        width: 100%;
    }

    .proceed-button {
        padding: 12px 0;
    }
}