.img_upload {
    display: inline-block;
    font-family: 'Roboto', serif;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 2px 1px 2px 2px;

    
}

.title{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}