.btn-icon {
  border: none;
  background: transparent;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}

:host ::ng-deep .p-dialog-header-icon{
  color:#EE3945;
}
:host ::ng-deep .p-dialog-title{
  color:#00529B;
}