.main {}

.container {
    width: 1216px;
    min-height: 785px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
}

.bottom-button-accept {
    display: inline-flex;
    height: 40px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #00529B;
    float: right;
}

.bottom-button-accept:hover {
    background-color: #459fee;
}

.bottom-button-reject {
    display: inline-flex;
    height: 40px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    float: right;
    background: #F00;
    border: 1px solid #F00;
}

.bottom-button-reject:hover {
    background-color: rgb(240, 87, 87);
}

.bottom-button-share {
    display: inline-flex;
    height: 40px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #00529B;
    float: right;
    color: #00529B;
}

.text {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text-share {
    color: #00529B;
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.accept-button-container {
    padding-right: 38px;
    padding-top: 8px;
    padding-left: 10px;
}

.reject-button-container {
    padding-top: 8px;
    padding-left: 48px;
}

.share-button-container {
    padding-top: 8px;
}

.summary-text {
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.back-button {
    display: inline-flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: none;
    background: transparent;
    color: #00529B;
    float: left;
    margin-top: 10px;
    padding-left: 35px;
    text-decoration: underline;
    cursor: pointer;
}

.back-button:hover {
    color: #007bff;
  }

.centered-table {
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
    /* transform: translateY(-50%); */
}

.sa-premium {
    color: #000;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-typography {
    color: rgba(0, 0, 0, 0.50);
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.box-shadow {
    width: 360px;
    height: 294px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.view-more {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.style-text {
    color: #3a3a3a;
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

:host ::ng-deep {}

.circular-border {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #00529B;
    text-align: center;
    line-height: 12px;
}

.circular-border span {
    display: inline-block;
    font-size: 10px;
}

.custom-red-button {
    color: transparent;
    background-color: transparent;
    border: none;
}

.custom-red-button::before {
    content: "X";
    color: #EE3945;
    width: 20px;
    height: 20px;
    flex-shrink: 0;

}

.scrollable-container {
    display: flex;
    width: 100%;
    /* padding-right: 15px; */
    -webkit-overflow-scrolling: touch;
}

.search {
    margin-left: auto;
}

.box {
    width: auto;
    align-items: center;
    background-color: white;
    display: flex;
    padding: 10px;
    border: 2px solid #e1e1e1;
    border-radius: 4px;
    height: 40px;
}

.box>i {
    font-size: 16px;
    color: #777;
}

.box>input {
    flex: 1;
    border: none;
    outline: none;
    height: 37px;
}

.black-text-form {
    color: #000;
}

.custom-radio-button-container {
    display: flex;
    align-items: center;
}

.custom-radio-button {
    border-color: #000;
    outline-color: #000;
}

:host ::ng-deep {
    .custom-radio-button .ui-radiobutton-box.ui-widget {
        background-color: black !important;
        border-color: black !important;
    }

}

:host ::ng-deep {
    .custom-radio-button .ui-radiobutton-icon {
        background-color: black !important;
    }

}

:host ::ng-deep {
    .custom-radio-button .ui-radiobutton-label {
        color: black !important;
    }

}


.custom-label {
    margin-left: 8px;
}

.btn.btn-primary.bottom-button-share {
    color: #00529B !important;
    background-color: white !important;
    border: 1px solid #00529B !important;
    outline: none !important;
}

.btn.btn-primary.bottom-button-share:hover {
    color: #00529B !important;
    background-color: rgb(243, 237, 237) !important;
    border: 1px solid #00529B !important;
}

@media screen and (max-width: 800px) {
    
}
