/* Horizontal Stepper Styles */
.rt-container {
  display: flex;
  justify-content: center;
  /* border: 1px solid #b2b4b7; */
  padding: 0.6rem 0rem;
  /* border-radius: 3px; */
  margin-top: 1.5rem;
  margin-left: 200px;
  margin-right: 200px;

  background-color:transparent;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: gray;
  margin-right: 0.2em;
}

.step:last-child {
  margin-right: 0; /* Remove right margin for the last step */
}


/* Circle */
.circle {
  background: rgb(255, 255, 255);
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 100%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-align: center;
  /* box-shadow: 0 0 0 3px #fff; */
  margin-bottom: 0.5em;
}

/* Connecting Line between Step 1 and Step 2 */
.step.done::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 1.5em; /* Adjust the width for the horizontal line */
  height: 2px;
  background-color: green; /* Change the color to green */
  transform: translateY(-50%);
  z-index: -1;
}

/* Stepper Titles */
.title {
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: 0.5em; /* Add margin-top for the title */

}

.link {
  color: var(--primary);
  cursor: pointer;
}



/* ----------- */


.stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step {
  position: relative;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 2;

}

.line {
  flex: 1;
  height: 2px;
  /* background-color: #000; */
  z-index: 1;
}

.line-black {
  flex: 1;
  height: 2px;
  background-color: #000;
  z-index: 1;
  transform: translateY(-15px);
}






/* Your existing CSS for the stepper and steps */
.stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 2;
}

.circle.active {
  background-color: #28a745; /* Change color for active step */
}

/* Updated CSS for the lines to connect start and end steps */
.line {
  flex: 1;
  height: 2px;
  background-color: #000; /* Change line color to black */
  z-index: 1;
}

.line:first-child {
  margin-left: 20px; /* Add margin to the left of the first line */
}

.line:last-child {
  margin-right: 20px; /* Add margin to the right of the last line */
}


.step-active  {
  background-color:transparent;
  color: var(--primary-color);
  border: 1px solid #00529B;
}

.done > .circle {
  background-color: black;
  color: #fff;
}

.done > .title {
  color:var(--primary-color);
}

.done {
  background-color: var(--primary-color);
  color:#fff
}

.step-link {
  cursor: pointer;
  color: #00529B;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;}
/*Implementing new design for the stepper*/
.done {
  background-color:rgba(0, 82, 155, 0.6);
}
.step-active{
  background-color: var(--primary-color);
  border: 2px solid #FFF;
  box-shadow: 0 0 0 3px var(--primary-color);
}

.border-line {
  width: 450%;
  height: 1px;
  background-color: var(--primary-color);
  top: 18px;
  left: 450%;
  transform: translateX(-90%);
  z-index: 0;
  position: absolute;
}

.border-line.completed-step {
  background-color: #007bff;
}
