<div class="base-content-section">
    <div class="me-4">
        <app-dynamic-breadcrumb [breadCrumbItems]="countryBreadCrumbItems">
        </app-dynamic-breadcrumb>
    </div>
    <div class="me-4">
            <div class="card mb-3">
                <div class="card-header bg-transparent">
                    <span class="float-start mt-3">Country Definition</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="country" class="form-label">Select a Country</label>
                            <p-dropdown 
                                [options]="countriesData" 
                                [(ngModel)]="selectedCountry" 
                                (onChange)="onCountryChange()"
                                optionLabel="name" 
                                optionValue="id" 
                                id="country" 
                                [filter]="true" 
                                filterBy="name" 
                                [showClear]="true"
                                [style]="{ width: '100%', height: '45%'}" 
                                placeholder="Select Country">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-transparent float-start">
                    <span class="float-start mt-3">Country Information</span>
                    <div class="float-end mt-3">
                        <span class="icon-circle"><i class="fa-solid fa-plus" (click)="createCountry()"></i></span>
                        <span class="icon-circle"><i class="pi pi-pencil"></i></span>
                        <span class="icon-circle"><i class="fa-regular fa-trash-can" (click)="deleteCountry(selectedCountry)"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="createCountryForm" class="gap-3">
                        <div class="row">
                            <div class="col-sm-4 mb-4">
                                <div class="form-group mb-4">
                                    <label for="shortDescription" class="form-label">Short Description</label>
                                    <input type="text" class="form-control" id="shortDescription" aria-describedby="shortDescription"
                                        placeholder="Short Description" formControlName="shortDescription">
                                </div>
                            </div>
                            <div class="col-sm-4 mb-4">
                                <div class="form-group mb-4">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Name"
                                        formControlName="name">
                                </div>
                            </div>
                            <div class="col-sm-4 mb-4">
                                <label for="baseCurrency" class="form-label">Base Currency</label>
                                <p-dropdown [options]="currenciesData" [(ngModel)]="selectedCurrency" optionLabel="name" optionValue="id"
                                    formControlName="baseCurrency" id="baseCurrency" [filter]="true" filterBy="name" [showClear]="true"
                                    [style]="{ width: '100%', height: '35%'}" placeholder="Select Currency">
                                </p-dropdown>
                            </div>
                            <div class="col-sm-4 mb-4">
                                <div class="form-group mb-4">
                                    <label for="nationality" class="form-label">Nationality</label>
                                    <input type="text" class="form-control" id="nationality" aria-describedby="nationality"
                                        placeholder="Nationality" formControlName="nationality">
                                </div>
                            </div>
                            <div class="col-sm-4 mb-4">
                                <div class="form-group mb-4">
                                    <label for="zipCode" class="form-label">Zip Code</label>
                                    <input type="text" class="form-control" id="zipCode" aria-describedby="zipCode" placeholder="Zip Code"
                                        formControlName="zipCode">
                                </div>
                            </div>
                            <ng-container *ngIf="visibleStatus.administrativeUnit === 'Y'">
                                <div class="col-sm-4 mb-4">
                                    <div class="form-group mb-4">
                                        <label for="administrativeUnit" class="form-label">Administrative Unit</label>
                                        <select #adminSelect id="administrativeUnit" class="form-select mb-1" formControlName="administrativeUnit"
                                            (change)="onCityChange($event)">
                                            <option value="" selected>Select Administrative Unit</option>
                                            <option *ngFor="let admin of adminstrativeData" [value]="admin.id">
                                                {{ admin.name | uppercase }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="visibleStatus.subadminstrativeUnit === 'Y'">
                                <div class="col-sm-4 mb-4">
                                    <div class="form-group mb-4">
                                        <label for="subadminstrativeUnit" class="form-label">Sub-administrative Units</label>
                                        <select #subadminSelect id="subadminstrativeUnit" class="form-select mb-1" formControlName="subadminstrativeUnit">
                                            <option value="" selected>Select Sub-administrative Unit</option>
                                            <option *ngFor="let subadmin of subadminstrativeData" [value]="subadmin.id">
                                                {{ subadmin.name | uppercase }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="visibleStatus.unSactionWEF === 'Y'">
                                <div class="col-sm-4 mb-4">
                                    <div class="form-group mb-3">
                                        <label for="unSactionWEF">UN Sanctioned WEF</label>
                                        <input type="text" class="form-control" name="unSactionWEF" placeholder="Un Sanction WEF"
                                            onfocus="(this.type='date')" onblur="(this.type='text')" id="unSactionWEF"
                                            formControlName="unSactionWEF">
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="visibleStatus.unSactionWEF === 'Y'">
                                <div class="col-sm-4 mb-4">
                                    <div class="form-group mb-3">
                                        <label for="unSactionWEF">UN Sanctioned WEF</label>
                                        <input type="text" class="form-control" name="unSactionWEF" placeholder="Un Sanction WEF"
                                            onfocus="(this.type='date')" onblur="(this.type='text')" id="unSactionWEF"
                                            formControlName="unSactionWEF">
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="visibleStatus.unSactionWET === 'Y'">
                                <div class="col-sm-4 mb-4">
                                    <div class="form-group mb-3">
                                        <label for="unSactionWET">UN Sanctioned WET</label>
                                        <input type="text" class="form-control" name="unSactionWET" placeholder="Un Sanction WET"
                                            onfocus="(this.type='date')" onblur="(this.type='text')" id="unSactionWEF"
                                            formControlName="unSactionWET">
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="visibleStatus.riskLevelStatusWEF === 'Y'">
                                <div class="col-sm-4 mb-4">
                                    <div class="form-group mb-3">
                                        <label for="riskLevelStatusWEF">Risk Level Status WEF</label>
                                        <input type="text" class="form-control" name="riskLevelStatusWEF" placeholder="Risk Level Status WEF"
                                            onfocus="(this.type='date')" onblur="(this.type='text')" id="riskLevelStatusWEF"
                                            formControlName="riskLevelStatusWEF">
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="visibleStatus.riskLevelStatusWET === 'Y'">
                                <div class="col-sm-4 mb-4">
                                    <div class="form-group mb-3">
                                        <label for="riskLevelStatusWET">Risk Level Status WET</label>
                                        <input type="text" class="form-control" name="riskLevelStatusWET" placeholder="Risk Level Status WET"
                                            onfocus="(this.type='date')" onblur="(this.type='text')" id="riskLevelStatusWET"
                                            formControlName="riskLevelStatusWET">
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="visibleStatus.drugTrafficWEF === 'Y'">
                                <div class="col-sm-4 mb-4">
                                    <div class="form-group mb-3">
                                        <label for="drugTrafficWEF">Drug Traffic Nation WEF</label>
                                        <input type="text" class="form-control" name="drugTrafficWEF" placeholder="Drug Traffic Nation WEF"
                                            onfocus="(this.type='date')" onblur="(this.type='text')" id="drugTrafficWEF"
                                            formControlName="drugTrafficWEF">
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="visibleStatus.drugTrafficWET === 'Y'">
                                <div class="col-sm-4 mb-4">
                                    <div class="form-group mb-3">
                                        <label for="drugTrafficWET">Drug Traffic Nation WET</label>
                                        <input type="text" class="form-control" name="drugTrafficWET" placeholder="Drug Traffic Nation WET"
                                            onfocus="(this.type='date')" onblur="(this.type='text')" id="drugTrafficWET"
                                            formControlName="drugTrafficWET">
                                    </div>
                                </div>
                            </ng-container>
                            <div class="row mt-1">
                                <div class="col-12">
                                    <div class="row float-end">
                                        <button class="btn btn-primary rounded mt-auto align-self-end" (click)="saveCountry()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card mb-3">
                        <div class="card-header bg-transparent float-start">
                            <span #adminCardTitle class="float-start mt-3">Counties</span>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="form-group col-sm-4">
                                    <select class="form-select">
                                        <option value="">Sorting Options</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="search"
                                        (input)="filterState($event)">
                                </div>
                                <div class="col-sm-4">
                                    <div class="float-end">
                                        <span class="icon-circle"><i class="fa-solid fa-plus" (click)="openCountyModal()"></i></span>
                                        <span class="icon-circle"><i class="pi pi-pencil" (click)="editState()"></i></span>
                                        <span class="icon-circle"><i class="fa-regular fa-trash-can" (click)="deleteState()"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p-table 
                                        #stateTable    
                                        [value]="stateData" 
                                        styleClass="p-datatable-sm" 
                                        responsiveLayout="scroll" 
                                        [scrollable]="true" 
                                        scrollHeight="400px"
                                        class="ui-datatable"
                                        [globalFilterFields]="['shortDescription', 'name']">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th class="head">Short Description</th>
                                                <th class="head">Name</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-state>
                                            <tr class="custom-table" (click)="onRowClick(state)">
                                                <td class="body">{{ state.shortDescription }}</td>
                                                <td class="body">{{ state.name }}</td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="8">No Counties found.</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card mb-3">
                        <div class="card-header bg-transparent float-start">
                            <span #subadminCardTitle class="float-start mt-3">Sub-Counties</span>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="form-group col-sm-4">
                                    <select class="form-select">
                                        <option value="">Sorting Options</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="search"
                                        (input)="filterDistrict($event)">
                                </div>
                                <div class="col-sm-4">
                                    <div class="float-end">
                                        <span class="icon-circle"><i class="fa-solid fa-plus" (click)="openSubcountyModal()"></i></span>
                                        <span class="icon-circle"><i class="pi pi-pencil" (click)="editDistrict()"></i></span>
                                        <span class="icon-circle"><i class="fa-regular fa-trash-can" (click)="deleteDistrict()"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p-table 
                                        #districtTable
                                        [value]="districtData " 
                                        styleClass="p-datatable-sm" 
                                        responsiveLayout="scroll"
                                        [scrollable]="true" 
                                        scrollHeight="400px"
                                        class="ui-datatable"
                                        [globalFilterFields]="['shortDescription', 'name']">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th class="head">Short Description</th>
                                                <th class="head">Name</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-district>
                                            <tr class="custom-table" (click)="onDistrictRowSelect(district)">
                                                <td class="body">{{ district.shortDescription }}</td>
                                                <td class="body">{{ district.name }}</td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="8">No sub-counties found.</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-transparent float-start">
                    <span class="float-start mt-3">Towns</span>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="form-group col-sm-3">
                            <select class="form-select">
                                <option value="">Sorting Options</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="search"
                                (input)="filterTown($event)">
                        </div>
                        <div class="col-sm-6">
                            <div class="float-end">
                                <span class="icon-circle"><i class="fa-solid fa-plus" (click)="openTownModal()"></i></span>
                                <span class="icon-circle"><i class="pi pi-pencil" (click)="editTown()"></i></span>
                                <span class="icon-circle"><i class="fa-regular fa-trash-can" (click)="deleteTown()"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-12">
                            <p-table
                                #townTable 
                                [value]="townData" 
                                styleClass="p-datatable-sm" 
                                responsiveLayout="scroll"
                                [scrollable]="true" 
                                scrollHeight="400px" 
                                class="ui-datatable"
                                [globalFilterFields]="['shortDescription', 'name']">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="head">Short Description</th>
                                        <th class="head">Name</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-town>
                                    <tr class="custom-table" (click)="onTownRowSelect(town)">
                                        <td class="body">{{ town.shortDescription }}</td>
                                        <td class="body">{{ town.name }}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="8">No town's found.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-transparent float-start">
                    <span class="float-start mt-3">Country Holidays</span> 
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <label for="filterBy" class="col-sm-1 col-form-label">Filter by:</label>
                        <div class="form-group col-sm-2">
                            <select class="form-select" [id]="'filterByDay1'">
                                <option value="">Select Day</option>
                                <option *ngFor="let day of days" [value]="day">{{ day }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2">
                            <select class="form-select" [id]="'filterByMonth1'" #selectedMonthSelect
                                (change)="updateDays(selectedMonthSelect.value)">
                                <option value="">Select Month</option>
                                <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
                            </select>
                        </div>
                        <div class="col-sm-7">
                            <div class="float-end">
                                <span class="icon-circle"><i class="fa-solid fa-plus" (click)="openHolidayModal()"></i></span>
                                <span class="icon-circle"><i class="pi pi-pencil" (click)="editHoliday()"></i></span>
                                <span class="icon-circle"><i class="fa-regular fa-trash-can" (click)="deleteHoliday()"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p-table 
                                [value]="countryHolidayData" 
                                styleClass="p-datatable-sm" 
                                responsiveLayout="scroll" 
                                [scrollable]="true"
                                scrollHeight="400px"
                                class="ui-datatable">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="head">Description</th>
                                        <th class="head">Day</th>
                                        <th class="head">Month</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-holiday>
                                    <tr class="custom-table" (click)="onHolidayRowSelect(holiday)">
                                        <td class="body">{{ holiday.description }}</td>
                                        <td class="body">{{ holiday.day }}</td>
                                        <td class="body">{{ holiday.month }}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="8">No Holiday's found.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" #countyModal id="county" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a county</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createCountyForm">
                    <div class="mb-3">
                        <label for="shortDescription" class="form-label">Short Description</label>
                        <input type="text" class="form-control" id="shortDescription" placeholder="Short Description" formControlName="shortDescription">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="name" formControlName="name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveState()">Save Details</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" #districtModal id="district" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Sub-County</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createSubcountyForm">
                    <div class="mb-3">
                        <label for="shortDescription" class="form-label">Short Description</label>
                        <input type="text" class="form-control" id="shortDescription" placeholder="Short Description"
                            formControlName="shortDescription">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="name" formControlName="name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveDistrict()">Save Details</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" #townModal id="town" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Town</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createTownForm">
                    <div class="mb-3">
                        <label for="shortDescription" class="form-label">Short Description</label>
                        <input type="text" class="form-control" id="shortDescription" placeholder="Short Description" formControlName="shortDescription">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="name" formControlName="name">
                    </div>
                    <div class="mb-3">
                        <label for="postalCode" class="form-label">Postal Code</label>
                        <input type="text" class="form-control" id="postalCode" placeholder="postalCode" formControlName="postalCode">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveTown()">Save Details</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" #holidayModal id="holiday" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a Country Holiday</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createHolidayForm">
                    <div class="mb-3">
                        <label for="shortDescription" class="form-label">Short Description</label>
                        <input type="text" class="form-control" id="shortDescription" placeholder="Short Description"
                            formControlName="shortDescription">
                    </div>
                    <div class="mb-3">
                        <label for="month" class="form-label">Month</label>
                        <select class="form-select" [id]="'filterByMonth2'" #selectedMonthSelect2
                            (change)="updateDays(selectedMonthSelect2.value)" formControlName="month">
                            <option value="">Select Month</option>
                            <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Day Date</label>
                        <select class="form-select" [id]="'filterByDay2'" formControlName="date">
                            <option value="">Select Day</option>
                            <option *ngFor="let day of days" [value]="day">{{ day }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select class="form-select" id="status"  formControlName="status">
                            <option value="">Status</option>
                            <option value="A">Active</option>
                            <option value="I">Inactive</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveCountryHoliday()">Save Details</button>
            </div>
        </div>
    </div>
</div>


