.card-header {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #000000;
    border-bottom: none;
}

label {
    font-weight: 500;
}

.form-group .form-select {
    border-radius: 8px;
}

.form-group .form-control {
    border-radius: 8px;
}

.custom-input {
    width: 80%;
    border-radius: 8px;
}

.icon-circle {
    display: inline-block;
    background-color: #E4E7EB;
    color: #00529B;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}

.btn-tab {
    margin-right: 10px;
    background-color: #fff;
    color: black;
    border: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

::ng-deep .p-dropdown .p-dropdown-filter {
    height: 35px;
}

.custom-table {
    cursor: pointer;
}