/* .main {
    width: 1246px;
    min-height: 318px;
} */

.container {
    width: 1216px;
    min-height: 288px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
}

.policy-button {
    display: inline-flex;
    height: 40px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #00529B;
    float: right;
}

.text {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.policy-button-container {
    padding-right: 34px;
    padding-top: 8px;
}

.policy-button:hover {
    background-color: #459fee;
  }

.quote-text {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (max-width: 800px) {
    .main {
        width: 100%;
        height: 100%;
    }
    .container {
        width: 100%;
        min-height: 100%;
        flex-shrink: 0;
        border-radius: 5px;
        background: #FFF;
    }
    .policy-button-container {
        padding-right: 0px;
        padding-top: 8px;
    }
}