<div class="base-content-section">
  <div class="me-4">
    <app-dynamic-breadcrumb [breadCrumbItems]="userParametersBreadCrumbItems">
    </app-dynamic-breadcrumb>
  </div>
  <div class="me-4">
    <div class="card mb-3">
      <div class="card-header bg-transparent float-start">
        <span class="float-start mt-3">User Parameters</span>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-4">
            <select
              class="form-select"
              (change)="onSort($event, userParametersData, 'name')"
            >
              <option value="">Sorting Options</option>
              <option value="asc">Ascending</option>
              <option value="desc">Descending</option>
            </select>
          </div>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              placeholder="Search by name"
              aria-label="search"
              aria-describedby="search"
              (input)="filterParameters($event)"
            />
          </div>
          <div class="col-sm-4">
            <div class="float-end">
              <span class="icon-circle"
                ><i class="pi pi-pencil" (click)="editParameter()"></i
              ></span>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12">
            <p-table
              #parameterTable
              [value]="userParametersData"
              [autoLayout]="true"
              [rowHover]="true"
              responsiveLayout="scroll"
              styleClass="p-datatable-sm"
              [scrollable]="true"
              scrollHeight="400px"
              class="ui-datatable"
              [globalFilterFields]="['name']"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th class="head">Name</th>
                  <th class="head">Value</th>
                  <th class="head">Description</th>
                  <th class="head">Status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-param>
                <tr
                  class="custom-table"
                  (click)="onParamsRowClick(param)"
                  [class.selected]="selectedParameter === param"
                >
                  <td class="body">{{ param.name }}</td>
                  <td
                    class="body"
                    pTooltip="{{ param.value }}"
                    tooltipPosition="top"
                  >
                    {{ sliceString(param.value) }}
                  </td>
                  <td
                    class="body"
                    pTooltip="{{ param.description }}"
                    tooltipPosition="top"
                  >
                    {{ sliceString(param.description) }}
                  </td>
                  <td class="body">{{ param.status }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="8">No user parameters found.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  #parameterModal
  id="parameterModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog align-items-center">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Parameters</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeParameterModal()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createParameterForm">
          <div class="row">
            <div class="col-6 mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="name"
                formControlName="name"
              />
            </div>
            <div class="col-6 mb-3">
              <label for="value" class="form-label">Value</label>
              <input
                type="text"
                class="form-control"
                id="value"
                placeholder="Value"
                formControlName="value"
                [ngClass]="{
                  'is-invalid':
                    f['value']?.invalid &&
                    (f['value']?.dirty || f['value']?.touched)
                }"
              />
              <div
                *ngIf="
                  f['value']?.invalid &&
                  (f['value']?.dirty || f['value']?.touched)
                "
                class="form-text text-danger"
                [ngClass]="{
                  'is-invalid': ['submitted'] && f['value']?.errors
                }"
              >
                <div *ngIf="f['value']?.errors['required']">
                  value is required
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <label for="status" class="form-label">Status</label>
              <select
                class="form-select"
                id="status"
                formControlName="status"
                [ngClass]="{
                  'is-invalid':
                    f['status']?.invalid &&
                    (f['status']?.dirty || f['status']?.touched)
                }"
              >
                <option value="">Select Status</option>
                <option
                  *ngFor="let status of statusesData"
                  [value]="status.value"
                >
                  {{ status.name }}
                </option>
              </select>
              <div
                *ngIf="
                  f['status']?.invalid &&
                  (f['status']?.dirty || f['status']?.touched)
                "
                class="form-text text-danger"
                [ngClass]="{
                  'is-invalid': ['submitted'] && f['status']?.errors
                }"
              >
                <div *ngIf="f['status']?.errors['required']">
                  Status is required
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <label for="description" class="form-label">Description</label>
              <input
                type="text"
                class="form-control"
                id="description"
                placeholder="Description"
                formControlName="description"
                [ngClass]="{
                  'is-invalid':
                    f['description']?.invalid &&
                    (f['description']?.dirty || f['description']?.touched)
                }"
              />
              <div
                *ngIf="
                  f['description']?.invalid &&
                  (f['description']?.dirty || f['description']?.touched)
                "
                class="form-text text-danger"
                [ngClass]="{
                  'is-invalid': ['submitted'] && f['description']?.errors
                }"
              >
                <div *ngIf="f['description']?.errors['required']">
                  Description is required
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="updateParameters()"
        >
          Update Details
        </button>
      </div>
    </div>
  </div>
</div>
