.icon-circle {
  display: inline-block;
  background-color: #e4e7eb;
  color: #00529b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}
.img_upload {
  display: inline-block;
  font-family: 'Roboto', serif;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  padding: 0.2rem 0.8rem;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.img_edit {
  color: var(--primary-color);
  font-size: 14px;
}

.img_edit:hover {
  text-decoration: underline;
}

#photo {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 50%;
}
