.pill-box {
  border: solid 1px #eee;
  margin: 1.2rem 0.2rem 0;
  padding: 5px 0;
  border-radius: 5px;
}

.dropdown-menu {
  border: solid 1px #eee;
}

.dropdown-menu li {
  list-style-type: none;
}

.filter-option {
  margin-left: 0.3rem
}
