.title {
    color: #00529B;
    font-size: 16px;
    font-weight: 500;
}

.tab-content {
    height: 100%; /* Make sure it stretches fully */
    overflow-y: auto; /* Allow scrolling within the tab content */
}

.tab-content-details {
    background-color: #ffffff;
}

.list-group-item {
    border: none;
    /* Remove borders between list items */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}

.list-group-item.selected {
    color: rgba(0, 82, 155, 1);
    /* Change font color when selected */

}

#icon {
    background-color: #E4E7EB;
    border-radius: 100px;
    border: none;
}

.deleteMessage {
    color: #000;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

#icon i {
    color: #00529B;
}

.subheading {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(0, 82, 155, 1);


}

.label {
    font-weight: 400;
    font-size: 14px;
}

.detail {
    font-weight: 700;
    font-size: 14px;
}

.more {
    color: #00529B;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}
#icon{
    background-color: #E4E7EB;
    border-radius: 100px;
    border: none;
}
#icon i{
    color: #00529B;
}
.nav-link.active {
    color: #00529B !important;
    font-weight: 500;
    background-color: transparent;
}
.nav-link{
    background-color: transparent;
    color: #000;

}