@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

.text-primary {
    color: #00529B!important;
}

.text-success {
    color: #188623!important;
}

.base-container {
    display: flex;
}




