@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

.text-primary {
    color: #00529B!important;
}

.text-success {
    color: #188623!important;
}

.base-container {
    display: flex;
}

.base-container .base-side-nav .btn {
    color: #00529B!important;
    font-weight: bold;
}

.base-container .base-side-nav .btn .menu-title {
    margin-left: 10px;
}

.base-container .base-side-nav .btn-toggle-nav li {
    margin-left: 45px;
    margin-bottom: 10px;
}

.base-container .base-side-nav .btn-toggle-nav li a:link{
    text-decoration: none;
}

.base-navbar {
    background: #00529B !important;
    padding-right: 20px;
    padding-left: 20px;
}

.base-navbar .navbar-toggler .navbar-toggler-icon {
    height: 1em;
    width: 1em;
}

.base-navbar .navbar-brand .brand-name {
    margin-left: 20px;
    font-size: 0.9em;
}

.base-navbar .profile img {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    margin-right: 10px;
}

.base-navbar .profile span {
    color: #fff;
    font-size: 0.9em;
}

.base-side-nav {
    width: 15%;
    min-height: 90vh;
    padding: 10px;
    border-right: solid 1px #eee;
}

.base-content {
    width: 85%;
    min-height: 90vh;
    background: #f5f6f8;
}

.base-content .content-nav .navbar {
    background: #fff;
}

.base-content .content-nav #navbar .nav-item{
    margin-right: 20px;
}


.base-content .content-nav .navbar #chart ul li a{
    color: #00529B!important;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: underline;
}

.base-content .base-content-section {
    margin-bottom: 30px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.base-content .home  {
    min-height: 50vh;
}

.base-content .home  .card {
    position: relative;
    height: 100%;
}

.base-content .base-content-section table tr th,
.base-content .base-content-section table tr td {
    font-size: 0.9em;
    padding: 0.4rem;
    color: gray;
    line-height: 30px;
}

.base-content .base-content-section table tr th {
    color: #000;
}

.base-content .base-content-section .align-center {
    text-align: center;
}


.base-content .section-title {
    font-weight: bold;
    color: #00529B;
}

.base-content .base-content-section .calendar {
    color: #00529B!important;
}

.base-content .base-content-section .form-control {
    border-radius: 0;
}

.base-content .base-content-section .calendar .card-header {
    background: #00529B;
    color: #fff;
}

.base-content .base-content-section .calendar .form-select {
    padding: 0.1rem;
}

.base-content .base-content-section .row .transactions {
    margin-bottom: 0;
    font-weight: bold;
}

