.container {
  background: #F5F6F8;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
}

#container {
  background: #FFF;
  border: 1px solid rgba(220, 220, 220, 0.85);
  border-radius: 5px;
  flex: 1;
  padding: 48px;
}

.client-details,
.product-details {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.label {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px, 20px;
  margin-left: 10px;
  padding-bottom: 8px;
}

.select {
  width: 300px;
  height: auto;
  flex-shrink: 0;
  border-radius: 4px;
  background: #FFF;
  margin: 10px;
}

#inline {
  display: inline-block;
  margin-right: 20px;
}

.radio-group {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
}

.button {
  display: inline-flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background: #00529B;
  color: white;
  float: right;
  margin-top: 10px;
}

.button:hover {
  background-color: #7eb9ec
}

.black-text-form {
  color: #000;
}

.custom-radio-button-container {
  display: flex;
  align-items: center;
}

.custom-radio-button {
  border-color: #000;
  outline-color: #000;
}

:host ::ng-deep {
  .custom-radio-button .ui-radiobutton-box.ui-widget {
      background-color: black !important;
      border-color: black !important;
  }

}

:host ::ng-deep {
  .custom-radio-button .ui-radiobutton-icon {
      background-color: black !important;
  }

}

:host ::ng-deep {
  .custom-radio-button .ui-radiobutton-label {
      color: black !important;
  }

}


.custom-label {
  margin-left: 8px;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.invalid-feedback {
  padding-left: 10px;
}

@media screen and (max-width:1400px) and (min-width:180px),
(max-width:280px) {
  /* .container {
    background: #f5f6f8;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px;
  } */
  .container {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    background: #f5f6f8;
  }

  #container {
    background: #FFF;
    border: 1px solid rgba(220, 220, 220, 0.85);
    border-radius: 5px;
    flex: 1;
    padding: 20px;
  }

  .button {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    background: #00529B;
    color: white;
    float: center;
  }
}