.share-quote-page {
    max-width: 900px;
    min-height: 600px;
    margin: 3rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  }
  
  .page-title {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    margin-top: 0.3rem;
    color:#00529b;
    font-weight: 600;
  }
  
  .method-group {
    margin-bottom: 1.5rem;
    padding-right: 2rem;
    gap: 2rem;
  }
  
 
  
  .method-options {
    display: flex;
    gap: 2rem;
    font-size: larger;
    font-weight: 500;
  }
  
  .method-option {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .download-section {
    display: flex;
    align-items: center;
    font-size: larger;
    gap: 1.0rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    color: #000000;
    cursor: pointer;
    font-weight: 400;
  }
  
  .download-section i {
    font-size: 1.2rem;
  }
  

  
  .action-buttons {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    padding-right: 15rem;
  }
  
  .action-buttons button {
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  /* Cancel button styling */
  .action-buttons button.p-button-secondary {
    background-color: white;
    color: #555;
    border-color:#1976d2;
  }
  
  .action-buttons button.p-button-secondary:hover {
    border-color: #888;
    background-color: #f5f5f5;
  }
  
  /* Send button styling */
  .action-buttons button.p-button-primary {
    background-color:#1976d2; /* professional blue */
    color: white;
    border-color: #1976d2;
    box-shadow: 0 4px 10px rgba(25, 118, 210, 0.4);
  }
  
  .action-buttons button.p-button-primary:hover {
    background-color: #1565c0;
    border-color: #1565c0;
    box-shadow: 0 6px 15px rgba(21, 101, 192, 0.6);
  }
  
  
  ::ng-deep .p-radiobutton-box {
    border: 2px solid #000000 !important;
    width: 20px !important;
    height: 20px !important;
    box-shadow: 0 0 8px rgba(202, 213, 221, 0.6); /* Glow effect */
    transition: border-color 0.3s ease;
  }
  
  ::ng-deep .p-radiobutton-box.p-highlight {
    background-color: black !important; /* black background when selected */
    border-color: black !important;     /* black border */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
      }
      
      /* Optional: change the checkmark color to white for contrast */
      ::ng-deep .p-radiobutton-icon {
        color: white !important;
      }
      
  
  
  .p-field label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin: 0.5rem;
    font-weight: 600;
  }
  
  .p-inputtext {
    width: 40%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .required {
    color: red;
  }
  