<form [formGroup]="shareForm">

  <div class="share-quote-page">


    <!-- Share method -->
    <div class="method-options">
      <div class="method-option" *ngFor="let method of shareMethods"
        (click)="!method.disabled && (shareQuoteData.selectedMethod = method.value)"
        [class.selected]="shareQuoteData.selectedMethod === method.value" [class.disabled]="method.disabled">
        <i class="far fa-circle" *ngIf="shareQuoteData.selectedMethod !== method.value"></i>
        <i class="fas fa-dot-circle" *ngIf="shareQuoteData.selectedMethod === method.value"></i>
        <span class="ps-2">{{ method.label }}</span>
        <span class="custom-tooltip" *ngIf="method.disabled">{{ method.tooltip }}</span>
      </div>
    </div>



    <!-- Buttons Container -->
    <div class="d-flex align-items-center my-3" *ngIf="shareQuoteData.selectedMethod === 'email'">

      <!-- Preview -->
      <div (click)="onPreview()" class="me-3" role="button" tabindex="0">
        <i class="pi pi-eye me-2 text-primary"></i>
        <span class="text-primary">Preview</span>
      </div>

      <!-- Download -->
      <div (click)="onDownload()" role="button" tabindex="0">
        <i class="pi pi-download me-2 text-primary"></i>
        <span class="text-primary">Download</span>
      </div>

    </div>


    <ng-container *ngIf="shareQuoteData.selectedMethod === 'email';else soonComingChannels">
      <div class="p-field p-mb-3">
        <label for="clientName">Client name</label>
        <input pInputText id="clientName" formControlName="clientName" class="p-inputtext" placeholder="" />
        <div *ngIf="shareForm.get('clientName')?.touched && shareForm.get('clientName')?.invalid" class="text-danger">
          <small>Client name is required.</small>
        </div>

      </div>
      <label for="email" class="label">
        Email address<span class="required"></span>
      </label>
      <input pInputText id="email" type="email" formControlName="email" class="p-inputtext"
        placeholder="e.g. example@email.com" (blur)="shareForm.get('email')?.markAsTouched()" />
      <div *ngIf="shareForm.get('email')?.touched && shareForm.get('email')?.invalid" class="text-danger mt-1">
        <small *ngIf="shareForm.get('email')?.errors?.['required']">Email is required.</small>
        <small *ngIf="shareForm.get('email')?.errors?.['email']">Please enter a valid email address.</small>
      </div>
    </ng-container>
    <ng-template #soonComingChannels>
      <br>
      <br><br>
      <p>Communication channel coming soon</p>
    </ng-template>

    <!--  &lt;!&ndash; SMS input field &ndash;&gt;-->
    <!--  <div class="p-field p-mb-3" *ngIf="shareQuoteData.selectedMethod === 'sms'">-->
    <!--    <label for="smsNumber">-->
    <!--      Phone number<span class="required"></span>-->
    <!--    </label>-->
    <!--    <input pInputText id="smsNumber" [(ngModel)]="shareQuoteData.smsNumber" class="p-inputtext" placeholder="" />-->
    <!--  </div>-->

    <!--  &lt;!&ndash; WhatsApp input field &ndash;&gt;-->
    <!--  <div class="p-field p-mb-3" *ngIf="shareQuoteData.selectedMethod === 'whatsapp'">-->
    <!--    <label for="whatsappNumber">-->
    <!--      WhatsApp number<span class="required"></span>-->
    <!--    </label>-->
    <!--    <input pInputText id="whatsappNumber" [(ngModel)]="shareQuoteData.whatsappNumber" class="p-inputtext"-->
    <!--      placeholder="" />-->
    <!--  </div>-->

    <div class="d-flex justify-content-end  mt-4">
      <button type="button" class="btn btn-outline-primary me-4" data-bs-dismiss="modal" (click)="cancel()">Cancel
      </button>
      <button type="button" [disabled]="shareForm.get('email')?.invalid" class="btn btn-primary" (click)="onSend()"
        *ngIf="shareQuoteData.selectedMethod === 'email'">Send
      </button>
      <button #closeButton type="button" class="btn btn-primary" data-bs-dismiss="modal"
        style="display: none;"></button>

    </div>

  </div>

</form>
<p-dialog [(visible)]="previewVisible" [modal]="true" [style]="{ width: '40vw', height: '95vh' }"
  header="Preview report" class="custom-pdf-modal">
  <div style="height: calc(100% - 40px); background: #fff;  margin: 0; padding: 0;">
    <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false"
      style="display: block; width: 100%; height: 100%; background: #fff;">
    </pdf-viewer>
  </div>
</p-dialog>



<!-- <p-dialog [(visible)]="previewVisible" [modal]="true" [style]="{width: '40vw', height: '95vh'}" [closable]="true"
  [resizable]="false" [draggable]="false" [scrollTop]="false" class="custom-pdf-modal" header="Preview report">



  <div style="height: calc(100% - 40px); overflow: hidden; background: #fff; margin: 0; padding: 0;">
    <iframe [src]="pdfSrc" width="100%" height="100%" style="
      border: none;
      background: white;
      margin: 0;
      padding: 0;
      display: block;
    ">
    </iframe>
  </div>


</p-dialog> -->