.share-quote-page {
    max-width: 500px;
    min-height: 300px;
    margin: 1rem auto;
    padding: 1rem;
    background: #fff;
    border-radius: 1px solid #000000;
    
  }
  
  .page-title {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    color:#00529b;
    font-weight: 600;
  }
  
  .method-group {
    margin-bottom: 1.5rem;
    padding-right: 2rem;
    gap: 2rem;
  }
  
 
  
  .method-options {
    font-family: Roboto;
    display: flex;
    gap: 2rem;
    font-size: larger;
    color: #000000;
    font-weight: 400;
  }
  
  .method-option {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .download-section {
    display: flex;
    align-items: center;
    font-size: larger;
    gap: 1.0rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    color: #000000;
    cursor: pointer;
    font-weight: 400;
  }
  
  .download-section i {
    font-size: 1.2rem;
  }
  

  
  .action-buttons {
    display: flex;
    gap: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1.4rem;
    height: 40px;
  }
  
  .action-buttons button {
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
  }
  
  /* Cancel button styling */
  .action-buttons button.p-button-secondary {
    background-color: white;
    color: #00529b;
    border-color:#1976d2;
  }
  
  .action-buttons button.p-button-secondary:hover {
    border-color: #888;
    background-color: #f5f5f5;
  }
  
  /* Send button styling */
  .action-buttons button.p-button-primary {
    background-color:#00529b; /* professional blue */
    color: white;
    border-color: #1976d2;
    
  }
  
 
  
  
  ::ng-deep .p-radiobutton-box {
    border: 2px solid #000000 !important;
    width: 20px !important;
    height: 20px !important;
    box-shadow: 0 0 8px rgba(202, 213, 221, 0.6); /* Glow effect */
    transition: border-color 0.3s ease;
  }
  
  ::ng-deep .p-radiobutton-box.p-highlight {
    background-color: black !important; /* black background when selected */
    border-color: black !important;     /* black border */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
      }
      
      /* Optional: change the checkmark color to white for contrast */
      ::ng-deep .p-radiobutton-icon {
        color: white !important;
      }
      
  
  
  .p-field label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin: 0.5rem;
    font-weight: 400;
    color: #000000;
  }
  
  .p-inputtext {
    width: 60%;
    padding: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 2px;
    border: 1px solid #ced4da;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
 
  @media (max-width: 600px) {
    .method-options {
      flex-direction: column;
      gap: 1rem;
    }
  
    .action-buttons {
      flex-direction: column;
      align-items: stretch;
      margin-left: 0;
    }
  
    .action-buttons button {
      width: 100%;
    }
  }
  