<div class="container">
    <p class="titleMain mt-3 ms-4">{{ 'gis.quotation.quotation_inquiry' | translate }}</p>
    <div class="container mx-2 mt-n1">
        <div class="card mb-3" style=" position: relative;">
            <div class="card-body ">
                <p class=" mt-2 ms-1 filter-by-text">{{ 'gis.quotation.filter_by' | translate }}:</p>

                <div class="row mt-2 mb-4">
                    <div class="col-sm-3  col-12">

                        <input type="text" id="quote-input" class="form-select form-control form-control-sm mb-1"
                            [value]="clientName | sentenceCase" data-bs-toggle="modal"
                            data-bs-target="#clientSearchModal" readonly placeholder="Client" />

                        <!-- Client Search Modal Component -->
                        <app-client-search-modal (clientSelected)="onClientSelected($event)"></app-client-search-modal>
                    </div>
                    <div class="col-sm-3  col-12">
                        <input type="text" id="quote-number-input" class=" form-control form-control-sm mb-1"
                            placeholder="Quotation number" [(ngModel)]="quotationNumber"
                            (blur)="onQuotationBlur($event)" />
                    </div>
                    <div class="col-sm-3 col-12 ">
                      
                        <p-calendar name="withEffectiveFromDate" [(ngModel)]="fromDate" [dateFormat]="dateFormat"
                            [showIcon]="true" [showButtonBar]="true" [placeholder]="'Date from'"
                            (onSelect)="onDateFromInputChange($event)" (onClear)="clearDateFilters()"
                            class="custom-calendar-height">
                        </p-calendar>
                    </div>

                    <div class="col-sm-3 col-12 ">
                        
                        <p-calendar name="withEffectiveToDate" [(ngModel)]="toDate" [dateFormat]="dateFormat"
                            [showIcon]="true" [showButtonBar]="true" [placeholder]="'Date to'"
                            (onSelect)="onDateToInputChange($event)"
                            (onClear)="clearDateFilters()"
                            class="custom-calendar-height" >
                        </p-calendar>

                    </div>
                </div>
                <div class="row  mt-2 mb-4">
                    <div class=" col-sm-3 col-12">

                        <input type="text" id="quote-input" class="form-select form-control form-control-sm mb-1"
                            [value]="productName | sentenceCase" data-bs-toggle="modal"
                            data-bs-target="#productSearchModal" placeholder="Product" readonly />

                        <!-- Product Search Modal Component -->
                        <app-product-search-modal (productSelected)="onProductSelected($event)">
                        </app-product-search-modal>
                    </div>

                    <div class=" col-sm-3 col-12 ">

                        <p-dropdown [options]="status" optionLabel="status" optionValue="status" [filter]="true"
                            filterBy="status" placeholder="Status" [(ngModel)]="selectedStatus"
                            (onChange)="onStatusSelected($event.value)" class="form-control-sm mb-1 custom-dropdown">
                        </p-dropdown>

                    </div>
                    <div class="col-sm-3 col-12 ">
                        <!-- <p-dropdown [options]="statuses" [(ngModel)]="selectedStatus" placeholder="Agent"
                            class="form-control-sm mb-1">
                        </p-dropdown> -->
                        <input type="text" id="quote-input" class="form-select form-control form-control-sm mb-1"
                            [value]="agentName | sentenceCase" data-bs-toggle="modal" data-bs-target="#agentSearchModal"
                            readonly placeholder="Agent" />
                        <!-- Client Search Modal Component -->
                        <app-agent-search-modal (agentSelected)="onAgentSelected($event)"></app-agent-search-modal>
                    </div>

                    <div class="col-sm-3 col-12 ">
                        <p-dropdown [options]="status" [(ngModel)]="selectedStatus" placeholder="Contract"
                            class="form-control-sm mb-1">
                        </p-dropdown>

                    </div>
                   
                </div>
                <!-- <div class="row mb-4">
                    <div class="col-sm-3 col-12 ">
                      
                        <p-calendar name="withEffectiveFromDate" [(ngModel)]="fromDate" [dateFormat]="dateFormat"
                            [showIcon]="true" [showButtonBar]="true" [placeholder]="'Date from'"
                            (onSelect)="onDateFromInputChange($event)" (onClear)="clearDateFilters()">
                        </p-calendar>
                    </div>

                    <div class="col-sm-3 col-12 ">
                        
                        <p-calendar name="withEffectiveToDate" [(ngModel)]="toDate" [dateFormat]="dateFormat"
                            [showIcon]="true" [showButtonBar]="true" [placeholder]="'Date to'"
                            (onSelect)="onDateToInputChange($event)"
                            (onClear)="clearDateFilters()" >
                        </p-calendar>

                    </div>
                </div> -->
                <div class="row mt-4 mb-4">
                    <div class="col-6 d-flex justify-content-start">
                        <button type="button" class="btn btn-primary " id="search-buttons"
                            (click)="fetchGISQuotations()">
                            {{ 'gis.quotation.search' | translate }}</button>
                        <button type="button" class="btn btn-outline-primary ms-2 " id="search-buttons"
                            (click)="clearFilters()">
                            {{ 'gis.quotation.clear' | translate }}</button>
                    </div>
                    <div class="col-6">

                    </div>
                </div>

                <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
                <p-table [value]="gisQuotationList" [paginator]="true" [rows]="10" [scrollable]="true"
                    scrollDirection="horizontal" [showCurrentPageReport]="true"
                    currentPageReportTemplate="{first} - {last} of {totalRecords}" [responsiveLayout]="'scroll'"
                    [resizableColumns]="true" [reorderableColumns]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{ 'gis.quotation.quotation_number' | translate }}</th>
                            <th>{{ 'gis.quotation.client' | translate }} </th>
                            <th>{{ 'gis.quotation.cover_from' | translate }}</th>
                            <th>{{ 'gis.quotation.cover_to' | translate }}</th>
                            <!-- <th>{{ 'gis.quotation.comments' | translate }}</th> -->
                            <th>{{ 'gis.quotation.expiry_date' | translate }}</th>
                            <th>{{ 'gis.quotation.status' | translate }}</th>
                            <th>{{ 'gis.quotation.transaction_date' | translate }}</th>
                            <th></th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-quotation>
                        <tr style="cursor: pointer">
                            <td>{{quotation.quotationNumber}}</td>
                            <td>{{quotation.clientName |sentenceCase}}</td>
                            <td>{{quotation.fromDate}}</td>
                            <td>{{quotation.toDate}}</td>
                            <!-- <td style=" white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width:300px;
                            overflow-y: auto;">{{quotation.comments}}</td> -->
                            <td>{{quotation.expiryDate}}</td>
                            <td>{{quotation.status}}</td>
                            <td>{{quotation.quotDate}}</td>
                            <td id="action-buttons" (click)="setQuotationNumber(
                              quotation.quotationNumber,
                              quotation.productCode,
                              quotation.clientCode)">
                                {{ "View quote" }}
                            </td>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="1"></td>

                            <td colspan="10" style="padding:20px;padding-left: 340px;" id="empty">
                                {{'gis.quotation.no_data_to_display' | translate}}</td>
                        </tr>

                    </ng-template>
                </p-table>



            </div>
        </div>
    </div>

</div>

<br>
<br><br><br><br>