.titleMain {
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card {
    border: none;
}

#search-input {
    margin-left: -5px;
    padding-left: 0;
    height: 40px;
}

.filter-by-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
::ng-deep .custom-calendar-height .p-calendar {
    height: 34px !important;
}

#source-input{
    height: 35px;
}
#action-buttons{
    color:rgba(0, 82, 155, 1); 
    font-family: Roboto;
font-size: 14px;
font-weight: 600;
line-height: 16.41px;
text-align: left;
text-decoration-line: underline;
text-decoration-style: solid;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
#search-buttons{
    font-weight: 500;
}
::ng-deep .p-dropdown{
    /* height: 53%; */
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    height: 35px;
    }
    ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder{
    padding:3px;


    }

    ::ng-deep
    .p-dropdown .p-dropdown-label {
        padding: 3px;
        font-size: 15px;
        color: #000;
        margin-left: 7px;
    }

    ::ng-deep
    .p-dropdown-filter {
        width: 100%;
        height: 40px;
        border-radius: 4px;
    }
    ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
      font-size: 14px;
      color: #000;
      padding:3px 20px;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .custom-width-20 {
      width: 18%;
      /* padding-right: 10px; */
  }
  #quote-input{
    height:35px;
  }

