<div class="auth-container">
    <div class="left">
        <router-outlet></router-outlet>
    </div>
    <div class="right">
        <img src="assets/images/Login_Image.png" alt="Login Image">
        <div class="slogan">
            <h2 class="htxt mb-3">Enhancing Business Performance</h2>
            <p class="lead-text htxt"><q>Maximize business opportunities, reduce costs and attain profitability by
                aligning IT with your Business through IT modernization and transformation.</q></p>
            <h5 class="htxt">- Turnkey Africa</h5>
        </div>
    </div>
</div>