<table class="table table-borderless mt-3">
  <thead>
  <tr class="top-row">
    <td>Description</td>
    <td>Rate</td>
    <td class="text-center">Rate Type</td>
    <td class="currency">Amount</td>
  </tr>
  </thead>
  <tbody>
  <tr class="tax-items" *ngFor="let tax of taxInformation">
    <td>{{ getTaxDescription(tax?.transactionTypeCode) | titlecase }}</td>
    <td>{{ tax.rate }}</td>
    <td class="text-center">{{ tax.rateType }}</td>
    <td class="currency">{{ tax.amount | number: '1.2-2' }}</td>
  </tr>
  <tr class="bottom-row">
    <th colspan="3">Total Premium Plus Taxes</th>
    <th class="currency">{{ totalPremium | number: '1.2-2' }}</th>
  </tr>
  </tbody>
</table>
