.rt-container {
  border: #b2b4b7 1px solid;
  padding: 3rem 1rem;
  border-radius: 3px;
  margin-top: 1.5rem;
  background-color: white;
}

/* Steps */
.step {
  position: relative;
  min-height: 1em;
  color: gray;
}
.step + .step {
  margin-top: 1.5em
}
.step > div:first-child {
  position: static;
  height: 0;
}
.step > div:not(:first-child) {
  margin-left: 1.5em;
  padding-left: 1em;
}
.step.step-active {
  color: var(--primary-color);
}
.step.step-active .circle {
  background-color: var(--primary-color);
  color: #fff;
}

.step.done .circle {
  background-color: #0cdd08;
}

/* Circle */
.circle {
  background: rgb(0, 0, 0);
  position: relative;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 100%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);

  text-align: center;
  box-shadow: 0 0 0 3px #fff;
}

/* Vertical Line */
.circle:after {
  content: ' ';
  position: absolute;
  display: block;
  top: 1px;
  right: 50%;
  bottom: 1px;
  left: 50%;
  height: 100%;
  width: 1px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}
.step:last-child .circle:after {
  display: none
}

/* Stepper Titles */
.title {
  line-height: 1.5em;
  font-weight: bold;
  font-size: 0.8rem;
}
.caption {
  font-size: 0.8em;
}

.link {
  color: var(--primary);
  cursor: pointer;
}
