.main {
    padding: 40px;
    height: 100%;
}

.container {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    background: #FFF;
    padding: 0 20px 20px 20px;
    border-radius: 6px;
}

/* search form and select column dropdown begins */
.form {
    position: relative;
    width: 270px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.form .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #9ca3af;
}

.form span {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.form-input {
    height: 35px;
    text-indent: 33px;
    border-radius: 4px;
    width: 100%;
    flex: 1;
}

.form-input:focus {
    box-shadow: none;
    border: 1;
}

p-multiSelect {
    margin-left: 10px;
    margin-top: 15px;
}

:host ::ng-deep .p-multiselect-label-container {
    display: none;
}

:host ::ng-deep .p-multiselect {
    height: auto;
}

:host ::ng-deep .p-multiselect-panel {
    max-height: 300px;
    max-width: 100%;
    overflow-y: auto;
}

:host ::ng-deep .p-multiselect-trigger {
    width: 20px;
    height: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 8px;
    background-color: #BAD0E4;
    white-space: nowrap;
}

td {
    padding: 2px;
    white-space: nowrap;
}

tr {
    border-bottom: none !important;
    height: 40px;
}

/* table end*/

#table-align {
    text-align: right;
}

@media (max-width: 768px) {
    .form {
        width: 100%;
    }
}