.icon-circle {
  display: inline-block;
  background-color: #e4e7eb;
  color: #00529b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}
.transactionLabel{
  float: left;
}
.btn:disabled {
  pointer-events: all;
  cursor: not-allowed;
  opacity: 0.40;
}
