<div class="main">
    <div class="container">
        <div style="padding-top: 20px; text-align: center;"><span class="summary-text">Policy details</span></div>
        <div class="row col-12 mt-1" style="color: black; padding-left: 25px;">
            <div class="col-md-4 col-xs-12">
                <table style="width: 100%;">
                    <tr>
                        <td style=" align-items: left; color: grey;">Product number: </td>
                        <td class="style-text" style=" align-items: right;">{{ quoteSummary }} {{ quoteSummary }}</td>
                    </tr>
                    <tr>
                        <td style=" align-items: left; color: grey;">Product description: </td>
                        <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                    </tr>
                    <tr>
                        <td style=" align-items: left; color: grey;">Cover duration: </td>
                        <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                    </tr>
                    <tr>
                        <td style=" align-items: left; color: grey;">Policy effective date: </td>
                        <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 col-xs-12">
                <table style="width: 100%;">
                    <tr>
                        <td style=" align-items: left; color: grey;">Client name: </td>
                        <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                    </tr>
                    <tr>
                        <td style=" align-items: left; color: grey;">Branch: </td>
                        <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                    </tr>
                    <tr>
                        <td style=" align-items: left; color: grey;">Cover date from: </td>
                        <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                    </tr>
                    <tr>
                        <td style=" align-items: left; color: grey;">Frequency of payment: </td>
                        <td class="style-text" style="align-items: right;">{{ quoteSummary }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 col-xs-12">
                <table style="width: 100%;">
                    <tr>
                        <td style=" align-items: left; color: grey;">Policy status: </td>
                        <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                    </tr>
                    <tr>
                        <td style=" align-items: left; color: grey;">Occupation: </td>
                        <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                    </tr>
                    <tr>
                        <td style=" align-items: left; color: grey;">Cover date to: </td>
                        <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                    </tr>
                    <tr>
                        <td style=" align-items: left; color: grey;">Currency: </td>
                        <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="text-align: center; padding-top: 20px;"><span class="summary-text">Endorsement details</span></div>

        <table class="centered-table">
            <tr>
                <td style="text-align: right;"><span class="sa-premium">1200</span></td>&nbsp;&nbsp;
                <td style="text-align: left;"><span class="sa-premium">300</span></td>
            </tr>
            <tr>
                <td><span class="text-typography">Sum assured</span></td>&nbsp;&nbsp;
                <td><span class="text-typography">Gross premium</span></td>
            </tr>
        </table>

        <div class="row col-12 mt-1" style="color: black; padding-left: 25px;">
            <div class="col-md-4 col-xs-12">
                <table style="width: 100%;">
                    <tr>
                        <td style=" align-items: left; color: grey;">Members: </td>
                        <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                    </tr>
                    <tr>
                        <td style=" align-items: left; color: grey;">Net premium amount: </td>
                        <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 col-xs-12">
                <table style="width: 100%;">
                    <tr>
                        <td style=" align-items: left; color: grey;">Commission amount: </td>
                        <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 col-xs-12">
                <table style="width: 100%;">
                    <tr>
                        <td style=" align-items: left; color: grey;">Tax amount: </td>
                        <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row col-12 mt-3" style="padding-left: 25px;">
            <div class="col-md-4">
                <div>Member details</div>
                <div class="box-shadow">
                    <div>
                        <table style="width: 100%; margin-left: 10px;">
                            <tr>
                                <td style=" align-items: left; color: grey;">Members: </td>
                                <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                            </tr>
                            <tr>
                                <td style=" align-items: left; color: grey;">Override FCL amount: </td>
                                <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                            </tr>
                            <tr>
                                <td style=" align-items: left; color: grey;">Members above override FCL: </td>
                                <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                            </tr>
                            <tr>
                                <td style=" align-items: left; color: grey;">Re-insurance retention limit: </td>
                                <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                            </tr>
                            <tr>
                                <td style=" align-items: left; color: grey;">Members above retention limit: </td>
                                <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                            </tr>
                            <tr>
                                <td style=" align-items: left; color: grey;">Computed FCL amount: </td>
                                <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="view-more">
                        <button type="button" class="btn btn-primary back-button" (click)="showMemberSummary()">View
                            member listing &nbsp; <span class="circular-border">+</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>Cover types</div>
                <div class="box-shadow">
                    <div>
                        <div>
                            <span class="style-text" style="margin-left: 10px; padding-top: 10px;">Cover type1</span>
                            <table style="width: 100%; margin-left: 10px;">
                                <tr>
                                    <td style=" align-items: left; color: grey;">Premium: </td>
                                    <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                                </tr>
                                <tr>
                                    <td style=" align-items: left; color: grey;">Sum assured: </td>
                                    <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                                </tr>
                            </table>
                        </div>

                        <div class="mt-3">
                            <span class="style-text" style="margin-left: 10px;">Cover type2</span>
                            <table style="width: 100%; margin-left: 10px;">
                                <tr>
                                    <td style=" align-items: left; color: grey;">Premium: </td>
                                    <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                                </tr>
                                <tr>
                                    <td style=" align-items: left; color: grey;">Sum assured: </td>
                                    <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="view-more">
                        <button type="button" class="btn btn-primary back-button" (click)="showCoverSummary()">View more
                            &nbsp; <span class="circular-border">+</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>Accounts</div>
                <div class="box-shadow">
                    <div>
                        <span class="style-text" style="margin-left: 10px;">Premium</span>
                        <table style="width: 100%; margin-left: 10px;">
                            <tr>
                                <td style=" align-items: left; color: grey;">Premium amount: </td>
                                <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                            </tr>
                            <tr>
                                <td style=" align-items: left; color: grey;">Outstanding amount: </td>
                                <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                            </tr>
                            <tr>
                                <td style=" align-items: left; color: grey;">Total paid amount: </td>
                                <td class="style-text" style=" align-items: right;">{{ quoteSummary }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="view-more">
                        <button type="button" class="btn btn-primary back-button"
                            (click)="showAccountSummaryModal()">View more &nbsp; <span class="circular-border">+</span>
                        </button>

                    </div>

                </div>
            </div>
        </div>

        <!-- modals begin -->

        <!-- member details -->
        <div class="modal fade" tabindex="-1" #memberSummaryModal id="memberSummaryModal"
            aria-labelledby="memberSummaryModal" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="memberSummaryModalLabel">Member details</h5>
                    </div>

                    <div class="modal-body">
                        <form [formGroup]="searchFormMemberDets">
                            <div class="scrollable-container d-flex justify-content-end">
                                <div class="col-xs-12 col-md-1" style="display: inline-block; color: black;">Filter by
                                </div>
                                <div class="col-md-2 col-sm-12" style="display: inline-block; padding-left: 5px;">
                                    <p-dropdown id='filterby' [optionLabel]="'surname'"
                                        [style]="{ width: '100%', height: '38px', 'line-height': '10px'}"
                                        formControlName='filterby' placeholder="Select option">
                                    </p-dropdown>
                                </div>
                                <div class="col-md-2 col-sm-12" style="display: inline-block; margin-left: 5px;">
                                    <input type="text" pInputText class="form-control" formControlName="greaterOrEqual"
                                        id="greaterOrEqual" placeholder="greater than, equals...">
                                </div>
                                <div class="col-md-2 col-sm-12" style="display: inline-block; margin-left: 5px;">
                                    <input type="text" pInputText class="form-control" formControlName="valueEntered"
                                        id="valueEntered" placeholder="Enter value">
                                </div>
                                <div class="col-md-3 col-sm-12 search mb-1">
                                    <div class="box">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        <input type="text" class="custom-form-control" formControlName="searchMember"
                                            id="searchMember" placeholder="Search..." [style]="{ height: '38px' }" />
                                    </div>
                                </div>

                            </div>

                        </form>

                        <div class="card col-12">
                            <p-table [value]="" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                                [tableStyle]="{'min-width': '50rem'}"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [rowsPerPageOptions]="[10,25,50]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:11.11%">Surname</th>
                                        <th style="width:11.11%">Other name</th>
                                        <th style="width:11.11%">Premium</th>
                                        <th style="width:11.11%">Sum Assured</th>
                                        <th style="width:11.11%">Date of birth</th>
                                        <th style="width:11.11%">Gender</th>
                                        <th style="width:11.11%">Payroll/Member no.</th>
                                        <th style="width:11.11%">Category</th>
                                        <th style="width:11.11%">Dependant type</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-membersDetails let-rowIndex="rowIndex">
                                    <!-- <tr (click)="onMemberTableRowClick(membersDetails, rowIndex)" [ngClass]="{'selected-row': rowIndex === selectedRowIndex}" style="cursor: pointer"> -->
                                    <tr>
                                        <td id="tdStyle">{{ membersDetails.surname | titlecase }}</td>
                                        <td id="tdStyle">{{ membersDetails.other_names | titlecase }}</td>
                                        <td id="tdStyle">{{ membersDetails.total_sum_assured }}</td>
                                        <td id="tdStyle">{{ membersDetails.date_of_birth }}</td>
                                        <td id="tdStyle">{{ membersDetails.gender }}</td>
                                        <td id="tdStyle">{{ membersDetails.member_number }}</td>
                                        <td id="tdStyle">{{ membersDetails.description | titlecase }}</td>
                                        <td id="tdStyle">{{ membersDetails.dty_description | titlecase }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>

                        </div>

                        <div class="mt-5">
                            <h6 style="color: black;">Member summary</h6>
                            <p-table [value]="" [tableStyle]="{'max-width': '35rem'}">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Surname</th>
                                        <th>Other name</th>
                                        <th>Cover type</th>
                                        <th style="text-align: right;">Premium</th>
                                        <th style="text-align: right;">Sum assured</th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-memberCoverTypeSummaryDto>
                                    <tr>
                                        <td id="tdStyle">{{ memberCoverTypeSummaryDto.cvt_desc | titlecase }}</td>
                                        <td id="tdStyle">{{ memberCoverTypeSummaryDto.wef }}</td>
                                        <td id="tdStyle">{{ memberCoverTypeSummaryDto.wet }}</td>
                                        <td style="text-align: right;">{{ memberCoverTypeSummaryDto.sum_assured | number
                                            }}</td>
                                        <td style="text-align: right;"> {{memberCoverTypeSummaryDto.premium | number }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="closeMembersSummary()">Back to summary</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- member details end -->

        <!-- covertypes summary -->
        <div class="modal fade" tabindex="-1" #memberSummaryModal id="coverSummaryModal"
            aria-labelledby="coverSummaryModal" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="coverSummaryModalLabel">Cover details</h5>
                        <button type="button" class="custom-red-button" data-bs-dismiss="modal" aria-label="Close"
                            (click)="closeCoverSummary()"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <p-table [value]="" [scrollable]="true" scrollHeight="400px"
                                [tableStyle]="{'min-width': '50rem'}">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Cover</th>
                                        <th>Sum assured</th>
                                        <th>Premium</th>
                                        <th>Computation formula</th>
                                        <th>Rate</th>
                                        <th>Rate division factor</th>
                                        <th>% of main/yr SA</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-coverTypes>
                                    <tr>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="closeCoverSummary()">Back to summary</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- covertypes summary end -->

        <!-- Accounts  summary-->
        <div class="modal fade" tabindex="-1" #accountSummaryModal id="accountSummaryModal"
            aria-labelledby="accountSummaryModal" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="accountSummaryModalLabel">Accounts summary</h5>
                        <button type="button" class="custom-red-button" data-bs-dismiss="modal" aria-label="Close"
                            (click)="closeAccountSummaryModal()"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div>
                                <h5 class="modal-title" id="accountSummaryModalLabel">Receipts</h5>
                                <p-table [value]="" [scrollable]="true" scrollHeight="400px"
                                    [tableStyle]="{'min-width': '50rem'}">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Receipt number</th>
                                            <th>Credit note</th>
                                            <th>Credit note date</th>
                                            <th>Amount</th>
                                            <th>Credit note settled</th>
                                            <th>Status</th>
                                            <th>rct balance</th>
                                            <th>Transaction</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-coverTypes>
                                        <tr>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>

                            <div class="mt-5">
                                <h5 class="modal-title" id="accountSummaryModalLabel">Commission</h5>
                                <p-table [value]="" [scrollable]="true" scrollHeight="400px"
                                    [tableStyle]="{'min-width': '50rem'}">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Receipt number</th>
                                            <th>Credit note</th>
                                            <th>Credit note date</th>
                                            <th>Amount</th>
                                            <th>Credit note settled</th>
                                            <th>Status</th>
                                            <th>rct balance</th>
                                            <th>Transaction</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-coverTypes>
                                        <tr>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>

                            <div class="mt-5">
                                <h6 style="color: black;">Taxes</h6>
                                <p-table [value]="" [tableStyle]="{'max-width': '35rem'}">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Cover type</th>
                                            <th>Cover effect from</th>
                                            <th>Cover effect to</th>
                                            <th style="text-align: right;">Sum assured</th>
                                            <th style="text-align: right;">Premium</th>

                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-memberCoverTypeSummaryDto>
                                        <tr>
                                            <td id="tdStyle">{{ memberCoverTypeSummaryDto.cvt_desc | titlecase }}</td>
                                            <td id="tdStyle">{{ memberCoverTypeSummaryDto.wef }}</td>
                                            <td id="tdStyle">{{ memberCoverTypeSummaryDto.wet }}</td>
                                            <td style="text-align: right;">{{ memberCoverTypeSummaryDto.sum_assured |
                                                number }}</td>
                                            <td style="text-align: right;"> {{memberCoverTypeSummaryDto.premium | number
                                                }}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="closeAccountSummaryModal()">Back to summary</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Accounts summary end -->

        <!-- Share summary -->
        <div class="modal fade" tabindex="-1" #memberSummaryModal id="shareSummaryModal"
            aria-labelledby="shareSummaryModal" aria-hidden="true">
            <div class="modal-dialog modal-m">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="custom-red-button ms-auto" data-bs-dismiss="modal"
                            aria-label="Close" (click)="closeShareSummaryModal()"></button>
                    </div>
                    <div class="modal-body">
                        <!-- <div class="card"> -->
                        <form [formGroup]="shareSummaryForm" class="black-text-form">
                            <div class="row">
                                <div class="col">
                                    <div class="custom-radio-button-container">
                                        <p-radioButton formControlName="communicationType" value="email" inputId="email"
                                            class="custom-radio-button"></p-radioButton>
                                        <label for="email" class="custom-label">Email client</label>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="">
                                        <p-radioButton formControlName="communicationType" value="sms"
                                            inputId="sms"></p-radioButton>
                                        <label for="sms" class="custom-label">SMS</label>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="">
                                        <p-radioButton formControlName="communicationType" value="whatsapp"
                                            inputId="whatsapp"></p-radioButton>
                                        <label for="whatsapp" class="custom-label">Whatsapp</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2 mt-2">
                                <div>
                                    <label class="label" for="multiplesOfEarnings">Client name<span
                                            class="required"></span></label>
                                </div>
                                <div class="form-group">
                                    <input type="text" pInputText class="form-control" formControlName="clientName" />
                                </div>
                            </div>

                            <div *ngIf="shareSummaryForm.get('communicationType').value === 'email'">
                                <div>
                                    <label class="label" for="multiplesOfEarnings">Email address<span
                                            class="required"></span></label>
                                </div>
                                <div class="form-group">
                                    <input type="email" pInputText class="form-control" formControlName="email" />
                                </div>
                            </div>

                            <div *ngIf="shareSummaryForm.get('communicationType').value === 'sms'">
                                <div>
                                    <label class="label" for="multiplesOfEarnings">Sms<span
                                            class="required"></span></label>
                                </div>
                                <div class="form-group">
                                    <input type="text" pInputText class="form-control" formControlName="sms" />
                                </div>
                            </div>

                            <div *ngIf="shareSummaryForm.get('communicationType').value === 'whatsapp'">
                                <div>
                                    <label class="label" for="multiplesOfEarnings">Whatsapp<span
                                            class="required"></span></label>
                                </div>
                                <div class="form-group">
                                    <input type="text" pInputText class="form-control" formControlName="whatsapp" />
                                </div>
                            </div>

                        </form>

                        <!-- </div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Share summary end -->

        <!-- Reject summary -->
        <div class="modal fade" tabindex="-1" #memberSummaryModal id="rejectSummaryModal"
            aria-labelledby="rejectSummaryModal" aria-hidden="true">
            <div class="modal-dialog modal-m">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="custom-red-button ms-auto" data-bs-dismiss="modal"
                            aria-label="Close" (click)="closeRejectSummaryModal()"></button>
                    </div>
                    <div class="modal-body">
                        <!-- <div class="card"> -->
                        <h5 style="color: #000;">Please provide a reason for rejection</h5>
                        <form [formGroup]="shareSummaryForm" class="black-text-form">
                            <div>Reason</div>
                            <div class="card flex justify-content-center">
                                <textarea rows="5" cols="30" pInputTextarea></textarea>
                            </div>


                        </form>

                        <!-- </div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary bottom-button-share" data-bs-dismiss="modal"
                            (click)="closeRejectSummaryModal()">
                            <span>Close</span></button>
                        <button type="button" class="btn btn-primary bottom-button-reject"
                            data-bs-dismiss="modal">Reject Policy</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reject summary end -->

        <!-- modals end -->

    </div>
    <div>
        <button type="button" class="btn btn-primary back-button" (click)="onBack()">Back
        </button>

        <div class="d-flex justify-content-end">
            <div class="share-button-container">
                <button class="bottom-button-share" (click)="showShareSummaryModal()">
                    <span class="text-share">Share</span>
                </button>
            </div>

            <div class="reject-button-container">
                <button class="bottom-button-reject" (click)="showRejectSummaryModal()">
                    <span class="text">Reject</span>
                </button>
            </div>

            <div class="accept-button-container">
                <button class="bottom-button-accept" (click)="onProceed()">
                    <span class="text">Accept policy</span>
                </button>
            </div>
        </div>

    </div>
</div>