.breadcrumb-container {
  padding-top: 1rem;
  justify-content: end;
}

.content-container {
  box-shadow: none;
  border: 1px solid #ddd;
}

.section-header {
  font-size: 20px;
  margin-bottom: 0;
}

.spinner-container {
  position: relative;
  color: black;
}

div > label {
  margin-top: 1rem;
}

label {
  margin-bottom: 0.5rem;
}

.add-button-container {
  padding: 0;
}

.table-header {
  font-weight: 400;
  font-size: 12px;
  border: none;
}

.action-column {
  width: 2rem;
}

.no-record-message span {
  color: gray;
}

.spinner-border {
  position: relative;
  left: 50%; 
  right: 50%; 
  width: 3rem; 
  height: 3rem;
}

.navigation-buttons .back-button {
  padding: 0.6em;
  text-decoration: underline;
}

/* Style the table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Remove borders between rows and columns */
.table th, .table td {
  border: none; 
}

/* Table Header Styling */
.table thead th {
  color: var(--primary-color); 
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 12px;
}

/* Distinguish Rows by Alternating Colors */
.table tbody tr:nth-child(odd) {
  background-color: #eaeaea; /* Light gray for odd rows */
}

.table tbody tr:nth-child(even) {
  background-color: #ffffff; /* White for even rows */
}

/* Highlight row on hover */
.table tbody tr:hover {
  background-color: #d6eaf8; /* Subtle blue for hover */
  transition: background-color 0.3s ease;
}

/* Table Cell Styling */
.table tbody td {
  padding: 10px;
  text-align: left;
  border: none;
}

.required {
  padding: 0 0 0.5rem 0;
}

/* Custom Modal Dimensions */
.modal-content {
  border-radius: 6px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 1.5rem;
}

.modal-header {
  border-bottom: 0px;
  padding-bottom: 0.50rem;
}

.modal-header .modal-title {
  font-size: 18px; 
}

.modal-custom {
  max-width: 714px;
  height: 387px;
  margin: auto;
}

.modal-footer {
  border-top: none;
  padding-top: 0.75rem; 
}

button.btn-secondary {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #00529B;
  background-color: #FFF;
  color: #00529B; 
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.p-dropdown .p-dropdown-label .p-placeholder {
  color: #ca1b0e !important;
  transform: translateY(-4px) !important;
  font-size: 12px !important;
}

tbody > tr > td:nth-child(1) {
  padding-right: 2rem !important  ;
}

.t_hover:hover {
  background-color: rgba(20, 48, 134, 0.782) !important;
  color: rgba(255, 255, 255, 0.782) !important;
  font-weight: 600;
}
tr.ng-star-inserted {
  font-size: 12px;
}

tr.ng-star-inserted:hover {
  border: 1px solid rgba(147, 146, 146, 0.664);
  font-weight: 600;
  font-size: 11px;
  --bs-table-bg: rgba(233, 232, 232, 0.801);
  cursor: pointer;
}

table > thead > tr > th,
tbody {
  border: none;
}

.btn {
  --bs-btn-padding-x: 0.35rem !important;
  --bs-btn-padding-y: 0.375rem !important;
  --bs-btn-font-size: 0.7rem !important;
}
.table {
  --bs-table-striped-bg: white !important;
}

.p-input-icon-right > .p-icon-wrapper.p-icon,
.p-input-icon-left > i:first-of-type {
  color: #6c757d7c;
}

tbody > tr {
  border: 1px solid rgb(187, 187, 187) !important;
}

.d-flex > .mx-2 {
  justify-content: space-between;
  color: black !important;
  font-size: 22px;
  cursor: pointer;
}

.d-flex > .mx-2:hover {
  color: black !important;
}

.text-danger:hover,
.text-success:hover {
  color: black !important;
}

.justify-md {
  display: flex;
  justify-content:flex-end;
}

.doc-file-notif {
  transform: translate(2.8rem, 0.7rem);
  color: gray;
  width: 83%;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .justify-md {
    justify-content: start;
  }
  .doc-file-notif {
    width: 33%
  }
}