<!-- Main Container for Insurance History -->
<div class="container-fluid">

  <!-- Breadcrumb Navigation -->
  <div class="breadcrumb-container">
    <app-dynamic-breadcrumb [breadCrumbItems]="breadCrumbItems"></app-dynamic-breadcrumb>
  </div>

  <!-- Stepper Component -->
  <div class="row">
    <div class="col-md-12">
      <app-stepper [currentStep]="5" [stepperData]="steps"></app-stepper>
    </div>
  </div>

  <!-- Content Section -->
  <div class="full-border p-5 content-container">

    <div>

      <div class="d-flex justify-content-between">
        <div class="section-header">{{ "lms.ind.quotations.insurance_history" | translate }}</div>
      </div>

      <!-- Content Wrapper with Spinner -->
      <div class="text-black spinner-container">
        <ngx-spinner
          name="ins_view"
          type="ball-clip-rotate-multiple"
          [fullScreen]="false"
          color="#00529B"
          size="medium"
          bdColor="rgba(255, 255, 255, 0.0)">
        </ngx-spinner>

        <div class="col fadeIn">
          <!-- Main Form Section -->
          <div [formGroup]="insuranceHistoryForm" class="w-100">

            <div>

              <!-- Question 1 Section -->
              <div class="mt-2">
                <label class="required">{{ "lms.ind.quotations.policy_question" | translate }} ?</label>
                <div></div>
                <span class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="question1Yes" formControlName="question1" value="Y" />
                  <label class="form-check-label" for="question1Yes">{{ "lms.ind.quotations.yes" | translate }}</label>
                </span>
                <span class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="question1No" formControlName="question1" value="N"
                      (click)="selectFirstQuestion()" />
                  <label class="form-check-label" for="question1No">{{ "lms.ind.quotations.no" | translate }}</label>
                </span>

                <div>
                  <!-- Dynamic Table for Question 1 -->
                  <div *ngIf="getValue('question1') === 'Y'" class="text-black">
                    <div>
                      <!-- Add Button for Dynamic Rows -->
                      <div class="d-flex justify-content-between add-button-container">
                        <div></div>
                        <div>
                          <div (click)="addEmptyPolicyList()" class="b-r d-flex justify-content-center align-content-center">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                        </div>
                      </div>

                      <ng-container>
                        <!-- Table to Display/Edit Insurance Policies -->
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead>
                              <tr class="table-header">
                                <th>{{ "lms.ind.quotations.insurance_company" | translate }}</th>
                                <th>{{ "lms.ind.quotations.policy_no" | translate }}.</th>
                                <th>{{ "lms.ind.quotations.annual_premium" | translate }}</th>
                                <th>{{ "lms.ind.quotations.sum_assured" | translate }}</th>
                                <th>{{ "lms.ind.quotations.status" | translate }}</th>
                                <th class="action-column"></th>  
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let row of policyListOne; let i = index">
                                <td>{{ row.provider }}</td>
                                <td>{{ row.policy_no }}</td>
                                <td>{{ row.premium }}</td>
                                <td>{{ row.sum_assured }}</td>
                                <td>{{ filterCoverStatusType(row.cover_status) }}</td>
                                <td class="d-flex justify-content-between py-2">
                                  <div (click)="openEditPolicyModalOne(i)" class="mx-2">
                                    <i class="fas fa-edit text-success"></i>
                                  </div>
                                  <div (click)="deletePolicyListOne(i)" class="mx-2">
                                    <i class="fas fa-trash-alt text-danger"></i>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div *ngIf="policyListOne.length === 0" class="d-flex justify-content-center no-record-message">
                            {{ "lms.ind.quotations.no_record_capture" | translate }}. &nbsp;
                          <span>&nbsp; {{ "lms.ind.quotations.click_on_+_icon_to_add_record" | translate }}</span>
                        </div>
                      </ng-container>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Question 2 Section -->
            <div class="mt-0">
              <label class="required">{{ "lms.ind.quotations.proposal_question" | translate }} ?</label>
              <div></div>
              <span class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="male"
                    formControlName="question2" value="Y"/>
                <label class="form-check-label" for="male">{{ "lms.ind.quotations.yes" | translate }}</label>
              </span>
              <span class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="female"
                    formControlName="question2" value="N" (click)="selectSecondQuestion()"/>
                <label class="form-check-label" for="female">{{ "lms.ind.quotations.no" | translate }}</label>
              </span>

              <div>
                <div class="text-black" *ngIf="getValue('question2') === 'Y'">
                  <div>
                    <div class="text-black">
                      <div class="d-flex justify-content-between add-button-container">
                        <div></div>
                        <div>
                          <div (click)="openAddPolicyTwoModal()" class="b-r d-flex justify-content-center align-content-center">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                        </div>
                      </div>
                      <ng-container>
                        <div class="table-responsive">
                          <table formArrayName="responseOne" class="table table-bordered">
                            <thead>
                              <tr class="table-header">
                                <th>{{ "lms.ind.quotations.insurance_company" | translate }}</th>
                                <th>{{ "lms.ind.quotations.policy_no" | translate }}.</th>
                                <th>{{ "lms.ind.quotations.annual_premium" | translate }}</th>
                                <th>{{ "lms.ind.quotations.sum_assured" | translate }}</th>
                                <th>{{ "lms.ind.quotations.status" | translate }}</th>
                                <th class="action-column"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let row of policyListTwo; let i = index">
                                <td>{{ row.provider }}</td>
                                <td>{{ row.policy_no }}</td>
                                <td>{{ row.premium }}</td>
                                <td>{{ row.sum_assured }}</td>
                                <td>{{ filterCoverStatusType(row.cover_status) }}</td>
                                <td class="d-flex justify-content-between py-2">
                                  <div (click)="openEditPolicyModalTwo(i)" class="mx-2">
                                    <i class="fas fa-edit text-success"></i>
                                  </div>
                                  <div (click)="deletepolicyListTwo(i)" class="mx-2">
                                    <i class="fas fa-trash-alt text-danger"></i>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          <div *ngIf="editEntity">
                            <div class="spinner-border text-primary spinner-border" role="status">
                              <span class="visually-hidden">{{ "lms.ind.quotations.loading" | translate }}...</span>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="policyListOne.length === 0" class="d-flex justify-content-center no-record-message">
                            {{ "lms.ind.quotations.no_record_capture" | translate }}. &nbsp;
                          <span>&nbsp; {{ "lms.ind.quotations.click_on_+_icon_to_add_record" | translate }}</span>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between pb-4 navigation-buttons">
    <button routerLink="/home/lms/ind/quotation/beneficiaries-dependents" class="btn btn-sm text-primary fw-medium fs-6 back-button" type="button">
        {{ "lms.ind.quotations.back" | translate }}
    </button>
    <button routerLink="/home/lms/ind/quotation/lifestyle-details" class="btn btn-primary btn-sm next-button" type="button">
        {{ "lms.ind.quotations.next" | translate }} &nbsp;&nbsp;
    </button>
  </div>
</div>

<!-- Policy Question Modal -->
<div class="modal fade" 
    tabindex="-1" 
    id="policyListModal" 
    [ngClass]="{ show: showModal }" 
    [style.display]="showModal ? 'block' : 'none'"
    aria-labelledby="policyListModal" 
    aria-hidden="!showModal">
  <div class="modal-dialog modal-custom">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h5 class="modal-title">{{ editingPolicy ? 'Edit Policy Details' : 'Add Policy Details' }}</h5>
        <button type="button" class="btn-close" (click)="closePolicyModal()"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="insuranceHistoryFormOne">

          <div class="row g-5">

            <div class="col-md-6">
              <label class="form-label">{{ "lms.ind.quotations.insurance_company" | translate }}<span class="required"></span></label>
              <input type="text" class="form-control" formControlName="provider" />
            </div>

            <div class="col-md-6 col-sm-12">
              <label class="form-label">{{ "lms.ind.quotations.policy_no" | translate }}<span class="required"></span></label>
              <input type="text" class="form-control" formControlName="policy_no" />
            </div>

            <div class="col-md-6 col-sm-12">
              <label class="form-label">{{ "lms.ind.quotations.annual_premium" | translate }}<span class="required"></span></label>
              <input type="number" class="form-control" formControlName="premium" />
            </div>

            <div class="col-md-6 col-sm-12">
              <label class="form-label">{{ "lms.ind.quotations.sum_assured" | translate }}<span class="required"></span></label>
              <input type="number" class="form-control" formControlName="sum_assured" />
            </div>

            <div class="col-md-6 col-sm-12">
              <label class="form-label">{{ "lms.ind.quotations.status" | translate }}<span class="required"></span></label>
              <select formControlName="cover_status" class="form-select">
                <ng-container *ngFor="let type of coverStatusTypeListOne">
                  <option [value]="type['name']">{{ type["value"] | titlecase }}</option>
                </ng-container>
              </select>
            </div>

          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closePolicyModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="savePolicy()">Save</button>
      </div>
    </div>
  </div>
</div> 

<!-- Proposal Question Modal -->
<div class="modal fade"
    tabindex="-1"
    id="policyListTwoModal"
    [ngClass]="{ show: showPolicyTwoModal }"
    [style.display]="showPolicyTwoModal ? 'block' : 'none'"
    aria-labelledby="policyListTwoModal"
    aria-hidden="!showPolicyTwoModal">
  <div class="modal-dialog modal-custom">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h5 class="modal-title">{{ editingPolicyTwo ? 'Edit Proposal Details' : 'Add Proposal Details' }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closePolicyModalTwo()"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="insuranceHistoryFormTwo">

          <div class="row g-3">

            <div class="col-md-6">
              <label for="provider" class="form-label">{{ "lms.ind.quotations.insurance_company" | translate }}<span class="required"></span></label>
              <input formControlName="provider" type="text" class="form-control" id="provider" />
            </div>

            <div class="col-md-6">
              <label for="policy_no" class="form-label">{{ "lms.ind.quotations.policy_no" | translate }}<span class="required"></span></label>
              <input formControlName="policy_no" type="text" class="form-control" id="policy_no" />
            </div>

            <div class="col-md-6">
              <label for="premium" class="form-label">{{ "lms.ind.quotations.annual_premium" | translate }}<span class="required"></span></label>
              <input formControlName="premium" type="number" class="form-control" id="premium" />
            </div>

            <div class="col-md-6">
              <label for="sum_assured" class="form-label">{{ "lms.ind.quotations.sum_assured" | translate }}<span class="required"></span></label>
              <input formControlName="sum_assured" type="number" class="form-control" id="sum_assured" />
            </div>

            <div class="col-md-6">
              <label for="cover_status" class="form-label">{{ "lms.ind.quotations.status" | translate }}<span class="required"></span></label>
              <select formControlName="cover_status" class="form-select" id="cover_status">
                <ng-container *ngFor="let type of coverStatusTypeListTwo">
                  <option [value]="type['name']">
                    {{ type['value'] | titlecase }}</option>
                </ng-container>
              </select>
            </div>

          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closePolicyModalTwo()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="savePolicyTwo()">Save</button>
      </div>
    </div>
  </div>
</div>