<form [formGroup]="claimInitForm">
  <div class="container mt-2">
  <!-- Claim Details -->
  <div class="row">
    <div class="fw-medium section-title">{{ "lms.ind.claim_details" | translate }}</div>

    <div class="col-md-4">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <label for="claimClients">{{ "lms.ind.claim_on_life" | translate }}</label>
        <p-dropdown
          [style]="{width: '100%', padding: '0px'}"
          formControlName="claimClients"
          [options]="(claimClients | async) | sort : 'asc' : 'name'"
          optionLabel="name"
          placeholder="{{ 'lms.ind.select_an_option' | translate }}">
        </p-dropdown>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <label for="causationType">{{ "lms.ind.causation_type" | translate }}</label>
        <p-dropdown
          [style]="{width: '100%', padding: '0px'}"
          formControlName="causationType"
          [options]="(causationTypes | async) | sort : 'asc' : 'name'"
          optionLabel="name"
          placeholder="{{ 'lms.ind.select_an_option' | translate }}">
        </p-dropdown>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <label for="causationCause">{{ "lms.ind.causation_cause" | translate }}</label>
        <p-dropdown
          [style]="{width: '100%', padding: '0px'}"
          formControlName="causationCause"
          [options]="(causationCauses$ | async) | sort : 'asc' : 'caus_desc'"
          optionLabel="caus_desc"
          placeholder="{{ 'lms.ind.select_an_option' | translate }}">
        </p-dropdown>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4">
      <div>
        <div>
          <label for="incidentDate">{{ "lms.ind.incident_date" | translate }}</label>
        </div>
        <div class="form-group">
          <div>
            <p-calendar formControlName="incidentDate" dateFormat="dd/mm/yy" [showIcon]="true"
                        [showButtonBar]="true" placeholder="dd/mm/yy">
            </p-calendar>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <div>
          <label for="dateReported">{{ "lms.ind.date_reported" | translate }}</label>
        </div>
        <div class ="form-group">
          <div>
            <p-calendar formControlName="dateReported" dateFormat="dd/mm/yy" [showIcon]="true"
                        [showButtonBar]="true" placeholder="dd/mm/yy">
            </p-calendar>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <label for="incidentLocation">{{ "lms.ind.incident_location" | translate }}</label>
      </div>
      <div class ="form-group">
        <div>
          <input type="text" pInputText class="form-control" id="incidentLocation" [style]="{ width: '100%' }"
                 formControlName="incidentLocation">
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div>
        <label for="incubationPeriod">{{ "lms.ind.incubation_period" | translate }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" value="yes" formControlName="incubationPeriod"
               id="inlineRadio1" name="incubationPeriod" />
        <label class="form-check-label" for="inlineRadio1">{{ "lms.ind.yes" | translate }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input  class="form-check-input" type="radio" value="no" formControlName="incubationPeriod"
                id="inlineRadio2" name="incubationPeriod" />
        <label class="form-check-label" for="inlineRadio2">{{ "lms.ind.no" | translate }}</label>
      </div>
    </div>

  </div>
  <!-- End of Claim Details -->
</div>
  <app-upload-documents
    [claimInitForm]="claimInitForm">
  </app-upload-documents>

  <!-- Proceed Button -->
  <div class="button-container">
    <button class="proceed-btn" (click)="submitClaimInitFormData()">
      {{ "lms.ind.proceed" | translate }}
    </button>
  </div>
  <!-- End of Proceed Button -->
</form>
