<div class="card mb-3">
    <div class="card-body">
        <form class="mb-3" >
            <input class="form-check-input me-2 mt-2" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label mb-4 mt-2" for="flexRadioDefault1">
              Existing Client
            </label>
            <!-- ROW 1 -->
            <div class="row mb-4">
                <div class="col-4">
                    <label for="minmax-buttons" id="quote-label">Name*</label>
                    <input type="text" id="quote-input" class="form-control form-control-sm mb-1" formControlName="">                            
                </div>
                <div class="col-4 ">
                    <label for="minmax-buttons" id="quote-label">Email Address</label>
                    <input type="number" id="quote-input" class="form-control form-control-sm mb-1" formControlName="">     
                </div>
                <div class="col-4">
                    <label for="minmax-buttons" id="quote-label">Phone Number</label>
                    <input type="text" id="quote-input" class="form-control form-control-sm mb-1" formControlName="">     
                </div>
            </div>
             <!-- ROW 2 -->
             <div class="row mb-4">
                <div class="col-4">
                    <label for="minmax-buttons" id="quote-label">Source</label>
                    <select class="form-select form-control-sm mb-1 ms-n4" id="quote-input" formControlName="">
                        <option value="">Walk -in</option>
                        <option value="">Broker</option>
                        <option value="">Agent</option>
                        <option value="">Others</option>
                        <option value="">Tender</option>
                        <option value="">Direct sale executive</option>
                        <option value="">Referral</option>

                    </select>              
                </div>
                <div class="col-4">
                    <label for="minmax-buttons" id="quote-label">Product</label>
                    <select class="form-select form-control-sm mb-1 ms-n4" id="quote-input" formControlName="" [(ngModel)]="selectedProduct">
                        <option value=""></option>
                        <option *ngFor="let product of productList" [value]="product.shortDescription">{{ product.description }}</option>
                    </select>     
                </div>
                <div class="col-4">
                    <label for="minmax-buttons" id="quote-label">Use of property</label>
                    <select class="form-select form-control-sm mb-1 ms-n4" id="quote-input" formControlName="">
                        <option value=""></option>
                        <option *ngFor="" [ngValue]=""></option>
                    </select>    
                </div>
            </div>
             <!-- ROW 3 -->
             <div class="row">
                <div class="col-4">
                    <label for="minmax-buttons" id="quote-label">Binder</label>
                    <select class="form-select form-control-sm mb-1 ms-n4" id="quote-input" formControlName="">
                        <option value=""></option>
                        <option *ngFor="" [ngValue]=""></option>
                    </select> 
                </div>
                <div class="col-4">
                    <label for="minmax-buttons" id="quote-label">Cover Period</label>
                    <input type="date" id="quote-input" class="form-control form-control-sm mb-1" formControlName="">     
                </div>
                <div class="col-4">
                    <label for="minmax-buttons" id="quote-label">Currency*</label>
                    <select class="form-select form-control-sm mb-1 ms-n4" id="quote-input" formControlName="">
                        <option value=""></option>
                        <option *ngFor="" [ngValue]=""></option>
                    </select>                 
                </div>
            </div>
        </form>

    </div>
</div>
<div class="row ">
    <div class="col-6"></div>
    <div class="col-6 d-flex justify-content-end"><button type="button" class="btn btn-outline-primary"  id="compute" >Compute</button>
    </div>

</div>