.titleMain {
  color: #000;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle {
  color: #00529B;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 19.89px;
  letter-spacing: 0%;

}