.titleMain {
  color: #000;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle {
  color: #00529B;
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 19.89px;
  letter-spacing: 0%;
  margin-top: 40px;
  margin-bottom: 12px !important;
}

.tagline {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 19.89px;
  letter-spacing: 0%;
  color: #000;

}

.dynamic-fields-form {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
}

.dynamic-field {
  box-sizing: border-box;
  /* padding-left: 15px; */
  padding-right: 15px;
}

::ng-deep .p-multiselect {
  height: 30px;
  width: 100%;
  border: 1px solid #00000033;
  border-radius: 5px;
}

::ng-deep .p-multiselect .p-multiselect-label.p-placeholder {
  padding: 3px;


}

::ng-deep .p-multiselect .p-multiselect-label {
  padding: 3px;
  font-size: 14px;
  color: #000;
}

::ng-deep .p-multiselect-filter {
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  font-size: 14px;
  color: #000;
  padding: 3px 20px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.quote-label {
  color: #000;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 7px;
}

.quote-input {
  border-radius: 4px;
  border: 1px solid #00000033;
  /* background: #FFF; */
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

::ng-deep .p-calendar {
  position: relative;
  width: 100%;
}

::ng-deep .p-calendar .p-inputtext {
  padding-right: 2.5rem;
  /* Add space for the icon */
}

::ng-deep .p-calendar .p-datepicker-trigger {
  position: absolute;
  top: 50%;
  right: 0.01rem;
  transform: translateY(-50%);
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #00529B;
  /* Blue icon */
  padding: 0;
  z-index: 2;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .p-calendar .p-datepicker-trigger .p-button-icon {
  font-size: 2rem;
}


::ng-deep .p-calendar {
  height: 30px !important;
  width: 350px;

}

::ng-deep .p-datepicker table td>span {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 14px;
}

::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year {
  font-size: 14px;
}

::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  font-size: 14px;
}

::ng-deep .p-datepicker table th>span {
  font-size: 14px;
}

::ng-deep .p-datatable.p-datatable-sm .p-datatable-thead>tr>th {
  padding: 8px;
}

#compute {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* border-radius: 4px; */
  background: #00529B;
}

#icon-add {
  background-color: white;
  border-radius: 100px;
  border: 1px solid #00529B;
}

#icon-add i {
  color: #00529B;
}

#icon-delete {
  background-color: white;
  border-radius: 100px;
  border: none;
}

#icon-delete i {
  color: red;
}

::ng-deep .p-dropdown {
  height: 30px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.20);
  border-radius: 4px;
}

::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
  padding: 3px;


}

::ng-deep .p-dropdown .p-dropdown-label {
  padding: 3px;
  font-size: 14px;
  color: #000;
}

::ng-deep .p-dropdown-filter {
  width: 100%;
  height: 30px;
  border-radius: 4px;
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  font-size: 14px;
  color: #000;
  padding: 3px 20px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.riskTitle {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.89px;
  letter-spacing: 0%;

}

.card-header {
  background-color: #fff;
  font-weight: 500;
}

.collapsible-body {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin-top: -20px;
}

.card {
  border-radius: 5px;
  box-shadow: none !important;

}

.product-comparison-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 19.89px;
  letter-spacing: 0%;

}

#icon-chevron {
  background-color: #E4E7EB;
  border-radius: 100px;
  border: none;
}

#icon-chevron {
  color: #00529B;
}

.deleteMessage {
  color: #000;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}

.deleteBody {
  color: #000;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;


}

#btn-close {
  color: #EE3945 !important;
  background: none;
  border: none;
  font-size: 32px;
}

.modal-title {
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

}

.btn-close.text-danger {
  opacity: 1;
  /* make the red icon more visible */
}

.btn-close:focus,
.btn-close:active,
.btn-close:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

::ng-deep .p-multiselect .p-multiselect-trigger-icon {
  color: #00529B
}

.productTitle {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  margin: 0;
}

.product-selection-wrapper {
  max-height: 450px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

/* Search input */
.search-input {
  width: 300px;
  height: 30px;
}

/* Product Card Styles */
.products-card {
  box-shadow: 0px 4px 10px 0px #00000040 !important;
  border: none;
  position: relative;
}

.productLogo {
  /* width: 117px; */
  height: 98px;
  margin: 4px 6px 6px 6px;
  border-radius: 4px;
  background: #EDEDED;
  position: relative;
}

.product-checkbox {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 10;
  width: 16px;
  height: 16px;
  accent-color: #00529B
}

.productTitle {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  margin: 0;
}

.page-title {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 600;
}

.custom-close-btn {
  width: 2rem;
  height: 2rem;
  filter: brightness(0) saturate(100%) invert(12%) sepia(93%) saturate(5425%) hue-rotate(357deg) brightness(92%) contrast(115%);
  border: none;
}

.no-product-message {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #808080
}

.selected-card {
  background-color: #e7f1ff;
}