.ticketLabel {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.ticketDesc {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin-left: 5px;
}

.risks, .taxes {
  margin-top: 20px;
  margin-bottom: 20px;
}

.view-more {
  text-align: right;
}

.action-buttons .col-sm-7 {
  text-align: right;
}

.total-premium table thead tr td{
  color: #000;
  font-weight: bold;
}


