.ticketLabel {
  margin-right: 10px;
  /*width: 140px;*/
}

.ticketDesc {
  font-weight: bold;
}

.risks, .taxes {
  margin-top: 20px;
  margin-bottom: 20px;
}

.view-more {
  text-align: right;
}

.action-buttons .col-sm-7 {
  text-align: right;
}

.total-premium table thead tr td{
  color: var(--primary-color);
  font-weight: bold;
}


