<div class="base-content-section">
  <p-tabView>
    <p-tabPanel header="Ticket Details">
      <div class="row">
        <div class="col-sm-6">
          <p>
            <label class="ticketLabel">Ticket By:</label>
            <span class="ticketDesc">{{ selectedTicket?.ticketBy }}</span>
          </p>
          <p>
            <label class="ticketLabel">Ticket Remarks:</label>
            <span class="ticketDesc">{{ selectedTicket?.ticketRemarks }}</span>
          </p>
          <p *ngIf="selectedTicket?.policyNumber">
            <label class="ticketLabel">Policy No:</label>
            <span class="ticketDesc">{{ selectedTicket?.policyNumber }}</span>
          </p>
          <p>
            <label class="ticketLabel">Cover From:</label>
            <span class="ticketDesc">{{ policyDetails?.wef_dt | date: 'shortDate' }} </span>
          </p>
          <p *ngIf="selectedTicket?.claimNumber">
            <label class="ticketLabel">Claim No:</label>
            <span class="ticketDesc">{{ selectedTicket?.claimNumber }}</span>
          </p>
          <p>
            <label class="ticketLabel">Renewal Date:</label>
            <span class="ticketDesc">{{ selectedTicket?.renewalDate | date: 'shortDate' }}</span>
          </p>
          <p>
            <label class="ticketLabel">Agency:</label>
            <span class="ticketDesc">{{ selectedTicket?.intermediaryName }}</span>
          </p>
          <p>
            <label class="ticketLabel">Endorse. No:</label>
            <span class="ticketDesc">{{ selectedTicket?.endorsementNumber }}</span>
          </p>
        </div>
        <div class="col-sm-6">
          <p>
            <label class="ticketLabel">Ticket Date:</label>
            <span class="ticketDesc">{{ selectedTicket?.ticketDate | date: 'shortDate' }}</span>
          </p>
          <p>
            <label class="ticketLabel">Client:</label>
            <span class="ticketDesc">{{ selectedTicket?.clientName }}</span>
          </p>
          <p>
            <label class="ticketLabel">Due Date:</label>
            <span class="ticketDesc">{{ selectedTicket?.ticketDueDate | date: 'shortDate' }}</span>
          </p>
          <p>
            <label class="ticketLabel">Cover To:</label>
            <span class="ticketDesc">{{ policyDetails?.wet_dt | date: 'shortDate' }}</span>
          </p>
          <p *ngIf="selectedTicket?.quotationNumber">
            <label class="ticketLabel">Quotation No:</label>
            <span class="ticketDesc">{{ selectedTicket?.quotationNumber }}</span>
          </p>
          <p>
            <label class="ticketLabel">Currency:</label>
            <span class="ticketDesc">{{ policyDetails?.currency }}</span>
          </p>
          <p>
            <label class="ticketLabel">Total S.I.:</label>
            <span class="ticketDesc">{{ policyDetails?.total_sum_insured | number: '1.2-2' }}</span>
          </p>
          <p>
            <label class="ticketLabel">Endorse. Remarks:</label>
            <span class="ticketDesc">{{ selectedTicket?.endorsementRemarks }}</span>
          </p>
        </div>
      </div>

      <div class="risks">
        <ng-container *ngIf="policyDetails?.riskInformation">
          <app-risk-details
            [risk]="policyDetails?.riskInformation[0]"
          ></app-risk-details>
        </ng-container>
        <div class="view-more">
          <button class="btn btn-link fw-bold text-primary" (click)="showViewMoreDialog()" >View more</button>
        </div>
      </div>

      <div class="total-premium">
        <table class="table table-borderless">
          <thead>
          <tr *ngIf="policyDetails?.premium">
            <td>Total premium on {{ policyDetails?.riskInformation.length }} risks</td>
            <td style="text-align: right">{{ policyDetails?.premium | number: '1.2-2' }}</td>
          </tr>
          </thead>
        </table>
      </div>

      <div class="taxes">
        <ng-container *ngIf="policyDetails?.taxInformation">
          <app-tax-details
            [taxInformation]="policyDetails?.taxInformation"
            [totalPremium]="policyDetails?.total_premium"
          ></app-tax-details>
        </ng-container>
      </div>

      <div class="row action-buttons my-2 p-1">
        <div class="col-sm-5">
          <button class="btn btn-light">Back</button>
        </div>
        <div class="col-sm-7">
          <button
            class="btn btn-success authorize-btn"
            (click)="callGenerateAuthorizeOtp()"
          >
            Authorize
          </button>

          <button
            class="btn btn-primary reassign-btn"
            data-toggle="modal"
            data-target="#reassignModal"
          >
            Re-assign Task
          </button>
        </div>
      </div>

    </p-tabPanel>
    <p-tabPanel header="Reports">
      Reports
    </p-tabPanel>
    <p-tabPanel header="Documents">
      Documents
    </p-tabPanel>
  </p-tabView>
</div>


<!--view more dialog-->
<p-dialog header="" [(visible)]="shouldShowViewMoreDialog" [style]="{width: '50vw'}">
  <div class="total-premium mb-4" style="font-size: 1em">
    <table class="table table-borderless">
      <thead>
      <tr *ngIf="policyDetails?.premium">
        <td>Total premium on {{ policyDetails?.riskInformation.length }} risks</td>
        <td style="text-align: right">{{ policyDetails?.premium | number: '1.2-2' }}</td>
      </tr>
      </thead>
    </table>
  </div>

  <div class="risks" *ngFor="let risk of policyDetails?.riskInformation">
    <app-risk-details
      [risk]="policyDetails?.riskInformation[0]"
    ></app-risk-details>
  </div>

  <div class="taxes">
    <ng-container *ngIf="policyDetails?.taxInformation">
      <app-tax-details
        [taxInformation]="policyDetails?.taxInformation"
        [totalPremium]="policyDetails?.total_premium"
      ></app-tax-details>
    </ng-container>
  </div>
</p-dialog>

