.ticketLabel {
  margin-right: 10px;
  width: 140px;
}

.ticketDesc {
  font-weight: bold;
}

.risks, .taxes {
  border: solid 1px #eee;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 1px 1px #eee;
}

.view-more {
  text-align: right;
}

.action-buttons .col-sm-7 {
  text-align: right;
}

.total-premium table thead tr td{
  color: #00529b;
  font-weight: bold;
}


