<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <app-stepper [currentStep]="1" [stepperData]="steps"></app-stepper>
        </div>
      </div>

      <div id="container">
        <p-confirmDialog></p-confirmDialog>  <!--confirm dialog, used more than once -->
        <!-- lodaing spinner, used more then once -->
        <ngx-spinner
      name="download_view"
        type="ball-clip-rotate-multiple"

        [fullScreen]="true"
        color="#00529B"
        size="medium"
        bdColor="rgba(255, 255, 255, 0.9)"
      ></ngx-spinner>
        <div>
        <h5>{{ "lms.grp.quotation.client_creation.client_details" | translate }}</h5>

        <form [formGroup]="clientDetailsForm">
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="newClient" formControlName="clientType"
                            id="inlineRadio1" name="clientType" />
                        <label class="form-check-label" for="inlineRadio1">{{ "lms.grp.quotation.client_creation.new_client" | translate }}</label>
                    </div>
                    <div class="form-check form-check-inline" id="moveToEnd">
                        <input class="form-check-input" type="radio" value="existingClient" formControlName="clientType"
                            id="inlineRadio2" name="clientType" checked />
                        <label class="form-check-label" for="inlineRadio2">{{ "lms.grp.quotation.client_creation.existing_client" | translate }}</label>
                    </div>
                </div>
            </div>
            
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-4"  *ngIf="clientDetailsForm.get('clientType').value === 'newClient'">
                    <div>
                        <div>
                            <label for="clientName" style="color: black;">{{ "lms.grp.quotation.client_creation.client_name" | translate }}<span style="color: red;">*</span></label>
                        </div>
                        <div class="form-group">
                            <div>
                                <input 
                                    type="text"
                                    pInputText
                                    class="form-control"
                                    id="clientName" 
                                    [style]="{ width: '100%' }"
                                    formControlName="clientName"
                                    [ngClass]="{'is-invalid': highlightInvalid('clientName')}">
                                    <div *ngIf="highlightInvalid('clientName')" class="invalid-feedback">{{ "lms.grp.quotation.client_creation.new_client_name_is_required" | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4"  *ngIf="clientDetailsForm.get('clientType').value === 'existingClient'">
                    <div>
                        <div>
                            <label for="clientName" style="color: black;">{{ "lms.grp.quotation.client_creation.client_name" | translate }}<span style="color: red;">*</span></label>
                        </div>
                        <div class="form-group">
                            <div>
                                <div>
                                    <p-dropdown id='value' [options]='clientList' [optionLabel]="'label'" [dataKey]="'value'" [editable]="true"
                                                [style]="{width: '100%', height: '37px', 'line-height': '10px' }" placeholder="{{ 'lms.grp.quotation.client_creation.select_or_type_client_name' | translate }}"
                                                formControlName='clientName' class="select" #clientDropdown [showClear]="true"  (onClear)="onDropdownClear()"
                                                [ngClass]="{'is-invalid': highlightInvalid('clientName')}">
                                    </p-dropdown>
                                    <div *ngIf="highlightInvalid('clientName')" class="invalid-feedback">{{ "lms.grp.quotation.client_creation.name_is_required" | translate }}</div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
        
                <div class="col-md-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="type" style="color: black;">{{ "lms.grp.quotation.client_creation.type" | translate }}<span style="color: red;">*</span></label>
                        <select class="form-select" [id]="'type'" formControlName="type" [ngClass]="{'is-invalid': highlightInvalid('type')}">
                          <option selected="true" disabled="disabled"></option>
                          <option *ngFor="let clientType of OrganizationClientType" [value]="clientType.code">{{ clientType.clientTypeName | titlecase }}</option>
                        </select>
                        <div *ngIf="highlightInvalid('type')" class="invalid-feedback">{{ "lms.grp.quotation.client_creation.type_is_required" | translate }}</div>
                      </div>                      
                </div>
        
                <div class="col-md-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="status" style="color: black;">{{ "lms.grp.quotation.client_creation.status" | translate }}<span style="color: red;">*</span></label>
                        <select class="form-select" [id]="'status'" formControlName="status" [ngClass]="{'is-invalid': highlightInvalid('status')}">
                            <option selected="true" disabled="disabled"></option>
                            <option value="A">Active</option>
                            <option value="I">Inactive</option>
                        </select>
                        <div *ngIf="highlightInvalid('status')" class="invalid-feedback">{{ "lms.grp.quotation.client_creation.status_is_required" | translate }}</div>
                    </div>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-md-4">
                    <div>
                        <div>
                            <label for="incorporationDate" style="color: black;">{{ "lms.grp.quotation.client_creation.incorporation_date" | translate }}<span style="color: red;">*</span></label>
                        </div>
                        <div class="form-group">
                            <div >
                                <p-calendar formControlName="incorporationDate" 
                                            dateFormat="dd/mm/yy" 
                                            [showIcon]="true" 
                                            [showButtonBar]="true"
                                            placeholder="dd/mm/yy"
                                            [maxDate]="maxDate"
                                            [ngClass]="{'is-invalid': highlightInvalid('incorporationDate')}">
                                </p-calendar>
                                <div *ngIf="highlightInvalid('incorporationDate')" class="invalid-feedback">{{ "lms.grp.quotation.client_creation.inc_date_is_required" | translate }}</div>
                              </div>
                        </div>
                    </div>
                </div>
                  <div class="col-md-4">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="modeOfIdentity" style="color: black;">{{ "lms.grp.quotation.client_creation.mode_of_identity" | translate }}<span style="color: red;">*</span></label>
                        <select class="form-select" [id]="'modeOfIdentity'" formControlName="modeOfIdentity" [ngClass]="{'is-invalid': highlightInvalid('modeOfIdentity')}" (change)="onModeOfIdentitySelected($event)">
                            <option selected="true" disabled="disabled"></option>
                            <option *ngFor="let modeOfIdentity of identityType" [value]="modeOfIdentity.id">{{ modeOfIdentity.name | titlecase }}</option>
                        </select>
                        <div *ngIf="highlightInvalid('modeOfIdentity')" class="invalid-feedback">{{ "lms.grp.quotation.client_creation.identity_mode_is_required" | translate }}</div>
                    </div>
                    
                </div>
        
                <div class="col-md-4">
                    <div>
                        <div>
                            <label for="registrationNumber" style="color: black;">{{ "lms.grp.quotation.client_creation.registration_number" | translate }}<span style="color: red;">*</span></label>
                        </div>
                        <div class="form-group">
                            <div>
                                <input 
                                    type="text"
                                    pInputText
                                    class="form-control"
                                    id="registrationNumber" 
                                    [style]="{ width: '100%' }"
                                    formControlName="registrationNumber"
                                    [ngClass]="{'is-invalid': highlightInvalid('registrationNumber')}"
                                    (input)="validateRegistrationNumber()"
                                    (blur)="validateRegistrationNumber()"
                                    (keydown)="onRegistrationNumberKeydown($event)">
                                    <div *ngIf="highlightInvalid('registrationNumber')" class="invalid-feedback">{{ validateRegistrationNumber() }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-md-4">
                    <div>
                        <div>
                            <label for="occupation" style="color: black;">{{ "lms.grp.quotation.client_creation.occupation" | translate }}<span style="color: red;">*</span></label>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <select class="form-select" [id]="'occupation'" formControlName="occupation" [ngClass]="{'is-invalid': highlightInvalid('occupation')}">
                                    <ng-container *ngFor="let occupation of occupation">
                                        <option [value]="occupation['occupation_code']">{{ occupation['occupation_desc'] | titlecase }}
                                        </option>
                                    </ng-container>
                                </select>
                                <div *ngIf="highlightInvalid('occupation')" class="invalid-feedback">{{ "lms.grp.quotation.client_creation.occupation_is_required" | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <div>
                            <label for="pinNumber" style="color: black;">{{ "lms.grp.quotation.client_creation.pin_number" | translate }}<span style="color: red;">*</span></label>
                        </div>
                        <div class="form-group">
                            <div>
                                <input 
                                    type="text"
                                    pInputText
                                    class="form-control"
                                    id="pinNumber" 
                                    [style]="{ width: '100%' }"
                                    formControlName="pinNumber"
                                    [ngClass]="{'is-invalid': highlightInvalid('pinNumber')}">
                                    <div *ngIf="highlightInvalid('pinNumber')" class="invalid-feedback">{{ "lms.grp.quotation.client_creation.pin_no_is_required" | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="padding-top: 60px;"><h5>{{ "lms.grp.quotation.client_creation.contact_information" | translate }}</h5></div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-4">
                    <div>
                        <div>
                            <label for="phoneNumber" style="color: black;">{{ "lms.grp.quotation.client_creation.phone_number" | translate }}<span style="color: red;">*</span></label>
                        </div>
                        <div class="form-group">
                            <div>
                                <input 
                                    type="number"
                                    pInputText
                                    class="form-control"
                                    id="phoneNumber" 
                                    [style]="{ width: '100%' }"
                                    formControlName="phoneNumber"
                                    [ngClass]="{'is-invalid': highlightInvalid('phoneNumber')}">
                                    <div *ngIf="highlightInvalid('phoneNumber')" class="invalid-feedback">{{ "lms.grp.quotation.client_creation.phone_no_is_required" | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-4">
                    <div>
                        <div>
                            <label for="email" style="color: black;">{{ "lms.grp.quotation.client_creation.email" | translate }}<span style="color: red;">*</span></label>
                        </div>
                        <div class="form-group">
                            <div>
                                <input 
                                    type="text"
                                    pInputText
                                    class="form-control"
                                    id="email" 
                                    [style]="{ width: '100%' }"
                                    formControlName="email"
                                    [ngClass]="{'is-invalid': highlightInvalid('email')}">
                                    <div *ngIf="highlightInvalid('email')" class="invalid-feedback">{{ "lms.grp.quotation.client_creation.email_is_required" | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-4">
                    <div>
                        <div>
                            <label for="address" style="color: black;">{{ "lms.grp.quotation.client_creation.physical_address" | translate }}<span style="color: red;">*</span></label>
                        </div>
                        <div class="form-group">
                            <div>
                                <input 
                                    type="text"
                                    pInputText
                                    class="form-control"
                                    id="address" 
                                    [style]="{ width: '100%' }"
                                    formControlName="address"
                                    [ngClass]="{'is-invalid': highlightInvalid('address')}">
                                    <div *ngIf="highlightInvalid('address')" class="invalid-feedback">{{ "lms.grp.quotation.client_creation.address_is_required" | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-spacing">
                <div class="col-md-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="country" style="color: black;">{{ "lms.grp.quotation.client_creation.country" | translate }}<span style="color: red;">*</span></label>
                        <select class="form-select" [id]="'country'" formControlName="country" (change)="selectCountry($event)"
                        [ngClass]="{'is-invalid': highlightInvalid('country')}">
                            <option *ngFor="let data of countryList | sort : 'asc' : 'name'" [value]="data?.id">
                                {{ data?.name | titlecase }}
                            </option>
                        </select>
                        <div *ngIf="highlightInvalid('country')" class="invalid-feedback">{{ "lms.grp.quotation.client_creation.country_is_required" | translate }}</div>
                    </div>
                </div>
        
                <div class="col-md-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="county" style="color: black;">{{ "lms.grp.quotation.client_creation.county_or_state" | translate }}<span style="color: red;">*</span></label>
                        <select class="form-select" [id]="'county'" formControlName="county" (change)="selectState($event)"
                        [ngClass]="{'is-invalid': highlightInvalid('county')}">
                            <option *ngFor="let data of stateList | sort : 'asc' : 'name'" [value]="data?.id">
                                {{ data?.name | titlecase }}
                            </option>
                        </select>
                        <div *ngIf="highlightInvalid('county')" class="invalid-feedback">{{ "lms.grp.quotation.client_creation.county_state_is_required" | translate }}</div>
                    </div>
                </div>
        
                <div class="col-md-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="city" style="color: black;">{{ "lms.grp.quotation.client_creation.city_or_town" | translate }}<span style="color: red;">*</span></label>
                        <select class="form-select" [id]="'city'" formControlName="city" [ngClass]="{'is-invalid': highlightInvalid('city')}">
                            <option *ngFor="let data of townList | sort : 'asc' : 'name'" [value]="data.id">
                                {{ data?.name | titlecase }}
                            </option>
                        </select>
                        <div *ngIf="highlightInvalid('city')" class="invalid-feedback">{{ "lms.grp.quotation.client_creation.city_is_required" | translate }}</div>
                    </div>
                </div>
            </div>

            <div style="padding-top: 60px;"><h5>{{ "lms.grp.quotation.client_creation.other_details" | translate }}</h5></div>

            <div class="row" style="padding-top: 10px;">
                <div class="col-md-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="affiliatedToInsurer" style="color: black;">{{ "lms.grp.quotation.client_creation.affiliated_to_insurer" | translate }}</label>
                        <select class="form-select" [id]="'affiliatedToInsurer'" formControlName="affiliatedToInsurer">
                            <option selected="true" disabled="disabled"></option>
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="representation" style="color: black;">{{ "lms.grp.quotation.client_creation.representation" | translate }}<span style="color: red;">*</span></label>
                        <select class="form-select" [id]="'representation'" formControlName="representation"
                        [ngClass]="{'is-invalid': highlightInvalid('representation')}">
                            <option selected="true" disabled="disabled"></option>
                            <option value="C">Direct</option>
                            <option value="I">Indirect</option>
                        </select>
                        <div *ngIf="highlightInvalid('representation')" class="invalid-feedback">{{ "lms.grp.quotation.client_creation.representation_is_required" | translate }}</div>
                    </div>
                </div>
            </div>
        </form>
        


      </div>
</div>

<div class="col-12" style="margin-top: 20px;">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{ "lms.grp.quotation.client_creation.administrators" | translate }}
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="multiselect-add">
                    <button class="btn btn-success rounded-circle" (click)="showAdminDetailsModal()">+</button>
                    <p-multiSelect [options]="columnOptions" [(ngModel)]="selectedColumns">
                    </p-multiSelect>
                  </div>
                <p-table [value]="administratorDetails" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '30rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngIf="selectedColumns.includes('contact_person_name')">{{ "lms.grp.quotation.client_creation.name" | translate }}</th>
                            <th *ngIf="selectedColumns.includes('date_of_birth')">{{ "lms.grp.quotation.client_creation.date_of_birth" | translate }}</th>
                            <th *ngIf="selectedColumns.includes('identification_number')">{{ "lms.grp.quotation.client_creation.identification_number" | translate }}</th>
                            <th *ngIf="selectedColumns.includes('position')">{{ "lms.grp.quotation.client_creation.position" | translate }}</th>
                            <th *ngIf="selectedColumns.includes('contact_person_physical_address')">{{ "lms.grp.quotation.client_creation.physical_address" | translate }}</th>
                            <th *ngIf="selectedColumns.includes('phone_number')">{{ "lms.grp.quotation.client_creation.phone_number" | translate }}</th>
                            <th *ngIf="selectedColumns.includes('contact_person_email')">{{ "lms.grp.quotation.client_creation.email" | translate }}</th>
                            <th *ngIf="selectedColumns.includes('wef')">{{ "lms.grp.quotation.client_creation.with_effect_from" | translate }}</th>
                            <th *ngIf="selectedColumns.includes('wet')">{{ "lms.grp.quotation.client_creation.with_effect_to" | translate }}</th>
                            <th class="action-column"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                            <tr>
                                <td id="table-align" *ngIf="selectedColumns.includes('contact_person_name')">{{ item.contact_person_name }}</td>
                                <td id="table-align" *ngIf="selectedColumns.includes('date_of_birth')">{{ item.date_of_birth }}</td>
                                <td id="table-align" *ngIf="selectedColumns.includes('identification_number')">{{ item.identification_number }}</td>
                                <td id="table-align" *ngIf="selectedColumns.includes('position')">{{ item.position }}</td>
                                <td id="table-align" *ngIf="selectedColumns.includes('contact_person_physical_address')">{{ item.contact_person_physical_address }}
                                </td>
                                <td id="table-align" *ngIf="selectedColumns.includes('phone_number')">{{ item.phone_number }}</td>
                                <td id="table-align" *ngIf="selectedColumns.includes('contact_person_email')">{{ item.contact_person_email }}</td>
                                <td id="table-align" *ngIf="selectedColumns.includes('wef')">{{ item.wef }}</td>
                                <td id="table-align" *ngIf="selectedColumns.includes('wet')">{{ item.wet }}</td>
                                <td class="action-column">
                                    <div class="flex justify-content-center">
                                        <p-overlayPanel #op>
                                            <div class="action-buttons">
                                                <!-- Edit button -->
                                                <div class="button-wrapper">
                                                    <p-button label="{{ 'lms.grp.quotation.client_creation.edit' | translate }}" icon="pi pi-pencil" (click)="showEditAdminDetailsModal(item)"
                                                        styleClass="p-button-rounded p-button-text" severity="warning"></p-button>
                                                </div>
                                            
                                                <!-- Delete button -->
                                                <div class="button-wrapper">
                                                    <p-button label="{{ 'lms.grp.quotation.client_creation.delete' | translate }}" icon="pi pi-trash" (click)="deleteAdminDetails(item, $event)"
                                                        styleClass="p-button-rounded p-button-text" severity="danger"></p-button>
                                                </div>
                                            </div>
                                            
                                        </p-overlayPanel>
                                        <!-- Ellipsis container -->
                                        <div class="button-container">
                                            <button class="hover-button" (click)="op.toggle($event)">
                                                <i class="fas fa-ellipsis-v" (click)="op.toggle($event)"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                    </ng-template>
                </p-table>
                
            </div>
          </div>
        </div>
      </div>
        
</div>
<!-- <div class="cont-button" style="display: flex; justify-content: end; padding-top: 12px;">
    <button class="finish-button" (click)="createAdmin ? continueAfterAddingAdmin() : onContinue()">
        <span class="finish-text">
            Continue
        </span>
    </button>
</div> -->
<div class="button-cont">
    <button type="button" class="btn btn-primary button"
        (click)="createAdmin ? continueAfterAddingAdmin() : onContinue()">{{ "lms.grp.quotation.client_creation.continue" | translate }}
    </button>
</div>
</div>

<!-- modals begin -->
<!-- modal to capture administrator details -->
<div class="modal fade" tabindex="-1" #adminDetailsModal id="adminDetailsModal" aria-labelledby="adminDetailsModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="adminDetailsModal">{{ "lms.grp.quotation.client_creation.capture_administrator_details" | translate }}</h5>
        <button type="button" class="custom-red-button" data-bs-dismiss="modal" aria-label="Close"
        (click)="closeAdminDetailsModal()"></button>
      </div>
      <div class="modal-body">
      <form [formGroup]="adminDetailsForm">
        <div class="row" style="padding-top: 0;">
            <div class="col-md-6">
                <div>
                    <div>
                        <label for="name" style="color: black;">{{ "lms.grp.quotation.client_creation.name" | translate }}<span style="color: red;">*</span></label>
                    </div>
                    <div class="form-group">
                        <div>
                            <input 
                                type="text"
                                pInputText
                                class="form-control"
                                id="name" 
                                [style]="{ width: '100%' }"
                                formControlName="name">
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6">
                <div>
                    <div>
                        <label for="position" style="color: black;">{{ "lms.grp.quotation.client_creation.position" | translate }}<span style="color: red;">*</span></label>
                    </div>
                    <div class="form-group">
                        <div>
                            <input 
                                type="text"
                                pInputText
                                class="form-control"
                                id="position" 
                                [style]="{ width: '100%' }"
                                formControlName="position">
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label for="gender" style="color: black;">{{ "lms.grp.quotation.client_creation.gender" | translate }}<span style="color: red;">*</span></label>
                    <select class="form-select" [id]="'gender'" formControlName="gender">
                        <option selected="true" disabled="disabled"></option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    </select>
                </div>
            </div>
    
            <div class="col-md-6">
                <div>
                    <div>
                        <label for="dob" style="color: black;">{{ "lms.grp.quotation.client_creation.date_of_birth" | translate }}<span style="color: red;">*</span></label>
                    </div>
                    <div class="form-group">
                        <div>
                            <p-calendar formControlName="dob" dateFormat="dd/mm/yy" [showIcon]="true" [showButtonBar]="true"
                                placeholder="dd/mm/yy" [maxDate]="over18Date" [defaultDate]="over18Date">
                            </p-calendar>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label for="identificationType" style="color: black;">{{ "lms.grp.quotation.client_creation.identification_type" | translate }}<span style="color: red;">*</span></label>
                    <select class="form-select" [id]="'identificationType'" formControlName="identificationType">
                      <option selected="true" disabled="disabled"></option>
                      <option *ngFor="let modeOfIdentity of identityType" [value]="modeOfIdentity.id">{{ modeOfIdentity.name | titlecase }}</option>
                    </select>
                  </div>                      
            </div>
    
            <div class="col-md-6">
                <div>
                    <div>
                        <label for="IdentificationNumber" style="color: black;">{{ "lms.grp.quotation.client_creation.identification_number" | translate }}<span style="color: red;">*</span></label>
                    </div>
                    <div class="form-group">
                        <div>
                            <input 
                                type="text"
                                pInputText
                                class="form-control"
                                id="IdentificationNumber" 
                                [style]="{ width: '100%' }"
                                formControlName="IdentificationNumber">
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <div>
                        <label for="address" style="color: black;">{{ "lms.grp.quotation.client_creation.physical_address" | translate }}</label>
                    </div>
                    <div class="form-group">
                        <div>
                            <input 
                                type="text"
                                pInputText
                                class="form-control"
                                id="address" 
                                [style]="{ width: '100%' }"
                                formControlName="address">
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6">
                <div>
                    <div>
                        <label for="phoneNumber" style="color: black;">{{ "lms.grp.quotation.client_creation.phone_number" | translate }}<span style="color: red;">*</span></label>
                    </div>
                    <div class="form-group">
                        <div>
                            <input 
                                type="number"
                                class="form-control"
                                id="phoneNumber" 
                                [style]="{ width: '100%' }"
                                formControlName="phoneNumber">
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <div>
                        <label for="email" style="color: black;">{{ "lms.grp.quotation.client_creation.email" | translate }}<span style="color: red;">*</span></label>
                    </div>
                    <div class="form-group">
                        <div>
                            <input 
                                type="text"
                                pInputText
                                class="form-control"
                                id="email" 
                                [style]="{ width: '100%' }"
                                formControlName="email">
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6">
                <div>
                    <div>
                        <label for="wef" style="color: black;">{{ "lms.grp.quotation.client_creation.with_effect_from" | translate }}<span style="color: red;">*</span></label>
                    </div>
                    <div class="form-group">
                        <div>
                            <p-calendar formControlName="wef" dateFormat="dd/mm/yy" [showIcon]="true" [showButtonBar]="true"
                                placeholder="dd/mm/yy">
                            </p-calendar>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <div>
                        <label for="wet" style="color: black;">{{ "lms.grp.quotation.client_creation.with_effect_to" | translate }}</label>
                    </div>
                    <div class="form-group">
                        <div>
                            <p-calendar formControlName="wet" dateFormat="dd/mm/yy" [showIcon]="true" [showButtonBar]="true"
                                placeholder="dd/mm/yy">
                            </p-calendar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
        (click)="isEditMode ? editAdminDetails() : onSaveAdminDets()">{{ "lms.grp.quotation.client_creation.save" | translate }}</button>
      </div>
    </div>
  </div>
</div>
<!-- end of modal to capture administrator details -->
<!-- modals end -->

