.table-container {
  max-height: 300px;
  overflow-y: auto;
}

.table tbody tr {
  cursor: pointer;
}

.table tbody tr:hover {
  background-color: #f0f8ff;
}

.modal-header h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

.pagination {
  margin-bottom: 0;
}

.pagination .page-item .page-link {
  cursor: pointer;
}

.quote-label{
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 7px;
}

.title{
  color: #000;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
