.table-container {
  max-height: 300px;
  overflow-y: auto;
}

.table tbody tr {
  cursor: pointer;
}

.table tbody tr:hover {
  background-color: #f0f8ff;
}

.modal-header h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

.pagination {
  margin-bottom: 0;
}

.pagination .page-item .page-link {
  cursor: pointer;
}

.quote-label {
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 7px;
}

.title {
  color: #000;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#selectClient {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #00529B;
}

/* * Table headers */

p-table ::ng-deep .p-datatable .p-datatable-thead>tr>th {
  color: #000000;
  font-weight: 500;
  text-align: left;
  font-size: 16px !important;
}

/* Table rows */
p-table ::ng-deep table tbody tr td {
  padding: 18px 22px;
  border-bottom: 1px solid #e8eef7;
  transition: background-color 0.3s ease;
  font-size: 16px !important;
  font-weight: 400;

}

/* For the selected row */
::ng-deep .p-datatable .p-datatable-tbody>tr.p-highlight {
  background-color: #BAD0E4 !important;
  color: inherit;
  /* Optional: maintain text color */
}

#closeButton {
  color: #EE3945 !important;
}