.screenTitle{
    color: #000;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title2{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#quote-label{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}
#quote-input{
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.20); 
    height:35px
    /* background: #fff */
}
#quote-dropdown{
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    height: 20px;
}
.accordion-button{
    background-color:transparent;
    color: #000;
}