.base-content .content-nav .navbar {
  background: #fff;
}

.base-content .content-nav #navbar .nav-item{
  margin-right: 20px;
}


.base-content .content-nav .navbar #chart ul li a{
  color: #00529B!important;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: underline;
}

.nav-item > .nav-link:hover {
  /* border-bottom: 0.5px solid #00539b1c; */
  background-color: #00539b0a;
}

.dropdown-menu {
  border-radius: 0;
  font-size: 13px;
}

.dropdown-item:hover {
  background-color: #00539b0c;
  font-weight: 600;
  border-right: #00529B solid 1px;
}































