.base-content .content-nav .navbar {
  background: #fff;
}

.base-content .content-nav #navbar .nav-item {
  margin-right: 20px;
}

.base-content .content-nav .navbar #chart ul li a {
  color: var(--primary-color) !important;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: underline;
}
.nav-item > .nav-link {
  color: #000000;
}

.nav-item > .nav-link:hover {
  font-weight: 800;
}

.dropdown-menu {
  border-radius: 0;
  font-size: 12px;
  border: 0;
  z-index: 100000;
}

.dropdown-item:hover {
  background-color: #0000000c;
  font-weight: 600;
  border-right: var(--primary-color) solid 2px;
}

.label-text {
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
}

.label-text:hover {
  border-bottom: 0.5px solid var(--primary-color);
}

.card-modal {
  /* border: 2px solid var(--primary-color); */
  border-radius: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.sub-card {
  padding: 1rem;
  font-weight: 700;
}

.sub-card:hover {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
}


.with-background-image {
  /* background-image: url('src/assets/svg/lms.svg'); Replace with the actual path to your SVG file */
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100px 90px;
  /* height: 10rem;
  width: 10rem; */
}

.sub-card-content{
  width: 6rem;
  height: 5rem;
}

.lms-image{
  background-image: url('src/assets/svg/lms.svg'); /* Replace with the actual path to your SVG file */

}
.gis-image {
  background-image: url('src/assets/svg/gis.svg'); /* Replace with the actual path to your SVG file */

}

.sub-card {
  margin-right: 1.5rem;
}
