/* ai-import-progress.component.scss */
.modal-content {
    border-radius: 12px;
}

.custom-modal-width {
    max-width: 610px;
}

.progress {
    border-radius: 10px;
    overflow: hidden;
}

.circle-sticks-spinner {
    position: relative;
    width: 48px;
    height: 48px;
    margin: 0 auto 1rem auto;
}

.circle-sticks-spinner div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 10px;
    margin: -5px 0 0 -1.5px;
    border-radius: 900px;
    background: #ccc;
    transform-origin: 50% -14px;
    animation: fade 1.2s linear infinite;
    opacity: 0.2;
}

/* 12 sticks around the circle */
.circle-sticks-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.circle-sticks-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.circle-sticks-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.circle-sticks-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.circle-sticks-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.circle-sticks-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.circle-sticks-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.circle-sticks-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.circle-sticks-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.circle-sticks-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.circle-sticks-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.circle-sticks-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes fade {
    0% {
        opacity: 1;
        background: #0d6efd;
    }

    /* active stick = blue */
    100% {
        opacity: 0.2;
        background: #ccc;
    }

    /* faded sticks */
}