.form-check-item {
  clear: both; /* Ensures each item starts on a new line */
}
.form-check .form-label {
  cursor: pointer;
}
.carousel-control-next, .carousel-control-prev {
  top: 50%;
  height: 20%;
}
