<div class="base-content-section">
  <div class="row me-4">
    <div class="col-8">
      <app-dynamic-breadcrumb [breadCrumbItems]="[
      {
        label: 'Home',
        url: '/home/dashboard'
      },
      {
        label: 'Tickets',
        url: '/home/administration/tickets',
      },
      {
        label: 'Documents dispatch',
        url: ''
      }
    ]">
      </app-dynamic-breadcrumb>
    </div>
  </div>
  <div class="card">
    <div class="row mt-3 mb-2 p-2">
      <div class="col-12">
        <label class="text-primary">{{'mngt_wrkflw.tickets.documentsDispatch' | translate }}</label>
      </div>
      <div class="row col-sm-12 col-md-6">
        <div class="col-sm-12 col-md-6">
          <input
            type="text"
            class="form-control"
            placeholder="Search by client name"
            aria-label="search"
            aria-describedby="search"
            (input)="filterDocs($event)"
          />
        </div>
        <div class="col-sm-12 col-md-6">
          <input
            type="date"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-sm-12 col-md-6 d-flex justify-content-end">
        <button
          class="btn btn-primary" style="font-size: 12px;" (click)="openDocConfirmModal()">{{'mngt_wrkflw.tickets.dispatchDocuments' | translate }}

        </button>

      </div>
    </div>
    <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
    <p-table
      #dispatchDocsTable
      (onLazyLoad)="lazyLoadTickets($event)"
      [lazy]="true"
      [value]="springTickets.content"
      [(selection)]="selectedSpringTickets"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="springTickets.totalElements"
      [rowHover]="true"
      [autoLayout]="true"
      [totalRecords]="springTickets.totalElements"
      [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
      currentPageReportTemplate="{first} - {last} of {totalRecords}"
      [scrollable]="true"
      scrollHeight="400px"
      responsiveLayout="scroll"
      [resizableColumns]="true"
      [globalFilterFields]="['clientName']"
    >

      <ng-template pTemplate="header">
        <tr>
          <th>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Ticket name</th>
          <th>{{'mngt_wrkflw.tickets.clientName' | translate }}</th>
          <th>Ref No.</th>
          <th>{{'mngt_wrkflw.tickets.dateCreated' | translate }}</th>
          <th>{{'mngt_wrkflw.tickets.transactionType' | translate }}</th>
          <th>{{'mngt_wrkflw.tickets.endorsementNumber' | translate }}</th>
          <th>{{'mngt_wrkflw.tickets.documents' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-doc>
        <tr>
          <td>
            <p-tableCheckbox [value]="doc"></p-tableCheckbox>
          </td>
          <td>{{doc?.task?.activityName}}</td>
          <td>{{doc?.clientName}}</td>
          <td>
            {{ doc?.ticket?.sysModule === 'Q' ? doc?.ticket.quotationNo :
              doc?.ticket.sysModule === 'C' ? doc?.ticket.claimNo :
                doc?.ticket.sysModule === 'P' ? doc?.ticket.policyNo : ''
                === '' ? doc?.ticket.policyNo : '' }}
          </td>
          <td>{{doc.ticket.date | date: 'shortDate'}}</td>
          <td>{{doc?.ticket?.endorsment}}</td>
          <td>{{doc?.ticket?.endorsmentCode}}</td>
          <td (click)="reportsDispatch(doc)">
            <i class="fa-regular fa-eye" style="font-size: 17px; cursor: pointer;"></i>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No Documents Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!--DOC Dispatch modal-->
<div class="modal fade" id="docDispatchToggle" aria-hidden="true" aria-labelledby="docDispatchToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6 text-primary" id="docDispatchToggleLabel">Documents viewer</h1>
        <button type="button" class="btn-close" (click)="closeDocDispatchModal()"></button>
      </div>
      <div class="modal-body">
        <div class="row col-12 mb-3">
          <div class="col-4 border-end border-secondary-subtle">

              <label class="col-form-label text-dark fw-medium w-100">Documents</label>
            <form [formGroup]="docDispatchForm">
              <div class="form-check mt-2 form-check-item" *ngFor="let doc of documentList;  let i = index">
                <!--                <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>-->
                <input class="form-check-input" type="checkbox" value="" [id]="'flexCheckChecked' + i"
                       [checked]="doc?.doneBy !== null && doc?.doneBy !== undefined"
                       (click)="selectDocs($event, doc)">
                <label class="form-label fw-medium text-dark" [for]="'flexCheckChecked' + i"
                       (click)="onLabelClick($event)">
                  {{doc?.docName}}
                </label><br>
              </div>
            </form>
          </div>
          <div class="col-8">

            <!-- carousel -->
            <div id="documentCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <ng-container *ngIf="reportList.length > 0">
                  <div class="carousel-item" *ngFor="let doc of reportList; let i = index" [class.active]="i === 0">
                    <label class="form-label w-100 text-center">Preview: {{ doc.fileName }}</label><br>
                    <ngx-doc-viewer
                      [fileName]="doc.fileName ?? ''"
                      [srcUrl]="doc.srcUrl ?? ''"
                      [mimeType]="'application/pdf'"
                      class="d-block w-100"
                    ></ngx-doc-viewer>
                  </div>
                </ng-container>
              </div>
              <ng-container *ngIf="reportList.length > 0">
                <button class="carousel-control-prev" type="button" data-bs-target="#documentCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#documentCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </ng-container>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
<!--        <button class="btn btn-outline-primary">Download</button>-->
        <button class="btn btn-primary" (click)="prepareDocuments()" [disabled]="isLoading" >
          <span *ngIf="!isLoading; else loading">Save</span>
          <ng-template #loading>
            <i class="pi pi-spin pi-spinner text-white" style="font-size: 2rem"></i>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</div>
<!--DOC Confirm modal-->
<div class="modal fade" id="docConfirmToggle" aria-hidden="true" aria-labelledby="docConfirmToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" style="width: 350px">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6 text-primary" id="docConfirmToggleLabel">Dispatch Documents</h1>
        <button type="button" class="btn-close" (click)="closeDocConfirmModal()"></button>
      </div>
      <div class="modal-body">
        <div class="col-12 mb-3">
          <p class="text-black">Are you sure you want to dispatch document(s)?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-primary" (click)="closeDocConfirmModal()">Close</button>

        <button class="btn btn-primary" (click)="onSave()" [disabled]="isLoadingDispatch" >
          <span *ngIf="!isLoadingDispatch; else loadingDispatch">Dispatch</span>
          <ng-template #loadingDispatch>
            <i class="pi pi-spin pi-spinner text-white" style="font-size: 2rem"></i>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</div>
