<div class="card mb-4">
    <div class="card-body">
        <div class="row ">
            <div class="col-sm-4">
                <h5 class="title"> {{'gis.policy.client_dd_details' | translate}}</h5>

            </div>
            <div class="col-sm-8 d-flex justify-content-end">
                <div class="row  mb-2">

                 
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-3 " >
                        <button type="button" id="icon" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#addCommissionTransc"
                            title="Add">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="col-3">
                        <button type="button" id="icon" class="btn btn-primary">
                            <i class="fa-solid fa-pencil"></i>
                        </button>

                    </div>

                    <div class="col-sm-3">
                        <button type="button" id="icon" class="btn btn-primary"
                            data-bs-toggle="modal" id="openCommissionModalButtonDelete"
                            [hidden]="true" data-bs-target="#deleteCommissionTransc" title="Delete">
                        </button>
                        <button type="button" id="icon" class="btn btn-primary" title="Delete">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>

                    </div>
                   
                </div>

            </div>
        </div>
    </div>
    <p-table 
    [value]=" " 
    selectionMode="single" 

  
    [tableStyle]="{ 'min-width': '50rem' , 'min-height':'50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Client ID</th>
                <th>Name</th>
                <th>Id No.</th>
                <th>Pin No.</th>
                <th>Account Name</th>
                <th>Account No.</th>
                <th>Branch</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr [pSelectableRow]="product">
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </ng-template>
</p-table>
</div>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-outline-primary me-2">{{'gis.policy.reassign' | translate}}</button>
</div>
