<div class="container">
    <!-- initiate payment modal -->
    <div class="border border-outline-primary w-50 p-3 bg-white rounded-2">

        <div class="d-flex justify-content-between mt-4 text-black">
            <div class="d-flex justify-content-around align-items-center gap-2">
                <input type="radio" id="mpesa" name="mobilePayment" value="mpesa" [(ngModel)]="selectedPayment"
                    />
                <label for="huey">Mpesa</label>
            </div>
            <div class="d-flex justify-content-around align-items-center gap-2">
                <input type="radio" id="airtelMoney" name="mobilePayment" value="airtelMoney"
                    [(ngModel)]="selectedPayment" />
                <label for="airtelMoney">Airtel Money</label>
            </div>
            <div class="d-flex justify-content-around align-items-center gap-2">
                <input type="radio" id="Tkash" name="mobilePayment" value="Tkash" [(ngModel)]="selectedPayment" />
                <label for="Tkash">Tkash</label>
            </div>
        </div>
        <div class="d-flex flex-column w-75 justify-content-around mt-4">
            <div class="d-flex gap-2 justify-content-between text-black">
                <p>Paybill number</p>
                <p><strong>{{ selectedDetails.paybill }}</strong></p>
            </div>
            <div class="d-flex gap-2 justify-content-between text-black">
                <p>Account number</p>
                <p><strong>{{ selectedDetails.account }}</strong></p>
            </div>
            <div class="d-flex gap-2 justify-content-between text-black">
                <p>Amount</p>
                <p><strong>{{amount}}</strong></p>
            </div>
        </div>
        <div class="d-flex flex-column mt-3">
            <label class="text-black">Phone number</label>
            <input type="tel" name="phoneNumber" [(ngModel)]="phoneNumber" #phoneInput="ngModel" maxlength="10"
                pattern="[0-9]{10}" class="border border-outline-primary w-75 p-2 mt-2 form-control" placeholder="e.g. 0712345678"
                required />
            <small class="text-danger" *ngIf="phoneInput.touched && !isValidPhoneNumber()">
                Phone number must be exactly 10 digits.
            </small>
            <small *ngIf="validPhoneNumber" class="text-danger"> Enter a valid Phone number.</small>
        </div>
        <div class="mt-4 mb-3 gap-3 justify-content-around p-2">
            <!-- <button type="button" class="btn ml-4 mx-4 text-primary font-bold"
                data-bs-dismiss="modal">{{'gis.quotation.cancel' |
                translate}}</button> -->
            <button type="button" class="btn mx-4 btn-primary" (click)="sendSTK()">Send STK prompt</button>
        </div>

    </div>

</div>