.container {
  max-width: 1500px;
  width: 100%;
  height: 81vh;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}