.container{
  height: 100vh;
  width: 100%;
  justify-content: center;
}

.paymentCard{
  width: 35%;
  height: 60%;
}

 /* input[type="radio"] {
            appearance: none;
            width: 15px;
            height: 15px;
            border: 2px solid black;
            border-radius: 50%;
            outline: none;
            background-color: white;
            cursor: pointer;
        }
        input[type="radio"]:checked {
            background-color: rgba(33, 150, 243, 0.5)
        } */