.flexible-header {
    white-space: nowrap;
    width: auto;
    text-align: left;
}

/* .ui-datatable th, .ui-datatable td {
    white-space: nowrap;
} */
.ui-datatable th,
.ui-datatable td {
    white-space: nowrap;
}
#icon {
    background-color: #E4E7EB;
    border-radius: 100px;
    border: none;
}

#icon i {
    color: #00529B;
}
.modalTitle {
    font-weight: 700;
    font-size: 14px;
    color: #000;
}
.subheading {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #00529B;

}
.flex .search-input {
    /* padding-bottom: 6px; */
    padding-left: 30px;
    border: 1px solid #ccc;
    background: rgba(245, 246, 248, 1);
    border-radius: 5px;
    height: 40px;
    width: 100% !important;
    font-size: 13px;
}

.search-icon {
    margin-top: -12px
}
#sectionLabel {
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#sectionInput {
    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 30px;
}
#selectedInput {
    height: 25px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.23px;
    text-align: left;
    color: #000;
}
#sectionRows {
    margin-left: 16px;
    margin-right: 16px;
}
