.main1 {
    padding: 60px 30px 30px 30px;
}

.main2 {
    padding: 0px 30px 30px 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 100px 20px;
    background: #FFF;
    border-radius: 6px;
}

.title {
    width: 100%;
    margin-bottom: 20px;
}

#title {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* opacity: 70%; */
}

#description {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #a8a6a6;
}

.box {
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); */
    width: calc(33.33% - 20px);
    min-height: 200px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ebeaea;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    /* position: relative; */
}

.box2 {
    width: calc(33.33% - 80px);
    min-height: 300px;
    background-color: white;
    border-radius: 5px;
    margin-right: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.box2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.box3 {
    width: calc(66.66% - 20px);
    min-height: 200px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.round-button {
    display: inline-block;
    border: none;
    border-radius: 50%;
    background-color: #eae8e8;
    padding: 10px;
}

.pol-text {
    margin-left: 20px;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.centered-table {
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
}

.sa-premium {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-typography {
    color: rgba(0, 0, 0, 0.50);
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.view-button {
    display: inline-flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: none;
    background: transparent;
    color: #00529B;
    float: right;
    margin-top: 10px;
    padding-left: 35px;
    text-decoration: underline;
    cursor: pointer;
    margin-right: auto
}

.custom-select {
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
}

.proceed-button {
    display: inline-flex;
    height: 40px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #00529B;
}

.proceed-button:hover {
    background: #9ecbf2;
}

.button-text {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.product {
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.product-description {
    color: #a8a6a6;
    font-size: 14px;
}

.marketing-title {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

.marketing-desc {
    font-size: 16px;
    color: #000;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .box,
    .box2,
    .box3 {
        width: 100%;
    }
}