/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";
@import "assets/css/turnkey-styles.css";

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.p-fluid .p-inputtext {
  width: 100%;
  height: 30px;
  border-radius: 0;
}

.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  padding: 0.1rem 0.5rem;
  font-size: 0.78em;
  background-color: #00539b03;
}

svg.p-icon.p-sortable-column-icon {
  height: 10px;
}
tr.ng-star-inserted {
  border: 0;
}

.base-content .base-content-section table tr th {
  font-size: 13px;
  font-weight: 700;
}

.p-tabview-nav {
  font-size: 12px;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:active,
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:hover,
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:focus
 {
  border: 0;
  border-radius: 0;
}
