
<div class="container">

    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.lossDate' | translate }}</span>: {{ lossDate }}
        </div>
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.partyToBlame' | translate }}</span>: {{ partyToBlame }}
        </div>
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.lossDescription' | translate }}</span>: {{ lossDescription }}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.type_of_loss' | translate }}</span>:
        </div>
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.salvage_retained' | translate }}</span>: {{ salvageRetained }}
        </div>
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.amt_owed_defaulter' | translate }}</span>: {{ amtOwedDefaulter }}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.guard_details_if_any' | translate }}</span>:
        </div>
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.raining' | translate }}</span>: {{ raining }}
        </div>
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.claim_repudiated' | translate }}</span>: {{ claimRepudiated }}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.road_surface_condition' | translate }}</span>:
        </div>
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.reason_repudiated' | translate }}</span>: {{ reasonRepudiated }}
        </div>
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.recovery_steps_taken' | translate }}</span>:
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.reasons_for_pending' | translate }}</span>:
        </div>
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.prevention_measures' | translate }}</span>: {{ preventionMeasures }}
        </div>
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.any_suspects' | translate }}</span>: {{ anySuspects }}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.claim_amount' | translate }}</span>: {{ claimAmount }}
        </div>
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.visibility' | translate }}</span>: {{ visibility }}
        </div>
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.insurance_contact_person' | translate }}</span>:
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span class="label">{{'gis.claims.claim_booking.ref_no' | translate }}</span>:
        </div>
      </div>
    </div>
</div>