<div class="container ms-2">
  <div class="row me-4 mt-1 align-items-center">
    <div class="col-8">
      <app-dynamic-breadcrumb
        [breadCrumbItems]="[
      {
        label: 'FMS',
        url: '/home/fms',
      },
      {
        label: this.translate.instant('fms.receipting.cbReceipting'),
        url: '/home/fms/',
      },
      {
        label: this.translate.instant('base.base-fms.banking'),
        url: '/home/fms/',
      }
     
    ]"
      >
      </app-dynamic-breadcrumb>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <p-table
        [value]="batches"
        sortMode="multiple"
        [(selection)]="selectedBatch"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="batchNo">
              <div class="flex items-center gap-2">
                {{ "fms.receipting.batchNumber" | translate }}
                <p-sortIcon field="batchNo" />
              </div>
            </th>

            <th pSortableColumn="date">
              <div class="flex items-center gap-2">
                {{ "fms.banking.date" | translate }}
                <p-sortIcon field="date" />
              </div>
            </th>
            <th pSortableColumn="assignee">
              <div class="flex items-center gap-2">
                {{ "serviceDesk.assignee" | translate }}
                <p-sortIcon field="assignee" />
              </div>
            </th>

            <th pSortableColumn="amount">
              <div class="flex items-center gap-2">
                {{ "fms.receipting.amount" | translate }}
                <p-sortIcon field="amount" />
              </div>
            </th>

            <th>
              <div class="flex items-center gap-2">
                {{ "fms.receipting.actions" | translate }}
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-batch>
          <tr>
            <td>{{ batch.batchNo }}</td>
            <td>{{ batch.date | date : "yyyy-MM-dd" }}</td>
            <td>{{ batch.assignee }}</td>
            <td>{{ batch.amount }}</td>
            <td>deposit</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="d-flex mt-1 justify-content-end">
    <button class="btn btn-primary" (click)="navigateToDashboard()">
      {{ "fms.banking.goToDashboard" | translate }}
    </button>
  </div>
</div>
