@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


#save{
    background-color:#00529B;
    color:white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 70px;
    margin-left: 35px;
}
#cancel{
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.activity{
    background-color: rgb(0, 82, 155, 0.2) ;
    color: #000;
}
#search{
    background-color: var(--primary-color);
    color: white;
    padding: 7px;
    border-radius: 3px;
}
.title1{
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

}
#paramsList{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
cursor:pointer;
}
#title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--primary-color);

}
label{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.required{
    color:#ED0614;    ;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
    height:7px
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 30, 187, 0.1);
  }
  #table-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;

  }
  .paramlist{
    overflow-y: scroll;
    max-height: 360px;
  }


  .text-right {
  width: 4rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 0;
  background-color: white;
  font-size: 12px;
  margin: 0 0 1rem 0;
  padding: 0.3em;
 }

 .text-right:hover {
  color: #ffffff !important;
  background-color: var(--primary-color);
 }
