<div class="container ">
    <p class="titleMain mt-3">{{'gis.policy.underwriting_product_details' | translate}}</p>
    <app-stepper [currentStep]="3" [stepperData]="steps"></app-stepper>

    <div class="container mt-4">
        <div class="card mb-3">
            <div class="card-body">
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home">Policy Details</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile">Reinsurance</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact">Risk Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact">Reports and documents</a>
                  </ul>

                
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <button class="btn btn-primary float-end mt-4 me-4" (click)="computePremium()">Compute Premium</button>
                           
                        <p class="title">{{'gis.policy.policy_details' | translate}}</p>
                           
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <button type="button" class="btn btn-primary float-end mt-4 me-4">Compute Premium</button>

                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
                  </div>
            </div>
        </div>
    </div>
</div>