::ng-deep .p-datatable .p-datatable-header{
  background: transparent;
  padding: 5px;
}
.icon-circle {
  display: inline-block;
  background-color: #e4e7eb;
  color: #00529b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

#flexCheckChecked {
  background-color: gray;
  width: 22px;
  height: 21px;
}
.carousel-control-next, .carousel-control-prev {
  top: 50%;
  height: 20%;
}
.doc-name {
  display: inline-block;
  width: 172px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.form-label {
  display: flex;
  align-items: center;
}
