<div class="container ">
    <p class="titleMain mt-3">Underwriting: Product details</p>
    <div class="container mx-2 mt-n1">
        <div class="card mb-3 px-2" style=" position: relative;">
            <div class="card-body">
                <p class="subheading">Policy product details</p>
                <form>
                    <!-- ROW 1 -->
                    <div class="row mb-4">
                        <div class="mb-1 col-sm-4 col-12">
                            <label for="client" class="required product-label" id="client">Client</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                formControlName="source">
                                <option value=""></option>

                            </select>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <label for="joint_account" class=" product-label" id="joint_account">Joint account</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                formControlName="source">
                                <option value=""></option>

                            </select>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12 ">
                            <label for="product" class="required product-label" id="product">Product</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                formControlName="source">
                                <option value=""></option>

                            </select>
                        </div>
                    </div>
                    <!-- ROW 2 -->
                    <div class="row mb-4">
                        <div class=" mb-1 col-sm-4 col-12">
                            <label for="policy_interface" class="required product-label" id="policy_interface">Policy
                                interface type</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                formControlName="source">
                                <option value=""></option>

                            </select>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <label for="policy_type" class="required product-label" id="policy_type">Policy type</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                formControlName="source">
                                <option value=""></option>

                            </select>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12 ">
                            <label for="branch" class="required product-label" id="branch">Branch</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                formControlName="source">
                                <option value=""></option>

                            </select>
                        </div>
                    </div>
                    
                    <div class="collapse" id="collapseExample">
                        <!-- ROW 3 -->
                        <div class="row mb-4">
                            <div class=" mb-1 col-sm-4 col-12">
                                <label for="source" class=" product-label" id="source">Source</label>
                                <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                    formControlName="source">
                                    <option value=""></option>

                                </select>
                            </div>
                            <div class=" mb-1 col-sm-4 col-12">
                                <label for="marketer" class=" product-label" id="marketer">Marketer</label>
                                <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                    formControlName="source">
                                    <option value=""></option>

                                </select>
                            </div>
                            <div class=" mb-1 col-sm-4 col-12 ">
                                <label for="introducer" class=" product-label" id="introducer">Introducer</label>
                                <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                    formControlName="source">
                                    <option value=""></option>

                                </select>
                            </div>
                        </div>
                        <!-- ROW 4 -->
                        <div class="row mb-4">
                            <div class="  mb-1 col-sm-4 col-12">
                                <label for="contract" class=" product-label" id="contract">Contract name</label>
                                <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                    formControlName="source">
                                    <option value=""></option>

                                </select>
                            </div>
                            <div class=" mb-1 col-sm-4 col-12" >
                                <div class="form-check pt-4">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Cashback applicable
                                    </label>
                                  </div>
                            </div>
                            <div class="  mb-1 col-sm-4 col-12" >
                                <div class="form-check  pt-4">
                                    <input class="form-check-input" type="checkbox" value="" id="scheme">
                                    <label class="form-check-label" for="scheme">
                                        Scheme policy
                                    </label>
                                  </div>
                            </div>
                           
                        </div>
                        <!-- ROW 5 -->
                        <div class="row mb-4">
                            <div class=" mb-1 col-sm-4 col-12" >
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="policy_level_debit">
                                    <label class="form-check-label" for="policy_level_debit">
                                        Policy level debit
                                    </label>
                                  </div>
                            </div>
                            <div class=" mb-1 col-sm-4 col-12" >
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="open_policy">
                                    <label class="form-check-label" for="open_policy">
                                        Open policy
                                    </label>
                                  </div>
                            </div>
                            <div class=" mb-1 col-sm-4 col-12" >
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="coinsuarnce_policy">
                                    <label class="form-check-label" for="coinsuarnce_policy">
                                        Coinsurance policy
                                    </label>
                                  </div>
                            </div>
                           
                        </div>
                        
                    </div>
                    <p class="more " (click)="show=!show" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">More
                        Details <span class="ml-1" data-toggle="collapse" data-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample"> <i class="pi pi-angle-double-up"
                                style="font-size:13px" *ngIf="!show" data-toggle="collapse"
                                data-target="#collapseExample"></i><i class="pi pi-angle-double-down"
                                style="font-size:13px" *ngIf="show" data-toggle="collapse"
                                data-target="#collapseExample"></i></span> </p>

                </form>
            </div>
        </div>
        
    </div>

</div>