<div class="container ">
    <div class="spinner" style="position: relative">
        <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="true" color="#00529B" size="large" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
      </div>
    <p class="titleMain mt-3 ms-4">{{'gis.policy.underwriting_product_details' | translate}}</p>
    <app-stepper [currentStep]="1" [stepperData]="steps"></app-stepper>

    <div class="container mx-2 mt-n1">
        <div class="card mb-3 px-2" style=" position: relative;">
            <div class="card-body">
                <p class="subheading">{{'gis.policy.policy_product_details' | translate}}</p>
                <form [formGroup]="policyProductForm">
                    <!-- ROW 1 -->
                    <div class="row mb-4">
                        <div class="mb-1 col-sm-4 col-12">
                            <label for="client" class="required product-label" id="client">{{'gis.policy.client' |
                                translate}}</label>
                            <input type="text" id="quote-input" class="form-control form-control-sm mb-1"
                                formControlName="clientCode" [(ngModel)]="clientName" data-bs-toggle="modal" 
                                data-bs-target="#clientModal" readonly  >

                            <!-- Display error message under the field -->
                            <div *ngIf="policyProductForm.get('clientCode').hasError('required') && policyProductForm.get('clientCode').touched"
                                class="form-text text-danger">
                                {{'gis.policy.client_is_required' |
                                translate}}
                            </div>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12">

                            <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault"
                                #checkbox (change)="toggleJointAccountSelect(checkbox.checked)"  pTooltip="Select to add a joint account" 
                                tooltipPosition="left">

                            <label class="product-label">{{'gis.policy.joint_account' | translate}}</label>
                            <input type="text" id="jointAccountInput" class="form-control form-control-sm mb-1"
                                formControlName="source" [value]="jointAccountCode " [(ngModel)]="jointAccountName"
                                data-bs-toggle="modal" data-bs-target="#jointAccountModal" readonly >

                            <!-- <select class="form-select form-control-sm mb-1 ms-n4 quote-input" id="jointAccountInput"
                                formControlName="source">
                                <option value=""></option>
                                <option ></option>
                            </select> -->
                        </div>
                        <div class=" mb-1 col-sm-4 col-12 ">
                            <label for="product" class="required product-label" id="product">{{'gis.policy.product' |
                                translate}}</label><br>
                            <p-dropdown formControlName="productCode" [options]="ProductDescriptionArray" *ngIf="!page"
                                optionValue="code" optionLabel="description"
                                (onChange)="onProductSelected($event.value)" placeholder=" " [filterBy]="'description'"
                                [filter]="true" [(ngModel)]="selectedProductCode"></p-dropdown>
                            <p-dropdown formControlName="productCode" [options]="ProductDescriptionArray" *ngIf="page"
                                optionValue="code" optionLabel="description"
                                (onChange)="onProductSelected($event.value)" [placeholder]="productDescription" [(ngModel)]="productDescription" [filterBy]="'description'"
                                [filter]="true" ></p-dropdown>
                            <!-- Display error message under the field -->
                            <div *ngIf="policyProductForm.get('productCode').hasError('required') && policyProductForm.get('productCode').touched"
                                class="form-text text-danger">
                                {{'gis.quotation.product_is_required' |
                                translate}}
                            </div>

                        </div>
                    </div>
                    <!-- ROW 2 -->
                    <div class="row mb-4">
                        <div class=" mb-1 col-sm-4 col-12">
                            <label for="policy_interface" class="required product-label"
                                id="policy_interface">{{'gis.policy.policy_interface_type' | translate}}</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                formControlName="proInterfaceType">
                                <option></option>
                                <option value="ACCRUAL">{{'gis.policy.accrual' | translate}}</option>
                                <option value="CASH">{{'gis.policy.cash' | translate}}</option>

                            </select>
                            <!-- Display error message under the field -->
                            <div *ngIf="policyProductForm.get('proInterfaceType').hasError('required') && policyProductForm.get('proInterfaceType').touched"
                                class="form-text text-danger">
                                {{'gis.policy.policy_interface_is_required' |
                                translate}}
                            </div>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <label for="policy_type" class="required product-label"
                                id="policy_type">{{'gis.policy.policy_type' | translate}}</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="product-input" #policyTypeSelect
                                (change)="onPolicyInterfaceTypeChange(policyTypeSelect.value)">
                                <option value=""></option>
                                <option value="D">{{'gis.policy.direct_business' | translate}}</option>
                                <option value="N">{{'gis.policy.intermediary_business' | translate}} </option>
                                <option value="F">{{'gis.policy.facultative_inward' | translate}}</option>
                            </select>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12 ">
                            <label for="branch" class="required product-label" id="branch">{{'gis.policy.branch' |
                                translate}}</label>
                            <p-dropdown formControlName="branchCode" [options]="branchList" optionLabel="name"
                                optionValue="id" (onChange)="onBranchSelected($event.value)"
                                 [filterBy]="'description'" [filter]="true" [placeholder]="branchDescription"
                                [(ngModel)]="branchDescription"></p-dropdown>
                            <!-- Display error message under the field -->
                            <div *ngIf="policyProductForm.get('branchCode').hasError('required') && policyProductForm.get('branchCode').touched"
                                class="form-text text-danger">
                                {{'gis.quotation.branch_is_required' |
                                translate}}
                            </div>
                        </div>
                    </div>
                    <!-- Additional fields for Intermediary Business -->
                    <div *ngIf="showIntermediaryFields">
                        <div class="row mb-1">
                            <div class="mb-1 col-sm-4 col-12">
                                <label for="select_agent" class="product-label" id="select_agent">
                                    {{'gis.policy.agent' | translate}}</label>
                                <!-- <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                    formControlName="agent_code">
                                    <option value=""></option>
                                </select> -->
                                <p-dropdown formControlName="agentCode" [options]="agentList" optionValue="id" *ngIf="!page"
                                    optionLabel="name" (onChange)="onAgentSelected($event.value)" placeholder=" "
                                    [filterBy]="'name'" [filter]="true"></p-dropdown>

                                <p-dropdown formControlName="agentCode" [options]="agentList" optionValue="id"  *ngIf="page"
                                    optionLabel="name" (onChange)="onAgentSelected($event.value)" [placeholder]="agentDescription" [(ngModel)]="agentDescription"
                                    [filterBy]="'name'" [filter]="true"></p-dropdown>
                            </div>
                            <div class="mb-1 col-sm-4 col-12">
                                <div class="form-check pt-4">

                                    <label class="form-check-label"
                                        for="underwriters_only">{{'gis.policy.underwriters_only' | translate}}?</label>
                                    <input class="form-check-input" type="checkbox" id="underwriters_only">
                                </div>

                            </div>
                            <div class="mb-1 col-sm-4 col-12">
                                <div class="form-check pt-4">

                                    <label class="form-check-label"
                                        for="intermediary_comm_allowed">{{'gis.policy.intermediary_comm_allowed' |
                                        translate}}?</label>
                                    <input class="form-check-input" type="checkbox" id="intermediary_comm_allowed"
                                        formControlName="isCommissionAllowed">
                                </div>
                            </div>

                        </div>
                        <div class="row mb-4">
                            <div class="mb-1 col-sm-4 col-12">
                                <div class="form-check pt-4">

                                    <label class="form-check-label"
                                        for="admin_fee_allowed">{{'gis.policy.admin_fee_allowed' | translate}}?</label>
                                    <input class="form-check-input" type="checkbox" id="admin_fee_allowed"
                                        formControlName="isAdminFeeAllowed">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Additional fields for Facultative Business -->
                    <div *ngIf="showFacultativeFields">
                        <div class="row mb-4">
                            <div class="mb-1 col-sm-4 col-12">
                                <label for="select_ceding_company" class="product-label"
                                    id="select_ceding_company">{{'gis.policy.ceding_company' | translate}}</label>
                                <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                    formControlName="agentCode">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="mb-1 col-sm-4 col-12">
                                <label for="select_ri_agent" class="product-label"
                                    id="select_ri_agent">{{'gis.policy.ri_agent' | translate}}</label>
                                <input type="text" class="form-control form-control-sm mb-1">
                            </div>
                            <div class="mb-1 col-sm-4 col-12">
                                <div class="form-check pt-4">

                                    <label class="form-check-label"
                                        for="underwriters_only_facultative">{{'gis.policy.underwriters_only' |
                                        translate}}?</label>
                                    <input class="form-check-input" type="checkbox" id="underwriters_only_facultative">
                                </div>
                            </div>
                            <div class="mb-1 col-sm-4 col-12">
                                <div class="form-check pt-4">

                                    <label class="form-check-label"
                                        for="intermediary_comm_allowed_facultative">{{'gis.policy.intermediary_comm_allowed'
                                        | translate}}?</label>
                                    <input class="form-check-input" type="checkbox"
                                        id="intermediary_comm_allowed_facultative"
                                        formControlName="isCommissionAllowed">
                                </div>
                            </div>
                            <div class="mb-1 col-sm-4 col-12">
                                <div class="form-check pt-4">

                                    <label class="form-check-label"
                                        for="admin_fee_allowed_facultative">{{'gis.policy.admin_fee_allowed' |
                                        translate}}?</label>
                                    <input class="form-check-input" type="checkbox" id="admin_fee_allowed_facultative"
                                        formControlName="isAdminFeeAllowed">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <!-- ROW 3 -->
                        <div class="row mb-4">
                            <div class=" mb-1 col-sm-4 col-12">
                                <label for="source" class=" product-label" id="source">{{'gis.policy.source' |
                                    translate}}</label>
                                <!-- <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                    formControlName="source">
                                    <option value=""></option>

                                </select> -->
                                <select class="form-select form-control-sm mb-1 ms-n4" id="quote-input"
                                    formControlName="source" (change)="onSourceSelected($event)">
                                    <option value=""></option>
                                    <option *ngFor="let source of sourceDetail" [value]="source.code">{{
                                        source.description
                                        | sentenceCase}}</option>
                                </select>
                            </div>
                            <div class=" mb-1 col-sm-4 col-12">
                                <label for="marketer" class=" product-label" id="marketer">{{'gis.policy.marketer' |
                                    translate}}</label>

                                <p-dropdown [options]="marketerList" optionLabel="name" id="product-input"
                                    optionValue="id" (onChange)="onMarketerSelected($event.value)" placeholder=" "
                                    [filterBy]="'name'" [filter]="true"></p-dropdown>
                            </div>
                            <div class=" mb-1 col-sm-4 col-12 ">
                                <label for="introducer" class=" product-label" id="introducer">{{'gis.policy.introducer'
                                    | translate}}</label>
                                <input type="text" id="quote-input" class="form-control form-control-sm mb-1"
                                    formControlName="agentCode" [value]="introducerCode " [(ngModel)]="introducerName"
                                    data-bs-toggle="modal" data-bs-target="#introducersModal" readonly>

                                <!-- <select class="form-select form-control-sm mb-1 ms-n4" id="quote-input">
                                <option value=""></option>
                                <option *ngFor="let introducer of introducersList" [value]="introducer.code">{{ introducer.surName
                                    | sentenceCase}}</option>
                            </select> -->
                            </div>
                        </div>
                        <!-- ROW 4 -->
                        <div class="row mb-4">
                            <div class="mb-1 col-sm-4 col-12">
                                <div class="form-check pt-4">
                                    <input class="form-check-input me-2" type="checkbox" value=""
                                        id="flexCheckDefaultContract" #Contractcheckbox
                                        (change)="toggleContractSelect(Contractcheckbox.checked)">

                                    <label class="product-label">{{'gis.policy.contract_name' | translate}}</label>

                                </div>
                                <!-- <select class="form-select form-control-sm mb-1 ms-n4" id="contractNameInput"
                                formControlName="source">
                                <option value=""></option>
                                <option ></option>
                            </select> -->
                                <select class="form-select form-control-sm mb-1 ms-n4" id="contractNameInput"
                                    (change)="onContractSelected($event)">
                                    <option value=""></option>
                                    <option *ngFor="let contract of contractDetails" [value]="contract.binder_code">{{
                                        contract.binder_name
                                        | sentenceCase}}</option>
                                </select>
                            </div>


                            <div class=" mb-1 col-sm-4 col-12">
                                <div class="form-check pt-4">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                        formControlName="isCashbackApplicable">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{'gis.policy.cash_applicable' | translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="  mb-1 col-sm-4 col-12">
                                <div class="form-check  pt-4">
                                    <input class="form-check-input" type="checkbox" value="" id="scheme">
                                    <label class="form-check-label" for="scheme">
                                        {{'gis.policy.scheme_policy' | translate}}
                                    </label>
                                </div>
                            </div>

                        </div>
                        <!-- ROW 5 -->
                        <div class="row mb-4">
                            <div class=" mb-1 col-sm-4 col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="policy_level_debit">
                                    <label class="form-check-label" for="policy_level_debit">
                                        {{'gis.policy.policy_level_debit' | translate}}
                                    </label>
                                </div>
                            </div>
                            <div class=" mb-1 col-sm-4 col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="open_policy">
                                    <label class="form-check-label" for="open_policy">
                                        {{'gis.policy.open_policy' | translate}}
                                    </label>
                                </div>
                            </div>
                            <div class=" mb-1 col-sm-4 col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="coinsuarnce_policy"
                                        formControlName="isCoinsurance">
                                    <label class="form-check-label" for="coinsuarnce_policy">
                                        {{'gis.policy.coinsuarance_policy' | translate}}
                                    </label>
                                </div>
                            </div>

                        </div>

                    </div>
                    <p class="more " (click)="show=!show" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample"> {{'gis.policy.more_details' |
                        translate}}<span class="ml-1" data-toggle="collapse" data-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample"> <i class="pi pi-angle-double-up"
                                style="font-size:13px" *ngIf="!show" data-toggle="collapse"
                                data-target="#collapseExample"></i><i class="pi pi-angle-double-down"
                                style="font-size:13px" *ngIf="show" data-toggle="collapse"
                                data-target="#collapseExample"></i></span> </p>
                    <!-- Client Modal -->
                    <div class="modal fade" id="clientModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <button type="button" #closebutton class="float-end btn-close"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                    <p class="text-start" id="selectClient">{{'gis.policy.select_client' | translate}}
                                    </p>

                                    <p-table #dt1 [value]="clientData" [tableStyle]="{'max-width': '465px'}"
                                        selectionMode="single" [resizableColumns]="true" styleClass="p-datatable-sm"
                                        responsiveLayout="scroll" class='ui-datatable' [autoLayout]="true"
                                        [paginator]="true" [rows]="5" [scrollable]="true" scrollDirection="horizontal"
                                        [showCurrentPageReport]="true"
                                        currentPageReportTemplate=" {first} - {last} of {totalRecords}"
                                        [globalFilterFields]="['idNumber', 'emailAddress','lastName','emailAddress']">
                                        <ng-template pTemplate="caption">
                                            <div class="flex">
                                                <span class="p-input-icon-left ml-auto">
                                                    <i class="pi pi-search search-icon"></i>
                                                </span>
                                                <input class="search-input" pInputText type="text"
                                                    (input)="applyFilterGlobal($event, 'contains')"
                                                    placeholder="Search" />

                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">

                                            <tr id="product">
                                                <th>{{'gis.policy.id_no' | translate}}</th>
                                                <th>{{'gis.policy.name' | translate}}</th>
                                                <th>{{'gis.policy.email' | translate}}</th>

                                            </tr>
                                        </ng-template>

                                        <ng-template let-clientData pTemplate="body">
                                            <tr id="productData" [pSelectableRow]=""
                                                (click)="loadClientDetails(clientData.id);">

                                                <td>
                                                    {{clientData.idNumber}}
                                                </td>
                                                <td>
                                                    {{clientData.firstName+" "+clientData.lastName}}
                                                </td>
                                                <td>
                                                    {{clientData.emailAddress}}
                                                </td>
                                            </tr>
                                        </ng-template>

                                    </p-table>
                                    <br>
                                    <!-- <button class="btn btn-primary float-end" data-bs-dismiss="modal" (click)="saveclient()">Save Details</button> -->
                                </div>



                            </div>
                        </div>
                    </div>
                    <!-- Joint Account Modal -->
                    <div class="modal fade" id="jointAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <button type="button" #closebuttonJointAccount class="float-end btn-close"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                    <p class="text-start" id="selectClient">{{'gis.policy.select_client' | translate}}
                                    </p>

                                    <p-table #dt3 [value]="jointAccountData" [tableStyle]="{'max-width': '465px'}"
                                        selectionMode="single" [resizableColumns]="true" styleClass="p-datatable-sm"
                                        responsiveLayout="scroll" class='ui-datatable' [autoLayout]="true"
                                        [paginator]="true" [rows]="5" [scrollable]="true" scrollDirection="horizontal"
                                        [showCurrentPageReport]="true"
                                        currentPageReportTemplate=" {first} - {last} of {totalRecords}"
                                        [globalFilterFields]="['idNumber', 'emailAddress','lastName','emailAddress']">
                                        <ng-template pTemplate="caption">
                                            <div class="flex">
                                                <span class="p-input-icon-left ml-auto">
                                                    <i class="pi pi-search search-icon"></i>
                                                </span>
                                                <input class="search-input" pInputText type="text"
                                                    (input)="applyFilterGlobal($event, 'contains')"
                                                    placeholder="Search" />

                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">

                                            <tr id="product">
                                                <th>{{'gis.policy.id_no' | translate}}</th>
                                                <th>{{'gis.policy.name' | translate}}</th>
                                                <th>{{'gis.policy.email' | translate}}</th>

                                            </tr>
                                        </ng-template>

                                        <ng-template let-jointAccountData pTemplate="body">
                                            <tr id="productData" [pSelectableRow]=""
                                                (click)="loadJointAccountDetails(jointAccountData.id);">

                                                <td>
                                                    {{jointAccountData.idNumber}}
                                                </td>
                                                <td>
                                                    {{jointAccountData.firstName+" "+jointAccountData.lastName}}
                                                </td>
                                                <td>
                                                    {{jointAccountData.emailAddress}}
                                                </td>
                                            </tr>
                                        </ng-template>

                                    </p-table>
                                    <br>
                                    <!-- <button class="btn btn-primary float-end" data-bs-dismiss="modal" (click)="saveclient()">Save Details</button> -->
                                </div>



                            </div>
                        </div>
                    </div>
                    <!-- Introducers Modal -->
                    <div class="modal fade" id="introducersModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <button type="button" #closebuttonIntroducers class="float-end btn-close"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                    <p class="text-start" id="selectClient">{{'gis.policy.select_an_introducer' |
                                        translate}}</p>

                                    <p-table #dt2 [value]="introducersList" [tableStyle]="{ 'max-width': '100rem' }"
                                        [resizableColumns]="true" styleClass="p-datatable-sm" class='ui-datatable'
                                        [globalFilterFields]="['surName', 'otherNames','staffNo','groupCompany']"
                                        [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                                        currentPageReportTemplate="{first} to {last} of {totalRecords} entries"
                                        selectionMode="single" dataKey="shortDescription">


                                        <ng-template pTemplate="caption">
                                            <div class="flex">
                                                <span class="p-input-icon-left ml-auto">
                                                    <i class="pi pi-search search-icon"></i>
                                                </span>
                                                <input class="search-input" pInputText type="text"
                                                    (input)="applyIntroducersFilterGlobal($event, 'contains')"
                                                    placeholder="Search" />

                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">

                                            <tr id="product">
                                                <th>{{'gis.policy.staff_no' | translate}}</th>
                                                <th>{{'gis.policy.surname' | translate}}</th>
                                                <th>{{'gis.policy.other_names' | translate}}</th>
                                                <th>{{'gis.policy.company' | translate}}</th>

                                            </tr>
                                        </ng-template>

                                        <ng-template let-introducersList pTemplate="body">
                                            <tr id="introducersData" [pSelectableRow]=""
                                                (click)="loadIntroducerDetails(introducersList.code);">

                                                <td>
                                                    {{introducersList.staffNo}}
                                                </td>
                                                <td>
                                                    {{introducersList.surName}}
                                                </td>
                                                <td>
                                                    {{introducersList.otherNames}}
                                                </td>
                                                <td>
                                                    {{introducersList.groupCompany}}
                                                </td>
                                            </tr>
                                        </ng-template>

                                    </p-table>
                                    <br>
                                    <!-- <button class="btn btn-primary float-end" data-bs-dismiss="modal" (click)="saveclient()">Save Details</button> -->
                                </div>



                            </div>
                        </div>
                    </div>



                </form>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <p class="subheading">{{'gis.policy.policy_details' | translate}}</p>
                <form [formGroup]="policyProductForm">
                    <div class="row mb-4">
                        <div class="mb-1 col-sm-4 col-12">
                            <label for="coverFrom" class="required product-label" id="coverTo">{{'gis.policy.cover_from'
                                |
                                translate}}</label>
                            <input type="date" id="quote-input" class="form-control form-control-sm mb-1"
                                formControlName="withEffectiveFromDate" (change)="updateCoverTo()">

                            <!-- Display error message under the field -->
                            <div *ngIf="policyProductForm.get('withEffectiveFromDate').hasError('required') && policyProductForm.get('withEffectiveFromDate').touched"
                                class="form-text text-danger">
                                {{'gis.quotation.cover_from_is_required' | translate}} 
                            </div>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <label for="coverTo" class="required product-label" id="coverTo">{{'gis.policy.cover_to' |
                                translate}}</label>
                            <input type="date" id="quote-input" (change)="updateCoverDays()"
                                class="form-control form-control-sm mb-1" formControlName="withEffectiveToDate">
                                <!-- Display error message under the field -->
                            <div *ngIf="policyProductForm.get('withEffectiveToDate').hasError('required') && policyProductForm.get('withEffectiveToDate').touched"
                            class="form-text text-danger">
                            {{'gis.quotation.cover_to_is_required' | translate}} 
                        </div>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12 ">
                            <label for="coverDays" class="required product-label" id="product">{{'gis.policy.cover_days'
                                |
                                translate}}</label><br>

                            <input type="text" id="quote-input" formControlName="coverDays"
                                class="form-control form-control-sm mb-1">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class=" mb-1 col-sm-4 col-12">
                            <label for="currency" class=" product-label required"
                                id="currency">{{'gis.policy.currency' | translate}}</label>
                                <p-dropdown formControlName="currencyCode" [options]="currency" optionLabel="name" *ngIf="!page" (onChange)="getcurrency($event.value)"
                                optionValue="id" [filterBy]="'name'"  [filter]="true" ></p-dropdown>
                            <p-dropdown formControlName="currencyCode" [options]="currency" optionLabel="name" (onChange)="getcurrency($event.value)"  *ngIf="page"
                                optionValue="id" [filterBy]="'name'" [placeholder]="currencyDescription" [filter]="true" [ngModel]="currencyDescription"></p-dropdown>
                                 <!-- Display error message under the field -->
                            <div *ngIf="policyProductForm.get('currencyCode').hasError('required') && policyProductForm.get('currencyCode').touched"
                            class="form-text text-danger">
                             {{'gis.policy.currency_is_required' | translate}} 
                        </div>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <label for="policy_type" class=" product-label"
                                id="policy_type">{{'gis.policy.currency_rate' | translate}}</label>
                            <input type="text" id="quote-input" formControlName="currencyRate"
                                class="form-control form-control-sm mb-1" readonly>

                        </div>
                        <div class=" mb-1 col-sm-4 col-12 ">
                            <label for="branch" class=" product-label" id="branch">{{'gis.policy.currency_fixed_rate' |
                                translate}}</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                formControlName="isExchangeRateFixed">
                                <option value="Y">{{'gis.policy.yes' | translate}}</option>
                                <option value="N">{{'gis.policy.no' | translate}}</option>

                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class=" mb-1 col-sm-4 col-12">
                            <label for="policy_interface" class=" product-label"
                                id="policy_interface">{{'gis.policy.policy_document' | translate}}</label>
                                <select class="form-select form-control-sm mb-1 ms-n4" id="product-input" formControlName="transactionType" (ngModel) ="defaultProductDocument?.name">
                                    <!-- <option value="" disabled selected>Select a product document...</option> -->
                                    <option *ngFor="let document of productDocumentList" Value ="document">{{ document.name }}</option>
                                  </select>
                                  
                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <label for="policy_type" class="required product-label"
                                id="policy_type">{{'gis.policy.payment_mode' | translate}}</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="quote-input"
                                formControlName="paymentMode">
                                <option value=""></option>
                                <option *ngFor="let payment of paymentDetails" [value]="payment.code">{{
                                    payment.description
                                    | sentenceCase}}</option>
                            </select>
                             <!-- Display error message under the field -->
                             <div *ngIf="policyProductForm.get('paymentMode').hasError('required') && policyProductForm.get('paymentMode').touched"
                             class="form-text text-danger">
                              {{'gis.policy.payment_mode_is_required' | translate}} 
                         </div>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12 ">
                            <label for="branch" class="required product-label"
                                id="branch">{{'gis.policy.payment_reference' |
                                translate}}</label>
                            <input class="form-control form-control-sm mb-1" type="text" value="" id="payment_plan">

                        </div>
                    </div>
                    <div class="collapse" id="collapsePolicy">
                        <!-- ROW 3 -->
                        <div class="row mb-4">
                            <div class=" mb-1 col-sm-4 col-12">
                                <label for="payment_date" class=" product-label"
                                    id="payment_date">{{'gis.policy.payment_date' |
                                    translate}}</label>
                                <input type="date" id="quote-input" class="form-control form-control-sm mb-1">
                            </div>
                            <div class=" mb-1 col-sm-4 col-12">
                                <label for="payment_frequency" class=" product-label"
                                    id="payment_frequency">{{'gis.policy.payment_frequency' |
                                    translate}}</label>

                                <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                                    formControlName="frequencyOfPayment">
                                    <option value=""></option>
                                    <option value="">{{'gis.policy.annually' |translate}}</option>
                                    <option value="">{{'gis.policy.semi_annually' | translate}} </option>
                                    <option value="">{{'gis.policy.quaterly' |translate}}</option>
                                    <option value="">{{'gis.policy.monthly' |translate}}</option>
                                    <option value="">{{'gis.policy.one_off' |translate}}</option>
                                    <option value="">{{'gis.policy.others'|translate}}</option>

                                </select>
                            </div>
                            <div class=" mb-1 col-sm-4 col-12 ">
                                <label for="holding_company" class=" product-label"
                                    id="holding_company">{{'gis.policy.holding_company'
                                    | translate}}</label>
                                <input type="text" id="quote-input" class="form-control form-control-sm mb-1"
                                    formControlName="agentCode" [value]="introducerCode " [(ngModel)]="introducerName"
                                    data-bs-toggle="modal" data-bs-target="#introducersModal" readonly>


                            </div>
                        </div>
                        <!-- ROW 4 -->
                        <div class="row mb-4">
                            <div class="mb-1 col-sm-4 col-12">
                                <label for="payment_frequency" class="product-label"
                                    id="payment_frequency">{{'gis.policy.other_interested_parties' |
                                    translate}}</label>

                                    <p-dropdown  [options]="premiumFinanciers" optionLabel="partyName"
                                    optionValue="partyCode" 
                                    [filterBy]="'partyName'" [filter]="true" ></p-dropdown>
                            </div>


                            <div class=" mb-1 col-sm-4 col-12">
                                <label class="product-label" for="installment_date">
                                    {{'gis.policy.installment_date' | translate}}
                                </label>
                                <input class="form-control form-control-sm mb-1" type="date" value=""
                                    id="installment_date">



                            </div>
                            <div class="  mb-1 col-sm-4 col-12">
                                <label class="product-label" for="premium_financier">
                                    {{'gis.policy.premium_financier' | translate}}
                                </label>
                                <!-- <input class="form-control form-control-sm mb-1" type="text" value=""
                                    id="premium_financier"> -->
                                    <p-dropdown  [options]="premiumFinanciers" optionLabel="partyName"
                                optionValue="partyCode" 
                                [filterBy]="'partyName'" [filter]="true" ></p-dropdown>

                            </div>

                        </div>
                        <!-- ROW 5 -->
                        <div class="row mb-4">
                            <div class=" mb-1 col-sm-4 col-12">
                                <label class="form-check-label" class="product-label" for="payment_plan">
                                    {{'gis.policy.payment_plan' | translate}}
                                </label>
                                <input class="form-control form-control-sm mb-1" type="text" value="" id="payment_plan">
                            </div>
                            <div class=" mb-1 col-sm-4 col-12">
                                <!-- <div class="form-check mt-4">
                                    <input class="form-check-input" type="checkbox" value="" id="policy_generated">
                                    <label class="form-check-label"  for="policy_generated">
                                        {{'gis.policy.policy_generated' | translate}}
                                    </label>
                                </div> -->
                                <div class="form-check mt-4">
                                    <input class="form-check-input" type="checkbox" (change)="onCheckboxChange($event)"
                                        id="policy_generated">
                                    <label class="form-check-label" for="policy_generated">
                                        {{ 'gis.policy.policy_generated' | translate }}
                                    </label>
                                </div>
                            </div>
                            <div class=" mb-1 col-sm-4 col-12" *ngIf="isPolicyGeneratedOutsideSystem">
                                <label class="form-check-label" class="product-label" for="old_policy_no">
                                    {{'gis.policy.old_policy_no' | translate}}
                                </label>
                                <input class="form-control form-control-sm mb-1" type="text" value=""
                                    id="old_policy_no">
                            </div>

                        </div>
                        <!-- ROW 6 -->
                        <div class="row mb-4">
                            <div class=" mb-1 col-sm-4 col-12" *ngIf="isPolicyGeneratedOutsideSystem">
                                <label class="form-check-label" class="product-label" for="old_agent_no">
                                    {{'gis.policy.old_agent_no' | translate}}
                                </label>
                                <input class="form-control form-control-sm mb-1" type="text" value="" id="payment_plan">
                            </div>
                            <div class=" mb-1 col-sm-3 col-12" *ngIf="isPolicyGeneratedOutsideSystem">
                                <label class="form-check-label" class="product-label" for="reference_no">
                                    {{'gis.policy.reference_no' | translate}}
                                </label>
                                <input class="form-control form-control-sm mb-1" type="text" value="" id="reference_no"
                                    placeholder="Ref / Risk Note No. /Credit Note No.">
                            </div>

                        </div>
                        <!-- ROW 7 -->
                        <div class="row mb-4">
                            <div class=" mb-1 col-sm-12 col-12">
                                <label class="form-check-label" class="product-label" for="import_risks">
                                    {{'gis.policy.import_risks' | translate}}
                                </label>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                (change)="onAnotherPolicyChange($event);" id="another_policy">
                                            <label class="form-check-label" for="another_policy">
                                                {{'gis.policy.another_policy' | translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-check">
                                            <input class="form-check-input"  (change)="importFromCsvChange($event);" type="checkbox" value="" id="from_csv">
                                            <label class="form-check-label" for="from_csv">
                                                {{'gis.policy.from_csv' | translate}}
                                            </label>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <!-- <div class="col-sm-4 col-12" *ngIf="isriskImportedAnotherPolicy">
                                <label for="policy_interface" class=" product-label"
                                id="policy_interface">{{'gis.policy.policy_no' | translate}}</label>
                                <p-dropdown formControlName="currencyCode" [options]="currency" optionLabel="name"
                                    optionValue="id" [filterBy]="'name'" placeholder=" " [filter]="true"></p-dropdown>

                            </div> -->
                        </div>
                        <div class="row mb-4">
                            <form [formGroup]="policyForm">
                                
                                <div class="col-sm-4 col-12" *ngIf="isriskImportedAnotherPolicy">
                                    <label for="policy_interface" class=" product-label"
                                        id="policy_interface">{{'gis.policy.policy_no' | translate}}</label>
                                    <p-dropdown  [options]="policyList.content" formControlName="importRiskfromPolicy"  optionLabel="policyNo"
                                        optionValue="policyNo" [filterBy]="'policyNo'" placeholder="Select a policy" (onChange)="getPolicy()" [filter]="true">
                                    </p-dropdown>
    
                                </div>
                            </form>
                           
                        </div>
                    </div>
                    <p class="more " (click)="show=!show" data-bs-toggle="collapse" data-bs-target="#collapsePolicy"
                        aria-expanded="false" aria-controls="collapsePolicy"> {{'gis.policy.more_details' |
                        translate}}<span class="ml-1" data-toggle="collapse" data-target="#collapsePolicy"
                            aria-expanded="false" aria-controls="collapsePolicy"> <i class="pi pi-angle-double-up"
                                style="font-size:13px" *ngIf="!show" data-toggle="collapse"
                                data-target="#collapsePolicy"></i><i class="pi pi-angle-double-down"
                                style="font-size:13px" *ngIf="show" data-toggle="collapse"
                                data-target="#collapsePolicy"></i></span> </p>
                </form>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" *ngIf="!page" (click)="createPolicy();selectedPolicyforRisk()">{{'gis.policy.next' |
                translate}}</button>
            
                <button type="button" class="btn btn-primary" *ngIf="page" (click)="editPolicy()">{{'gis.policy.next' |
                    translate}}</button>
        </div>

    </div>

</div>