.card-header {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: #000000;
  border-bottom: none;
}

label {
  font-weight: 500;
}

.form-group .form-select {
  border-radius: 8px;
}

.form-group .form-control {
  border-radius: 8px;
}

.countryCode {
  flex: 1;
  max-width: 25%;
}

#phoneNumber {
  flex: 3;
  max-width: 75%;
}

.img_upload {
  display: inline-block;
  font-family: "Roboto", serif;
  text-align: center;
  background-color: white;
  color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 2px 1px 2px 2px;

  .fa {
    vertical-align: middle;
  }
}

.img_edit {
  color: var(--primary-color);
  font-size: 14px;
}

.img_edit:hover {
  text-decoration: underline;
}

#profile-photo {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 50%;
}

::ng-deep .p-dropdown .p-dropdown-label {
  display: flex;
  align-items: center;
  height: 100%;
}

::ng-deep .p-dropdown .p-dropdown-filter {
  height: 35px;
}

::ng-deep .p-dropdown-invalid .p-dropdown {
  border: solid 1px red !important;
}
