<div class="base-content-section">
  <div class="me-4">
    <app-dynamic-breadcrumb [breadCrumbItems]="organizationBreadCrumbItems">
    </app-dynamic-breadcrumb>
  </div>
  <app-stepper [currentStep]="1" [stepperData]="steps"></app-stepper>
  <div class="row">
    <form [formGroup]="createOrganizationForm" class="gap-3">
      <div class="card mb-3">
        <div class="card-header bg-transparent">
          <span class="float-start mt-3">Organization Definition</span>
          <span class="float-end mt-3">
            <button
              type="button"
              class="btn btn-primary"
              (click)="createOrganization()"
            >
              Create New
            </button>
          </span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <label for="organization" class="form-label"
                >Select an Organization</label
              >
              <p-dropdown
                [options]="organizationsData"
                [(ngModel)]="selectedOrganization"
                (onChange)="onOrganizationChange()"
                optionLabel="name"
                optionValue="id"
                formControlName="organization"
                id="organization"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                [style]="{ width: '100%', height: '40%' }"
                placeholder="Select organization"
              >
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header bg-transparent float-start">
          <span class="float-start mt-3">Organization Information</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4 mb-4">
              <div class="form-group mb-4">
                <label for="shortDescription" class="form-label"
                  >Short Description</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="shortDescription"
                  aria-describedby="shortDescription"
                  placeholder="Short Description"
                  formControlName="shortDescription"
                  [ngClass]="{
                    'is-invalid':
                      f['shortDescription']?.invalid &&
                      (f['shortDescription']?.dirty ||
                        f['shortDescription']?.touched)
                  }"
                />
                <div
                  *ngIf="
                    f['shortDescription']?.invalid &&
                    (f['shortDescription']?.dirty ||
                      f['shortDescription']?.touched)
                  "
                  class="form-text text-danger"
                  [ngClass]="{
                    'is-invalid': ['submitted'] && f['shortDescription']?.errors
                  }"
                >
                  <div *ngIf="f['shortDescription']?.errors['required']">
                    Short Description is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group mb-4">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  aria-describedby="name"
                  placeholder="Name"
                  formControlName="name"
                  [ngClass]="{
                    'is-invalid':
                      f['name']?.invalid &&
                      (f['name']?.dirty || f['name']?.touched)
                  }"
                />
                <div
                  *ngIf="
                    f['name']?.invalid &&
                    (f['name']?.dirty || f['name']?.touched)
                  "
                  class="form-text text-danger"
                  [ngClass]="{
                    'is-invalid': ['submitted'] && f['name']?.errors
                  }"
                >
                  <div *ngIf="f['name']?.errors['required']">
                    Name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <label for="country" class="form-label">Country</label>
              <p-dropdown
                [options]="countriesData"
                [(ngModel)]="selectedCountry"
                (onChange)="onCountryChange()"
                optionLabel="name"
                optionValue="id"
                formControlName="country"
                id="country"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                [style]="{ width: '100%', height: '30%' }"
                placeholder="Select Country"
              >
              </p-dropdown>
              <!-- <div class="form-group mb-4">
                <label for="country" class="form-label">Country</label>
                <select id="country" class="form-select  mb-1" formControlName="country" (change)="onCountryChange($event)"
                  [ngClass]="{ 'is-invalid': f['country']?.invalid && (f['country']?.dirty || f['country']?.touched) }">
                  <option value="" selected>Select Country</option>
                  <option *ngFor="let country of countriesData" [value]="country.id">
                    {{ country.name | titlecase }}
                  </option>
                </select>
                <div *ngIf="f['country']?.invalid && (f['country']?.dirty || f['country']?.touched)"
                  class="form-text text-danger" [ngClass]="{ 'is-invalid': ['submitted'] && f['country']?.errors }">
                  <div *ngIf="f['country']?.errors['required']">Country is required</div>
                </div>
              </div> -->
            </div>
            <div class="col-sm-4 mb-4">
              <label for="stateName" class="form-label">State Name</label>
              <p-dropdown
                [options]="stateData"
                [(ngModel)]="selectedState"
                (onChange)="onCityChange()"
                optionLabel="name"
                optionValue="id"
                formControlName="stateName"
                id="stateName"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                [style]="{ width: '100%', height: '45%' }"
                placeholder="Select State"
              >
              </p-dropdown>
              <!-- <div class="form-group mb-4">
                <label for="stateName" class="form-label">State Name</label>
                <select id="stateName" class="form-select  mb-1" formControlName="stateName" (change)="onCityChange($event)"
                  [ngClass]="{ 'is-invalid': f['stateName']?.invalid && (f['stateName']?.dirty || f['stateName']?.touched) }">
                  <option value="" selected>Select State</option>
                  <option *ngFor="let state of stateData" [value]="state.id">
                    {{ state.name | titlecase }}
                  </option>
                </select>
                <div *ngIf="f['stateName']?.invalid && (f['stateName']?.dirty || f['stateName']?.touched)" class="form-text text-danger"
                  [ngClass]="{ 'is-invalid': ['submitted'] && f['stateName']?.errors }">
                  <div *ngIf="f['stateName']?.errors['required']">State Name is required</div>
                </div>
              </div> -->
            </div>
            <div class="col-sm-4">
              <div class="form-group mb-4">
                <label for="physicalAddress" class="form-label"
                  >Physical Address</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="physicalAddress"
                  aria-describedby="physicalAddress"
                  placeholder="Physical Address"
                  formControlName="physicalAddress"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group mb-4">
                <label for="postalAddress" class="form-label"
                  >Postal Address</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="postalAddress"
                  aria-describedby="postalAddress"
                  placeholder="Postal Address"
                  formControlName="postalAddress"
                />
              </div>
            </div>
            <div class="col-sm-4 mb-4">
              <div class="form-group mb-4">
                <label for="postalCode" class="form-label">Postal Code</label>
                <input
                  type="text"
                  class="form-control"
                  id="postalCode"
                  aria-describedby="postalCode"
                  placeholder="Postal Code"
                  formControlName="postalCode"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <label for="town" class="form-label">Local Government Area</label>
              <p-dropdown
                [options]="townData"
                [(ngModel)]="selectedTown"
                optionLabel="name"
                optionValue="id"
                formControlName="town"
                id="town"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                [style]="{ width: '100%', height: '30%' }"
                placeholder="Local Government Area"
              >
              </p-dropdown>
              <!-- <div class="form-group mb-4">
                <label for="town" class="form-label">Local Government Area</label>
                <select id="town" class="form-select  mb-1" formControlName="town" required>
                  <option value="" selected>Local Government Area</option>
                  <option *ngFor="let town of townData" [value]="town.id">
                    {{ town.name | titlecase }}
                  </option>
                </select>
              </div> -->
            </div>
            <div class="col-sm-4">
              <label for="baseCurrency" class="form-label">Base Currency</label>
              <p-dropdown
                [options]="currenciesData"
                [(ngModel)]="selectedCurrency"
                optionLabel="name"
                optionValue="id"
                formControlName="baseCurrency"
                id="baseCurrency"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                [style]="{ width: '100%', height: '30%' }"
                placeholder="Select Currency"
              >
              </p-dropdown>
              <!-- <div class="form-group mb-4">
                <label for="baseCurrency" class="form-label">Base Currency</label>
                <select id="baseCurrency" class="form-select  mb-1" formControlName="baseCurrency"
                  [ngClass]="{ 'is-invalid': f['baseCurrency']?.invalid && (f['baseCurrency']?.dirty || f['baseCurrency']?.touched) }">
                  <option value="" selected>Select Currency</option>
                  <option *ngFor="let currency of currenciesData" [value]="currency.id">{{ currency.name }}
                  </option>
                </select>
                <div *ngIf="f['baseCurrency']?.invalid && (f['baseCurrency']?.dirty || f['baseCurrency']?.touched)" class="form-text text-danger"
                  [ngClass]="{ 'is-invalid': ['submitted'] && f['baseCurrency']?.errors }">
                  <div *ngIf="f['baseCurrency']?.errors['required']">Base Currency is required</div>
                </div>
              </div> -->
            </div>
            <div class="col-sm-4 mb-4">
              <div class="form-group mb-4">
                <label for="primaryTelephone" class="form-label"
                  >Telephone no 1</label
                >
                <div class="input-group">
                  <select
                    class="form-select countryCode"
                    id="countryCode"
                    formControlName="countryCode"
                    [ngClass]="{
                      'is-invalid':
                        f['countryCode']?.invalid &&
                        (f['countryCode']?.dirty || f['countryCode']?.touched)
                    }"
                  >
                    <!-- <option value="" selected>+254</option> -->
                    <option
                      *ngFor="let value of countriesData"
                      [value]="value.zipCodeString"
                    >
                      {{ value.zipCodeString | titlecase }}
                    </option>
                  </select>
                  <input
                    type="text"
                    class="form-control"
                    id="phoneNumber"
                    placeholder="Enter Telephone number"
                    formControlName="primaryTelephone"
                  />
                </div>
                <div
                  *ngIf="
                    f['countryCode']?.invalid &&
                    (f['countryCode']?.dirty || f['countryCode']?.touched)
                  "
                  class="form-text text-danger"
                  [ngClass]="{
                    'is-invalid': ['submitted'] && f['countryCode']?.errors
                  }"
                >
                  <div *ngIf="f['countryCode']?.errors['required']">
                    Country Code is required
                  </div>
                </div>
                <div
                  *ngIf="
                    f['primaryTelephone']?.invalid &&
                    (f['primaryTelephone']?.dirty ||
                      f['primaryTelephone']?.touched)
                  "
                  class="form-text text-danger"
                  [ngClass]="{
                    'is-invalid': ['submitted'] && f['primaryTelephone']?.errors
                  }"
                >
                  <div *ngIf="f['primaryTelephone']?.errors['required']">
                    Telephone no 1 is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group mb-4">
                <label for="secondaryTelephone" class="form-label"
                  >Telephone no 2</label
                >
                <div class="input-group">
                  <select
                    class="form-select countryCode"
                    id="countryCode2"
                    formControlName="countryCode2"
                    [ngClass]="{
                      'is-invalid':
                        f['countryCode2']?.invalid &&
                        (f['countryCode2']?.dirty || f['countryCode2']?.touched)
                    }"
                  >
                    <!-- <option value="" selected>+254</option> -->
                    <option
                      *ngFor="let value of countriesData"
                      [value]="value.zipCodeString"
                    >
                      {{ value.zipCodeString | titlecase }}
                    </option>
                  </select>
                  <input
                    type="text"
                    class="form-control"
                    id="phoneNumber"
                    placeholder="Enter Telephone number"
                    formControlName="secondaryTelephone"
                  />
                </div>
                <div
                  *ngIf="
                    f['countryCode2']?.invalid &&
                    (f['countryCode2']?.dirty || f['countryCode2']?.touched)
                  "
                  class="form-text text-danger"
                  [ngClass]="{
                    'is-invalid': ['submitted'] && f['countryCode2']?.errors
                  }"
                >
                  <div *ngIf="f['countryCode2']?.errors['required']">
                    Country Code is required
                  </div>
                </div>
                <div
                  *ngIf="
                    f['secondaryTelephone']?.invalid &&
                    (f['secondaryTelephone']?.dirty ||
                      f['secondaryTelephone']?.touched)
                  "
                  class="form-text text-danger"
                  [ngClass]="{
                    'is-invalid':
                      ['submitted'] && f['secondaryTelephone']?.errors
                  }"
                >
                  <div *ngIf="f['secondaryTelephone']?.errors['required']">
                    Telephone no 2 is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group mb-4">
                <label for="emailAddress" class="form-label"
                  >Email Address</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="emailAddress"
                  aria-describedby="emailAddress"
                  placeholder="Email Address"
                  formControlName="emailAddress"
                />
              </div>
            </div>
            <div class="col-sm-4 mb-4">
              <div class="form-group mb-4">
                <label for="webLink" class="form-label">Website Link</label>
                <input
                  type="text"
                  class="form-control"
                  id="webLink"
                  aria-describedby="webLink"
                  placeholder="Website Link"
                  formControlName="webLink"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="pinNumber" class="form-label"
                  >Pin Registration Number</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="pinNumber"
                  aria-describedby="pinNumber"
                  placeholder="Pin Number"
                  formControlName="pinNumber"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <label for="manager" class="form-label"
                >National Sales Manager</label
              >
              <p-dropdown
                [options]="managersData"
                [(ngModel)]="selectedManager"
                optionLabel="name"
                optionValue="id"
                formControlName="manager"
                id="manager"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                [style]="{ width: '100%', height: '30%' }"
                placeholder="Select a Manager"
              >
              </p-dropdown>
            </div>
            <div class="col-sm-4 mb-4">
              <div class="form-group mb-4">
                <label for="organizationType" class="form-label">Type</label>
                <select
                  id="type"
                  class="form-select mb-1"
                  formControlName="organizationType"
                  required
                >
                  <option value="" selected>Type</option>
                  <option value="INS">Insured</option>
                  <option value="BRK" selected>Broker</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group mb-4">
                <label for="motto" class="form-label">Motto</label>
                <input
                  type="text"
                  class="form-control"
                  id="motto"
                  aria-describedby="motto"
                  placeholder="Motto"
                  formControlName="motto"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-4 mb-4">
                <label for="logo">Logo</label>
                <div (change)="onLogoChange($event)">
                  <img
                    *ngIf="url !== '' && url"
                    [src]="url"
                    alt=""
                    id="profile-photo"
                  />
                  <input type="file" id="logo" formControlName="logo" hidden />
                  <label *ngIf="url === ''" for="logo" class="img_upload">
                    <i class="fa-solid fa-cloud-arrow-up"></i> Upload
                    Logo</label
                  >
                  <label for="logo" *ngIf="url !== ''" class="img_edit"
                    >Edit</label
                  >
                </div>
              </div>
              <div class="col-4 pad-1">
                <label for="groupLogo">Group Logo</label>
                <div (change)="onGroupLogoChange($event)">
                  <img
                    *ngIf="urlGrp !== '' && urlGrp"
                    [src]="urlGrp"
                    alt=""
                    id="profile-photo"
                  />
                  <input
                    type="file"
                    id="groupLogo"
                    formControlName="groupLogo"
                    hidden
                  />
                  <label
                    *ngIf="urlGrp === ''"
                    for="groupLogo"
                    class="img_upload"
                  >
                    <i class="fa-solid fa-cloud-arrow-up"></i> Upload Group
                    Logo</label
                  >
                  <label for="groupLogo" *ngIf="urlGrp !== ''" class="img_edit"
                    >Edit</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header bg-transparent">
          <span class="float-start mt-3">Payment Details</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4 mb-4">
              <div class="form-group mb-4">
                <label for="accountName" class="form-label">Account Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="accountName"
                  aria-describedby="accountName"
                  placeholder="Account Name"
                  formControlName="accountName"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group mb-4">
                <label for="accountNumber" class="form-label"
                  >Account Number</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="accountNumber"
                  aria-describedby="accountNumber"
                  placeholder="Account Number"
                  formControlName="accountNumber"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group mb-4">
                <label for="swiftCode" class="form-label">Swift Code</label>
                <input
                  type="text"
                  class="form-control"
                  id="swiftCode"
                  aria-describedby="swiftCode"
                  placeholder="Swift Code"
                  formControlName="swiftCode"
                />
              </div>
            </div>
            <div class="col-sm-4 mb-4">
              <label for="bankName" class="form-label">Bank Name</label>
              <p-dropdown
                [options]="banksData"
                [(ngModel)]="selectedBank"
                (onChange)="onBankSelection()"
                optionLabel="name"
                optionValue="id"
                formControlName="bankName"
                id="bankName"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                [style]="{ width: '100%', height: '45%' }"
                placeholder="Select Bank"
              >
              </p-dropdown>
              <!-- <div class="form-group mb-4">
                <label for="bankName" class="form-label">Bank Name</label>
                <select id="bankName" class="form-select  mb-1" formControlName="bankName" (change)="onBankSelection($event)">
                  <option value="" selected>Select Bank</option>
                  <option *ngFor="let bank of banksData" [value]="bank.id">{{ bank.name }}</option>
                </select>
              </div> -->
            </div>
            <div class="col-sm-4">
              <label for="bankBranch" class="form-label">Bank Branch</label>
              <p-dropdown
                [options]="bankBranchData"
                [(ngModel)]="selectedBankBranch"
                optionLabel="name"
                optionValue="id"
                formControlName="bankBranch"
                id="bankBranch"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                [style]="{ width: '100%', height: '35%' }"
                placeholder="Select Bank Branch"
              >
              </p-dropdown>
              <!-- <div class="form-group mb-4">
                <label for="bankBranch" class="form-label">Bank Branch</label>
                <select id="bankBranch" class="form-select  mb-1" formControlName="bankBranch">
                  <option value="" selected>Select Bank Branch</option>
                  <option *ngFor="let branch of bankBranchData" [value]="branch.id">{{ branch.name }}</option>
                </select>
              </div> -->
            </div>
            <div class="col-sm-4">
              <div class="form-group mb-4">
                <label for="paybill" class="form-label">Paybill</label>
                <input
                  type="text"
                  class="form-control"
                  id="paybill"
                  aria-describedby="paybill"
                  placeholder="Paybill"
                  formControlName="paybill"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header bg-transparent">
          <span class="float-start mt-3">Customer Care Details</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4 mb-4">
              <div class="form-group">
                <label for="customerCareName" class="form-label"
                  >Customer Care Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="customerCareName"
                  aria-describedby="customerCareName"
                  placeholder="Customer Care Name"
                  formControlName="customerCareName"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group mb-4">
                <label for="customerCareEmail" class="form-label"
                  >Email Address</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="customerCareEmail"
                  aria-describedby="customerCareEmail"
                  placeholder="Email"
                  formControlName="customerCareEmail"
                />
              </div>
            </div>
            <div class="col-sm-4 mb-4">
              <div class="form-group mb-4">
                <label for="customerCarePriNumber" class="form-label"
                  >Number 1</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="customerCarePriNumber"
                  aria-describedby="customerCarePriNumber"
                  placeholder="Number 1"
                  formControlName="customerCarePriNumber"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group mb-4">
                <label for="customerCareSecNumber" class="form-label"
                  >Number 2</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="customerCareSecNumber"
                  aria-describedby="customerCareSecNumber"
                  placeholder="Number 2"
                  formControlName="customerCareSecNumber"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row mt-1">
    <div class="col-sm-6">
      <button
        *ngIf="isOrganizationSelected"
        class="btn btn-outline-primary btn-sm me-2"
        (click)="deleteOrganization()"
      >
        Delete
      </button>
      <button class="btn btn-outline-primary btn-sm me-2" (click)="onReset()">
        Clear
      </button>
    </div>
    <div class="col-sm-6">
      <div class="float-end">
        <button class="btn btn-primary btn-sm me-2" (click)="onSave()">
          Save
        </button>
        <button class="btn btn-outline-primary btn-sm" (click)="onNext()">
          Next
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modals -->
<app-reusable-input
  [modalId]="'organizationConfirmationModal'"
  [title]="'Delete Confirmation'"
  [message]="'Are you sure you want to delete this organization?'"
  (confirmed)="confirmOrganizationDelete()"
  #organizationConfirmationModal
></app-reusable-input>
