.nav-pills .nav-link {
  color: #495057;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-right: 5px;
  transition: all 0.3s ease;
}

.nav-pills .nav-link:hover {
  color: #00529B;
  font-weight: 400px;
}

.nav-pills .nav-link.active {
  color: #00529B;
  border-color: #DCDCDCD9;
  border-bottom: none;
  background-color: white;
}

.nav-pills {
  border-bottom: 2px solid #ddd;
  /* Add a line under the tabs */
  /* padding-bottom: 10px;  Optional: Adjust the padding between the tabs and the line */
}

.section-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 19.89px;
  letter-spacing: 0%;
  color: #00529B;


}



.active-tab {
  color: #00529B;
  border: 1px solid #DCDCDCD9;
  border-bottom: none;
  color: #00529B !important;
  background-color: #fff;
  /* Optional: to contrast with border */
  font-weight: 500;
  z-index: 1;
}

/* Style on hover */
.nav-tabs .nav-link:hover {
  font-weight: bold;
  border: 1px solid #DCDCDCD9;
  border-bottom: none;
}



/* 
.nav-tabs-wrapper {
  max-width: 150px;
  overflow-x: auto;
  white-space: nowrap;
} */
/* Custom Scrollbar Styles */
.nav-tabs-wrapper {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #ccc transparent;
  /* Firefox */

  /* Chrome, Edge, Safari */
  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #666;
  }
}

.btn-greyed-out {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none; 
}

.btn-greyed-out[disabled] {
  pointer-events: auto; 
}
