<div class="mx-4 mt-3">
    <p class="screenTitle"> {{'gis.quotation.quotation_risk_detail' | translate}} </p>
    <app-stepper [currentStep]="2" [stepperData]="steps"></app-stepper>
    <p class=" mx-4 text-primary ps-5" style="font-weight: 500;">Ticket status:<span
            style="color: black;">{{ticketStatus |sentenceCase}}
        </span>
    </p>
    <div class="card"
        style="margin-top:-20px;background-color:#f5f6f8;border: none;border-radius: 5px;box-shadow: none;">
        <div class="card-body  mx-4">
            <p class="section-title  pb-4 pt-4 ps-5" style="background-color: #fff;">
                {{ 'gis.quotation.risk_details' | translate }}
            </p>

            <!-- Scrollable Tabs and Action Buttons -->
            <div class="d-flex justify-content-between align-items-center flex-wrap px-5 "
                style="background-color: white;margin-top: -30px;">

                <!-- Scrollable Tabs -->
                <div class="nav-tabs-wrapper overflow-auto flex-grow-1 me-3">
                    <ul class="nav nav-tabs flex-nowrap mb-0" style="min-width: max-content;">
                        <li class="nav-item" *ngFor="let product of passedProductList">
                            <a class="nav-link" [ngClass]="{ 'active-tab': selectedProduct === product }"
                                (click)="selectProduct(product)">
                                {{ product.productName |sentenceCase}}
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Action Buttons -->
                <div class="d-flex align-items-center gap-2 mt-2 mt-md-0">
                    <button type="button" class="btn btn-outline-secondary btn-sm me-3 btn-greyed-out"
                        pTooltip="Feature in development" tooltipPosition="top" style="pointer-events: auto;" disabled>
                        Import risk
                    </button>

                    <button type="button" class="btn btn-primary btn-sm" (click)="showAddRiskModal()">
                        Add risk
                    </button>

                    <i #iconTrigger class="pi border border-black p-1 rounded-1 text-black"
                        [ngClass]="{ 'pi-caret-up': riskDetailscolumns, 'pi-caret-down': !riskDetailscolumns }"
                        style="font-size: 15px; cursor: pointer; margin-left: 8px; padding: 4px 6px;"
                        (click)="togglePerilColumns(iconTrigger)">
                    </i>
                </div>
            </div>

            <!-- Dynamic Content -->
            <div class="tab-content">
                <app-risk-details [selectedProduct]="selectedProduct"></app-risk-details>
            </div>
        </div>
    </div>