<div class="row col-12">
  <div class="col-2">
    <div class="card">
      <ul class="nav nav-tabs flex-column mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab"
             aria-controls="ex1-tabs-1" aria-selected="false">{{'mngt_wrkflw.reinsurance.treatyRiskCeding' | translate }}</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2"
             aria-selected="true">{{'mngt_wrkflw.reinsurance.previousCeding' | translate }}</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="ex1-tab-3" data-bs-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3"
             aria-selected="false">{{'mngt_wrkflw.reinsurance.treatySetup' | translate }}</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="ex1-tab-4" data-bs-toggle="tab" href="#ex1-tabs-4" role="tab" aria-controls="ex1-tabs-4"
             aria-selected="false">{{'mngt_wrkflw.reinsurance.policyFacreCeding' | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="card mt-2 p-2">
      <div class="mb-3">

        <form [formGroup]="risksForm">
          <label class="col-form-label text-primary fw-bold w-100">{{'mngt_wrkflw.reinsurance.risks' | translate }}</label>
          <button
            class="btn btn-primary" style="font-size: 12px;" (click)="populateAllocations()">{{'mngt_wrkflw.reinsurance.populateAllocations' | translate }}
          </button>
          <input
            type="text" class="form-control mt-2" placeholder="Search for a risk"
            aria-label="search" aria-describedby="search"
          />
          <div class="form-check mt-2" *ngFor="let riskDetail of riskReinsuranceRiskDetailsData">
            <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>

            <input class="form-check-input" type="checkbox" value="true" id="checkboxId"
            (click)="selectRiskDetails(riskDetail)" [checked]="riskDetail?.checked">
            <label class="form-label fw-bold text-dark" for="checkboxId">
              {{riskDetail?.propertyId}}
            </label><br />
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="col-10">
    <div class="card p-2">
      <div class="tab-content" id="ex1-content">
        <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
          <label class="text-primary mb-2">{{'mngt_wrkflw.reinsurance.treatyRiskCeding' | translate }}</label>
          <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
          <p-table
            [autoLayout]="true"
            [rowHover]="true"
            [resizableColumns]="true"
            [showCurrentPageReport]="true"
            [rows]="pageSize || 5"
            [totalRecords]="riskReinsuranceDetails?.length"
            [value]="riskReinsuranceDetails"
            [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
            responsiveLayout="stack"
            [scrollable]="true"
            scrollHeight="400px"
            currentPageReportTemplate="{first} - {last} of {totalRecords}"
          >

            <ng-template pTemplate="header">
              <tr>
                <th>{{'mngt_wrkflw.reinsurance.current' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.grossRetn' | translate }}</th>
                <th>{{'mngt_wrkflw.policyDetails.riskID' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.riskDesc' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.subclass' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.specialRetn' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.excess' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.excess' | translate }} %</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-risKCedingDetail>
              <tr (click)="selectTreatyRiskCeding(risKCedingDetail)" style="cursor:pointer;">
                <td>{{risKCedingDetail.prrdCurrent }}</td>
                <td>{{risKCedingDetail.prrdGrossCompRetention | number}}</td>
                <td>{{risKCedingDetail.ipuPropertyId}}</td>
                <td>
                  <span title="{{risKCedingDetail.ipuItemDesc}}">
                    {{risKCedingDetail.ipuItemDesc.substring(0,10)}}...
                  </span>
                </td>
                <td>{{subclassData?.description}}</td>
                <td>{{risKCedingDetail?.ipuOverrideRiRetention}}</td>
                <td>{{risKCedingDetail.prrdAvailFulcBal}}</td>
                <td>{{risKCedingDetail.prrdExcessPct}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="9">No Treaty Risk Ceding Detail(s) Found.</td>
              </tr>
            </ng-template>
          </p-table>

          <div class="mt-5">
            <p-tabView>
              <p-tabPanel header="{{'mngt_wrkflw.reinsurance.treatyRiSummary' | translate }}">
                <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
                <p-table
                  [autoLayout]="true"
                  [rowHover]="true"
                  [resizableColumns]="true"
                  [showCurrentPageReport]="true"
                  [rows]="pageSize || 5"
                  [totalRecords]="reinsuranceRiskDetailsData?.totalElements"
                  [value]="reinsuranceRiskDetailsData?.content"
                  [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
                  responsiveLayout="stack"
                  [scrollable]="true"
                  scrollHeight="400px"
                  currentPageReportTemplate="{first} - {last} of {totalRecords}"
                >

                  <ng-template pTemplate="header">
                    <tr>
                      <th>{{'mngt_wrkflw.reinsurance.treaty' | translate }}</th>
                      <th>{{'mngt_wrkflw.policyDetails.rate' | translate }}</th>
                      <th>{{'mngt_wrkflw.policyDetails.rateType' | translate }}</th>
                      <th>{{'mngt_wrkflw.reinsurance.pRate' | translate }}</th>
                      <th>{{'mngt_wrkflw.reinsurance.riAmount' | translate }}</th>
                      <th>{{'mngt_wrkflw.reinsurance.cession' | translate }} %</th>
                      <th>{{'mngt_wrkflw.policyDetails.premium' | translate }}</th>
                      <th>{{'mngt_wrkflw.reinsurance.premTax' | translate }}</th>
                      <th>{{'mngt_wrkflw.reinsurance.comm' | translate }}</th>
                      <th>{{'mngt_wrkflw.reinsurance.remarks' | translate }}</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-risKRIDetail>
                    <tr (click)="selectRiskRiSummary(risKRIDetail)">
                      <td>{{risKRIDetail.treatyShortDescription}}</td>
                      <td>{{risKRIDetail.rate}}</td>
                      <td>{{risKRIDetail.rateType}}</td>
                      <td>{{risKRIDetail.previousCessionRate}}</td>
                      <td>{{risKRIDetail.treatySumInsuredPolicyCurrency}}</td>
                      <td>{{risKRIDetail.cessionPercentage}}</td>
                      <td>{{risKRIDetail.riskPremiumPolicyCurrency | number}}</td>
                      <td>{{risKRIDetail.premiumTaxPolicyCurrency}}</td>
                      <td>{{risKRIDetail.treatyCommissionPolicyCurrency}}</td>
                      <td>{{risKRIDetail.remarks}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="10">No Treaty RI Detail(s) Found.</td>
                    </tr>
                  </ng-template>
                </p-table>
                <form [formGroup]="treatyRISummaryForm">
                  <div class="row g-3 align-items-center mt-5">
                    <div class="col-4">

                    </div>
                    <div class="col-2 text-center">
                      <label class="col-form-label text-dark fw-medium">{{'mngt_wrkflw.reinsurance.pRate' | translate }}</label>
                    </div>
                    <div class="col-2 text-center">
                      <label class="col-form-label text-dark fw-medium">{{'mngt_wrkflw.reinsurance.riAmount' | translate }}</label>
                    </div>
                    <div class="col-2 text-center">
                      <label class="col-form-label text-dark fw-medium">{{'mngt_wrkflw.reinsurance.cession' | translate }}</label>
                    </div>
                    <div class="col-2 text-center">
                      <label class="col-form-label text-black fw-medium">{{'mngt_wrkflw.policyDetails.premium' | translate }}</label>
                    </div>
                  </div>

                  <div class="row g-3 align-items-center mt-1">
                    <div class="col-4 mb-2">
                      <label class="col-form-label">{{'mngt_wrkflw.reinsurance.companyNetRetention' | translate }}</label>
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="companyNetPRate">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="companyNetRiAmt">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="companyNetCession">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="companyNetPremium">
                    </div>
                  </div>

                  <div class="row g-3 align-items-center">
                    <div class="col-4 mb-2">
                      <label class="col-form-label">{{'mngt_wrkflw.reinsurance.reinsurancePool' | translate }}</label>
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="reinsurancePRate">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="reinsuranceRiAmt">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="reinsuranceCession">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="reinsurancePremium">
                    </div>
                  </div>

                  <div class="row g-3 align-items-center">
                    <div class="col-4 mb-2">
                      <label class="col-form-label">{{'mngt_wrkflw.reinsurance.treatyCessions' | translate }}</label>
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="treatyPRate">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="treatyRiAmt">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="treatyCession">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="treatyPremium">
                    </div>
                  </div>

                  <div class="row g-3 align-items-center">
                    <div class="col-4 mb-2">
                      <label class="col-form-label">{{'mngt_wrkflw.reinsurance.facreSessions' | translate }}</label>
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="facrePRate">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="facreRiAmt">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="facreCession">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="facrePremium">
                    </div>
                  </div>

                  <div class="row g-3 align-items-center">
                    <div class="col-4 mb-2">
                      <label class="col-form-label text-dark fw-bold">{{'mngt_wrkflw.reinsurance.total' | translate }}</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="totalRiAmt">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="totalCession">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="totalPremium">
                    </div>
                  </div>

                  <div class="row g-3 align-items-center">
                    <div class="col-4 mb-2">
                      <label class="col-form-label">{{'mngt_wrkflw.reinsurance.excess' | translate }}</label>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="excessRiAmt">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="excessCession">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" formControlName="excessPremium">
                    </div>
                  </div>
                </form>
              </p-tabPanel>
              <p-tabPanel header="{{'mngt_wrkflw.reinsurance.treatyPart' | translate }}">
                <div class="d-flex justify-content-end">
              <span class="icon-circle "
              ><i class="pi pi-pencil"></i
              ></span>
                </div>
                <div>
                  <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
                  <p-table
                    [autoLayout]="true"
                    [rowHover]="true"
                    [resizableColumns]="true"
                    [showCurrentPageReport]="true"
                    [rows]="pageSize || 5"
                    [totalRecords]="treatyParticipantData?.length"
                    [value]="treatyParticipantData"
                    [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
                    responsiveLayout="stack"
                    [scrollable]="true"
                    scrollHeight="400px"
                    currentPageReportTemplate="{first} - {last} of {totalRecords}"
                  >

                    <ng-template pTemplate="header">
                      <tr>
                        <th>{{'mngt_wrkflw.reinsurance.reinsurer' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.facreSessions' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.reinPremTax' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.premTax' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.sumReinsured' | translate }}</th>
                        <th>{{'mngt_wrkflw.policyDetails.premium' | translate }}</th>
                        <th>{{'mngt_wrkflw.policyDetails.commission' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.treaty' | translate }}</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-treatyParticipant>
                      <tr>
                        <td>{{treatyParticipant.partName}}</td>
                        <td>{{treatyParticipant.cedingRate}}</td>
                        <td>{{treatyParticipant.reinsurancePremiumTax}}</td>
                        <td>{{treatyParticipant.premiumTax}}</td>
                        <td>{{treatyParticipant.sumInsuredAmount}}</td>
                        <td>{{treatyParticipant.premiumAmount}}</td>
                        <td>{{treatyParticipant.previousCommision}}</td>
                        <td>{{treatyParticipant.description}}</td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="9">No Treaty Participants Detail(s) Found.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>

              </p-tabPanel>
              <p-tabPanel header="{{'mngt_wrkflw.reinsurance.facreCeding' | translate }}">
                <div class="row">
                  <div class="col-6 d-flex ">
                    <button
                      class="btn btn-primary" style="font-size: 12px;">{{'mngt_wrkflw.reinsurance.facreOutOfferSlip' | translate }}
                    </button>
                    <button
                      class="btn btn-primary" style="font-size: 12px;">{{'mngt_wrkflw.reinsurance.reinsurersDebitCreditNote' | translate }}
                    </button>
                  </div>
                  <div class="col-6 d-flex justify-content-end">
                    <button
                      class="btn btn-primary" style="font-size: 12px;">{{'mngt_wrkflw.reinsurance.importCSV' | translate }}
                    </button>
                    <span class="icon-circle "
                    ><i class="pi pi-plus"></i
                    ></span>
                    <span class="icon-circle "
                    ><i class="pi pi-pencil"></i
                    ></span>
                    <span class="icon-circle"
                    ><i
                      class="fa-regular fa-trash-can"
                    ></i
                    ></span>
                  </div>
                </div>

                <div>
                  <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
                  <p-table
                    [autoLayout]="true"
                    [rowHover]="true"
                    [resizableColumns]="true"
                    [showCurrentPageReport]="true"
                    [rows]="pageSize || 5"
                    [totalRecords]="reinsuranceFacreCedingData?.length"
                    [value]="reinsuranceFacreCedingData"
                    [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
                    responsiveLayout="stack"
                    [scrollable]="true"
                    scrollHeight="400px"
                    currentPageReportTemplate="{first} - {last} of {totalRecords}"
                  >

                    <ng-template pTemplate="header">
                      <tr>
                        <th>{{'mngt_wrkflw.reinsurance.reinsurerName' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.brokerName' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.facreAccountId' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.rateAmount' | translate }}</th>
                        <th>{{'entities.amount' | translate }}</th>
                        <th>{{'mngt_wrkflw.policyDetails.rate' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.cessionRate' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.importCSV' | translate }} %</th>
                        <th>{{'mngt_wrkflw.reinsurance.vat' | translate }} %</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-facreCeding>
                      <tr>
                        <td>{{facreCeding.agentReinName}}</td>
                        <td>{{intermediaryData?.name}}</td>
                        <td>{{facreCeding.agentShtDesc}}</td>
                        <td>{{facreCeding.amountOrRate}}</td>
                        <td>{{facreCeding.amount}}</td>
                        <td>{{facreCeding.wef}}</td>
                        <td>{{facreCeding.rate}}</td>
                        <td>{{facreCeding.commissionRate}}</td>
                        <td>{{facreCeding.commissionAmount}}</td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="9">No Facre Ceding Detail(s) Found.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>

              </p-tabPanel>
              <p-tabPanel header="{{'mngt_wrkflw.reinsurance.reinsurancePool' | translate }}">
                <div>
                  <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
                  <p-table
                    [autoLayout]="true"
                    [rowHover]="true"
                    [resizableColumns]="true"
                    [showCurrentPageReport]="true"
                    [rows]="pageSize || 5"
                    [totalRecords]="reinsurancePoolData?.length"
                    [value]="reinsurancePoolData"
                    [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
                    responsiveLayout="stack"
                    [scrollable]="true"
                    scrollHeight="400px"
                    currentPageReportTemplate="{first} - {last} of {totalRecords}"
                  >

                    <ng-template pTemplate="header">
                      <tr>
                        <th>{{'mngt_wrkflw.reinsurance.riskPremium' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.trtOwnRetAmt' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.poolRate' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.poolAmt' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.poolOwnRetPrem' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.commRate' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.commAmt' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.vatRate' | translate }}</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-reinsurancePool>
                      <tr>
                        <td>{{reinsurancePool.riskPremiumAmount}}</td>
                        <td>{{reinsurancePool.riskTrtOwnReturnAmount}}</td>
                        <td>{{reinsurancePool.reinsurancePoolRate}}</td>
                        <td>{{reinsurancePool.reinsurancePoolAmount}}</td>
                        <td>{{reinsurancePool.riskOwnReturnAmount}}</td>
                        <td>{{reinsurancePool.reinsurancePoolCommisionRate}}</td>
                        <td>{{reinsurancePool.reinsurancePoolCommisionAmount}}</td>
                        <td>{{reinsurancePool.reinsurancePoolVatRate}}</td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="9">No Reinsurance Pool Detail(s) Found.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>

              </p-tabPanel>
              <p-tabPanel header="{{'mngt_wrkflw.reinsurance.xolUwCess' | translate }}">
                <div class="row g-3 align-items-center">
                  <div class="col-3 mb-2" style="padding-right: 0px">
                    <label class="col-form-label" style="font-size: 13px;">{{'mngt_wrkflw.reinsurance.vmlpExcessSI' | translate }}</label>
                  </div>
                  <div class="col-2">
                    <input type="text" class="form-control">
                  </div>

                  <div class="col-2 mb-2">
                    <label class="col-form-label" style="font-size: 13px;">{{'mngt_wrkflw.reinsurance.vmlpExcessPrem' | translate }}</label>
                  </div>
                  <div class="col-2">
                    <input type="text" class="form-control">
                  </div>

                  <div class="col-3">
                    <button
                      class="btn btn-primary" style="font-size: 12px; float: right;">{{'mngt_wrkflw.reinsurance.updatePremRate' | translate }}
                    </button>
                  </div>
                </div>
                <div>
                  <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
                  <p-table
                    [autoLayout]="true"
                    [rowHover]="true"
                    [resizableColumns]="true"
                    [showCurrentPageReport]="true"
                    [rows]="pageSize || 5"
                    [totalRecords]="reinsuranceXolPremiumData?.length"
                    [value]="reinsuranceXolPremiumData"
                    [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
                    responsiveLayout="stack"
                    [scrollable]="true"
                    scrollHeight="400px"
                    currentPageReportTemplate="{first} - {last} of {totalRecords}"
                  >

                    <ng-template pTemplate="header">
                      <tr>
                        <th>{{'report.name' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.yr' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.capacity' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.compOwnAmount' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.treatySI' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.vmlpSI' | translate }}</th>
                        <th>{{'mngt_wrkflw.policyDetails.premium' | translate }} {{'mngt_wrkflw.policyDetails.rate' | translate }}</th>
                        <th>{{'mngt_wrkflw.policyDetails.premium' | translate }}</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-reinsuranceXolPremium>
                      <tr>
                        <td>{{reinsuranceXolPremium.arrangementVmlpName}}</td>
                        <td>{{reinsuranceXolPremium.arrangementSetupsUnderwritingYear}}</td>
                        <td>{{reinsuranceXolPremium.arrangementCapacity}}</td>
                        <td>{{reinsuranceXolPremium.compOwnAmount}}</td>
                        <td>{{reinsuranceXolPremium.actualTreatySumInsured}}</td>
                        <td>{{reinsuranceXolPremium.actualVmlpSumInsured}}</td>
                        <td>{{reinsuranceXolPremium.premiumRate}}</td>
                        <td>{{reinsuranceXolPremium.premium}}</td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="8">No Reinsurance Xol Premium Detail(s) Found.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
                <div>
                  <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
                  <p-table
                    [autoLayout]="true"
                    [rowHover]="true"
                    [resizableColumns]="true"
                    [showCurrentPageReport]="true"
                    [rows]="pageSize || 5"
                    [totalRecords]="reXolPremiumParticipantData?.length"
                    [value]="reXolPremiumParticipantData"
                    [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
                    responsiveLayout="stack"
                    [scrollable]="true"
                    scrollHeight="400px"
                    currentPageReportTemplate="{first} - {last} of {totalRecords}"
                  >

                    <ng-template pTemplate="header">
                      <tr>
                        <th>{{'mngt_wrkflw.reinsurance.reinsurer' | translate }}</th>
                        <th>{{'mngt_wrkflw.policyDetails.rate' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.premTax' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.reinPremTax' | translate }}</th>
                        <th>{{'mngt_wrkflw.reinsurance.sumReinsured' | translate }}</th>
                        <th>{{'mngt_wrkflw.policyDetails.premium' | translate }}</th>
                        <th>{{'mngt_wrkflw.policyDetails.commission' | translate }}</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-reXolPremiumParticipant>
                      <tr>
                        <td>{{reXolPremiumParticipant.agentName}}</td>
                        <td>{{reXolPremiumParticipant.participantCedeRate}}</td>
                        <td>{{reXolPremiumParticipant.participantsPremiumTax}}</td>
                        <td>{{reXolPremiumParticipant.participantsReinPremiumTax}}</td>
                        <td>{{reXolPremiumParticipant.participantsSIAmountPcur}}</td>
                        <td>{{reXolPremiumParticipant.participantPremiumAmountPcur}}</td>
                        <td>{{reXolPremiumParticipant.participantCommAmountPcur}}</td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="7">No Reinsurance Xol Premium Participants Detail(s) Found.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>

              </p-tabPanel>
            </p-tabView>
          </div>

        </div>
        <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
          <label class="text-primary mb-2">{{'mngt_wrkflw.reinsurance.previousCeding' | translate }}</label>
          <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
          <p-table
            [autoLayout]="true"
            [rowHover]="true"
            [resizableColumns]="true"
            [showCurrentPageReport]="true"
            [rows]="pageSize || 5"
            [totalRecords]="previousCedingData?.length"
            [value]="previousCedingData"
            [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
            responsiveLayout="stack"
            [scrollable]="true"
            scrollHeight="400px"
            currentPageReportTemplate="{first} - {last} of {totalRecords}"
          >

            <ng-template pTemplate="header">
              <tr>
                <th>{{'mngt_wrkflw.reinsurance.compGrossRet' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.netCompRet' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.facreCeded' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.retentionRate' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.groupRiskPct' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.groupTopLoc' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.riPrem' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-previousCeding>
              <tr (click)="selectPreviousCedingDetails(previousCeding)">
                <td>{{ previousCeding.grossCompanyRetention | number }}</td>
                <td>{{ previousCeding.companyRetention | number }}</td>
                <td>{{ previousCeding.facreAmount }}</td>
                <td>{{ previousCeding.companyRetentionRate }}</td>
                <td>{{ previousCeding.riskPercentage }}</td>
                <td>{{ previousCeding.topLocation }}</td>
                <td>{{ previousCeding.reinsurancePremium | number }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="9">No Previous Ceding Detail(s) Found.</td>
              </tr>
            </ng-template>
          </p-table>

          <label class="text-primary mt-5 mb-2">{{'mngt_wrkflw.reinsurance.treatyCessions' | translate }}</label>
          <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
          <p-table
            [autoLayout]="true"
            [rowHover]="true"
            [resizableColumns]="true"
            [showCurrentPageReport]="true"
            [rows]="pageSize || 5"
            [totalRecords]="treatyCessionsData?.totalElements"
            [value]="treatyCessionsData?.content"
            [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
            responsiveLayout="stack"
            [scrollable]="true"
            scrollHeight="400px"
            currentPageReportTemplate="{first} - {last} of {totalRecords}"
          >

            <ng-template pTemplate="header">
              <tr>
                <th>{{'mngt_wrkflw.reinsurance.treaty' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.cessionPct' | translate }}</th>
                <th>{{'mngt_wrkflw.policyDetails.premium' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.comm' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-treatyCession>
              <tr>
                <td>{{treatyCession.treatyShortDescription}}</td>
                <td>{{treatyCession.cessionPolicyCovertype}}</td>
                <td>{{treatyCession.treatyPremiumPolicyCurrency}}</td>
                <td>{{treatyCession.treatyCommissionPolicyCurrency}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="4">No Treaty Cessions Detail(s) Found.</td>
              </tr>
            </ng-template>
          </p-table>

          <label class="text-primary mt-5 mb-2">{{'mngt_wrkflw.reinsurance.facreSessions' | translate }}</label>
          <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
          <p-table
            [autoLayout]="true"
            [rowHover]="true"
            [resizableColumns]="true"
            [showCurrentPageReport]="true"
            [rows]="pageSize || 5"
            [totalRecords]="previousFacreCedingData?.length"
            [value]="previousFacreCedingData"
            [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
            responsiveLayout="stack"
            [scrollable]="true"
            scrollHeight="400px"
            currentPageReportTemplate="{first} - {last} of {totalRecords}"
          >

            <ng-template pTemplate="header">
              <tr>
                <th>{{'mngt_wrkflw.reinsurance.reinsurerName' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.reinsurer' | translate }}</th>
                <th>{{'mngt_wrkflw.policyDetails.rate' | translate }}</th>
                <th>{{'mngt_wrkflw.policyDetails.premium' | translate }}</th>
                <th>{{'mngt_wrkflw.policyDetails.commission' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-facreCession>
              <tr>
                <td>{{facreCession.agentReinName}}</td>
                <td>{{facreCession.agentShtDesc}}</td>
                <td>{{facreCession.rate}}</td>
                <td>{{facreCession.premiumAmount}}</td>
                <td>{{facreCession.commissionAmount}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="4">No Facre Cessions Detail(s) Found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
          <label class="text-primary mb-2">{{'mngt_wrkflw.reinsurance.treatySetup' | translate }}</label>
          <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
          <p-table
            [autoLayout]="true"
            [rowHover]="true"
            [resizableColumns]="true"
            [showCurrentPageReport]="true"
            [rows]="pageSize || 5"
            [totalRecords]="treatySetupsData?.totalElements"
            [value]="treatySetupsData?.content"
            [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
            responsiveLayout="stack"
            [scrollable]="true"
            scrollHeight="400px"
            currentPageReportTemplate="{first} - {last} of {totalRecords}"
          >

            <ng-template pTemplate="header">
              <tr>
                <th>{{'mngt_wrkflw.reinsurance.treaty' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.treatyType' | translate }}</th>
                <th>{{'mngt_wrkflw.policyDetails.currency' | translate }}</th>
                <th>{{'mngt_wrkflw.policyDetails.rateType' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.U/WYear' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.commRate' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.siStatingFrom' | translate }}</th>
                <th>{{'mngt_wrkflw.policyDetails.limit' | translate }}</th>
                <th>{{'mngt_wrkflw.policyDetails.rate' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-treatySetup>
              <tr>
                <td>{{treatySetup.treatyTypeDescription}}</td>
                <td>{{treatySetup.reinsuranceTreatyTypeShortDescription}}</td>
                <td>{{treatySetup.currencySymbol}}</td>
                <td>{{treatySetup.reinsuranceRateType}}</td>
                <td>{{treatySetup.reinsuranceUnderwritingYear}}</td>
                <td>{{treatySetup.reinsuranceCommissionRate}}</td>
                <td>{{treatySetup.classTreatyWefDate}}</td>
                <td>{{treatySetup.reinsuranceLimit | number}}</td>
                <td>{{treatySetup.reinsuranceCedeRate}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="9">No Treaty Setup Detail(s) Found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="tab-pane fade" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">
          <label class="text-primary mb-2">{{'mngt_wrkflw.reinsurance.policyFacreCeding' | translate }}</label>
          <ngx-spinner type="ball-clip-rotate-multiple" [fullScreen]="false" color="#00529B" size="medium" bdColor = "rgba(255, 255, 255, 0.966)"></ngx-spinner>
          <p-table
            [autoLayout]="true"
            [rowHover]="true"
            [resizableColumns]="true"
            [showCurrentPageReport]="true"
            [rows]="pageSize || 5"
            [totalRecords]="policyFacreSetupsData?.totalElements"
            [value]="policyFacreSetupsData?.content"
            [rowsPerPageOptions]="[5, 10, 20, 30, 50, 100]"
            responsiveLayout="stack"
            [scrollable]="true"
            scrollHeight="400px"
            currentPageReportTemplate="{first} - {last} of {totalRecords}"
          >

            <ng-template pTemplate="header">
              <tr>
                <th>{{'mngt_wrkflw.reinsurance.reinsurerName' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.facreAccountId' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.rateAmount' | translate }}</th>
                <th>{{'mngt_wrkflw.policyDetails.rate' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.date' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.comm' | translate }} %</th>
                <th>{{'mngt_wrkflw.reinsurance.managementType' | translate }}</th>
                <th>{{'mngt_wrkflw.reinsurance.managementValue' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-policyFacreCeding>
              <tr>
                <td>{{policyFacreCeding.agentName}}</td>
                <td>{{policyFacreCeding.agentShortDescription}}</td>
                <td>{{policyFacreCeding.amountOrRate}}</td>
                <td>{{policyFacreCeding.rate}}</td>
                <td>{{policyFacreCeding.acceptedDate}}</td>
                <td>{{policyFacreCeding.commissionRate}}</td>
                <td>{{policyFacreCeding.managmentType}}</td>
                <td>{{policyFacreCeding.managmentValue}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="9">No Policy Facre Ceding Detail(s) Found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

