::ng-deep .p-tabview-title {
    color: black !important;
    font-size: 13px !important;
}

tr > th:nth-child(10){
    color: var(--primary-color);
}

tr > td:nth-child(10){
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    border-color: rgb(4, 11, 23) !important;
    border-bottom: 2px solid ;
}

.table > thead >tr {
    --bs-table-bg: #BAD0E4;

}

.input-group span {
    background: var(--bs-border-color);
    color: #fff;
}

table tr th {
    color: rgba(0, 0, 0, 0.6) !important;
    font-weight: 600;
}

.p-highlight {
    border: black 2px solid
} 