<div class="container ">
    <p class="titleMain mt-3">{{'gis.policy.underwriting_risk_details' | translate}}</p>
    <div class="container mx-2 mt-n1">
        <div class="card mb-3 px-2" style=" position: relative;">
            <div class="card-body">
                <p class="subheading">{{'gis.policy.risk_details' | translate}}</p>
                <form [formGroup]="policyRiskForm">
                    <!-- ROW 1 -->
                    <div class="row mb-4">

                        <div class="mb-1 col-sm-4 col-12">
                            <label for="insured" class="required risk-label" id="client">{{'gis.policy.insured' |
                                translate}}</label>
                            <div formGroupName="insureds">
                                <div formGroupName="client">
                                    <input type="text" id="insured" class="form-control form-control-sm mb-1 riskInput"
                                        formControlName="id" readonly>
                                </div>
                            </div>

                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <label class="required risk-label">{{'gis.policy.risk_id' | translate}}</label>
                            <input type="text" id="riskId" class="form-control form-control-sm mb-1 riskInput"
                                formControlName="property_id">

                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('property_id').hasError('required') && policyRiskForm.get('property_id').touched"
                                class="form-text text-danger">
                                Risk ID is required.
                            </div>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12" *ngIf="!motorProduct">
                            <label for="riskDescription" class="required risk-label"
                                id="riskDescription">{{'gis.policy.risk_description' | translate}}</label><br>
                            <input type="text" id="riskDescription" class="form-control form-control-sm mb-1 riskInput"
                                formControlName="property_description">

                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('property_description').hasError('required') && policyRiskForm.get('property_description').touched"
                                class="form-text text-danger">
                                Risk Description is required.
                            </div>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12" *ngIf="motorProduct">
                            <label for="riskDescription" class="required risk-label"
                                id="riskDescription">{{'gis.policy.risk_description' | translate}}</label><br>
                            <input type="text" id="riskDescription" class="form-control form-control-sm mb-1 riskInput"
                                formControlName="property_description" [(ngModel)]="vehiclemakeModel">

                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('property_description').hasError('required') && policyRiskForm.get('property_description').touched"
                                class="form-text text-danger">
                                Risk Description is required.
                            </div>
                        </div>
                    </div>
                    <!-- ROW 2 -->
                    <div class="row mb-4">
                        <div class="mb-1 col-sm-4 col-12">
                            <label for="subclass" class="required risk-label" id="subclass">{{'gis.policy.subclass' |
                                translate}}</label>
                            <!-- <select class="form-select form-control-sm mb-1 ms-n4 selectInput" id="subclass"
                                formControlName="sub_class_code" (change)="onSubclassSelected($event)">
                                <option></option>

                            </select> -->
                            <select class="form-select form-control-sm selectInput" id="subclass"
                            formControlName="sub_class_code"  (change)="onSubclassSelected($event)">
                            <option value=""></option>
                            <option *ngFor="let subclass of allMatchingSubclasses" [value]="subclass.code">
                                {{subclass.description | sentenceCase}}</option>
                        </select>
                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('sub_class_code').hasError('required') && policyRiskForm.get('sub_class_code').touched"
                                class="form-text text-danger">
                                Subclass is required.
                            </div>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <label for="binder" class="required risk-label" id="binder">{{'gis.policy.binder' |
                                translate}}</label>
                            <!-- <select class="form-select form-control-sm mb-1 ms-n4 selectInput" id="binder"
                                formControlName="binder_code" (change)="onSelectBinder($event)">
                                <option></option>

                            </select> -->
                            <select class="form-select form-control-sm mb-1 ms-n4selectInput" id="binder"
                                formControlName="binder_code" >
                                <option></option>
                                <option *ngFor="let binder of binderListDetails" [value]="binder.code">{{
                                    binder.binder_short_description | sentenceCase }}</option>
                            </select>
                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('binder_code').hasError('required') && policyRiskForm.get('binder_code').touched"
                                class="form-text text-danger">
                                Binder is required.
                            </div>

                        </div>
                        <div class=" mb-1 col-sm-4 col-12 ">
                            <label for="coverType" class="required risk-label" id="coverType">{{'gis.policy.cover_type'
                                | translate}}</label>
                            <!-- <select class="form-select form-control-sm mb-1 ms-n4 selectInput" id="coverType"
                                formControlName="cover_type_code">
                                <option></option>

                            </select> -->
                            <select class="form-select form-control-sm selectInput" id="coverType"
                            formControlName="cover_type_code"  (change)="onCoverTypeSelected($event)">
                            <option value=""></option>
                            <option *ngFor="let coverType of subclassCoverType" [value]="coverType.code">
                                {{coverType.description | sentenceCase}}</option>
                        </select>
                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('cover_type_code').hasError('required') && policyRiskForm.get('cover_type_code').touched"
                                class="form-text text-danger">
                                Cover Type is required.
                            </div>
                        </div>
                    </div>
                    <!-- MOTOR SUBCLASS FIELDS -->
                    <div *ngIf="showMotorSubclassFields">
                    <div class="row mb-4">
                        <div class="mb-1 col-sm-4 col-12">
                            <label for="vehiclemake" class="required risk-label" id="vehiclemake">Vehicle Make</label><br>
                            <p-dropdown  [options]="vehicleMakeList" optionValue="code"
                            optionLabel="name" (onChange)="onVehicleMakeSelected($event.value)" placeholder=" "
                            [filterBy]="'name'" [filter]="true"></p-dropdown>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <label for="vehicleModel" class="required risk-label" id="vehicleModel">Vehicle model</label><br>
                            <p-dropdown  [options]="filteredVehicleModel" optionValue="code"
                            optionLabel="name" (onChange)="onVehicleModelSelected($event.value)" placeholder=" "
                            [filterBy]="'name'" [filter]="true"></p-dropdown>

                        </div>
                        <div class=" mb-1 col-sm-4 col-12 ">
                            <label for="riskCoverDays" class=" risk-label required"
                                id="modelYear">Model year</label>
                                <select class="form-select form-control-sm selectInput" id="modelYear"
                                formControlName="sub_class_code"  >
                                <option value=""></option>
                                <option value=""></option>
                            </select>


                            <!-- Display error message under the field -->
                            <!-- <div *ngIf="policyProductForm.get('product_code').hasError('required') && policyProductForm.get('product_code').touched"
                                class="form-text text-danger">
                                Product is required.
                            </div> -->
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="mb-1 col-sm-4 col-12">
                         
                        <div class="form-check pt-4">

                            <input class="form-check-input me-2" type="checkbox" id="insuredDriver">

                            <label class="risk-label form-check-label" for="insuredDriver">
                                Insured as regular driver
                            </label>
                        </div>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <div class="form-check pt-4">

                                <input class="form-check-input me-2" type="checkbox" id="logBookAvailable">

                                <label class="risk-label form-check-label" for="logBookAvailable">
                                    Log book available
                                </label>
                            </div>

                        </div>
                        <div class=" mb-1 col-sm-4 col-12 ">
                            <div class="form-check pt-4">

                                <input class="form-check-input me-2" type="checkbox" id="logBookUnderInsured">

                                <label class="risk-label form-check-label" for="logBookUnderInsured">
                                    Log book under insured name
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="mb-1 col-sm-4 col-12">
                            <label for="logbook" class="required risk-label"
                            id="logbook">Logbook</label><br>
                        <input type="text" id="logbook" class="form-control form-control-sm mb-1 riskInput"
                            formControlName="property_description">
                        </div>
                    </div>
                    </div>
                    <!-- ROW 3 -->
                    <div class="row mb-4">
                        <div class="mb-1 col-sm-4 col-12">
                            <label for="subclass" class="required risk-label" id="subclass">{{'gis.policy.cover_from' |
                                translate}}</label>
                            <input type="date" id="coverFrom" class="form-control form-control-sm mb-1 riskInput" [(ngModel)]="passedCoverFrom"
                                formControlName="date_cover_from">
                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <label for="coverTo" class="required risk-label" id="coverTo">{{'gis.policy.cover_to' |
                                translate}}</label>
                            <input type="date" id="coverFrom" class="form-control form-control-sm mb-1 riskInput" [(ngModel)]="passedCoverTo"
                                formControlName="date_cover_to">

                        </div>
                        <div class=" mb-1 col-sm-4 col-12 ">
                            <label for="riskCoverDays" class=" risk-label"
                                id="riskCoverDays">{{'gis.policy.risk_cover_days' | translate}}</label>
                            <input type="text" id="riskCoverDays" class="form-control form-control-sm mb-1 riskInput" 
                            formControlName="cover_days" readonly>


                            <!-- Display error message under the field -->
                            <!-- <div *ngIf="policyProductForm.get('product_code').hasError('required') && policyProductForm.get('product_code').touched"
                                class="form-text text-danger">
                                Product is required.
                            </div> -->
                        </div>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <!-- ROW 4 -->
                        <div class="row mb-4">
                            <div class="mb-1 col-sm-4 col-12">

                                <label class=" risk-label">{{'gis.policy.override_but_charge' | translate}}</label>
                                <input type="text" id="riskId" class="form-control form-control-sm mb-1 riskInput"
                                    formControlName="property_id">
                            </div>


                            <div class="mb-1 col-sm-4 col-12">
                                <div class="form-check pt-4">

                                    <input class="form-check-input me-2" type="checkbox" id="flexCheckDefault" #checkbox
                                        (change)="toggleNcdApplicableFields(checkbox.checked)">

                                    <label class="risk-label form-check-label" for="flexCheckDefault">
                                        {{'gis.policy.ncd_applicable' | translate}}
                                    </label>
                                </div>
                            </div>

                            <div class="mb-1 col-sm-4 col-12">
                                <div class="form-check pt-4">
                                    <input class="form-check-input me-2" type="checkbox" id="flexCheckDefault"
                                        #cashApplicableCheckbox
                                        (change)="toggleCashApplicableField(cashApplicableCheckbox.checked)">

                                    <!-- <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> -->
                                    <label class="risk-label form-check-label" for="flexCheckDefault">
                                        {{'gis.policy.cash_applicable' | translate}}
                                    </label>
                                </div>

                            </div>


                        </div>
                        <!-- NCD APPLICABLE FIELDS -->
                        <div class="row mb-4" *ngIf="isNcdApplicable">
                            <div class="mb-1 col-sm-4 col-12">
                                <label class=" risk-label">  {{'gis.policy.ncd_level' | translate}}</label>
                                <input type="number" id="riskId" class="form-control form-control-sm mb-1 riskInput"
                                    formControlName="property_id">
                            </div>
                            <div class="mb-1 col-sm-4 col-12">
                                <label class=" risk-label">  {{'gis.policy.ncd_certificate_number' | translate}}</label>
                                <input type="text" id="riskId" class="form-control form-control-sm mb-1 riskInput"
                                    formControlName="property_id">
                            </div>
                        </div>
                         <!-- CASH APPLICABLE FIELDS -->
                        <div class="row mb-4" *ngIf="isCashApplicable">
                            <div class="mb-1 col-sm-4 col-12">
                                <label class=" risk-label">  {{'gis.policy.cash_level' | translate}}</label>
                                <input type="number" id="riskId" class="form-control form-control-sm mb-1 riskInput"
                                    formControlName="property_id">
                            </div>
                            
                        </div>
                        <!-- ROW 5 -->
                        <div class="row mb-4">
                            <div class="mb-1 col-sm-4 col-12">

                                <label class=" risk-label">  {{'gis.policy.conveyance_type' | translate}}</label>
                                <select class="form-select form-control-sm mb-1 ms-n4 selectInput" id="subclass"
                                    formControlName="sub_class_code">
                                    <option value=""></option>
                                    <option value="">  {{'gis.policy.by_sea' | translate}}</option>
                                    <option value="">  {{'gis.policy.by_air' | translate}}</option>
                                    <option value="">  {{'gis.policy.by_road' | translate}}</option>
                                    <option value="">  {{'gis.policy.by_sea_rail_road' | translate}}</option>
                                    <option value="">  {{'gis.policy.by_sea_road' | translate}}</option>
                                    <option value="">  {{'gis.policy.by_air_road' | translate}}</option>
                                    <option value="">  {{'gis.policy.not_applicable' | translate}}</option>
                                    <option value="">  {{'gis.policy.none' | translate}}</option>
                                </select>
                            </div>


                            <div class=" mb-1 col-sm-4 col-12">
                                <div class="form-check pt-4">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="risk-label form-check-label" for="flexCheckDefault">
                                        {{'gis.policy.auto_generate_cert' | translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="mb-1 col-sm-4 col-12">

                                <label class=" risk-label">  {{'gis.policy.installment_payment_pct' | translate}}</label>
                                <input type="text" id="riskId" class="form-control form-control-sm mb-1 riskInput"
                                    formControlName="property_id">
                            </div>



                        </div>
                        <!-- </div> ROW 6 -->
                        <div class="row mb-4">
                            <div class="mb-1 col-sm-4 col-12">

                                <label class=" risk-label"> {{'gis.policy.installment_period' | translate}}</label>
                                <input type="number" id="riskId" class="form-control form-control-sm mb-1 riskInput"
                                    formControlName="property_id">
                            </div>


                        </div>
                    </div>

                    <p class="more " (click)="show=!show" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample"> {{'gis.policy.more_details' |
                        translate}}<span class="ml-1" data-toggle="collapse" data-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample"> <i class="pi pi-angle-double-up"
                                style="font-size:13px" *ngIf="!show" data-toggle="collapse"
                                data-target="#collapseExample"></i><i class="pi pi-angle-double-down"
                                style="font-size:13px" *ngIf="show" data-toggle="collapse"
                                data-target="#collapseExample"></i></span> </p>
                </form>

            </div>
        </div>
        <div class="card mb-3 px-2" style=" position: relative;">
            <div class="card-body">
                <form [formGroup]="policyRiskForm">
                     <!-- ROW 1 -->
                     <div class="row mb-4">

                        <div class="mb-1 col-sm-4 col-12">
                            <label for="riskLocation" class="required risk-label" id="riskLocation">{{'gis.policy.risk_location'|translate}}</label>
                            <p-dropdown  [options]="" optionValue="code"
                                optionLabel="description"  placeholder=" "
                                [filterBy]="'description'" [filter]="true"></p-dropdown>

                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <label class="required risk-label">{{'gis.policy.risk_town'|translate}}</label>
                            <p-dropdown  [options]="" optionValue="code"
                                optionLabel="description"  placeholder=" "
                                [filterBy]="'description'" [filter]="true"></p-dropdown>

                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('property_id').hasError('required') && policyRiskForm.get('property_id').touched"
                                class="form-text text-danger">
                                Risk Town is required.
                            </div>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12" >
                            <label for="riskAddress" class=" risk-label"
                                id="riskAddress">{{'gis.policy.risk_address'|translate}}</label><br>
                            <input type="text" id="riskAddress" class="form-control form-control-sm mb-1 riskInput"
                                formControlName="property_description">

                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('property_description').hasError('required') && policyRiskForm.get('property_description').touched"
                                class="form-text text-danger">
                                Risk Address is required.
                            </div>
                        </div>
                       
                    </div>
                     <!-- ROW 2 -->
                     <div class="row mb-4">

                        <div class="mb-1 col-sm-4 col-12">
                            <label for="riskDetails" class=" risk-label" id="riskLocation">{{'gis.policy.risk_details'|translate}}</label>
                            <input type="text" id="riskDetails" class="form-control form-control-sm mb-1 riskInput"
                            formControlName="property_description">

                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <label class="required risk-label">{{'gis.policy.survey_risk'|translate}}</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                            >
                            <option value="Y">{{'gis.policy.yes' | translate}}</option>
                            <option value="N">{{'gis.policy.no' | translate}}</option>

                        </select>

                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('property_id').hasError('required') && policyRiskForm.get('property_id').touched"
                                class="form-text text-danger">
                                Risk Town is required.
                            </div>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12" >
                            <label for="surveyDate" class="required risk-label"
                                id="surveyDate">{{'gis.policy.Survey_date'|translate}}</label><br>
                                <input type="date" id="surveyDate" class="form-control form-control-sm mb-1 riskInput" 
                                formControlName="date_cover_to">

                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('property_description').hasError('required') && policyRiskForm.get('property_description').touched"
                                class="form-text text-danger">
                                Risk Address is required.
                            </div>
                        </div>
                       
                    </div>
                       <!-- ROW 3 -->
                       <div class="row mb-4">

                        <div class="mb-1 col-sm-4 col-12">
                            <label for="computeMaxExposure" class="required risk-label" id="riskLocation">{{'gis.policy.compute_maximum_exposure'|translate}}</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                           >
                            <option value="Y">{{'gis.policy.yes' | translate}}</option>
                            <option value="N">{{'gis.policy.no' | translate}}</option>

                        </select>

                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <label class=" risk-label">{{'gis.policy.max_exposure_amount'|translate}}</label>
                            <input type="number" id="maxExposureAmount" class="form-control form-control-sm mb-1 riskInput"
                            formControlName="property_id">

                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('property_id').hasError('required') && policyRiskForm.get('property_id').touched"
                                class="form-text text-danger">
                                Risk Town is required.
                            </div>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12" >
                            <label for="surveyDate" class="required risk-label"
                                id="surveyDate">{{'gis.policy.territory'|translate}}</label><br>
                                <p-dropdown  [options]="" optionValue="code"
                                optionLabel="description"  placeholder=" "
                                [filterBy]="'description'" [filter]="true"></p-dropdown>

                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('property_description').hasError('required') && policyRiskForm.get('property_description').touched"
                                class="form-text text-danger">
                                Risk Address is required.
                            </div>
                        </div>
                       
                    </div>
                     <!-- ROW 4 -->
                     <div class="row mb-4">

                        <div class="mb-1 col-sm-4 col-12">
                            <label for="newRisk" class="required risk-label" id="riskLocation">{{'gis.policy.new_risk'|translate}}?</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                           >
                            <option value="Y">{{'gis.policy.yes' | translate}}</option>
                            <option value="N">{{'gis.policy.no' | translate}}</option>

                        </select>

                        </div>
                        
                       
                    </div>
                    <div class="collapse" id="collapseRiskOtherDetails">
                         <!-- ROW 5 -->
                       <div class="row mb-4">

                        <div class="mb-1 col-sm-4 col-12">
                            <label for="emlLocation" class="required risk-label" id="emlLocation">{{'gis.policy.eml_top_location_level'|translate}}</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                           >
                            <option value="">RSK</option>
                            <option value="">SEC</option>

                        </select>

                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <label class=" risk-label">{{'gis.policy.period_rates'|translate}}</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                           >
                            <option value="">{{'gis.policy.prorata'|translate}}</option>
                            <option value="">{{'gis.policy.short_period_rates'|translate}}</option>
                            <option value="">{{'gis.policy.full'|translate}}</option>

                        </select>


                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('property_id').hasError('required') && policyRiskForm.get('property_id').touched"
                                class="form-text text-danger">
                                Risk Town is required.
                            </div>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12" >
                            <div class="form-check pt-4">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="risk-label form-check-label" for="flexCheckDefault">
                                    {{'gis.policy.retroactive_cover'|translate}}
                                </label>
                            </div>
                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('property_description').hasError('required') && policyRiskForm.get('property_description').touched"
                                class="form-text text-danger">
                                Risk Address is required.
                            </div>
                        </div>
                       
                    </div>
                       <!-- ROW 6 -->
                       <div class="row mb-4">

                        <div class="mb-1 col-sm-4 col-12">
                            <div class="form-check pt-4">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="risk-label form-check-label" for="flexCheckDefault">
                                    {{'gis.policy.maintenance_cover'|translate}}
                                </label>
                            </div>

                        </div>
                        <div class=" mb-1 col-sm-4 col-12">
                            <label for="surveyDate" class="required risk-label"
                                id="surveyDate">{{'gis.policy.quake_flood_zone'|translate}}</label><br>
                               
                                <p-dropdown  [options]="" optionValue="code"
                                optionLabel="description"  placeholder=" "
                                [filterBy]="'description'" [filter]="true"></p-dropdown>



                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('property_id').hasError('required') && policyRiskForm.get('property_id').touched"
                                class="form-text text-danger">
                                Risk Town is required.
                            </div>
                        </div>
                        <div class=" mb-1 col-sm-4 col-12" >
                            <label for="surveyDate" class="required risk-label"
                                id="surveyDate">{{'gis.policy.relational_group'|translate}}</label><br>
                                <p-dropdown  [options]="" optionValue="code"
                                optionLabel="description"  placeholder=" "
                                [filterBy]="'description'" [filter]="true"></p-dropdown>
                            <!-- Display error message under the field -->
                            <div *ngIf="policyRiskForm.get('property_description').hasError('required') && policyRiskForm.get('property_description').touched"
                                class="form-text text-danger">
                                Risk Address is required.
                            </div>
                        </div>
                       
                    </div>
                     <!-- ROW 7 -->
                     <div class="row mb-4">

                        <div class="mb-1 col-sm-4 col-12">
                            <label for="newRisk" class="required risk-label" id="riskLocation">{{'gis.policy.risk_class'|translate}}</label>
                            <select class="form-select form-control-sm mb-1 ms-n4" id="product-input"
                            >
                            <option value=""></option>
                            <option value=""></option>
                        </select>

                        </div>
                        
                       
                    </div>
                    </div>
                    <p class="more " (click)="show=!show" data-bs-toggle="collapse" data-bs-target="#collapseRiskOtherDetails"
                        aria-expanded="false" aria-controls="collapseExample"> {{'gis.policy.more_details' |
                        translate}}<span class="ml-1" data-toggle="collapse" data-target="#collapseRiskOtherDetails"
                            aria-expanded="false" aria-controls="collapseExample"> <i class="pi pi-angle-double-up"
                                style="font-size:13px" *ngIf="!show" data-toggle="collapse"
                                data-target="#collapseRiskOtherDetails"></i><i class="pi pi-angle-double-down"
                                style="font-size:13px" *ngIf="show" data-toggle="collapse"
                                data-target="#collapseRiskOtherDetails"></i></span> </p>
                </form>
            </div>
        </div>

    </div>
</div>