.custom-caption {
  background-color: white !important;
}
.required::after {
  content: "*";
  margin-left: 2px;
  color: #dc3545;
}
.btn-icon {
  border: none;
  background: transparent;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}
.file-dropzone {
  border: 2px dashed #ced4da; 
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer; 
}

.file-dropzone:hover {
  background-color: #e9ecef; 
}
.file-dropzone.drag-over {
  border-color: #0d6efd; 
  background-color: #e7f1ff; 
}
/* Style for the 'Click to upload' text */
.cursor-pointer {
    cursor: pointer;
}
/* Style for the uploaded file rows */
.uploaded-files-list .file-name {
  font-weight: 500;
  color: #495057;
}
.uploaded-files-list .btn-link {
    text-decoration: none;
}
:host ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: #00529B; 
  background: #00529B; 
}
:host ::ng-deep .p-dialog-header-icon{
  color:#EE3945;
}
:host ::ng-deep .p-dialog-title{
  color:#00529B;
}