<div class="container ms-2">
  <div class="row me-4 mt-1 align-items-center">
    <div class="col-8">
      <app-dynamic-breadcrumb
        [breadCrumbItems]="[
      {
        label: 'FMS',
        url: '/home/fms',
      },
      {
        label: this.translate.instant('fms.receipting.cbReceipting'),
        url: '/home/fms/',
      },
      {
        label: this.translate.instant('base.base-fms.banking'),
        url: '/home/fms/',
      },
      {
        label: this.translate.instant('fms.banking.retrieveReceipts'),
        url: '',
      }
     
    ]"
      >
      </app-dynamic-breadcrumb>
    </div>
  </div>
  <app-stepper [currentStep]="1" [stepperData]="steps"></app-stepper>
  <div class="card">
    <div class="card-body">
      <h5 class="pt-2 pb-2 text-primary">
        {{ "fms.banking.retrieveReceipts" | translate }}
      </h5>
      <div class="mb-3">
        <form [formGroup]="rctsRetrievalForm">
          <div class="row">
            <div class="col-12 col-lg-4 col-md-4">
              <label for="sdate">{{
                "fms.banking.fromDate" | translate
              }}</label>
              <span class="required"></span>
              <input
                type="date"
                class="form-control"
                formControlName="startDate"
                id="sdate"
              />
              <div
                class="text-danger mt-1"
                *ngIf="
                  rctsRetrievalForm.get('startDate')?.invalid &&
                  (rctsRetrievalForm.get('startDate')?.dirty ||
                    rctsRetrievalForm.get('startDate')?.touched)
                "
              >
                <div
                  *ngIf="rctsRetrievalForm.get('startDate')?.errors?.['required']"
                >
                  Date From is required
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4">
              <label for="edate">{{ "fms.banking.toDate" | translate }}</label>
              <span class="required"></span>
              <input
                type="date"
                class="form-control"
                formControlName="endDate"
                id="edate"
              />
              <div
                class="text-danger mt-1"
                *ngIf="
                  rctsRetrievalForm.get('endDate')?.invalid &&
                  (rctsRetrievalForm.get('endDate')?.dirty ||
                    rctsRetrievalForm.get('endDate')?.touched)
                "
              >
                <div
                  *ngIf="rctsRetrievalForm.get('endDate')?.errors?.['required']"
                >
                  Date to is required
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 col-md-4">
              <label for="paymentMode">{{
                "mngt_wrkflw.claimDetails.paymentMode" | translate
              }}</label>
              <span class="required"></span>
              <select
                class="form-select"
                id="paymentMode"
                formControlName="paymentMethod"
              >
                <option
                  *ngFor="let paymentMode of paymentModes"
                  [value]="paymentMode.code"
                >
                  {{ paymentMode.code }}
                </option>
              </select>
              <div
                class="text-danger mt-1"
                *ngIf="
                  rctsRetrievalForm.get('paymentMethod')?.invalid &&
                  (rctsRetrievalForm.get('paymentMethod')?.dirty ||
                    rctsRetrievalForm.get('paymentMethod')?.touched)
                "
              >
                <div
                  *ngIf="rctsRetrievalForm.get('paymentMethod')?.errors?.['required']"
                >
                  Payment Method is required
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="d-flex justify-content-end pb-1">
        <button
          class="btn btn-primary mb-1 mt-2"
          (click)="onClickRetrieveRcts()"
          [disabled]="!rctsRetrievalForm.valid"
        >
          {{ "fms.banking.retrieveReceipts" | translate }}
        </button>
      </div>

      <!-- PrimeNG Dialog for Column Selection -->

      <p-dialog
        header="Header"
        [(visible)]="visible"
        [modal]="true"
        [style]="{ width: '35rem' }"
      >
        <ng-template pTemplate="header">
          <div
            class="inline-flex align-items-center justify-content-center gap-2"
          >
            <span class="fs-5">{{ "crm.columns" | translate }}</span>
          </div>
        </ng-template>
        <div *ngFor="let col of columns" class="field-checkbox">
          <p-checkbox
            [(ngModel)]="allColumns"
            [label]="col.header"
            [value]="col"
          />
        </div>
      </p-dialog>
      <div class="mt-3" *ngIf="displayTable">
        <div class="d-flex align-items-center justify-content-between bg-white">
          <div class="div">
            <h5 class="fw-bold">
              {{ "fms.banking.retrievedReceipts" | translate }}
            </h5>

            <p class="fw-normal" *ngIf="filteredReceipts.length != 0">
              {{ "fms.banking.found" | translate }} {{ totalRecord }}
              {{ "fms.banking.selectRecord" | translate }}
            </p>
          </div>

          <div class="justify-content-end d-flex align-items-center gap-2">
            <button
              type="button"
              class="btn btn-primary"
              (click)="openAssignModal()"
              *ngIf="selectedReceipts.length > 0"
            >
              {{ "fms.banking.assign" | translate }}
            </button>
            <span (click)="showColumnsDialogs()" class="cursor-pointer">
              <i class="fa-regular fa-square-caret-down fa-2x"></i>
            </span>
          </div>
        </div>
      </div>

      <!-- primeng table for displaying receipts to bank
        -->
      <p-table
        [value]="filteredReceipts"
        dataKey="receiptNo"
        selectionMode="multiple"
        sortMode="single"
        [resizableColumns]="true"
        responsiveLayout="stack"
        [scrollable]="true"
        [(selection)]="selectedReceipts"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[10, 25, 50]"
        [showCurrentPageReport]="true"
        [currentPageReportTemplate]="currentReportTemplate"
        *ngIf="displayTable"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="colHeaderWidth"><p-tableHeaderCheckbox /></th>
            <th *ngFor="let col of allColumns" [pSortableColumn]="col.field">
              {{ col.header | translate }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
          <!-- filter row -->

          <tr>
            <th class="colHeaderWidth"></th>
            <th *ngFor="let col of allColumns" class="colHeaderWidth">
              <ng-container [ngSwitch]="col.field">
                <ng-container *ngSwitchCase="'actions'">
                  <button
                    class="btn btn-outline-primary btn-md"
                    (click)="clearFilters()"
                  >
                    {{ "fms.banking.clearFilter" | translate }}
                  </button>
                </ng-container>
                <ng-container *ngSwitchDefault="">
                  <input
                    [type]="col.field === 'amount' ? 'number' : 'text'"
                    class="form-control"
                    (input)="filter($event, col.field)"
                    (keyup.enter)="filter($event, col.field)"
                  />
                </ng-container>
              </ng-container>
            </th>
          </tr>
          <!-- end of filter row -->
        </ng-template>
        <ng-template pTemplate="body" let-receipt>
          <tr>
            <td>
              <p-tableCheckbox [value]="receipt" />
            </td>
            <td *ngFor="let col of allColumns">
              <ng-container [ngSwitch]="col.field">
                <ng-container *ngSwitchCase="'date'">
                  {{ receipt.receiptDate | date : "dd/MM/yyyy" }}
                </ng-container>
                <ng-container *ngSwitchCase="'actions'">
                  <div class="d-flex gap-1">
                    <button
                      class="btn btn-link btn-sm"
                      *ngIf="
                        (paymentMode === 'CHEQUE' &&
                          receipt.batchAssignmentUserName != null) ||
                        ''
                      "
                      (click)="openDepositModal(receipt)"
                    >
                      {{ "fms.banking.deposit" | translate }}
                    </button>
                    <!-- <button
                      class="btn btn-link btn-sm"
                      *ngIf="receipt.batchAssignedUser == null || ''"
                      (click)="openAssignModal()"
                    >
                      Assign
                    </button> -->
                    <button
                      class="btn btn-link btn-sm"
                      *ngIf="receipt.batchAssignmentUserName != null || ''"
                      (click)="openReAssignModal(receipt)"
                    >
                      {{ "fms.banking.reAssign" | translate }}
                    </button>
                    <button
                      class="btn btn-link btn-sm"
                      *ngIf="receipt.batchAssignmentUserName != null || ''"
                      (click)="deAssign(receipt)"
                    >
                      {{ "fms.banking.deAssign" | translate }}
                    </button>
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="'batchAssignedUser'">
                  {{ receipt.batchAssignmentUserName ?? "unassigned" }}
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ receipt[col.field] }}
                </ng-container>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!-- end of receipts to bank row -->
    </div>
  </div>
  <div class="d-flex mt-1 justify-content-end">
    <button
      class="btn btn-primary"
      (click)="navigateToBatch()"
      *ngIf="displayTable && isCashSelected"
    >
      {{ "fms.receipting.next" | translate }}
    </button>
    <button
      class="btn btn-primary"
      (click)="navigateToDashboard()"
      *ngIf="displayTable && !isCashSelected"
    >
      {{ "fms.banking.goToDashboard" | translate }}
    </button>
  </div>
  <!-- start of p dialog>Main assignment dialog -->
  <p-dialog
    header="Assign Task"
    [modal]="true"
    [(visible)]="assignDialogVisible"
    [style]="{ width: '420px' }"
  >
    <form [formGroup]="usersForm">
      <!-- user selection input field -->
      <input type="hidden" formControlName="user" />
      <div class="form-group mb-3">
        <label for="userselect"
          >{{ "entities.user" | translate }}<span class="required"></span
        ></label>
        <div class="input-group" style="position: relative">
          <!-- This input is for display only. It shows the selected user's name. -->
          <input
            id="userselect"
            type="text"
            class="form-control"
            placeholder="Click to select a user"
            [value]="selectedUserForAssignment?.username"
            readonly
            (click)="openUserSelectDialog()"
          />
          <button
            type="button"
            (click)="openUserSelectDialog()"
            class="btn-icon"
          >
            <i
              class="pi pi-angle-double-down"
              style="font-size: 1rem; color: #00529b"
            ></i>
          </button>
        </div>
      </div>

      <!-- Comments Textarea -->
      <div class="form-group mb-3">
        <label for="textarea" class="form-label">{{
          "entities.comment" | translate
        }}</label>
        <textarea
          id="textarea"
          class="form-control"
          rows="3"
          formControlName="comment"
        ></textarea>
      </div>
      <div class="modal-footer">
        <div class="d-flex flex-row gap-3">
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="closeAssignModal()"
          >
            {{ "fms.receipt-management.cancel" | translate }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="onAssignSubmit()"
            [disabled]="!selectedUserForAssignment"
            *ngIf="!reAssign"
          >
            {{ "fms.banking.assign" | translate }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="reAssignUser()"
            [disabled]="!selectedUserForAssignment"
            *ngIf="reAssign"
          >
            {{ "fms.banking.assign" | translate }}
          </button>
        </div>
      </div>
    </form>
  </p-dialog>

  <!-- DIALOG 2: USER SELECTION TABLE DIALOG -->
  <!-- baseZIndex ensures this dialog appears on top of the first one -->
  <p-dialog
    header="Assign Task"
    [(visible)]="userSelectDialogVisible"
    [modal]="true"
    [style]="{ width: '700px' }"
    [baseZIndex]="10001"
  >
    <p-table
      [value]="filteredUsers"
      [(selection)]="tempSelectedUser"
      selectionMode="single"
      dataKey="id"
      [paginator]="true"
      [rows]="5"
      sortMode="single"
      [rowsPerPageOptions]="[10, 25, 50]"
      [showCurrentPageReport]="true"
      [currentPageReportTemplate]="currentReportTemplate"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="username">
            {{ "entities.username" | translate }}
            <p-sortIcon field="username"></p-sortIcon>
          </th>
          <th pSortableColumn="user">
            {{ "entities.user" | translate }}
            <p-sortIcon field="user"></p-sortIcon>
          </th>
        </tr>
        <!-- filter row -->
        <tr>
          <th>
            <input
              type="text"
              class="form-control"
              (input)="filterUsers($event, 'username')"
              (keyup.enter)="filterUsers($event, 'username')"
            />
          </th>
          <th>
            <input
              type="text"
              class="form-control"
              (input)="filterUsers($event, 'name')"
              (keyup.enter)="filterUsers($event, 'name')"
            />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr [pSelectableRow]="user">
          <td>{{ user.username }}</td>
          <td>{{ user.name }}</td>
        </tr>
      </ng-template>
    </p-table>
    <div class="modal-footer mt-3">
      <div class="d-flex flex-row gap-3">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="closeUserSelectDialog()"
        >
          {{ "crm.cancel" | translate }}
        </button>
        <!-- This button confirms the selection and closes this dialog -->
        <button
          type="button"
          class="btn btn-primary"
          (click)="confirmUserSelection()"
          [disabled]="!tempSelectedUser"
        >
          {{ "auth.save" | translate }}
        </button>
      </div>
    </div>
  </p-dialog>
  <!-- start of deposit modal -->
  <div
    class="modal fade"
    id="depositModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="exampleModalLabel">
            {{ "fms.banking.depositDetails" | translate }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="closeDepositModal()"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="depositForm">
            <div class="">
              <div class="row g-3">
                <div class="col-6">
                  <div class="form-group">
                    <label for="bank" class="form-label required">{{
                      "fms.banking.bankAccount" | translate
                    }}</label>
                    <select
                      id="bank"
                      class="form-select"
                      formControlName="bankAccount"
                    >
                      <option
                        *ngFor="let accounts of glAccounts"
                        [value]="accounts.number"
                      >
                        {{ accounts.name }}, {{ accounts.number }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="bankingSlip" class="form-label required">{{
                      "fms.banking.bankingSipNumber" | translate
                    }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="bankingSlip"
                      formControlName="slipNumber"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="amount" class="form-label">{{
                      "fms.banking.amountBanked" | translate
                    }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="amount"
                      formControlName="amount"
                      readonly
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <div class="form-group mb-3">
                      <label for="remarks" class="form-label">{{
                        "fms.banking.remarksComments" | translate
                      }}</label>
                      <input
                        type="text"
                        class="form-control"
                        id="remarks"
                        formControlName="remarks"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <h6 class="fw-normal mb-2">
                    {{ "fms.banking.AttachDepositSlip" | translate }}
                  </h6>
                  <!-- custom file dropzone -->
                  <div
                    class="file-dropzone border-dashed text-center p-4 rounded"
                    (click)="fileInput.click()"
                    (dragover)="onDragOver($event)"
                    (dragleave)="onDragLeave($event)"
                    (drop)="onDrop($event)"
                    [class.drag-over]="isDragging"
                  >
                    <i class="pi pi-upload mb-2" style="font-size: 2rem"></i>
                    <p class="mb-1">
                      <span class="text-primary fw-bold cursor-pointer">{{
                        "fms.banking.clickToUpload" | translate
                      }}</span>
                      {{ "fms.banking.orDrag" | translate }}
                    </p>
                    <small class="text-muted">{{
                      "fms.banking.pdf" | translate
                    }}</small>
                    <!-- Hidden file input that we trigger programmatically -->
                    <input
                      type="file"
                      #fileInput
                      class="d-none"
                      (change)="onFileSelected($event)"
                      [disabled]="maximumFiles"
                    />
                  </div>
                  <!-- List of Uploaded Files -->
                  <div class="uploaded-files-list mt-3" *ngIf="uploadedFile">
                    <div
                      class="d-flex align-items-center justify-content-between p-2 mb-2 bg-light rounded"
                    >
                      <div class="d-flex align-items-center">
                        <i
                          class="pi pi-file-pdf text-danger me-2"
                          style="font-size: 1.5rem"
                        ></i>
                        <span class="file-name">{{ uploadedFile.name }}</span>
                      </div>
                      <button
                        type="button"
                        class="btn btn-sm btn-link text-danger"
                        (click)="removeFile()"
                      >
                        <i class="pi pi-trash"></i>
                      </button>
                      <div class="d-flex justify-content-end">
                        <button
                          type="button"
                          class="btn btn-primary btn-sm"
                          (click)="postFile()"
                        >
                          {{ "fms.receipting.postFile" | translate }}
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- end of file UPLOAD  section -->
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer me-1 gap-3">
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="closeDepositModal()"
          >
            {{ "fms.receipt-management.cancel" | translate }}
          </button>
          <button type="button" class="btn btn-primary">
            {{ "crm.saveChanges" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end of deposit modal -->
</div>
