.required::after {
  content: "*";
  margin-left: 2px;
  color: #dc3545;
}
.btn-icon {
  border: none;
  background: transparent;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}
:host ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: #00529B; 
  background: #00529B; 
}
.colHeaderWidth {
  width: 2%;
}
.custom{
    margin-top:30px !important;
}