.main{
    border-radius: 4px;
    background-color: #ffffff;
    padding:0 20px 0 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   padding-bottom: 20px;
   margin:0 10px 0 10px;
}
label{
    color:#212529;
}