.text-module {
    color: gray;

    padding: 0.5rem 0 !important;
    font-size: 12px;

}
.text-module:hover {
    color: black;

    font-weight: 200;
    cursor:pointer;
}

/* dynamic-table.component.css */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  thead {
    border-radius: 0.3rem;
  }
  

  th {
    background-color: var(--primary-color);
    color: white;
    font-weight: 400;
  }
  tr, td {
    border: 0;
  }

  tr:hover{
    color: black;
    background-color: rgba(0, 0, 0, 0.092);
    cursor: pointer;
  }

  .modal-title{
    font-size: 13px;
  }
  
  .modal-header {
    border-bottom: 0 !important;
  }
  .btn-close {
    font-size: 10px;
  }

  .sm {
    font-size: 12px;
    padding: 0 0.2rem;
  }
  .link {
    cursor: pointer;
    color: var(--primary-color);
    font-weight: 600;
  }