<div class="container-fluid">
  <div class="row me-4">
    <div class="col-8">
      <app-dynamic-breadcrumb
        [breadCrumbItems]="[
      {
        label: 'FMS',
        url: '/home/fms',
      },
      {
        label: this.translate.instant('fms.receipting.cbReceipting'),
        url: '/home/fms/',
      },
      {
        label: this.translate.instant('fms.receipting.receipting'),
        url: '/home/fms/',
      },
      {
        label: this.translate.instant('fms.receipting.receiptPreview'),
        url: ''
      }
    ]"
      >
      </app-dynamic-breadcrumb>
    </div>
  </div>

  <app-steper [currentStep]="4" [stepperData]="steps"></app-steper>
  <h5 class="text-primary" style="padding-top: 10px">
    {{ "fms.receipting.receiptSummary" | translate }}
  </h5>
  <div class="receipt-section">
    <!-- <pdf-viewer
      [src]="filePath"
      [render-text]="true"
      [original-size]="false"
      style="margin: 20px; margin-top: 10px; width: 80%; height: 600px"
    ></pdf-viewer> -->
    <ngx-doc-viewer
      #docViewerIframe
      [fileName]="documentData?.fileName ?? ''"
      [srcUrl]="filePath ?? ''"
      style="margin: 20px; margin-top: 10px; width: 70%; height: 450px"
    >
    </ngx-doc-viewer>
  </div>

  <div class="btn-actions d-flex justify-content-center gap-3 mt-1">
    <button type="button" class="btn btn-primary" (click)="updatePrintStatus()">
      {{ "fms.receipting.printed" | translate }}
    </button>

    <button
      type="button"
      class="btn btn-success"
      (click)="navigateToReceiptCapture()"
    >
      {{ "fms.receipting.unPrinted" | translate }}
    </button>
  </div>
</div>
