/* .btn-actions {
  display: flex;
  
  
  align-items: center; 
  flex-direction: row;
  gap: 8px;
  margin-top: 5px;
} */
/* .btn-back{
    display:flex;
    align-items: flex-start;
    } */
/* .btn-back {
  margin-top: 1px;
  text-decoration: underline;
  background: transparent;
  align-items: flex-start;
}
.btn-next {
  justify-content: flex-end;
} */
.ngx-doc-viewer iframe{
pointer-events: none;
}

/* .radiobtn{
  display: flex;
  gap:10px;
  margin-top: 5px; 
} */