.card-header {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: #000000;
  border-bottom: none;
}

.icon-circle {
  display: inline-block;
  background-color: #e4e7eb;
  color: #00529b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.custom-table {
  cursor: pointer;
}

.custom-table.selected {
  background-color: #c8c7cc;
}

#profile-photo {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 50%;
}

.img_upload {
  display: inline-block;
  font-family: 'Roboto', serif;
  text-align: center;
  background-color: #00529B;
  color: white;
  padding: 0.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 1px solid #00529B;
  border-radius: 2px 1px 2px 2px;
}
