/* spinner.component.css */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(254, 254, 254); /* 70% opacity overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Higher z-index to display the overlay above other elements */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid var(--primary);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  position: absolute; /* Change position to absolute to position it inside the overlay */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000; /* Higher z-index to display the spinner on top of the overlay */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
