.card-header {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: #000000;
  border-bottom: none;
}
.icon-circle {
  display: inline-block;
  background-color: #e4e7eb;
  color: #00529b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

label {
  font-weight: 500;
}

label,
legend {
  font-weight: 500;
}

fieldset legend {
  font-size: 16px;
}

.custom-table {
  cursor: pointer;
}

.custom-table.selected {
  background-color: #c8c7cc;
}
